---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Fun from "../components/Fun.astro";
---

<Layout title="ANATOLY">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-blue-700 to-gray-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          ANATOLY
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Anatoly the best Cleaner
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Clips That Made Anatoly Gym Prank Famous😂😂 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Fun />
      <h2 id="famous">
        <p class="mb-4 text-base text-green-900">
          Clips That Made Anatoly Gym Prank Famous😂😂
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/-GAk_jc4B4Q"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=-GAk_jc4B4Q"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Clips That Made Anatoly Gym Prank Famous😂😂</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sVRi4wUQ6Fk"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >They Never Thought I COULD DO THIS...</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@vladimirfitness"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >ANATOLY</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=6HUV590gRSY"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Мастер Спорта притворился УБОРЩИКОМ в ЗАЛЕ DUBAI #31 | GYM PRANK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=OGHt1zN31ro"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Мастер Спорта притворяется СЕЛЬСКИМ ПАРНЕМ в ЗАЛЕ DUBAI | ПРАНК
              НАД ТРЕНЕРОМ</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@shmondenko"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Владимир Шмонденко</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=RETH2UQzvVQ"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >He's Cleaning EGO's At The GYM PART 6… (Anatoly Reaction)</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Clips That Made Anatoly Gym Prank Famous😂😂 -->

    <!-- Anatoly the best Cleaner  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="cleaner">
        <p class="mb-4 text-base text-green-900">Anatoly the best Cleaner</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 2.25%"
        >
          <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@anatolys._prank/video/7301695893772700970"
            data-video-id="7301695893772700970"
            style="max-width: 605px;min-width: 325px;"
          >
            <section>
              <a
                target="_blank"
                title="@anatolys._prank"
                href="https://www.tiktok.com/@anatolys._prank?refer=embed"
                >@anatolys._prank</a
              > Anatoly the best Cleaner 🤯🤯 <a
                title="anatoly"
                target="_blank"
                href="https://www.tiktok.com/tag/anatoly?refer=embed"
                >#anatoly</a
              >
              <a
                title="gym"
                target="_blank"
                href="https://www.tiktok.com/tag/gym?refer=embed">#gym</a
              >
              <a
                title="prank"
                target="_blank"
                href="https://www.tiktok.com/tag/prank?refer=embed">#prank</a
              >
              <a
                title="fyp"
                target="_blank"
                href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a
              >
              <a
                title="cleaner"
                target="_blank"
                href="https://www.tiktok.com/tag/cleaner?refer=embed"
                >#cleaner</a
              >
              <a
                title="bodybuilding"
                target="_blank"
                href="https://www.tiktok.com/tag/bodybuilding?refer=embed"
                >#bodybuilding</a
              >
              <a
                title="powerlifting"
                target="_blank"
                href="https://www.tiktok.com/tag/powerlifting?refer=embed"
                >#powerlifting</a
              >
              <a
                title="viralditiktok"
                target="_blank"
                href="https://www.tiktok.com/tag/viralditiktok?refer=embed"
                >#viralditiktok</a
              >
              <a
                target="_blank"
                title="♬ Beat Trava Pulmão (Slowed + Reverb) - MC Menor do Alvorada"
                href="https://www.tiktok.com/music/Beat-Trava-Pulmão-Slowed-Reverb-7217925215781652482?refer=embed"
                >♬ Beat Trava Pulmão (Slowed + Reverb) - MC Menor do Alvorada</a
              >
            </section>
          </blockquote>
          <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@anatolys._prank/video/7301695893772700970"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Anatoly the best Cleaner
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=-GAk_jc4B4Q"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Clips That Made Anatoly Gym Prank Famous😂😂</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sVRi4wUQ6Fk"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >They Never Thought I COULD DO THIS...</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Anatoly the best Cleaner  -->

    <!-- Anatoly the best Cleaner (Lady)  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="lady">
        <p class="mb-4 text-base text-green-900">
          Anatoly the best Cleaner (Lady)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 2.25%"
        >
          <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@anatoly_prank_viral/video/7297594885803167009"
            data-video-id="7297594885803167009"
            style="max-width: 605px;min-width: 325px;"
          >
            <section>
              <a
                target="_blank"
                title="@anatoly_prank_viral"
                href="https://www.tiktok.com/@anatoly_prank_viral?refer=embed"
                >@anatoly_prank_viral</a
              > Anatoly the best Cleaner🎥😳 <a
                title="bodybuilding"
                target="_blank"
                href="https://www.tiktok.com/tag/bodybuilding?refer=embed"
                >#bodybuilding</a
              >
              <a
                title="powerlifting"
                target="_blank"
                href="https://www.tiktok.com/tag/powerlifting?refer=embed"
                >#powerlifting</a
              >
              <a
                title="anatoly"
                target="_blank"
                href="https://www.tiktok.com/tag/anatoly?refer=embed"
                >#anatoly</a
              >
              <a
                title="fakecleaner"
                target="_blank"
                href="https://www.tiktok.com/tag/fakecleaner?refer=embed"
                >#fakecleaner</a
              >
              <a
                title="prank"
                target="_blank"
                href="https://www.tiktok.com/tag/prank?refer=embed">#prank</a
              >
              <a
                title="kamera"
                target="_blank"
                href="https://www.tiktok.com/tag/kamera?refer=embed">#kamera</a
              >
              <a
                title="fypシ"
                target="_blank"
                href="https://www.tiktok.com/tag/fyp%E3%82%B7?refer=embed"
                >#fypシ</a
              >
              <a
                title="viraltiktok"
                target="_blank"
                href="https://www.tiktok.com/tag/viraltiktok?refer=embed"
                >#viraltiktok</a
              >
              <a
                title="2023"
                target="_blank"
                href="https://www.tiktok.com/tag/2023?refer=embed">#2023</a
              >
              <a
                title="reaction"
                target="_blank"
                href="https://www.tiktok.com/tag/reaction?refer=embed"
                >#reaction</a
              >
              <a
                target="_blank"
                title="♬ Beat Trava Pulmão (Slowed + Reverb) - MC Menor do Alvorada"
                href="https://www.tiktok.com/music/Beat-Trava-Pulmão-Slowed-Reverb-7217925215781652482?refer=embed"
                >♬ Beat Trava Pulmão (Slowed + Reverb) - MC Menor do Alvorada</a
              >
            </section>
          </blockquote>
          <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a href="./"
              ><span
                class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
                >GO BACK</span
              >
            </a>
          </h5>

          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.tiktok.com/@anatoly_prank_viral/video/7297594885803167009"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
                >Anatoly the best Cleaner (Lady)</span
              >
            </a>
          </h5>
        </div>
      </div>
      <!-- Anatoly the best Cleaner (Lady) -->

      <!-- Anatoly the best Cleaner (Drink)  -->
      <div
        class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
      >
        <h2 id="drink">
          <p class="mb-4 text-base text-green-900">
            Anatoly the best Cleaner (Drink)
          </p>
        </h2>
        <div
          class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 2.25%"
          >
            <blockquote
              class="tiktok-embed"
              cite="https://www.tiktok.com/@anatoly_prank_viral/video/7297234498410777889"
              data-video-id="7297234498410777889"
              style="max-width: 605px;min-width: 325px;"
            >
              <section>
                <a
                  target="_blank"
                  title="@anatoly_prank_viral"
                  href="https://www.tiktok.com/@anatoly_prank_viral?refer=embed"
                  >@anatoly_prank_viral</a
                > Anatoly the best Cleaner🎥😳 <a
                  title="bodybuilding"
                  target="_blank"
                  href="https://www.tiktok.com/tag/bodybuilding?refer=embed"
                  >#bodybuilding</a
                >
                <a
                  title="powerlifting"
                  target="_blank"
                  href="https://www.tiktok.com/tag/powerlifting?refer=embed"
                  >#powerlifting</a
                >
                <a
                  title="anatoly"
                  target="_blank"
                  href="https://www.tiktok.com/tag/anatoly?refer=embed"
                  >#anatoly</a
                >
                <a
                  title="fakecleaner"
                  target="_blank"
                  href="https://www.tiktok.com/tag/fakecleaner?refer=embed"
                  >#fakecleaner</a
                >
                <a
                  title="prank"
                  target="_blank"
                  href="https://www.tiktok.com/tag/prank?refer=embed">#prank</a
                >
                <a
                  title="kamera"
                  target="_blank"
                  href="https://www.tiktok.com/tag/kamera?refer=embed"
                  >#kamera</a
                >
                <a
                  title="fypシ"
                  target="_blank"
                  href="https://www.tiktok.com/tag/fyp%E3%82%B7?refer=embed"
                  >#fypシ</a
                >
                <a
                  title="viraltiktok"
                  target="_blank"
                  href="https://www.tiktok.com/tag/viraltiktok?refer=embed"
                  >#viraltiktok</a
                >
                <a
                  title="2023"
                  target="_blank"
                  href="https://www.tiktok.com/tag/2023?refer=embed">#2023</a
                >
                <a
                  title="reaction"
                  target="_blank"
                  href="https://www.tiktok.com/tag/reaction?refer=embed"
                  >#reaction</a
                >
                <a
                  target="_blank"
                  title="♬ Orquestra Maldita (Slowed+reverb) - TRASHXRL & Mc Delux"
                  href="https://www.tiktok.com/music/Orquestra-Maldita-Slowedreverb-7280990940142798850?refer=embed"
                  >♬ Orquestra Maldita (Slowed+reverb) - TRASHXRL &#38; Mc Delux</a
                >
              </section>
            </blockquote>
            <script async src="https://www.tiktok.com/embed.js"></script>
          </div>
          <div class="p-6 top-0 text-center">
            <h5
              class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              <a href="./"
                ><span
                  class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
                  >GO BACK</span
                >
              </a>
            </h5>

            <h5
              class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
            >
              <a
                href="https://www.tiktok.com/@anatoly_prank_viral/video/7297234498410777889"
                rel="noopener"
                target="_blank"
                ><span
                  class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
                  >Anatoly the best Cleaner (Drink)</span
                >
              </a>
            </h5>
          </div>
        </div>
        <!-- Anatoly the best Cleaner (Drink) -->

        <!-- Card title 2 -->
      </div>
    </div>
    <Footer client:only="react" />
  </main>
</Layout>
