---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="Apricot Seeds">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-orange-800 to-yellow-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Apricot Seeds
        </h1>
        <h2 class="text-white sm:text-xl md:text-3xl mt-5 text-center">
          A CURE FOR CANCER? - The Censored TRUTH About Apricot Seeds<br /> & Vitamin
          B17 Pharma Is Hiding!
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- DMSO benefits -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto"
    >
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <a href="./dmso#dmso">
            <h1
              class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
            >
              DMSO
            </h1></a
          >

          <a href="/site-map"
            ><h1
              class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
            >
              INDEX
            </h1></a
          >
        </div>
      </div>
      <div
        class="order-first lg:order-last rounded-xl max-w-xs transition duration-300 ease-in-out hover:scale-110"
      >
        <a href="./dmso#dmso">
          <img class="lg:hidden mb-9" src="images/dmso2.jpg" alt="DMSO" />
          <img
            class="hidden lg:block rounded-xl"
            src="images/dmso2.jpg"
            alt="DMSO"
          />
        </a>
      </div>
    </div>
    <!-- DMSO benefits -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        A CURE FOR CANCER? - The Censored TRUTH About Apricot Seeds & Vitamin
        B17 Pharma Is Hiding!
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2eh7uu/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./dmso"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2h2n68-a-cure-for-cancer-the-censored-truth-about-apricot-seeds-and-vitamin-b17-ph.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-orange-500 bg-white text-base hover:text-lg hover:text-green-900"
              >A CURE FOR CANCER? - The Censored TRUTH About Apricot Seeds &
              Vitamin B17 Pharma Is Hiding!</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        THIS MAN WAS THROWN IN PRISON FOR 5YRS FOR COMING UP WITH THIS CANCER
        CURE
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/fLEcq1YWtUOo/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./dmso"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/fLEcq1YWtUOo/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-orange-500 bg-white text-base hover:text-lg hover:text-green-900"
              >THIS MAN WAS THROWN IN PRISON FOR 5YRS FOR COMING UP WITH THIS
              CANCER CURE</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->
  </main>
</Layout>

<Footer client:only="react" />
