---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="Bluewater.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1 class="text-white text-6xl font-bold text-center">Bluewater</h1>
        <h2 class="text-slate-100 text-3xl mt-5 text-center"></h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- embed-responsive embed-responsive-16by9 relative w-full overflow-hidden -->
    <div class="md:container md:mx-auto">
      <!-- ... -->

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://rumble.com/v2h2n68-a-cure-for-cancer-the-censored-truth-about-apricot-seeds-and-vitamin-b17-ph.html"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-white text-base bg-green-900 hover:text-lg hover:bg-red-700"
                    >A CURE FOR CANCER? - The Censored TRUTH About Apricot Seeds
                    & Vitamin B17 Pharma Is Hiding!</span
                  >
                </a>
              </div>
              <br class="text-gray-700 text-base" />
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://rumble.com/embed/v2eh7uu/?pub=166b2j"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- embed-responsive embed-responsive-16by9 relative w-full overflow-hidden -->

      <!-- embed-responsive embed-responsive-16by9 relative w-full overflow-hidden -->
      <div class="md:container md:mx-auto">
        <!-- ... -->

        <div class="p-10">
          <!--Card 1-->
          <div class="w-full lg:max-w-full lg:flex">
            <div
              class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
            >
            </div>
            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-gray-900 font-bold text-xl mb-2">
                  <a
                    href="https://www.bitchute.com/video/fLEcq1YWtUOo/"
                    rel="noopener"
                    target="_blank"
                    ><span
                      class="text-red-700 text-base hover:text-lg hover:text-green-900"
                      >THIS MAN WAS THROWN IN PRISON FOR 5YRS FOR COMING UP WITH
                      THIS CANCER CURE</span
                    >
                  </a>
                </div>
                <br class="text-gray-700 text-base" />
              </div>
              <div class="flex items-center">
                <div
                  class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                  style="padding-top: 56.25%"
                >
                  <iframe
                    class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                    src="https://www.bitchute.com/embed/fLEcq1YWtUOo/"
                    allowfullscreen=""
                    data-gtm-yt-inspected-2340190_699="true"
                    id="240632615"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- embed-responsive embed-responsive-16by9 relative w-full overflow-hidden -->
      </div>
    </div>
  </main>
</Layout>

<Footer client:only="react" />
