---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Movies from "../components/Movies.astro";
import Rept from "../components/Rept.astro";
---

<Layout title="Arrests">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-red-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Arrests
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          WHERE THEY GO ONE, THEY GO ALL.. TO TRIBUNAL
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        WHERE THEY GO ONE, THEY GO ALL.. TO TRIBUNAL
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1jhylc/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1m44i0-where-they-go-one-they-go-all..-to-tribunal.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >WHERE THEY GO ONE, THEY GO ALL.. TO TRIBUNAL</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://bestnewshere.com/collection-of-mind-blowing-the-list-of-all-arrests-and-execution-from-2020-2022-dismantling-the-deep-state-operatives-and-doubles-whats-really-going-on-behind-the-scenes-is-slightly-diff/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >The List Of All Arrests and Execution From 2020-2022 |
              Dismantling the Deep State Operatives and Doubles
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.buymeacoffee.com/b3jTqNgVwt/gitmo-arrests"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >GITMO ARRESTS</span
            >
          </a>
        </h5>
        <Rept />
        <p class="mb-4 text-base text-left text-black">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      GITMO: Where They Go One, They Go All To Tribunal<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vo606g/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vqs6am-gitmo-where-they-go-one-they-go-all-to-tribunal.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >GITMO: Where They Go One, They Go All To Tribunal</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Thrown Overboard 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Deep Staters Headed To Guam Thrown Overboard for Inciting Insurrection<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/05/deep-staters-headed-to-guam-thrown-overboard-for-inciting-insurrection/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/05/deep-staters-headed-to-guam-thrown-overboard-for-inciting-insurrection/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Deep Staters Headed To Guam Thrown Overboard for Inciting
              Insurrection</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >Also have look at the Alien-Wars</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Thrown Overboard 4A -->

    <!-- Thrown Overboard 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Military Convicts Rochelle Walensky of Treason<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/05/military-convicts-rochelle-walensky-of-treason/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/05/rochelle-walensky-arrested/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Rochelle Walensky Arrested!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/05/military-convicts-rochelle-walensky-of-treason/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Military Convicts Rochelle Walensky of Treason</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/06/rochelle-walensky-hanged/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Rochelle Walensky Hanged</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >Also have look at the Alien-Wars</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Thrown Overboard 4A -->

    <!-- Thrown Overboard 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Eric Holder Hanged at GITMO<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/07/eric-holder-hanged-at-gitmo/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/07/eric-holder-hanged-at-gitmo/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Eric Holder Hanged at GITMO</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >Also have look at the Alien-Wars</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Thrown Overboard 4A -->

    <!-- Thrown Overboard 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      JAG Convicts Another CDC Covid Criminal<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/07/jag-convicts-another-cdc-covid-criminal/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/07/jag-convicts-another-cdc-covid-criminal/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >JAG Convicts Another CDC Covid Criminal</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >Also have look at the Alien-Wars</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Thrown Overboard 4A -->

    <!-- Thrown Overboard 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      The Untried and the Dead: David Axelrod<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/07/the-untried-and-the-dead-david-axelrod/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/07/the-untried-and-the-dead-david-axelrod/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >The Untried and the Dead: David Axelrod</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >Also have look at the Alien-Wars</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Thrown Overboard 4A -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Movies />

      <h2 id="kappy1">
        <p class="mb-4 text-base text-left font-bold text-black">
          "JIM CARREY CALLED ME ... IF YOU ATE KIDS YOU'RE GOING FUCKING DIE"
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/3wossYjBHPS8/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/3wossYjBHPS8/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >"JIM CARREY CALLED ME ... IF YOU ATE KIDS YOU'RE GOING FUCKING
              DIE"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/PD1MzwSEqJCK/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >KAPPY: EPSTEIN EDITION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#time"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/july/july-25-2023.mp3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Kent Dunn July 25, 2023</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Movies />

      <h2 id="kappy2">
        <p class="mb-4 text-base text-left font-bold text-black">
          KAPPY: EPSTEIN EDITION
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/PD1MzwSEqJCK/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/3wossYjBHPS8/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >"JIM CARREY CALLED ME ... IF YOU ATE KIDS YOU'RE GOING FUCKING
              DIE"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/PD1MzwSEqJCK/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >KAPPY: EPSTEIN EDITION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#time"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/july/july-25-2023.mp3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Kent Dunn July 25, 2023</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="drinker">
        <p class="mb-4 text-base text-left font-bold text-black">
          Queen Executed - Blood Drinker - pulled after 4,000 views to show BS
          videos
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/uMprAjB447zI/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/uMprAjB447zI/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Queen Executed - Blood Drinker - pulled after 4,000 views to show
              BS videos</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Adrenochrome and everlasting health During the nineteenth century, the
          writings of ancient Mesopotamia were discovered and translated. They
          revealed a universe inhabited by a legion of 'Annunaki' gods and
          demons… And creatures who drink HUMAN BLOOD… The vampires in ancient
          Mesopotamian mythology were the seven evil spirits who know no mercy…
          one incantation presently owned by the British Crown reads [in
          cuneiform] “… these [vampires] rage against mankind; They spill
          mankind’s blood like rain, Devouring their flesh (and) sucking their
          veins”.
        </p>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          These seven vampire spirits may actually be the negative emanation of
          the seven creator gods - who were amphibian-humanoids, represented as
          walking humanoid fish… All over Arabia and Africa, pre-Islamic
          cultures worshipped DAGON… But Dagon was not alone - the Annunaki
          legends say that these Dagon amphibian/fish humanoids were created by
          reptilian-humanoids. They all had one thing in common: THESE GODS ALL
          DRANK HUMAN BLOOD.
        </p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#snakes"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Trump Talking about Snakes</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Major Disclosure Dump by JFK Jr. (Memes)<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=217866"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=217866"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Major Disclosure Dump by JFK Jr. (Memes)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bbc.com/news/uk-60453566"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 hover:text-2xl hover:text-blue-900"
              >The Queen tests positive for Covid</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.buymeacoffee.com/b3jTqNgVwt/gitmo-arrests"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >GITMO ARRESTS</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-green-600">TRUMP AND MORE /RUNDOWN</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v38zrz8/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3bl6i8-trump-and-more-rundown.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 text-base hover:text-lg hover:text-green-900"
              >TRUMP AND MORE /RUNDOWN</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- Thrown Overboard 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Special Message From JFK Jr. -<br />Heads Are Rolling Down Under -
        Mission Complete!
      </p>
      <p class="mb-4 text-base text-blue-700">
        Swamp Creatures Exposed by JFK Jr. -<br />More Heads Are Rolling -
        'Mission Complete'! (Part 3) 'BIG ANNOUNCEMENT TOMMORROW' !!!
      </p><div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=223553"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=223553"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Special Announcement by 'Q' (JFK Jr.) @ Telegram</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=217140"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Special Message From JFK Jr. - Heads Are Rolling Down Under -
              Mission Complete!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=217152"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Swamp Creatures Exposed by JFK Jr. - More Heads Are Rolling -
              'Mission Complete'! (Part 3)</span
            >
          </a>
        </h5>
        <br />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >Also have look at the Alien-Wars</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="bg-white text-green-900 hover:text-2xl hover:text-red-700"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Thrown Overboard 4A -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=224142"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=224142"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Message from JFK Jr. - 'See You Soon' - Trump & JFK Jr. 2024</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      SHTF And 'The Movie Ends' In 4 Days - The Return of JFK Jr. & Lady Diana -
      ON THURSDAY AUGUST 3 - WE ARE EXPOSING EVERYTHING LIVE !!!<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=226775"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=226775"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >SHTF And 'The Movie Ends' In 4 Days - The Return of JFK Jr. &
              Lady Diana - ON THURSDAY AUGUST 3 - WE ARE EXPOSING EVERYTHING
              LIVE !!!</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Mitch McConnell or Clone?<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/07/mitch-mcconnell-or-clone/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/07/mitch-mcconnell-or-clone/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Mitch McConnell or Clone?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=226948"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >WHAT did the LADY IN GREEN do to MITCH McCONNELL to make him
              FREEZE?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nR0yqu3BPHE"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
              >Why did Mitch McConnell freeze? | Body Language Mysteries</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="mitch">
        <p class="mb-4 text-base text-left font-bold text-black">
          Why did Mitch McConnell freeze? | Body Language Mysteries
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/nR0yqu3BPHE"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/07/mitch-mcconnell-or-clone/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Mitch McConnell or Clone?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=226948"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >WHAT did the LADY IN GREEN do to MITCH McCONNELL to make him
              FREEZE?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nR0yqu3BPHE"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
              >Why did Mitch McConnell freeze? | Body Language Mysteries</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Putin Executes Defiant 5G Executives<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/08/putin-executes-defiant-5g-executives/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/08/putin-executes-defiant-5g-executives/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >Putin Executes Defiant 5G Executives</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      INTEL MEME - The Storm Is Coming - Many Events Occur This Week!!!<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=227938"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=227938"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >INTEL MEME - The Storm Is Coming - Many Events Occur This Week!!!</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="stepfive">
        <p class="mb-4 text-base text-left font-bold text-black">
          TRUMP Q COMMS: The (Mug)SHOT HEARD AROUND THE WORLD. There is no STEP
          FIVE. -END- Q
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=228262"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=228262"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-700 hover:text-2xl hover:text-green-900"
              >TRUMP Q COMMS: The (Mug)SHOT HEARD AROUND THE WORLD. There is no
              STEP FIVE. -END- Q</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Queen tests positive -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      JAG Sentences 10 Clot Shot-Loving Physicians to Hang<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://realrawnews.com/2023/08/jag-sentences-10-clot-shot-loving-physicians-to-hang/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://realrawnews.com/2023/08/jag-sentences-10-clot-shot-loving-physicians-to-hang/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
              >JAG Sentences 10 Clot Shot-Loving Physicians to Hang</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Queen tests positive -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="martin">
        <p class="mb-4 text-base text-left font-bold text-black">
          Dr. David Martin: DON’T FEAR the Coming Lockdowns… the Cabal is
          Already DEAD
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v38deqq/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.sgtreport.com/2023/08/dr-david-martin-dont-fear-the-coming-lockdowns-the-cabal-is-already-dead/"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
              >Dr. David Martin: DON’T FEAR the Coming Lockdowns… the Cabal is
              Already DEAD</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3ayta4-dr.-david-martin-dont-fear-the-coming-lockdowns-the-cabal-is-already-dead.html"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-green-800 hover:text-2xl hover:text-green-900"
              >Dr. David Martin: DON’T FEAR the Coming Lockdowns… the Cabal is
              Already DEAD</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <Footer client:only="react" />
  </main>
</Layout>
