---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="AUTISM">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-cyan-500 to-blue-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          AUTISM
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism
        </h2>

        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- DMSO benefits -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto"
    >
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <a href="./"
            ><h1
              class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
            >
              HOME
            </h1></a
          >

          <a href="/site-map"
            ><h1
              class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
            >
              INDEX
            </h1></a
          >
          <a href="/dmso#dmso"
            ><h1
              class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
            >
              DMSO
            </h1></a
          >
        </div>
      </div>
      <div
        class="order-first lg:order-last rounded-xl max-w-xs transition duration-300 ease-in-out hover:scale-110"
      >
        <a href="./dmso#dmso">
          <img class="lg:hidden mb-9" src="images/dmso2.jpg" alt="DMSO" />
          <img
            class="hidden lg:block rounded-xl"
            src="images/dmso2.jpg"
            alt="DMSO"
          />
        </a>
      </div>
    </div>
    <!-- DMSO benefits -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="erich1">
        <p class="mb-4 text-base text-blue-900">
          DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
          VACCINES
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/QgEeWrHVtjGO/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/QgEeWrHVtjGO/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS
              OF VACCINES
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/XiOS64g4IVvm/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >THE GODFATHER OF VACCINES (STANLEY A. PLOTKIN MD) DIVULGES THE
              INGREDIENTS OF VACCINES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./no-virus"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >NO VIRUS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >VIDEO PROOF: CANCER IS CAUSED BY PARASITES
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bioweapon"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Bioweapon</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >AUTISM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nuremberg"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Nuremberg 2.0</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="interview">
        <p class="mb-4 text-base text-green-600">
          Plandemic - Part 1 - Dr. Judy Mikovits
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2plwme/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#bruce"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/v2s7bzc-plandemic-part-1-dr.-judy-mikovits.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >Plandemic - Part 1 - Dr. Judy Mikovits</span
          >
        </a>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-green-600">ALUMINUM AND MERCURY VACCINE</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/zPdAvhvt82eE/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#bruce"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.bitchute.com/video/zPdAvhvt82eE/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >ALUMINUM AND MERCURY VACCINE</span
          >
        </a>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="rivera">
        <p class="mb-4 text-base text-blue-900">
          KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH MIKE
          ADAMS (2020)
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/Sap8Vsu2rsqi/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Sap8Vsu2rsqi/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH
              MIKE ADAMS (2020)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >wpsaustralia.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.purewaterau.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.purewaterau.com.au</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://www.wps.land/" rel="noopener" target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.wps.land</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >More on CDS MMS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="autismone">
        <p class="mb-4 text-base text-blue-900">
          Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism
          720p
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/16lGBdqY4H8"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=16lGBdqY4H8"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of
              Autism 720p</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism
              (CDS)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >wpsaustralia.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.purewaterau.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.purewaterau.com.au</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://www.wps.land/" rel="noopener" target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.wps.land</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >More on CDS MMS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="adams">
        <p class="mb-4 text-base text-blue-900">
          Mike Adams on chlorine dioxide
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/d86a08ac-cf4b-4b88-8bda-b09e94e1c990"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d86a08ac-cf4b-4b88-8bda-b09e94e1c990"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Mike Adams on chlorine dioxide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://yummy.doctor/video-list/healing-autism-naturally/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >Healing Autism Naturally</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >wpsaustralia.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.purewaterau.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.purewaterau.com.au</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://www.wps.land/" rel="noopener" target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.wps.land</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >More on CDS MMS</span
            >
          </a>
        </h5>
        <p class="mb-4 text-black text-ellipsis">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="cdc">
        <p class="mb-4 text-base text-blue-900">
          The CDC Fails to Produce Scientific Evidence to Prove Vaccines Do Not
          Cause Autism
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/fc01044a-5adc-4352-ac31-6a34780552a6"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/fc01044a-5adc-4352-ac31-6a34780552a6"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >The CDC Fails to Produce Scientific Evidence to Prove Vaccines Do
              Not Cause Autism</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 3A -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      heavy metal detox has also been found to be effective....<div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 16.25%"
        >
          <script
            async
            src="https://telegram.org/js/telegram-widget.js?15"
            data-telegram-post="STFNREPORT/21987"
            data-width="100%"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://t.me/STFNREPORT/21987" rel="noopener" target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >https://t.me/STFNREPORT/21987</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://vk.com/wall696489006_14396"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >https://vk.com/wall696489006_14396</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-left text-black">
          Only one dose given to kids with ADS who were noverbal and they began
          speaking in sentences within 9 hours.
        </p>
        <p class="mb-4 text-left text-black">
          9.99 USD<br />
          THE CURE FOR<br />
          AUTISM IS CALLED<br />
          SURAMIN<br />
          Germanin<br />
          Bayer 205<br />
          1g Suramin<br />
          For I. V. injection<br />
          in 10%solution<br />
          "How could we have known<br />
          that's relatively cheap<br />
          medication costing less than<br />
          $30 & that has been around<br />
          for almost a 100 years,<br />
          was the answer?<br />
          Only one dose given to kids with ADS<br />
          who were nonverbal and they began<br />
          speaking in sentences within 9 hours".<br />
        </p>
        <p class="text-left text-black">Dr. Silvia Theos</p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Card title 3A -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="autism4">
        <p class="mb-4 text-base text-blue-900">
          Video: Using Suramin for autism treatment
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/sl4qvIyh7xM"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sl4qvIyh7xM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >Video: Using Suramin for autism treatment</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy">
        <p class="mb-4 text-base text-blue-900">
          DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/nMvfXDD2KZaU/"
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/nMvfXDD2KZaU/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/fLXZDKSEpZh5/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES +
              IMAGES + MORE - SAVE YOUR LOVED ONES!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="suramin">
        <p class="mb-4 text-base text-blue-900">
          DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
          MORE - SAVE YOUR LOVED ONES!
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/fLXZDKSEpZh5/"
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/fLXZDKSEpZh5/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES +
              IMAGES + MORE - SAVE YOUR LOVED ONES!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/nMvfXDD2KZaU/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy3">
        <p class="mb-4 text-base text-blue-900">
          DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vo4y5c/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vqr49i-dr.-judy-mikovitz-vaccine-antidote-suramin.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy2">
        <p class="mb-4 text-base text-blue-900">
          DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.vtvault.org/pineneedletea"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vqr49i-dr.-judy-mikovitz-vaccine-antidote-suramin.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy3">
        <p class="mb-4 text-base text-blue-900">
          Nature vs Vx - Foraging for Vaccine Treatmnt/Shedding Prevenative
          Suramin / Shikimic Acid in Nature
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/voqfqh/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vrclud-nature-vs-vx-foraging-for-vaccine-treatmntshedding-prevenative-suramin-shik.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >Nature vs Vx - Foraging for Vaccine Treatmnt/Shedding Prevenative
              Suramin / Shikimic Acid in Nature</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="vaxxed">
        <p class="mb-4 text-base text-green-600">VAXXED (FULL MOVIE)</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://odysee.com/$/embed/@Globalistexposure:8/VAXXED--(FULL-MOVIE)-From-Cover-up-to-Catastrophe,-Screening-Event-July-29th-2016:b?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#bruce"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://odysee.com/@Globalistexposure:8/VAXXED--(FULL-MOVIE)-From-Cover-up-to-Catastrophe,-Screening-Event-July-29th-2016:b"
          rel="noopener"
          target="_blank"
          ><span
            class="text-pink-500 bg-white text-base hover:text-lg hover:text-green-900"
            >VAXXED (FULL MOVIE)</span
          >
        </a>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="carrie">
        <p class="mb-4 text-base text-blue-900">
          The Worlds Realest Doctor - Fact Checking Myths - Dr Carrie Madej -
          Please share with family
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1koa4u/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1nafyg-the-worlds-realest-doctor-fact-checking-myths-dr-carrie-madej-please-share-.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >The Worlds Realest Doctor - Fact Checking Myths - Dr Carrie Madej
              - Please share with family</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <Footer client:only="react" />
  </main>
</Layout>
