---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Dmsocc";
import Footer from "../components/Footercc";
import Dmsolist from "../components/Dmsolist.astro";
import Cds from "../components/Cds.astro";
import Lista from "../components/Lista.astro";
import Biow from "../components/Biow.astro";
import Suramin from "../components/Suramin.astro";
import MikovitsL from "../components/MikovitsL.astro";
---

<Layout title="AUTISM">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-cyan-500 to-blue-800 h-96 w-full relative rounded-xl"
    >
      <a href="./autism#autismone">
        <img
          src="images/Med-Bed001.jpg"
          class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
        /></a
      >
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          AUTISM
        </h1>

        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism
        </h2>

        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF VACCINES -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <h2 id="vaccines">
        <p class="mb-4 text-base text-blue-900">
          DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
          VACCINES
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/QgEeWrHVtjGO/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/QgEeWrHVtjGO/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS
              OF VACCINES
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./buttar#buttar"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >More Than 3 Years BEFORE MSM - Dr Rashid A Buttar</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism#interview"
            ><span
              class="text-blue-800 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media (Video)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/XiOS64g4IVvm/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >THE GODFATHER OF VACCINES (STANLEY A. PLOTKIN MD) DIVULGES THE
              INGREDIENTS OF VACCINES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./no-virus"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >NO VIRUS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >VIDEO PROOF: CANCER IS CAUSED BY PARASITES
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bioweapon"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Bioweapon</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >AUTISM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nuremberg"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Nuremberg 2.0</span
            >
          </a>
        </h5>
        <Suramin />
      </div>
    </div>
    <!-- DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF VACCINES -->

    <!-- VACCINES AND AUTISM - THE MEDIA DOES NOT WANT THIS OUT - DR RASHID BUTTAR -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="media">
        <p class="mb-4 text-base text-blue-900">
          VACCINES AND AUTISM - THE MEDIA DOES NOT WANT THIS OUT - DR RASHID
          BUTTAR
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/g6VbsIY6VCXU/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/g6VbsIY6VCXU/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >VACCINES AND AUTISM - THE MEDIA DOES NOT WANT THIS OUT - DR
              RASHID BUTTAR</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./buttar#buttar"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >More Than 3 Years BEFORE MSM - Dr Rashid A Buttar</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism#interview"
            ><span
              class="text-blue-800 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media (Video)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/XiOS64g4IVvm/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >THE GODFATHER OF VACCINES (STANLEY A. PLOTKIN MD) DIVULGES THE
              INGREDIENTS OF VACCINES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./no-virus"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >NO VIRUS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >VIDEO PROOF: CANCER IS CAUSED BY PARASITES
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bioweapon"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Bioweapon</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >AUTISM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nuremberg"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Nuremberg 2.0</span
            >
          </a>
        </h5>
        <Suramin />
      </div>
    </div>
    <!-- VACCINES AND AUTISM - THE MEDIA DOES NOT WANT THIS OUT - DR RASHID BUTTAR -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
    
      <h2 id="interview">
        <p class="mb-4 text-base text-green-600">
          Plandemic - Part 1 - Dr. Judy Mikovits
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2plwme/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/v2s7bzc-plandemic-part-1-dr.-judy-mikovits.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >Plandemic - Part 1 - Dr. Judy Mikovits</span
          >
        </a>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism#vaccines"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS
              OF VACCINES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <Suramin />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="aluminum">
        <p class="mb-4 text-base text-cyan-600">ALUMINUM AND MERCURY VACCINE</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/zPdAvhvt82eE/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.bitchute.com/video/zPdAvhvt82eE/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >ALUMINUM AND MERCURY VACCINE</span
          >
        </a>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="rivera">
        <p class="mb-4 text-base text-pink-500">
          KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH MIKE
          ADAMS (2020)
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/Sap8Vsu2rsqi/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Sap8Vsu2rsqi/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH
              MIKE ADAMS (2020)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v45x3tw-cdt-for-the-win-marcus-grant-1st-interview-with-kerri-rivera-protocol-p-for.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-green-700"
              >CDT for the WIN - Marcus Grant 1st interview with Kerri Rivera
              protocol P for adults (January 2024)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <Cds />
        <Suramin />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- AutismOne 2014 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="autismone">
        <p class="mb-4 text-base text-pink-500">
          AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism
          (CDS)
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-red-700"
              >AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism
              (CDS)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-red-700"
              >AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism
              (CDS)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms#know"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT
              WERE TOO AFRAID TO ASK 3min-10min.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <Cds />
        <Suramin />
      </div>
    </div>
    <!-- AutismOne 2014 -->

    <!-- CDT for the WIN - Marcus Grant 1st interview with Kerri Rivera protocol P for adults (January 2024) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="protocol">
        <p class="mb-4 text-base text-green-500">
          CDT for the WIN - Marcus Grant 1st interview with Kerri Rivera
          protocol P for adults (January 2024)
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v43brq5/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v45x3tw-cdt-for-the-win-marcus-grant-1st-interview-with-kerri-rivera-protocol-p-for.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 text-base hover:text-lg hover:text-green-700"
              >CDT for the WIN - Marcus Grant 1st interview with Kerri Rivera
              protocol P for adults (January 2024)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7d2d9c1a-c4ca-47bb-aadd-d2973b1d26d4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-red-700"
              >AutismOne 2014 - Andreas Kalcker - Successful Treatment of Autism
              (CDS)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms#know"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT
              WERE TOO AFRAID TO ASK 3min-10min.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <Cds />
        <Suramin />
      </div>
    </div>
    <!-- AutismOne 2014 -->

    <!-- Documentary: Trace Amounts @15:00 @46:26 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
   
      <h2 id="thimerosal">
        <p class="mb-4 text-base text-pink-500">
          Documentary: Trace Amounts @15:00 @46:26
        </p>
      </h2>
      <p class="mb-4 text-base text-neutral-800 dark:text-neutral-200">
        Trace Amounts is an investigative documentary exploring the link between
        the mercury based preservative thimerosal and the autism epidemic.
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2tstzc/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2we996-documentary-trace-amounts.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-red-700"
              >Documentary: Trace Amounts @15:00 @46:26</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-700 dark:text-neutral-200">
          Trace Amounts is an investigative documentary exploring the link
          between the mercury based preservative thimerosal and the autism
          epidemic.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms#know"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT
              WERE TOO AFRAID TO ASK 3min-10min.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <Cds />
        <Suramin />
      </div>
    </div>
    <!-- Documentary: Trace Amounts @15:00 @46:26 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="claim">
        <p class="mb-4 text-base text-pink-500">
          CDC Removes Claim ‘Vaccines Do Not Cause Autism’
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/b0f45643-fc96-438c-941e-82040c184549"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/b0f45643-fc96-438c-941e-82040c184549"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-red-700"
              >CDC Removes Claim ‘Vaccines Do Not Cause Autism’</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms#know"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT
              WERE TOO AFRAID TO ASK 3min-10min.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cds-mms"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Chlorine Dioxide Miracle Mineral Solution MMS</span
            >
          </a>
        </h5>

        <Cds />
        <Suramin />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Dangerous Dames | Ep.52: Out Of The Box And Off The Spectrum? w/ Kerri Rivera -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="kerri2024">
        <p class="mb-4 text-base text-blue-900">Dangerous Dames | Ep.52: Out Of The Box And Off The Spectrum? w/ Kerri Rivera(15:00)</p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v5gfgyt/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d86a08ac-cf4b-4b88-8bda-b09e94e1c990"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Mike Adams on chlorine dioxide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://yummy.doctor/video-list/healing-autism-naturally/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >Healing Autism Naturally</span
            >
          </a>
        </h5>
        <Cds />
       
      </div>
    </div>
    <!-- Dangerous Dames | Ep.52: Out Of The Box And Off The Spectrum? w/ Kerri Rivera -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="cdc">
        <p class="mb-4 text-base text-blue-900">
          The CDC Fails to Produce Scientific Evidence to Prove Vaccines Do Not
          Cause Autism
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/fc01044a-5adc-4352-ac31-6a34780552a6"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/fc01044a-5adc-4352-ac31-6a34780552a6"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >The CDC Fails to Produce Scientific Evidence to Prove Vaccines Do
              Not Cause Autism</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Pediatrician Doug Hulstedt has seen 150 autism cases. -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="pediatrician">
        <p class="mb-4 text-base text-blue-900">
          Pediatrician Doug Hulstedt has seen 150 autism cases.
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560">
            <p lang="en" dir="ltr">
              Pediatrician Doug Hulstedt has seen 150 autism cases. 44 of those
              cases were &quot;overnight&quot; where the child was normal one
              day and began exhibiting multiple obvious symptoms of autism from
              the next day forward. Like a &quot;light switch.&quot; All 44
              cases happened within 2 weeks AFTER a… <a
                href="https://t.co/RtmCY1yxhL">pic.twitter.com/RtmCY1yxhL</a
              >
            </p>&mdash; Steve Kirsch (@stkirsch) <a
              href="https://twitter.com/stkirsch/status/1738291623585632325?ref_src=twsrc%5Etfw"
              >December 22, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/stkirsch/status/1738291623585632325?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Pediatrician Doug Hulstedt has seen 150 autism cases.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/stkirsch/status/1738359836092637411?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Up to 90% of the autism cases are caused by vaccines according to
              an autism doctor who has treated over 8,000 cases.</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Pediatrician Doug Hulstedt has seen 150 autism cases. -->

    <!-- Up to 90% of the autism cases are caused by vaccines according -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="doctor">
        <p class="mb-4 text-base text-blue-900">
          Up to 90% of the autism cases are caused by vaccines according to an
          autism doctor who has treated over 8,000 cases.
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Up to 90% of the autism cases are caused by vaccines according to
              an autism doctor who has treated over 8,000 cases. Watch this
              interview with former pediatrician Doug Hulstedt who can now speak
              freely because they took away his license for writing ONE vaccine
              exemption. <a href="https://t.co/QNy2gZlSWB"
                >pic.twitter.com/QNy2gZlSWB</a
              >
            </p>&mdash; Steve Kirsch (@stkirsch) <a
              href="https://twitter.com/stkirsch/status/1738350252384792813?ref_src=twsrc%5Etfw"
              >December 23, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/stkirsch/status/1738291623585632325?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Pediatrician Doug Hulstedt has seen 150 autism cases.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/stkirsch/status/1738359836092637411?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Up to 90% of the autism cases are caused by vaccines according to
              an autism doctor who has treated over 8,000 cases.</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Up to 90% of the autism cases are caused by vaccines according -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="autism4">
        <p class="mb-4 text-base text-blue-900">
          Video: Using Suramin for autism treatment
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/sl4qvIyh7xM"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sl4qvIyh7xM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >Video: Using Suramin for autism treatment</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- THERE IS AN ANTIDOTE!! SURAMIN THE ANTIDOTE!! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy">
        <p class="mb-4 text-base text-emerald-600">DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE(SURAMIN)(reverse AUTISM)</p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vnotmg/?pub=166b2j"
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <MikovitsL />
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <Suramin />
      </div>
    </div>
    <!-- THERE IS AN ANTIDOTE!! SURAMIN THE ANTIDOTE!! -->

    <!-- DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES + MORE - SAVE YOUR LOVED ONES! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="suramin">
        <p class="mb-4 text-base text-blue-900">
          DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
          MORE - SAVE YOUR LOVED ONES!
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/fLXZDKSEpZh5/"
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/fLXZDKSEpZh5/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES +
              IMAGES + MORE - SAVE YOUR LOVED ONES!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/nMvfXDD2KZaU/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE(SURAMIN)(reverse AUTISM)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on
              all Social Media</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <Suramin />
      </div>
    </div>
    <!-- DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES + MORE - SAVE YOUR LOVED ONES! -->


    <!-- Card title 3A -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="treatment">
        <p class="mb-4 text-base text-blue-900">       <a
            href="https://x.com/Gitmo99/status/1777733263043305939?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD).</span
            >
          </a></p>
      </h2>
    <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
 <blockquote class="twitter-tweet"><p lang="en" dir="ltr">If true the medical industry has a lot to explain.<br>There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD). The purinergic antagonist suramin may improve core symptoms through restoration of normal mitochondrial function and… <a href="https://t.co/sczOAZqieb">pic.twitter.com/sczOAZqieb</a></p>&mdash; Gitmo (Health is a Wealth) 🇺🇸🇮🇱 (@Gitmo99) <a href="https://twitter.com/Gitmo99/status/1777733263043305939?ref_src=twsrc%5Etfw">April 9, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="p-6 text-center">
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Gitmo99/status/1777733263043305939?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD).</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://t.me/STFNREPORT/21987" rel="noopener" target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >https://t.me/STFNREPORT/21987</span
            >
          </a>
        </h5>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://x.com/Oracle_ofMatrix/status/1777770253742645510" rel="noopener" target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >The same reason they don't want you to know that 99% of all cancers are microparasitic infections! Or, that you can cure your cancer like I did, twice, with a strict alkaline diet, supplements to clean your blood, and antiparasitic drugs to kill the microparasitic infections.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://vk.com/wall696489006_14396"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >https://vk.com/wall696489006_14396</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-left text-black">
          Only one dose given to kids with ADS who were noverbal and they began
          speaking in sentences within 9 hours.
        </p>
        <p class="mb-4 text-left text-black">
          9.99 USD<br />
          THE CURE FOR<br />
          AUTISM IS CALLED<br />
          SURAMIN<br />
          Germanin<br />
          Bayer 205<br />
          1g Suramin<br />
          For I. V. injection<br />
          in 10%solution<br />
          "How could we have known<br />
          that's relatively cheap<br />
          medication costing less than<br />
          $30 & that has been around<br />
          for almost a 100 years,<br />
          was the answer?<br />
          Only one dose given to kids with ADS<br />
          who were nonverbal and they began<br />
          speaking in sentences within 9 hours".<br />
        </p>
        <p class="text-left text-black">Dr. Silvia Theos</p>
          <MikovitsL />
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Card title 3A -->


    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="whitepine1">
        <p class="mb-4 text-base text-blue-900">
          DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vo4y5c/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vqr49i-dr.-judy-mikovitz-vaccine-antidote-suramin.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <Suramin />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy2">
        <p class="mb-4 text-base text-blue-900">
          DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.vtvault.org/pineneedletea"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vqr49i-dr.-judy-mikovitz-vaccine-antidote-suramin.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >100 Years of Suramin (autism)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer#lee"
            ><span
              class="text-blue-600 text-base hover:text-lg hover:text-red-700"
              >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19,
              2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <Suramin />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="judy3">
        <p class="mb-4 text-base text-blue-900">
          Nature vs Vx - Foraging for Vaccine Treatmnt/Shedding Prevenative
          Suramin / Shikimic Acid in Nature
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/voqfqh/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vrclud-nature-vs-vx-foraging-for-vaccine-treatmntshedding-prevenative-suramin-shik.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >Nature vs Vx - Foraging for Vaccine Treatmnt/Shedding Prevenative
              Suramin / Shikimic Acid in Nature</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="vaxxed">
        <p class="mb-4 text-base text-pink-500">VAXXED (FULL MOVIE)</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://odysee.com/$/embed/@Globalistexposure:8/VAXXED--(FULL-MOVIE)-From-Cover-up-to-Catastrophe,-Screening-Event-July-29th-2016:b?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://odysee.com/@Globalistexposure:8/VAXXED--(FULL-MOVIE)-From-Cover-up-to-Catastrophe,-Screening-Event-July-29th-2016:b"
          rel="noopener"
          target="_blank"
          ><span
            class="text-pink-500 bg-white text-base hover:text-lg hover:text-green-900"
            >VAXXED (FULL MOVIE)</span
          >
        </a>
        <Suramin />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="carrie">
        <p class="mb-4 text-base text-blue-900">
          The Worlds Realest Doctor - Fact Checking Myths - Dr Carrie Madej -
          Please share with family
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1koa4u/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1nafyg-the-worlds-realest-doctor-fact-checking-myths-dr-carrie-madej-please-share-.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >The Worlds Realest Doctor - Fact Checking Myths - Dr Carrie Madej
              - Please share with family</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.vtvault.org/pineneedletea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-red-700"
              >www.vtvault.org/pineneedletea</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/disclosurehub/5869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-red-700"
              >https://t.me/disclosurehub/5869</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <Footer client:only="react" />
  </main>
</Layout>
