---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Fun from "../components/Fun.astro";
---

<Layout title="realtipsybartender">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-gray-900 to-purple-950 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          realtipsybartender
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          The Black Jungle Juice
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- The Black Jungle Juice -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Fun />
      <h2 id="juice">
        <p class="mb-4 text-base text-purple-950">The Black Jungle Juice</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@realtipsybartender/video/7297698688854445358"
            data-video-id="7297698688854445358"
            style="max-width: 605px;min-width: 325px;"
          >
            <section>
              <a
                target="_blank"
                title="@realtipsybartender"
                href="https://www.tiktok.com/@realtipsybartender?refer=embed"
                >@realtipsybartender</a
              > The Black Jungle Juice <a
                title="tipsybartender"
                target="_blank"
                href="https://www.tiktok.com/tag/tipsybartender?refer=embed"
                >#tipsybartender</a
              >
              <a
                title="cocktail"
                target="_blank"
                href="https://www.tiktok.com/tag/cocktail?refer=embed"
                >#cocktail</a
              >
              <a
                title="longisland"
                target="_blank"
                href="https://www.tiktok.com/tag/longisland?refer=embed"
                >#longisland</a
              >
              <a
                title="vodka"
                target="_blank"
                href="https://www.tiktok.com/tag/vodka?refer=embed">#vodka</a
              >
              <a
                title="cocacola"
                target="_blank"
                href="https://www.tiktok.com/tag/cocacola?refer=embed"
                >#cocacola</a
              >
              <a
                target="_blank"
                title="♬ original sound - tipsybartender"
                href="https://www.tiktok.com/music/original-sound-7297698757217356586?refer=embed"
                >♬ original sound - tipsybartender</a
              >
            </section>
          </blockquote>
          <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@realtipsybartender/video/7297698688854445358"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-950 bg-white text-base hover:text-lg hover:text-purple-900"
              >The Black Jungle Juice</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- The Black Jungle Juice -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
