---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Bibles from "../components/Bibles.astro";
---

<Layout title="Pleiadians in the Bible?">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-sky-500 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Pleiadians in the Bible?
        </h1>
        <h2 class="text-slate-100 sm:text-xl md:text-3xl mt-5 text-center">
          Ex Pastor Reveals Information That Will Blow Your Mind! Asherah -
          Pleiadians in the Bible?
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="pleiadians">
        <p class="mb-4 text-base text-blue-900">
          Ex Pastor Reveals Information That Will Blow Your Mind! Asherah -
          Pleiadians in the Bible?
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/fAvAQrDOE6k"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=fAvAQrDOE6k"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Ex Pastor Reveals Information That Will Blow Your Mind! Asherah -
              Pleiadians in the Bible?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@The5thKind"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >The 5th Kind</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@PaulWallis"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=pjiK9912z3U&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >They Are Already Here! Anunnaki Aliens in the Bible. | Jesus vs
              Yahweh - Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=PGdLN90ZyC8&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Was There a WAR in SPACE between the GODS? Ancient Translations -
              Erich von Däniken & Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.annunaki.org/the-annunaki-in-the-bible/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >THE ANNUNAKI IN THE BIBLE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.annunaki.org/erich-von-daniken/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >ERICH VON DÄNIKEN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./pleiadians"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >Pleiadians</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./pleiadians"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Hakann: You can't skip middle school</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="jordan1">
        <p class="mb-4 text-base text-blue-900">
          JORDAN MAXWELL-ANCIENT ORIGINS, REPTILIANS, ANTARCTICA AND INNER EARTH
          CIVILIZATIONS
        </p>
      </h2>
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/pPk956CNLu9M/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
        >
          <a href="./jordanmaxwell"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Larger View</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/pPk956CNLu9M/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >JORDAN MAXWELL-ANCIENT ORIGINS, REPTILIANS, ANTARCTICA AND INNER
              EARTH CIVILIZATIONS</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          talks about GENESIS-1:26 @20:20
        </p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Aliens in the Bible & Human-ET Hybrids: Paul Wallis | Podcast 341
        @PaulWallis @The5thKind
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/Ix4SDCD-ueY"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Ix4SDCD-ueY&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Aliens in the Bible & Human-ET Hybrids: Paul Wallis | Podcast 341
              @PaulWallis @The5thKind</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=WFIPCsa9ieo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Was Jesus An Extraterrestrial? - 447</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=SOxUTuiZvZ4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Paul Wallis & Billy Carson | Anunnaki Gods, Consciousness & The
              Holographic Universe - July 2022</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=pjiK9912z3U&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >They Are Already Here! Anunnaki Aliens in the Bible. | Jesus vs
              Yahweh - Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=PGdLN90ZyC8&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Was There a WAR in SPACE between the GODS? Ancient Translations -
              Erich von Däniken & Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.annunaki.org/the-annunaki-in-the-bible/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >THE ANNUNAKI IN THE BIBLE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.annunaki.org/erich-von-daniken/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >ERICH VON DÄNIKEN</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- embed-responsive embed-responsive-16by9 relative w-full overflow-hidden -->
    <div class="md:container md:mx-auto">
      <!-- ... -->

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://www.youtube.com/watch?v=s57VILqQ47k"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-red-700 text-base hover:text-lg hover:text-green-900"
                    >Q&A--DOES THE BIBLE EXPLAIN WHERE ALIENS CAME FROM? YES,
                    GOD TELL US IN THE BIBLE!</span
                  >
                </a>
              </div>
              <br class="text-gray-700 text-base" />
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
                  src="https://www.youtube.com/embed/s57VILqQ47k"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- embed-responsive embed-responsive-16by9 relative w-full overflow-hidden -->

      <!-- Card title 2 -->
      <div
        class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
      >
        <p class="mb-4 text-base text-blue-900">
          Extraterrestrials in History and their Implications Today for Human
          Evolution
        </p>
        <div
          class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://rumble.com/embed/v2k68me/?pub=166b2j"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://rumble.com/v2mro38-extraterrestrials-in-history-and-their-implications-today-for-human-evoluti.html"
              rel="noopener"
              target="_blank"
              ><span
                class="text-green-900 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
                >Extraterrestrials in History and their Implications Today for
                Human Evolution</span
              >
            </a>
          </h5>

          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- Card title 2 -->

      <!-- Card title 2 -->
      <div
        class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
      >
        <p class="mb-4 text-base text-blue-900">
          ANUNNAKI | The Devil. War Of The Gods - Dragons & Serpents In The
          Bible. Full Documentary 2021
        </p>
        <div
          class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/YB_KvtHY5JM"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=YB_KvtHY5JM&t=1s"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >ANUNNAKI | The Devil. War Of The Gods - Dragons & Serpents In
                The Bible. Full Documentary 2021</span
              >
            </a>
          </h5>

          <p class="mb-4 text-base text-black text-left">
            Serpent (from Latin: serpens, serpentis) is a word used in
            mythological or religious contexts<br /> to denote a being that looks
            like a snake but has a heightened sense of intelligence.
          </p>
        </div>
      </div>
      <!-- Card title 2 -->

      <!-- Card title 2 -->
      <div
        class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
      >
        <h2 id="iraq">
          <p class="mb-4 text-base text-blue-900">
            You Will Be Stunned By This Information! Finally We Can Begin To
            Understand!
          </p>
        </h2>

        <div
          class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/t_nDUZP1E-w"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a href="./vatican#ice"
              ><span
                class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
                >GO BACK</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=t_nDUZP1E-w"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >You Will Be Stunned By This Information! Finally We Can Begin
                To Understand!</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a href="./stargate"
              ><span
                class="text-green-400 text-xl font-bold hover:text-2xl hover:text-green-900 hover:bg-white"
                >SADDAM HUSSEIN HAD AN ANNUNAKI STARGATE, PLUS TECHNOLOGY</span
              >
            </a>
          </h5>

          <p class="mb-4 text-base text-left text-black">
            Ken Halal 1 year ago
          </p>

          <p class="mb-4 text-base text-left text-black">
            At about 24 minutes into this video you talk about Iraq, the war and
            space portals. My son served 2 tours in Iraq and lost his life on
            his second tour in 2004. However, during the end his first tour he
            told me he was assigned to “special missions”. I asked him what was
            so special about them.
          </p>
          <p class="mb-4 text-base text-left text-black">
            He only told me he saw things he wished he had never seen and that
            he was told if anyone ever asked what they were digging for he was
            to say “weapons of mass destruction”.
          </p>
          <p class="mb-4 text-base text-left text-black">
            Which we all know they never found. I've not thought about this in
            many years until I watched this video.
          </p>
          <Bibles />
        </div>
      </div>
      <!-- Card title 2 -->

      <!-- Card title 2 -->
      <div
        class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
      >
        <p class="mb-4 text-base text-blue-900">
          Who is REALLY CONTROLLING US? Hidden Powers, Kings, Queens, Aliens &
          Gods
        </p>
        <div
          class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/Zn1EiRzmM_k"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=Zn1EiRzmM_k"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Who is REALLY CONTROLLING US? Hidden Powers, Kings, Queens,
                Aliens & Gods</span
              >
            </a>
          </h5>

          <p class="mb-4 text-base text-left text-black">...</p>
        </div>
      </div>
      <!-- Card title 2 -->

      <!-- Card title 2 -->
      <div
        class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
      >
        <p class="mb-4 text-base text-blue-900">
          They Are Already Here! Anunnaki Aliens in the Bible. | Jesus vs Yahweh
          - Paul Wallis 🐇
        </p>
        <div
          class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/pjiK9912z3U"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=pjiK9912z3U"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >They Are Already Here! Anunnaki Aliens in the Bible. | Jesus vs
                Yahweh - Paul Wallis 🐇</span
              >
            </a>
          </h5>

          <p class="mb-4 text-base text-black">
            WHAT KIND OF FATHER WOULD SEND SNAKES
          </p>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=cnRr3vS_UDA"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >"Humans Were Ruled Over By An Advanced NON-HUMAN Species! -
                Then Power Was Passed To Human Kings!"</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=soFSjVX74IE&t=5s"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >10,000-Year-Old Ancient Carvings Reveal a Strange Truth...!</span
              >
            </a>
          </h5>
        </div>
      </div>
      <!-- Card title 2 -->
    </div>
  </main>
</Layout>

<Footer client:only="react" />
