---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Dmsolist from "../components/Dmsolist.astro";
import Biow from "../components/Biow.astro";
import Lista from "../components/Lista.astro";
---

<Layout title="Bioweapon">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-blue-900 to-sky-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Bioweapon
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          THE COVID VAX IS A SCHEDULE 4 POISON
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          HIGHLY infectious PARASITES found in CV19 Vaccines!! (PROOF)
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <h2 id="screwed">
        <p class="mb-4 text-base text-blue-900">
          Dr. Malone To Those Who Got The Covid Shot… You Are Screwed!!!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/5e18f79d-7601-4471-83b1-f6d1f09b332c"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
        >
          <a href="/lawsuit"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >VAX CLASS ACTION LAWSUIT</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/5e18f79d-7601-4471-83b1-f6d1f09b332c"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Dr. Malone To Those Who Got The Covid Shot… You Are Screwed!!!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./no-virus"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >NO VIRUS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >VIDEO PROOF: CANCER IS CAUSED BY PARASITES
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bioweapon"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Bioweapon</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./autism"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >AUTISM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nuremberg"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Nuremberg 2.0</span
            >
          </a>
        </h5>
        <Biow />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- What you didn't know about the C19 vaccine - Dr. Mike Yeadon -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="yeadon">
        <p class="mb-4 text-base text-blue-900">
          What you didn't know about the C19 vaccine - Dr. Mike Yeadon
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/7fcef3ed-3771-4bdd-8061-fc2f5fea6ab4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7fcef3ed-3771-4bdd-8061-fc2f5fea6ab4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >What you didn't know about the C19 vaccine - Dr. Mike Yeadon</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=231769"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >What you didn't know about the C19 vaccine - Dr. Mike Yeadon</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- What you didn't know about the C19 vaccine - Dr. Mike Yeadon -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="highly">
        <p class="mb-4 text-base text-blue-900">
          HIGHLY infectious PARASITES found in CV19 Vaccines!! (PROOF)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/0d18d892-46f6-4e01-ba83-2d6db89b1a94"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/0d18d892-46f6-4e01-ba83-2d6db89b1a94"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >HIGHLY infectious PARASITES found in CV19 Vaccines!! (PROOF)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=227272"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >In Response To: HIGHLY infectious PARASITES found in CV19
              Vaccines!! (PROOF) (video) (CrystalRiver)</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        In Response To: HIGHLY infectious PARASITES found in CV19 Vaccines!!
        (PROOF) (video) (CrystalRiver)
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=227272"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/0d18d892-46f6-4e01-ba83-2d6db89b1a94"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >HIGHLY infectious PARASITES found in CV19 Vaccines!! (PROOF)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=227272"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >In Response To: HIGHLY infectious PARASITES found in CV19
              Vaccines!! (PROOF) (video) (CrystalRiver)</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Extraordinary data out of New Zealand -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="data">
        <p class="mb-4 text-base text-blue-600">
          Extraordinary data out of New Zealand
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=231187"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/0d18d892-46f6-4e01-ba83-2d6db89b1a94"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >HIGHLY infectious PARASITES found in CV19 Vaccines!! (PROOF)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=231187"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >Extraordinary data out of New Zealand</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Extraordinary data out of New Zealand -->

    <!-- Polio was Poison - Not Plague. Them Again. -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="polio">
        <p class="mb-4 text-base text-blue-900">
          Polio was Poison - Not Plague. Them Again.
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/kG46z4azk9IB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/kG46z4azk9IB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Polio was Poison - Not Plague. Them Again.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d2524720-7250-4c83-8d31-42d5c6273bf5"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Medical Misinformation: The Dark Side of Vaccines</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/1847f3b7-3747-4267-9d20-d75a2205a519"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Grandmother of 10 destroyed by the Covid vaccine - the lucky ones
              die quickly in this genocide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/f937c648-1624-4cbd-89d6-bc21a7048024"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >"It's important for us to stand against the anti viaxers." If
              only she could stand after her jabs</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Polio was Poison - Not Plague. Them Again. -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        BOMBSHELL!!! Pfizer Exposed For Exploring "Mutating" COVID-19 Virus!
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/50d9f2ca-bb4a-4685-a891-f583326e7b95"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/50d9f2ca-bb4a-4685-a891-f583326e7b95"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >BOMBSHELL!!! Pfizer Exposed For Exploring "Mutating" COVID-19
              Virus!</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- A SCHEDULE 4 POISON -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="dieoff">
        <p class="mb-4 text-base text-blue-600">
          Documents Reveal Australian Govts Openly Schemed To POISON Citizens/
          Children! Then A Mass Die-Off
        </p>
      </h2>
      <p class="mb-4 text-base text-blue-600">
        THE COVID VAX IS A SCHEDULE 4 POISON
      </p>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1fes6x/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1i0y2r-documents-reveal-australian-govts-openly-schemed-to-poison-citizens-childre.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Documents Reveal Australian Govts Openly Schemed To POISON
              Citizens/ Children! Then A Mass Die-Off</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://timtruth.substack.com/p/breaking-western-australia-govt-puts"
            rel="noopener"
            target="_blank"
            ><span
              class="text-center text-white bg-black text-xl font-bold hover:bg-red-700"
              >FULL REPORT</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- A SCHEDULE 4 POISON -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        Australia Agency Covering Up CHILD GENOCIDE: Kids In Australia DIE From
        CLOT SHOT Heart Attacks
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/4a25ed00-2f75-47e0-b1b9-9f1cf02a9782"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/4a25ed00-2f75-47e0-b1b9-9f1cf02a9782"
            rel="noopener"
            target="_blank"
            ><span class="text-blue-500 text-base hover:text-green-900"
              >Australia Agency Covering Up CHILD GENOCIDE: Kids In Australia
              DIE From CLOT SHOT Heart Attacks</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- VAX CLASS ACTION LAWSUIT! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="class">
        <p class="mb-4 text-base text-blue-600">
          HUGE! VAX CLASS ACTION LAWSUIT! - AUSTRALIANS DEMAND JUSTICE FOR THE
          GOVERNMENT'S TYRANNY!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 3.25%"
        >
          <div class="ifw-player" data-video-id="64567870c9796709436c42c4">
          </div><script src="https://infowarsmedia.com/js/player.js" async
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href='./bioweapon#class"'
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >HUGE! VAX CLASS ACTION LAWSUIT! - AUSTRALIANS DEMAND JUSTICE FOR
              THE GOVERNMENT'S TYRANNY!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://banned.video/watch?id=64567870c9796709436c42c4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-black delay-300 hover:font-bold hover:text-green-900"
              >VAX CLASS ACTION LAWSUIT: Australians Demand Justice For Govt’s
              Medical Tyranny</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=222141"
            rel="noopener"
            target="_blank"
            ><span class="text-red-700 delay-200 hover:text-green-900"
              >VAX CLASS ACTION LAWSUIT: Australians Demand Justice For Govt’s
              Medical Tyranny</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.infowars.com/posts/vax-class-action-lawsuit-australians-demand-justice-for-the-governments-medical-tyranny/"
            rel="noopener"
            target="_blank"
            ><span class="text-red-700 delay-200 hover:text-green-900"
              >VAX CLASS ACTION LAWSUIT: Australians Demand Justice For Govt’s
              Medical Tyranny</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- VAX CLASS ACTION LAWSUIT! -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        Covid Intentionally MUTATED From Common Cold? Covid-19 Timeline Reveals
        BIOENGINEERING From 1960s. @12:20
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/fb176013-0e80-448b-ae41-f749bd5ed176"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/fb176013-0e80-448b-ae41-f749bd5ed176"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Covid Intentionally MUTATED From Common Cold?<br />
              Covid-19 Timeline Reveals BIOENGINEERING From 1960s. @12:20</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        What you didn't know about the C19 vaccine - Dr. Mike Yeadon
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/7fcef3ed-3771-4bdd-8061-fc2f5fea6ab4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7fcef3ed-3771-4bdd-8061-fc2f5fea6ab4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >What you didn't know about the C19 vaccine - Dr. Mike Yeadon</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Mike Yeadon, former Chief Scientific Advisor at PZIZER, is speaking
          out about the atrocities he is seeing since the C19 vaccine rollout.
          August 22, 2023
        </p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 3A -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      A Dean Koontz novel written in 1981 predicted the outbreak of the
      coronavirus!<div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 6.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              A Dean Koontz novel written in 1981 predicted the outbreak of the
              coronavirus! <a href="https://t.co/bjjqq6TzOl"
                >pic.twitter.com/bjjqq6TzOl</a
              >
            </p>&mdash; Nick Hinton (@NickHintonn) <a
              href="https://twitter.com/NickHintonn/status/1228896027987660800?ref_src=twsrc%5Etfw"
              >February 16, 2020</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/NickHintonn/status/1228896027987660800"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >A Dean Koontz novel written in 1981 predicted the outbreak of the
              coronavirus!</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Card title 3A -->

    <!-- Card title 3A -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      This video is remarkable. Over 10 years ago Alex Jones read their
      documents with all their plans to use a pandemic emergency to usher in a
      new dark age of total control. <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 6.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              This video is remarkable. Over 10 years ago Alex Jones read their
              documents with all their plans to use a pandemic emergency to
              usher in a new dark age of total control. Everyone thought Alex
              was crazy. <br />He is vindicated <a
                href="https://t.co/Ng1eylAzxW">pic.twitter.com/Ng1eylAzxW</a
              >
            </p>&mdash; Melissa Tate (@TheRightMelissa) <a
              href="https://twitter.com/TheRightMelissa/status/1633846441113206785?ref_src=twsrc%5Etfw"
              >March 9, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/TheRightMelissa/status/1633846441113206785"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >This video is remarkable. Over 10 years ago Alex Jones read their
              documents with all their plans to use a pandemic emergency to
              usher in a new dark age of total control.
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://thehighwire.com/sv/the-real-alex-jones-part-2-3373e2e707f263d917cfe94ad7e86f64acbe5446ac5a7b2572ae1f2887c43f6e/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >THE REAL ALEX JONES | PART 2</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Card title 3A -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        MASS VACCINE DISCLOSURE! - Have We Reached The WORLDWIDE AWAKENING?
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 3.25%"
        >
          <div class="ifw-player" data-video-id="647cbeaf44695d24398714ea">
          </div><script src="https://infowarsmedia.com/js/player.js" async
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://madmaxworld.tv/watch?id=647cbeaf44695d24398714ea"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >MASS VACCINE DISCLOSURE! - Have We Reached The WORLDWIDE
              AWAKENING?</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        DANGEROUS VACCINES - Who is responsible for their safety?
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/d5b0b664-2466-43c8-bd76-db8f9938a7fa"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d5b0b664-2466-43c8-bd76-db8f9938a7fa"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >DANGEROUS VACCINES - Who is responsible for their safety?</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        MUST WATCH!!! FUNERAL DIRECTOR JOHN O'LOONEY BLOWS THE WHISTLE ON COVID
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/gigUyK3yLtMU/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/gigUyK3yLtMU/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >MUST WATCH!!! FUNERAL DIRECTOR JOHN O'LOONEY BLOWS THE WHISTLE ON
              COVID</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nuremberg"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Nuremberg 2.0</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        90 fresh new graves in a small town of 13,000 in New Zealand
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1d6ag1/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1fsgcz-90-fresh-new-graves-in-a-small-town-of-13000-in-new-zealand.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >90 fresh new graves in a small town of 13,000 in New Zealand</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/user/Seemorerocks97"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Seemorerocks97</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">Pfizer Under Question</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/I7wc3wQq2_s"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=I7wc3wQq2_s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Pfizer Under Question</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="pfizer1">
        <p class="mb-4 text-base text-blue-600">Simple questions for Pfizer</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/hN4o3lJR0yM"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=hN4o3lJR0yM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Simple questions for Pfizer</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@Campbellteaching"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Dr. John Campbell
            </span>
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        The Alex Jones Show: 2 Aug 2023
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/xu7Hu-o_lKA"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=xu7Hu-o_lKA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >The Alex Jones Show: 2 Aug 2023</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="mutant">
        <p class="mb-4 text-base text-blue-600">
          Mutant children of the vaxxed - Standing in 2 days, walking in 2
          weeks. Altered Gnomes
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/2998065f-bba3-4ec7-a14e-ae2db1c8db8b"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/2998065f-bba3-4ec7-a14e-ae2db1c8db8b"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Mutant children of the vaxxed - Standing in 2 days, walking in 2
              weeks. Altered Gnomes</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v330ry6-dr.-ardis-reveals-the-venom-is-in-the-vaxxs-food-water-drugs-etc.-and-how-t.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Dr. Ardis reveals venom is in the Vaxx's, food, water, drugs,
              etc. and how to defeat it.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./billwood#kerry"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >KERRY CASSIDY AND MICHAEL JACO: LOOKING GLASS AND THE BATTLE FOR
              EARTH</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ardis">
        <p class="mb-4 text-base text-blue-600">
          Dr. Ardis reveals venom is in the Vaxx's, food, water, drugs, etc. and
          how to defeat it.
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v30fd4a/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/2998065f-bba3-4ec7-a14e-ae2db1c8db8b"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Mutant children of the vaxxed - Standing in 2 days, walking in 2
              weeks. Altered Gnomes</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v330ry6-dr.-ardis-reveals-the-venom-is-in-the-vaxxs-food-water-drugs-etc.-and-how-t.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Dr. Ardis reveals venom is in the Vaxx's, food, water, drugs,
              etc. and how to defeat it.</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie That Is Suffering From Something -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="bluetooth">
        <p class="mb-4 text-base text-blue-600">
          Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie
          That Is Suffering From Something
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/1737c7ca-9940-4ce4-ba4d-8d274260ea9f"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/1737c7ca-9940-4ce4-ba4d-8d274260ea9f"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >Someone's Body Gets Connected To Bluetooth And A Grocery Store
              Zombie That Is Suffering From Something</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie That Is Suffering From Something -->

    <!-- WATCH VACCINE NANO BOTS KILL AFTER BEING ACTIVATED BY A CELL PHONE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="phone">
        <p class="mb-4 text-base text-blue-600">
          WATCH VACCINE NANO BOTS KILL AFTER BEING ACTIVATED BY A CELL PHONE
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/R25rWpK5zaAr/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/R25rWpK5zaAr/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >WATCH VACCINE NANO BOTS KILL AFTER BEING ACTIVATED BY A CELL
              PHONE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/zu0QedYROO2Z/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >MARK OF THE BEAST VACCINE PASSPORT SYSTEM CONFIRMED</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- WATCH VACCINE NANO BOTS KILL AFTER BEING ACTIVATED BY A CELL PHONE -->

    <!-- "Did I Understand You To Say MOST Deaths Were Among The Vaccinated?" -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="vaccinated">
        <p class="mb-4 text-base text-blue-600">
          "Did I Understand You To Say MOST Deaths Were Among The Vaccinated?"
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/d546cdfe-fc55-4b30-95e7-9971e5d8de31"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d546cdfe-fc55-4b30-95e7-9971e5d8de31"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-900 text-base hover:text-lg hover:text-blue-950"
              >"Did I Understand You To Say MOST Deaths Were Among The
              Vaccinated?"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232880"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-800 text-base hover:text-lg hover:text-red-600"
              >"Did I Understand You To Say MOST Deaths Were Among The
              Vaccinated?"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/f654f1c1-f4a9-46af-b868-d59868ef1858"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >Dr. McCullough Reveals More Very Bad News About The Hearts Of All
              The mRNA Injected</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/8c3edeb7-3dbf-4253-b4c1-4e7a32968af3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >How Many Lives has CENSORSHIP Cost? with Dr. Peter McCullough |
              Flyover Clips</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/59a584fc-9bcc-419a-83e9-8bbeca6207b6"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >Cardiac Arrest In Young People!</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- "Did I Understand You To Say MOST Deaths Were Among The Vaccinated?" -->

    <!-- Card title 2 -->
    <Footer client:only="react" />
  </main>
</Layout>
