---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
---

<Layout title="Bluewater">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-sky-400 to-blue-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Bluewater
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center"></h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Learjet Plane Vanish With Commentary by David Copperfield- Airplane Disappears -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="learjet">
        <p class="mb-4 text-base text-blue-500">
          Learjet Plane Vanish With Commentary by David Copperfield- Airplane
          Disappears
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/1K9_ZZHnZnw"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/G5ChJ3EaDsHA/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Learjet Plane Vanish With Commentary by David Copperfield-
              Airplane Disappears</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Learjet Plane Vanish With Commentary by David Copperfield- Airplane Disappears -->

    <!-- Card title 2A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      DEMONS HELP MAGICIANS! SOUL SELLING RITUALS!<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/AEpvazfjTEVD/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/AEpvazfjTEVD/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >DEMONS HELP MAGICIANS! SOUL SELLING RITUALS!</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          David Copperfield would make jets<br /> on a runaway disappear..Portal<br
          />
          He also abducted young woman to an island in The Caribbean.....<br />
          some say he forced them<br />
          against their will.<br />
          most of these magicians in Las Vegas...are not human<br />
          <br />
          christian
        </p>
      </div>
    </div>
    <!-- Card title 2A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      MOTHERSHIP PARTIALLY CLOACKED<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/UoNI9lQxSSQT/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/UoNI9lQxSSQT/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >MOTHERSHIP PARTIALLY CLOACKED</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">...</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="vatican">DRACONIAN REPTILIAN SHOWN BY THE VATICAN</h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/VEPnxCEzOXIB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
        >
          <a href="./vatican"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Larger View</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/VEPnxCEzOXIB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >Q for Anons reveals Vatican Rothschild Reptilian Connection
              behind the Deep State - ExoPolitics</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">...</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <p class="mb-4 text-base text-black text-transform: uppercase">
        read description
      </p><div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/Xsd7PUskXx2i/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Xsd7PUskXx2i/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >ALIEN CONTACT THE GOVERNMENT COVER-UP THE HIDDEN HAND | FULL
              DOCUMENTARY</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          Again i have to repeat myself because these @ssholes BITCH BOYS
          deleted so much.<br />
          Whitley Strieber was a client of mine and i was with him one day,<br
          /> when we went to his townhouse in Brooklyn heights when men pulled up<br
          />
          and rang his door as we were walking up the stairs to his townhouse....MORE
          in READ DESCRIPTION
        </p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 3A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/Kekouwxrx04o/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Kekouwxrx04o/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >HUMAN RACE</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          You were created with Divinty..a spark of the Creator<br />
          You were created with 22 different ET RACES that make up your DNA<br
          />
          and then the Anunnaki / Reptilians came here <br />and messed with you
          to keep you in SLAVERY<br />
          with a two strand DNA used by the MEDICAL MAFIA , <br />NYC Sanitation
          Dept uses the same symbol<br />
          Enki and Enlil....that is your little story in the buy bull <br />of
          ADAM AND EVE.<br />
          WAKE THE FLOCK UP.......<br />
          no negative48 aka as jesus christ is coming
        </p>
      </div>
    </div>
    <!-- Card title 3A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/kmAiGeWvo6DJ/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/kmAiGeWvo6DJ/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >BIG HUGE MESSAGE FOR HUMANITY</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          PAUSE VIDEO ,<br />
          GET EVERY ONE IN THE ROOM,<br />ALL THE CHILDREN,DOGS CATS BIRDS,ALL
          HUMANITY,<br />
          "YOU WONA BE SITTING DOWN FOR THIS !!!
        </p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- TAROT JANINE 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="janine">TAROT JANINE WEARING AN ANKLE MONITOR</h2><div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/Y1D6de3yc4UB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Y1D6de3yc4UB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >TAROT JANINE WEARING AN ANKLE MONITOR</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          First published at 11:37 UTC on May 12th, 2023.
        </p>
        <p class="mb-4 text-base text-left text-black">
          Events are moving faster,<br /> and now even low- and mid-level arrests
          are happening.<br />
        </p>
      </div>
    </div>
    <!-- TAROT JANINE 4A -->

    <!-- TAROT JANINE 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/FE0Z4lpiOh0"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=FE0Z4lpiOh0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Why did WA Premier Mark McGowan resign? 🤔 #NoAmnesty #TheVoice
              #CovidRoyalCommission</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Y1D6de3yc4UB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >TAROT JANINE WEARING AN ANKLE MONITOR</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          First published at 11:37 UTC on May 12th, 2023.
        </p>
        <p class="mb-4 text-base text-left text-black">
          Events are moving faster,<br /> and now even low- and mid-level arrests
          are happening.<br />
        </p>
      </div>
    </div>
    <!-- TAROT JANINE 4A -->

    <!-- TAROT JANINE 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/K7Xrw8uzLLPP/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/K7Xrw8uzLLPP/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >LAURA AND CHRISTIAN</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          christian<br />
          i said last week military police just about to activate,<br />and the
          crooks will slowly go,,,<br /> janine on tag,,,,,shit loads more to come,,,,<br
          />military police <br />"WILL NOT BE ARRESTING POLICE WORLDWIDE
          NICELY"
        </p>
      </div>
    </div>
    <!-- TAROT JANINE 4A -->

    <!-- TAROT JANINE 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/kFMmYJzAeRcP/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/kFMmYJzAeRcP/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >OBUMMER AND MICHAEL</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          christian WILL BE EXPLAINING THE RELIGION THING TONIGHT ,<br />MANY
          MORE SUBJECTS ,,,<br />HUMANITY REALY NEED TO START PULLING THER SOCKS
          UP NOW ...<br />ESPECIALY IF YOUR HERE IN UK.....<br /> THE BULLSHIT IS
          BEYOND HUMAN IMAGINATION......<br /> 80 % of uk are in a coma<br />

          RE-CHARGED,AND BACK TONIGHT.....<br /> SERIOUS SERIOUS SHIT GOIN DOWN,,,<br
          />MILITARY POLICE ACTIVATED,,,, <br />LOCAL PEODOS BEING PICKED UP
          NOW,<br />
          LOCAL PEODOS=BUCKLE UP FOR THIS ,<br />THER ALL AROUND YOU ,THE MOST
          UNEXPECTED,,,,, <br />POLICE ARRESTS WILL FOLLOW ,,<br />POLICE WILL
          BE ARRESTED FROM NOW OVER THE NEXT FEW WEEKS ,<br />THEN ALL POLICE
          LEFT WILL STAND DOWN WHEN EARTH SHUTS DOWN.....<br />THE MOST CORRUPT
          POLICE WILL BE ARRESTED FIRST ,<br />LIKE I SAID OVER NEXT FEW WEEKS ,<br
          />
        </p>
      </div>
    </div>
    <!-- TAROT JANINE 4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/6CZd16lyGJK1/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/6CZd16lyGJK1/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >VRIL_ REPTILLIAN NAZI WORLD ORDER OVERLORDS</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">CNN</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      DARK OUTPOST 08.04.2022 SHOCK REPORT: TRUTHER CHARLIE WARD KILLED!<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/LNOq43WXCRPl/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/LNOq43WXCRPl/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left hover:text-lg hover:text-green-900"
              >DARK OUTPOST 08.04.2022 SHOCK REPORT: TRUTHER CHARLIE WARD
              KILLED!</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">...</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="dunn">
        <p class="mb-4 text-base text-purple-700">
          Kent Dunn talks about LOOSH @7:10
        </p>
      </h2>
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/zfeDu15jmO7Y/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/zfeDu15jmO7Y/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >WARS FOR LOOSH</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/june/june-6-2023.mp3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Kent Dunn talks about LOOSH @7:10</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/june/june-6-2023.mp3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Kent Dunn talks about Henry Kissinger @15:20 @16:40</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">...</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- ILLUMINATI RACES -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="races">
        <p class="mb-4 text-base text-blue-500">ILLUMINATI RACES</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/G5ChJ3EaDsHA/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/G5ChJ3EaDsHA/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >ILLUMINATI RACES
            </span>
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          we have been here for more than 25 million years
        </p>
      </div>
    </div>
    <!-- ILLUMINATI RACES -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      THIS SAYS IT ALL<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/90vQdgTjF5B3/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/90vQdgTjF5B3/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >THIS SAYS IT ALL</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">...</p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ASCENSION SYMPTOMS<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/HVsjO1gpaJrc/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/HVsjO1gpaJrc/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >ASCENSION SYMPTOMS</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          To all those good people who are suffering from any dis-ease, not
          having enough money to eat and pay rent or bills etc...do not worry as
          in 3 months ..your suffering will be over.
        </p>
        <p class="mb-4 text-base text-left text-black">
          First published at 12:37 UTC on August 24th, 2023.
        </p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- CHINA CHONGQING -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="china">
        <p class="mb-4 text-base text-blue-500">CHINA CHONGQING</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/H7kRYF42pb22/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/H7kRYF42pb22/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >CHINA CHONGQING</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
      </div>
    </div>
    <!-- CHINA CHONGQING -->

    <!-- Footer  -->
  </main>
</Layout>

<Footer client:only="react" />
