---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Dmsocc";
import Footer from "../components/Footercc";
import Dmsolist from "../components/Dmsolist.astro";
import Lista from "../components/Lista.astro";
---

<Layout title="BORON BORIC ACID & BORAX.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-600 to-sky-500 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          BORAX
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          BORON BORIC ACID & BORAX
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- BORON BORIC ACID & BORAX -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <p class="mb-4 text-base text-blue-600">BORON BORIC ACID & BORAX</p>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/jY0gf6SvelOH/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/jY0gf6SvelOH/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >BORON BORIC ACID & BORAX</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- BORON BORIC ACID & BORAX -->

    <!-- How to Take Diatomaceous Earth: The Step-by-Step Guide -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        How to Take Diatomaceous Earth: The Step-by-Step Guide
      </p>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/9nu9wUe1pSI?si=KPB_Rs4ktQf-PUdh"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=9nu9wUe1pSI"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >How to Take Diatomaceous Earth: The Step-by-Step Guide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://happymammoth.com/blogs/happy-blog/31-health-benefits-of-diatomaceous-earth"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >The 31 Evidence-Backed Health Benefits of Diatomaceous Earth</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.boldsky.com/health/nutrition/2019/diatomaceous-earth-uses-benefits-recipes-127714.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Astonishing Benefits Of Diatomaceous Earth You Need To Know</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- How to Take Diatomaceous Earth: The Step-by-Step Guide -->

    <Footer client:only="react" />
  </main>
</Layout>
