---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Dmsocc";
import Footer from "../components/Footercc";
import Dmsolist from "../components/Dmsolist.astro";
import Lista from "../components/Lista.astro";
import Aching from "../components/Aching.astro";
import BORON from "../components/BORON.astro";
import Niacinamide from "../components/Niacinamide.astro";
---

<Layout title="BORON BORIC ACID & BORAX.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-600 to-sky-500 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          BORAX
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          BORON BORIC ACID & BORAX
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Is Silicon Good For Bones?
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- BORON BORIC ACID & BORAX -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <h2 id="boron">
        <p class="mb-4 text-base text-blue-600">BORON BORIC ACID & BORAX</p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/jY0gf6SvelOH/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/jY0gf6SvelOH/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >BORON BORIC ACID & BORAX</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- BORON BORIC ACID & BORAX -->

    <!-- THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS, CANCERS, ARTHRITIS & MORE ... -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="borax">
        <p class="mb-4 text-base text-blue-600">
          THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
          CANCERS, ARTHRITIS & MORE ...
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/MQOM43LGlFA1/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <BORON />
        <Niacinamide />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/MQOM43LGlFA1/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE
              EFFECTS, CANCERS, ARTHRITIS & MORE ...</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-gray-800 text-justify">
          This video is simply amazing? Many illnesses including cancers and
          adverse vaccine effects can be remedied according to Dr Walter Last's
          studies in Perth Australia in the 1970's ...
        </p>
        <p class="mb-4 text-base text-gray-800 text-justify">
          All natural springs have high levels of Boron and why sitting in one
          eases many aches n pains and naturally the Govt and health officials
          shut the study down CONFIRMING it assists strengthening our bone
          structure, thyroid protection, decalsification of the Pineal Gland,
          weight loss, belly fat reduction, menopause and many other usual aged
          body complaints ...
        </p>
        <p class="mb-4 text-base text-gray-800 text-justify">...</p>
        <p class="mb-4 text-base text-gray-800 text-justify">
          If boron hardens teeth and bones and regulates cells, why doesn’t the
          dental and medical industry recommend these? Why isn’t boron used in
          toothpaste?
        </p>
        <p class="mb-4 text-base text-gray-800 text-justify">
          PLEASE SHARE TO ALL VAXXED AND UNVAXXED!!!
        </p>
        <Aching />
      </div>
    </div>
    <!-- THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS, CANCERS, ARTHRITIS & MORE ... -->

    <!-- Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="aching">
        <p class="mb-4 text-base text-blue-600">
          Aching Joints? This “Miracle Mineral” Could End Your Suffering –
          Dr.Berg
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/ZWrMhU577SY"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ZWrMhU577SY"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Aching Joints? This “Miracle Mineral” Could End Your Suffering –
              Dr.Berg</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <Aching />
      </div>
    </div>
    <!-- Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg -->

    <!-- The Best Diet for a Healing Bone: Fracture, Surgery or Trauma -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="fracture">
        <p class="mb-4 text-base text-yellow-500">
          The Best Diet for a Healing Bone: Fracture, Surgery or Trauma
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/moSq3Dr9MeE"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=moSq3Dr9MeE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-yellow-500 text-base hover:text-lg hover:text-green-900"
              >The Best Diet for a Healing Bone: Fracture, Surgery or Trauma</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=4ZAqYtJW8hI"
            rel="noopener"
            target="_blank"
            ><span
              class="text-yellow-500 text-base hover:text-lg hover:text-green-900"
              >Wanna heal a stress fracture? Make bone faster than you break it
              down!</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- The Best Diet for a Healing Bone: Fracture, Surgery or Trauma -->

    <!-- BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS
      </p>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/b7b15330-5c3f-4543-a14d-edca11868f6d"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/b7b15330-5c3f-4543-a14d-edca11868f6d"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS -->

    <!-- How to Take Diatomaceous Earth: The Step-by-Step Guide -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="diatomaceous">
        <p class="mb-4 text-base text-blue-600">
          How to Take Diatomaceous Earth: The Step-by-Step Guide
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/9nu9wUe1pSI?si=KPB_Rs4ktQf-PUdh"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=9nu9wUe1pSI"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >How to Take Diatomaceous Earth: The Step-by-Step Guide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://happymammoth.com/blogs/happy-blog/31-health-benefits-of-diatomaceous-earth"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >The 31 Evidence-Backed Health Benefits of Diatomaceous Earth</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.boldsky.com/health/nutrition/2019/diatomaceous-earth-uses-benefits-recipes-127714.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Astonishing Benefits Of Diatomaceous Earth You Need To Know</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.earthclinic.com/cures/fractures.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Natural Treatments for Bone Fractures</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          While broken bones do necessitate evaluation by a medical
          professional,<br />
          many home treatments can be used to speed and aid healing of fractures.
          <br />
          Many options are typically even effective as hip fracture treatment. <br
          />
          One of the best ways to heal bones is creating a comfrey poultice or <br
          />
          compress using several tablespoons of comfrey mixed into a paste with water.
          <br />
          Applied topically to the wounded area and bound with a cotton cloth, <br
          />
          this method shortens healing time and bonds bone together more effectively.
          <br />
          Additionally, DMSO, garlic, MSM and turmeric are effective supplements
          <br />
          for supporting bone healing.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.betterbones.com/fractures-and-healing/speed-up-fracture-healing/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >6 Steps for Healing Broken Bone (Fractures) Faster</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          4. Boost your mineral intake<br />
          By weight, bone is roughly 70% minerals <br />
          (calcium, phosphorus, magnesium, silicon, zinc, etc.)<br />
          and fracture healing requires available minerals. <br />
          Most of us under-consume minerals on an everyday basis, <br />
          so drawing minerals to the healing site can often involve <br />
          a process of “stealing from Peter to pay Paul.” <br />
          (See our 20 key bone nutrients for details on average mineral intake.)
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.betterbones.com/bone-nutrition/20-key-bone-nutrients/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >20 key bone building nutrients — an overview</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://richardharriscoaching.com/blog/diatomaceous-earth-benefits"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Diatomaceous Earth Benefits</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Bones contain more silicone than calcium,<br /> and supplementing silica
          from diatomaceous earth increases bone mass.<br /> Osteoporosis is a leading
          cause of death.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.hindawi.com/journals/jos/2017/4218472/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Nutritional Aspects of Bone Health and Fracture Healing
              (supplement healed)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">
          Moreover, bone fractures in approximately 25% of patients<br />
          who received the supplement healed in only 10 weeks,<br />
          but only 14% of patients had the same effect in the control group.<br
          />
          Patients receiving the supplement also reported<br />
          a significant improvement in general sense of personal wellness.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.algaecal.com/osteoporosis-treatment/bone-healing/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Bone Fracture Healing Guide: Stages</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://alivenhealthy.com/2022/03/14/how-to-use-dmso-with-cds-mms-or-as-a-stand-alone-medicine/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-base hover:text-lg hover:text-green-900"
              >How to Use DMSO with CDS / MMS or as a Stand-Alone Medicine</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://naturalon.com/8-things-you-never-knew-about-diatomaceous-earth/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-base hover:text-lg hover:text-green-900"
              >8 Things You Never Knew about Diatomaceous Earth</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Silica can speed the healing of fractures<br /> and minimize the scaring
          at the location<br /> where the break or fracture occurred.
        </p>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          1. Improves bone health<br />

          Vitamin D and calcium are simply not enough for proper bone growth and
          bone density.<br />
          If the truth be told, <br />
          the body simply cannot use calcium to build bones without the presence
          of silica. <br />
          Recent studies show that to re-mineralize and repair damaged or weak bones,
          <br />
          silica supplements need to be taken. <br />
          Silica can speed the healing of fractures <br />
          and minimize the scaring at the location where the break <br />
          or fracture occurred. Read also about common diseases caused by a lack
          of vitamin D.
        </p>
      </div>
    </div>
    <!-- How to Take Diatomaceous Earth: The Step-by-Step Guide -->

    <!-- EVERYTHING YOU NEED TO KNOW ABOUT DIATOMACEOUS EARTH  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="earth">
        <p class="mb-4 text-base text-blue-600">
          EVERYTHING YOU NEED TO KNOW ABOUT DIATOMACEOUS EARTH
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.nothingsincurable.com/everything-about-diatomaceous-earth/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.nothingsincurable.com/everything-about-diatomaceous-earth/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >EVERYTHING YOU NEED TO KNOW ABOUT DIATOMACEOUS EARTH</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">
          What happened to my friends?<br />
          <br />
          One of my friends, an older woman who lives in Canada<br />
          was diagnosed with type ll diabetes and high cholesterol.<br />
          Within a 6 month period, she did a blood test that came back<br />
          not only negative for type ll diabetes and high cholesterol <br />
          but according to her allopathic doctor, <br />
          her markers were well below the line. <br />
          She also did a colonoscopy <br />
          and they said her colon is pink and looks like a newborn.
        </p>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- EVERYTHING YOU NEED TO KNOW ABOUT DIATOMACEOUS EARTH  -->

    <!-- How to Apply Diatomaceous Earth on your Pets!  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="silicon">
        <p class="mb-4 text-base text-blue-600">
          How to Apply Diatomaceous Earth on your Pets!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/d3OE5dN08I8"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=d3OE5dN08I8&t=6s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >How to Apply Diatomaceous Earth on your Pets!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.petandgarden.com.au/diatomaceous-earth/1568-diatomaceous-earth-food-grade-4kg.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 text-base hover:text-lg hover:text-green-900"
              >Diatomaceous Earth (Food Grade) 4kg</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- How to Apply Diatomaceous Earth on your Pets!  -->

    <!-- COMFREY POULTICE - STEP BY STEP - HOW TO DO IT (OAG 2017)  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="comfrey">
        <p class="mb-4 text-base text-blue-600">
          COMFREY POULTICE - STEP BY STEP - HOW TO DO IT (OAG 2017)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/SCmlvkRGyMo"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=SCmlvkRGyMo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >COMFREY POULTICE - STEP BY STEP - HOW TO DO IT (OAG 2017)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- COMFREY POULTICE - STEP BY STEP - HOW TO DO IT (OAG 2017)  -->

    <!-- Discovering Silicon for Bone Health -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="silicon">
        <p class="mb-4 text-base text-blue-600">
          Discovering Silicon for Bone Health
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/uN6L_pAJa5w"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=uN6L_pAJa5w"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Discovering Silicon for Bone Health</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://response-avoid.com/qa/is-silicon-good-for-bones-2.html?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Is Silicon Good For Bones?</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Discovering Silicon for Bone Health -->

    <!-- Discovering Silicon for Bone Health -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="stronger">
        <p class="mb-4 text-base text-blue-600">Stronger bones</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/6xkjZlDayII"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=6xkjZlDayII"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Stronger bones
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://response-avoid.com/qa/is-silicon-good-for-bones-2.html?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Is Silicon Good For Bones?</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Discovering Silicon for Bone Health -->

    <Footer client:only="react" />
  </main>
</Layout>
