---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="CANCER | IS CANCER CAUSED BY PARASITES ?">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          CANCER
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          IS CANCER CAUSED BY PARASITES ?
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 1A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/70yyHUzq-sU"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=70yyHUzq-sU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-left text-xl font-bold hover:text-2xl hover:bg-green-900"
              >VIDEO PROOF: CANCER IS CAUSED BY PARASITES</span
            >
          </a>
        </h5>
        <section class="text-gray-900 text-left font-bold text-xl mb-2">
          Also have look at <br />
          <a href="/cds-mms"
            ><span class="text-red-700 hover:text-2xl hover:text-green-900"
              >CDS MMS</span
            >
          </a>.

          <br />
          <a href="/hydrogen-peroxide"
            ><span class="text-red-700 hover:text-2xl hover:text-green-900"
              >Hydrogen Peroxide</span
            >
          </a>.
          <br />
          <a href="/boric"
            ><span class="text-red-700 hover:text-2xl hover:text-green-900"
              >BORON BORIC ACID & BORAX</span
            >
          </a>.
        </section>
      </div>
    </div>

    <!-- Card title 1A -->

    <!-- Card title 7A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/0IvI8odaGPo"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=0IvI8odaGPo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >90% of People Have Parasites (Learn Why in 3 Minutes)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 7A -->

    <!-- Card title 2A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.naturalnews.com/021449_Capsaicin_chili_peppers.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-green-900 text-xl font-bold hover:text-2xl hover:bg-red-700"
              >Study: Hot chili pepper compound kills cancer</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-left text-black">
          <a
            href="https://recipes.timesofindia.com/articles/health/11-foods-that-kill-intestinal-worms-naturally/photostory/msid-63332648,curpg-1.cms"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-xl bg-red-700 font-bold hover:text-2xl hover:bg-green-900"
            >
              11 foods that kill intestinal worms naturally</span
            >
          </a><br />
          (1) Garlic<br />
          (2) Turmeric<br />
          <a href="/thyme"
            ><span
              class="text-white bg-red-700 font-bold hover:text-xl hover:bg-green-900"
              >(3) Thyme</span
            ></a
          ><br />
          (4) Raw Pumpkin Seeds<br />
          (5) Papaya (papaya seeds)<br />
          (6) Neem Leaves<br />
          (7) Ginger<br />
          (8) Cucumber Seeds<br />
          (9) Clove<br />
          (10) Cayenne (Chili peppers)<br />
          (11) Green Hulls of Black Walnut<br />

          <a href="/Apricot-Seeds"
            ><span
              class="text-white text-left bg-green-900 text-xl font-bold hover:text-2xl hover:bg-red-700"
              >Apricot Seeds kills cancer</span
            >
          </a>
        </p>
      </div>
    </div>
    <!-- Card title 2A -->

    <!-- Card title 6A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/qd2vl6PtDJk"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=qd2vl6PtDJk"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >Things This Doctor Would Do If Diagnosed with Cancer</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/s?k=Selenium"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-400 bg-black text-xl font-bold hover:text-2xl hover:text-white hover:bg-green-900"
              >Selenium</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 6A -->

    <!-- Joe Tippens 7A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/qBauzqAtg4zD/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/qBauzqAtg4zD/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-left bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >EDMOND MAN SAYS CHEAP DRUG FOR DOGS<br /> CURED HIS CANCER!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=I0E3C0YCepQ"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-left bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >Is Joe Tippens Still Cancer Free?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.fenbendazole.org/fenbendazole-information/fenbendazole-dosage-guide/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-left bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >Joe Tippens protocol</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          Joe Tippen's found a<br /> way through a former college classmate<br
          /> to cure his cancer(s).<br /> Also see the longer video on this:<br
          /> NO CANCER FOR YOU! Joe Tippens'<br /> amazing experience with
          <strong>Fenbendazole.</strong>
          <br /> Quietly share...<br />https://mycancerstory.rocks
        </p>
      </div>
    </div>
    <!-- Joe Tippens 7A -->

    <!--  PANACUR C CANCER 8A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/Arw1AM7G7wpl/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/Arw1AM7G7wpl/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-left bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >- PANACUR C CANCER KILLER: FENBENDAZOLE</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          Thousands of people are cured from cancer every day.<br /> There is a powerful
          drug that is helping to achieve this goal and it's called <strong
            >Fenbendazole</strong
          >
          or panacur. This drug has been used for many years to kill parasites in
          animals, but recent studies have shown that it can also cure cancer.
        </p>
      </div>
    </div>
    <!--  PANACUR C CANCER 8A -->

    <!--  REMOVAL OF PARASITES 5A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/UsYTOcqvRrJ9/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/UsYTOcqvRrJ9/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-left bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >SYMPTOMS/REMOVAL OF PARASITES</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          It is recommended to include coconut oil,aloe Vera, pumpkin seeds and
          fresh pineapples in your daily diet.<br />
          Minimise the amount of sweets intake.<br />
          Home remedies<br />
          1. use 2-3 garlic cloves<br />
          2. Use of bitter gourd<br />
          3. Use of neem powder or leaves is highly recommended<br />
          4 papaya juice is also recommended in these conditions Parasites can be
          killed with 35% Food grade Hydrogen Peroxide..<br />
          start with only three drops in 3-5 ounces of good water on arising and
          bedtime<br />
          increase to<br />
          5 drops 2nd week<br />
          10 drops 3 rd week<br />
          15 drops 4th week<br />
          5th thru 10th week 20 drops<br />
          11th thru 16th week 15 drops<br />
          17th week 10 drops.<br />
          should be done twice daily<br />
          <br />
          cleansing effects..you may experience from the use of a powerful cleansing
          and detoxifying agent<br />
          skin eruption,diarrhea,fatique,headaches,nausea,boils.excess mucous,earaches.<br
          />
          <br />
          this is not something negative...you can reduce dosage until comforatble<br
          />
          maintain dosage<br />
          discontinue dosage.<br />
          everyone is different..not all will get .<br />
          Candida start 1-2 drops a day until you get used to it<br />
          Wrote here in 2019 but has been removed..I met a Russian woman in Whole
          Foods in 2010 and they had given her 6 months to live.<br />
          Drugpushers said nothing they can do after opening up her skull. <br
          />
          She was crying and so i talked with her and gave her Pat Lees number ..he
          will never answer the phone as it might be THE FDA. 1-800-888-1374.<br
          />
          He has a 99% cure rate with CANCER..The only one that died was one person
          who did not take the 35% Hydrogen Peroxide.<br />
          he had her on 500 drops per day..yes it tasted horrible..but she never
          died and a year later said to me she wanted to marry me.<br />
          I said No it is ok..you are alive..live your liefe and be happy...<br
          />
          <br />
          MMS will also kill parasites<br />
          Lugols iodine will also kill parasites<br />
          eat 2 cloves of raw garlic with real honey.swallow do not chew..cut into
          small pieces.<br />
          drinking plenty of good water<br />
          Cats Claw<br />
          chlorella<br />
          Dandelion Root<br />
          Borax which is BORON<br />
          Black hull extract<br />
          wormwood and other herbs<br />
          Turpentine Therapy<br />
          <br />
          Rectified Oil of Turpentine, Rectified Turpentine Oil<br />
          <br />
          http://augmentinforce.50webs.com/TURPENTINE--HEALER%20COMPLETE.htm<br
          />
          Usnea has long been used around the world to address infections, <br
          />
          including sore throats, lung infections, wounds, urinary tract infections,
          and vaginal infections.<br />
          https://delaforet.s3-us-west-2.amazonaws.com/Usn-ebook.pdf<br />
        </p>
        <section class="text-gray-900 text-left font-bold text-xl mb-2">
          Also have look at <br />
          <a href="/cds-mms"
            ><span class="text-red-700 hover:text-2xl hover:text-green-900"
              >CDS MMS</span
            >
          </a>.

          <br />
          <a href="/hydrogen-peroxide"
            ><span class="text-red-700 hover:text-2xl hover:text-green-900"
              >Hydrogen Peroxide</span
            >
          </a>.
          <br />
          <a href="/boric"
            ><span class="text-red-700 hover:text-2xl hover:text-green-900"
              >BORON BORIC ACID & BORAX</span
            >
          </a>.
        </section>
      </div>
    </div>
    <!--  REMOVAL OF PARASITES 5A -->

    <!--  Footer -->
    <Footer client:only="react" />
  </main>
</Layout>
