---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Dmsolist from "../components/Dmsolist.astro";
import Lista from "../components/Lista.astro";
import Cds from "../components/Cds.astro";
---

<Layout title="Chlorine Dioxide Miracle Mineral Solution MMS.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-blue-700 to-cyan-600 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          CDS MMS
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Chlorine Dioxide Miracle Mineral Solution MMS
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Is there really a cure for covid<br />
          and every other infections disease?
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          The Universal Antidote – Chlorine Dioxide Documentary (Video)
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="cure">
        <p class="mb-4 text-base text-blue-900">
          Is there really a cure for covid and every other infections disease?
        </p>
      </h2>

      <Lista />

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/7f5c128c-96e3-416c-b570-920dd1832b10"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Is there really a cure for covid and every other infections
              disease?</span
            >
          </a>
        </h5>

        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="leap">
        <p class="mb-4 text-base text-blue-900">
          QUANTUM LEAP: THE HEALTH BREAKTHROUGH OF THE CENTURY - MMS DOCUMENTARY
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/mG57Dq6EFSHj/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/mG57Dq6EFSHj/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >QUANTUM LEAP: THE HEALTH BREAKTHROUGH OF THE CENTURY - MMS
              DOCUMENTARY</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="know">
        <p class="mb-4 text-base text-red-700">
          EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT WERE
          TOO AFRAID TO ASK 3min-10min.
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/p6VsABRVJ5R5/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/p6VsABRVJ5R5/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT
              WERE TOO AFRAID TO ASK 3min-10min.</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="five">
        <p class="mb-4 text-base text-blue-900">
          Five Amazing Recoveries With THE UNIVERSAL ANTIDOTE
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/5f57e7b3-5816-4e01-8162-1966415dd0c8"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/5f57e7b3-5816-4e01-8162-1966415dd0c8"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-900 text-base hover:text-lg hover:text-red-700"
              >Five Amazing Recoveries With THE UNIVERSAL ANTIDOTE</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="yourself">
        <p class="mb-4 text-base text-blue-900">
          "Do it Yourself With Chlorine Dioxide" - My Free eBook Summary,
          Chapter by Chapter
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/685badf6-290f-49f5-8494-963eb9050e66"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/685badf6-290f-49f5-8494-963eb9050e66"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >"Do it Yourself With Chlorine Dioxide" - My Free eBook Summary,
              Chapter by Chapter</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://chlorinedioxidetruth.weebly.com/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-red-700"
              >https://chlorinedioxidetruth.weebly.com<br />These are NOT CURES
              to a disease. They are SOLUTIONS for ALL disease.</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="adams">
        <p class="mb-4 text-base text-blue-900">
          Mike Adams on chlorine dioxide
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/d86a08ac-cf4b-4b88-8bda-b09e94e1c990"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d86a08ac-cf4b-4b88-8bda-b09e94e1c990"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Mike Adams on chlorine dioxide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@InSearchOfTruth:7/Treating-Snake-Venom-with-Chlorine-Dioxide-Solution:4?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-green-900"
              >Treating Snake Venom with Chlorine Dioxide Solution</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="adams">
        <p class="mb-4 text-base text-pink-500">
          Treating Snake Venom with Chlorine Dioxide Solution
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://odysee.com/$/embed/@InSearchOfTruth:7/Treating-Snake-Venom-with-Chlorine-Dioxide-Solution:4?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d86a08ac-cf4b-4b88-8bda-b09e94e1c990"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Mike Adams on chlorine dioxide</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@InSearchOfTruth:7/Treating-Snake-Venom-with-Chlorine-Dioxide-Solution:4?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-green-900"
              >Treating Snake Venom with Chlorine Dioxide Solution</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        19-6-11 Kerri and Dr seneff CD cures Autism
      </p>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/744f80ef-d80f-47d1-ae4a-8974827bdec2"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/744f80ef-d80f-47d1-ae4a-8974827bdec2"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >19-6-11 Kerri and Dr seneff CD cures Autism</span
            >
          </a>
        </h5>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="erich">
        <p class="mb-4 text-base text-blue-900">MMS Information</p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/GpyZDBoQaVQ"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=GpyZDBoQaVQ"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >MMS Information</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://bond007.substack.com/p/preparing-and-taking-chlorine-dioxide/comments"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Preparing and Taking Chlorine Dioxide</span
            >
          </a>
        </h5>

        <p class="mb-4 text-black text-ellipsis">
          Wait until at least 2 hours after eating/drinking before taking
          chlorine dioxide. Then wait 2 hours after taking chlorine dioxide
          before eating/drinking again. Usually you mix 3 drops of the Sodium
          Chlorite Solution with 3 drops of Hydrochloric Acid (HCl). Only use
          glass containers for the following. Pour an 8 ounce glass of distilled
          water before hand. Put the 3 drops of Hydrochloric Acid along the
          bottom tilted edge of a shot glass (or small glass container). Then
          drop 3 drops of the Sodium Chlorite Solution on top of the
          Hydrochloric Acid (you always pour any solution into an acid, never
          pour an acid into a solution). Tilt the shot glass and gently shake
          the drops together for 30 seconds. Do not breath the fumes coming off
          while mixing. (NEVER DRINK THE COMBINATION WITHOUT DILUTING IT FIRST
          IN THE DISTILLED WATER! IT WILL BURN YOU.)
        </p>
        <p class="mb-4 text-black text-ellipsis">
          Next pour some of the distilled water out of the 8 ounce glass into
          the shot glass. Pour that back into the remaining 8 ounce glass (this
          mixes the distilled water with the solution). Do this mixing one more
          time. Then drink the 8 ounce solution right away. It can be fairly
          stinky, so you might want to hold your breath. You can use more that 8
          ounces of distilled water if you like. The more distilled water, the
          less stinky it will be.
        </p>

        <p class="mb-4 text-black text-ellipsis">
          Finally: Chlorine Dioxide is said to kill 97% of all pathogens in the
          body, including cancer, lupus, TB, malaria, pneumonia, and corvid.
          Parents with autistic children have reported to be having good results
          with chlorine dioxide in diminishing autism. Chlorine dioxide has been
          reported to be destructing the dangerous ‘Spike Proteins’ in the
          corvid vaccines.
        </p>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="leap">
        <p class="mb-4 text-base text-blue-900">
          UNDERSTANDING MMS WITH JIM HUMBLE - A CHLORINE DIOXIDE DOCUMENTARY BY
          ADAM ABRAHAM
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/MoXqviBMhyTh/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/MoXqviBMhyTh/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >UNDERSTANDING MMS WITH JIM HUMBLE - A CHLORINE DIOXIDE
              DOCUMENTARY BY ADAM ABRAHAM</span
            >
          </a>
        </h5>
        <Cds />
        <p class="mb-4 text-black text-ellipsis">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="theuniversalantidote">
        <p class="mb-4 text-base text-blue-900">
          The Science and Story of Chlorine Dioxide
          https://theuniversalantidote.com
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://theuniversalantidote.com"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://theuniversalantidote.com"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >The Science and Story of Chlorine Dioxide
              https://theuniversalantidote.com</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/MoXqviBMhyTh/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >UNDERSTANDING MMS WITH JIM HUMBLE - A CHLORINE DIOXIDE
              DOCUMENTARY BY ADAM ABRAHAM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vfow8b-the-universal-antidote-chlorine-dioxide-documentary-video.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
            >
          </a>
        </h5>
        <Cds />
        <p class="mb-4 text-black text-ellipsis">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="antidote">
        <p class="mb-4 text-base text-blue-900">
          The Universal Antidote – Chlorine Dioxide Documentary (Video)
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vd2q27/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vfow8b-the-universal-antidote-chlorine-dioxide-documentary-video.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-black text-ellipsis">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        Mark Grenon provided a means that his associates had tested to deal with
        vaccines that used Chlorine Dioxide and DMSO.
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=218332"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=218332"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >CGI's Morgan: CLOT SHOTS AND SOCIAL SECURITY</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1g8fu7-mark-grenon-provides-chlorine-dioxide-protocols-for-vaccines-and-mrna-shots.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >Mark Grenon Provides Chlorine Dioxide Protocols For Vaccines &
              mRNA Shots</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1cd2kh-mark-grenon-using-chlorine-dioxide-to-aid-body-in-healing-landed-me-and-son.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >Mark Grenon: Using Chlorine Dioxide To Aid Body In Healing Landed
              Me & Sons In Jail</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vfow8b-the-universal-antidote-chlorine-dioxide-documentary-video.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://sonsoflibertymedia.com/mark-grenon-provides-chlorine-dioxide-protocols-for-eliminating-vaccines-mrna-shots-in-the-body-video/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-blue-900"
              >Mark Grenon Provides Chlorine Dioxide Protocols For Eliminating
              Vaccines & mRNA Shots In The Body (Video)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Mark Grenon provided a means that his associates had tested to deal
          with vaccines that used Chlorine Dioxide and DMSO.
        </p>
        <Cds />
      </div>
    </div>
    <!-- How to use DMSO 3A -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="leap">
        <p class="mb-4 text-base text-blue-900">
          Mark Grenon Provides Chlorine Dioxide Protocols For Vaccines & mRNA
          Shots
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1dm9xj/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1g8fu7-mark-grenon-provides-chlorine-dioxide-protocols-for-vaccines-and-mrna-shots.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Mark Grenon Provides Chlorine Dioxide Protocols For Vaccines &
              mRNA Shots</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1cd2kh-mark-grenon-using-chlorine-dioxide-to-aid-body-in-healing-landed-me-and-son.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >Mark Grenon: Using Chlorine Dioxide To Aid Body In Healing Landed
              Me & Sons In Jail</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vfow8b-the-universal-antidote-chlorine-dioxide-documentary-video.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://sonsoflibertymedia.com/mark-grenon-provides-chlorine-dioxide-protocols-for-eliminating-vaccines-mrna-shots-in-the-body-video/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-blue-900"
              >Mark Grenon Provides Chlorine Dioxide Protocols For Eliminating
              Vaccines & mRNA Shots In The Body (Video)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Mark Grenon provided a means that his associates had tested to deal
          with vaccines that used Chlorine Dioxide and DMSO.
        </p>
        <Cds />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="antidote">
        <p class="mb-4 text-base text-blue-900">
          MEDICAL FREEDOM UNDER ATTACK - CHLORINE DIOXIDE SELLERS AND USERS
          PERSECUTED
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/6IWnF0jJWb5L/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/6IWnF0jJWb5L/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >MEDICAL FREEDOM UNDER ATTACK - CHLORINE DIOXIDE SELLERS AND USERS
              PERSECUTED</span
            >
          </a>
        </h5>

        <p class="mb-4 text-black text-ellipsis">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <Footer client:only="react" />
  </main>
</Layout>
