---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
---

<Layout title="Charles III">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-amber-900 to-pink-600 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Charles III
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY.....
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY..... -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="prince">
        <p class="mb-4 text-base text-left font-bold text-black">
          THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY.....
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/muzCCiF8oHdU/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/muzCCiF8oHdU/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY.....</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.dailymail.co.uk/femail/article-12053999/Royal-fans-claim-spot-Grim-Reaper-King-Charles-Coronation.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 bg-white text-base hover:text-lg hover:text-green-900"
            >
              Happy and ghoul-ious! Royal fans think they've spotted the Grim
              Reaper at King Charles' Coronation</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./arrests#drinker"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Queen Executed - Blood Drinker - pulled after 4,000 views to show
              BS videos</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Adrenochrome and everlasting health During the nineteenth century, the
          writings of ancient Mesopotamia were discovered and translated. They
          revealed a universe inhabited by a legion of 'Annunaki' gods and
          demons… And creatures who drink HUMAN BLOOD… The vampires in ancient
          Mesopotamian mythology were the seven evil spirits who know no mercy…
          one incantation presently owned by the British Crown reads [in
          cuneiform] “… these [vampires] rage against mankind; They spill
          mankind’s blood like rain, Devouring their flesh (and) sucking their
          veins”.
        </p>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          These seven vampire spirits may actually be the negative emanation of
          the seven creator gods - who were amphibian-humanoids, represented as
          walking humanoid fish… All over Arabia and Africa, pre-Islamic
          cultures worshipped DAGON… But Dagon was not alone - the Annunaki
          legends say that these Dagon amphibian/fish humanoids were created by
          reptilian-humanoids. They all had one thing in common: THESE GODS ALL
          DRANK HUMAN BLOOD.
        </p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#snakes"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Trump Talking about Snakes</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY..... -->

    <!-- RARE SIGHTING: Public Stunned as Nobody Expected to See This! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="stunned">
        <p class="mb-4 text-base text-left font-bold text-black">
          RARE SIGHTING: Public Stunned as Nobody Expected to See This!
        </p>
        <p class="mb-4 text-base text-left font-bold text-black">
          Two Black Horses were spotted with a ‘captured’ White Horse and Black
          Flag outside Buckingham Palace
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/VfwWG7eIzu4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./news#intel"
            ><span
              class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
              >INTEL</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=VfwWG7eIzu4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >RARE SIGHTING: Public Stunned as Nobody Expected to See This!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237083"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
              >Forget about the elections and let’s end this now!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237264"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
              >"The Black Sun organization issues ultimatum: announce world
              federation or face nuclear holocaust"</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Two Black Horses were spotted with a ‘captured’ White Horse and Black
          Flag outside Buckingham Palace.
        </p>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          “The custom of royal riders is to never bring a white horse without
          the presence of the king and queen.<br /> The presence of a white horse
          means the presence of the king.<br /> When King Charles is not present
          in this Cavalry, it means that he is dead,”<br /> an MI6 source says.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237397"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
              >"The Black Sun organization issues ultimatum: announce world
              federation or face nuclear holocaust"(FULL)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.dailymail.co.uk/femail/article-12053999/Royal-fans-claim-spot-Grim-Reaper-King-Charles-Coronation.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 bg-white text-base hover:text-lg hover:text-green-900"
            >
              Happy and ghoul-ious! Royal fans think they've spotted the Grim
              Reaper at King Charles' Coronation</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./arrests#drinker"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Queen Executed - Blood Drinker - pulled after 4,000 views to show
              BS videos</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/Ron_Desantis2/12189"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
              >Jacob Rothschild has died, 87
              <br />
              Jacob Rothschild died just three days after two black horses were spotted
              with a ‘captured’ white horse<br /> and a Black Flag outside Buckingham
              Palace.
              <br />
              Are you getting it yet?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@ladyamberlalexander/video/7339582294723726635"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-purple-900"
              >Two Black Horses were spotted with a ‘captured’ White Horse and
              Black Flag outside Buckingham Palace</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Two Black Horses were spotted with a ‘captured’ White Horse and Black
          Flag outside Buckingham Palace
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1754693200768323690?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
              >TICK TOCK ...(@QTHESTORMM·6 Feb)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/tColon94966846/status/1754727133908259070?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
              >"Happy Cancer Day"(@tColon94966846·6 Feb)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/TruthLiveOnX/status/1769673886105297123?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
              >My sources just confirmed that King Charles III has passed away.</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1769743383868661986?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
            >
              WARNING: THE SHOCK HEARD AROUND THE WORLD.(King Charles III)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237920"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
              >Prince Charles Declared Dead by Russian Media; plus some intel
              news</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1769811763002839209?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
              >ALERT: THIS IS THE LAST KNOWN PHOTO BEFORE KATE MIDDLETON
              VANISHED.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=6iUDDG15bAo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-purple-900"
              >The royal family are ‘facing an existential crisis’</span
            >
          </a>
        </h5>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#snakes"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Trump Talking about Snakes</span
            >
          </a>
        </h5>
        <Rept />
      </div>
    </div>
    <!-- RARE SIGHTING: Public Stunned as Nobody Expected to See This! -->

    <!-- AN-OLDER-CODE -->
  </main>
</Layout>
<Footer client:only="react" />
