---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Israel from "../components/Israel.astro";
import Nagas from "../components/Nagas.astro";
import Lehto from "../components/Lehto.astro";
import Cosmic from "../components/Cosmic.astro";
import CERN from "../components/CERN.astro";
import Elohim from "../components/Elohim.astro";
---

<Layout title="clif high">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-sky-400 to-teal-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          clif high
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          WORLD CHANGING EVENT?
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- WORLD CHANGING EVENT? -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="event">
        <p class="mb-4 text-base text-blue-500">WORLD CHANGING EVENT?</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/ZQHzh8TTLQcn/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/ZQHzh8TTLQcn/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >WORLD CHANGING EVENT?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/clif_high/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >clif_high</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">Shit hitting the fan?</p>
        <Rept />
      </div>
    </div>
    <!-- WORLD CHANGING EVENT? -->

    <!-- Remote Viewers Everywhere Expect Life-Changing Event Coming Soon! Frank Jacob Interview -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="jacob">
        <p class="mb-4 text-base text-green-700">
          Remote Viewers Everywhere Expect Life-Changing Event Coming Soon!
          Frank Jacob Interview
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3jni1a/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3m8w1s-remote-viewers-everywhere-expect-life-changing-event-coming-soon-frank-jaco.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Remote Viewers Everywhere Expect Life-Changing Event Coming Soon!
              Frank Jacob Interview</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.theinspiredchannel.com/291946/Frank-Jacob-Interview.htm"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-800 bg-white text-base hover:text-lg hover:text-green-900"
              >Remote Viewers Everywhere Expect Life-Changing Event Coming Soon!
              Frank Jacob Interview</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/InspiredChannel"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Inspired Channel</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/InspiredChannel"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Inspired Channel</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=hM15myWLHhs&t=3s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Creation's Purge Begins</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
      </div>
    </div>
    <!-- Remote Viewers Everywhere Expect Life-Changing Event Coming Soon! Frank Jacob Interview -->

    <!-- EP 273 - Daryl James: Why Izr@el For Last?: Off-World German Colonies & New Memories -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="daryl">
        <p class="mb-4 text-base text-blue-500">
          EP 273 - Daryl James: Why Izr@el For Last?: Off-World German Colonies
          & New Memories
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3nz8k2/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3qkmh8-ep-273-daryl-james-why-izrel-for-last-off-world-german-colonies-and-new-mem.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >EP 273 - Daryl James: Why Izr@el For Last?: Off-World German
              Colonies & New Memories</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Journey to Truth</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
        <Israel />
      </div>
    </div>
    <!-- EP 273 - Daryl James: Why Izr@el For Last?: Off-World German Colonies & New Memories -->

    <!-- Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big Event and even more Chaos -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="chaos">
        <p class="mb-4 text-base text-green-500">
          Clif High Returns: Aliens, Antarctica, the Big Event and even more
          Chaos is coming (1of2)(10:00, 24:00)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3unkx1/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3x8ylv-clif-high-returns-aliens-antarctica-the-big-event-and-even-more-chaos-is-co.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
              >Clif High Returns: Aliens, Antarctica, the Big Event and even
              more Chaos is coming (1of2)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232743"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-blue-900"
              >SARAH WESTALL interviews CLIF HIGH to discuss Aliens, Antarctica,
              the Big Event, and even more Chaos to come! [3 part podcast]</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3x8ylv-clif-high-returns-aliens-antarctica-the-big-event-and-even-more-chaos-is-co.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Clif High Returns: Aliens, Antarctica, the Big Event and even
              more Chaos is coming (1of2)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">@21:50 @24:30 @30:00 @39:00</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232743"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >SARAH WESTALL interviews CLIF HIGH to discuss Aliens, Antarctica,
              the Big Event, and even more Chaos to come! [3 part podcast]</span
            >
          </a>
        </h5>
        <Elohim />

        <CERN />

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@Clif_High/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Clif_High</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/HBBwqdoMy7Gz/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
              >clif_high</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v4lnf79-mar-26-war-correspondent-special-report-with-clifh-high-jsnip4-and-jean-cla.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
              >MAR 26 WAR CORRESPONDENT: SPECIAL REPORT WITH CLIF HIGH JSNIP4 &
              JEAN-CLAUDE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/BeyondMystic"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
              >Jean-Claude@BeyondMystic</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=gBKkqoKv7Xg"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
              >Ship crashing into beach scene - Leave The World Behind (2023)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/clif_high/status/1772662151301283887"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-400 bg-white text-base hover:text-lg hover:text-green-900"
              >Baltimore Bridge = Pearl Harbor #2</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Beyond_Mystic/status/1772776558106968221"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-400 bg-white text-base hover:text-lg hover:text-green-900"
              >MAR 26 WAR CORRESPONDENT: SPECIAL REPORT WITH CLIF HIGH JSNIP4 &
              JEAN-CLAUDE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/Beyond_Mystic"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-400 bg-white text-base hover:text-lg hover:text-green-900"
              >Jean-Claude@Beyond_Mystic</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/BrightInsight6/status/1772679336484626848"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-400 bg-white text-base hover:text-lg hover:text-green-900"
              >The Ship in the opening scene of Barrack Obama’s ‘Leave the World
              Behind’ is named WHITE LION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://simplecapacity.com/2017/03/anunnaki-the-forbidden-movie-that-never-came-to-the-cinemas-why/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Anunnaki: The ‘Forbidden’ Movie That Never Came To The Cinemas,
              Why?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=L-z04x35Imo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QZ2LhMhVPCA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis
              - Part 2</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=SXmnctqE0Q0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Mauro Biglino Interview With Sarah Westall - Angel Cherubim Are
              Robots.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QxtErzzp_CU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Erich von Daniken & Mauro Biglino: According to the Bible & New
              Interpretations</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nk35cGeKAdQ"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 font-bold bg-white text-base hover:text-lg hover:text-green-900"
              >The Bible Does Not Talk About God | Summary & Analisis of Mauro
              Biglino’s Thesis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/clif_high/status/1751635974956945793"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-400 text-base hover:text-lg hover:text-purple-900"
              >Clif High On The Coming Trials & Tribulations . By Clif High -
              January 28, 2024</span
            >
          </a>
        </h5>
        <Nagas />
      </div>
    </div>
    <!-- Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big Event and even more Chaos -->

    <!-- DDaammnn Space Aliens... - The social order has alien cooties - Explorers' Guide To Scifi World -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="social">
        <p class="mb-4 text-base text-blue-500">
          DDaammnn Space Aliens... - The social order has alien cooties -
          Explorers' Guide To Scifi World
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/d4267ff7-3b32-4a3a-ae9c-1758b77806f5"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/d4267ff7-3b32-4a3a-ae9c-1758b77806f5"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >DDaammnn Space Aliens... - The social order has alien cooties -
              Explorers' Guide To Scifi World</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/09b411b4-c79b-4fbe-b0c7-7f2b56a488bf"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Clif High, 04.08.23, Saturday, Clif High With Dr. Lee Merritt：
              The Chinese Cultural Revolution & America Today</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@Clif_High/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >Clif_High</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/HBBwqdoMy7Gz/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
              >clif_high</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://simplecapacity.com/2017/03/anunnaki-the-forbidden-movie-that-never-came-to-the-cinemas-why/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Anunnaki: The ‘Forbidden’ Movie That Never Came To The Cinemas,
              Why?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=L-z04x35Imo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QZ2LhMhVPCA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis
              - Part 2</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=SXmnctqE0Q0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Mauro Biglino Interview With Sarah Westall - Angel Cherubim Are
              Robots.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QxtErzzp_CU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Erich von Daniken & Mauro Biglino: According to the Bible & New
              Interpretations</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nk35cGeKAdQ"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 font-bold bg-white text-base hover:text-lg hover:text-green-900"
              >The Bible Does Not Talk About God | Summary & Analisis of Mauro
              Biglino’s Thesis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/clif_high/status/1751635974956945793"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-400 text-base hover:text-lg hover:text-purple-900"
              >Clif High On The Coming Trials & Tribulations . By Clif High -
              January 28, 2024</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- DDaammnn Space Aliens... - The social order has alien cooties - Explorers' Guide To Scifi World -->

    <!-- La spartizione - Elohim e Theoi greci | Mauro Biglino -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="elohim">
        <p class="mb-4 text-base text-blue-500">
          La spartizione - Elohim e Theoi greci | Mauro Biglino
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/hFiJIgqugoQ"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=hFiJIgqugoQ"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >La spartizione - Elohim e Theoi greci | Mauro Biglino</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@MauroBiglinoOfficialChannel"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >Mauro Biglino Official Channel</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/danaan_elena/status/1741416508494905389?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >In this important video relating to the questions of these times,
              Mauro Biglino, Bible scholar, former translator for the Vatican,
              responds to the discussion about the Elohim, proving with great
              details that Yahweh was not depicted as the "Creator" but as the
              "Custodian" of some territories on Earth.
            </span>
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://simplecapacity.com/2017/03/anunnaki-the-forbidden-movie-that-never-came-to-the-cinemas-why/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Anunnaki: The ‘Forbidden’ Movie That Never Came To The Cinemas,
              Why?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=L-z04x35Imo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QZ2LhMhVPCA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis
              - Part 2</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=SXmnctqE0Q0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Mauro Biglino Interview With Sarah Westall - Angel Cherubim Are
              Robots.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QxtErzzp_CU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Erich von Daniken & Mauro Biglino: According to the Bible & New
              Interpretations</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- La spartizione - Elohim e Theoi greci | Mauro Biglino -->

    <!-- Dr. Brown: Pushing UFO Disclosure with New Photography -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ufo">
        <p class="mb-4 text-base text-blue-500">
          Dr. Brown: Pushing UFO Disclosure with New Photography
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/iA3B686Mk04"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Lehto />
        <Cosmic />
      </div>
    </div>
    <!-- Dr. Brown: Pushing UFO Disclosure with New Photography -->

    <!-- Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ssp">
        <p class="mb-4 text-base text-blue-500">
          Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney
          Brown)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/NYeJmVGIvcc?si=JwaFuceOs9xk2xOx"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Lehto />
        <Cosmic />
      </div>
    </div>
    <!-- Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown) -->

    <!-- "Larger 'Drones' The Next Month Will Prove ET Contact!"-Courtney Brown -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="drones">
        <p class="mb-4 text-base text-blue-500"
          >"Larger 'Drones' The Next Month Will Prove ET Contact!"-Courtney
          Brown(47:50)</p
        >
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/i-_PvCDIRDk"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Lehto />
      </div>
    </div>
    <!-- "Larger 'Drones' The Next Month Will Prove ET Contact!"-Courtney Brown -->

    <!-- Exposing the Elohim Clif High Interview With Jordan Sather-Explorers' Guide To Scifi World-Clif High -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="scifi">
        <p class="mb-4 text-base text-blue-500">
          Exposing the Elohim Clif High Interview With Jordan Sather-Explorers'
          Guide To Scifi World-Clif High
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v41m7qx/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=PNmHktY9Mh8&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Exposing the Elohim Clif High Interview With Jordan
              Sather-Explorers' Guide To Scifi World-Clif High</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v447k8u-exposing-the-elohim-clif-high-interview-with-jordan-sather-explorers-guide-.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Exposing the Elohim Clif High Interview With Jordan
              Sather-Explorers' Guide To Scifi World-Clif High</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@ChrisLehtoF16/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
              >Chris Lehto</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://simplecapacity.com/2017/03/anunnaki-the-forbidden-movie-that-never-came-to-the-cinemas-why/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Anunnaki: The ‘Forbidden’ Movie That Never Came To The Cinemas,
              Why?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=L-z04x35Imo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QZ2LhMhVPCA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis
              - Part 2</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=SXmnctqE0Q0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Mauro Biglino Interview With Sarah Westall - Angel Cherubim Are
              Robots.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=QxtErzzp_CU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Erich von Daniken & Mauro Biglino: According to the Bible & New
              Interpretations</span
            >
          </a>
        </h5>
        <Rept />
      </div>
    </div>
    <!-- Exposing the Elohim Clif High Interview With Jordan Sather-Explorers' Guide To Scifi World-Clif High -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
