---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Escapes from "../components/Escapes.astro";
import Patriotchute from "../components/Patriotchute.astro";
import BILL from "../components/BILL.astro";
---

<Layout title="William (Bill) Cooper">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-700 to-blue-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >William (Bill) Cooper</h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">William Cooper - The One World Order RARE VIDEO</h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- William Cooper - The One World Order RARE VIDEO -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="rare">
        <p class="mb-4 text-base text-green-700">William Cooper - The One World Order RARE VIDEO</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2avmky/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        
        <BILL />
        
      </div>
    </div>
    <!-- William Cooper - The One World Order RARE VIDEO -->

    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
