---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Escapes from "../components/Escapes.astro";
import Patriotchute from "../components/Patriotchute.astro";
import CrowdStrikeL from "../components/CrowdStrikeL.astro";
---

<Layout title="CrowdStrike">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-yellow-700 to-purple-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          JFK
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          CrowdStrike Destroyed The Internet
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- CrowdStrike Destroyed The Internet -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="crowdstrike">
        <p class="mb-4 text-base text-green-900">CrowdStrike</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/3N4m5k9GAW0"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <CrowdStrikeL />
      </div>
    </div>
    <!-- CrowdStrike Destroyed The Internet -->

    <!-- CROWDSTRIKE mentioned 19 times in drops - Pause and read at your leisure -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="lived">
        <p class="mb-4 text-base text-green-900">
          CROWDSTRIKE mentioned 19 times in drops - Pause and read at your
          leisure
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v558mpx/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <CrowdStrikeL />
      </div>
    </div>
    <!-- CROWDSTRIKE mentioned 19 times in drops - Pause and read at your leisure -->

    <!-- Full of zeros at least. -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="zeros">
        <p class="mb-4 text-base text-green-600">Full of zeros at least.</p>
      </h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              You&#39;re correct. <br /><br />Full of zeros at least. <a
                href="https://t.co/PJcCsUb9Vc">pic.twitter.com/PJcCsUb9Vc</a
              >
            </p>&mdash; christian_taillon (@christian_tail) <a
              href="https://twitter.com/christian_tail/status/1814299095261147448?ref_src=twsrc%5Etfw"
              >July 19, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/christian_tail/status/1814299095261147448"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-sky-500 hover:text-2xl hover:text-green-900"
              >Full of zeros at least.</span
            >
          </a>
        </h5>
        <CrowdStrikeL />
        <Patriotchute />
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Full of zeros at least. -->

    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
