---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="How to use DMSO | DMSO Uses | DMSO benefits">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-orange-700 to-yellow-600 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          DMSO benefits
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          How to use DMSO | DMSO Uses | DMSO benefits | dimethylsulfoxid | Pain
          relief | Adrian
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        How to use DMSO | DMSO Uses | DMSO benefits | dimethylsulfoxid | Pain
        relief | Adrian
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/kvrHwAmU_ro"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=kvrHwAmU_ro"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >How to use DMSO | DMSO Uses | DMSO benefits | dimethylsulfoxid |
              Pain relief | Adrian</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
            ><span
              class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
              >wpsaustralia.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/str/thediscountstoreau"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
              >www.ebay.com.au/str/thediscountstoreau</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/265301236417?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >DMSO 99.9% Premium Low Odour Pure Pharmaceutical Grade Dimethyl
              Sulfoxide BULK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/133415233627?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide
              Grade Solvent</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.purewaterau.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.purewaterau.com.au</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/LTR-Dimethyl-Sulfoxide-DMSO-67-68/dp/B0B9KPCM5M/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >1 LTR Dimethyl Sulfoxide DMSO CAS# 67-68 - 5 (1000ml)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/s?me=ASBIAKBHUI6VM&marketplaceID=A39IBJ37TRP1C6"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >AXENIC AUSTRALIA</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/133415233627"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-base hover:text-lg hover:text-green-900"
              >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide
              Grade Solvent</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>

    <!-- How to use DMSO 3A -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="cancer">
        <p class="mb-4 text-base text-blue-900">
          THE THE CHEAPEST AND MOST EFFECTIVE NATURAL SUPPRESSED CURE
        </p>
      </h2>

      <p class="mb-4 text-black text-left">Talks about cancer @21:00</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/4IfRdIzZ4sk/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/4IfRdIzZ4sk/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >THE THE CHEAPEST AND MOST EFFECTIVE NATURAL SUPPRESSED CURE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pubmed.ncbi.nlm.nih.gov/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >pubmed.ncbi.nlm.nih.gov</span
            >
          </a>
        </h5>
        <p class="mb-4 text-black text-center">
          Despite #DMSO it being one of the cheapest and most effective natural
          cures for many diseases,<br /> not much is reported about this amazing
          substance and its many proven uses in the main stream media.
        </p>
        <p class="mb-4 text-black text-center">
          Today we are going to change that and learn everything there is to
          know about DMSO,<br /> including all the many proven applications,<br
          /> which include cancer, #diabetes, #dementia & Alzheimer and much more!
        </p>
        <p class="mb-4 text-black text-center">Talks about cancer @21:00</p>
      </div>
    </div>
    <!-- How to use DMSO 3A -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        THE POWER OF DMSO: DR AMANDHA VOLLMER - WALKING THE NARROW PATH
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/w7xHiHLnentK/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/w7xHiHLnentK/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >THE POWER OF DMSO: DR AMANDHA VOLLMER - WALKING THE NARROW PATH</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- How to use DMSO 3A -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">DMSO for strokes</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/V2Vcc70XqZE"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=V2Vcc70XqZE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >DMSO for strokes</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
            ><span
              class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
              >wpsaustralia.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/str/thediscountstoreau"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
              >www.ebay.com.au/str/thediscountstoreau</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/265301236417?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >DMSO 99.9% Premium Low Odour Pure Pharmaceutical Grade Dimethyl
              Sulfoxide BULK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/133415233627?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide
              Grade Solvent</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.purewaterau.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.purewaterau.com.au</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/LTR-Dimethyl-Sulfoxide-DMSO-67-68/dp/B0B9KPCM5M/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >1 LTR Dimethyl Sulfoxide DMSO CAS# 67-68 - 5 (1000ml)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/s?me=ASBIAKBHUI6VM&marketplaceID=A39IBJ37TRP1C6"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >AXENIC AUSTRALIA</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/133415233627"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-base hover:text-lg hover:text-green-900"
              >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide
              Grade Solvent</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>

    <!-- How to use DMSO 3A -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        FAST effective pain RELIEF for TOOTHACHE | toothache home remedies |
        DMSO for toothache | Adrian
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/ZVWTxkayLiE"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ZVWTxkayLiE&list=PLHfgyyQrAM7h38eBvAQbZTy38dN_zdGfM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >FAST effective pain RELIEF for TOOTHACHE | toothache home
              remedies | DMSO for toothache | Adrian</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
            ><span
              class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
              >wpsaustralia.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/str/thediscountstoreau"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
              >www.ebay.com.au/str/thediscountstoreau</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/265301236417?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >DMSO 99.9% Premium Low Odour Pure Pharmaceutical Grade Dimethyl
              Sulfoxide BULK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/133415233627?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide
              Grade Solvent</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.purewaterau.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >www.purewaterau.com.au</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/LTR-Dimethyl-Sulfoxide-DMSO-67-68/dp/B0B9KPCM5M/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >1 LTR Dimethyl Sulfoxide DMSO CAS# 67-68 - 5 (1000ml)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/s?me=ASBIAKBHUI6VM&marketplaceID=A39IBJ37TRP1C6"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-500 text-base hover:text-lg hover:text-green-900"
              >AXENIC AUSTRALIA</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ebay.com.au/itm/133415233627"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-base hover:text-lg hover:text-green-900"
              >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide
              Grade Solvent</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.sott.net/article/228453-DMSO-The-Real-Miracle-Solution"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >DMSO - The Real Miracle Solution</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>

    <!-- How to use DMSO 3A -->

    <!-- DMSO CANCER CURE: 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        DMSO CANCER CURE: FACT OR FICTION?- CAMELOTCANCERCARE.COM
      </p>

      <p class="mb-4 text-base text-black">Talks about cancer @4:00</p>
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/WaAUfzREHY4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=WaAUfzREHY4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >DMSO CANCER CURE: FACT OR FICTION?- CAMELOTCANCERCARE.COM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://camelotcancercare.is/" rel="noopener" target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >CAMELOTCANCERCARE.COM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://pubmed.gov/" rel="noopener" target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >PUBMED.GOV</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">Talks about cancer @4:00</p>
      </div>
    </div>

    <!-- DMSO CANCER CURE: 4A -->

    <!-- How to use DMSO 3A -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">
        MAGNESIUM OIL AND DMSO TO RESTORE EYES
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/eaxpsE_o6VA"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=eaxpsE_o6VA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >MAGNESIUM OIL AND DMSO TO RESTORE EYES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/DMSO-Magnesium-Hartmut-Fischer-Pharmaceutical/dp/B07CN1WN6G/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-600 text-base hover:text-lg hover:text-green-900"
              >DMSO and Magnesium Oil by Dr. Hartmut Fischer (3.4 oz - 100ml),
              Pharmaceutical Grade, High Purity.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.amazon.com.au/DMSO-Magnesium-Hartmut-Fischer-Pharmaceutical/dp/B07CN1WN6G/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-amber-700 text-base hover:text-lg hover:text-green-900"
              >DMSO and Magnesium Oil by Dr. Hartmut Fischer (3.4 oz - 100ml),
              Pharmaceutical Grade, High Purity.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.heiltropfen.de/shop/en/home/55-dmso-magnesium-oil-34-fl-oz-100ml.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >DMSO & MAGNESIUM OIL (3.4 FL OZ) 100ML</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- How to use DMSO 3A -->

    <!-- How to use DMSO 3A -->
  </main>
</Layout>
<Footer client:only="react" />
