---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="Dr. Eric Berg DC.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center"
        >
          Dr. Eric Berg DC
        </h1>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Vitamin B1 (Thiamine) 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/rjVXFqiPDwE"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=rjVXFqiPDwE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >Vitamin B1 (Thiamine) Deficiency: The "Great Imitator" of Other
              Illnesses</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">.</p>
      </div>
    </div>
    <!-- Vitamin B1 (Thiamine)  4A -->

    <!-- High-Dose Thiamine (Vitamin B1) 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/K4iAPfAFcs0"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=3oyHbpsMejg"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >This Vitamin Protocol Fixed His SIBO, Chronic Fatigue, Brain Fog
              & Fibromyalgia</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=K4iAPfAFcs0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >How To Start High-Dose Thiamine (Vitamin B1)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">.</p>
      </div>
    </div>
    <!-- High-Dose Thiamine (Vitamin B1)  4A -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/S-nrK7wcnvc"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <p
          class="mb-4 text-base text-black dark:text-neutral-200 text-transform: uppercase"
        >
          read description
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=S-nrK7wcnvc"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >The 3 Vitamin Deficiencies in Sciatica and Carpal Tunnel Syndrome</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black dark:text-neutral-200">
          Vitamins B1, B6, and B12 are intimately involved in the nervous system
          and may be behind these painful conditions.
        </p>
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Card title 5A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/Nx2YpCEL0sU"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl text-left font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Nx2YpCEL0sU&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white text-left bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >The END of Hypertension (High Blood Pressure)</span
            >
          </a>
        </h5>
        <p
          class="mb-4 text-base text-left text-neutral-600 dark:text-neutral-200"
        >
          Nitric oxide, on the other hand, supports the inner layer of the
          arteries and may help lower blood pressure.<br />A certain enzyme in
          the body helps make nitric oxide. But, this enzyme can be inhibited if
          you have a specific genetic variation.
        </p>

        <p
          class="mb-4 text-base text-left text-neutral-600 dark:text-neutral-200"
        >
          One of the best natural remedies for hypertension is L-arginine.
          L-arginine supports the production of nitric oxide in the body.
        </p>

        <p
          class="mb-4 text-base text-left text-neutral-600 dark:text-neutral-200"
        >
          Other great natural remedies for high blood pressure are foods like
          garlic and celery, which you can easily include in your diet.
        </p>
      </div>
    </div>
    <!-- Card title 5A -->

    <!-- Vitamin B1 Deficiency 6A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/nURgtkKxp84"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nURgtkKxp84"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >Bizarre Symptoms of Vitamin B1 Deficiency That You've Never Heard
              Before</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Vitamin B1 Deficiency 6A -->

    <!-- Card title 6A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/ElKTOnm2kEw"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ElKTOnm2kEw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-red-700 text-xl font-bold hover:text-2xl hover:bg-green-900"
              >The #1 Vitamin Deficiency behind Bladder Issues (Freq. Urination,
              Leaky, Urgency)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 6A -->

    <Footer client:only="react" />
  </main>
</Layout>
