---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Escapes from "../components/Escapes.astro";
import Patriotchute from "../components/Patriotchute.astro";
import DULCEL from "../components/DULCEL.astro";
import Phil from "../components/Phil.astro";
import Exopolitics from "../components/Exopolitics.astro";
---

<Layout title="DULCE">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-yellow-700 to-purple-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          DULCE
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="papers">
        <p class="mb-4 text-base text-green-900">
          THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v34ongx/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
      </div>
    </div>
    <!-- THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS -->


    <!-- Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="invasion">
        <p class="mb-4 text-base text-green-900">Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v5xncp2/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
      </div>
    </div>
    <!-- Phil Schneider on the End Game & the Alien Invasion -->

    <!-- Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="underground">
        <p class="mb-4 text-base text-green-900">
          Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4clhl3/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
      </div>
    </div>
    <!-- Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game -->

    <!-- THE THOMAS CASTELLO DECLARATION  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="castello">
        <p class="mb-4 text-base text-green-900">
          THE THOMAS CASTELLO DECLARATION
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3br9iz/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
        <Phil />
      </div>
    </div>
    <!-- THE THOMAS CASTELLO DECLARATION  -->

     <!-- A Report on the Motivations and Activities of Extraterrestrial Races  -->
     <div
     class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
   >
     <h2 id="motivations">
       <p class="mb-4 text-base text-green-900">A Report on the Motivations and Activities of Extraterrestrial Races Michael E. Salla, PhD</p>
     </h2>
     <div
       class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
       data-te-ripple-init
       data-te-ripple-color="light"
     >
       <div
         class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
         style="padding-top: 56.25%"
       >
         <iframe
           class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
           src="./images/exopolitics.pdf"
           allowfullscreen=""
           data-gtm-yt-inspected-2340190_699="true"
           id="240632615"></iframe>
       </div>
     </div>
     <div class="p-6 top-0 text-center">
     
       <Exopolitics />
     </div>
   </div>
   <!-- A Report on the Motivations and Activities of Extraterrestrial Races  -->


    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
