---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Escapes from "../components/Escapes.astro";
import Patriotchute from "../components/Patriotchute.astro";
import DULCEL from "../components/DULCEL.astro";
import Phil from "../components/Phil.astro";
---

<Layout title="DULCE">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-yellow-700 to-purple-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          DULCE
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="papers">
        <p class="mb-4 text-base text-green-900">
          THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v34ongx/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
      </div>
    </div>
    <!-- THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS -->


    <!-- Phil Schneider on the End Game & the Alien Invasion -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="invasion">
        <p class="mb-4 text-base text-green-900">Phil Schneider on the End Game & the Alien Invasion</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v60lkqw/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
      </div>
    </div>
    <!-- Phil Schneider on the End Game & the Alien Invasion -->

    <!-- Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="underground">
        <p class="mb-4 text-base text-green-900">
          Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4clhl3/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
      </div>
    </div>
    <!-- Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM -->

    <!-- THE THOMAS CASTELLO DECLARATION  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="castello">
        <p class="mb-4 text-base text-green-900">
          THE THOMAS CASTELLO DECLARATION
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3br9iz/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
        <Phil />
      </div>
    </div>
    <!-- THE THOMAS CASTELLO DECLARATION  -->

    <!-- HELLO MARY AND PATRIOTS WW, I'M SORRY FOR THE LENGTHY ABSENCE. -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-600">https://t.me/vvt369/2931</p>

    
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
        <p class="mb-4 text-base text-black">
        https://t.me/vvt369/2931

        HELLO MARY AND PATRIOTS WW, I'M SORRY FOR THE LENGTHY ABSENCE. I HAVE BEEN UNDERGROUND 24/7 FOR THE LAST FEW MONTHS. 3 DEBRIEFING MEETINGS IN THAT TIME, AND BACK DOWN FOR CONTINUOS ERADICATIONS OF ALL COMBINED EVIL.I WANT TO THANK YOU MARY FOR EVERYTHING THAT YOU ARE ACCOMPLISHING DAILY, ON YOUR RUMBLE CHANNEL @WE THE PEOPLE NEWS IN HELPING WAKE UP THE MASSES. YOU'RE AN ANGEL MUCH DESERVING OF ALL THAT IS GOOD. THE WAR IS GOING WELL. LEVELS 2 THRU 9 AS OF TODAY UNDER FRANCE APPROXIMATELY 13,011 REPTILIANS AND 17,194 DRACONIAN SHAPESHIFTERS ERADICATIED. LEVELS 2 THROUGH 9 UNDER AUSTRIA, APPROXIMATELY 21,432 REPTILIAN, AND 15,172 DRACO REPTILIAN ERADICATED. TOTAL COMBINED ERADICATION UNDER FRANCE AND AUSTRIA OF ROBITOIDS, REPTOID CLONES, CHIMERAS, ARCHONS, REPTOID MANKIND HYBRIDS, RED JELLY BLOBS FROM HELL, AND AGGRESSIVE TRANSLUCENT AND HARD TO VAPORIZE, AND OR LIQUIFY CREATURES WE HAVE NEVER ENCOUNTERED BEFORE, INCINERATION IS ONLY WEAPON FOR THEM. APPROXIMATELY 2,019 ERADICATED. . 5,004 CHILDREN, 1019 WOMEN AND 97 MEN IN RESCUE OPERATIONS COMBINED UNDER BOTH COUNTRIES. NO HUMANS FOUND ON LEVEL 10 UNDER FRANCE AND AUSTRIA DUE TO THE DEPTHS. ALSO ON LEVEL 10 UNDER FRANCE, 27 HYBRID CLONING MACHINES FOUND AND MET THE HAMMER. UNDER AUSTRIA LEVEL 10, 42 HYBRID CLONING MACHINES MET THE HAMMER. SIDENOTE>> 1ST LEVEL OF INNER EARTH BEINGS HAVE BEEN HELPING ERADICATE ALL COMBINED EVIL UNDER BOTH COUNTRIES, AND NOW AROUND THE PLANET WITH MY BEAUTIFUL LIGHT BEING FAMILIES. MANY HUMANS DEAD. ALL ALIVE WILL BE TAKEN OFF PLANET FOR MINDS WIPED, HEALING, AND WILL LIVE HAPPY LIVES ON OUR MOTHERSHIPS OR EDEN, (EARTH2.0). ALL DEAD AND THEIR SOULS HAVE BEEN RETRIEVED AND TAKEN OFF PLANET, AND WILL BE GIVEN PROPER BURIALS, SO THEIR SOULS CAN ASCEND IMMEDIATELY TO 5D AND BEYOND. WE DO THIS DUE TO WHEN KILLED THEIR SOULS BECOME TRAPPED AT THE SITE OF THEIR DEATH. ( AND SO IT IS )THE EVIL CONTINUES USING OFF SHOOT TUNNELS AS THEY CANT GO DOWN ANY FURTHER DUE TO THE 1ST LAYER OF THE INNER EARTH BEINGS WHOSE WALLS ARE IMPENETRABLE, AND WHO ARE IN THE FIGHT. ANOTHER 10,000 PLEIADIAN LIGHT WARRIORS HAVE JOINED RECENTLY AND ARE UNDER EVERY COUNTRY ON THIS PLANET. GENEVA IS CLEAN, AND WE CONTINUE TO LEAVE ERADICATORS AT EVERY ENTRANCE AND EXIT WHEN WE CLEAR IT. RUSSIAN FSB ON  LEVEL 1 UNDER ZURICH, AND MAKING GREAT HEADWAY WITH ERADICATIONS OF COMBINED EVIL WITH THE WEAPONS MY FAMILIES HAVE SUPPLIED. NO INJURIES OR DEATHS TO MY FAMILY. WHEN THE WAR IS OVER WE WILL CONTINUE TO STAY AND PROTECT HUMANS AND ASSIST IN YOUR ASCENSION. MARY YOUR A LIGHTWORKER WHO IS HELPING TO EXPOSE THE EVIL ON THIS PLANET. JUST KNOW YOU WILL BE RICHLEY REWARDED AT MISSION END, MY PROMISE. THANK YOU TO ALL PATRIOTS WW HERE ON MARYS CHANNEL AND TELEGRAM, FOR YOUR LOVE AND SUPPORT. STAY IN THE LOVE VIBRATION AND CONTINUE IN YOUR BEAUTIFUL ASCENSION. REMEMBER YOU CANT TELL HUMANS ABOUT EVIL, HAS TO BE SHOWN TO THEM, AND IT WILL BE SHOWN, AT MISSION END. PEACE AND MUCH LOVE TO YOU AND YOUR FAMILIES AND MAY GOD BLESS AND PROTECT YOU AND YOUR FAMILIES AT ALL TIMES.♥️VT👽 PS. IMPORTANT INFORMATION I HAVE RECEIVED AS OF YESTERDAY, ALL DRACONIAN SHAPESHIFTERS AROUND AND UNDER THE PLANET, INCLUDING THE ERADICATIONS BY MYSELF AND MY FAMILIES IN THE LAST SEVERAL MONTHS, HAVE BEEN TOTALLY ERADICATED FROM GAIA. SEVERAL THOUSANDS WERE LURED TO GATE 10 OF EARTH SPACE FENCE, AND LET OUT NOT KNOWING MY FAMILIES WERE IN WAIT, AND TOTAL ERADICATION TOOK PLACE.. LONG STORY SHORT, EARTH IS NOW FREE OF ALL DRACONIAN SHAPESHIFTERS FOR EVER. REPTILIANS PUTTING UP A BIGGER FIGHT, AS THEY BELIEVE EARTH IS THEIR PLANET, HAVING INHABITED IT FOR 450,000 YRS. EARTH IS THE PROPERTY OF HUMANS, THE CHILDREN OF THE GALAXY, AND WAS GIVEN TO THEM BY THE ENERGY BEINGS FROM BEYOND THE MAGNETIC VEIL, EDEN EARTH 2.0. THE REPTILIANS ARE LEARNING THAT THE HARD WAY. DEAR HUMANS THE LIGHT IS GETTING BRIGHTER, HANG IN THERE AND CONCENTRATE ON YOUR ASCENSION AND HELPING YOUR FELLOW BROTHERS AND SISTERS, AND KNOW THAT EVERYTHING IS BEING TAKEN CARE OF BY MYSELF AND MY BEAUTIFUL LIGHT BEING FAMILIES. CONT. BELOW 👇
        
        https://t.me/vvt369/2931
      </p>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/vvt369/2931"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >https://t.me/vvt369/2931</span
            >
          </a>
        </h5>

    
        
      </div>
    </div>

    <!-- HELLO MARY AND PATRIOTS WW, I'M SORRY FOR THE LENGTHY ABSENCE. -->

    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
