---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Escapes from "../components/Escapes.astro";
import Patriotchute from "../components/Patriotchute.astro";
import DULCEL from "../components/DULCEL.astro";
---

<Layout title="DULCE">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-yellow-700 to-purple-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          DULCE
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- President John F Kennedy didn't die in 1963: he lived until 2021(wordpress) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="papers">
        <p class="mb-4 text-base text-green-900">
          THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v34ongx/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DULCEL />
        <Patriotchute />
      </div>
    </div>
    <!-- THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS -->

    <!-- President John F Kennedy didn't die in 1963: he lived until 2021 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="lived">
        <p class="mb-4 text-base text-green-900">
          President John F Kennedy didn't die in 1963: he lived until 2021
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/w0B3Bxev3Bao/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Escapes />
        <Patriotchute />
      </div>
    </div>
    <!-- President John F Kennedy didn't die in 1963: he lived until 2021 -->

    <!-- John F Kennedy Jr. 19th Vice President -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="vice">
        <p class="mb-4 text-base text-green-600">
          John F Kennedy Jr. 19th Vice President
        </p>
        <p class="mb-4 text-base text-green-600">JFK Jr.</p>
      </h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Here&#39;s The Real Intel, No One But Us Will Tell You The Truth.
              Don&#39;t Play Their Reptilian Game, They Have Been Doing<br
              />This For Over 26k Years. Heavily Infiltrated Into The Light
              Channels. <br /><br />Pedophiles Are The Virus - The US Military
              Is The Vaccine. All You Need Is A Little… <a
                href="https://t.co/NIxwVP9hOd">pic.twitter.com/NIxwVP9hOd</a
              >
            </p>&mdash; VAL THOR (@CMDRVALTHOR) <a
              href="https://twitter.com/CMDRVALTHOR/status/1800480559128256883?ref_src=twsrc%5Etfw"
              >June 11, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/CMDRVALTHOR/status/1800480559128256883"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-sky-500 hover:text-2xl hover:text-green-900"
              >John F Kennedy Jr. 19th Vice President</span
            >
          </a>
        </h5>
        <Patriotchute />
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- John F Kennedy Jr. 19th Vice President -->

    <!-- The deep state has always used infiltration as a means of their control. By installing their puppets, they try to keep everyone controlled in each program. -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="controlled">
        <p class="mb-4 text-base text-blue-600">
          The deep state has always used infiltration as a means of their
          control. By installing their puppets, they try to keep everyone
          controlled in each program.
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 6.25%"
        >
          <script
            async
            src="https://telegram.org/js/telegram-widget.js?15"
            data-telegram-post="SpaceForceGalacticFederation/32032"
            data-width="100%"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/SpaceForceGalacticFederation/32032"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >The deep state has always used infiltration as a means of their
              control. By installing their puppets, they try to keep everyone
              controlled in each program.</span
            >
          </a>
        </h5>
        <Patriotchute />
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- The deep state has always used infiltration as a means of their control. By installing their puppets, they try to keep everyone controlled in each program. -->

    <!-- JFK and JFK Junior are alive - US 🇺🇸Mil. Op. #STORM Surfacing April 30th 2024 - #WWG1WGA - Swiss 🇨🇭NAZI Political Democracy and Swiss 🇨🇭NAZI Flag Deleted - TruthStreamShow -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="storm">
        <p class="mb-4 text-base text-green-900">
          JFK and JFK Junior are alive - US 🇺🇸Mil. Op. #STORM Surfacing April
          30th 2024 - #WWG1WGA - Swiss 🇨🇭NAZI Political Democracy and Swiss
          🇨🇭NAZI Flag Deleted - TruthStreamShow
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4p607t/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />
      </div>
    </div>
    <!-- JFK and JFK Junior are alive - US 🇺🇸Mil. Op. #STORM Surfacing April 30th 2024 - #WWG1WGA - Swiss 🇨🇭NAZI Political Democracy and Swiss 🇨🇭NAZI Flag Deleted - TruthStreamShow -->

    <!-- Where We Go One We Go All - Important Message to all divine Human Species - May 6th 2024 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="alive">
        <p class="mb-4 text-base text-green-900">
          Where We Go One We Go All - Important Message to all divine Human
          Species - May 6th 2024
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4r0xzf/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />
      </div>
    </div>
    <!-- Where We Go One We Go All - Important Message to all divine Human Species - May 6th 2024 -->
    <!-- https://rumble.com/v4tisel-where-we-go-one-we-go-all-important-message-to-all-divine-human-species-may.html -->

    <!-- JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the entire #NOW - I’M POSSIBLE I will never stop Defending our #ONE Divine Earth and all Divine created by God - #STORM #WWG1WGA -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="thor">
        <p class="mb-4 text-base text-green-900">
          JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the entire
          #NOW - I’M POSSIBLE I will never stop Defending our #ONE Divine Earth
          and all Divine created by God - #STORM #WWG1WGA
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4sgjt5/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v4uxjnw-being-the-same-one-in-the-now-of-the-entire-now.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base text-ellipsis hover:text-lg hover:text-green-900"
              >JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the
              entire #NOW - I’M POSSIBLE I will never stop Defending our #ONE
              Divine Earth and all Divine created by God - #STORM #WWG1WGA</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://beforeitsnews.com/paranormal/2023/04/switzerland-stops-covid-vaccines76-years-after-billy-meier-first-warned-2561156.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-800 bg-white text-base text-ellipsis hover:text-lg hover:text-green-900"
              >Switzerland Stops COVID Vaccines…76 Years AFTER Billy Meier First
              Warned</span
            >
          </a>
        </h5>
        <Patriotchute />
      </div>
    </div>
    <!-- JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the entire #NOW - I’M POSSIBLE I will never stop Defending our #ONE Divine Earth and all Divine created by God - #STORM #WWG1WGA -->

    <!-- ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI BLOODLINES! JFK SR IS Q! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="jfksr">
        <p class="mb-4 text-base text-gray-900">
          ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI BLOODLINES!
          JFK SR IS Q!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/REUtKZ7YYzF6/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/REUtKZ7YYzF6/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base text-ellipsis hover:text-lg hover:text-purple-900"
              >ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI
              BLOODLINES! JFK SR IS Q!</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-justify text-black">
          CH21GOLD PART 1 OF 3! ONLY 60% HUMANS ON EARTH! POSITIVE SPRAYING IS
          KILLING OFF NEGATIVE REPTILIANS! FASHION DESIGNERS ARE NAMED AFTER
          SATANIC PRIESTS! SERIAL KILLERS WERE CREATED BY REPTILIANS TO COVER
          FOR THEIR CRIMES! VAX IS AN ALIEN BIO-WEAPON! THE 1800 REPTILIANS WHO
          WERE DUMPED HERE WERE ALREADY DEMONICALLY POSSESSED! JFK WAS NEVER
          ASSASSINATED, BECAUSE POSITIVES STOPPED IT FROM HAPPENING! JFK SR WAS
          THE FIRST TO FORM AN ALLIANCE WITH THE POSITIVE GALACTICS! JFK IS Q!
        </p>
        <Patriotchute />
      </div>
    </div>
    <!-- ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI BLOODLINES! JFK SR IS Q! -->

    <!-- Human cloning was used as the main infiltration by the reptilians. -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="cloning">
        <p class="mb-4 text-base text-blue-600">
          Human cloning was used as the main infiltration by the reptilians.
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <div id="vk_post_494704252_16742"></div>
          <script
            type="text/javascript"
            src="https://vk.com/js/api/openapi.js?173"
          ></script>
          <script type="text/javascript">
            (function () {
              VK.Widgets.Post(
                "vk_post_494704252_16742",
                494704252,
                16742,
                "-Jl9VmX2JST26XDQsASpF5lfEB03"
              );
            })();
          </script>

          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Human cloning was used as the main infiltration by the reptilians.
            Using these clones they would be able to fully control them using
            energy transfer/mind consciousness technology to control. Often used
            as a beacon to suck the energy out of humanity, playing on the
            strings of nanotechnology.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Using vaccines to replicate they were able to control them with the
            wireless 5G network infrastructure. Reptilians and the greys had
            created their own race to infiltrate the entire world.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Using vrills to control certain populations of the 'elite' to
            cloning humanity for their end goal, the annihilation of the human
            population.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            President Trump put them FRONT and CENTER for the WORLD to SEE,
            without their adrenochrome and energy sources - their drones
            shutdown.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            My fellow Americans, the Storm is upon us
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            John F Kennedy Jr.<br />19th Vice President
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            WWG1WGA 💞🌹🕊🌍💫
          </p>

          <p class="mb-4 font-poppins text-justify text-neutral-800"></p>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./jfk#cloning"
            ><span
              class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
              >Human cloning was used as the main infiltration by the
              reptilians.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=24255"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
              >Human cloning was used as the main infiltration by the
              reptilians.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://vk.com/wall494704252_16742"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-blue-700 text-transform: uppercase font-bold text-lg hover:bg-white hover:text-blue-700"
              >Human cloning was used as the main infiltration by the
              reptilians.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://memetrunk.com/jfk-jr/post/human-cloning-was-used-as-the-main-infiltration-by-the-reptilians-Dam4Sv1Hbfnhd40"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >Human cloning was used as the main infiltration by the
              reptilians.</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Patriotchute />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Human cloning was used as the main infiltration by the reptilians. -->

    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
