---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Nagas from "../components/Nagas.astro";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
---

<Layout title="ECETI Where Contact Is Happening Now.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-indigo-900 to-cyan-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          ECETI
        </h1>
        <h2
          class="text-slate-100 text-xl mt-5 text-center text-transform: uppercase"
        >
          ECETI Where Contact Is Happening Now
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- ECETI Where Contact Is Happening Now -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
       <Bluelist />
      <h2 id="eceti">
        <p class="mb-4 text-base text-blue-500">
          ECETI Where Contact Is Happening Now
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.eceti.org/home.html"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://www.eceti.org/home.html"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >ECETI Where Contact Is Happening Now</span
            >
          </a>
        </h5>
        <a
          href="https://operationdisclosureofficial.com/2023/05/25/james-gilliland-eceti-news-contact-happening-now/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
            >ECETI Where Contact Is Happening Now</span
          >
        </a><br /><br />


<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">
    They’re here, they have always been here but they are now ready for contact. For those who have an open mind, loving heart and pure intent they are a thought away. There have been sightings around military bases increasing exponentially. It is part of a multidimensional plan to liberate Earth. There are forces seen and unseen involved beyond our ability to remove, that have been at war with humanity for thousands of years. They have been behind every war, every plague, every economic collapse, they thrive on the pain and suffering of humanity. They are involved in everything from drug, child, and sex trafficking to human sacrifice.

They are now trying to bring us to WW3. It’s time to grow up. You no longer have the luxury of denial. Whistleblowers are coming forward in every agency including SSP Secret Space Fleet speaking about harvesting humans and abducting them as slaves. This is also replete within the upper echelons of many of your institutions. Most people cannot handle the depth of corruption and depravity. Satanic/Luciferian forces within the global elite have taken control of almost every institution. This is being rectified with help on high.

The reason everything is looking like theater is because it is. Many of these leaders have already been dealt with. What you are seeing are actors, masks and CGI for the most part in an attempt to wake up the socially engineered brain washed masses. Many of the socially engineered lack critical thinking, base logic and are research impaired. They suffer from cognitive dissonance while others are morally impaired to the point they are no longer redeemable. Some very hard lessons are coming for them.

Universal Law is coming, Gesara what was once Nesara is being enforced. It was always in play since the Clinton Era yet now it will be implemented. There will be some chaos during this process, prepare for it. The Sun governs the evolution of Earth, all Suns are connected. The consciousness and energy of God/Creator/Great Spirit flows through the Suns and is vibrationally lifting the entire galaxy including the Earth and all its inhabitants. It is part of the awakening and healing process some call the planetary liberation from darker forces that have made Earth their home since time began.

It is not just Satan/Lucifer, demons and wayward discarnate spirits it is also serpent beings, Reptilians, Tall Greys and a host of others. The Orion Grey Alliance is one group that consists of many negative ETs which are in the process of being removed. They are not to be confused with the Orion Council of Light. Just as there are dark alliances there are light alliances. The Beautiful Many Saints, Sages, Ascended Masters, Archangels and a host of Spiritually and Technologically Advanced civilizations are coming to the aid of humanity. The ground crew is known as the White Hats, leaders and generals around the world gathered together to end the tyranny once and for all. Watch who the mainstream media demonizes if you want to know who the good guys are. Nothing is as it seems.


</div>
</div>
<!-- prettier-ignore-end -->

      </div>
    </div>
    <!-- ECETI Where Contact Is Happening Now -->


    <!-- Urgent Message to humanity part 1 & 2 by James Gilliland -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
   
      <h2 id="urgent">
        <p class="mb-4 text-base text-blue-900">URGENT MESSAGE For HUMANITY by James Gilliland</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v5l9jyh/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v5f8t0q-urgent-message-to-humanity-part-1-and-2-by-james-gilliland.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Urgent Message to humanity part 1 & 2 by James Gilliland</span
            >
          </a>
        </h5>

               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/ECETISTARGATEOFFICIAL"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >ECETI STARGATE ~ OFFICIAL</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./clif#chaos"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Clif High Interview With Sarah Westall - Aliens, Antarctica, the
              Big Event and even more Chaos</span
            >
          </a>
        </h5>
  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./eceti#urgent"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-purple-900"
      >Urgent Message to humanity part 1 & 2 by James Gilliland</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ebs-alert#epstein"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-purple-900"
      >Chabad Epstein All coming at an EBS NEAR YOU</span
    >
  </a>
</h5>
           <Nagas />
        <Rept />
      </div>
    </div>
    <!-- Urgent Message to humanity part 1 & 2 by James Gilliland -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
