---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";

import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Qthestormm from "../components/Qthestormm.astro";
import OVER from "../components/OVER.astro";
import Patriotchute from "../components/Patriotchute.astro";
import GHOST from "../components/GHOST.astro";
---

<Layout title="The Takedown">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-red-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          The Takedown
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Charlie Freak, Two (2) VIDEOs: “The Takedown of the Cabal from A to Z”
          (posted on the Kp Rumble)
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- INTEL by Ghost Ezra Cohen on EBS & 'The Movie' -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="movie">
        <p class="mb-4 text-base text-green-900">
          INTEL by Ghost Ezra Cohen on EBS & 'The Movie'
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240831"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <GHOST />
        <OVER />

        <Patriotchute />
        <Rept />
      </div>
    </div>
    <!-- INTEL by Ghost Ezra Cohen on EBS & 'The Movie' -->

    <!-- Presidental Alert -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="alert">
        <p class="mb-4 text-base text-blue-900">Presidental Alert</p>
      </h2>
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="zxx" dir="ltr">
              <a href="https://t.co/hKiPGqKFeQ">pic.twitter.com/hKiPGqKFeQ</a>
            </p>&mdash; GhostEzra (@GhostEzraQ) <a
              href="https://twitter.com/GhostEzraQ/status/1763027167552643504?ref_src=twsrc%5Etfw"
              >February 29, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <GHOST />
        <OVER />
        <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
      </div>
    </div>
    <!-- Presidental Alert -->

    <!-- THE ASSASSINATION MOVIE explained  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="explained">
        <p class="mb-4 text-base text-left font-bold text-black">
          THE ASSASSINATION MOVIE explained
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v54jbyd/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v56vkn1-the-assassination-movie-explained.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
              >THE ASSASSINATION MOVIE explained</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v56vguc-how-it-wen-t-down.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
              >HOW IT WEN T DOWN</span
            >
          </a>
        </h5>
        <GHOST />
      </div>
    </div>
    <!-- THE ASSASSINATION MOVIE explained  -->

    <!-- SLOW MOTION BATMAN  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="batman">
        <p class="mb-4 text-base text-left font-bold text-black">
          SLOW MOTION BATMAN
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://old.bitchute.com/embed/wvHacptE8QIB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v56vkn1-the-assassination-movie-explained.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
              >THE ASSASSINATION MOVIE explained</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://old.bitchute.com/video/wvHacptE8QIB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
              >SLOW MOTION BATMAN</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/elonmusk/status/1812256998588662068?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 font-bold hover:text-2xl hover:text-slate-800"
              >I fully endorse President Trump and hope for his rapid recovery</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/Breaking911/status/1812250364948918631?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 font-bold hover:text-2xl hover:text-slate-800"
              >BREAKING: Trump taken away bloodied from rally in Pennsylvania</span
            >
          </a>
        </h5>

        <GHOST />
      </div>
    </div>
    <!-- SLOW MOTION BATMAN  -->

    <!-- The 4 Highest Ranking Members of the Royal Family have cancelled their Public Engagements until further notice. -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="engagements">
        <p class="mb-4 text-base text-justify text-sky-600">
          The 4 Highest Ranking Members of the Royal Family have cancelled their
          Public Engagements until further notice.
        </p>
      </h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <script
            async
            src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-post="GhostEzra/944"
            data-width="100%"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://t.me/GhostEzra/944" rel="noopener" target="_blank"
            ><span
              class="bg-white text-sky-400 hover:text-2xl hover:text-sky-700"
              >The 4 Highest Ranking Members of the Royal Family have cancelled
              their Public Engagements until further notice.</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <GHOST />
      </div>
    </div>
    <!-- The 4 Highest Ranking Members of the Royal Family have cancelled their Public Engagements until further notice. -->

    <!-- BUCKINGHAM PALACE IN THE UNITED KINGDOM HAS A GREEN LIGHT THAT MEANS THAT KING CHARLES III HAS ALREADY BEEN EXECUTED -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="palace">
        <p class="mb-4 text-base text-blue-900">
          BUCKINGHAM PALACE IN THE UNITED KINGDOM HAS A GREEN LIGHT THAT MEANS
          THAT KING CHARLES III HAS ALREADY BEEN EXECUTED
        </p>
      </h2>
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              BUCKINGHAM PALACE IN THE UNITED KINGDOM HAS A GREEN LIGHT THAT
              MEANS THAT KING CHARLES III HAS ALREADY BEEN EXECUTED <a
                href="https://t.co/yb1AV805RX">pic.twitter.com/yb1AV805RX</a
              >
            </p>&mdash; GhostEzra (@GhostEzraQ) <a
              href="https://twitter.com/GhostEzraQ/status/1755301458080072000?ref_src=twsrc%5Etfw"
              >February 7, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <GHOST />
        <OVER />
        <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
      </div>
    </div>
    <!-- BUCKINGHAM PALACE IN THE UNITED KINGDOM HAS A GREEN LIGHT THAT MEANS THAT KING CHARLES III HAS ALREADY BEEN EXECUTED -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
