---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="Johan Fritz.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Johan Fritz SSP
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Bavarian Illuminati - The REAL Founders of Secret Space Programs… This
          is How It All Began!
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Super Soldier Talk – Johan Fritz SSP in Person Interview
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="james">
        <p class="mb-4 text-base text-blue-900">
          Bavarian Illuminati - The REAL Founders of Secret Space Programs… This
          is How It All Began!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/v2ygf7s/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >THE INVISIBLE WAR</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v311ub0-bavarian-illuminati-the-real-founders-of-secret-space-programs-this-is-how-.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Bavarian Illuminati - The REAL Founders of Secret Space Programs…
              This is How It All Began!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://t.me/DUMBSandUnderground/53323"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Bavarian Illuminati - The REAL Founders of Secret Space Programs…
              This is How It All Began!</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="james">
        <p class="mb-4 text-base text-blue-900">
          Introduction to the Secret Space Program 101 by James Rink, Johan
          Fritz and FESIG @22:00 ANTARCTICA
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/vi41rb/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >THE INVISIBLE WAR</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/vkq7wl-introduction-to-the-secret-space-program-101-by-james-rink-johan-fritz-and-.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
            >Introduction to the Secret Space Program 101 by James Rink, Johan
            Fritz and FESIG</span
          >
        </a>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="johan">
        <p class="mb-4 text-base text-blue-900">
          Super Soldier Talk – Johan Fritz SSP in Person Interview
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/vi4uwc/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >THE INVISIBLE WAR</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/vkr11m-super-soldier-talk-johan-fritz-ssp-in-person-interview.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
            >Super Soldier Talk – Johan Fritz SSP in Person Interview</span
          >
        </a>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        EP 144 - Johan Fritz & Jodi Reynosa - SSP Information Access -
        Counterparts & Memory Recall
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/vjeofw/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >THE INVISIBLE WAR</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/vm0ukw-ep-144-johan-fritz-and-jodi-reynosa-ssp-information-access-counterparts-and.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
            >EP 144 - Johan Fritz & Jodi Reynosa - SSP Information Access -
            Counterparts & Memory Recall</span
          >
        </a>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        EP 182 - LIVE SSP Q&A w/ Johan Fritz & Jodi Reynosa
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/vxqpn2/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >THE INVISIBLE WAR</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/v10cvnm-ep-182-live-ssp-q-and-a-w-johan-fritz-and-jodi-reynosa.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
            >EP 182 - LIVE SSP Q&A w/ Johan Fritz & Jodi Reynosa</span
          >
        </a>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <Footer client:only="react" />
  </main>
</Layout>
