---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="GOES DEEP | ITS GOES DEEP.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-900 to-blue-900 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          GOES DEEP
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          ITS GOES DEEP
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- SONG DEDICATED TO THE DEEP STATE TRASH -->
    <div class="md:container md:mx-auto">
      <!-- ... -->

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://www.bitchute.com/video/JtJqS1oFfmLl/"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-red-700 text-base hover:text-lg hover:text-green-900"
                    >SONG DEDICATED TO THE DEEP STATE TRASH</span
                  >
                </a>
              </div>
              <br class="text-gray-700 text-base" />
              A Song Dedicated To The DEEP STATE TRASH that rob innocent scared awaking
              people of there money.<br /> And this is only a matter of time LMAO
              LET THE TROLLING BEGIN you will be cut down as well
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://www.bitchute.com/embed/JtJqS1oFfmLl/"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
            <div class="text-gray-900 font-bold text-xl mb-2">
              If you don't know what this video about maybe go to <a
                href="https://deepstate.se/"
                rel="noopener"
                target="_blank"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >deepstate.se</span
                >
              </a> before continuing.
            </div>
          </div>
        </div>
      </div>
      <!-- SONG DEDICATED TO THE DEEP STATE TRASH -->

      <!-- Card title 1A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="relative overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/6q_dFbbW9WE"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=6q_dFbbW9WE&t=1s"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Can We TRUST Russell Brand? Is He a Freemason / Illuminati
                Puppet?</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ....
          </p>
        </div>
      </div>
      <!-- Card title 1A -->

      <!-- Card title 2A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/jmikupk9cQU"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=jmikupk9cQU"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Global Marshall Law - How Earth came under control of the Draco
                16,500 years ago.</span
              >
            </a>
          </h5>
          <a href="./global"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Larger View</span
            >
          </a>
        </div>
      </div>
      <!-- Card title 2A -->
    </div>
  </main>

  <Footer client:only="react" />
</Layout>
