---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="GOES DEEP | ITS GOES DEEP.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1 class="text-white text-6xl font-bold text-center">GOES DEEP</h1>
        <h2 class="text-slate-100 text-3xl mt-5 text-center">ITS GOES DEEP</h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
    <div class="container mx-auto justify-center">
      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:flex">
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                Best Mountain Trails 2020-003
              </div>
              <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, Nonea! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Full-width fluid until the `md` breakpoint, then lock to container -->

    <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
    <div class="container mx-auto justify-center">
      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:flex">
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                Best Mountain Trails 2020-003
              </div>
              <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, Nonea! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Full-width fluid until the `md` breakpoint, then lock to container -->

    <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
    <div class="md:container md:mx-auto">
      <!-- ... -->

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://www.bitchute.com/video/JtJqS1oFfmLl/"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-red-700 text-base hover:text-lg hover:text-green-900"
                    >SONG DEDICATED TO THE DEEP STATE TRASH</span
                  >
                </a>
              </div>
              <br class="text-gray-700 text-base" />
              A Song Dedicated To The DEEP STATE TRASH that rob innocent scared awaking
              people of there money.<br /> And this is only a matter of time LMAO
              LET THE TROLLING BEGIN you will be cut down as well
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://www.bitchute.com/embed/JtJqS1oFfmLl/"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
            <div class="text-gray-900 font-bold text-xl mb-2">
              If you don't know what this video about maybe go to <a
                href="https://deepstate.se/"
                rel="noopener"
                target="_blank"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >deepstate.se</span
                >
              </a> before continuing.
            </div>
          </div>
        </div>
      </div>

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://www.youtube.com/watch?v=6q_dFbbW9WE&t=1s"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-red-700 text-base hover:text-lg hover:text-green-900"
                    >Can We TRUST Russell Brand? Is He a Freemason / Illuminati
                    Puppet?</span
                  >
                </a>
              </div>
              <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Voluptatibus quia, Nonea! Maiores et perferendis eaque,
                exercitationem praesentium nihil.
              </p>
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://www.youtube.com/embed/6q_dFbbW9WE"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
      <div class="container mx-auto">
        <div class="p-10">
          <!--Card 1-->
          <div class="w-full lg:flex">
            <div
              class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
            >
              <div class="mb-8">
                <div class="text-gray-900 font-bold text-xl mb-2">
                  Best Mountain Trails 2020-003
                </div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia, Nonea! Maiores et perferendis eaque,
                  exercitationem praesentium nihil.
                </p>
              </div>
              <div class="flex items-center">
                <div
                  class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                  style="padding-top: 56.25%"
                >
                  <iframe
                    class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                    src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com"
                    allowfullscreen=""
                    data-gtm-yt-inspected-2340190_699="true"
                    id="240632615"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Full-width fluid until the `md` breakpoint, then lock to container -->
  </main>
</Layout>

<Footer client:only="react" />
