---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="HYPHEN-GLITCH.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white font-glitch text-xl lg:text-[4rem] lg:leading-[4rem] text-center text-transform: uppercase"
        >
          HYPHEN-GLITCH
        </h1>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block rounded-lg bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
    >
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.youtube.com/embed/jwNfi94tGD0"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="/justinian-deception"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.youtube.com/watch?v=jwNfi94tGD0"
          rel="noopener"
          target="_blank"
          ><span
            class="text-white font-glitch bg-red-700 text-2xl hover:text-3xl hover:bg-green-900"
            >HYPHEN-GLITCH</span
          >
        </a>
        <p class="mb-4 text-base font-glitch text-left text-black">
          The deception of the Marginal Text...
        </p>
        <p class="mb-4 text-base font-glitch text-left text-black">
          The written language of the margin of a document has no jurisdiction
          with the language of the main body of text, its only those that can
          detect the difference between main body text and marginal text that
          may detect a document that may be set up to deceive you into falling
          for the deception of converting you from the main body into the outer
          fringes of life where you lose everything. Ro, is a fiction language
          that appears within the margins of a document, it can be mistaken for
          English by the grammatically untrained eye, leaving you with a false
          impression of what a document may be saying... Life has become flat by
          the legal world of paper, titles, deeds, contracts, licenses, you name
          it, nothing seems to exist without some form of document, but are any
          of them real?, it may be those that can see the fraud in the paper
          that may be able to save themselves from such deceptions appearing
          within the body of text in relation to such deeds, titles, bills,
          licenses etc. No contract can exist in fraud, unless you "consent" but
          if you can't see the fraud, you may be at a disadvantage to such a
          satanic occult of the masters of the flat earth of paper ... Justinian
          Deception...
        </p>
      </div>
    </div>
    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
