---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="HOME | ITS GOES DEEP BUT WE ARE WINNING.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1 class="text-white text-6xl font-bold text-center">HOME</h1>
        <h2 class="text-slate-100 text-3xl mt-5 text-center">
          ITS GOES DEEP BUT WE WIN
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- images/Med-Bed001.jpg -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto"
    >
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h1
            class="text-almost-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold"
          >
            HOME
          </h1>
          <a href="/site-map"
            ><h1
              class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
            >
              INDEX
            </h1></a
          >
        </div>
      </div>
      <div class="order-first lg:order-last">
        <img class="lg:hidden mb-9" src="images/Med-Bed001.jpg" alt="Med-Bed" />
        <img
          class="hidden lg:block"
          src="images/Med-Bed001.jpg"
          alt="Med-Bed"
        />
      </div>
    </div>
    <!-- images/Med-Bed001.jpg -->

    <!-- SONG DEDICATED TO THE DEEP STATE TRASH -->
    <div class="md:container md:mx-auto">
      <!-- ... -->

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://www.bitchute.com/video/JtJqS1oFfmLl/"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-red-700 text-base hover:text-lg hover:text-green-900"
                    >SONG DEDICATED TO THE DEEP STATE TRASH</span
                  >
                </a>
              </div>
              <br class="text-gray-700 text-base" />
              A Song Dedicated To The DEEP STATE TRASH that rob innocent scared awaking
              people of there money.<br /> And this is only a matter of time LMAO
              LET THE TROLLING BEGIN you will be cut down as well
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
                  src="https://www.bitchute.com/embed/JtJqS1oFfmLl/"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
            <div class="text-gray-900 font-bold text-xl mb-2">
              If you don't know what this video about,<br /> to find out more goto
              <a href="https://deepstate.se/" rel="noopener" target="_blank"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >deepstate.se</span
                >
              </a> site before continuing.
              <br /> Or continue to on the
              <a href="./goesdeep"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >Goes Deep Page</span
                >
              </a>.
              <br /> Also have look at the
              <a href="./cancer"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >Cancer Page</span
                >
              </a>.
              <br /> And have look at the
              <a href="./cds-mms"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >CDS MMS</span
                >
              </a> and
              <a href="./dmso"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >DMSO</span
                >
              </a>.
            </div>
          </div>
        </div>
      </div>
      <!-- SONG DEDICATED TO THE DEEP STATE TRASH -->

      <!-- BIOENGINEERING 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://rumble.com/embed/v2k5g72/?pub=166b2j"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="/bioweapon"
              ><span
                class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
                >continue on bioweapon page</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./buttar"
              ><span
                class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
                >DR. RASHID A. BUTTAR INTERVIEW WITH NEXT NEWS NETWORK</span
              >
            </a>
          </h5>

          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="/lawsuit"
              ><span class="text-green-900 font-bold text-lg hover:text-red-700"
                >VAX CLASS ACTION LAWSUIT</span
              >
            </a>
          </h5>

          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://rumble.com/v2mqvnw-covid-intentionally-mutated-from-common-cold-covid-19-timeline-reveals-bioe.html"
              rel="noopener"
              target="_blank"
              ><span
                class="bg-white text-green-900 font-bold hover:text-red-700"
                >Covid Intentionally MUTATED From Common Cold? Covid-19 Timeline
                Reveals BIOENGINEERING From 1960s @12:20</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.brighteon.com/fb176013-0e80-448b-ae41-f749bd5ed176"
              rel="noopener"
              target="_blank"
              ><span class="bg-white text-blue-500 font-bold hover:text-red-700"
                >Covid Intentionally MUTATED From Common Cold? Covid-19 Timeline
                Reveals BIOENGINEERING From 1960s @12:20</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- BIOENGINEERING 4A -->

      <!-- JIM WILLIE 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.bitchute.com/embed/nuLJteI7trfy/"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.bitchute.com/video/nuLJteI7trfy/"
              rel="noopener"
              target="_blank"
              ><span class="bg-white text-red-700 hover:text-green-900"
                >JIM WILLIE DISCUSSES MILITARY WAR: THE FINAL COUNTDOWN WITH
                NICHOLAS VENIAMIN @24:30 @46:30</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- JIM WILLIE 4A -->

      <!-- AN AUSTRALIAN HIGHLINE RECORD -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/UDk6_mE-pm8"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./highline-record"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=UDk6_mE-pm8"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >IT'S LEGIT - AN AUSTRALIAN HIGHLINE RECORD</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.slacklining.org.au/2023/02/02/it-is-legit-a-new-australian-highline-record/"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >www.slacklining.org.au</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- AN AUSTRALIAN HIGHLINE RECORD -->

      <!-- Former NHL Goalies 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/1h1Ufj7C54w"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./alexovechkin"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=1h1Ufj7C54w"
              rel="noopener"
              target="_blank"
              ><span
                class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
                >Former NHL Goalies Break Down Alex Ovechkin's Most Iconic
                Goals... Scored On Them</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- Former NHL Goalies 4A -->

      <!-- Former NHL Goalies 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/q5wCOUXanpw"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./jackson"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=q5wCOUXanpw"
              rel="noopener"
              target="_blank"
              ><span
                class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
                >KINGS & QUEENS 2023 4K REPLAY</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- Former NHL Goalies 4A -->

      <!-- Deepfake Tom Cruise 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/jnNQEiPs5r0"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="/tom-cruise"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=jnNQEiPs5r0"
              rel="noopener"
              target="_blank"
              ><span
                class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
                >We Interviewed Deepfake Tom Cruise</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- Deepfake Tom Cruise 4A -->

      <!-- Card title 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/iMyo8I8AKmY"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./enya"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=iMyo8I8AKmY"
              rel="noopener"
              target="_blank"
              ><span
                class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
                >Enya - Aniron (Extended) HD</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- Card title 4A -->

      <!-- Watermark 4A -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        ....
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/bPCdsa7hS7M"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./watermark"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=bPCdsa7hS7M"
              rel="noopener"
              target="_blank"
              ><span
                class="bg-white text-red-700 hover:text-2xl hover:text-green-900"
                >Enya - Watermark (Official Video)</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            ...
          </p>
        </div>
      </div>
      <!-- Watermark 4A -->

      <!-- bg-blue-900 -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/CaD4mCD2vsc"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./verve"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=CaD4mCD2vsc"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >BITTER SWEET SYMPHONY</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- bg-blue-900 -->

      <!-- red-centre -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/brbUBasKvI0"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./red-centre"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=brbUBasKvI0&t=2s"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >The Red Centre, Australia, Northern Territory - Uluru (Ayers
                Rock), Kata Tjuta (Olgas), King Canyon</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- red-centre -->

      <!-- If I Were A Carpenter -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/UINidbbvGFM"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="/carpenter"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=UINidbbvGFM"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Robert Plant | 'If I Were A Carpenter' | Official Music Video
                [HD Upgrade]</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- If I Were A Carpenter -->

      <!-- Most Insane Ski Run -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/fbqHK8i-HdA"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./skirun"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=fbqHK8i-HdA"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >The Most Insane Ski Run Ever Imagined - Markus Eder's The
                Ultimate Run</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- Most Insane Ski Run -->

      <!-- Australia -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/dlsm-_NgGWw"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="/australia4k"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=dlsm-_NgGWw"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Australia Documentary 4K | Outback Wildlife | Original Nature
                Documentary | Deserts and Grasslands</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- Australia -->

      <!-- bg-blue-900 -->
      <div
        class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        .
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
              src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a href="./gopro"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >Larger View</span
              >
            </a>
          </h5>
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            <a
              href="https://www.youtube.com/watch?v=vlDzYIIOYmM"
              rel="noopener"
              target="_blank"
              ><span
                class="text-red-700 text-base hover:text-lg hover:text-green-900"
                >GoPro HERO5 + Karma: The Launch in 4K</span
              >
            </a>
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">.</p>
        </div>
      </div>
      <!-- bg-blue-900 -->

      <Footer client:only="react" />
    </div>
  </main>
</Layout>
