---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="About Page | Intro section with dropdown navigation.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1 class="text-white text-6xl font-bold text-center">HOME</h1>
        <h2 class="text-slate-100 text-3xl mt-5 text-center">
          ITS GOES DEEP BUT WE ARE WINNING
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- images/Med-Bed001.jpg -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto"
    >
      <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
        <div>
          <h1
            class="text-almost-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold"
          >
            HOME
          </h1>
          <p class="py-5 lg:py-[4rem] lg:text-xl">---</p>
        </div>
      </div>
      <div class="order-first lg:order-last">
        <img class="lg:hidden mb-9" src="images/Med-Bed001.jpg" alt="Med-Bed" />
        <img
          class="hidden lg:block"
          src="images/Med-Bed001.jpg"
          alt="Med-Bed"
        />
      </div>
    </div>
    <!-- images/Med-Bed001.jpg -->

    <!-- SONG DEDICATED TO THE DEEP STATE TRASH -->
    <div class="md:container md:mx-auto">
      <!-- ... -->

      <div class="p-10">
        <!--Card 1-->
        <div class="w-full lg:max-w-full lg:flex">
          <div
            class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
          >
          </div>
          <div
            class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
          >
            <div class="mb-8">
              <div class="text-gray-900 font-bold text-xl mb-2">
                <a
                  href="https://www.bitchute.com/video/JtJqS1oFfmLl/"
                  rel="noopener"
                  target="_blank"
                  ><span
                    class="text-red-700 text-base hover:text-lg hover:text-green-900"
                    >SONG DEDICATED TO THE DEEP STATE TRASH</span
                  >
                </a>
              </div>
              <br class="text-gray-700 text-base" />
              A Song Dedicated To The DEEP STATE TRASH that rob innocent scared awaking
              people of there money.<br /> And this is only a matter of time LMAO
              LET THE TROLLING BEGIN you will be cut down as well
            </div>
            <div class="flex items-center">
              <div
                class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
                style="padding-top: 56.25%"
              >
                <iframe
                  class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
                  src="https://www.bitchute.com/embed/JtJqS1oFfmLl/"
                  allowfullscreen=""
                  data-gtm-yt-inspected-2340190_699="true"
                  id="240632615"></iframe>
              </div>
            </div>
            <div class="text-gray-900 font-bold text-xl mb-2">
              If you don't know what this video about,<br /> to find out more goto
              <a href="https://deepstate.se/" rel="noopener" target="_blank"
                ><span class="text-red-700 hover:text-2xl hover:text-green-900"
                  >deepstate.se</span
                >
              </a> site before continuing.
            </div>
          </div>
        </div>
      </div>
      <!-- SONG DEDICATED TO THE DEEP STATE TRASH -->

      <!-- bg-blue-900 -->
      <div class="container mx-auto px-4 max-w-2xl m-4 bg-blue-900 text-white">
        ...bulk of the card's content blue-900.
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <div
            class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
            style="padding-top: 56.25%"
          >
            <iframe
              class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
              src="https://www.youtube.com/embed/vlDzYIIOYmM?enablejsapi=1&origin=https%3A%2F%2Fmdbootstrap.com"
              allowfullscreen=""
              data-gtm-yt-inspected-2340190_699="true"
              id="240632615"></iframe>
          </div>
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
          >
            Card title 2
          </h5>
          <p class="mb-4 text-base text-white dark:text-neutral-200">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <!-- bg-blue-900 -->

      <div
        class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
      >
        <div
          class="content-center overflow-hidden bg-cover bg-no-repeat"
          data-te-ripple-init
          data-te-ripple-color="light"
        >
          <img
            class="mx-auto rounded-t-lg"
            src="https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg"
            alt=""
          />
        </div>
        <div class="p-6 top-0 text-center">
          <h5
            class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
          >
            Card title 2
          </h5>
          <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </main>
  <Footer client:only="react" />
</Layout>
