---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
import Contact from "../components/Contact.astro";
import Israel from "../components/Israel.astro";
import Deception from "../components/Deception.astro";
import Intel from "../components/Intel.astro";
import Qthestormm from "../components/Qthestormm.astro";
import Skye from "../components/Skye.astro";
import Jones from "../components/Jones.astro";
import Demon from "../components/Demon.astro";
import Patriotchute from "../components/Patriotchute.astro";
import TPV from "../components/TPV.astro";
---

<Layout title="INTEL ">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-800 to-fuchsia-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] text-center text-transform: uppercase"
        >
          INTEL
        </h1>

        <h2 class="text-slate-100 text-xl mt-5 text-center">...</h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- POWER TO THE PEOPLE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="people">
        <p class="mb-4 text-base text-blue-900">POWER TO THE PEOPLE</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://old.bitchute.com/embed/WCKCfKMusKjR/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- POWER TO THE PEOPLE -->

    <!-- 11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="returned">
        <p class="mb-4 text-base text-blue-900">
          11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://old.bitchute.com/embed/EXlbedGhbBWc/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- 11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE -->

    <!-- Woooohooooo we all getting backed up 🙌🏻🩷 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="galactic">
        <p class="mb-4 text-base text-blue-900">
          Woooohooooo we all getting backed up 🙌🏻🩷
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://old.bitchute.com/embed/BZZrNnJ6mlEg/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Woooohooooo we all getting backed up 🙌🏻🩷 -->

    <!-- SHOTS HEARD -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="shots">
        <p class="mb-4 text-base text-blue-900">SHOTS HEARD</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/dimPKgt1btEF/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- SHOTS HEARD -->

    <!-- DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="demon">
        <p class="mb-4 text-base text-blue-900">
          DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING
          RIOTS!!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239425"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Demon />
        <Deception />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!! -->

    <!-- PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON ☤ THE CURE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="pascal">
        <p class="mb-4 text-base text-blue-900">
          PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS
          BIO-WEAPON ☤ THE CURE
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4p8ple/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON ☤ THE CURE -->

    <!-- Conquering Darkness Truthathon Part 5 - BONUS: Pascal Najadi - Switzerland, Trump, and the Fight Against the Deep State Treason -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="counterspin">
        <p class="mb-4 text-base text-blue-900">
          Conquering Darkness Truthathon Part 5 - BONUS: Pascal Najadi -
          Switzerland, Trump, and the Fight Against the Deep State
          Treason(counterspin)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <div class="ifw-player" data-video-id="6616005ff0fe30606516ff88">
          </div><script src="https://infowarsmedia.com/js/player.js" async
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />
        <TPV />
        <Qthestormm />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Conquering Darkness Truthathon Part 5 - BONUS: Pascal Najadi - Switzerland, Trump, and the Fight Against the Deep State Treason -->

    <!-- One last battle and the Rockefeller/Hitler branch of the KM will go down -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="battle">
        <p class="mb-4 text-base text-blue-900">
          One last battle and the Rockefeller/Hitler branch of the KM will go
          down
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/DpUl9G07JyEV/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239871"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >One last battle and the Rockefeller/Hitler branch of the KM will
              go down</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v4s9e38-benjamin-fulford-april-29-2024-audio-news-letter.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 text-base hover:text-lg hover:text-green-900"
              >Benjamin Fulford - One last battle and the Rockefeller/Hitler
              branch of the KM will go down - April 29 2024 (audio news letter)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/DpUl9G07JyEV/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-red-900"
              >ALEX JONES INTERVIEWS WEF WHISTLEBLOWER PASCAL NAJADI AND HAS A Q
              FREAKOUT ON-AIR</span
            >
          </a>
        </h5>
        <Patriotchute />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- One last battle and the Rockefeller/Hitler branch of the KM will go down -->

    <!-- AN-OLDER-CODE -->
  </main>
</Layout>
<Footer client:only="react" />
