---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Movies from "../components/Movies.astro";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
import Contact from "../components/Contact.astro";
import Nagas from "../components/Nagas.astro";
import Cosmic from "../components/Cosmic.astro";
import Highcommand from "../components/Highcommand.astro";
---

<Layout title="The Invisible War">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-indigo-900 to-cyan-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          The Invisible War
        </h1>

        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          The Invisible War in DUMBS and UNDERGROUND
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="aliens">
        <p class="mb-4 text-base text-blue-500">
          Government Assassin We work with Aliens @4:30
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v27i8zm/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./goesdeep"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2a3ous-government-assassin-we-work-with-aliens.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
              >Government Assassin We work with Aliens @4:30</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/46db0674-eace-47c7-bf2a-33921abb675a"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-lg font-bold hover:text-2xl hover:text-red-700"
              >Government Assassin We work with Aliens @4:30</span
            >
          </a>
        </h5>
        <Rept />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- EX MEN IN BLACK -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Contact />
      <h2 id="black">
        <p class="mb-4 text-base text-left font-bold text-black">
          EX MEN IN BLACK
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/yDObvWOR8DyQ/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/yDObvWOR8DyQ/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >EX MEN IN BLACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/lTUi8QhIKahf/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >REPTILIANS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=huehrGaa0FY&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 bg-white text-base hover:text-lg hover:text-red-700"
              >SHADOW OPERATIONS - THE MARS PROJECT</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@OutoftheBoxTV:d/shadow:11"
            rel="noopener"
            target="_blank"
            ><span
              class="text-yellow-400 bg-white text-base hover:text-lg hover:text-pink-500"
              >Project Camelot: Shadow Operations! Black Ops - Mission to Mars -
              Pilot</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- EX MEN IN BLACK -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="alex">
        <p class="mb-4 text-base text-left font-bold text-black">
          Super Soldier Talk – Alex Collier – Andromedan Contactee
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v23tvn6/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v26g0e6-super-soldier-talk-alex-collier-andromedan-contactee.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">5000 kids gone @5:00</p>
        <Cosmic />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Nb8tdBpMO6I"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >GALACTIC INFORMER TONY RODRIGUES LUNAR COMMAND, MILITARY
              EXPERIMENTS, DANGEROUS LIES & CONSEQUENCES</span
            >
          </a>
        </h5>
        <Nagas />
        <Rept />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="nine">
        <p class="mb-4 text-base text-left font-bold text-black">
          CHRISTIAN21 IN DESCRIPTION
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/lbf3lksGdBZb/"
            allowfullscreen=""
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/lbf3lksGdBZb/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >CHRISTIAN21 IN DESCRIPTION</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-justify text-black">
          EVERY YEAR, the Reptilians have been taking NINE MILLION CHILDREN from
          the planet, worldwide. What you will find is that a lot of the current
          deaths in your neighborhood, are due to this cleansing stuff (the
          recent chem trails) which have been harming those PEDOS, and that's
          why the ambulances take them away.
        </p>
        <p class="mb-4 text-base text-left text-black">...</p>
        <Nagas />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔ -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="dumb">
        <p class="mb-4 text-base text-left font-bold text-black">
          Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2z5w1y/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v31rb40-remember-this-from-2020-the-invisible-war.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔</span
            >
          </a>
        </h5>
        <Highcommand />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔ -->

    <!-- PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX- and HUMAN TRAFFICKING -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="trafficking">
        <p class="mb-4 text-base text-left font-bold text-black">
          PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX- and
          HUMAN TRAFFICKING
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1k3keo/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1mpq9o-donald-trump-and-his-administration-focusing-to-end-childsex-and-human-traf.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
              >PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX-
              and HUMAN TRAFFICKING</span
            >
          </a>
        </h5>
        <Highcommand />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX- and HUMAN TRAFFICKING -->

    <!-- Card title 5B -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      THE WAR IS ON! TRUMP vs THE CHILD TRAFFICKERS<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1tkrks/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1w6x0s-the-war-is-on-trump-vs-the-child-traffickers.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >THE WAR IS ON! TRUMP vs THE CHILD TRAFFICKERS</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 5B -->

    <!-- ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="truth">
        <p class="mb-4 text-base text-left font-bold text-black">
          ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1gf6ft/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1j1cbd-its-time-to-face-the-truth-no-mercy-for-child-predators.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
              >ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS</span
            >
          </a>
        </h5>
        <Highcommand />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS -->

    <!-- Card title 5C -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1gf6ft/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1j1cbd-its-time-to-face-the-truth-no-mercy-for-child-predators.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 5C -->

    <!-- Cosmic Interstellar Human Trafficking with Tony Rodrigues! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Contact />
      <h2 id="cosmic">
        <p class="mb-4 text-base text-left font-bold text-black">
          Cosmic Interstellar Human Trafficking with Tony Rodrigues!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2bpu4s/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2eb9po-cosmic-interstellar-human-trafficking-with-tony-rodrigues.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
            >
          </a>
        </h5>
        <Cosmic />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/user/LauraEisenhower13"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >LauraEisenhower13</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Nb8tdBpMO6I"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >GALACTIC INFORMER TONY RODRIGUES LUNAR COMMAND, MILITARY
              EXPERIMENTS, DANGEROUS LIES & CONSEQUENCES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#alex"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner#alex1994"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Alex Collier Interview (1994)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=yQ1TWBZnPxU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >MARS COLONY MILITARY, CLONES - DISCLOSURE WITH GALACTIC INFORMERS
              TONY RODRIGUES DANI HENDERSON</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Nb8tdBpMO6I"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-purple-900"
              >GALACTIC INFORMER TONY RODRIGUES LUNAR COMMAND, MILITARY
              EXPERIMENTS, DANGEROUS LIES & CONSEQUENCES</span
            >
          </a>
        </h5>
        <Nagas />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Cosmic Interstellar Human Trafficking with Tony Rodrigues! -->

    <!-- PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX TRAFFICKING -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="trump">
        <p class="mb-4 text-base text-left font-bold text-black">
          PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX
          TRAFFICKING
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/OVgi4ycjteWH/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/OVgi4ycjteWH/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX
              TRAFFICKING</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/the_high_command/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >THE_HIGH_COMMAND</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#time"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/S4W8Nhqf1A2j/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >COPPERPOT - WARNING! NOT FOR SENSITIVE AUDIENCES (SEE LINKS!)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=2LakXx6A72g"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >IN GOV MIKE PENCE HAS MURDERED 53 CHILDREN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=P9WKL_UNxds"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Mike Pence has raped 186 Children 2Jun</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=n1kyIvHqp7Y"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-red-700"
              >WHERE ARE THE HUMANS IN GOVERNMENT?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://timothycharlesholmseth.com/cia-officer-robert-david-steele-told-timothy-charles-holmseth-that-mike-pence-and-accomplice-raped-and-then-murdered-child-with-a-dagger/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >CIA officer Robert David Steele told Timothy Charles Holmseth<br
              />
              that Mike Pence and accomplice raped and then murdered child with<br
              />
              a dagger Steele also said whistleblower Tory Smith was murdered by<br
              />
              an Indiana State Trooper.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Yh4sno9WgsU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >WILL THIS BE MY LAST VIDEO?</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX TRAFFICKING -->

    <!-- ALEX COLLIER WEBINAR 178 MARCH 10, 2023 @9:30 @11:35 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ALEX COLLIER WEBINAR 178 MARCH 10, 2023 @9:30 @11:35<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/9d9b19ff-7761-4d71-a3cb-ebfef607b74e"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/9d9b19ff-7761-4d71-a3cb-ebfef607b74e"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >ALEX COLLIER WEBINAR 178 MARCH 10, 2023 @9:30 @11:35</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/u9qWHUWU3avN/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-700"
              >#86 THE DELAY IS "US"-ALEX COLLIER'S INTEL 10MAR23</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/cosmic_metamorphosis/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-700"
              >Cosmic_Metamorphosis</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- ALEX COLLIER WEBINAR 178 MARCH 10, 2023 @9:30 @11:35 -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="biblical">
        <p class="mb-4 text-base text-left font-bold text-black">
          Law Abiding Citizen - "Its Gonna Be Biblical"
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/YJnQnD9EXnw"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=YJnQnD9EXnw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Law Abiding Citizen - "Its Gonna Be Biblical"</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Former US Army General Confirms Q -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      Former US Army General Confirms Q is Deep Military Intelligence Operation<div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2nuimq/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2qfy18-former-us-army-general-confirms-q-is-deep-military-intelligence-operation.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Former US Army General Confirms Q is Deep Military Intelligence
              Operation</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Former US Army General Confirms Q -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="time">
        <p class="mb-4 text-base text-left font-bold text-black">
          TIME TRAVEL (IT'S GOING TO BE BIBLICAL)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/WxXJ0bdWIO3F/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/WxXJ0bdWIO3F/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#tenet2"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TENET Ending scene 4K. Protagonist notices that Neil has a red
              string on his back</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./arrests#kappy1"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >"JIM CARREY CALLED ME ... IF YOU ATE KIDS YOU'RE GOING FUCKING
              DIE"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./arrests#kappy2"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >KAPPY: EPSTEIN EDITION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/july/july-25-2023.mp3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Kent Dunn July 25, 2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk#obrien"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk - Collin Obrien - Remote Viewing Updates and
              More @8:00 28/Apr/2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=huehrGaa0FY&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 bg-white text-base hover:text-lg hover:text-red-700"
              >SHADOW OPERATIONS - THE MARS PROJECT</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@OutoftheBoxTV:d/shadow:11"
            rel="noopener"
            target="_blank"
            ><span
              class="text-yellow-400 bg-white text-base hover:text-lg hover:text-pink-500"
              >Project Camelot: Shadow Operations! Black Ops - Mission to Mars -
              Pilot</span
            >
          </a>
        </h5>
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- The Truth about A Rothschild Speaks Out -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="erin">
        <p class="mb-4 text-base text-left font-bold text-black">
          (Must See!) The Truth about A Rothschild Speaks Out - Erin Rothschild
          (2013)(20min Interview Starts) @23:00
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://odysee.com/$/embed/@januszkowalskii1979:e/Rothschild-Speaks-Out---Erin-Rothschild-(2013)(20min-Interview-Starts):9?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@januszkowalskii1979:e/Rothschild-Speaks-Out---Erin-Rothschild-(2013)(20min-Interview-Starts):9"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >(Must See!) The Truth about A Rothschild Speaks Out - Erin
              Rothschild (2013)(20min Interview Starts) @23:00</span
            >
          </a>
        </h5>

        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- The Truth about A Rothschild Speaks Out -->

    <!-- TENET - Final Trailer -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="tenet1">
        <p class="mb-4 text-base text-left font-bold text-black">
          TENET - Final Trailer
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/AZGcmvrTX9M"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=AZGcmvrTX9M"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TENET - Final Trailer</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk#obrien"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk - Collin Obrien - Remote Viewing Updates and
              More @8:00 28/Apr/2023</span
            >
          </a>
        </h5>

        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- TENET - Final Trailer -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Movies />

      <h2 id="tenet2">
        <p class="mb-4 text-base text-left font-bold text-black">
          TENET Ending scene 4K. Protagonist notices that Neil has a red string
          on his back
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/gbO6X_aCxDE?si=54vMTMG44jBvVE69&start=142"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=gbO6X_aCxDE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TENET Ending scene 4K. Protagonist notices that Neil has a red
              string on his back</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk#obrien"
            ><span
              class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk - Collin Obrien - Remote Viewing Updates and
              More @8:00 28/Apr/2023</span
            >
          </a>
        </h5>

        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Contact />
      <h2 id="corporation">
        <p class="mb-4 text-base text-left font-bold text-black">
          Randy Cramer talks about where the idea of corporation came from.@7:30
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2nynei/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2qiphs-draco-reptilians-manipulators-of-earths-social-structure-according-to-the-g.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Draco Reptilians - Manipulators of Earth’s Social Structure,
              according to the Greys</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2qk2t0-draco-reptilians-manipulators-of-earths-social-structure-according-to-the-g.htm"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-600 bg-white text-base hover:text-lg hover:text-red-700"
              >Draco Reptilians - Manipulators of Earth’s Social Structure,
              according to the Greys</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-justify font-bold text-black">
          Randy Cramer talks about where the idea of<br /> corporation came from.@7:30
        </p>
        <p
          class="mb-4 text-base text-justify text-neutral-600 dark:text-neutral-200"
        >
          Tactical Advisor Tim and Randy Cramer, the public spokesperson for the
          U.S. Marine Corps substantiate each other’s claims from their
          respective diplomatic and military experiences and perspectives.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/asaiyXHQFvrp/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 bg-white text-base hover:text-lg hover:text-purple-700"
              >MONOPOLY: AN OVERVIEW OF THE GREAT RESET – FOLLOW THE MONEY</span
            >
          </a>
        </h5>
        <Nagas />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="reptos">
        <p class="mb-4 text-base text-left font-bold text-black">
          🦎 REPTOS, LIZARDS and SHAPESHIFTERS
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2knq9s/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2n95pg--reptos-lizards-and-shapeshifters.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
              >🦎 REPTOS, LIZARDS and SHAPESHIFTERS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./aliens"
            ><span
              class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
              >THEY ARE COMING</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ALIEN.WARS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./billwood"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >PROJECT LOOKING GLASS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater"
            ><span
              class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
              >Bluewater</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ALIEN-WARS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./howe"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Linda Moulton Howe</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./news"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >News</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./global"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Global Marshall Law</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./arrests"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Arrests</span
            >
          </a>
        </h5>
        <Nagas />
      </div>

      <a href="./monsters#factory">
        <p class="text-left text-yellow-100 hover:text-blue-300">
          Monsters Inc
        </p></a
      >
    </div>
  </main>
  <!-- Government Assassin -->

  <!-- A DRACO REPTO - IN MUSEUM IN EGYPT - HUNTED AND ELIMINATED BY RUSSIAN SPECIAL FORCES -->
  <div
    class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
  >
    <h2 id="museum">
      <p class="mb-4 text-base text-left font-bold text-black">
        A DRACO REPTO - IN MUSEUM IN EGYPT - HUNTED AND ELIMINATED BY RUSSIAN
        SPECIAL FORCES
      </p>
    </h2>

    <div
      class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
      data-te-ripple-init
      data-te-ripple-color="light"
    >
      <div
        class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
        style="padding-top: 56.25%"
      >
        <iframe
          class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
          src="https://rumble.com/embed/v23vxuu/?pub=166b2j"
          allowfullscreen=""
          data-gtm-yt-inspected-2340190_699="true"
          id="240632615"></iframe>
      </div>
    </div>
    <div class="p-6 top-0 text-center">
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://rumble.com/v26i2lu-a-draco-repto-in-museum-in-egypt-hunted-and-eliminated-by-russian-special-f.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
            >A DRACO REPTO - IN MUSEUM IN EGYPT - HUNTED AND ELIMINATED BY
            RUSSIAN SPECIAL FORCES</span
          >
        </a>
      </h5>

      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./invisible-war"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >The Invisible War</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./aliens"
          ><span
            class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
            >THEY ARE COMING</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./alienwars"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >ALIEN.WARS</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./billwood"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >PROJECT LOOKING GLASS</span
          >
        </a>
      </h5>

      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./supersoldiertalk"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >Super Soldier Talk</span
          >
        </a>
      </h5>

      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./bluewater"
          ><span
            class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
            >Bluewater</span
          >
        </a>
      </h5>

      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./alienwars"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >ALIEN-WARS</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./howe"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >Linda Moulton Howe</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./news"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >News</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./global"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >Global Marshall Law</span
          >
        </a>
      </h5>
      <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="./arrests"
          ><span
            class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
            >Arrests</span
          >
        </a>
      </h5>
      <Nagas />
    </div>

    <a href="./monsters#factory">
      <p class="text-left text-yellow-100 hover:text-blue-300">
        Monsters Inc
      </p></a
    >
  </div>
</Layout>
<!-- A DRACO REPTO - IN MUSEUM IN EGYPT - HUNTED AND ELIMINATED BY RUSSIAN SPECIAL FORCES -->

<Footer client:only="react" />
