---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="The Invisible War.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          The Invisible War
        </h1>

        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          The Invisible War in DUMBS and UNDERGROUND
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-500">
        Government Assassin We work with Aliens @4:30
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v27i8zm/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./goesdeep"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2a3ous-government-assassin-we-work-with-aliens.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
              >Government Assassin We work with Aliens @4:30</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/46db0674-eace-47c7-bf2a-33921abb675a"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-lg font-bold hover:text-2xl hover:text-red-700"
              >Government Assassin We work with Aliens @4:30</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican"
            ><span
              class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
              >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./aliens"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >THEY ARE COMING</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ALIEN.WARS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./billwood"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >PROJECT LOOKING GLASS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Don't Mention the Reptilians</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./eceti"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ECETI Where Contact Is Happening Now</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bogdanoff"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >BOGDANOFFS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Bluewater</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ALIEN-WARS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./global"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Global Marshall Law</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="corporation">
        <p class="mb-4 text-base text-left font-bold text-black">
          Super Soldier Talk – Alex Collier – Andromedan Contactee
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v23tvn6/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v26g0e6-super-soldier-talk-alex-collier-andromedan-contactee.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Card title 5A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1k3keo/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1mpq9o-donald-trump-and-his-administration-focusing-to-end-childsex-and-human-traf.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX-
              and HUMAN TRAFFICKING</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 5A -->

    <!-- Card title 5B -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1tkrks/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1w6x0s-the-war-is-on-trump-vs-the-child-traffickers.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX-
              and HUMAN TRAFFICKING</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 5B -->

    <!-- Card title 5C -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1gf6ft/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1j1cbd-its-time-to-face-the-truth-no-mercy-for-child-predators.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >ITS TIME TO FACE THE TRUTH - NO MERCY FOR CHILD PREDATORS</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 5C -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="corporation">
        <p class="mb-4 text-base text-left font-bold text-black">
          Cosmic Interstellar Human Trafficking with Tony Rodrigues!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2bpu4s/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2eb9po-cosmic-interstellar-human-trafficking-with-tony-rodrigues.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Card title 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2ac4ek/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2cxk3c-alex-collier-webinar-178-march-10-2023.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >ALEX COLLIER WEBINAR 178 MARCH 10, 2023 @9:30 @11:35</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 4A -->

    <!-- Former US Army General Confirms Q -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2nuimq/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2qfy18-former-us-army-general-confirms-q-is-deep-military-intelligence-operation.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Former US Army General Confirms Q is Deep Military Intelligence
              Operation</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Former US Army General Confirms Q -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="corporation">
        <p class="mb-4 text-base text-left font-bold text-black">
          Randy Cramer talks about where the idea of<br /> corporation came from.@7:30
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2nynei/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2qiphs-draco-reptilians-manipulators-of-earths-social-structure-according-to-the-g.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Draco Reptilians - Manipulators of Earth’s Social Structure,
              according to the Greys</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2qk2t0-draco-reptilians-manipulators-of-earths-social-structure-according-to-the-g.htm"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Draco Reptilians - Manipulators of Earth’s Social Structure,
              according to the Greys</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left font-bold text-black">
          Randy Cramer talks about where the idea of<br /> corporation came from.@7:30
        </p>
        <p
          class="mb-4 text-base text-left text-neutral-600 dark:text-neutral-200"
        >
          Tactical Advisor Tim and Randy Cramer,<br /> the public spokesperson for
          the U.S. Marine Corps<br /> substantiate each other’s claims<br /> from
          their respective diplomatic and military experiences<br /> and perspectives.
        </p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!-- Government Assassin -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="corporation">
        <p class="mb-4 text-base text-left font-bold text-black">
          Chris Turner talks about Richard Bruce
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2no36r/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2q9iln-real-repto-shapeshifters...-the-subject-no-one-wants-to-talk-about.html"
            rel="noopener"
            target="_blank"
            ><span class="text-green-900 text-xl font-bold hover:text-red-700">
              Real REPTO Shapeshifters!... The Subject No One Wants To Talk
              About</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Don't Mention the Reptilians</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="http://freeourworld.org/" rel="noopener" target="_blank"
            ><span class="text-green-900 text-xl font-bold hover:text-red-700"
              >freeourworld.org</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span class="text-green-900 text-xl font-bold hover:text-red-700"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner#legacy"
            ><span class="text-orange-500 text-xl font-bold hover:text-red-700"
              >Alien Reptilian Legacy (Don't Mention the Reptilians) Movie</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Government Assassin -->

    <!--  REPTOS, LIZARDS and SHAPESHIFTERS 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2knq9s/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2n95pg--reptos-lizards-and-shapeshifters.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
            >
              REPTOS, LIZARDS and SHAPESHIFTERS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican"
            ><span
              class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
              >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./aliens"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >THEY ARE COMING</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ALIEN.WARS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./billwood"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >PROJECT LOOKING GLASS</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Super Soldier Talk</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./fritz"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Introduction to the Secret Space Program 101 by James Rink, Johan
              Fritz and FESIG</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Don't Mention the Reptilians</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./eceti"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ECETI Where Contact Is Happening Now</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bogdanoff"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >BOGDANOFFS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Bluewater</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >ALIEN-WARS</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!--  REPTOS, LIZARDS and SHAPESHIFTERS 4A -->

    <Footer client:only="react" />
  </main>
</Layout>
