---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";

import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Icke from "../components/Icke.astro";
import Qthestormm from "../components/Qthestormm.astro";
---

<Layout title="ITS HERE ...">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-sky-400 to-blue-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          ITS HERE ...
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">@QTHESTORMM</h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Compilation of Fact -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="compilation">
        <p class="mb-4 text-base text-green-900">Compilation of Fact</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v40su0u/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v43e6r3-compilation-of-fact.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Compilation of Fact</span
            >
          </a>
        </h5>
        <Rept />
      </div>
    </div>
    <!-- Compilation of Fact -->

    <!-- ITS HERE ... -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="qthestormm">
        <p class="mb-4 text-base text-sky-500">ITS HERE ...</p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560">
            <p lang="en" dir="ltr">
              ITS HERE ... <a href="https://t.co/eYXkhY6CMK"
                >pic.twitter.com/eYXkhY6CMK</a
              >
            </p>&mdash; Q ™️ (@QTHESTORMM) <a
              href="https://twitter.com/QTHESTORMM/status/1740823942376415368?ref_src=twsrc%5Etfw"
              >December 29, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1740823942376415368?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >ITS HERE ...</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/MJTruthUltra/status/1740179547763450228?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >Tucker Carlson: Non-Humans “That have always Been Here”</span
            >
          </a>
        </h5>
        <Qthestormm />
        <Icke />
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- ITS HERE ... -->

    <!-- Tucker Carlson: Non-Humans “That have always Been Here” -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="tucker">
        <p class="mb-4 text-base text-sky-500">
          Tucker Carlson: Non-Humans “That have always Been Here”
        </p>
      </h2>

      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Tucker Carlson: Non-Humans “That have always Been Here” — Under
              the Oceans and Underground, the Vatican has been Involved for the
              Last 100 Years 👀 <br /><br />Ok… here are my thoughts and I would
              love to hear yours.<br /><br />Tucker is a self-proclaimed
              Christian, so he might as well go ahead and… <a
                href="https://t.co/d1zCkVqdLQ">pic.twitter.com/d1zCkVqdLQ</a
              >
            </p>&mdash; MJTruthUltra (@MJTruthUltra) <a
              href="https://twitter.com/MJTruthUltra/status/1740179547763450228?ref_src=twsrc%5Etfw"
              >December 28, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1740823942376415368?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >ITS HERE ...</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/MJTruthUltra/status/1740179547763450228?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >Tucker Carlson: Non-Humans “That have always Been Here”</span
            >
          </a>
        </h5>
        <Qthestormm />
        <Icke />
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Tucker Carlson: Non-Humans “That have always Been Here” -->

    <!-- Tucker Carlson On Twitter - Episode 51 . . . The US Government Has Made Contact With Aliens (Video) -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="contact">
        <p class="mb-4 text-base text-sky-500">
          Ep. 51 It’s becoming obvious that the US government has made contact
          with nonhuman beings. So why are they lying to us about it? We asked
          UFO whistleblower Dave Grusch.
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Ep. 51 It’s becoming obvious that the US government has made
              contact with nonhuman beings. So why are they lying to us about
              it? We asked UFO whistleblower Dave Grusch. <a
                href="https://t.co/IP1dV29KnI">pic.twitter.com/IP1dV29KnI</a
              >
            </p>&mdash; Tucker Carlson (@TuckerCarlson) <a
              href="https://twitter.com/TuckerCarlson/status/1735083523050975277?ref_src=twsrc%5Etfw"
              >December 13, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#everywhere"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/TuckerCarlson/status/1735083523050975277"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
              >Tucker Carlson On Twitter - Episode 51 . . . The US Government
              Has Made Contact With Aliens (Video)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233621"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
              >Tucker Carlson On Twitter - Episode 51 . . . The US Government
              Has Made Contact With Aliens (Video)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Icke />
      </div>
    </div>
    <!-- Tucker Carlson On Twitter - Episode 51 . . . The US Government Has Made Contact With Aliens (Video) -->

    <!-- Shocking Developments in Middle East - Extraterrestrial Agreements & The Jerusalem Mothership -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="shocking">
        <p class="mb-4 text-base text-sky-500">
          Shocking Developments in Middle East - Extraterrestrial Agreements &
          The Jerusalem Mothership
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/raYTeWp2PoA?si=EIXdM2YfdnY8Egkn&start=480"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=raYTeWp2PoA&t=480s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-purple-900"
              >Shocking Developments in Middle East - Extraterrestrial
              Agreements & The Jerusalem Mothership @8:00</span
            >
          </a>
        </h5>

        <Icke />
      </div>
    </div>
    <!-- Shocking Developments in Middle East - Extraterrestrial Agreements & The Jerusalem Mothership -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
