---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";

import Bluelist from "../components/Bluelist.astro";
---

<Layout title="ITS HERE ...">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-sky-400 to-blue-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          ITS HERE ...
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">@QTHESTORMM</h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Compilation of Fact -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="documentary">
        <p class="mb-4 text-base text-green-900">Compilation of Fact</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v40su0u/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v43e6r3-compilation-of-fact.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Compilation of Fact</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Compilation of Fact -->

    <!-- ITS HERE ... -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="qthestormm">
        <p class="mb-4 text-base text-sky-500">ITS HERE ...</p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560">
            <p lang="en" dir="ltr">
              ITS HERE ... <a href="https://t.co/eYXkhY6CMK"
                >pic.twitter.com/eYXkhY6CMK</a
              >
            </p>&mdash; Q ™️ (@QTHESTORMM) <a
              href="https://twitter.com/QTHESTORMM/status/1740823942376415368?ref_src=twsrc%5Etfw"
              >December 29, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1740823942376415368?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >ITS HERE ...</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/MJTruthUltra/status/1740179547763450228?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >Tucker Carlson: Non-Humans “That have always Been Here”</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/QTHESTORMM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >@QTHESTORMM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./news#qthestormm"
            ><span
              class="text-blue-900 text-base hover:text-lg hover:text-purple-800"
              >@QTHESTORMM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://qofficial.net/password"
            rel="noopener"
            target="_blank"
            ><span
              class="text-black text-base hover:text-lg hover:text-purple-600"
              >NEW Q SITE</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- ITS HERE ... -->

    <!-- ITS HERE ... -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="qthestormm">
        <p class="mb-4 text-base text-green-900">ITS HERE ...</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560">
            <p lang="en" dir="ltr">
              ITS HERE ... <a href="https://t.co/eYXkhY6CMK"
                >pic.twitter.com/eYXkhY6CMK</a
              >
            </p>&mdash; Q ™️ (@QTHESTORMM) <a
              href="https://twitter.com/QTHESTORMM/status/1740823942376415368?ref_src=twsrc%5Etfw"
              >December 29, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1740823942376415368?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >ITS HERE ...(@QTHESTORMM)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/QTHESTORMM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >@QTHESTORMM</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/MJTruthUltra/status/1740179547763450228?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-red-700"
              >Tucker Carlson: Non-Humans “That have always Been Here”</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./news#qthestormm"
            ><span
              class="text-blue-900 text-base hover:text-lg hover:text-purple-800"
              >@QTHESTORMM</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://qofficial.net/password"
            rel="noopener"
            target="_blank"
            ><span
              class="text-black text-base hover:text-lg hover:text-purple-600"
              >NEW Q SITE</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- ITS HERE ... -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
