---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Escapes from "../components/Escapes.astro";
import Patriotchute from "../components/Patriotchute.astro";
---

<Layout title="JFK">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-yellow-700 to-purple-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          JFK
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          President John F Kennedy didn't die in 1963: he lived until 2021
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- President John F Kennedy didn't die in 1963: he lived until 2021(wordpress) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="wordpress">
        <p class="mb-4 text-base text-green-900">
          President John F Kennedy didn't die in 1963: he lived until
          2021(wordpress)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://commonlawamerica.wordpress.com/2023/02/28/president-john-f-kennedy-did-not-die-in-1963-he-lived-until-2021/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Escapes />
      </div>
    </div>
    <!-- President John F Kennedy didn't die in 1963: he lived until 2021(wordpress) -->

    <!-- President John F Kennedy didn't die in 1963: he lived until 2021 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="lived">
        <p class="mb-4 text-base text-green-900">
          President John F Kennedy didn't die in 1963: he lived until 2021
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/w0B3Bxev3Bao/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Escapes />
      </div>
    </div>
    <!-- President John F Kennedy didn't die in 1963: he lived until 2021 -->

    <!-- John F Kennedy Jr. 19th Vice President -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="vice">
        <p class="mb-4 text-base text-green-600">
          John F Kennedy Jr. 19th Vice President
        </p>
      </h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Here&#39;s The Real Intel, No One But Us Will Tell You The Truth.
              Don&#39;t Play Their Reptilian Game, They Have Been Doing<br
              />This For Over 26k Years. Heavily Infiltrated Into The Light
              Channels. <br /><br />Pedophiles Are The Virus - The US Military
              Is The Vaccine. All You Need Is A Little… <a
                href="https://t.co/NIxwVP9hOd">pic.twitter.com/NIxwVP9hOd</a
              >
            </p>&mdash; VAL THOR (@CMDRVALTHOR) <a
              href="https://twitter.com/CMDRVALTHOR/status/1800480559128256883?ref_src=twsrc%5Etfw"
              >June 11, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/CMDRVALTHOR/status/1800480559128256883"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-sky-500 hover:text-2xl hover:text-green-900"
              >John F Kennedy Jr. 19th Vice President</span
            >
          </a>
        </h5>
        <Patriotchute />
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- John F Kennedy Jr. 19th Vice President -->

    <!-- JFK and JFK Junior are alive - US 🇺🇸Mil. Op. #STORM Surfacing April 30th 2024 - #WWG1WGA - Swiss 🇨🇭NAZI Political Democracy and Swiss 🇨🇭NAZI Flag Deleted - TruthStreamShow -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="storm">
        <p class="mb-4 text-base text-green-900">
          JFK and JFK Junior are alive - US 🇺🇸Mil. Op. #STORM Surfacing April
          30th 2024 - #WWG1WGA - Swiss 🇨🇭NAZI Political Democracy and Swiss
          🇨🇭NAZI Flag Deleted - TruthStreamShow
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4p607t/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />
      </div>
    </div>
    <!-- JFK and JFK Junior are alive - US 🇺🇸Mil. Op. #STORM Surfacing April 30th 2024 - #WWG1WGA - Swiss 🇨🇭NAZI Political Democracy and Swiss 🇨🇭NAZI Flag Deleted - TruthStreamShow -->

    <!-- Where We Go One We Go All - Important Message to all divine Human Species - May 6th 2024 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="alive">
        <p class="mb-4 text-base text-green-900">
          Where We Go One We Go All - Important Message to all divine Human
          Species - May 6th 2024
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4r0xzf/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <Patriotchute />
      </div>
    </div>
    <!-- Where We Go One We Go All - Important Message to all divine Human Species - May 6th 2024 -->
    <!-- https://rumble.com/v4tisel-where-we-go-one-we-go-all-important-message-to-all-divine-human-species-may.html -->

    <!-- JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the entire #NOW - I’M POSSIBLE I will never stop Defending our #ONE Divine Earth and all Divine created by God - #STORM #WWG1WGA -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="thor">
        <p class="mb-4 text-base text-green-900">
          JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the entire
          #NOW - I’M POSSIBLE I will never stop Defending our #ONE Divine Earth
          and all Divine created by God - #STORM #WWG1WGA
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4sgjt5/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v4uxjnw-being-the-same-one-in-the-now-of-the-entire-now.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base text-ellipsis hover:text-lg hover:text-green-900"
              >JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the
              entire #NOW - I’M POSSIBLE I will never stop Defending our #ONE
              Divine Earth and all Divine created by God - #STORM #WWG1WGA</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://beforeitsnews.com/paranormal/2023/04/switzerland-stops-covid-vaccines76-years-after-billy-meier-first-warned-2561156.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-800 bg-white text-base text-ellipsis hover:text-lg hover:text-green-900"
              >Switzerland Stops COVID Vaccines…76 Years AFTER Billy Meier First
              Warned</span
            >
          </a>
        </h5>
        <Patriotchute />
      </div>
    </div>
    <!-- JFK, Valiant Thor, Pascal Najadi are #ONE in the #NOW of the entire #NOW - I’M POSSIBLE I will never stop Defending our #ONE Divine Earth and all Divine created by God - #STORM #WWG1WGA -->

    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
