---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";

import Bluelist from "../components/Bluelist.astro";
import OVER from "../components/OVER.astro";
import GESARALL from "../components/GESARALL.astro";
import GHOST from "../components/GHOST.astro";
import Jordan from "../components/Jordan.astro";
import Nagas from "../components/Nagas.astro";
import Bibles from "../components/Bibles.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="LINKS">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-red-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >LINKS</h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">...</h2>
      </div>
    </div>
    <!-- Jumbotron -->


   

    <!-- GESARA - Wealth Distribution Plan -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="links">
        <p class="mb-4 text-base text-green-900">LINKS</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
<b><a href="https://yandex.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #222222; color: #ffff00;">yandex</span></a></b>.
<b><a href="https://freespoke.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #1111ff; color: #ffffff;">freeSpoke</span></a></b>.
<b><a href="https://presearch.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #222222; color: #ffff00;">presearch</span></a></b>.
<b><a href="https://dinarchronicles.com/intel/" target="_blank" rel="noopener noreferrer"><span style="background-color: #000000; color: #0000ff;">Dinar</span></a></b>
<b><a href="https://operationdisclosureofficial.com/all/" target="_blank" rel="noopener noreferrer"><span style="background-color: #000000; color: #007700;">oper</span></a></b>
<b><a href="https://beforeitsnews.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">before</span></a></b>
<b><a href="https://www.rumormillnews.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #cccccc; color: #0000ff;">rumor</span></a></b>.
<b><a href="https://realrawnews.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #4287f5; color: #ffffff;">RRNews</span></a></b>.
<b><a href="https://2012portal.blogspot.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #000008; color: #ffffff;">2012portal</span></a></b>.<b><a href="https://finalwakeupcall.info/en/" target="_blank" rel="noopener noreferrer"><span style="background-color: #000008; color: #ffffff;">wakeup</span></a></b>.<b><a href="https://amg-news.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #000008; color: #ffffff;">amg</span></a></b>.
<b><a href="http://kcorradio.com/the-quantum-shift-2023.htm" target="_blank" rel="noopener noreferrer"><span style="background-color: #000000; color: #9900ff;">K1</span></a></b>.<b><a href="http://kcorradio.com/the-journey-of-universal-knowledge.htm" target="_blank" rel="noopener noreferrer"><span style="background-color: #000000; color: #9900ff;">K2</span></a></b>.<b><a href="https://EBH.club" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">EBH</span></a></b>.
<b><a href="https://gab.com/Bluewater100" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #aaaaff;">B100</span></a></b>.</br>
<b><a href="https://www.weatherzone.com.au/nsw/sydney/sydney" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">SYD</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/sydney/enfield" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Enfield</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/sydney/belfield" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Bel</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/sydney/belmore" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Belm</span></a></b>.
<b><a href="https://www.weatherzone.com.au/nsw/sydney/campsie" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">camp</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/sydney/strathfield" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Strath</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/sydney/north-strathfield" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">N-Strath</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/sydney/mount-lewis" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Mount Lewis</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/central-tablelands/lithgow" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Lith</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/central-tablelands/bathurst" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Bath</span></a></b>.<b><a href="https://www.weatherzone.com.au/qld/lower-burdekin/townsville" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Townsville</span></a></b>.<b><a href="https://www.weatherzone.com.au/tas/central/liawenee" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Liawenee</span></a></b>.<b><a href="https://meteum.ai/weather/en-US" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">meteum</span></a></b>.<b><a href="https://www.weatherzone.com.au/nsw/central-tablelands/leura" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Leura</span></a></b>.<b><a href="https://www.weatherzone.com.au/qld/southeast-coast/sippy-downs" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Sippy Downs</span></a></b>.<b><a href="https://www.weatherzone.com.au/qld/southeast-coast/broadbeach" target="_blank" rel="noopener noreferrer"><span style="background-color: #99ffff; color: #0033aa;">Broadbeach</span></a></b>
</br><b><a href="https://www.youtube.com/channel/UClYvbl2TDiErM0KLrO6KtRA/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Jay-E3</span></a></b>.<b><a href="https://www.thespiritualfoundation.com/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Jay-E2</span></a></b>.<b><a href="https://odysee.com/@Creation'sPurge:6" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Jay-E1</span></a></b>.
<b><a href="https://www.youtube.com/@British_Tim" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">British Tim</span></a></b></br>   
</br><b><a href="https://www.youtube.com/@Kerrie-AnnThornton" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ff00;">Military</span></a></b>.

<b><a href="https://www.youtube.com/user/DracoReptoidsExposed/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ff00;">DracoReptoidsExposed</span></a></b>.
<b><a href="https://rumble.com/c/RebelNews" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">Rebel</span></a></b>.<b><a href="https://www.alexcollier.org/" target="_blank" rel="noopener noreferrer"><span style="background-color: #00ff00; color: #000000;">alexcollier</span></a></b>.<b><a href="https://www.youtube.com/c/MichaelSalla/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Salla</span></a></b>.<b><a href="https://www.youtube.com/user/CHANNEL3X/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Ch_3X</span></a></b>
<b><a href="https://www.bitchute.com/channel/themas/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">Attwood</span></a></b>.<b><a href="https://www.youtube.com/c/BeachBroadcast/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">Beach</span></a></b>.<b><a href="https://rumble.com/c/c-383765" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">Doug</span></a></b>.<b><a href="https://rumble.com/c/X22Report" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">X22</span></a></b>.<b><a href="https://rumble.com/user/YellowstoneWolfAZ" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">Wolf</span></a></b>.<b><a href="https://www.bitchute.com/channel/32lk4I248BJ8/" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">Blessed</span></a></b>.<b><a href="https://www.youtube.com/channel/UCniXmtRHwkHqUH-yPdp7sOA/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">A1</span></a></b>.<b><a href="https://rumble.com/c/AliceDowntheRabbitHole" target="_blank" rel="noopener noreferrer"><span style="background-color: #008800; color: #ffffff;">Alice</span></a></b>.<b><a href="https://www.bitchute.com/channel/oEqbnPG8c1fR/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">Steele</span></a></b>.<b><a href="https://www.bitchute.com/channel/tKvdWBp4L1y0/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">HYT</span></a></b>.<b><a href="https://www.youtube.com/c/RICETVx/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ff00;">RICE</span></a></b>.<b><a href="https://www.bitchute.com/channel/YbT6egccRwYS/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">QNews</span></a></b>.<b><a href="https://www.bitchute.com/channel/thexyz/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">XYZ</span></a></b>.<b><a href="https://www.bitchute.com/channel/fiMj6HKejo82/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">TCH</span></a></b>.<b><a href="https://www.bitchute.com/channel/the_high_command/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff1100; color: #ffffff;">THC</span></a></b>
<b><a href="https://www.youtube.com/c/TheBearableBull/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ffff;">Bearable</span></a></b>.<b><a href="https://www.youtube.com/c/CryptoWizards/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">CWZ</span></a></b>.<b><a href="https://www.youtube.com/channel/UC7ndkZ4vViKiM7kVEgdrlZQ/videos" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ffff;">CCU</span></a></b>.</br>

</div><b><a href="https://www.youtube.com/c/AlexCollierOfficial" target="_blank" rel="noopener noreferrer"><span style="background-color: #000088; color: #ffffff;">ALEX-C2</span></a></b>
<b><a href="https://www.brighteon.com/channels/alexcollierofficial2" target="_blank" rel="noopener noreferrer"><span style="background-color: #000088; color: #ff0000;">ALEX-C2</span></a></b>
</br></br><h5><a href="https://www.youtube.com/playlist?list=PLzYNz5XDjz2Fbd1oHbKm1B9rEOr-BXpRM" target="_blank" rel="noopener noreferrer"><span style="background-color: #888888; color: #00f0ff;">Adrieiuous</span></a></h5>
<b><a href="https://www.youtube.com/watch?v=e5Hoq3Rmkbk" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">HIDDEN SYSTEM_Justinian Deception</span></a></b>.<b><a href="https://www.youtube.com/watch?v=BX27bXgbqyo&#038;list=PL-_75IOWjIPYBzaCyU917vraZ8hXpw9zu" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">ROMLEY STEWART</span></a></b>.<b><a href="https://www.youtube.com/watch?v=npmRlKhpzAs&#038;list=PL-_75IOWjIPYBzaCyU917vraZ8hXpw9zu&#038;index=5" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">ROMLEY STEWART2</span></a></b>.</br>
<b><a href="https://www.youtube.com/watch?v=ppL8I_UmdY8&t=18s" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">RUSS</span></a></b>.<b><a href="https://www.youtube.com/watch?v=O_5K2guh_Og&t=1s" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Buckingham</span></a></b>
<b><a href="https://www.youtube.com/watch?v=K2RjEqQwSPQ" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Behind the Conspiracy - The Reptilians (Featuring Dr. David Miano)</span></a></b>

<b><a href="https://www.youtube.com/watch?v=xYKEckKrEdo" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">2-10-20 – D U M B = DEEP UNDERGROUND MILITARY BASES</span></a></b>
<b><a href="https://www.youtube.com/watch?v=B9NkXB0wsNA" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">DULCE - D.U.M.B</span></a></b></br>

<b><a href="https://www.youtube.com/watch?v=bBpG3YuXLE8" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Dulce alien base nightmare hall top secret leaked images exposed reloaded</span></a></b></br>

<b><a href="https://www.youtube.com/watch?v=g44UuRp7D-g" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Dulce secret alien base mind blowing new footage of cryo tanks</span></a></b></br>

<b><a href="https://cyraxandflyrax.wordpress.com/2011/05/20/cyrax-and-flyrax-banned-from-youtube/" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">Dulce cyraxandflyraxx</span></a></b></br>

<b><a href="https://www.youtube.com/watch?v=CKQgTaLaSI0&t=720s" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ff00;">Alpha Draconian Reptilian Shown by the Vatican
  The Prophecy of the Popes Explained Are We Now Facing the End Times as the Prophecy May Suggest @12:07</span></a></b></br>
  <b><a href="https://www.youtube.com/watch?v=sFQMFZMBrMM?si=DqbpHZkE9SAIaXzU&amp;start=30" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #00ff00;">Hidden Beneath The Ice of Antarctica... Lost Civilization of the Pre-Adamites</span></a></b></br>
  <b><a href="https://www.youtube.com/watch?v=eTWJC0uckJ0" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">You Need to See This! Paul Wallis & Praveen Mohan - Hidden History of Ancient Civilizations</span></a></b></br>

  <b><a href="https://www.youtube.com/watch?v=E-VM4JWEl2s&list=PLzYNz5XDjz2Fbd1oHbKm1B9rEOr-BXpRM&index=6" target="_blank" rel="noopener noreferrer"><span style="background-color: #ff0000; color: #ffffff;">2016-08-29 JWJP guests Adrieiuous, Joanna The Medium</span></a></b></br>

</div>
      <div class="p-6 top-0 text-center">
        <GESARALL />
       
      </div>
    </div>
    <!-- GESARA - Wealth Distribution Plan -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
