---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Dmsolist from "../components/Dmsolist.astro";
import PharmakeiaCC from "../components/PharmakeiaCC.astro";
import Biow from "../components/Biow.astro";
import Lista from "../components/Lista.astro";
import Suramin from "../components/Suramin.astro";
import TPV from "../components/TPV.astro";
import Bluelist from "../components/Bluelist.astro";
---

<Layout title="MARK OF THE BEAST">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-red-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1 class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase">THE MARK OF THE BEAST</h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">THE MARK OF THE BEAST Revelation 13:16</h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center">Mark of the Beast: In or On?</h2>
      </div>
    </div>
    <!-- Jumbotron -->


    <!-- THE TRUTH ABOUT THE MARK OF THE BEAST -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="mark">
        <p class="mb-4 text-base text-gray-800">
          THE TRUTH ABOUT THE MARK OF THE BEAST
        </p>
        <p class="mb-4 text-base text-blue-600">Revelation 13:16</p>
         <p class="mb-4 text-base text-blue-600">Revelation 14:9-10</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://safeguardyoursoul.com/the-truth-about-the-mark-of-the-beast/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://revelationscriptures.com/revelation-18-23-babylons-pahamakeia/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Revelation 18 23 – Discover Babylon’s Deception by
              Pharmakeia/Sorcery!</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://safeguardyoursoul.com/the-truth-about-the-mark-of-the-beast/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >THE TRUTH ABOUT THE MARK OF THE BEAST</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.scripturerevealed.com/salvation/whose-mark-have-you-taken/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Mark of the Beast</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
        <PharmakeiaCC />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- THE TRUTH ABOUT THE MARK OF THE BEAST -->

    <!-- Mark of the Beast: In or On? -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="markof">
        <p class="mb-4 text-base text-gray-800">Mark of the Beast: In or On?</p>
        <p class="mb-4 text-base text-blue-600">Revelation 13:16</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/nbdGXPhRJSY"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nbdGXPhRJSY"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Mark of the Beast: In or On?</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://safeguardyoursoul.com/the-truth-about-the-mark-of-the-beast/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >THE TRUTH ABOUT THE MARK OF THE BEAST</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.scripturerevealed.com/salvation/whose-mark-have-you-taken/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Mark of the Beast</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
        <PharmakeiaCC />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Mark of the Beast: In or On? -->
 

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
