---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import MIRRORL from "../components/MIRRORL.astro";
---

<Layout title="The Mirror Principle">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-700 to-blue-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >The Mirror Principle</h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">The Mirror Principle: What the "Elites" Know That You Were Never Taught</h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- The Mirror Principle: What the "Elites" Know That You Were Never Taught -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="mirror">
        <p class="mb-4 text-base text-green-700">The Mirror Principle: What the "Elites" Know That You Were Never Taught</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/htEfg8J_Gp8?si=YQmbdflxX14B2RF4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <MIRRORL />
       
        
      </div>
    </div>
    <!-- The Mirror Principle: What the "Elites" Know That You Were Never Taught -->

      <!-- The Mirror Principle: What the "Elites" Know That You Were Never Taught -->
      <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
     
      <h2 id="reality">
        <p class="mb-4 text-base text-green-700">The Mirror Principle: How the Elites Quietly Use This to Control Their Reality</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/mKpPT12argo?si=N-6zk1lOmK3Jfhkx"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <MIRRORL />
        
      </div>
    </div>
    <!-- The Mirror Principle: What the "Elites" Know That You Were Never Taught -->


    

    <!-- Card title 2 -->
  </main>

  <Footer client:only="react" />
</Layout>
