---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Movies from "../components/Movies.astro";
import Bluelist from "../components/Bluelist.astro";
import Gone from "../components/Gone.astro";
import Nagas from "../components/Nagas.astro";
import Bibles from "../components/Bibles.astro";
import TPV from "../components/TPV.astro";
import Cosmic from "../components/Cosmic.astro";
import ANUNNAKI from "../components/ANUNNAKI.astro";
import Highcommand from "../components/Highcommand.astro";
import DULCEL from "../components/DULCEL.astro";
---

<Layout title="Monsters INC.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-amber-900 to-pink-600 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Monsters INC.
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Monsters INC. The Adrenochrome Fear Factory Exposed!
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="factory">
        <p class="mb-4 text-base text-pink-600">
          Monsters INC. The Adrenochrome Fear Factory Exposed!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://player.vimeo.com/video/326404457?h=b2002adaae"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://altcensored.com/watch?v=DMiTIGbHOOw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Monsters INC. The Adrenochrome Fear Factory Exposed!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://vimeo.com/326404457" rel="noopener" target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Monsters INC. The Adrenochrome Fear Factory Expose @22:16</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner#ellis"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Ellis C Taylor - 3rd discussion with Peter Maxwell Slattery
              @19:00</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>

        <Gone />
        <Movies />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-pink-600">
        Adrenochrome Fear Factory - Monsters Inc The Documentary
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/0QUXKAiRB4kk/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/0QUXKAiRB4kk/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >ADRENOCHROME FEAR FACTORY - MONSTERS INC THE DOCUMENTARY</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/Bqs1l3aetpYq/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Shaking My Head Productions</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://shakingmyheadproductions.com/adrenochrome-fear-factory-monsters-inc-the-documentary"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Adrenochrome Fear Factory – Monsters Inc The Documentary</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@shakingmyheadproductions:2/Adrenochrome-Fear-Factory-Monsters-Inc-The-Documentary:3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-[#ffff00] bg-[#ff0088] hover:text-2xl hover:text-green-900 hover:bg-white"
              >Adrenochrome Fear Factory - Monsters Inc The Documentary</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@shakingmyheadproductions:2"
            rel="noopener"
            target="_blank"
            ><span
              class="text-[#ffff00] text-transform: uppercase bg-[#ff0088] hover:text-2xl hover:text-green-900 hover:bg-white"
              >Shaking My Head Productions</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Phil Schneider: Alien Adrenochrome Harvesting -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="harvesting">
        <p class="mb-4 text-base text-pink-600">
          Phil Schneider: Alien Adrenochrome Harvesting
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://odysee.com/$/embed/@ForEverFree:3/Phil-Schneider：-Alien-Adrenochrome-Harvesting:3?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@ForEverFree:3/Phil-Schneider%EF%BC%9A-Alien-Adrenochrome-Harvesting:3"
            rel="noopener"
            target="_blank"
            ><span
              class="text-[#ffff00] bg-[#ff0088] hover:text-2xl hover:text-green-900 hover:bg-white"
              >Phil Schneider: Alien Adrenochrome Harvesting</span
            >
          </a>
        </h5>
        <DULCEL />
        <Highcommand />
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- Phil Schneider: Alien Adrenochrome Harvesting -->

 

    <!-- It’s old energy. They knew everything about humans, but ordinary humans knew very little about them.  -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
    <h2 id="snake">
      <span class="text-red-700 text-base hover:text-lg hover:text-green-900"
        >This statue is of an ancient demon reptile god called Morobe in Peru.</span
      >
    </h2>
      <h2 id="everything">
        <span
          class="text-purple-700 text-base hover:text-lg hover:text-green-900"
          >It’s old energy. They knew everything about humans, but ordinary
          humans knew very little about them.
        </span>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              It’s old energy. They knew everything about humans, but ordinary
              humans knew very little about them. They are photographed
              everywhere and in all cultures and countries. They were hidden in
              plain sight.<br /><br />This statue is of an ancient demon reptile
              god called Morobe in Peru. 🦎 <a href="https://t.co/BEr3PehY1Q"
                >pic.twitter.com/BEr3PehY1Q</a
              >
            </p>&mdash; vegastar (@vegastarr) <a
              href="https://twitter.com/vegastarr/status/1745567223677153786?ref_src=twsrc%5Etfw"
              >January 11, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#everything"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >It’s old energy. They knew everything about humans, but ordinary
              humans knew very little about them.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/vegastarr/status/1745567223677153786"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >It’s old energy. They knew everything about humans, but ordinary
              humans knew very little about them.</span
            >
          </a>
        </h5>
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >The Prophecy of the Popes</span
    >
  </a>
</h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Cosmic />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- It’s old energy. They knew everything about humans, but ordinary humans knew very little about them.  -->

    <!-- This is located in New York City -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="anunnaki">
        <p class="mb-4 text-base text-blue-900">This is located in New York City</p>
      </h2>
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is located in New York City<br><br>A reptile dragging a child into the sewer <a href="https://t.co/ltrYpuaIa3">pic.twitter.com/ltrYpuaIa3</a></p>&mdash; Vision4theBlind (@Vision4theBlind) <a href="https://twitter.com/Vision4theBlind/status/1746602619437527043?ref_src=twsrc%5Etfw">January 14, 2024</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#watchers"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >This is located in New York City</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/naticoineth/status/1877335415318880542"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >The Book of Enoch describes a group of Fallen Angels (known as The Watchers). 👁️</span
            >
          </a>
        </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://x.com/0ccultbot/status/1641754892820951040"
          rel="noopener"
          target="_blank"
          ><span
            class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
            >The books of Enoch tell the story of the Watchers and the Nephilim in much more detail.</span
          >
        </a>
      </h5>
      <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
      <a href="https://x.com/Kabamur_Taygeta/status/1873773479331586454"
                rel="noopener"
          target="_blank"
        ><span
          class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
          >There is understandably a lot of confusion around the word 'anunnaki', so let's clarify.</span
        >
      </a>
    </h5>
      <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
      <a
        href="https://x.com/Thekeksociety/status/1803218134930800684"
        rel="noopener"
        target="_blank"
        ><span
          class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
          >DO YOU THINK THE ANUNNAKI EXISTED? WERE THE WATCHERS MENTIONED IN
          THE BIBLE? DID THEY HYBRIDIZE HUMANS?</span
        >
      </a>
    </h5>
    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >The Prophecy of the Popes</span
    >
  </a>
</h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <ANUNNAKI />
        <Highcommand />
        <Cosmic />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- DO YOU THINK THE ANUNNAKI EXISTED? WERE THE WATCHERS MENTIONED IN THE BIBLE? DID THEY HYBRIDIZE HUMANS? -->

    <!-- The modern human lifespan has been severely manipulated to accelerate aging and productivity. Optimized for maximum profits for the reptilian masters. -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="aging">
        <span
          class="text-purple-950 text-base hover:text-lg hover:text-green-900"
          >The modern human lifespan has been severely manipulated to accelerate
          aging and productivity. Optimized for maximum profits for the
          reptilian masters.</span
        >
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              The modern human lifespan has been severely manipulated to
              accelerate aging and productivity. Optimized for maximum profits
              for the reptilian masters. In contrast, biblical figures lived
              much longer lives: Adam lived 930 years, Seth lived 912 years,
              Enosh lived 905 years, Kenan… <a href="https://t.co/fBVgTh5o0l"
                >pic.twitter.com/fBVgTh5o0l</a
              >
            </p>&mdash; SiriusB (@SiriusBShaman) <a
              href="https://twitter.com/SiriusBShaman/status/1805266839611843062?ref_src=twsrc%5Etfw"
              >June 24, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#aging"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >The modern human lifespan has been severely manipulated to
              accelerate aging and productivity. Optimized for maximum profits
              for the reptilian masters.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/SiriusBShaman/status/1805266839611843062"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >The modern human lifespan has been severely manipulated to
              accelerate aging and productivity. Optimized for maximum profits
              for the reptilian masters.</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Cosmic />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- The modern human lifespan has been severely manipulated to accelerate aging and productivity. Optimized for maximum profits for the reptilian masters. -->

    <!-- HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS  -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="dragons">
        <span class="text-red-700 text-base hover:text-lg hover:text-green-900"
          >HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS</span
        >
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS👇 <br
              />THIS IS MY FAV FLAT EARTH GUY WHO EXPLAINS HIS STUFF EXCELLENTLY
              👍 <a href="https://t.co/wtO9yW52zF">pic.twitter.com/wtO9yW52zF</a
              >
            </p>&mdash; JasperTruth (@jasper_truth) <a
              href="https://twitter.com/jasper_truth/status/1804581625055064332?ref_src=twsrc%5Etfw"
              >June 22, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#dragons"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/jasper_truth/status/1804581625055064332"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Cosmic />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS  -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://shakingmyheadproductions.com/adrenochrome-fear-factory-monsters-inc-the-documentary"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://shakingmyheadproductions.com/adrenochrome-fear-factory-monsters-inc-the-documentary"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Adrenochrome Fear Factory – Monsters Inc The Documentary</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://robscholtemuseum.nl/shaking-my-head-productions-monsters-inc-the-adrenochrome-fear-factory-exposed/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://robscholtemuseum.nl/shaking-my-head-productions-monsters-inc-the-adrenochrome-fear-factory-exposed/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Monsters INC. The Adrenochrome Fear Factory Exposed!</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-pink-600">
        ADRENOCHROME The Elite's Super Drug - A Jay Myers Documentary
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1ftgjb/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1ifmf5-adrenochrome-the-elites-super-drug-a-jay-myers-documentary.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-red-700"
              >ADRENOCHROME The Elite's Super Drug - A Jay Myers Documentary</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://forbiddenknowledgetv.net/adrenochrome/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-red-700"
              >ADRENOCHROME</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST" ENCOUNTORING.. WATCH THIS! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="hollywood">
        <p class="mb-4 text-base text-pink-600">
          MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE
          "ANTICHRIST" ENCOUNTORING.. WATCH THIS!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/drSLiZPdJdO7/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <TPV />
        <Nagas />
        <Bibles />
      </div>
    </div>
    <!-- MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST" ENCOUNTORING.. WATCH THIS! -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="part022">
        <p class="mb-4 text-base text-pink-600">
          Monsters Inc 2002 ENGLISH VERSION Part 022
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://ok.ru/videoembed/2338566769315"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#turner"
            ><span
              class="text-orange-500 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://ok.ru/video/2338566769315"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Monsters Inc 2002 ENGLISH VERSION Part 022</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./supersoldiertalk#jahbulon"
            ><span
              class="text-green-900 text-base hover:text-lg hover:text-red-700"
              >Super Soldier Talk – Rainetta Jones and Panel Guest – The Spider
              Queen Invasion (@22:26 Jahbulon)</span
            >
          </a>
        </h5>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
