---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="Lawn Mower ">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-green-900 to-green-400 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] text-center text-transform: uppercase"
        >
          Lawn Mower
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Baumr-AG 780SX Lawn Mower
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          Review on a Baumr 890SXE to Maintain Lawns with a Disability!
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">Baumr-AG 780SX Lawn Mower</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/9hZZ1Pj4dW4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=9hZZ1Pj4dW4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Baumr-AG 780SX Lawn Mower</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Review on a Baumr 890SXE to Maintain Lawns with a Disability!
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/sRiTDOMbHJM"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sRiTDOMbHJM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Review on a Baumr 890SXE to Maintain Lawns with a Disability!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://emuplainsmowers.com.au/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Emu Plains Mowers</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Baumr-AG BVX420 4-stroke Blower Vac
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/r048bSyiN0"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=-r048bSyiN0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Baumr-AG BVX420 4-stroke Blower Vac</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.edisons.com.au/baumr-ag-petrol-leaf-blower-vacuum-4-stroke-vac-garden-commercial-hand-outdoor?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Baumr-AG Petrol Leaf Blower Vacuum 4 Stroke - Vac Garden
              Commercial Hand Outdoor</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
  </main>
</Layout>
<Footer client:only="react" />
