---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
import Contact from "../components/Contact.astro";
import Israel from "../components/Israel.astro";
import Deception from "../components/Deception.astro";
import Intel from "../components/Intel.astro";
import Qthestormm from "../components/Qthestormm.astro";
import Skye from "../components/Skye.astro";
import Jones from "../components/Jones.astro";
import OVER from "../components/OVER.astro";
---

<Layout title="NEWS ">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-800 to-fuchsia-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] text-center text-transform: uppercase"
        >
          NEWS
        </h1>

        <h2 class="text-slate-100 text-xl mt-5 text-center">@QTHESTORMM</h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          "ISRAEL WILL BE LAST >>>WHY?"
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Rapper BREAKS Internet With Trump MUGSHOT Tattoo As The Rock & Snoop Dogg DUMP Biden 'I LOVE Trump' -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="rapper">
        <p class="mb-4 text-base text-blue-900">
          Rapper BREAKS Internet With Trump MUGSHOT Tattoo As The Rock & Snoop
          Dogg DUMP Biden 'I LOVE Trump'
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/UosdGX1KK4w"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <OVER />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=UosdGX1KK4w"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Rapper BREAKS Internet With Trump MUGSHOT Tattoo As The Rock &
              Snoop Dogg DUMP Biden 'I LOVE Trump'</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/shorts/SZak32wx4Gw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-orange-400 font-bold hover:text-2xl hover:text-orange-700"
              >Trump Official ORDERS Diddy Tapes Declassified</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@bennyjohnson/shorts"
            rel="noopener"
            target="_blank"
            ><span
              class="text-orange-400 font-bold hover:text-2xl hover:text-orange-700"
              >Benny Johnson(shorts)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/the_high_command/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >THE_HIGH_COMMAND</span
            >
          </a>
        </h5>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Rapper BREAKS Internet With Trump MUGSHOT Tattoo As The Rock & Snoop Dogg DUMP Biden 'I LOVE Trump' -->

    <!-- Trump Assassination Would Destroy The New World Order, Warns Former DIA Official -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="destroy">
        <p class="mb-4 text-base text-blue-900">
          Trump Assassination Would Destroy The New World Order, Warns Former
          DIA Official
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <div class="ifw-player" data-video-id="65bd6c80e5759fbc4c990065">
          </div><script src="https://infowarsmedia.com/js/player.js" async
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <OVER />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://madmaxworld.tv/watch?id=65bd6c80e5759fbc4c990065"
            rel="noopener"
            target="_blank"
            ><span
              class="text-gray-700 text-base hover:text-lg hover:text-green-900"
              >Trump Assassination Would Destroy The New World Order, Warns
              Former DIA Official</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://banned.video/watch?id=65bd6c80e5759fbc4c990065"
            rel="noopener"
            target="_blank"
            ><span
              class="text-gray-700 text-base hover:text-lg hover:text-green-900"
              >Trump Assassination Would Destroy The New World Order, Warns
              Former DIA Official</span
            >
          </a>
        </h5>
        <Jones />

        <Rept />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Trump Assassination Would Destroy The New World Order, Warns Former DIA Official -->

    <!-- TRUMP POSTED “GET READY FOR THE GOLDEN AGE”!!! -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="golden">
        <p class="mb-4 text-base text-blue-900"
          >TRUMP POSTED “GET READY FOR THE GOLDEN AGE”!!!</p
        >
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560"
            ><p lang="en" dir="ltr"
              >🇺🇸GET READY FOR THE GOLDEN AGE ~ President Donald J Trump (the
              47th)🇺🇸 <a href="https://t.co/rjD5KPu5Gp"
                >pic.twitter.com/rjD5KPu5Gp</a
              ></p
            >&mdash; 🇺🇸Dr. Victor T.A.(DProf)🇺🇸 (@realvictorad) <a
              href="https://twitter.com/realvictorad/status/1854548613466079427?ref_src=twsrc%5Etfw"
              >November 7, 2024</a
            ></blockquote
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/realvictorad/status/1854548613466079427"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >🇺🇸GET READY FOR THE GOLDEN AGE ~ President Donald J Trump (the
              47th)🇺🇸</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- TRUMP POSTED “GET READY FOR THE GOLDEN AGE”!!! -->

    <!-- It’s time to find out -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="time">
        <p class="mb-4 text-base text-blue-900">It’s time to find out</p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560"
            ><p lang="en" dir="ltr"
              >It’s time to find out <a href="https://t.co/pcJqPEWMnW"
                >pic.twitter.com/pcJqPEWMnW</a
              ></p
            >&mdash; Overreportingofthemundane (@Overreport369) <a
              href="https://twitter.com/Overreport369/status/1877787367047586149?ref_src=twsrc%5Etfw"
              >January 10, 2025</a
            ></blockquote
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Prolotario1/status/1877749560392774039"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >Because they know if they tried to arrest him or put him in
              prison it would be considered an 'Act of War'.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Official_MrPool/status/1833534719931388235"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >ALERT: TEENAGED BOY KAMAL AROUSH, BRITISH CITIZEN, BORN IN
              BENGHAZI !!!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://beforeitsnews.com/conspiracy-theories/2021/10/kamala-harris-is-a-man-named-kamal-aroush-google-it-2519027.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >Kamala Harris is a Man!!! (named Kamal Aroush)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- It’s time to find out -->

    <!-- Are rumors of fake alien invasions only a deception for the easily deceived? -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="deceived">
        <p class="mb-4 text-base text-blue-900"
          >Are rumors of fake alien invasions only a deception for the easily
          deceived?</p
        >
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet"
            ><p lang="en" dir="ltr"
              >Are UFOs only a distraction for the easily distracted? <br /><br
              />Are rumors of fake alien invasions only a deception for the
              easily deceived?<br /><br />Are those who are most concerned about
              a &#39;fake rapture&#39; the ones who don&#39;t know what the real
              rapture will be?<br /><br />The Shift, 5D ascension and the… <a
                href="https://t.co/6S6rRwCtOz">pic.twitter.com/6S6rRwCtOz</a
              ></p
            >&mdash; Kab (@Kabamur_Taygeta) <a
              href="https://twitter.com/Kabamur_Taygeta/status/1862638019515203585?ref_src=twsrc%5Etfw"
              >November 29, 2024</a
            ></blockquote
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Kabamur_Taygeta/status/1862638019515203585"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >Are rumors of fake alien invasions only a deception for the
              easily deceived?</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Are rumors of fake alien invasions only a deception for the easily deceived? -->

    <!-- DONE DEAL CANADA NEW ZEALAND. GREENLAND AUSTRALIA AND MEXICO NOW BELONG TO AMERICA! -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="qthestormm">
        <p class="mb-4 text-base text-blue-900">DONE DEAL CANADA NEW ZEALAND. GREENLAND AUSTRALIA AND MEXICO NOW BELONG TO AMERICA!</p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 2.25%"
        >
         <blockquote class="twitter-tweet"><p lang="en" dir="ltr">DONE DEAL CANADA NEW ZEALAND. GREENLAND AUSTRALIA AND MEXICO NOW BELONG TO AMERICA!<br><br>You will understand once the dust clears<br>Think 7 Kingdoms<br><br>Ringo_was_Here <a href="https://t.co/SQKN1Ja1e6">pic.twitter.com/SQKN1Ja1e6</a></p>&mdash; Jasper Truth (@jasper_truth) <a href="https://twitter.com/jasper_truth/status/1876711725426168156?ref_src=twsrc%5Etfw">January 7, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/jasper_truth/status/1877912856223797379"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >THE SEVEN KINGDOMS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/jasper_truth/status/1877920310936387649"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >THE GOLDEN AGE AND THE 7 KINGDOMS!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/realvictorad/status/1854548613466079427"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >🇺🇸GET READY FOR THE GOLDEN AGE ~ President Donald J Trump (the 47th)🇺🇸</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/davidjsorensen/status/1878268786131779820"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >DO NOT LET ANYONE CAST A DARK SHADOW OVER YOU. WE HAVE A BEAUTIFUL FUTURE! 🌟😃⭐️</span
    >
  </a>
</h5>
        <Qthestormm />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- DONE DEAL CANADA NEW ZEALAND. GREENLAND AUSTRALIA AND MEXICO NOW BELONG TO AMERICA! -->

    <!-- Q: The greatest military intelligence operation of our time! -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="greatest">
        <p class="mb-4 text-base text-sky-500">
          Q: The greatest military intelligence operation of our time!
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              🚨Q: The greatest military intelligence operation of our time!<br
              /><br />📷 More than 5 years ago, insiders under the pseudonym “Q”
              shared the first posts on the hacker platform 4chan, triggering an
              awakening that spread like wildfire around the world. But who is
              behind Q? A trip down the… <a href="https://t.co/ufcN2mnTlg"
                >pic.twitter.com/ufcN2mnTlg</a
              >
            </p>&mdash; WINGS OF LIBERTY (@Suspended1717) <a
              href="https://twitter.com/Suspended1717/status/1703094739417833536?ref_src=twsrc%5Etfw"
              >September 16, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <Qthestormm />
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Q: The greatest military intelligence operation of our time! -->

    <!-- ISRAEL WILL BE LAST >>>WHY? -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="israel">
        <a
          href="https://gab.com/Bluewater100/posts/111308045392212740"
          rel="noopener"
          target="_blank"
          ><span
            class="text-blue-700 text-base hover:text-lg hover:text-green-900"
            >"ISRAEL WILL BE LAST >>>WHY?"</span
          >
        </a>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div class="aspect-w-16 aspect-h-9">
          <img
            class="w-full"
            src="./images/30d4b0b959800177.jpeg"
            alt="ISRAEL WILL BE LAST >>>WHY?"
          />
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://gab.com/Bluewater100/posts/111308045392212740"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >"ISRAEL WILL BE LAST >>>WHY?"</span
            >
          </a>
        </h5>
        <Israel />
        <p class="mb-4 text-base text-black">...</p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!--  ISRAEL WILL BE LAST >>>WHY? -->

    <!-- 10-21-23: Q) The Storm Rider - Latest post - Intel and commentary: -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="commentary">
        <p class="mb-4 text-base text-blue-900">
          10-21-23: Q) The Storm Rider - Latest post - Intel and commentary:
          PANIC in [DS] mil. DNC. FBI CIA. MSM ELITES etc. - Have faith world
          Patriots. Military is the only way.
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=231180"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=231180"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >10-21-23: Q) The Storm Rider - Latest post - Intel and
              commentary: PANIC in [DS] mil. DNC. FBI CIA. MSM ELITES etc. -
              Have faith world Patriots. Military is the only way.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://operationdisclosureofficial.com/2023/10/09/restored-republic-via-a-gcr-as-of-october-9-2023/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-950 text-base hover:text-lg hover:text-green-900"
              >Restored Republic via a GCR as of October 9, 2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-black">
          10-21-23: Q) The Storm Rider - Latest post - Intel and commentary:
          PANIC in [DS] mil. DNC. FBI CIA. MSM ELITES etc. - Have faith world
          Patriots. Military is the only way.
        </p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- 10-21-23: Q) The Storm Rider - Latest post - Intel and commentary: -->

    <!-- 'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project Mockingbird? -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="mockingbird">
        <p class="mb-4 text-base text-blue-900">
          'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project Mockingbird?
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=230431"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=230431"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project
              Mockingbird?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://operationdisclosureofficial.com/2023/10/09/restored-republic-via-a-gcr-as-of-october-9-2023/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-950 text-base hover:text-lg hover:text-green-900"
              >Restored Republic via a GCR as of October 9, 2023</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-black">
          'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project
          Mockingbird?(Date: Sunday, 8-Oct-2023 18:53:14)
        </p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- 'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project Mockingbird? -->

    <!-- AustraliaOne Party - Cabal's Collapse - White Hats Take Control (29 May 2025) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
    <h2 id="collapse">
      <a
        href="https://rumble.com/v6u7d4n-australiaone-party-cabals-collapse-white-hats-take-control-29-may-2025.html?e9s=src_v1_ucp_a"
        rel="noopener"
        target="_blank"
        ><span
          class="text-green-400 text-base hover:text-lg hover:text-green-900"
          >AustraliaOne Party - Cabal's Collapse - White Hats Take Control (29 May 2025)</span
        >
      </a>
    </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v6rwikn/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://rumble.com/c/AustraliaOneParty"
          rel="noopener"
          target="_blank"
          ><span
            class="text-green-500 text-base hover:text-lg hover:text-green-900"
            >AustraliaOne Party</span
          >
        </a>
      </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://www.bitchute.com/channel/australiaone/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 text-base hover:text-lg hover:text-green-900"
            >AustraliaOne Party</span
          >
        </a>
      </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/0XtLaNmlkQCH/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >HAPPENING NOW! FBI-CIA FOX NEWS HUMAN HARVESTING OPERATION BEING
              EXPOSED BY LIN WOOD</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/the_high_command/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >THE_HIGH_COMMAND</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- AustraliaOne Party - Cabal's Collapse - White Hats Take Control (29 May 2025) -->

    <!-- 1-2-2024 Japan Earthquakes Issue -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="earthquakes">
        <p class="mb-4 text-base text-red-700 font-bold">
          1-2-2024 Japan Earthquakes Issue
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/x82mXZl6n00"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=x82mXZl6n00&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >1-2-2024 Japan Earthquakes Issue</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=AYXRRt1w0Eo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >3-30-2023; Leaving & Destruction of China, Korea, Russia, Etc.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@jayaraeessex1313"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Jay Arae Essex</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=_ldKAPqDf50"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Horror footage emerges of 7.6 magnitude earthquake hitting Japan</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1741862703377875294?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-green-900"
              >CARS GO NO WHERE ... JAPAN.</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- 1-2-2024 Japan Earthquakes Issue -->

    <!-- AN-OLDER-CODE -->
  </main>
</Layout>
<Footer client:only="react" />
