---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Dmsocc";
import Footer from "../components/Footercc";
import Lista from "../components/Lista.astro";
---

<Layout title="NITRIC OXIDE">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-sky-500 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          NITRIC OXIDE
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <h2 id="nitric">
        <p class="mb-4 text-base text-left font-bold text-black">
          THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/7IHVaPMU8kVI/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/7IHVaPMU8kVI/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./drberg#niacin1"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Niacin (B3)- Unclog Arteries in description</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/vX3lcHH4Dvp0/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >The Truth About Cancer - The Truth About Vaccines</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Niacin (B3)- Unclog Arteries in description -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="niacin1">
        <p class="mb-4 text-base text-blue-600">
          Niacin (B3)- Unclog Arteries in description
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/R8ZY8McKHIrI/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./drberg#niacin1"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Niacin (B3)- Unclog Arteries in description</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/R8ZY8McKHIrI/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >Niacin (B3)- Unclog Arteries in description</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black dark:text-neutral-200">
          Heal Heart Disease (Cardiovascular Disease)<br />
          Niacin boosts the production of Nitric Oxide (NO)<br />
          which relaxes blood vessels in your brain <br />
          increasing cerebral blood flow. <br />
          And niacin acts as an antioxidant <br />
          helping to eliminate free radicals <br />
          that can damage brain cells.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nitric-oxide#nitric"
            ><span
              class="text-green-600 text-base hover:text-lg hover:text-green-900"
              >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Niacin (B3)- Unclog Arteries in description -->

    <!-- NITRIC OXIDE - LOWER BLOOD PRESSURE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="lower">
        <p class="mb-4 text-base text-blue-600">
          NITRIC OXIDE - LOWER BLOOD PRESSURE
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/3rRAgoJOziqt/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./cancer"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/3rRAgoJOziqt/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >NITRIC OXIDE - LOWER BLOOD PRESSURE</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black dark:text-neutral-200">
          L-argine 500mg<br />
          L-Citrulline 1,000 mg<br />
          Pycnogenol 100 mg
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nitric-oxide#nitric"
            ><span
              class="text-green-600 text-base hover:text-lg hover:text-green-900"
              >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://adrenalinehq.com.au/products/arginine-nitrrate?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-green-900"
              >Pro-Series Arginine Nitrate</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://adrenalinehq.com.au/products/disorder?"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-green-900"
              >Disorder High Stim Pre</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- NITRIC OXIDE - LOWER BLOOD PRESSURE -->
  </main>
</Layout>
<Footer client:only="react" />
