---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Dmsolist from "../components/Dmsolist.astro";
import PharmakeiaCC from "../components/PharmakeiaCC.astro";
import Biow from "../components/Biow.astro";
import Lista from "../components/Lista.astro";
import Suramin from "../components/Suramin.astro";
import Barry from "../components/Barry.astro";
---

<Layout title="Pfizer">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-red-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Pfizer
        </h1>

        <h2 class="text-slate-100 text-xl mt-5 text-center">
          The Vaxxed Harm Others Through ‘Shedding’. Pfizer Documents Prove It.
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- The Vaxxed Harm Others Through ‘Shedding’. Pfizer Documents Prove It. -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />

      <h2 id="shedding">
        <p class="mb-4 text-base text-blue-900">
          The Vaxxed Harm Others Through ‘Shedding’. Pfizer Documents Prove It.
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/5710400b-ed8e-4e96-976e-35e4a4b5f962"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.brighteon.com/5710400b-ed8e-4e96-976e-35e4a4b5f962"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
            >The Vaxxed Harm Others Through ‘Shedding’. Pfizer Documents Prove
            It.</span
          >
        </a>
        <PharmakeiaCC />
        <Biow />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- The Vaxxed Harm Others Through ‘Shedding’. Pfizer Documents Prove It. -->

    <!-- Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="insider">
        <p class="mb-4 text-base text-blue-900">
          Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v42kku5/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v455x4k-pfizer-insider-admits-mrna-set-to-kill-billions-within-months.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/THEPEOPLESVOICE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >The People's Voice</span
            >
          </a>
        </h5>

        <Barry />
      </div>
    </div>
    <!-- Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months -->

    <!-- CONFIRMED: Graphene Oxide Found In SHOTS Pfizer SUED For $3 TRILLION Over “Safe & Effective” LIES! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="graphene">
        <p class="mb-4 text-base text-blue-900">
          CONFIRMED: Graphene Oxide Found In SHOTS Pfizer SUED For $3 TRILLION
          Over “Safe & Effective” LIES!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/85cb5095-65bf-44d0-926a-bedf071e3bb5"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/85cb5095-65bf-44d0-926a-bedf071e3bb5"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >CONFIRMED: Graphene Oxide Found In SHOTS Pfizer SUED For $3
              TRILLION Over “Safe & Effective” LIES!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./nuremberg#graphene"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >THE NIGHTMARE BEGINS!(Graphene Oxide)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/THEPEOPLESVOICE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >The People's Voice</span
            >
          </a>
        </h5>

        <Barry />
      </div>
    </div>
    <!-- CONFIRMED: Graphene Oxide Found In SHOTS Pfizer SUED For $3 TRILLION Over “Safe & Effective” LIES! -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
