---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Dmsolist from "../components/Dmsolist.astro";
import PharmakeiaCC from "../components/PharmakeiaCC.astro";
import Biow from "../components/Biow.astro";
import Lista from "../components/Lista.astro";
import Suramin from "../components/Suramin.astro";
---

<Layout title="Pharmakeia Deception">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-red-800 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Pharmakeia Deception
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Revelation 18 23 – Discover Babylon’s Deception by Pharmakeia/Sorcery!
        </h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          PharmaKeia: The Sorcerer's Wand. [1a]
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <p class="mb-4 text-base text-green-600">POSSESSED - DEMONS & SERPENS</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1li6o4/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/v1o4ci0-possessed-demons-and-serpens.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >POSSESSED - DEMONS & SERPENS</span
          >
        </a>
        <PharmakeiaCC />
        <Biow />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-green-600">
        Revelation 18 23 – Discover Babylon’s Deception by Pharmakeia/Sorcery!
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://revelationscriptures.com/revelation-18-23-babylons-pahamakeia/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl text-left font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://revelationscriptures.com/revelation-18-23-babylons-pahamakeia/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Revelation 18 23 – Discover Babylon’s Deception by
              Pharmakeia/Sorcery!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl text-left font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://pathwaytopeace.net/index.php/blogs-and-articles/pharmakeia-deception"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-600 text-left text-bold hover:text-lg hover:text-green-900"
              >PHARMAKEIA Deception Pharmakeia Meaning / Definition</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl text-left font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://bookofmormonevidence.org/pharmakeia-sorcery-deception/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-left text-bold hover:text-lg hover:text-green-900"
              >Pharmakeia/Sorcery Deception</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl text-left font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.blueletterbible.org/lexicon/g5331/esv/mgnt/0-1/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-left bg-white text-base hover:text-lg hover:text-green-900"
              >Pharmakeia Meaning / Definition</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-left text-black">
          1)the use or the administering of drugs<br />
          2)poisoning<br />
          3)sorcery, magical arts, often found in connection with idolatry and fostered
          by it<br />
          4)metaph. the deceptions and seductions of idolatry<br />
        </p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-green-600">
        PharmaKeia: The Sorcerer's Wand. [1a]
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/TlzffrG-l6c"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.brighteon.com/7da9c228-f9f7-4b06-8acd-9f4af84e77c3"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >PharmaKeia: The Sorcerer's Wand. [1a]</span
          >
        </a>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=TlzffrG-l6c"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Gnsosis - Pharmakeia The Sorcerer's Wand | Documentary</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=mfwsVQDMPZ4&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Pharmakeia Deception</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Biow />
      <h2 id="implant">
        <p class="mb-4 text-base text-green-600">
          BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with
          Cancer Viruses
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1sj54i/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://rumble.com/v1v5aoo-bombshell-dr.-judy-mikovits-exposes-the-plan-to-implant-humanity-with-cance.html"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity
            with Cancer Viruses</span
          >
        </a>
        <Suramin />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses -->

    <!-- VACCINES NEVER SAVED A SINGLE LIFE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="life">
        <p class="mb-4 text-base text-green-600">
          VACCINES NEVER SAVED A SINGLE LIFE
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/eyUaM2v4FNqC/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/eyUaM2v4FNqC/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >VACCINES NEVER SAVED A SINGLE LIFE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@theunlearn/video/7194514787991112966"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 bg-white text-base hover:text-lg hover:text-green-900"
              >How VACCINES Started (Part 1)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@theunlearn/video/7196392213025164550"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 bg-white text-base hover:text-lg hover:text-green-900"
              >How VACCINES Started (Part 7)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@theunlearn"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 bg-white text-base hover:text-lg hover:text-green-900"
              >@theunlearn</span
            >
          </a>
        </h5>

        <Suramin />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- VACCINES NEVER SAVED A SINGLE LIFE -->

    <!-- VAX POSTER CHILD DIES! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="child">
        <p class="mb-4 text-base text-green-600">VAX POSTER CHILD DIES!</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/b139e925-d799-4601-918c-e7608da602a1"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.brighteon.com/b139e925-d799-4601-918c-e7608da602a1"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
            >VAX POSTER CHILD DIES!</span
          >
        </a>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- VAX POSTER CHILD DIES! -->

    <!-- The Truth About Vaccines Documentary "Vaccinations Aren't What You Think They Are" -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="vaccine">
        <p class="mb-4 text-base text-green-600">
          The Truth About Vaccines Documentary "Vaccinations Aren't What You
          Think They Are"
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1zmsb8/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v228x6e-the-truth-about-vaccines-documentary-vaccinations-arent-what-you-think-they.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 bg-white text-base hover:text-lg hover:text-blue-900"
              >The Truth About Vaccines Documentary "Vaccinations Aren't What
              You Think They Are"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/user/AndreCorbeil"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 bg-white text-base hover:text-lg hover:text-blue-900"
              >AndreCorbeil</span
            >
          </a>
        </h5>
        <Suramin />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- COVID-19 Vaccine Documentary: Everything They Do NOT Want You to Know About the Vaccine -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
