---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
---

<Layout title="Pleiadians">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-sky-500 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Pleiadians
        </h1>
        <h2 class="text-slate-100 sm:text-xl md:text-3xl mt-5 text-center">
          Hakann: You can't skip middle school
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <p class="mb-4 text-base text-blue-900">
        Hakann: You can't skip middle school
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v323dl7/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v34oscd-hakann-you-cant-skip-middle-school.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >Hakann: You can't skip middle school</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Pleiadians in the Bible?</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Hakann: Debunking “the liberation process has to be this way” -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Hakann: Debunking “the liberation process has to be this way”
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://eraoflight.com/2023/09/14/hakann-debunking-the-liberation-process-has-to-be-this-way/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://eraoflight.com/2023/09/14/hakann-debunking-the-liberation-process-has-to-be-this-way/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >Hakann: Debunking “the liberation process has to be this way”</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.ournewearthnews.com/pleiadian-warns-gray-hats-they-need-to-be-white-hats-or-face-possible-galactic-justice-hakann-debunking-the-liberation-process-has-to-be-this-way/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >Pleiadian Warns Gray Hats</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=10DhtQe0gME&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >Why Gray Hats Are NOT Doing Public Arrests/Disclosure Yet And
              What The Public Can Do About It!!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@Indianinthemachine"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 text-base hover:text-lg hover:text-green-900"
              >Indianinthemachine</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://operationdisclosureofficial.com/2023/09/16/reader-open-mind-at-last-a-real-ultimatum-to-the-grey-hats/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-green-900"
              >(Reader: Open Mind) At Last! A Real Ultimatum to the Grey Hats</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=rdYTXzeLn5A"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 text-base hover:text-lg hover:text-green-900"
              >Hakann: Debunking "the liberation process has to be this way"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@you-are-loved"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 text-base hover:text-lg hover:text-green-900"
              >You Are Loved</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/c-1740607"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 text-base hover:text-lg hover:text-green-900"
              >You Are Loved</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Pleiadians in the Bible?</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Hakann: Debunking “the liberation process has to be this way” -->

    <!-- Card title 2 -->
  </main>
</Layout>

<Footer client:only="react" />
