---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
import Contact from "../components/Contact.astro";
import Israel from "../components/Israel.astro";
import Deception from "../components/Deception.astro";
import Intel from "../components/Intel.astro";
import Qthestormm from "../components/Qthestormm.astro";

import Jones from "../components/Jones.astro";
import OVER from "../components/OVER.astro";
import TAKEDOWNL from "../components/TAKEDOWNL.astro";
---

<Layout title="QTHESTORMM">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-red-800 to-fuchsia-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] text-center text-transform: uppercase"
          >QTHESTORMM</h1
        >

        <h2 class="text-slate-100 text-xl mt-5 text-center">@QTHESTORMM</h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center"
          >Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME!</h2
        >
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="operation">
        <p class="mb-4 text-base text-green-900"
          >Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME!</p
        >
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v415pxi/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cooper#rare"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Former Naval Intelligence William 'Bill' Cooper [Had a Q level clearance]
      One World Order **A RARE find</span
    >
  </a>
</h5>
        <TAKEDOWNL />
      </div>
    </div>
    <!-- Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! -->

    <!-- TRUMP POSTED “GET READY FOR THE GOLDEN AGE”!!! -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="golden">
        <p class="mb-4 text-base text-blue-900"
          >TRUMP POSTED “GET READY FOR THE GOLDEN AGE”!!!</p
        >
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560"
            ><p lang="en" dir="ltr"
              >🇺🇸GET READY FOR THE GOLDEN AGE ~ President Donald J Trump (the
              47th)🇺🇸 <a href="https://t.co/rjD5KPu5Gp"
                >pic.twitter.com/rjD5KPu5Gp</a
              ></p
            >&mdash; 🇺🇸Dr. Victor T.A.(DProf)🇺🇸 (@realvictorad) <a
              href="https://twitter.com/realvictorad/status/1854548613466079427?ref_src=twsrc%5Etfw"
              >November 7, 2024</a
            ></blockquote
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/realvictorad/status/1854548613466079427"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >🇺🇸GET READY FOR THE GOLDEN AGE ~ President Donald J Trump (the
              47th)🇺🇸</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- TRUMP POSTED “GET READY FOR THE GOLDEN AGE”!!! -->

    <!-- Ariel (Prolotario1): The Brainwashing is Deep on Both Sides -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="deep">
        <p class="mb-4 text-base text-blue-900">Ariel (Prolotario1): The Brainwashing is Deep on Both Sides</p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">I said this a couple of years ago. Some of you may remember. The brainwashing is deep on both sides. Certain figures are so beloved arresting them even with proven crimes will be portrayed as the Deep State advancing and will make the D. Trump administration appear as…</p>&mdash; ǟʀɨɛʟ (@Prolotario1) <a href="https://twitter.com/Prolotario1/status/1965968745316159675?ref_src=twsrc%5Etfw">September 11, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
      <div class="p-6 text-center">

                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Prolotario1/status/1965968745316159675"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >Ariel (Prolotario1): The Brainwashing is Deep on Both Sides</span
            >
          </a>
        </h5>

                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/OVNIS_UFOs/status/1965992558066012544"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              > ~ Manly P. Hall</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Prolotario1/status/1877749560392774039"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >Because they know if they tried to arrest him or put him in
              prison it would be considered an 'Act of War'.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/Official_MrPool/status/1833534719931388235"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >ALERT: TEENAGED BOY KAMAL AROUSH, BRITISH CITIZEN, BORN IN
              BENGHAZI !!!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://beforeitsnews.com/conspiracy-theories/2021/10/kamala-harris-is-a-man-named-kamal-aroush-google-it-2519027.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
              >Kamala Harris is a Man!!! (named Kamal Aroush)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Ariel (Prolotario1): The Brainwashing is Deep on Both Sides -->

    <!-- @QTHESTORMM -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="qthestormm">
        <p class="mb-4 text-base text-blue-900">@QTHESTORMM</p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 2.25%"
        >
          <blockquote class="twitter-tweet" data-media-max-width="560">
            <p lang="zxx" dir="ltr">
              <a href="https://t.co/srGdJhSB95">pic.twitter.com/srGdJhSB95</a>
            </p>&mdash; Q ™️ (@QTHESTORMM) <a
              href="https://twitter.com/QTHESTORMM/status/1734726586530718160?ref_src=twsrc%5Etfw"
              >December 13, 2023</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <Qthestormm />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- @QTHESTORMM -->

    <!-- AN-OLDER-CODE -->
  </main>
</Layout>
<Footer client:only="react" />
