---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
import DISCLOSURELIST from "../components/DISCLOSURELIST.astro";
import Highcommand from "../components/Highcommand.astro";
---

<Layout title="Reptilians">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-slate-900 to-blue-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Reptilians
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Dr. Michael Salla — Shocking Evidence of Earth-Based Reptilians and
          Alien Technologies Revealed
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Shocking Evidence of Earth-Based Reptilians & Alien Technologies Revealed! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="reptilians">
        <p class="mb-4 text-base text-blue-900">
          Shocking Evidence of Earth-Based Reptilians & Alien Technologies
          Revealed!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4bb8fw/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DISCLOSURELIST />
      </div>
    </div>
    <!-- Shocking Evidence of Earth-Based Reptilians & Alien Technologies Revealed! -->

    <!-- The Vatican has for decades been a major player in UFO secrecy due to its global intelligence network. -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="secrecy">
        <p class="mb-4 text-base text-justify text-sky-600">
          The Vatican has for decades been a major player in UFO secrecy due to
          its global intelligence network.
        </p>
      </h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <script
            async
            src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-post="docsalla/1315"
            data-width="100%"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://t.me/docsalla/1315" rel="noopener" target="_blank"
            ><span
              class="bg-white text-sky-400 hover:text-2xl hover:text-sky-700"
              >The Vatican has for decades been a major player in UFO secrecy
              due to its global intelligence network</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=4XzpSCWQ-Mw"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 text-justify hover:text-2xl hover:text-red-700"
              >World Religions, Galactic Trade, Ascension and the Faithful</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <DISCLOSURELIST />
      </div>
    </div>
    <!-- The Vatican has for decades been a major player in UFO secrecy due to its global intelligence network. -->

    <!-- It's refreshing to see a senior military officer so outspoken about the reality of non-human intelligence -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="refreshing">
        <p class="mb-4 text-base text-justify text-sky-600">
          It's refreshing to see a senior military officer so outspoken about
          the reality of non-human intelligence
        </p>
      </h2>

      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <script
            async
            src="https://telegram.org/js/telegram-widget.js?22"
            data-telegram-post="docsalla/1320"
            data-width="100%"
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://t.me/docsalla/1320" rel="noopener" target="_blank"
            ><span
              class="bg-white text-sky-400 text-justify hover:text-2xl hover:text-sky-700"
              >It's refreshing to see a senior military officer so outspoken
              about the reality of non-human intelligence visiting Earth and
              interacting with humanity. The stage is set for bombshell
              disclosures about official meetings between NHI and govt/mil
              leaders:
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=FFV4mSzFBcU"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 text-justify hover:text-2xl hover:text-red-700"
              >Senior US military officer: ‘Zero doubt’ of alien life on earth |
              Reality Check</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <DISCLOSURELIST />
      </div>
    </div>
    <!-- It's refreshing to see a senior military officer so outspoken about the reality of non-human intelligence -->

    <!-- Well worth watching this presentation by General Stephen Whiting, who heads US Space Command about its priorities and partnerships. -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="spacepower">
        <span class="text-sky-500 text-base hover:text-lg hover:text-sky-900"
          >Well worth watching this presentation by General Stephen Whiting, who
          heads US Space Command about its priorities and partnerships.</span
        >
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              Well worth watching this presentation by General Stephen Whiting,
              who heads US Space Command about its priorities and partnerships.
              Especially important is the deepening partnerships with other
              nations when it comes to space defense. He describes
              &quot;Operation Olympic Defender&quot;…
            </p>&mdash; Michael Salla (@MichaelSalla) <a
              href="https://twitter.com/MichaelSalla/status/1806002103761908111?ref_src=twsrc%5Etfw"
              >June 26, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./reptilians#spacepower"
            ><span
              class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-sky-900"
              >Schriever Spacepower Series: Gen Stephen Whiting</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://twitter.com/MichaelSalla/status/1806002103761908111"
            rel="noopener"
            target="_blank"
            ><span class="bg-white text-sky-500 text-justify hover:text-sky-700"
              >Well worth watching this presentation by General Stephen Whiting,
              who heads US Space Command about its priorities and partnerships.
              Especially important is the deepening partnerships with other
              nations when it comes to space defense. He describes "Operation
              Olympic Defender" which currently includes the US, UK, Australia,
              Canada, but with invitations to Germany, France, New Zealand to
              join. According to multiple sources, there are also
              extraterrestrial organizations that are cooperating with US Space
              Command to monitor and defend our solar system from hostile ET
              groups.
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=WtcXQI1GLl0&t=478s"
            rel="noopener"
            target="_blank"
            ><span
              class="bg-white text-red-700 text-justify hover:text-2xl hover:text-red-700"
              >Schriever Spacepower Series: Gen Stephen Whiting</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
        <DISCLOSURELIST />
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Well worth watching this presentation by General Stephen Whiting, who heads US Space Command about its priorities and partnerships. -->

    <!-- Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="overlords">
        <p class="mb-4 text-base text-blue-900">
          Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4tldy5/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DISCLOSURELIST />
        <Rept />
      </div>
    </div>
    <!-- Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us -->

    <!-- This goes DEEPER than you think It's Gonna Be Biblical Q 3828 T HOLMSETH@The High Command@Smoakpipe -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="deeper">
        <p class="mb-4 text-base text-blue-900">
          This goes DEEPER than you think It's Gonna Be Biblical Q 3828 T
          HOLMSETH@The High Command@Smoakpipe
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            id="odysee-iframe"
            style="width:100%; aspect-ratio:16 / 9;"
            src="https://odysee.com/$/embed/@smoakpipe:2/this-goes-deeper-than-you-think-it-s:7?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://timothycharlesholmseth.com/wake-up-it-goes-deeper-than-you-think-its-gonna-be-biblical-q-3828/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 text-base hover:text-lg hover:text-green-900"
              >Wake Up (it goes DEEPER than you think) – – – It’s Gonna Be
              Biblical – Q 3828</span
            >
          </a>
        </h5>
        <Highcommand />
      </div>
    </div>
    <!-- This goes DEEPER than you think It's Gonna Be Biblical Q 3828 T HOLMSETH@The High Command@Smoakpipe -->

    <!-- REPTILIAN UNDERGROUND BASES, STARTGATES & ABDUCTIONS - DAVID ECKHART INTERVIEW WITH JAMES BARTLEY -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="underground">
        <p class="mb-4 text-base text-blue-900">
          REPTILIAN UNDERGROUND BASES, STARTGATES & ABDUCTIONS - DAVID ECKHART
          INTERVIEW WITH JAMES BARTLEY
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/9jaxge6WlPqH/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <DISCLOSURELIST />
        <Rept />
      </div>
    </div>
    <!-- REPTILIAN UNDERGROUND BASES, STARTGATES & ABDUCTIONS - DAVID ECKHART INTERVIEW WITH JAMES BARTLEY -->

    <!-- Footer -->
  </main>
</Layout>
<Footer client:only="react" />
