---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Movies from "../components/Movies.astro";
import Bluelist from "../components/Bluelist.astro";
import Gone from "../components/Gone.astro";
import Bibles from "../components/Bibles.astro";
import Nagas from "../components/Nagas.astro";
---

<Layout title="Royals">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-amber-900 to-pink-600 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Royals
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          The Huge Secret That Princess Diana Knew
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- The British Royals and the Reptilians -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="british">
        <p class="mb-4 text-base text-red-900">
          The British Royals and the Reptilians
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <div class="ifw-player" data-video-id="65fd5e82961a509804e84cc1">
          </div><script src="https://infowarsmedia.com/js/player.js" async
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://banned.video/watch?id=65fd5e82961a509804e84cc1"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >The British Royals and the Reptilians</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238096"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-900 text-base hover:text-lg hover:text-purple-900"
              >The British Royals and the Reptilians (video)</span
            >
          </a>
        </h5>
        <Nagas />
        <Bibles />
      </div>
    </div>
    <!-- The British Royals and the Reptilians -->

    <!-- THE HUGE SECRET THAT PRINCESS DIANA KNEW - DAVID ICKE (VIDEO) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="diana">
        <p class="mb-4 text-base text-pink-600">
          THE HUGE SECRET THAT PRINCESS DIANA KNEW - DAVID ICKE (VIDEO)
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/e7c146f2-e4bf-48f3-b25f-17ce667e3042"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/e7c146f2-e4bf-48f3-b25f-17ce667e3042"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >THE HUGE SECRET THAT PRINCESS DIANA KNEW - DAVID ICKE (VIDEO)</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Nagas />
        <Bibles />
      </div>
    </div>
    <!-- THE HUGE SECRET THAT PRINCESS DIANA KNEW - DAVID ICKE (VIDEO) -->

    <!-- Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="antichrist">
        <p class="mb-4 text-base text-pink-600">
          Mel Gibson: Global Elites Will Keep Dying To Make Way For The
          Antichrist
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4ef2yo/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v4h0c7x-mel-gibson-global-elites-will-keep-dying-to-make-way-for-the-antichrist.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Mel Gibson: Global Elites Will Keep Dying To Make Way For The
              Antichrist</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/THEPEOPLESVOICE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
              >The People's Voice</span
            >
          </a>
        </h5>

        <Nagas />
        <Bibles />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist -->

    <!-- Footer -->
  </main>
</Layout>
<Footer client:only="react" />
