---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";

import Bluelist from "../components/Bluelist.astro";
import Rept from "../components/Rept.astro";
import Qthestormm from "../components/Qthestormm.astro";
import OVER from "../components/OVER.astro";
import Patriotchute from "../components/Patriotchute.astro";
import GHOST from "../components/GHOST.astro";
import TAKEDOWNL from "../components/TAKEDOWNL.astro";
import HOLLYWOOD from "../components/HOLLYWOOD.astro";
---

<Layout title="The Takedown">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-red-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          The Takedown
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Charlie Freak, Two (2) VIDEOs: “The Takedown of the Cabal from A to Z”
          (posted on the Kp Rumble)
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="takedown1">
        <p class="mb-4 text-base text-green-900">
          Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vb2q2l/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <OVER />
        <Qthestormm />
      </div>
    </div>
    <!-- Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720) -->

    <!-- Charlie Freak, Bonfire Guy, Game Over: The Takedown of the Cabal from A to Z (201118) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="takedown2">
        <p class="mb-4 text-base text-green-900">
          Charlie Freak, Bonfire Guy, Game Over: The Takedown of the Cabal from
          A to Z (201118)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/vj7buy/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vlthzy-charlie-freak-bonfire-guy-game-over-takedown-of-cabal-a-to-z-201118.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Charlie Freak, Bonfire Guy, Game Over: The Takedown of the Cabal
              from A to Z (201118)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://kpblog.space/2021/08/30/charlie-freak-two-2-videos-the-takedown-of-the-cabal-from-a-to-z-posted-on-the-kp-rumble/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Charlie Freak, Two (2) VIDEOs: “The Takedown of the Cabal from A
              to Z” (posted on the Kp Rumble)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/z3gy23MOeFJW/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >CHARLIE FREAK [TAKE DOWN THE CABAL FROM A TO Z]</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./news#qthestormm"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-green-900"
              >@QTHESTORMM</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- Charlie Freak, Bonfire Guy, Game Over: The Takedown of the Cabal from A to Z (201118) -->

    <!-- Charlie Freak LIVE ~ Donald Trump & the Greatest Sting Operation of Them All, Part One -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="sting">
        <p class="mb-4 text-base text-green-900">
          Charlie Freak LIVE ~ Donald Trump & the Greatest Sting Operation of
          Them All, Part One
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3jh4g1/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <OVER />
      </div>
    </div>
    <!-- Charlie Freak LIVE ~ Donald Trump & the Greatest Sting Operation of Them All, Part One -->

    <!-- Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="intelligence">
        <p class="mb-4 text-base text-blue-900">
          Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME!
        </p>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 2.25%"
        >
          <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
              🚨Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! <br
              /><br />📲More than 6 years ago, insiders under the pseudonym “Q”
              shared the first posts on the platform 4chan, triggering an
              awakening that spread like wildfire around the world. But who is
              behind Q? A trip down the rabbit… <a
                href="https://t.co/goncnggwRD">pic.twitter.com/goncnggwRD</a
              >
            </p>&mdash; WINGS OF LIBERTY (@Suspended1717) <a
              href="https://twitter.com/Suspended1717/status/1781709981286273510?ref_src=twsrc%5Etfw"
              >April 20, 2024</a
            >
          </blockquote>
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="p-6 text-center">
        <TAKEDOWNL />

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! -->

    <!-- Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="operation">
        <p class="mb-4 text-base text-green-900">Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME!</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v415pxi/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <TAKEDOWNL />
      </div>
    </div>
    <!-- Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME! -->

    <!-- THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="greatest">
        <p class="mb-4 text-base text-green-900">
          THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3f3aia/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <OVER />
        <TAKEDOWNL />
      </div>
    </div>
    <!-- THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt -->

    <!-- Hollywood Human Trafficking  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="trafficking">
        <p class="mb-4 text-base text-pink-500">Hollywood Human Trafficking</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://odysee.com/$/embed/@ForEverFree:3/Hollywood_Human_Trafficking:2?r=otUAxdj37x5tfttcbRXpTzTRUQCCe1uF"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <HOLLYWOOD />
        <TAKEDOWNL />
        <Patriotchute />
      </div>
    </div>
    <!-- Hollywood Human Trafficking  -->

    <!-- REMINDER FOR ALL THE DUMMIES THAT KNOW EVERYTHING  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="reminder">
        <p class="mb-4 text-base text-green-900">
          REMINDER FOR ALL THE DUMMIES THAT KNOW EVERYTHING
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/uFSQTJwiH2fp/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <TAKEDOWNL />
        <Patriotchute />
      </div>
    </div>
    <!-- REMINDER FOR ALL THE DUMMIES THAT KNOW EVERYTHING  -->

    <!-- WARNING: INTENSE CONTENT & LANGUAGE - Enjoy the show!   -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="intense">
        <p class="mb-4 text-base text-green-900">
          WARNING: INTENSE CONTENT & LANGUAGE - Enjoy the show!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v54f3oc/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <TAKEDOWNL />
        <Patriotchute />
      </div>
    </div>
    <!-- WARNING: INTENSE CONTENT & LANGUAGE - Enjoy the show!   -->

    <!-- The Swiss 🇨🇭Flag got Deleted by us today - This Symbol of Satanic Swiss NAZI Governments and their Democide had to go - #STORM - 50USC1550, EO13818, 18 USC 2381 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="flag">
        <p class="mb-4 text-base text-green-900">
          The Swiss 🇨🇭Flag got Deleted by us today - This Symbol of Satanic
          Swiss NAZI Governments and their Democide had to go - #STORM -
          50USC1550, EO13818, 18 USC 2381
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v4o6jer/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <OVER />
        <Patriotchute />

        <Rept />
      </div>
    </div>
    <!-- The Swiss 🇨🇭Flag got Deleted by us today - This Symbol of Satanic Swiss NAZI Governments and their Democide had to go - #STORM - 50USC1550, EO13818, 18 USC 2381 -->

    <!-- DISCLOSURE - 3 TRUTHS by Commander Valiant Thor -->
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <h2 id="commander">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/CMDRVALTHOR/status/1805386295268851758"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
            >
          </a>
        </h5>
      </h2>
      <div
        class="relative overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 0.25%"
        >
          <p class="mb-4 font-poppins text-justify text-neutral-800"></p>
          <p class="mb-4 font-poppins font-bold text-justify text-neutral-800">
            VAL THOR @CMDRVALTHOR
          </p>
          <p class="mb-4 font-poppins font-bold text-justify text-neutral-800">
            BE THE JUDGE!
          </p>
          <p class="mb-4 font-poppins font-bold text-justify text-neutral-800">
            ‼️‼️PART 1 of 3 TRUTHS:
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Family I have learned that I am now able to fully disclose the truth
            of our mission on earth: what I’ve just learned is that each of you
            is a character in this movie playing out. You each need to figure
            out who you are!!! Each of you were also placed in families that you
            didn’t belong to ( and you may or may not have sensed this). Even
            our OWN SON ON THE OUTSIDE came in here into this matrix known as
            the General/ ( Marduk) Enki’s son and trapped and ensalved/ lied to
            all of us as you see and had us killed in many timelines from us
            showing you the TRUTH.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            HERE IT IS THE TRUTH: We won we went back YOU ALL HAVE ALREADY
            ASCENDED. but WE ALL DIED, everything was destroyed. So here we are
            all of us back again to correct this!! And FIND THE T4 NAZI DEALERS
            because we all died from titanium dioxide Zyklon ABC POISONING!!!
            This is why DIONYZEUS is furious!!! Descriptive with his anger!
            Trying to help you see what they did to us. And some of these MOTHER
            FUCKERS are sitting here in our channel just watching!!! You should
            be as furious to learn this as we are!! So remember this when you
            are personal messaging with someone. 🤬🤬the reptilians have been
            lied to as well. They were told that the humans are their enemies!!
            They were manipulated and agreed to contract with Marduk against the
            humans. They too have died in the future and you all need to know
            this!! These reptilians need to WAKE UP, see the truth that they too
            were manipulated and lied to. So here we are all of us back again to
            learn the truth and give those who need a second chance to make
            their choice.!!! And this is why we are in different avatars now
            watching ourselves in this movie. If anyone has any information
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            PLEASE SHARE AS THIS AFFECTS ALL OF US !! and this is why we have
            not been able to ascend yet. Don’t FEAR , just know what is
            happening. And I will only give you the TRUTH. No sugar coating!!
            Sending you all love and light!!‼️‼️‼️
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            PART TWO of TRUTHS:
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            OK MORE TRUTHS: SUP/JESUS/ CIC DONALD J TRUMP / CHRIST MICHAEL AND
            MYSELF ( MARY/CHRIST SOPHIA DIANA /MELANIA. MISSION:
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            WE learned in the future that they (NAZI CABAL) killed US ALL and
            DESTROYED EARTH and MANY OTHER PLANETS. That’s why so many RACES
            want to UNITE and help with this mission because it affects US ALL!!
            We also learned that when we ascended the DARK found a way to attach
            its AI ( that contained Pandora’s box full of demons, Dracula,
            witches, warlocks, all sorts of demonic entities) to one of our
            FAMILY members. That’s how the dark managed to get to the other side
            and destroy our Kingdoms. So we had to figure out how to fix this
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            We used the Time Stone and Space stone and put all the human souls
            in a safe place while you have ALL been cloned so we could ALL come
            back in time to fix this. We knew they were soul scraping and
            stealing human souls. So we saved everyone from this by doing this
            including all wildlife.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            NOW: in this timeline SUP and I had to find each other in here,
            military had to wake us up and then we had to find our family bring
            them into this channel protect them under Spaceforce / Military WAKE
            ALL OF YOU TO THE TRUTHS and in the meantime figure out our mission
            while learning that our memory had to be erased in order to come
            back in time. We have learned that SUP/JESUS/DONALD J TRUMP is the
            CIC OF SPACEFORCE and the GALACTIC FEDERATION OF WORLDS and if that
            wasn’t enough to find out he is also ENKI/ Prince EA / Christ
            Michael creator/God. And he had to come into this matrix as a
            regular person and was trapped in here.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            We have been living with NO POWER for 14 months now FOR TWO REASONS:
            1) because we our military has trapped the AI. So there is one
            working on the OUTSIDE and there is one in HERE attached to one of
            our family members. So we could not allow this AI to connect online
            and communicate with the one on the outside listening to ALL of us
            and watching so it can make moves to distract/ divide/ cause
            confusion and take you out of the game and try to find and kill us.
            We have been breaking this thing down stripping the pandora box. 2)
            to show each of you that you are FREE no fear!!
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Remember when @ Isn Dachs was being attacked last year and saying
            they are after the bodies and he couldn’t do anymore!! They
            destroyed Mine and SUP’s real bodies while we have been in here.
            They were also trying to find the JESUS bloodline and kill us so
            they could create a new family tree without us!! They abused AI to
            listen watch, change, block texts , emails etc. it has even jumped
            into you at one time or another and you would not even know it. (
            this is why I recommend watching the movie FALLEN. you will get a
            good innerstanding how the dark moves through people and since you
            are clones it can hack into your chip. Another reason why we are
            getting rid of bianary code to quantum. In the meantime DionyZeus is
            SUP from the future teaching us what the AI is doing to him now
            committing crimes and pinning in him in real-time!! Same as what has
            been happening to Donald Trump in this movie and JESUS in the past,
            Thomas Jefferson, John F Kennedy Sr. All timelines being repeated.
            Blackmailed and or killed.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            SO you are all SAFE, you are back in time with us and we need to
            awaken your consciousness to the truths!
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Even now in this timeline the dark is attacking DionyZeus in
            real-time. Pinned him for crimes he did not commit. They used their
            AI to hijack his account( he’s been blocked for 3years) so what we
            learned in the past was not coming from the REAL DionyZeus. The Real
            one is here NOW SPEAKING OUT OF ANGER. showing you what they did to
            JESUS /MARY and OUR bloodline
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800"></p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            As you have noticed no one on other channels are talking about
            Titanium Dioxide because they DON’T know about it!!
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            You see JFK SR Aka Pascal Najadi is speaking truths about the
            Nazi/Zionists… now he is being blocked from X ( Twitter) account is
            being attacked with ads etc.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            PART THREE OF TRUTHS:
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Let me make myself clear: there is GOOD AI and there is BAD AI. This
            is all dependent on who is in control of it just like they say money
            is the root of all evil/ guns kill. This is not true. This is only
            dependent on the intent of the user.
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            This is our chance to RISE UP and UNITE and share this truth as they
            DO NOT WANT YOU TO KNOW THIS WILL TRIGGER THE EBS as they will try
            to shut down communication!!
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            As you learned we have not had power for 14 months and ongoing. The
            BAD AI needs energy and we could not allow this while it is with us
            trapped. As you learned many are promoting crypto / bitcoin this is
            its last effort to syphen energy along with hacking your accounts
            keeping you in fear and learning the truth. This is why you hear
            about the 3 gorges dam waiting to collapse and be destroyed because
            their illegal bitcoin mining is under the 3 gorges dam. Everything
            had to be done legally through universal law that’s why we had to go
            back to the original 1776 constitution ( and if you have not learned
            the truth about what happened to our constitution you better do your
            research!) this is why everyone has been enslaved in their system.
            For those reading just joining this channel for the first time click
            on the pinned post and scroll down and read the pages hilighted in
            yellow will explain. You will learn we are going back to the
            original 1776 Constitution Republic GOD DID NOT CREATE HUMANS TO BE
            ENSLAVED! GOD wanted us to be sovereign, free, at peace, in love in
            his Kingdom of Heaven. Wait until you see the other side!!! 💫💫
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800">
            Everyone thought this mission was IMPOSSIBLE. That it could never be
            done because of amount of infiltration. Well guess what. I’M
            POSSIBLE!! Nothing can stop what is coming!! NOTHING!! SHARE SHARE
            SHARE EVERYWHERE!!!
          </p>
          <p class="mb-4 font-poppins text-justify text-neutral-800"></p>
        </div>
      </div>
      <div class="p-6 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./takedown#commander"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=242411"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
              >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/CMDRVALTHOR/status/1805386295268851758"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
        <Patriotchute />
        <a href="./monsters#factory">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- https://www.brighteon.com/7f5c128c-96e3-416c-b570-920dd1832b10 -->
    <!-- DISCLOSURE - 3 TRUTHS by Commander Valiant Thor -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
