---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="The Healing SPICE...Clears Up Phlegm & Mucus in Sinus.">
  <Header client:only="react" />

  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          The Healing SPICE (Thyme)
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          The Healing SPICE...Clears Up Phlegm & Mucus in Sinus, Chest, and
          Lungs! Dr. Mandell
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- (Thyme) 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/ekwVXROiKTI"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ekwVXROiKTI"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >The Healing SPICE...Clears Up Phlegm & Mucus in Sinus, Chest, and
              Lungs! Dr. Mandell(Thyme)</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- (Thyme) 4A -->

    <!-- (Thyme) 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/OpV97RXXlcY"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=OpV97RXXlcY"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >1 Teaspoon Cleans Out Fat in Your Liver | Dr. Mandell</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">
          Fatty liver disease means that you have fat deposits inside your
          liver. These deposits may keep your liver from doing a good job of
          removing toxins from your blood.
        </p>
      </div>
    </div>
    <!-- (Thyme) 4A -->

    <!-- Rid Respiratory Mucus with SALT 4A -->
    <div
      class="container mx-auto px-4 max-w-2xl m-4 bg-white text-gray-800 rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      ....
      <div
        class="content-center overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/XxPLWR1U5D0"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=XxPLWR1U5D0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Rid Respiratory Mucus with SALT</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- Rid Respiratory Mucus with SALT 4A -->

    <Footer client:only="react" />
  </main>
</Layout>
