---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Contact from "../components/Contact.astro";
import Rickbruce from "../components/Rickbruce.astro";
import Israel from "../components/Israel.astro";
import Nagas from "../components/Nagas.astro";
---

<Layout title="WILLIAM TOMPKINS">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-700 to-sky-500 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          WILLIAM TOMPKINS
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          WILLIAM TOMPKINS: SELECTED BY EXTRATERRESTRIALS – PART ONE December
          15th, 2016 Project Camelot
        </h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Unforgettable Apollo Discoveries - Reptilian Encounters & Six Alien
          Crafts Exposed
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- WILLIAM TOMPKINS THE ABDUCTION, HARVESTING AND EATING OF CHILDREN BY THE DRACO REPTILIAN ILLUMINATI -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <Contact />
      <h2 id="william">
        <p class="mb-4 text-base text-blue-400">
          WILLIAM TOMPKINS THE ABDUCTION, HARVESTING AND EATING OF CHILDREN BY
          THE DRACO REPTILIAN ILLUMINATI
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.brighteon.com/embed/f5ff1690-d91b-46cf-97dd-845f442df416?t=67"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/k1l3RTsHd7Ve/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >WILLIAM TOMPKINS THE ABDUCTION, HARVESTING AND EATING OF CHILDREN
              BY THE DRACO REPTILIAN ILLUMINATI</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/f5ff1690-d91b-46cf-97dd-845f442df416"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >803. REPTILIANS Eating Humans - Cassidy and Tompkins (6-2016)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./goesdeep#phil"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >PHIL SCHNEIDER</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins#moon"
            ><span
              class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
              >The MOON LANDING Story They Don't Want You To Know About! - The
              Real Reason We Saw Fake Footage
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./jordanmaxwell"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
              >Jordan Maxwell</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <Nagas />
        <Israel />
        <Rickbruce />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!--  WILLIAM TOMPKINS THE ABDUCTION, HARVESTING AND EATING OF CHILDREN BY THE DRACO REPTILIAN ILLUMINATI -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        William Tompkins: Selected by Extraterrestrials (1/2) ◄ Project Camelot
        | Kerry Cassidy ◄ 2016-12-15
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/tdhcQNDIPXI"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.youtube.com/watch?v=tdhcQNDIPXI&t=3s"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >William Tompkins: Selected by Extraterrestrials (1/2) ◄ Project
            Camelot | Kerry Cassidy ◄ 2016-12-15</span
          >
        </a>
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- The MOON LANDING Story They Don't Want You To Know About! - The Real Reason We Saw Fake Footage  -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="moon">
        <p class="mb-4 text-base text-green-700">
          The MOON LANDING Story They Don't Want You To Know About! - The Real
          Reason We Saw Fake Footage
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v43h0g3/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v462cj0-the-moon-landing-story-they-dont-want-you-to-know-about-the-real-reason-we-.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-950"
              >The MOON LANDING Story They Don't Want You To Know About! - The
              Real Reason We Saw Fake Footage
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-950"
              >Journey to Truth</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234869"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
              >The MOON LANDING Story They Don't Want You To Know About! - The
              Real Reason We Saw Fake Footage</span
            >
          </a>
        </h5>
        <Nagas />
      </div>
    </div>
    <!-- The MOON LANDING Story They Don't Want You To Know About! - The Real Reason We Saw Fake Footage  -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        JEFF RENSE & WILLIAM TOMPKINS - LOOK UP AND BE AMAZED!
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/a6NvQUHpfRFB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/a6NvQUHpfRFB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >JEFF RENSE & WILLIAM TOMPKINS - LOOK UP AND BE AMAZED!</span
            >
          </a>
        </h5>
        <Nagas />
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        JEFF RENSE & WILLIAM TOMPKINS - THE ET & NAZI SECRET SPACE PROGRAM
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/AxFroAySGdLo/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <a
          href="https://www.bitchute.com/video/AxFroAySGdLo/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
            >JEFF RENSE & WILLIAM TOMPKINS - THE ET & NAZI SECRET SPACE PROGRAM</span
          >
        </a>
      </div>
    </div>
    <!-- Card title 2 -->
  </main>
</Layout>

<Footer client:only="react" />
