---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Rept from "../components/Rept.astro";
import Bluelist from "../components/Bluelist.astro";
import Contact from "../components/Contact.astro";
import Gone from "../components/Gone.astro";
---

<Layout title="Tory Smith">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-indigo-900 to-cyan-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          Tory Smith
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          WHERE ARE THE HUMANS IN GOVERNMENT?
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- WHERE ARE THE HUMANS IN GOVERNMENT? -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <Contact />
      <h2 id="smith">
        <p class="mb-4 text-base text-blue-500">
          WHERE ARE THE HUMANS IN GOVERNMENT?
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/n1kyIvHqp7Y"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=n1kyIvHqp7Y"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
              >WHERE ARE THE HUMANS IN GOVERNMENT?(16 Mar 2016)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@ForEverFree:3/WHERE-ARE-THE-HUMANS-IN-GOVERNMENT%EF%BC%9F--n1kyIvHqp7Y-:7"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-300 bg-white text-base hover:text-lg hover:text-pink-500"
              >WHERE ARE THE HUMANS IN GOVERNMENT?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@TorySmithDNA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Tory Smith (youtube)</span
            >
          </a>
        </h5>
        <Gone />
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/OVgi4ycjteWH/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX
              TRAFFICKING</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/the_high_command/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >THE_HIGH_COMMAND</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#time"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/S4W8Nhqf1A2j/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >COPPERPOT - WARNING! NOT FOR SENSITIVE AUDIENCES (SEE LINKS!)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=2LakXx6A72g"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >IN GOV MIKE PENCE HAS MURDERED 53 CHILDREN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=P9WKL_UNxds"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Mike Pence has raped 186 Children 2Jun</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://timothycharlesholmseth.com/cia-officer-robert-david-steele-told-timothy-charles-holmseth-that-mike-pence-and-accomplice-raped-and-then-murdered-child-with-a-dagger/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >CIA officer Robert David Steele told Timothy Charles Holmseth<br
              />
              that Mike Pence and accomplice raped and then murdered child with<br
              />
              a dagger Steele also said whistleblower Tory Smith was murdered by<br
              />
              an Indiana State Trooper.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Yh4sno9WgsU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >WILL THIS BE MY LAST VIDEO?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/yDObvWOR8DyQ/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >EX MEN IN BLACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/lTUi8QhIKahf/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >REPTILIANS</span
            >
          </a>
        </h5>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- WHERE ARE THE HUMANS IN GOVERNMENT? -->

    <!-- REPTILIANS DOMINATE POLITICS WORLD WIDE! ALL ARE RELATED BY BLOOD! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="blood">
        <p class="mb-4 text-base text-blue-900">
          REPTILIANS DOMINATE POLITICS WORLD WIDE! ALL ARE RELATED BY BLOOD!
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/GrnIeXeVJfYs/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/GrnIeXeVJfYs/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >REPTILIANS DOMINATE POLITICS WORLD WIDE! ALL ARE RELATED BY
              BLOOD!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >William Tompkins</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-black">...</p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >

        <Rept />
      </div>
    </div>
    <!-- REPTILIANS DOMINATE POLITICS WORLD WIDE! ALL ARE RELATED BY BLOOD! -->

    <!-- Footer -->
  </main>
</Layout>
<Footer client:only="react" />
