---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<Layout title="DRACONIAN REPTILIAN SHOWN BY THE VATICAN.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-green-700 h-96 w-full relative"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          DRACONIAN REPTILIAN
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          DRACONIAN REPTILIAN SHOWN BY THE VATICAN
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        DRACONIAN REPTILIAN SHOWN BY THE VATICAN
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.bitchute.com/embed/VEPnxCEzOXIB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater#vatican"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/VEPnxCEzOXIB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@Kinninigan:2/alpha-draconian-reptilian-shown-by-the-2:1"
            rel="noopener"
            target="_blank"
            ><span
              class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
              >Alpha Draconian Reptilian Shown by the Vatican</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=CKQgTaLaSI0&t=720s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-left text-xl font-bold hover:text-2xl hover:text-pink-700"
              >The Prophecy of the Popes Explained Are We Now Facing the End
              Times as the Prophecy May Suggest @12:07</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ice">
        <p class="mb-4 text-base text-blue-900">
          They were built by the Crocodile Kings.
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.youtube.com/embed/sFQMFZMBrMM?start=40"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater#vatican"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sFQMFZMBrMM&t=40s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Hidden Beneath The Ice of Antarctica... Lost Civilization of the
              Pre-Adamites</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base font-bold text-gray-700">
          They were built by the Crocodile Kings.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >You Will Be Stunned By This Information! Finally We Can Begin To
              Understand!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
              >Reptilians in the Bible</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ice">
        <p class="mb-4 text-base text-blue-900">
          Moses and the Crocodile God of Egypt!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.hope-of-israel.org/crocodile.html"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.hope-of-israel.org/crocodile.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Moses and the Crocodile God of Egypt!</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >You Will Be Stunned By This Information! Finally We Can Begin To
              Understand!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
              >Reptilians in the Bible</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Q for Anons reveals Vatican Rothschild Reptilian Connection behind the
        Deep State - ExoPolitics
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/v2dc9v2/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater#vatican"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >QAnon reveals Vatican Rothschild Reptilian Connection behind the
              Deep State Michael Salla</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Q for Anons reveals Vatican Rothschild Reptilian Connection
              behind the Deep State - ExoPolitics</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        VACCINE CEO SHAPE-SHIFTS ON NBC NIGHTLY NEWS
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.bitchute.com/embed/TcsMeEqDM3xA/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/TcsMeEqDM3xA/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >VACCINE CEO SHAPE-SHIFTS ON NBC NIGHTLY NEWS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/BaNEGtSAarkV/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.bitchute.com/embed/BaNEGtSAarkV/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/BaNEGtSAarkV/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">NOT HUMAN @7:00</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.bitchute.com/embed/e2Bp6uSEOHnq/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/e2Bp6uSEOHnq/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >NOT HUMAN @7:00</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Q for Anons reveals Vatican Rothschild Reptilian Connection
              behind the Deep State - ExoPolitics</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        DRACOS, NEPHILIM, REPTILIANS IN YOUR FACE WITH GENE DECODE
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.bitchute.com/embed/4JU2YWukHslu/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/4JU2YWukHslu/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >DRACOS, NEPHILIM, REPTILIANS IN YOUR FACE WITH GENE DECODE</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY & GRANDSON OF
        GEORGE SOROS)
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://rumble.com/embed/v1mk3ry/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1p69jw-the-sinister-truth-about-greta-thunberg-born-as-a-boy-and-grandson-of-georg.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY &
              GRANDSON OF GEORGE SOROS)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/JBFwoBiqAuTS/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY &
              GRANDSON OF GEORGE SOROS)</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY & GRANDSON OF
        GEORGE SOROS)
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full"
            src="https://www.youtube.com/embed/6Ct5hMhHsWo"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=6Ct5hMhHsWo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >area 51 worker gets drunk and tells the truth about ufo's part 1</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
