---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Bluelist from "../components/Bluelist.astro";
import Movies from "../components/Movies.astro";
import Rept from "../components/Rept.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="DRACONIAN REPTILIAN SHOWN BY THE VATICAN.">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-purple-900 to-red-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          DRACONIAN REPTILIAN
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          DRACONIAN REPTILIAN SHOWN BY THE VATICAN
        </h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          They were built by the Crocodile Kings
        </h2>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital Tom
          @23:00
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Bluelist />
      <h2 id="vatican">
        <p class="mb-4 text-base text-blue-900">
          DRACONIAN REPTILIAN SHOWN BY THE VATICAN
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden rounded-xl"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/VEPnxCEzOXIB/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater#vatican"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/VEPnxCEzOXIB/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@Kinninigan:2/alpha-draconian-reptilian-shown-by-the-2:1"
            rel="noopener"
            target="_blank"
            ><span
              class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
              >Alpha Draconian Reptilian Shown by the Vatican</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=CKQgTaLaSI0&t=720s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-500 text-left text-xl font-bold hover:text-2xl hover:text-pink-700"
              >The Prophecy of the Popes Explained Are We Now Facing the End
              Times as the Prophecy May Suggest @12:07</span
            >
          </a>
        </h5>

        <Rept />
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Hidden Beneath The Ice of Antarctica... Lost Civilization of the Pre-Adamites -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ice">
        <p class="mb-4 text-base text-blue-900">
          They were built by the Crocodile Kings.
        </p>
        <p class="mb-4 text-base text-blue-900">
          Hidden Beneath The Ice of Antarctica... Lost Civilization of the
          Pre-Adamites
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/sFQMFZMBrMM?start=40"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=sFQMFZMBrMM&t=40s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Hidden Beneath The Ice of Antarctica... Lost Civilization of the
              Pre-Adamites</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base font-bold text-gray-700">
          They were built by the Crocodile Kings.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./orion#everywhere"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >"Orion is everywhere"</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://operationdisclosureofficial.com/2023/10/16/dr-michael-salla-ancient-pyramids-are-communications-devices-used-by-ets-according-to-discoverer-of-bosnian-pyramid/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-950 text-base hover:text-lg hover:text-green-900"
              >Dr. Michael Salla — Ancient Pyramids are Communications Devices
              used by ETs According to Discoverer of Bosnian Pyramid</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=x1kDAxZgvC8&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Ancient Pyramids, Interstellar Communications Devices, ETs,
              Discoverer of the Bosnian Pyramid</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >You Will Be Stunned By This Information! Finally We Can Begin To
              Understand!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
              >Reptilians in the Bible</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#pepsi"
            ><span
              class="text-pink-700 font-bold hover:text-2xl hover:text-blue-900"
              >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#dew"
            ><span
              class="text-pink-700 font-bold hover:text-2xl hover:text-blue-900"
              >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./global"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Global Marshall Law</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Hidden Beneath The Ice of Antarctica... Lost Civilization of the Pre-Adamites -->

    <!-- Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer of the Bosnian Pyramid -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="interstellar">
        <p class="mb-4 text-base text-blue-900">
          Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer
          of the Bosnian Pyramid
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/x1kDAxZgvC8?start=40"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=x1kDAxZgvC8&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Ancient Pyramids, Interstellar Communications Devices, ETs,
              Discoverer of the Bosnian Pyramid</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=XU49FSIx0_g&t=3s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >TESLA KNEW The Secret of the Great Pyramid: Unlimited Energy to
              Power the World</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base font-bold text-gray-700">...</p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://operationdisclosureofficial.com/2023/10/16/dr-michael-salla-ancient-pyramids-are-communications-devices-used-by-ets-according-to-discoverer-of-bosnian-pyramid/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-950 text-base hover:text-lg hover:text-green-900"
              >Dr. Michael Salla — Ancient Pyramids are Communications Devices
              used by ETs According to Discoverer of Bosnian Pyramid</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >You Will Be Stunned By This Information! Finally We Can Begin To
              Understand!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
              >Reptilians in the Bible</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./global"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Global Marshall Law</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer of the Bosnian Pyramid -->

    <!-- Trump Talking about Snakes -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Contact />
      <h2 id="snakes">
        <p class="mb-4 text-base text-green-600">REPTILIAN PRINCE PHILIP</p>
      </h2>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Trump Talking about Snakes
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/iZ7vo5ydSnrl/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <a
          href="https://www.bitchute.com/video/iZ7vo5ydSnrl/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
            >REPTILIAN PRINCE PHILIP</span
          >
        </a>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Trump Talking about Snakes
        </p>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Trump Talking about Snakes -->

    <!-- CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS* -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="creepy">
        <p class="mb-4 text-base text-blue-700">
          CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS*
        </p>
      </h2>
      <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
        Vatican Snake Room refers to the Paul VI Audience Hall
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://yewtu.be/embed/ushhDUM3Hos?t=1"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://yewtu.be/watch?v=ushhDUM3Hos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 bg-white text-base hover:text-lg hover:text-green-900"
              >CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS*</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ushhDUM3Hos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
              >CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS*</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Vatican Snake Room refers to the Paul VI Audience Hall located in
          Vatican City in Italy,<br /> which is an indoor space constructed in 1971
          that the Pope uses for some public events and ceremonies.<br />The
          large hall is purported by conspiracy theorists to have been built to
          look like the head of a snake.<br /> A central feature of the hall is the
          sculpture The Resurrection,<br />an extremely large bronze depicting
          Jesus Christ facing the consequences of a nuclear blast.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@childoflight389/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Child of Light</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/8ANgibE0irhW/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Reptilian Church Frequencies</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          REPTILIAN CHURCH FREQUENCIES
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS* -->

    <!-- REPTILIAN CHURCH FREQUENCIES -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="church">
        <p class="mb-4 text-base text-green-600">
          REPTILIAN CHURCH FREQUENCIES
        </p>
      </h2>

      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/8ANgibE0irhW/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/8ANgibE0irhW/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
              >REPTILIAN CHURCH FREQUENCIES</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ushhDUM3Hos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
              >CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS*</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          Vatican Snake Room refers to the Paul VI Audience Hall located in
          Vatican City in Italy,<br /> which is an indoor space constructed in 1971
          that the Pope uses for some public events and ceremonies.<br />The
          large hall is purported by conspiracy theorists to have been built to
          look like the head of a snake.<br /> A central feature of the hall is the
          sculpture The Resurrection,<br />an extremely large bronze depicting
          Jesus Christ facing the consequences of a nuclear blast.
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@childoflight389/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Child of Light</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          REPTILIAN CHURCH FREQUENCIES
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- REPTILIAN CHURCH FREQUENCIES -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Movies />

      <h2 id="mugzzi">
        <p class="mb-4 text-base text-purple-500">
          Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital Tom
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2wx21u/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2zih7e-quantum-shift-reptilian-attachments-dr.-sam-mugzzi-and-digital-tom.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-500 font-bold hover:text-2xl hover:text-green-900"
              >Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital
              Tom @23:00</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/c-3288974"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Dr. Sam Mugzzi</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.nydailynews.com/new-york/manhattan/story-behind-strange-8th-ave-subway-statues-article-1.2533216"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
              >The story behind the strange 8th Ave. subway statues</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner"
            ><span
              class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
              >Chris Turner talks about Richard Bruce</span
            >
          </a>
        </h5>

        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="egypt">
        <p class="mb-4 text-base text-green-600">
          Advanced Technology of the Anunnaki in Egypt? Connection to the Gods?
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2tld3y/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./orion#everywhere"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Orion</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2w6sds-the-5th-kind-advanced-technology-of-the-anunnaki-in-egypt-connection-to-the.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base hover:text-lg hover:text-green-950"
              >Advanced Technology of the Anunnaki in Egypt? Connection to the
              Gods?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="ice">
        <p class="mb-4 text-base text-blue-900">
          Moses and the Crocodile God of Egypt!
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.hope-of-israel.org/crocodile.html"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.hope-of-israel.org/crocodile.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Moses and the Crocodile God of Egypt!</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >You Will Be Stunned By This Information! Finally We Can Begin To
              Understand!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bible#iraq"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
              >Reptilians in the Bible</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bruce"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Richard Bruce</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Q for Anons reveals Vatican Rothschild Reptilian Connection behind the
        Deep State - ExoPolitics
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v2dc9v2/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./bluewater#vatican"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >QAnon reveals Vatican Rothschild Reptilian Connection behind the
              Deep State Michael Salla</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Q for Anons reveals Vatican Rothschild Reptilian Connection
              behind the Deep State - ExoPolitics</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="pepsi">
        <p class="mb-4 text-base text-blue-900">
          Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 3.25%"
        >
          <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@truthsight8/video/7303313863112396063"
            data-video-id="7303313863112396063"
            style="max-width: 605px;min-width: 325px;"
          >
            <section>
              <a
                target="_blank"
                title="@truthsight8"
                href="https://www.tiktok.com/@truthsight8?refer=embed"
                >@truthsight8</a
              > 🪬✨👁️ <a
                title="awareness"
                target="_blank"
                href="https://www.tiktok.com/tag/awareness?refer=embed"
                >#awareness</a
              >
              <a
                title="payattention"
                target="_blank"
                href="https://www.tiktok.com/tag/payattention?refer=embed"
                >#payattention</a
              >
              <a
                title="listen"
                target="_blank"
                href="https://www.tiktok.com/tag/listen?refer=embed">#listen</a
              >
              <a
                title="👂🏾"
                target="_blank"
                href="https://www.tiktok.com/tag/%F0%9F%91%82%F0%9F%8F%BE?refer=embed"
                >#👂🏾</a
              >
              <a
                title="takeamoment"
                target="_blank"
                href="https://www.tiktok.com/tag/takeamoment?refer=embed"
                >#takeamoment</a
              >
              <a
                title="innerstand"
                target="_blank"
                href="https://www.tiktok.com/tag/innerstand?refer=embed"
                >#innerstand</a
              >
              <a
                title="understand"
                target="_blank"
                href="https://www.tiktok.com/tag/understand?refer=embed"
                >#understand</a
              >
              <a
                title="overstand"
                target="_blank"
                href="https://www.tiktok.com/tag/overstand?refer=embed"
                >#overstand</a
              >
              <a
                title="truesight"
                target="_blank"
                href="https://www.tiktok.com/tag/truesight?refer=embed"
                >#truesight</a
              >
              <a
                title="truthseeker"
                target="_blank"
                href="https://www.tiktok.com/tag/truthseeker?refer=embed"
                >#truthseeker</a
              >
              <a
                title="👁️"
                target="_blank"
                href="https://www.tiktok.com/tag/%F0%9F%91%81%EF%B8%8F?refer=embed"
                >#👁️</a
              >
              <a
                title="truthinplainsight"
                target="_blank"
                href="https://www.tiktok.com/tag/truthinplainsight?refer=embed"
                >#truthinplainsight</a
              > #🪬 <a
                title="themoreyouknow💫"
                target="_blank"
                href="https://www.tiktok.com/tag/themoreyouknow%F0%9F%92%AB?refer=embed"
                >#themoreyouknow💫</a
              >
              <a
                title="themoreyourealize"
                target="_blank"
                href="https://www.tiktok.com/tag/themoreyourealize?refer=embed"
                >#themoreyourealize</a
              >
              <a
                target="_blank"
                title="♬ original sound - Tru_Sight🪬🧿"
                href="https://www.tiktok.com/music/original-sound-7303313959854066462?refer=embed"
                >♬ original sound - Tru_Sight🪬🧿</a
              >
            </section>
          </blockquote>
          <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@truthsight8/video/7303313863112396063"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232709"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars#ceo"
            ><span
              class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
              >Vaccine CEO shape-shifts on NBC Nightly News</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) -->

    <!-- Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="dew">
        <p class="mb-4 text-base text-blue-900">
          Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 3.25%"
        >
          <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@bellahamilton29.0/video/7303009968200895746"
            data-video-id="7303009968200895746"
            style="max-width: 605px;min-width: 325px;"
          >
            <section>
              <a
                target="_blank"
                title="@bellahamilton29.0"
                href="https://www.tiktok.com/@bellahamilton29.0?refer=embed"
                >@bellahamilton29.0</a
              >
              <a
                title="duet"
                target="_blank"
                href="https://www.tiktok.com/tag/duet?refer=embed">#duet</a
              > with @Truth Seeker Mountain Dew <a
                title="america"
                target="_blank"
                href="https://www.tiktok.com/tag/america?refer=embed"
                >#america</a
              >
              <a
                title="patriot"
                target="_blank"
                href="https://www.tiktok.com/tag/patriot?refer=embed"
                >#patriot</a
              >
              <a
                title="australia"
                target="_blank"
                href="https://www.tiktok.com/tag/australia?refer=embed"
                >#australia</a
              >
              <a
                title="canada"
                target="_blank"
                href="https://www.tiktok.com/tag/canada?refer=embed">#canada</a
              >
              <a
                title="france"
                target="_blank"
                href="https://www.tiktok.com/tag/france?refer=embed">#france</a
              >
              <a
                title="unitedkingdom"
                target="_blank"
                href="https://www.tiktok.com/tag/unitedkingdom?refer=embed"
                >#unitedkingdom</a
              >
              <a
                title="freedomfighter"
                target="_blank"
                href="https://www.tiktok.com/tag/freedomfighter?refer=embed"
                >#freedomfighter</a
              >
              <a
                title="patriotwithoutborders"
                target="_blank"
                href="https://www.tiktok.com/tag/patriotwithoutborders?refer=embed"
                >#patriotwithoutborders</a
              >
              <a
                target="_blank"
                title="♬ Mysterious and sad BGM(1120058) - S and N"
                href="https://www.tiktok.com/music/Mysterious-and-sad-BGM-1120058-7021220308539410434?refer=embed"
                >♬ Mysterious and sad BGM(1120058) - S and N</a
              >
            </section>
          </blockquote>
          <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@bellahamilton29.0/video/7303009968200895746"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232709"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars#ceo"
            ><span
              class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
              >Vaccine CEO shape-shifts on NBC Nightly News</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2 -->

    <!-- Mountain Dew fans, new flavor dropping called Maui Burst. Exclusively from Dollar General. -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="maui">
        <p class="mb-4 text-base text-green-600">
          Mountain Dew fans, new flavor dropping called Maui Burst. Exclusively
          from Dollar General.
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@chrisfrez/video/6741104462980500741"
            data-video-id="6741104462980500741"
            style="max-width: 605px;min-width: 325px;"
          >
            <section>
              <a
                target="_blank"
                title="@chrisfrez"
                href="https://www.tiktok.com/@chrisfrez?refer=embed"
                >@chrisfrez</a
              > Mountain Dew fans, new flavor dropping called Maui Burst. Exclusively
              from Dollar General. <a
                title="foryourconsideration"
                target="_blank"
                href="https://www.tiktok.com/tag/foryourconsideration?refer=embed"
                >#foryourconsideration</a
              >
              <a
                title="mountaindew"
                target="_blank"
                href="https://www.tiktok.com/tag/mountaindew?refer=embed"
                >#mountaindew</a
              >
              <a
                title="fyp"
                target="_blank"
                href="https://www.tiktok.com/tag/fyp?refer=embed">#fyp</a
              >
              <a
                target="_blank"
                title="♬ original sound - Chris Frezza"
                href="https://www.tiktok.com/music/original-sound-6741085492881804037?refer=embed"
                >♬ original sound - Chris Frezza</a
              >
            </section>
          </blockquote>
          <script async src="https://www.tiktok.com/embed.js"></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@chrisfrez/video/6741104462980500741"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Mountain Dew fans, new flavor dropping called Maui Burst.
              Exclusively from Dollar General.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@iiwrpodcast/video/7187890647855041834"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Mountain Dew Maui Burst Review
            </span>
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.tiktok.com/@lightangel444/video/7267913499437698346"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-600 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >code red= meaning fire</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Mountain Dew fans, new flavor dropping called Maui Burst. Exclusively from Dollar General. -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/BaNEGtSAarkV/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/BaNEGtSAarkV/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">NOT HUMAN @7:00</p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/e2Bp6uSEOHnq/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/e2Bp6uSEOHnq/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >NOT HUMAN @7:00</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2fxpbi-q-and-anons-reveals-vatican-rothschild-reptilian-connection-behind-the-deep.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >Q for Anons reveals Vatican Rothschild Reptilian Connection
              behind the Deep State - ExoPolitics</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        DRACOS, NEPHILIM, REPTILIANS IN YOUR FACE WITH GENE DECODE
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.bitchute.com/embed/4JU2YWukHslu/"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/4JU2YWukHslu/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >DRACOS, NEPHILIM, REPTILIANS IN YOUR FACE WITH GENE DECODE</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY & GRANDSON OF
        GEORGE SOROS)
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v1mk3ry/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./alienwars"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v1p69jw-the-sinister-truth-about-greta-thunberg-born-as-a-boy-and-grandson-of-georg.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-900 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY &
              GRANDSON OF GEORGE SOROS)</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/JBFwoBiqAuTS/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
              >THE OCCULT TRUTH ABOUT GRETA THUNBERG (ALSO BORN AS A BOY &
              GRANDSON OF GEORGE SOROS)</span
            >
          </a>
        </h5>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Card title 2 -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
