---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Dmsocc";
import Footer from "../components/Footercc";
import Fun from "../components/Fun.astro";
import Lista from "../components/Lista.astro";
import Dmsolist from "../components/Dmsolist.astro";
---

<Layout title="The Voice of Freedom">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tr from-yellow-700 to-purple-700 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-center text-transform: uppercase"
        >
          The Voice of Freedom
        </h1>
        <h2 class="text-slate-100 text-xl mt-5 text-center">
          VF: Wed Nov 29. PAIN. if you have it - DONT MISS THIS SHOW
        </h2>
      </div>
    </div>
    <!-- Jumbotron -->

    <Dmsolist />

    <!-- VF: Wed Nov 29. PAIN. if you have it - DONT MISS THIS SHOW -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <Lista />
      <h2 id="pain">
        <p class="mb-4 text-base text-purple-500">
          VF: Wed Nov 29. PAIN. if you have it - DONT MISS THIS SHOW
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/qRFYYivqriY"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=qRFYYivqriY"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >VF: Wed Nov 29. PAIN. if you have it - DONT MISS THIS SHOW</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@CarlsCam08"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >The Voice of Freedom</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=XoaoLY1c6nU"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >VoF Tues Nov 28th - The World is still turning</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://lifewave.com/vof/enrollment/packs"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >lifewave.com/vof/enrollment/packs</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- VF: Wed Nov 29. PAIN. if you have it - DONT MISS THIS SHOW -->

    <!-- VoFL:Darrebn Bergwerf....and Vince the Vof IT Legend and all round good bloke -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="vince">
        <p class="mb-4 text-base text-green-700">
          VoFL:Darrebn Bergwerf....and Vince the Vof IT Legend and all round
          good bloke(@54:00)
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3x2j7w/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3znwv2-vofldarrebn-bergwerf....and-vince-the-vof-it-legend-and-all-round-good-blok.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
              >VoFL:Darrebn Bergwerf....and Vince the Vof IT Legend and all
              round good bloke</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          @54:00
        </p>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@CarlsCam08"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >The Voice of Freedom</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=buRMy70JFWs"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >VoF: Tues Dec 5th - Early Show w arren Bergwerf Vince the IT
              legend that keeps us on the air(@54:00)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://lifewave.com/vof/enrollment/packs"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >lifewave.com/vof/enrollment/packs</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- VoFL:Darrebn Bergwerf....and Vince the Vof IT Legend and all round good bloke -->

    <!-- EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First Interview, Drops Huge Truth Bombs! -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="database">
        <p class="mb-4 text-base text-black">
          EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives
          First Interview, Drops Huge Truth Bombs!
        </p>
      </h2>
      <a
        href="https://banned.video/watch?id=656f94b10681e680640f045f"
        rel="noopener"
        target="_blank"
        ><span
          class="text-blue-700 bg-white text-base hover:text-lg hover:text-purple-900"
          >https://banned.video/watch?id=656f94b10681e680640f045f</span
        >
      </a>
      <br />
      <a
        href="https://madmaxworld.tv/watch?id=656f94b10681e680640f045f"
        rel="noopener"
        target="_blank"
        ><span
          class="text-blue-700 bg-white text-base hover:text-lg hover:text-purple-900"
          >https://madmaxworld.tv/watch?id=656f94b10681e680640f045f</span
        >
      </a>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 1.25%"
        >
          <div class="ifw-player" data-video-id="656f94b10681e680640f045f">
          </div><script src="https://infowarsmedia.com/js/player.js" async
          ></script>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://banned.video/watch?id=656f94b10681e680640f045f"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
              >EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives
              First Interview, Drops Huge Truth Bombs!</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://banned.video/channel/the-alex-jones-show"
            rel="noopener"
            target="_blank"
            ><span
              class="text-black bg-white text-base hover:text-lg hover:text-purple-900"
              >The Alex Jones Show</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=8IT5B0hdMdo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Sean Plunket on Liz Gunn's 'mother of all revelations'</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
      </div>
    </div>
    <!-- EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First Interview, Drops Huge Truth Bombs! -->

    <!-- Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation Agenda in 1994 -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="depopulation">
        <p class="mb-4 text-base text-left font-bold text-black">
          Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
          Agenda in 1994
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v3x18yg/?pub=4"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v3zmmlm-leaked-video-reveals-rockefeller-predicted-covid-jab-depopulation-agenda-in.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
              >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab
              Depopulation Agenda in 1994</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/c/THEPEOPLESVOICE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
              >The People's Voice</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./arrests#case"
            ><span
              class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
              >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes
              Against Humanity Case</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base font-bold text-black">...</p>
        <a href="./monsters">
          <p class="text-left text-yellow-100 hover:text-blue-300">
            Monsters Inc
          </p></a
        >
      </div>
    </div>
    <!-- Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation Agenda in 1994 -->

    <!-- Card title 2 -->
  </main>
</Layout>
<Footer client:only="react" />
