---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Finance from "../components/Finance.astro";
import ISO20022 from "../components/ISO20022.astro";
import Bluelist from "../components/Bluelist.astro";
---

<Layout title="XRP ">
  <Header client:only="react" />
  <main class="container">
    <!-- Jumbotron -->
    <div
      class="bg-gradient-to-tl from-blue-900 to-sky-600 h-96 w-full relative rounded-xl"
    >
      <img
        src="images/Med-Bed001.jpg"
        class="w-full h-full object-cover absolute mix-blend-overlay rounded-xl"
      />
      <div class="p-24">
        <h1
          class="text-white text-xl lg:text-[4rem] lg:leading-[4rem] text-center text-transform: uppercase"
        >
          XRP
        </h1>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">
          💥ISO 20022 ARE YOU READY!💥XRP XDC XLM & MORE💥YOUR FINANCIAL FUTURE
          STARTS NOW
        </h2>
        <h2 class="text-slate-100 sm:text-2xl md:text-3xl mt-5 text-center">Federal Reserve Turns to XRP and Hedera for ISO 20022 RLUSD Payment Innovations </h2>
      </div>
    </div>
    <!-- Jumbotron -->

       <!-- Federal Reserve Turns to XRP and Hedera for ISO 20022 RLUSD Payment Innovations -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
        <Bluelist />
      <h2 id="iso20022">
        <p class="mb-4 text-base text-blue-900">Federal Reserve Turns to XRP and Hedera for ISO 20022 RLUSD Payment Innovations</p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://rumble.com/embed/v5r2rat/?pub=166b2j"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v5tbwd5-federal-reserve-turns-to-xrp-and-hedera-for-iso-20022-rlusd-payment-innovat.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-emerald-500 text-base hover:text-lg hover:text-green-900"
              >Federal Reserve Turns to XRP and Hedera for ISO 20022 RLUSD Payment Innovations</span
            >
          </a>
        </h5>
      
        <ISO20022 />
      </div>
    </div>
    <!-- Federal Reserve Turns to XRP and Hedera for ISO 20022 RLUSD Payment Innovations -->


    <!-- IT’S SUCH BS! THEY’RE LYING TO YOU ABOUT XRP -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="lying">
        <p class="mb-4 text-base text-blue-900">
          IT’S SUCH BS! THEY’RE LYING TO YOU ABOUT XRP
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/ccvZz89NSHw"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ccvZz89NSHw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >IT’S SUCH BS! THEY’RE LYING TO YOU ABOUT XRP</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=VsAeAhrITG8"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >XRP: A Realistic Prediction For this Market Cycle</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=OE_bVhX7VUE&t=3s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >XRP: A Realistic Price Prediction for this Market Cycle</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@CryptoCrewUniversity/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >Crypto Crew University</span
            >
          </a>
        </h5>

        <Finance />
      </div>
    </div>
    <!-- IT’S SUCH BS! THEY’RE LYING TO YOU ABOUT XRP -->

    <!-- XRP: A Realistic Prediction For this Market Cycle -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="realistic">
        <p class="mb-4 text-base text-blue-900">
          XRP: A Realistic Prediction For this Market Cycle
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/VsAeAhrITG8"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=VsAeAhrITG8"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >XRP: A Realistic Prediction For this Market Cycle</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=ccvZz89NSHw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >IT’S SUCH BS! THEY’RE LYING TO YOU ABOUT XRP</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=OE_bVhX7VUE&t=3s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >XRP: A Realistic Price Prediction for this Market Cycle</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@CryptoCrewUniversity/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >Crypto Crew University</span
            >
          </a>
        </h5>

        <Finance />
      </div>
    </div>
    <!-- XRP: A Realistic Prediction For this Market Cycle -->

    <!-- 💥ISO 20022 ARE YOU READY!💥XRP XDC XLM & MORE💥YOUR FINANCIAL FUTURE STARTS NOW -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="iso20022">
        <p class="mb-4 text-base text-blue-900">
          💥ISO 20022 ARE YOU READY!💥XRP XDC XLM & MORE💥YOUR FINANCIAL FUTURE
          STARTS NOW
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/j-HuMBNQydw"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=j-HuMBNQydw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >💥ISO 20022 ARE YOU READY!💥XRP XDC XLM & MORE💥YOUR FINANCIAL
              FUTURE STARTS NOW</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=P6zJlVd6hwc"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >💥 XRP 99% VS 1% WHICH ONE ARE YOU? 💥 RIPPLE LIQUIDITY HUB & BOA
              💥BRICS NEWS IS IT BULLISH FOR XRP</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@CommonSenseCryptoYT"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >Common Sense Crypto</span
            >
          </a>
        </h5>

        <Finance />
      </div>
    </div>
    <!-- 💥ISO 20022 ARE YOU READY!💥XRP XDC XLM & MORE💥YOUR FINANCIAL FUTURE STARTS NOW -->

    <!-- 💥 XRP 99% VS 1% WHICH ONE ARE YOU? 💥 RIPPLE LIQUIDITY HUB & BOA 💥BRICS NEWS IS IT BULLISH FOR XRP -->

    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <h2 id="bullish">
        <p class="mb-4 text-base text-blue-900">
          💥 XRP 99% VS 1% WHICH ONE ARE YOU? 💥 RIPPLE LIQUIDITY HUB & BOA
          💥BRICS NEWS IS IT BULLISH FOR XRP
        </p>
      </h2>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/P6zJlVd6hwc"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=j-HuMBNQydw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >💥ISO 20022 ARE YOU READY!💥XRP XDC XLM & MORE💥YOUR FINANCIAL
              FUTURE STARTS NOW</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=P6zJlVd6hwc"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >💥 XRP 99% VS 1% WHICH ONE ARE YOU? 💥 RIPPLE LIQUIDITY HUB & BOA
              💥BRICS NEWS IS IT BULLISH FOR XRP</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@CommonSenseCryptoYT"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >Common Sense Crypto</span
            >
          </a>
        </h5>
        <Finance />
      </div>
    </div>

    <!-- 💥 XRP 99% VS 1% WHICH ONE ARE YOU? 💥 RIPPLE LIQUIDITY HUB & BOA 💥BRICS NEWS IS IT BULLISH FOR XRP -->

    <!-- ⚠️RED ALERT: BANKS CAN USE XRP RIGHT NOW | BLACKSWAN HAS JUST BEGUN... XRP HAS REPLACED ETHER⚠️ -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        ⚠️RED ALERT: BANKS CAN USE XRP RIGHT NOW | BLACKSWAN HAS JUST BEGUN...
        XRP HAS REPLACED ETHER⚠️
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/nnjkrjEBrZo"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nnjkrjEBrZo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >⚠️RED ALERT: BANKS CAN USE XRP RIGHT NOW | BLACKSWAN HAS JUST
              BEGUN... XRP HAS REPLACED ETHER⚠️</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@TheBearableBull"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >The Bearable Bull</span
            >
          </a>
        </h5>
        <Finance />
      </div>
    </div>
    <!-- ⚠️RED ALERT: BANKS CAN USE XRP RIGHT NOW | BLACKSWAN HAS JUST BEGUN... XRP HAS REPLACED ETHER⚠️ -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        ⚠️RIPPLE CONFIRMS 15% OF ALL CENTRAL BANKS ARE READY TO USE XRP | XRP
        GETTING A TRILLION $ UPGRADE⚠️
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/mHoPdga834E"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=mHoPdga834E"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >⚠️RIPPLE CONFIRMS 15% OF ALL CENTRAL BANKS ARE READY TO USE XRP |
              XRP GETTING A TRILLION $ UPGRADE⚠️</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@TheBearableBull"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 text-base hover:text-lg hover:text-green-900"
              >The Bearable Bull</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.cryptopolitan.com/iso-20022-compliant-crypto-list/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >ISO 20022 Crypto: List of Compliant Coins in 2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./binance"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Binance</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./brics"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >BRICS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./willie"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >DR. JIM WILLIE LIVE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./xrp"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >XRP</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tradingview"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Tradingview</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        📈RIPPLE/XRP IS NOT A SECURITY.. WE DESTROYED THE SEC📈
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/uDf0IYpojII"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=uDf0IYpojII"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >📈RIPPLE/XRP IS NOT A SECURITY.. WE DESTROYED THE SEC📈</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.cryptopolitan.com/iso-20022-compliant-crypto-list/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >ISO 20022 Crypto: List of Compliant Coins in 2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./binance"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Binance</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./brics"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >BRICS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./willie"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >DR. JIM WILLIE LIVE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./xrp"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >XRP</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tradingview"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Tradingview</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Ripple will have spent $200 million fighting SEC lawsuit, CEO says
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/Ol0zZduReiM"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=Ol0zZduReiM"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Ripple will have spent $200 million fighting SEC lawsuit, CEO
              says</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.cryptopolitan.com/iso-20022-compliant-crypto-list/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >ISO 20022 Crypto: List of Compliant Coins in 2023</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./binance"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Binance</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./brics"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >BRICS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./willie"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >DR. JIM WILLIE LIVE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./xrp"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >XRP</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        Ripple CEO Brad Garlinghouse: This crypto ruling puts the SEC in check
        'in a good way'
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/f93QkcCfMR8"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=f93QkcCfMR8"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Ripple CEO Brad Garlinghouse: This crypto ruling puts the SEC in
              check 'in a good way'</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.investopedia.com/what-does-the-xrp-not-a-security-ruling-mean-for-other-cryptocurrencies-7561320"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >What Does The 'XRP Not A Security' Ruling Mean For Other
              Cryptocurrencies?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./binance"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Binance</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./brics"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >BRICS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./willie"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >DR. JIM WILLIE LIVE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./xrp"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >XRP</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tradingview"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Tradingview</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        RIPPLE XRP - ELON'S RECENT ENIGMATIC MOVES WILL SPELL VOLATILITY FOR
        BTC, ETH, XRP & DOGE! (DO THIS)
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/FeXtapaRUws"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=FeXtapaRUws"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >RIPPLE XRP - ELON'S RECENT ENIGMATIC MOVES WILL SPELL VOLATILITY
              FOR BTC, ETH, XRP & DOGE! (DO THIS)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./binance"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Binance</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./brics"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >BRICS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./willie"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >DR. JIM WILLIE LIVE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./xrp"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >XRP</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
    <div
      class="block px-4 bg-white m-4 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] rounded-xl border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 rounded-b lg:rounded-b-none lg:rounded-r p-4 justify-between leading-normal"
    >
      <p class="mb-4 text-base text-blue-900">
        ⚠️*RIPPLE/XRP SYSTEM GO LIVE BY END OF SEPTEMBER? BRICS IS READY FOR XRP
        | XRP ANNOUNCEMENT IS BS*⚠️
      </p>
      <div
        class="content-center bg-white overflow-hidden bg-cover bg-no-repeat"
        data-te-ripple-init
        data-te-ripple-color="light"
      >
        <div
          class="embed-responsive embed-responsive-16by9 relative w-full overflow-hidden"
          style="padding-top: 56.25%"
        >
          <iframe
            class="embed-responsive-item absolute bottom-0 left-0 right-0 top-0 h-full w-full rounded-xl"
            src="https://www.youtube.com/embed/fgWxRvq2Z-M"
            allowfullscreen=""
            data-gtm-yt-inspected-2340190_699="true"
            id="240632615"></iframe>
        </div>
      </div>
      <div class="p-6 top-0 text-center">
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=fgWxRvq2Z-M"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >⚠️*RIPPLE/XRP SYSTEM GO LIVE BY END OF SEPTEMBER? BRICS IS READY
              FOR XRP | XRP ANNOUNCEMENT IS BS*⚠️</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./binance"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Binance</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./brics"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >BRICS</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./willie"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >DR. JIM WILLIE LIVE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./xrp"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >XRP</span
            >
          </a>
        </h5>
      </div>
    </div>
    <!-- AN-OLDER-CODE -->

    <!-- AN-OLDER-CODE -->
  </main>
</Layout>

<Footer client:only="react" />
