---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=dGtrwxyxflI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >ABC Bullion - Studio 10 gets up close and personal with ABC Bullion</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=p04Dx7J31vk"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >SILVER'S 44 YEAR CUP & HANDLE "NOW, I BELIEVE MID TO HIGH TRIPLE DIGITS
      ARE BAKED IN THE CAKE"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/iY0PXpslREAJ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-gray-300 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >SILVER'S 44 YEAR CUP & HANDLE "NOW, I BELIEVE MID TO HIGH TRIPLE DIGITS
      ARE BAKED IN THE CAKE"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://abcbullion.com.au/store/silver"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-500 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Buy Silver Products</span
    >
  </a>
</h5>
