---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arthritis#coconut"
    ><span class="text-cyan-600 hover:text-2xl hover:text-green-900"
      >How can coconut oil help ease arthritis pain?</span
    >
  </a>
</h5>

<a href="./arthritis#fish"
  ><span class="text-amber-600 hover:text-2xl hover:text-green-900"
    >Fish Oil for Arthritis and Inflammation</span
  >
</a>
<br />
<a href="./arthritis#knee"
  ><span class="text-blue-600 hover:text-2xl hover:text-green-900"
    >Fastest Way to Get Rid of Arthritis Knee Pain – Omega Fatty Acids Foods for
    Arthritis – Dr.Berg</span
  >
</a>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arthritis#boron"
    ><span class="text-amber-600 hover:text-2xl hover:text-green-900"
      >#1 Missing Trace Mineral in ARTHRITIS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#borax"
    ><span class="text-amber-600 hover:text-2xl hover:text-green-900"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>

<a href="./arthritis#omega3"
  ><span class="text-sky-400 hover:text-2xl hover:text-green-900"
    >Is omega-3 beneficial because it resolves inflammation? | Dr. Bill Harris</span
  >
</a>
<br />
<a href="/dmso#dmso"
  ><span class="text-yellow-500 hover:text-2xl hover:text-green-900"
    >How to Use DMSO as Rheumatoid Arthritis Relief</span
  >
</a>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacinamide" rel="noopener" target="_blank"
    ><span class="text-blue-600 hover:text-2xl hover:text-green-900"
      >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)</span
    >
  </a>
</h5>
<a href="./boric#aching"
  ><span class="text-blue-600 hover:text-2xl hover:text-green-900"
    >Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg</span
  >
</a>
<br />
