---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Adrieiuous /> -->


        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=XMdYzCqJx5s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 text-base hover:text-lg hover:text-green-900"
              >real human aliens</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@startraveler2000/videos"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 font-bold   hover:text-sky-900"
              >startraveler2000</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.dailymotion.com/video/x33e9nq"
            rel="noopener"
            target="_blank"
            ><span
              class="text-black text-base hover:text-lg hover:text-green-900"
              >real human aliens</span
            >
          </a>
        </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=YiC7Vb7GSDA&list=PLl9nSh_cqSwrtL79HASnF_gSn74Ob1gS2"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >GoldFish Report No. 65 The Pleiadian Interview with COBRA and A'drieiuous</span
    >
  </a>
</h5>

            <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./pleiadians#human"
            ><span
              class="text-sky-500 font-bold   hover:text-sky-900"
              >real human aliens(A'drieiuous)</span
            >
          </a>
        </h5> 