---
import MOON from "./MOON.astro";
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#weirdest"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=xawG02DenNc"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Pfizer CEO Albert Bourla On Covid Vaccine: Extended Interview | NBC
      Nightly News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#nightmare"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >THE NIGHTMARE BEGINS...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview (37:30)(Nano
      42:20)(Black Goo 1:02:00)(1:14:30)(Timelines 1:31:00)(1:40:00)(1:47:00)</span
    >
  </a>
</h5>

<MOON />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#nonhuman"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >'David Icke was right about "Covid", the jab, the Cloud, and manipulation
      by a non-human force'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#alien"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Scientists Discover 'Alien DNA' Hidden in Blood of Vaccinated People</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span
      class="text-pink-600 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#nanobots"
    ><span
      class="text-blue-600 bg-yellow-200 font-bold hover:text-2xl hover:text-blue-900"
      >Maria Zeee: Nanobots Inside People Programming Humanity</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#director"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >MUST WATCH!!! FUNERAL DIRECTOR JOHN O'LOONEY BLOWS THE WHISTLE ON COVID</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#barcoding"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >Barcoding You Via PCR Tests, Vaxxines, Terraforming & Transforming All
      Life on Earth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v55qjsj-vaccinated-corpses-are-emitting-radio-frequencies-that-trace-back-to-bill-g.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white font-bold hover:text-2xl hover:text-purple-700"
      >Vaccinated Corpses Are Emitting Radio Frequencies That Trace Back to Bill
      Gates</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#highest"
    ><span
      class="bg-white text-green-500 font-bold hover:text-2xl hover:text-gray-700"
      >TPV</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CMDRVALTHOR/status/1809709460828340657"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-green-100 font-bold hover:text-2xl hover:text-emerald-900"
      >Covid 19 = Radio wave sickness</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#mark"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >THE TRUTH ABOUT THE MARK OF THE BEAST Revelation 13:16</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#sorcery"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Revelation 18 23 – Discover Babylon’s Deception by Pharmakeia/Sorcery!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#bluetooth"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-green-900"
      >Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie
      That Is Suffering From Something</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#phone"
    ><span
      class="text-red-600 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >WATCH VACCINE NANO BOTS KILL AFTER BEING ACTIVATED BY A CELL PHONE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/ZhvzW94R8hfn/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >ALIEN VACCINE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@Coronavirus:4e/la-quinta-columba:6"
    rel="noopener"
    target="_blank"
    ><span
      class="text-yellow-400 bg-pink-600 text-xl font-bold hover:text-red-700 hover:bg-white"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/LYZe9ZttIofr/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-yellow-200 bg-red-600 text-xl font-bold hover:text-red-700 hover:bg-white"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1vd9hy-shocking-here-is-what-really-is-in-the-vaccines.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-red-600 text-xl font-bold hover:text-green-700 hover:bg-white"
      >SHOCKING - Here is What Really is in the Vaccines!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/97e40bf6-58d8-4914-beb1-e47be247a928"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-700 bg-red-300 text-xl font-bold hover:text-sky-400 hover:bg-red-700"
      >Maria Zeee: Nanobots Inside People Programming Humanity</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/0nlhWgoS3lXu/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >YOU WERE WARNED!!! NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/iluminatibot/status/1782104159161844117"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-justify text-xl font-bold hover:text-2xl hover:text-green-900"
      >A Canadian woman, once mocked by her father as a conspiracy theorist, now
      finds herself taking care of him after he became a victim of Pfizer</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/riss1130/status/1782104974857499028"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-justify text-xl font-bold hover:text-2xl hover:text-green-900"
      >Mr. Guo Wengui broke the news on August 23, 2021: When the vaccine hits
      your body, after the activation of the 40 trillion RNA spike protein, the
      cancer gene in the body will be infinitely amplified, and it is likely to
      quickly get cancer, muscle infarction, myocarditis, cerebral thrombosis,
      blindness, loss of voice, loss of sexual function, physical exhaustion and
      other vaccine side effects.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#depopulation"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-green-900"
      >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
      Agenda in 1994</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4jb6qx-scientists-discover-alien-dna-hidden-in-blood-of-vaccinated-people.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Scientists Discover 'Alien DNA' Hidden in Blood of Vaccinated People</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/scientists-discover-alien-dna-hidden-in-blood-of-vaccinated-people/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Scientists Discover ‘Alien DNA’ Hidden in Blood of Vaccinated People</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4fq6a5-the-spike-protein-is-a-lie.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >THE SPIKE PROTEIN IS A LIE - Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/DrJaneRuby" rel="noopener" target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/d456b28b-615a-4c38-8398-7391bde62feb"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE SPIKE PROTEIN IS A LIE - Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/38Rlk0TThItV/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE SUPPRESSED CANCER CURES THAT HAVE BEEN DENIED BY THE MEDICAL CARTELS
      THROUGHOUT HISTORY REVEALED</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=v3N-uFfvU5s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >The biggest crime in the history of medicine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#gunn"
    ><span
      class="text-blue-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young for releasing the TRUTH about vaccine fatalities (Outstanding Video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/no_one_quits/status/1737975353845362729?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-justify text-xl font-bold hover:text-2xl hover:text-purple-700"
      >In New Zealand, one doctor alone has killed 400 people with The ClotShot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=v3N-uFfvU5s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Paper retracted. Was I duped?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#lee"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19, 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#cause"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Is Cancer REALLY a Cause of Death?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
