---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#weirdest"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=xawG02DenNc"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Pfizer CEO Albert Bourla On Covid Vaccine: Extended Interview | NBC
      Nightly News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#nightmare"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >THE NIGHTMARE BEGINS...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview (37:30)(Nano
      42:20)(Black Goo 1:02:00)(1:14:30)(Timelines 1:31:00)(1:40:00)(1:47:00)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#nonhuman"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >'David Icke was right about "Covid", the jab, the Cloud, and manipulation
      by a non-human force'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#alien"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Scientists Discover 'Alien DNA' Hidden in Blood of Vaccinated People</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/ZhvzW94R8hfn/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >ALIEN VACCINE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@Coronavirus:4e/la-quinta-columba:6"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
