---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://amg-news.com/" rel="noopener" target="_blank"
    ><span
      class="bg-white text-green-500 font-bold hover:text-2xl hover:text-gray-700"
      >American Media Group</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/list-of-indictments-arrests-and-executions-dismantling-the-deep-state-operatives-and-doubles-we-have-it-all-q/"
    rel="noopener"
    target="_blank"
    ><span
      class="bg-white text-green-700 font-bold text-justify hover:text-2xl hover:text-gray-700"
      >List of Indictments, Arrests and Executions – Dismantling the Deep State
      Operatives and Doubles – “We Have It All” ~Q!(UPDATE 30.12.2023)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/AMGNEWS2022" rel="noopener" target="_blank"
    ><span
      class="bg-white text-sky-500 font-bold hover:text-2xl hover:text-gray-700"
      >AMGNEWS2022</span
    >
  </a>
</h5>
