---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <ANUNNAKI /> -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#anunnaki"
    ><span
      class="text-sky-500 bg-emerald-200 font-bold hover:text-2xl hover:text-sky-900"
      >DO YOU THINK THE ANUNNAKI EXISTED? WERE THE WATCHERS MENTIONED IN THE
      BIBLE? DID THEY HYBRIDIZE HUMANS?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-sky-500 bg-pink-50 font-bold hover:text-2xl hover:text-sky-900"
      >REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related
      links in description)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Thekeksociety/status/1803218134930800684"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >DO YOU T H I N K THE ANUNNAKI E X I S T E D? WERE THE WATCHERS MENTIONED
      IN THE BIBLE? DID THEY HYBRIDIZE HUMANS?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://eraoflight.com/2021/09/04/the-anunnaki-the-creation-of-the-human-race/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 font-bold hover:text-2xl hover:text-sky-900"
      >The Anunnaki: The Creation of the Human Race</span
    >
  </a>
</h5>

      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#ozempic"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >PATRIOTS WW, IN A DEBRIEFING MEETING AND NOT PAYING ATTENTION DUE TO THE SERIOUSNESS OF THIS TOPIC.</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Her_Magicsty/status/1803238787998261441"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >We Did Not Come From Apes...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/sergioa94679493/status/1807483348765282696"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Coincidence? I don't think so!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Vision4theBlind/status/1702030614940340503"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >The Alfa Romeo logo has a snake eating a human on it & a red cross of the
      Knights Templar</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.roadandtrack.com/car-culture/news/a29498/alfa-romeos-logo-depicts-a-man-being-devoured-by-a-snake/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Alfa Romeo's Logo Depicts a Man Being Devoured By a Snake Not many car
      companies feature a man-eating serpent.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/quantum_show/status/1803968378098585689"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Yes, real life snake.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/DianaT192/status/1804319339513794916"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >PINDAR: LEADER OF THE ILLUMINATI
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/vegastarr/status/1745567223677153786"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >It’s old energy. They knew everything about humans, but ordinary humans
      knew very little about them.
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/grimwood_zoe/status/1578806680036708353"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >REPTILIAN statue dedicated to an ancient reptilian god named Morrop, in
      Peru. Morrop was known as the deity of the AFTERLIFE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.reptileknowledge.com/reptile-pedia/who-is-the-demon-moloch-in-the-bible"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Who is the demon Moloch in the Bible?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Thekeksociety/status/1665890017477111811"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >WHY IS THERE A STATUE OF MOLOCH AT THE COLOSSEUM IN ROME?
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Johnny86379390/status/1804661651737866656"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Muad'Dib@Johnny86379390</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/JOiprd99043/status/1805151862737244416"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >they don't call it "draconian" LAW for nothing Ms Goldfishy</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/BabyD1111229/status/1762185485294682112"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Rothschild bloodline direct descendant of Nephilim. Known as the Samjase
      Pleiadian Anunnak nicknamed Uncle Sam!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/59SouthLee/status/1670783523387502592"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Pindar of the Dragon aka Jacob Rothschild. He's a nephilim rather than
      possessed, I've never seen a possessed eye go this hard.</span
    >
  </a>
</h5>
Jacob Rothschild looks to be of the Homo Capensis race. A none human race with elongated
skulls!
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/risetoflyy/status/1110225053277392896"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Jacob Rothschild looks to be of the Homo Capensis race. A none human race
      with elongated skulls!</span
    >
  </a>
</h5>
