---
import Amg from "./Amg.astro";
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#listof"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JOE BIDEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#tribunals"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Military Tribunals</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >The Movie</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >@GhostEzraQ</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1790409943171952780"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JOE BIDEN HAS NOT BEEN PRESIDENT OF THE USA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/neEnlightenment/status/1790417486124384655"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Enlightenment @neEnlightenment·15 May</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/slimslime1357/status/1794506664692859297"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JOE BIDEN PASSED AWAY</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#tribunal"
    ><span class="text-sky-500 font-bold hover:text-lg hover:text-green-900"
      >WHERE THEY GO ONE, THEY GO ALL.. TO TRIBUNAL</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#tribunals"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >First of all, Trump has made the MSM say military tribunals out loud...
      Brilliant.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#gitmo"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >GITMO: Flight to GITMO - Where all Swiss 🇨🇭 Government NAZIS & Traitors,
      Zionist Jews, rogue Bankers, Pedo Criminals, Satanists, Top Freemasons et
      al get Executed-Spring ‘24 #STORM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#vaxx"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >NOTICE:🇨🇭 Covid BioWeapon Vaxx Doctors & Nurses in Swiss Territory -
      50USC1550 - EO13818 - Executions</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#pascal"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON
      ☤ THE CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#gitmo"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >GITMO: Flight to GITMO - Where all Swiss 🇨🇭 Government NAZIS & Traitors,
      Zionist Jews, rogue Bankers, Pedo Criminals, Satanists, Top Freemasons et
      al get Executed-Spring ‘24 #STORM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1m44i0-where-they-go-one-they-go-all..-to-tribunal.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >WHERE THEY GO ONE, THEY GO ALL.. TO TRIBUNAL</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/the-road-to-guantanamo-bay-for-global-elite-welcome-to-guantanamo-bay-home-sweet-home/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >The Road to Guantanamo Bay for Global Elite</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2tblz4-guantanamo-bay-detention-camp-arrests-part-1.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Guantanamo Bay Detention Camp Arrests (Part 1)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2tbmko-guantanamo-bay-detention-camp-arrests-part-2.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Guantanamo Bay Detention Camp Arrests (Part 2)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4qz03n-gitmo-flight-to-gitmo-where-all-swiss-government-nazis-and-top-freemasons-e.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >GITMO: Flight to GITMO - Where all Swiss 🇨🇭 Government NAZIS & Traitors,
      Zionist Jews, rogue Bankers, Pedo Criminals, Satanists, Top Freemasons et
      al get Executed-Spring ‘24 #STORM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4pxn6i-notice-covid-bioweapon-vaxx-doctors-and-nurses-in-swiss-territory-50usc1550.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >NOTICE:🇨🇭 Covid BioWeapon Vaxx Doctors & Nurses in Swiss Territory -
      50USC1550 - EO13818 - Executions</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bestnewshere.com/collection-of-mind-blowing-the-list-of-all-arrests-and-execution-from-2020-2022-dismantling-the-deep-state-operatives-and-doubles-whats-really-going-on-behind-the-scenes-is-slightly-diff/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-400 text-base hover:text-lg hover:text-green-900"
      >The List Of All Arrests and Execution From 2020-2022 | Dismantling the
      Deep State Operatives and Doubles
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.buymeacoffee.com/b3jTqNgVwt/gitmo-arrests"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
      >GITMO ARRESTS-1</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://onedrive.live.com/view.aspx?resid=628C95964F05867A%211414&authkey=!ALBU0EIYJ6CmJjk"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
      >GITMO ARRESTS-2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.buymeacoffee.com/b3jtqngvwt/posts"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-red-700"
      >Bluewater buymeacoffee</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/NotOpCue/status/1720790596854419555?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >UPDATED NOVEMBER 4, 2023: ARRESTED, EXECUTED And/Or REPLACED LIST</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://link-tube.com/OperationQ" rel="noopener" target="_blank"
    ><span
      class="text-green-700 text-base bg-black hover:text-lg hover:text-green-900"
      >link-tube.com/OperationQ</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://giveit.link/OperationQ" rel="noopener" target="_blank"
    ><span
      class="text-green-700 text-base bg-black hover:text-lg hover:text-green-900"
      >giveit.link/OperationQ</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.jewworldorder.org/nikki-haley-is-a-filthy-whore-blackmailed-and-owned-by-jews/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >Nikki Haley is a filthy whore blackmailed and owned by jews</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/conspiracydup/status/1700353254914445387?s=20"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-sky-400 hover:text-2xl hover:text-red-700"
      >UPDATED: LIST OF INDICTMENTS, ARRESTS AND EXECUTIONS!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://conspiracydailyupdate.com/2020/06/14/indictments-arrests-and-executions-dismantling-the-deepstate-operatives/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-green-800 hover:text-2xl hover:text-red-700"
      >UPDATED: LIST OF INDICTMENTS, ARRESTS AND EXECUTIONS!! DISMANTLING THE
      DEEPSTATE OPERATIVES AND DOUBLES!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#executing"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >CALL ON ALL PATRIOTS: Unite NOW, we are NOW executing all NAZI Jewish
      Cabal #STORM - WWG1WGA - SemperSupra! Yours Sincerely, JFK 🇺🇸💫</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1768791777845072375"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >NIKKI HALEY HAS BEEN EXECUTED</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/GhostEzra/944" rel="noopener" target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >The 4 Highest Ranking Members of the Royal Family have cancelled their
      Public Engagements until further notice.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1771298548161651052"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >There is a green light in the Vatican which means that Pope Francis has
      already been executed</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/gitmo-update-guantanamo-bay-detention-camp-arrests-indictments-and-executions-for-thousands-of-new-ex-elite-prisoners-official-documents/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-green-500 hover:text-2xl hover:text-gray-700"
      >GITMO Update | Guantanamo Bay Detention Camp Arrests, Indictments and
      Executions for Thousands of New Ex-Elite Prisoners – Official Documents</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/collection-of-mind-blowing-the-list-of-all-arrests-from-2020-2023-dismantling-the-deep-state-operatives-and-doubles-arrest-wars-white-hats-military-enjoy-the-show/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-green-500 hover:text-2xl hover:text-gray-700"
      >Collection Of Mind Blowing: The List Of All Arrests From 2020-2023 |
      Dismantling the Deep State Operatives and Doubles | Arrest Wars & White
      Hats Military – Enjoy The Show!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/united-states-of-gitmo-indictments-arrests-and-executions-trump-just-posted-this-video-on-truth-social-gitmo-is-about-to-get-very-busy/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-green-500 hover:text-2xl hover:text-gray-700"
      >United States of GITMO: Indictments, Arrests and Executions – Trump Just
      Posted this Video on Truth Social: GITMO is About to get VERY Busy!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/IKhd5rCYYBn8/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-red-600 hover:text-2xl hover:text-gray-700"
      >DEEP STATE ELITES LAST WORDS AT THEIR EXECUTIONS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/NrBZRFfnenmL/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-red-600 hover:text-2xl hover:text-gray-700"
      >JAG ARRESTS MAINE SEC OF STATE SHENNA BELLOWS FOR TREASON</span
    >
  </a>
</h5>
<Amg />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#drinker"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Queen Executed - Blood Drinker - pulled after 4,000 views to show BS
      videos</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#covid"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >The Queen tests positive for Covid</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1822563685883097558"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >POTUS: "I caught the swamp. I caught em all.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1868082458404528508"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >MAJOR ALERT: THE JAIL OUTSIDE THE WHITE HOUSE IS NOW COMPLETE !!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-gray-700"
      >TOP</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
