---
import Clot from "./Clot.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#database"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First
      Interview, Drops Huge Truth Bombs!(database)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#gunn"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young for releasing the TRUTH about vaccine fatalities</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#young"
    ><span
      class="text-sky-700 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >THE YOUNG ONES: UNDER 40's NEW ZEALAND JAB DATA - BARRY YOUNG & LIZ GUNN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#graves"
    ><span
      class="text-gray-800 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >90 fresh new graves in a small town of 13,000 in New Zealand</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#nanotech"
    ><span
      class="text-sky-700 bg-red-200 text-base hover:text-lg hover:text-blue-700"
      >Bill Gates Admits the Shots Contain Nanotech</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pfizer#insider"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-green-900"
      >Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pfizer#shedding"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-green-900"
      >The Vaxxed Harm Others Through ‘Shedding’. Pfizer Documents Prove It.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VigilantFox/status/1734356375155638525"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >In New Zealand, one doctor alone has killed 400 people with The ClotShot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/COUNTERSPIN111/status/1781652830983766105"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >COUNTERSPIN MEDIA CONTINUES THE WHISTLEBLOWER DATA UPLOADS!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/JimFergusonUK/status/1738167067864395863?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >Massive Excess Deaths: New Zealand</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/85891680-112f-4190-9e84-c4fc1a605526"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-blue-100 font-bold hover:text-2xl hover:text-blue-900"
      >M.O.A.R - The Mother Of All Revelations: Full Version, Must Watch and
      share UPDATE ARRESTED!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3z65m1-m.o.a.r-the-mother-of-all-revelations.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-blue-100 font-bold hover:text-2xl hover:text-green-900"
      >M.O.A.R - The Mother Of All Revelations</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VigilantFox/status/1734356375155638525"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >Database administrator Barry Young found that one individual who
      vaccinated a large number of people had 400 deaths tied to her name.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VigilantFox/status/1733984969834279206"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >Media Blackout: Ten News Stories They Chose Not to Tell You This Week -
      Episode 1</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v41klyj-media-blackout-ten-news-stories-they-chose-not-to-tell-you-this-week-episod.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-700"
      >Media Blackout: Ten News Stories They Chose Not to Tell You This Week -
      Episode 1</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3zg9nu-nz-whistleblower-arrested-for-exposing-the-truth-heres-what-they-didnt-want.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-700"
      >NZ Whistleblower Arrested for Exposing the Truth: Here’s What They Didn’t
      Want You to See</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vigilantnews.com/post/nz-whistleblower-arrested-for-exposing-the-truth-heres-what-they-didnt-want-you-to-see/"
    rel="noopener"
    target="_blank"
    ><span class="text-gray-800 text-base hover:text-lg hover:text-green-700"
      >NZ Whistleblower Arrested for Exposing the Truth: Here’s What They Didn’t
      Want You to See</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span
      class="text-pink-600 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#gunn"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-blue-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young for releasing the TRUTH about vaccine fatalities (Outstanding Video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#young"
    ><span
      class="text-sky-700 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >THE YOUNG ONES: UNDER 40's NEW ZEALAND JAB DATA - BARRY YOUNG & LIZ GUNN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4ufo0n-now-one-billion-dead-from-covid-jab-many-more-injured-pascal-najadi-talks-t.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >NOW ONE BILLION DEAD FROM COVID JAB, MANY MORE INJURED - PASCAL NAJADI
      TALKS TO GEN. RICCARDO BOSI(10:00)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">....</p>
<Clot />
