---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#goals"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bears.theaihl.com/leagues/front_pagePro.cfm?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >SYDNEY BEARS ice hockey schedule</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bearsshop.com.au/pages/2024-game-day-tickets"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base font-black hover:text-lg hover:text-green-900"
      >SYDNEY BEARS 2024 GAME DAY TICKETS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/sydneybears" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Sydney Bears @sydneybears</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alexovechkin#goals"
    ><span
      class="text-sky-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Former NHL Goalies Break Down Alex Ovechkin's Most Iconic Goals... Scored
      On Them</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./alexovechkin#quebec"
    ><span
      class="text-sky-700 bg-slate-100 text-base hover:text-lg hover:text-green-900"
      >Red Bull Crashed Ice 2008 Quebec</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alexovechkin#dean"
    ><span
      class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Dean Moriarity's Insane POV Run from Québec City 😮 |Red Bull Crashed Ice
      2015</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alexovechkin#first"
    ><span
      class="text-sky-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Hockey Players try Red Bull Crashed Ice Track for the first time WITHOUT
      Practice!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=1h1Ufj7C54w"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Former NHL Goalies Break Down Alex Ovechkin's Most Iconic Goals... Scored
      On Them</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=V7sxhQfW7hY"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Alex Ovechkin's best goal might be the greatest in NHL history | Best
      Goal Ever ESPN @6:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=vsphoOMEOwM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Alex Ovechkin's Lifestyle IS NOT What You Think!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=CU3G4VZYfEY"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Sydney Ice Dogs vs Sydney Bears | AIHL 19/08/2022</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bCnaek8hPDI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Sydney Ice Dogs vs Melbourne Mustangs | AIHL 14/08/2022</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rutube.ru/video/815622c307ac71d51beabf6bec49e2c2/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Red Bull Crashed Ice 2008 Quebec</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=QniymEyE-lE"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Dean Moriarity's Insane POV Run from Québec City 😮 |Red Bull Crashed Ice
      2015</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=4HcKs_wEcGo"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Hockey Players try Red Bull Crashed Ice Track for the first time WITHOUT
      Practice!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Bgw82G3Di7U"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-slate-100 text-base hover:text-lg hover:text-green-900"
      >Pond Hockey guide to visiting Helsinki, Finland for ALL hockey players</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=OFMlMaWEiZ4"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >How To Ice Skate And Glide For Beginners - Skating 101 For The First Time
      Learn To Skate Tutorial</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=qd4CVvItJlo"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >COLD HARD SCIENCE.The Physics of Skating on Ice (With SlowMo) - Smarter
      Every Day 110</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=WWIHLPRUwfI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Most Underrated Winter Destination : Quebec City Winter Travel Guide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://hpdchem.wordpress.com/2018/02/09/back-in-quebec-winter-is-here/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Back in Québec – Winter is here!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=OZzCqe2376s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >4K🇨🇦 Winter Wonderland Snowy Fairy Tale Village in Old Quebec City Petit
      Champlain Snowfall Canada</span
    >
  </a>
</h5>
