---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=S-nrK7wcnvc"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >The 3 Vitamin Deficiencies in Sciatica and Carpal Tunnel Syndrome</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black dark:text-neutral-200">
  Vitamins B1, B6, and B12 are intimately involved in the nervous system and may
  be behind these painful conditions.
</p>
<p
  class="mb-4 text-base text-black dark:text-neutral-200 text-transform: uppercase"
>
  read description
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3l3u91-stevia-kills-lyme-pathogen-new-study.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-purple-900"
      >Stevia Kills Lyme Pathogen- New Study</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-black dark:text-neutral-200">...</p>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=89jwTIbWRuI&t=2s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-purple-900"
      >Your Body’s Urgently Trying to Tell You Something Dr. Eric Berg DC</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bZLo_-jXwPw"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-purple-900"
      >The Eight Causes Of Edema - Dr. Berg</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=EN9e99iRTCQ"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-purple-900"
      >First Sign of a Magnesium Deficiency NEVER to Ignore</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://DrBerg.com/" rel="noopener" target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >Dr. Eric Berg DC</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/DrEricBerg" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-purple-900"
      >Dr. Eric Berg</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@DrEricBergDC" rel="noopener" target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-purple-900"
      >Dr. Eric Berg DC</span
    >
  </a>
</h5>
