---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >You Will Be Stunned By This Information! Finally We Can Begin To
      Understand!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Hidden Beneath The Ice of Antarctica... Lost Civilization of the
      Pre-Adamites</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3vlcw9-the-ufo-deception-ufo-documentary-ufo-movie-2023.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >The UFO Deception - UFO Documentary | UFO Movie 2023</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span
      class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
      >Reptilians in the Bible</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >JESUS IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-red-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >JORDAN MAXWELL-ANCIENT ORIGINS, REPTILIANS, ANTARCTICA AND INNER EARTH
      CIVILIZATIONS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#why"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Why isn’t there More interest in the Reptilians?(Richard Bruce)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#pepsi"
    ><span class="text-pink-700 font-bold hover:text-2xl hover:text-blue-900"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#dew"
    ><span class="text-pink-700 font-bold hover:text-2xl hover:text-blue-900"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#marshall"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
