---
import Tops from "./Tops.astro";
---

<Tops />
      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=fAvAQrDOE6k"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Pleiadians in the Bible? Asherah and the Sky Armies | Documentary
              2023 - Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@The5thKind"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >The 5th Kind</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./clif#chaos"
            ><span
              class="text-green-400 font-bold hover:text-2xl hover:text-green-900"
              >Clif High Interview With Sarah Westall</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251957"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white font-bold hover:text-2xl hover:text-purple-900"
      >This New Evidence Is Undeniable . . . Anunnaki Aliens [aka Elohim] In The Bible (Video)</span
    >
  </a>
</h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@PaulWallis"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=pjiK9912z3U&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >They Are Already Here! Anunnaki Aliens in the Bible. | Jesus vs
              Yahweh - Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=PGdLN90ZyC8&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Was There a WAR in SPACE between the GODS? Ancient Translations -
              Erich von Däniken & Paul Wallis</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.annunaki.org/the-annunaki-in-the-bible/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >THE ANNUNAKI IN THE BIBLE</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.annunaki.org/erich-von-daniken/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >ERICH VON DÄNIKEN</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./pleiadians#neioh"
            ><span
              class="text-blue-400 text-base hover:text-lg hover:text-green-900"
              >Pleiadians</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./pleiadians#neioh"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Pleiadians</span
            >
          </a>
        </h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >You Will Be Stunned By This Information! Finally We Can Begin To
      Understand!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Hidden Beneath The Ice of Antarctica... Lost Civilization of the
      Pre-Adamites</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3vlcw9-the-ufo-deception-ufo-documentary-ufo-movie-2023.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >The UFO Deception - UFO Documentary | UFO Movie 2023</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5aryk4-evidence-of-ancient-extraterrestrial-invasions-found-in-holy-bible-and-hist.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >Evidence of Ancient Extraterrestrial Invasions Found in Holy Bible and Historical Texts</span
    >
  </a>
</h5>
  <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=WFIPCsa9ieo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Was Jesus An Extraterrestrial? - 447</span
            >
          </a>
        </h5>
  <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=2MqLvNR-mDc"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Evidence of Ancient Extraterrestrial Invasions Found in Holy Bible and Historical Texts</span
            >
          </a>
        </h5>
  <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=nk35cGeKAdQ&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 bg-orange-200 font-bold hover:text-2xl hover:text-green-900"
              >The Bible Does Not Talk About God | Summary & Analisis of Mauro Biglino’s Thesis</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span
      class="text-red-700 text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
      >Reptilians in the Bible</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >JESUS IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-red-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >JORDAN MAXWELL-ANCIENT ORIGINS, REPTILIANS, ANTARCTICA AND INNER EARTH
      CIVILIZATIONS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#why"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Why isn’t there More interest in the Reptilians?(Richard Bruce)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#pepsi"
    ><span class="text-pink-700 font-bold hover:text-2xl hover:text-blue-900"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#dew"
    ><span class="text-pink-700 font-bold hover:text-2xl hover:text-blue-900"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#marshall"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=wy_iD6Lf6MY"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white font-bold hover:text-2xl hover:text-purple-900"
      >Two New Findings That Mohammed Didn't Exist | Dr. Jay Smith  Calvary Chapel Chino Hills</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
  <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>