---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />

<FOUR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cooper#rare"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Former Naval Intelligence William 'Bill' Cooper [Had a Q level clearance]
      One World Order **A RARE find</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./cooper#meeting"
   
    ><span class="text-purple-700 font-bold hover:text-green-900"
      >Eisenhower UFO Meeting Alien Grays 1954 – “The Grenada Treaty” – William Cooper</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold hover:text-green-900"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/bill-cooper-israel-was-created-for-the-purpose-of-ushering-in-a-one-world-government/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-800 font-bold hover:text-2xl hover:text-emerald-700"
      >Bill Cooper: Israel Was Created For The Purpose Of Ushering In A One World Government</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/bill-cooper-was-murdered-after-predicting-911-and-naming-osama-bin-laden-as-scapegoat/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-800 font-bold hover:text-2xl hover:text-emerald-700"
      >Bill Cooper Was Murdered After Predicting 9/11 And Naming Osama bin Laden As ‘Scapegoat’</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2dh26y-william-cooper-the-one-world-order-rare-video.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >William Cooper - The One World Order RARE VIDEO</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3q1q8v-william-bill-cooper-had-a-q-clearance-one-world-order-a-rare-find.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Former Naval Intelligence William 'Bill' Cooper [Had a Q level clearance] One World Order **A RARE find</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5fz3fh-william-cooper-in-1992-explained-how-the-secret-service-driver-william-gree.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >William Cooper in 1992 explained how the Secret Service driver William Greer shot Kennedy.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5cinmi-bill-cooper-mystery-babylon-hour-29-lucifer-2000.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >William 'Bill' Cooper: Mystery Babylon (Hour 29) -- LUCIFER 2000</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v54j1uu-bill-cooper-with-jordan-maxwell-mystery-babylon-hour-of-the-time.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Bill Cooper with Jordan Maxwell - Mystery Babylon - Hour of the Time</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5kiaz1-william-cooper-explains-the-film-2001-a-space-odyssey.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >WILLIAM COOPER EXPLAINS THE FILM 2001: A SPACE ODYSSEY</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v50r1gn-israel-created-as-the-instrument-to-bring-about-battle-of-armageddon-and-fu.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Israel – Created as the Instrument to bring about Battle of Armageddon & Fulfillment of Prophecy</span
    >
  </a>
</h5>
