---
import Highest from "./Highest.astro";
import Tops from "./Tops.astro";
---

<Tops />

<section class="text-gray-900 text-left font-bold text-xl mb-2">
  Also have look at <br />

  <a href="./dmso"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >DMSO</span
    >
  </a>
  <br />
  <a href="./news"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >NEWS</span
    >
  </a>
  <br />
  <a href="./no-virus#china"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >NO VIRUS</span
    >
  </a>
  <br />
  <a href="./highline-record#legit"
    ><span class="text-blue-900 hover:text-2xl hover:text-green-900"
      >HIGHLINE RECORD</span
    >
  </a>
  <br />
  <a href="./antidote#ardis"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >THE ANTIDOTE(Dr.Bryan Ardis)</span
    >
  </a>
  <br />
  <a href="./autism"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Autism</span
    >
  </a>
  <br />

  <a href="./bioweapon#development"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Bioweapon</span
    >
  </a>
  <br />
  <a href="./nuremberg#nuremberg"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Nuremberg 2.0</span
    >
  </a>
  <br />

  <a href="./pharmakeia#Pharmakeia"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Pharmakeia Deception(image)</span
    >
  </a>
  <br />
  <a href="./pharmakeia#mark"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-purple-900"
      >Revelation 13:16</span
    >
  </a>
  <br />
  <a href="./pfizer#shedding"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Pfizer</span
    >
  </a>
  <br />
  <a href="./autism"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Autism</span
    >
  </a>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#highest"
      ><span
        class="bg-white text-green-500 font-bold hover:text-2xl hover:text-gray-700"
        >TPV</span
      >
    </a>
  </h5>
  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./no-virus#cancer"
><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
>BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses</span
>
</a>
</h5>
                         <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./no-virus#judy2"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Dr Judy Mikovits joins Alex Jones from Info Wars (June/July 2024)</span
    >
  </a>
        </h5>
                        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#interview"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Plandemic - Part 1 - Dr. Judy Mikovits</span
    >
  </a>
        </h5>

  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#every"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold  hover:text-emerald-700"
      >Covid vaccine package insert</span
    >
  </a>
</h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./buttar"
      ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
        >More Than 3 Years BEFORE MSM - Dr Rashid A Buttar</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./icke#vaccines"
      ><span
        class="text-pink-600 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
        >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./icke#nanobots"
      ><span
        class="text-blue-600 bg-yellow-200 font-bold hover:text-2xl hover:text-blue-900"
        >Maria Zeee: Nanobots Inside People Programming Humanity</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./storm#trapped"
      ><span
        class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
        >D I S C L O S U R E: - Our 🇺🇸 Stratagems trapped them all - Our
        Retribution is US Military Op #STORM - All rogue Swiss 🇨🇭 Gov Elements
        Trapped as well, of course.(Bioweapon)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./nuremberg#dying"
      ><span
        class="text-sky-900 bg-yellow-300 font-bold text-justify hover:text-2xl hover:text-green-900"
        >Exclusive! "People Were Dying Within Hours From The Shots" Warns
        Hospital Whistleblower</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#swiss"
      ><span
        class="text-sky-500 bg-orange-200 font-bold text-justify hover:text-2xl hover:text-green-900"
        >NOTICE:🇨🇭 Covid BioWeapon Vaxx Doctors & Nurses in Swiss Territory -
        50USC1550 - EO13818 - Executions</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./mark#mark"
      ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
        >THE TRUTH ABOUT THE MARK OF THE BEAST Revelation 13:16</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./arrests#vaxx"
      ><span
        class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-gray-900"
        >NOTICE:🇨🇭 Covid BioWeapon Vaxx Doctors & Nurses in Swiss Territory -
        50USC1550 - EO13818 - Executions</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./nuremberg#nanotech"
      ><span
        class="text-sky-700 bg-red-200 text-base hover:text-lg hover:text-blue-700"
        >Bill Gates Admits the Shots Contain Nanotech</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#young"
      ><span
        class="text-sky-700 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
        >THE YOUNG ONES: UNDER 40's NEW ZEALAND JAB DATA - BARRY YOUNG & LIZ
        GUNN</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a
      href="https://x.com/liz_churchill10/status/1805754768133955826"
      rel="noopener"
      target="_blank"
      ><span
        class="text-sky-500 bg-white font-bold text-justify hover:text-2xl hover:text-sky-900"
        >“I’m Dr, Ben Marble and I told everyone not to take a single ‘Covid-19
        Vaccine’ POISON SHOT…and a lot of you didn’t listen. To all of the Fake
        Doctor Poison Pushers…you’re a bunch of fucking Weak, Pathetic
        Murderers…who ALL belong in Prison…”</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a
      href="https://x.com/Anpo_Star/status/1805781375074943227"
      rel="noopener"
      target="_blank"
      ><span
        class="text-sky-500 bg-white font-bold text-justify hover:text-2xl hover:text-sky-900"
        >Dr. Ben Marble warns the world that the entire world blood supply is
        contaminated with the bioweapon spike protein. Do not take blood from
        vaccinated people…!</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="https://www.c19vaxreactions.com/" rel="noopener" target="_blank"
      ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
        >www.c19vaxreactions.com</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a
      href="https://www.realnotrare.com/realstories/categories/fundraisers"
      rel="noopener"
      target="_blank"
      ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
        >www.realnotrare.com</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./glutamine#detox"
      ><span class="text-blue-800 hover:text-2xl hover:text-blue-900"
        >Reader: DETOX SUPPLEMENTS FOR VACCINE INJURED VICTIMS</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#class"
      ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
        >HUGE! VAX CLASS ACTION LAWSUIT! - AUSTRALIANS DEMAND JUSTICE FOR THE
        GOVERNMENT'S TYRANNY!</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./vof#vince"
      ><span
        class="text-green-700 text-base hover:text-lg hover:text-purple-900"
        >VoFL:Darrebn Bergwerf....and Vince the Vof IT Legend and all round good
        bloke(@54:00)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./vof#database"
      ><span class="text-black hover:text-2xl hover:text-green-900"
        >EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First
        Interview, Drops Huge Truth Bombs!(database)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./no-virus#shot"
      ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
        >WHY OH WHY WON'T PEOPLE JUST TAKE THE SHOT?</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./no-virus#every"
      ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
        >And all Dr's, nurses, pharmacists et al had EVERY chance to check this
        before insisting YOU take this drug</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#graves"
      ><span class="text-black hover:text-2xl hover:text-green-900"
        >90 fresh new graves in a small town of 13,000 in New Zealand</span
      >
    </a>
  </h5>

  <a href="./no-virus#effects"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Canadian Nurse Rages About Confidential List Of Side Effects Associated
      With Pfizer Vaccines</span
    >
  </a>
  <br />
  <a href="./nuremberg#code"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >The Nuremberg Code Dr. John Campbell</span
    >
  </a>
  <br />
  <a href="./bioweapon#pfizer1"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Simple questions for Pfizer</span
    >
  </a>
  <br />

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./cancer#cowpox"
      ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
        >I Never Saw Cancer in Anyone Unvaccinated “Says a Doctor in 1936 and by
        Many Doctors Since</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#polio"
      ><span class="text-blue-600 text-base hover:text-lg hover:text-green-900"
        >Polio was Poison - Not Plague. Them Again.</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#highly"
      ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
        >HIGHLY infectious PARASITES found in CV19 Vaccines!! (PROOF)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#screwed"
      ><span class="text-blue-900 text-base hover:text-lg hover:text-green-900"
        >Dr. Malone To Those Who Got The Covid Shot… You Are Screwed!!!</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#bluetooth"
      ><span class="text-blue-900 text-base hover:text-lg hover:text-red-700"
        >Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie
        That Is Suffering From Something</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#implant"
      ><span
        class="text-purple-700 text-base hover:text-lg hover:text-green-900"
        >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with
        Cancer Viruses</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#life"
      ><span
        class="text-purple-700 text-base hover:text-lg hover:text-green-900"
        >VACCINES NEVER SAVED A SINGLE LIFE</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pfizer#insider"
      ><span
        class="text-blue-900 text-base font-bold hover:text-lg hover:text-green-900"
        >Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./autism#thimerosal"
      ><span
        class="text-green-600 text-base hover:text-lg hover:text-purple-900"
        >Documentary: Trace Amounts @15:00 @46:26 (thimerosal)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./cancer#explosion"
      ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
        >Cancer Explosion Hitting the Vaccinated. Alex Jones Interviews Dr Judy
        Mikovits on the Covid-19 Vacc</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./no-virus#covid19"
      ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
        >FORMER PFIZER VP, DR. MIKE YEADON - EVERYTHING WE HAVE BEEN TOLD ABOUT
        COVID-19 WAS A LIE</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#vaccinated"
      ><span
        class="text-blue-700 bg-yellow-300 text-base font-bold hover:text-lg hover:text-purple-900"
        >"Did I Understand You To Say MOST Deaths Were Among The
        Vaccinated?"(Australia)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#complicit"
      ><span
        class="text-blue-700 bg-yellow-300 text-base font-bold hover:text-lg hover:text-purple-900"
        >Dr. McCullough Issues Warning to Clot Shot Pushers: You Are Complicit
        in Crimes</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a
      href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239994"
      rel="noopener"
      target="_blank"
      ><span class="text-blue-800 text-base hover:text-lg hover:text-purple-700"
        >World's first vaccine created by Freemason?</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./bioweapon#dieoff"
      ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
        >Documents Reveal Australian Govts Openly Schemed To POISON Citizens/
        Children! Then A Mass Die-Off</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./vof#database"
      ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
        >EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First
        Interview, Drops Huge Truth Bombs!(database)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./vof#navy"
      ><span class="text-green-600 text-base hover:text-lg hover:text-red-700"
        >US Navy Medical Officer Exposes DoD Reports of Surge in Cardiac
        Problems Post COVID-19 Vaccination</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./autism#vaccines"
      ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
        >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
        VACCINES</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./autism#interview"
      ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
        >Plandemic - Part 1 - Dr. Judy Mikovits</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./autism#autismone"
      ><span class="text-pink-500 text-base hover:text-lg hover:text-green-900"
        >Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism
        720p</span
      >
    </a>
  </h5>
  <h3
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./autism#thimerosal"
      ><span class="text-pink-500 text-base hover:text-lg hover:text-green-900"
        >Documentary: Trace Amounts @15:00 @46:26</span
      >
    </a>
  </h3>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#implant"
      ><span
        class="text-purple-700 text-base hover:text-lg hover:text-green-900"
        >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with
        Cancer Viruses</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#disease-x"
      ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
        >"Dr. 'Judy Mikovits' Goes Nuclear On 'Disease-X' Big Pharma & The
        Legacy Media</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#life"
      ><span
        class="text-purple-700 text-base hover:text-lg hover:text-green-900"
        >VACCINES NEVER SAVED A SINGLE LIFE</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#vaccine"
      ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
        >The Truth About Vaccines Documentary "Vaccinations Aren't What You
        Think They Are"</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./nuremberg#police"
      ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
        >MANDATORY TEST</span
      >
    </a>
  </h5>
  <Highest />
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a
      href="https://rumble.com/v4ufo0n-now-one-billion-dead-from-covid-jab-many-more-injured-pascal-najadi-talks-t.html"
      rel="noopener"
      target="_blank"
      ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
        >NOW ONE BILLION DEAD FROM COVID JAB, MANY MORE INJURED - PASCAL NAJADI
        TALKS TO GEN. RICCARDO BOSI(10:00)</span
      >
    </a>
  </h5>
</section>
