---
---

<section class="text-gray-900 text-left font-bold text-xl mb-2">
  Also have look at <br />
  <a href="./bioweapon"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Bioweapon</span
    >
  </a>
  <br />
  <a href="./nuremberg"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Nuremberg 2.0</span
    >
  </a>

  <br />
  <a href="./no-virus"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >NO VIRUS</span
    >
  </a>
  <br />
  <a href="/lawsuit"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >VAX CLASS ACTION LAWSUIT</span
    >
  </a>
  <br />
  <a href="./nuremberg#code"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >The Nuremberg Code Dr. John Campbell</span
    >
  </a>
  <br />
</section>
