---
import Amg from "./Amg.astro";
import FOUR from "./FOUR.astro";
import SkyeP from "./SkyeP.astro";
import Whitewall from "./Whitewall.astro";
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold   hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-red-700 font-bold   hover:text-red-700"
      >DEEP STATE TRASH</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./links#links"
    ><span class="text-red-700 font-bold   hover:text-red-700"
      >Links</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#five"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >CDS MMS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dmso#dmso"
    ><span class="text-orange-500 font-bold   hover:text-green-900"
      >DMSO</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#diatomaceousnano"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#autismone"
    ><span class="text-pink-500 font-bold   hover:text-green-900"
      >AutismOne</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#treatment"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-green-900"
      >There is a critical need for effective treatment of the core symptoms of
      autism spectrum disorder (ASD).(SURAMIN)(reverse AUTISM)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluetooth#starkey"
    ><span
      class="text-sky-500 bg-orange-200 font-bold text-justify hover:text-sky-700"
      >Starkey Edge AI Detailed Hearing Aid Review(15:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#solutions"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >Solutions for Healing from the mRNA BioWeapon - Suramin, Ozone, Chlorine Dioxide & more w/ Dr. Joe Nieusma</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./no-virus#cancer"
><span class="text-emerald-500 bg-gray-100 font-bold   hover:text-green-900"
>BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses</span
>
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#documentary"
    ><span class="text-blue-500 font-bold   hover:text-green-600"
      >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >The Prophecy of the Popes</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-emerald-500 bg-purple-700 font-bold   hover:text-green-200"
      >DULCE PAPERS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold   hover:text-green-900"
      >Phil Schneider on the End Game</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./event#realalienwar"

    ><span
      class="text-sky-600 bg-black font-bold    hover:text-sky-700 text-transform: uppercase"
      >THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt(World War 3 1:10)</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Chris Turner talks about Richard Bruce</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./monsters#snake"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >It’s old energy. They knew everything about humans, but ordinary humans knew very little about them.</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./salla#motivations"
    ><span class="text-white bg-blue-700 font-bold hover:text-yellow-100 text-transform: uppercase"
      >A Report on the Motivations and Activities of Extraterrestrial Races Dr. Michael Salla</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#china"
    ><span class="text-blue-800 font-bold   hover:text-green-900"
      >NO VIRUS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#shot"
    ><span class="text-blue-800 font-bold   hover:text-green-900"
      >INTENTIONALLY BLANK</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mirror#mirror"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >The Mirror Principle: What the "Elites" Know That You Were Never Taught</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ShadowofEzra/status/1862579389281562655"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold   hover:text-sky-900"
      >In a heartbreaking moment, a professor broke down in tears before
      thousands, revealing that Australia had...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#development"
    ><span class="text-black font-bold   hover:text-green-900"
      >BIOWEAPON</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./suddenly#trailer"
    ><span class="text-sky-500 bg-pink-100 font-bold hover:text-sky-900"
      >DIED SUDDENLY | OFFICIAL TRAILER</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thimerosal#mercury"
    ><span
      class="text-red-700 bg-yellow-100 font-bold hover:text-green-900"
      >Hard evidence that all vaccines are poison. Every single one!(The Real Dr. Judy A. Mikovits)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mark#mark"
    ><span
      class="text-purple-700 font-bold   hover:text-purple-900"
      >Revelation 13:16</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#sorcery"
    ><span
      class="text-purple-700 font-bold   hover:text-purple-900"
      >Revelation 18:23</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#Pharmakeia"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Pharmakeia Deception(image)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#movies"
    ><span class="text-green-500 font-bold   hover:text-purple-900"
      >MOVIES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-pink-600 font-bold   hover:text-green-900"
      >Goes Deep</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#dumb"
    ><span class="text-green-500 font-bold   hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >NEWS</span
    >
  </a>
</h5>
<FOUR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-green-500 font-bold   hover:text-green-900 text-transform: uppercase"
      >SSP(Courtney Brown)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#disclosure"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp#iso20022"
    ><span
      class="text-green-500 font-bold   hover:text-green-900 text-transform: uppercase"
      >ISO20022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#intel"
    ><span class="text-blue-900 font-bold   hover:text-green-900"
      >INTEL</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#vice"
    ><span
      class="text-sky-500 font-bold text-justify   hover:text-sky-900"
      >JFK Jr.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#wordpress"
    ><span class="text-blue-700 font-bold   hover:text-green-900"
      >President John F Kennedy(JFK)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#jfksr"
    ><span
      class="text-sky-500 font-bold text-justify   hover:text-sky-900"
      >JFK SR IS Q!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black   hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#snake"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >SERPENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-green-500 bg-pink-50 font-bold   hover:text-sky-900"
      >REESE REPORT - A Brief History</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >The Prophecy of the Popes Explained Are We Now Facing the End Times as the Prophecy May Suggest</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#creepy"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >VATICAN (Pope’s Audience Hall)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >They were built by the Crocodile Kings.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-emerald-500 bg-purple-700 font-bold   hover:text-green-200"
      >DULCE PAPERS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#clinton"
    ><span class="text-green-500 font-bold   hover:text-green-900"
      >Evergreen</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#caged"
    ><span
      class="text-red-600 font-bold text-justify   hover:text-sky-500"
      >THE HIGH COMMAND</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#learjet"
    ><span class="text-sky-400 font-bold   hover:text-green-900"
      >Bluewater</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#tribunal"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >ARRESTS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#executing"
    ><span
      class="text-sky-900 bg-slate-200 text-transform: uppercase font-bold   hover:text-gray-900"
      >THE STORM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#greatest"
    ><span class="text-green-600 font-bold   hover:text-green-900"
      >NICK ALVEAR(THE GREATEST SHOW)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-emerald-500 bg-purple-700  font-bold   hover:text-sky-900"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase   hover:text-blue-900"
      >THE MOVIE</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#alert"
    ><span
      class="text-red-600 font-bold text-justify   hover:text-sky-500"
      >Presidental Alert</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold   hover:text-green-900"
      >for world police</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span
      class="text-red-600 font-bold text-justify   hover:text-sky-500"
      >CHEVRON DOCTRINE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./crowdstrike#crowdstrike"
    ><span
      class="text-red-600 font-bold text-justify   hover:text-sky-500"
      >CrowdStrike</span
    >
  </a>
</h5>
<Amg />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >PHIL SCHNEIDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >PHIL SCHNEIDER(Page)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-emerald-500 bg-purple-700 font-bold   hover:text-green-200"
      >DULCE PAPERS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold   hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#operation"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cooper#rare"
    ><span class="text-green-700 font-bold   hover:text-green-900"
      >William (Bill) Cooper</span
    >
  </a>
</h5>

<Whitewall />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#antichrist"
    ><span
      class="bg-white text-green-500 font-bold   hover:text-gray-700"
      >TPV(antichrist)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#iraq1"
    ><span
      class="bg-white text-green-600 font-bold   hover:text-gray-700"
      >STARGATE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#cern1"
    ><span
      class="text-green-900 bg-yellow-100 font-black   hover:text-purple-900"
      >CERN(Geneva)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#swiss"
    ><span
      class="text-sky-500 bg-orange-200 font-bold   hover:text-green-900"
      >DISCLOSURE: 2024(Geneva)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#looking"
    ><span class="text-purple-900 font-bold   hover:text-green-900"
      >PROJECT LOOKING GLASS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#codez"
    ><span class="text-blue-700 font-bold   hover:text-green-900"
      >INTEL CodezVII - 'Q' Is A Disclosure Operation Designed By Pleiadians &
      NSA White Hats</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#reptilians"
    ><span
      class="bg-white text-sky-500 font-bold   hover:text-sky-700"
      >Michael Salla</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#spaceforce"
    ><span
      class="bg-white text-green-500 font-bold   hover:text-gray-700"
      >DISCLOSURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./gene#decode"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >GENE DECODE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#official"
    ><span class="text-blue-950 font-bold   hover:text-green-900"
      >Orion</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#everywhere"
    ><span class="text-blue-950 font-bold   hover:text-green-900"
      >Orion is everywhere (www.theorionlines.com/orion)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold   hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#creepy"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#takedown1"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Takedown</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#takedown1"
    ><span class="text-green-600 font-bold   hover:text-green-900"
      >Charlie Freak</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#diana"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Princess Diana</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./charles#prince"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Charles III</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./charles#stunned"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >RARE SIGHTING</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#qthestormm"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >ITS HERE ...(@QTHESTORMM)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#earthquakes"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >1-2-2024 Japan Earthquakes Issue(Jay Arae Essex)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#nobody"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >ITS HAPPENING !!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./trump#comey"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >TRUMP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./highline-record#legit"
    ><span class="text-blue-900 font-bold   hover:text-green-900"
      >AUSTRALIAN HIGHLINE RECORD</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians"
    ><span class="text-sky-400 font-bold   hover:text-green-900"
      >Pleiadians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#pleiadians"
    ><span class="text-sky-400 font-bold   hover:text-green-900"
      >Pleiadians in the Bible</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mark#mark"
    ><span
      class="text-purple-700 font-bold   hover:text-purple-900"
      >Revelation 13:16</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mark#markof"
    ><span class="text-sky-500 font-bold   hover:text-sky-900"
      >Mark of the Beast: In or On?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#head"
    ><span class="text-blue-500 font-bold   hover:text-green-900"
      >WHY AUSTRALIA?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#fake"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >liabilitymate</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#older"
    ><span class="text-red-900 font-bold   hover:text-green-900"
      >JUSTINIAN-DECEPTION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./matrix#reloaded"
    ><span class="text-green-900 font-bold   hover:text-green-900"
      >The Matrix Reloaded</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >WILLIAM TOMPKINS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span class="text-green-700 font-bold   hover:text-green-900"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Jordan Maxwell</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#creepy"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./morton#area51"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >SEAN DAVID MORTON</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >Tory Smith</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#biggest"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Linda Moulton Howe</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-pink-500 font-bold   hover:text-green-900"
      >Chris Turner</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#why"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Richard Bruce</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Secret Space Program SSP (Johan Fritz)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#cia"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >CIA Investigated THAT the Nazis went to The Moon in 1942</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#nonhuman"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >David Icke</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#force"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >David Icke</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span
      class="text-pink-600 bg-white font-bold   hover:text-purple-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#tony"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Secret Space Program SSP (TONY RODRIGUES)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span class="text-green-500 font-bold   hover:text-purple-900"
      >Cosmic Interstellar Human Trafficking (TONY RODRIGUES)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#world"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
      >RICCARDO BOSI</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#australian"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
      >PASCAL NAJADI with Riccardo Bosi</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dwight#ike"
    ><span class="text-green-500 font-bold   hover:text-green-900"
      >Dwight ‘Ike’ Eisenhower</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-green-400 font-bold   hover:text-green-900"
      >Clif High Returns: Aliens, Antarctica, the Big Event and even more Chaos
      is coming (1of2)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dunn#kent"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Kent Dunn</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dunn#ward"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Kerry Cassidy Interviews Charlie Ward</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold   hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >ALIEN-WARS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#freemasonry"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Freemasonry</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Tory Smith</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold   hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#movies"
    ><span class="text-green-500 font-bold   hover:text-purple-900"
      >MOVIES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bogdanoff#footage"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >BOGDANOFFS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#event"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >CLIF HIGH</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#eggs"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >SGT Pattie Brassard</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dean#look"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >WALKING AMONG US (Robert Dean)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens#exist"
    ><span class="text-blue-900 font-bold   hover:text-purple-800"
      >THEY ARE COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#qthestormm"
    ><span class="text-blue-900 font-bold   hover:text-purple-800"
      >ITS HERE ...(@QTHESTORMM)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./why#serpo"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >The Why Files</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vpn#hak5"
    ><span class="text-sky-500 font-bold hover:text-purple-900"
      >Fast, Free, and Easy VPN Build in Minutes - Hak5 2022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./attwood#gali23+"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Mark Attwood</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tom-cruise#fake"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >TOM CRUISE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#problems"
    ><span
      class="text-orange-500 font-bold   hover:text-orange-600"
      >FLAT EARTH
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#harzan"
    ><span
      class="text-green-500 font-bold   hover:text-green-700"
      >UFO News - Meet MUFON's New Executive Director Jan Harzan</span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#official"
    ><span class="text-blue-900 font-bold   hover:text-green-900"
      >Orion</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./antarctica#oceanx"
    ><span class="text-sky-400 font-bold   hover:text-purple-900"
      >Antarctica</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./highline-record#legit"
    ><span class="text-blue-900 font-bold   hover:text-green-900"
      >IT'S LEGIT - AN AUSTRALIAN HIGHLINE RECORD</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#egyptians"
    ><span class="text-blue-900 font-bold   hover:text-green-900"
      >Ancient Egyptians in Australia</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#fake"
    ><span class="text-pink-500 font-bold   hover:text-sky-500"
      >Liabilitymate</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./serpentza#safety"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >serpentza (China)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#china"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >CHINA</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/bluewater/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >bluewater</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/" rel="noopener" target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >The Rumor Mill</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://realrawnews.com/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >Real Raw News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.whatdoesitmean.com/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >What Does This Mean</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://alcuinbramerton.blogspot.com/" rel="noopener" target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >Alcuin and Flutterby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://2012portal.blogspot.com/" rel="noopener" target="_blank"
    ><span class="text-gray-700 text-base hover:text-lg hover:text-green-900"
      >The Portal</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://finalwakeupcall.info/en/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >The Final Wakeup Call (2024/02/06)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-purple-800"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#qthestormm"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-purple-800"
      >ITS HERE ...(@QTHESTORMM)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/QDisclosure17/61046" rel="noopener" target="_blank"
    ><span class="text-sky-400 text-base hover:text-lg hover:text-red-700"
      >Today is a doozy folks</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="http://sosrff.tsu.ru/" rel="noopener" target="_blank"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-red-700"
      >sosrff.tsu.ru</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/channel/UClYvbl2TDiErM0KLrO6KtRA/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Jay Arae Essex</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./med-bed#minds"
    ><span class="text-sky-600   hover:text-green-900"
      >Med Bed</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@DracoReptoidsExposed"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >DracoReptoidsExposed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/channels/alexcollierofficial2"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-red-600"
      >Alex Collier 2</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@CAMELOT24" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >CAMELOT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@cosmictruthjusticeearthaus2813"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Cosmic Truth Justice</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/healyourselftherapies/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >HealYourselfTherapies</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/the_high_command/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >THE_HIGH_COMMAND</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/dobie_tejas/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Dobie_Tejas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/TsIveMDFUTfP/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Know Your Rights Group</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@The5thKind" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The 5th Kind</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=eTWJC0uckJ0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >You Need to See This! Paul Wallis & Praveen Mohan - Hidden History of
      Ancient Civilizations</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@RealPraveenMohan"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PraveenMohan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@PaulWallis" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Paul Wallis</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/8LyqCWp3SSH4/"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-purple-900"
      >McAllister TV</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/QNewsPatriot" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >QNewsPatriot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TheWhyFiles" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >The Why Files</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@SuperSoldierTalk"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Super Soldier Talk</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/user/supersoldiertalk"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Super Soldier Talk</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@journeytotruthpodcast"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Journey to Truth Podcast</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Journey to Truth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/DUMBSandUNDERGROUND"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >The Invisible War in DUMBS and UNDERGROUND</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@SoulStealOne63"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Sons of the Serpent</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/p3ZaqvG6d5t3/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >ChristianRapture</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/TheMichelleMooreShow"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >The Michelle Moore Show</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/AustraliaOneParty"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >A-ONE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/australiaone/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >A-ONE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/VoF" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >The Voice of Freedom</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TheAussieCossack" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Aussie Cossack</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/maori-morpheus/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >MAORI MORPHEUS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/HBBwqdoMy7Gz/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >clif_high</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/pennykelly/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Penny Kelly Official</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/PennyKelly" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Penny Kelly Official</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-3288974" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Dr. Sam Mugzzi</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/ExopoliticsToday" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@MichaelSalla" rel="noopener" target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#pascal"
    ><span
      class="text-sky-500 bg-red-100 font-bold hover:text-2xl hover:text-green-900"
      >PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON
      ☤ THE CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/DianaAndPascalNajadiKahlooni?" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >DianaAndPascalNajadiKahlooni</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TruthStream" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >TruthStream</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/MedeeaGreere" rel="noopener" target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >MedeeaGreere</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://yandex.com/" rel="noopener" target="_blank"
    ><span class="text-yellow-500 text-base hover:text-lg hover:text-green-900"
      >yandex.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.google.ru/" rel="noopener" target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >www.google.ru</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://searx.work/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >searx.work</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://searx.space/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >searx.space</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.qwant.com/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >www.qwant.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.goodgopher.com/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >www.goodgopher.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.whatdoesitmean.com/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >What Does This Mean</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/user/projectcamelot"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >projectcamelot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@PROJECTCAMELOT:d" rel="noopener" target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-sky-500"
      >Project Camelot</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.ebh.club" rel="noopener" target="_blank"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >www.ebh.club</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="http://kcorradio.com/the-quantum-shift-2023.htm"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >KCOR-SM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="http://kcorradio.com/the-journey-of-universal-knowledge.htm"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >KCOR-KD</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ForEverFree:3" rel="noopener" target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-sky-500"
      >For Ever Free</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dmso.cc/"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >DMSO.cc</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dmso.org/" rel="noopener" target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >DMSO.org</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./links#links"
    ><span class="text-red-700 font-bold   hover:text-red-700"
      >Links</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
