---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep"
    ><span class="text-pink-600 font-bold hover:text-2xl hover:text-green-900"
      >Goes Deep</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Bluewater</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ARRESTS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Pleiadians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#pleiadians"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Pleiadians in the Bible</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#looking"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >PROJECT LOOKING GLASS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#head"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >WHY AUSTRALIA?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception"
    ><span class="text-red-900 font-bold hover:text-2xl hover:text-green-900"
      >JUSTINIAN-DECEPTION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./matrix#reloaded"
    ><span class="text-green-900 font-bold hover:text-2xl hover:text-green-900"
      >The Matrix Reloaded</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#fake"
    ><span class="text-yellow-600 text-base hover:text-lg hover:text-pink-600"
      >Liabilitymate</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/bluewater/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >bluewater</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://gab.com/Bluewater100" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Bluewater100</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/sibley22" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >sibley22</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/all/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-900 text-base hover:text-lg hover:text-green-900"
      >Operation Disclosure</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/" rel="noopener" target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >The Rumor Mill</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://realrawnews.com/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >Real Raw News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/channel/UClYvbl2TDiErM0KLrO6KtRA/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Jay Arae Essex</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/channels/alexcollierofficial2"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-red-600"
      >Alex Collier 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@aithusalodge6647"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >SKYE PRINCE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@cosmictruthjusticeearthaus2813"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Cosmic Truth Justice</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@The5thKind" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The 5th Kind</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@PaulWallis" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Paul Wallis</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/8LyqCWp3SSH4/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >McAllister TV</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/QNewsPatriot" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >QNewsPatriot</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@SuperSoldierTalk"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Super Soldier Talk</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/user/supersoldiertalk"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Super Soldier Talk</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/DUMBSandUNDERGROUND"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >The Invisible War in DUMBS and UNDERGROUND</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-1740607" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >You Are Loved</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@you-are-loved"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >You Are Loved</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@SoulStealOne63"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Sons of the Serpent</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@Indianinthemachine"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Indianinthemachine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/TheMichelleMooreShow"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >The Michelle Moore Show</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/AustraliaOneParty"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >A-ONE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/australiaone/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >A-ONE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/maori-morpheus/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >MAORI MORPHEUS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/HBBwqdoMy7Gz/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >clif_high</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/pennykelly/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Penny Kelly Official</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/PennyKelly" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Penny Kelly Official</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-3288974" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Dr. Sam Mugzzi</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/ExopoliticsToday" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Exopolitics Today with Dr. Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@MichaelSalla" rel="noopener" target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@ElenaDanaan" rel="noopener" target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Elena Danaan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://yandex.com/" rel="noopener" target="_blank"
    ><span class="text-yellow-500 text-base hover:text-lg hover:text-green-900"
      >yandex.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/user/projectcamelot"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >projectcamelot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@PROJECTCAMELOT:d" rel="noopener" target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-sky-500"
      >Project Camelot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@SavetheWorld:3?view=content"
    rel="noopener"
    target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-sky-500"
      >Geno Saves The World</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.ebh.club" rel="noopener" target="_blank"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >www.ebh.club</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="http://kcorradio.com/the-quantum-shift-2023.htm"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >KCOR-SM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="http://kcorradio.com/the-journey-of-universal-knowledge.htm"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-700 text-base hover:text-lg hover:text-green-900"
      >KCOR-KD</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://alcuinbramerton.blogspot.com/" rel="noopener" target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >Alcuin and Flutterby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://2012portal.blogspot.com/" rel="noopener" target="_blank"
    ><span class="text-gray-700 text-base hover:text-lg hover:text-green-900"
      >The Portal</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ForEverFree:3" rel="noopener" target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-sky-500"
      >For Ever Free</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dmso.cc/"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >DMSO.cc</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://dmso.org/" rel="noopener" target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-green-900"
      >DMSO.org</span
    >
  </a>
</h5>
