---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#borax"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#benefits"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#aching"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240895"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >BORON MINERAL ONLY KNOWN NANOBOT REPLICATION INHIBITOR</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B083JLLS1S?"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >Triple Boron Complex 6 mg Supplement</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/623caed3-e801-4afd-aacd-deed30bb695c"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-300 font-bold hover:text-2xl hover:text-blue-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stillnessinthestorm.com/2022/05/30/studies-suggest-boron-has-potent-cancer-fighting-properties/17/33/27/153661/news/stillness-in-the-storm/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-500 bg-slate-300 font-bold hover:text-2xl hover:text-purple-900"
      >Studies Suggest Boron Has Potent Cancer-Fighting Properties</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacinamide"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)(B3) Niacinamide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B08ZSYV1R1?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 font-bold hover:text-2xl hover:text-orange-700"
      >Best Naturals Niacinamide 500 mg 240 Tablets</span
    >
  </a>
</h5>
