---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#diatomaceousnano"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#solutions"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >Solutions for Healing from the mRNA BioWeapon - Suramin, Ozone, Chlorine Dioxide & more w/ Dr. Joe Nieusma(Sarah Westall)</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@sarahwestall:0/Joe-Nieusma---Nov.-26:b?ref=truth11.com"
      rel="noopener"
    target="_blank"
    ><span class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Solutions for Healing from the mRNA BioWeapon - Suramin, Ozone, Chlorine Dioxide & more w/ Dr. Joe Nieusma(Sarah Westall)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://naturalfoodseries.com/13-benefits-boron/"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-700 bg-yellow-300 font-extrabold hover:text-black"
      >13 Amazing Health Benefits of Boron</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.truth11.com/how-to-detox-the-covid-vaccines/"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-700 bg-yellow-300 font-extrabold hover:text-black"
      >How to Detox The Covid Vaccines(trusted detoxifiers)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://detoxify4health.com/boron/"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-700 bg-yellow-300 font-extrabold hover:text-black"
      >USING BORAX FOR A DEEP CLEANSE</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://revealingfraud.com/2022/09/health/how-to-get-started-taking-boron/"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-700 bg-teal-300 font-extrabold hover:text-black"
      >How to Get Started Taking Boron</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://beforeitsnews.com/health/2016/01/borax-best-detox-cure-for-mycoplasma-arthritis-morgellons-osteoporosis-and-more-2610662.html"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-800 bg-blue-300 font-extrabold hover:text-black"
      >Boron is a very important part of a long chain that intertwines all the minerals necessary for individual cell growth and health!</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://fluoridefreesudbury.wordpress.com/2019/01/19/boron-is-also-used-to-remove-accumulated-fluoride-and-heavy-metals-from-the-body/"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-700 bg-emerald-200 font-extrabold hover:text-black"
      >THE INEXPENSIVE ARTHRITIS & OSTEOPOROSIS CURE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://sarahwestall.com/important-proven-solutions-to-keep-from-getting-sick-even-if-you-have-the-mrna-shot/"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >Important Proven Solutions to keep from getting sick even if you received the mRNA shot</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@dataark:9/modrna-gentherapie-2025-07-14-en:b"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >m(od)RNA gene therapy | 2025-07-14 - Pfizer BioNTech - Inside the Vaccine Trials</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6y6hyw-australiaone-inside-mrna-vaccines-the-movieht-the-mccullough.html?" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-purple-900"
      >AustraliaOne - Inside mRNA Vaccines: The Movie</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/ValerieAnne1970/status/1958407518020829351" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >"Everything That Cancer Likes...Parasites Like. Everything Cancer Hates...Parasites Hate."</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5vqgah-dr.-lee-merritt-shock-discovery-parasites-cancer-and-turbo-cancer-breakthro.html?e9s=src_v1_s,src_v1_s_m" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Dr. Lee Merritt - SHOCK Discovery - Parasites: Cancer & Turbo Cancer Breakthrough</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://horbaach.com/en-AU/products/triple-boron-complex-6mg-300-tablets?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-700 bg-sky-200 font-bold hover:text-slate-900"
      >Triple Boron Complex 6 mg Supplement(Horbaach's)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#borax"
    ><span class="text-sky-500 font-bold   hover:text-sky-900"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boron-pdf#pdf" 
    ><span class="text-slate-500 font-bold   hover:text-slate-900"
      >Nexus Magazine June July 2012 ( Borax Conspiracy pdf)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.health-science-spirit.com/" rel="noopener" target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-900"
      >www.health-science-spirit.com</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#principles"
    ><span class="text-purple-500 bg-green-300 font-bold hover:text-purple-900"
      >BORAX FOR ARTHRITIS, OSTEOPOROSIS, MENOPAUSE, CANDIDA, BREAST AND
      PROSTATE CANCER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#how"
    ><span
      class="text-sky-600 bg-slate-100 font-bold hover:text-sky-900"
      >Borax / Boron Cures and Health Benefits</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#spots"
    ><span
      class="text-pink-600 bg-pink-50 font-bold   hover:text-sky-900"
      >The #1 Deficiency behind Aging Spots</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#astaxanthin"
    ><span
      class="text-pink-600 bg-orange-50 font-bold   hover:text-pink-700"
      >Astaxanthin 7 mins on why you should take the best antioxidant in the
      world?(Sunburn Protection)</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://ted.earthclinic.com/" rel="noopener" target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-900"
      >ted.earthclinic.com</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v3mzhx7-boron-the-ultimate-crash-course-dr.-osbornes-zone.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 text-lg font-bold   hover:text-emerald-700"
      >Boron: The Ultimate Crash Course! - Dr. Osborne's Zone</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v55e0sj-why-bone-support-with-strontium-and-boron-combines-essential-nutrients-for-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 text-lg font-bold   hover:text-emerald-700"
      >Why BONE SUPPORT WITH STRONTIUM AND BORON Combines Essential Nutrients for Strong, Dense Bones</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://yummy.doctor/blog/borax-boron-boric-acid-and-your-health/"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-500 bg-green-300 font-bold hover:text-purple-900"
      >The original article can be found on Dr Amandha Vollmer’s website here:</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://fortheloveoftruth.co.uk/2022/10/17/borax-boron-boric-acid-and-your-health/"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-500 font-bold hover:text-purple-900"
      >And it is also published here:</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./images/Borax-conspiracy.pdf" rel="noopener" target="_blank"
    ><span class="text-purple-500 font-bold hover:text-purple-900"
      >Nexus Magazine June July 2012 ( Borax Conspiracy pdf)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/archive2.cgi/read/74475"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold   hover:text-blue-700"
      >The Borax Conspiracy Date: Tuesday, 2-May-2017 11:02:05</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#benefits"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arthritis#boron"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >#1 Missing Trace Mineral in ARTHRITIS(Boron)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#aching"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glidden#fix"
    ><span class="text-orange-500   hover:text-green-900"
      >Proof That The Human Body Can Fix Itself!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240895"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-700"
      >BORON MINERAL ONLY KNOWN NANOBOT REPLICATION INHIBITOR</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CMDRVALTHOR/status/1794501410933088686"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold   hover:text-slate-800"
      >BORON MINERAL ONLY KNOWN NANOBOT REPLICATION INHIBITOR</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/DianaT192/status/1849891382816579979" rel="noopener" target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-700"
      >Community post(Boron Mineral)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/borax-the-super-cure-they-dont-want-you-to-know-about-the-miracle-cure-big-pharma-is-hiding-from-you/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 bg-blue-300 font-bold  "
      >Borax: The Super Cure They Don’t Want You to Know About | The Miracle
      Cure Big Pharma Is Hiding from You!</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/b868e4b0-5ac0-4855-bc17-587ab53aef44" rel="noopener" target="_blank"
    ><span class="text-blue-400 font-bold hover:text-blue-900"
      >Sodium Borate Kills Parasites Curing Arthritis (Caused by Parasites) The Borax Conspiracy by Walter Last</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://planetaryliberation.community/tag/boron-prevents-the-growth-and-replication-of-nanobots-in-your-body/"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-500 font-bold hover:text-purple-900"
      >Boron prevents the growth and replication of nanobots in your body.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.sciencedirect.com/science/article/abs/pii/S0940299310001107"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-500 font-bold hover:text-purple-900"
      >The effects of some boron compounds against heavy metal toxicity in human
      blood</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://horbaach.com/en-AU/products/triple-boron-complex-6mg-300-tablets?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-700 bg-sky-200 font-bold hover:text-slate-900"
      >Triple Boron Complex 6 mg Supplement(Horbaach's)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://horbaach.com/en-AU/products/magnesium-glycinate-1330mg-250-capsules?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-500 bg-sky-400 font-bold   hover:text-slate-700"
      >Magnesium Glycinate 1330mg | 250 Capsules</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B083JLLS1S?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-500 bg-sky-400 font-bold   hover:text-slate-700"
      >Triple Boron Complex 6 mg Supplement</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/623caed3-e801-4afd-aacd-deed30bb695c"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-300 font-bold   hover:text-blue-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stillnessinthestorm.com/2022/05/30/studies-suggest-boron-has-potent-cancer-fighting-properties/17/33/27/153661/news/stillness-in-the-storm/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-500 bg-slate-300 font-bold   hover:text-purple-900"
      >Studies Suggest Boron Has Potent Cancer-Fighting Properties</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://buymeacoffee.com/b3jtqngvwt/health-benefits-borax-boron-mineral"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-200 bg-yellow-600 font-bold   hover:bg-yellow-700"
      >Health Benefits of Borax / BORON mineral</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.sott.net/article/487519-The-borax-conspiracy-How-the-arthritis-cure-has-been-stopped"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-100 bg-blue-700 font-bold   hover:text-slate-200"
      >The borax conspiracy: How the arthritis cure has been stopped</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2018-05-03-boron-trace-mineral-found-to-be-potent-cancer-preventing-substance.html"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-700"
      >Boron, a trace mineral, found to be a potent cancer-preventing substance</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/TinaZimmermann4/status/1845194609376329971"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold   hover:text-sky-700"
      >💊💊Salt for health‼️</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.lifeextension.com/magazine/2018/4/boron-an-overlooked-micronutrient"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-700"
      >Boron is one of the unsung heroes.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacinamide"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)(B3) Niacinamide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B08ZSYV1R1?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 font-bold   hover:text-orange-700"
      >Best Naturals Niacinamide 500 mg 240 Tablets</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v54pxer-the-borax-conspiracy-health-benefits-of-borax-boron.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 font-bold   hover:text-green-700"
      >THE BORAX CONSPIRACY - HEALTH BENEFITS OF BORAX - BORON</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3v2u5y--borax-for-arthritis-osteoporosis-menopause-candida-breast-and-prostate-can.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 font-bold   hover:text-green-700"
      >BORAX FOR ARTHRITIS, OSTEOPOROSIS, MENOPAUSE, CANDIDA, BREAST AND
      PROSTATE CANCER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./images/Borax-conspiracy.pdf" rel="noopener" target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-900"
      >Nexus Magazine June July 2012 ( Borax Conspiracy pdf)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://yummy.doctor/wp-content/uploads/2021/04/Borax-conspiracy.pdf"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-900"
      >Borax-conspiracy.pdf</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/XJr6kS67EPpg/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold   hover:text-red-700"
      >The Borax Conspiracy - Research the Amazing Health Benefits of Borax
      (Boron)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/XAmOXIZZnDVL/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold   hover:text-red-700"
      >Boron-Borax - The Borax Conspiracy by Walter Last</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/MQOM43LGlFA1/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-500 font-bold hover:text-purple-900"
      >THE BORAX CONSPIRACY: Does Borax/Boron remedy adverse vaccine effects,
      cancers, arthritis & more ...</span
    >
  </a>
</h5>

<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">This video is simply amazing? Many illnesses including cancers and adverse vaccine effects can be remedied according to Dr Walter Last's studies in Perth Australia in the 1970's ...

All natural springs have high levels of Boron and why sitting in one eases many aches n pains and naturally the Govt and health officials shut the study down CONFIRMING it assists strengthening our bone structure, thyroid protection, decalsification of the Pineal Gland, weight loss, belly fat reduction, menopause and many other usual aged body complaints ...

I do believe when people discover and apply the health benefits of boron, phosphorous, sulfur, silica, oxygen, iodine and sulfur (all of which have a negative charge)… they will truly be healthy humans… until then… people will get sick and be of lowered vitality.

Conspiracy question: Why aren’t these ALL used for fertilizers, since they are the ‘carriers’ of the positive-charged elements??

If boron hardens teeth and bones and regulates cells, why doesn’t the dental and medical industry recommend these? Why isn’t boron used in toothpaste?

HIGH RECOMMENDATION: Brush Or Rinse Your Teeth With Moringa Powder, Coconut Oil And Boron, To Stop Tooth Decay And For Teeth Whitening And Strengthening!!

Borax/Boron can be found at our local supermarkets in NZ and other countries but not many as the Health Industry has labelled it a POISON! (as usual, the mongrels)

PLEASE SHARE TO ALL VAXXED AND UNVAXXED!!!

ENJOY THE VIDEO!</div>
</div>
<!-- prettier-ignore-end -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./images/Borax-conspiracy.pdf" rel="noopener" target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-900"
      >Nexus Magazine June July 2012 ( Borax Conspiracy pdf)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/XlvT3BDLfTV2"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-500 bg-green-300 font-bold hover:text-purple-900"
      >Borax for arthritis, osteoporosis, menopause, candida, breast and
      prostate cancer(The Principles)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/AYk1S7KX3ZgI/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold   hover:text-orange-700"
      >THE BORAX ( BORON ) CONSPIRACY</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/7Lou9JbnBVv9/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold   hover:text-orange-700"
      >Borax / Boron Cures and Health Benefits</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/vVTkKxBquKSm"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold   hover:text-orange-700"
      >Peanut Truth - Cultivate Elevate</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/DianaT192/status/1849891382816579979" rel="noopener" target="_blank"
    ><span class="text-slate-500 font-bold   hover:text-slate-700"
      >Community post(Boron Mineral)</span
    >
  </a>
</h5>

