---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#borax"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#principles"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >BORAX FOR ARTHRITIS, OSTEOPOROSIS, MENOPAUSE, CANDIDA, BREAST AND
      PROSTATE CANCER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://yummy.doctor/blog/borax-boron-boric-acid-and-your-health/"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-900"
      >The original article can be found on Dr Amandha Vollmer’s website here:</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://fortheloveoftruth.co.uk/2022/10/17/borax-boron-boric-acid-and-your-health/"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-900"
      >And it is also published here:</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#benefits"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arthritis#boron"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >#1 Missing Trace Mineral in ARTHRITIS(Boron)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#aching"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glidden#fix"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Proof That The Human Body Can Fix Itself!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240895"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >BORON MINERAL ONLY KNOWN NANOBOT REPLICATION INHIBITOR</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B083JLLS1S?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-500 bg-sky-400 font-bold hover:text-2xl hover:text-slate-700"
      >Triple Boron Complex 6 mg Supplement</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/gp/product/B074M419TS/"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-900"
      >MultiMineral Plus - All 72 Trace Minerals- Iron Free</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/623caed3-e801-4afd-aacd-deed30bb695c"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-300 font-bold hover:text-2xl hover:text-blue-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stillnessinthestorm.com/2022/05/30/studies-suggest-boron-has-potent-cancer-fighting-properties/17/33/27/153661/news/stillness-in-the-storm/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-500 bg-slate-300 font-bold hover:text-2xl hover:text-purple-900"
      >Studies Suggest Boron Has Potent Cancer-Fighting Properties</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://buymeacoffee.com/b3jtqngvwt/health-benefits-borax-boron-mineral"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-200 bg-yellow-600 font-bold hover:text-2xl hover:bg-yellow-700"
      >Health Benefits of Borax / BORON mineral</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.sott.net/article/487519-The-borax-conspiracy-How-the-arthritis-cure-has-been-stopped"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-100 bg-blue-700 font-bold hover:text-2xl hover:text-slate-200"
      >The borax conspiracy: How the arthritis cure has been stopped</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2018-05-03-boron-trace-mineral-found-to-be-potent-cancer-preventing-substance.html"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >Boron, a trace mineral, found to be a potent cancer-preventing substance</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.lifeextension.com/magazine/2018/4/boron-an-overlooked-micronutrient"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >Boron is one of the unsung heroes.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacinamide"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)(B3) Niacinamide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B08ZSYV1R1?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 font-bold hover:text-2xl hover:text-orange-700"
      >Best Naturals Niacinamide 500 mg 240 Tablets</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v54pxer-the-borax-conspiracy-health-benefits-of-borax-boron.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-700"
      >THE BORAX CONSPIRACY - HEALTH BENEFITS OF BORAX - BORON</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3v2u5y--borax-for-arthritis-osteoporosis-menopause-candida-breast-and-prostate-can.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-700"
      >BORAX FOR ARTHRITIS, OSTEOPOROSIS, MENOPAUSE, CANDIDA, BREAST AND
      PROSTATE CANCER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/XJr6kS67EPpg/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-red-700"
      >The Borax Conspiracy - Research the Amazing Health Benefits of Borax
      (Boron)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/XAmOXIZZnDVL/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-red-700"
      >Boron-Borax - The Borax Conspiracy by Walter Last</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/MQOM43LGlFA1/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-red-700"
      >THE BORAX CONSPIRACY: Does Borax/Boron remedy adverse vaccine effects,
      cancers, arthritis & more ...</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-gray-800 text-justify">
  This video is simply amazing? Many illnesses including cancers and adverse
  vaccine effects can be remedied according to Dr Walter Last's studies in Perth
  Australia in the 1970's ...
</p>
<p class="mb-4 text-base text-gray-800 text-justify">
  All natural springs have high levels of Boron and why sitting in one eases
  many aches n pains and naturally the Govt and health officials shut the study
  down CONFIRMING it assists strengthening our bone structure, thyroid
  protection, decalsification of the Pineal Gland, weight loss, belly fat
  reduction, menopause and many other usual aged body complaints ...
</p>
<p class="mb-4 text-base text-gray-800 text-justify">...</p>
<p class="mb-4 text-base text-gray-800 text-justify">
  If boron hardens teeth and bones and regulates cells, why doesn’t the dental
  and medical industry recommend these? Why isn’t boron used in toothpaste?
</p>
<p class="mb-4 text-base text-gray-800 text-justify">
  PLEASE SHARE TO ALL VAXXED AND UNVAXXED!!!
</p>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/XlvT3BDLfTV2"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-orange-700"
      >Borax for arthritis, osteoporosis, menopause, candida, breast and
      prostate cancer(The Principles)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/AYk1S7KX3ZgI/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-orange-700"
      >THE BORAX ( BORON ) CONSPIRACY</span
    >
  </a>
</h5>
