---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#borax"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#benefits"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arthritis#boron"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >#1 Missing Trace Mineral in ARTHRITIS(Boron)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#aching"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Aching Joints? This “Miracle Mineral” Could End Your Suffering – Dr.Berg</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glidden#fix"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Proof That The Human Body Can Fix Itself!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240895"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >BORON MINERAL ONLY KNOWN NANOBOT REPLICATION INHIBITOR</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B083JLLS1S?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-500 bg-sky-400 font-bold hover:text-2xl hover:text-slate-700"
      >Triple Boron Complex 6 mg Supplement</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/623caed3-e801-4afd-aacd-deed30bb695c"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-300 font-bold hover:text-2xl hover:text-blue-900"
      >Boron Supplementation - Health Benefits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stillnessinthestorm.com/2022/05/30/studies-suggest-boron-has-potent-cancer-fighting-properties/17/33/27/153661/news/stillness-in-the-storm/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-500 bg-slate-300 font-bold hover:text-2xl hover:text-purple-900"
      >Studies Suggest Boron Has Potent Cancer-Fighting Properties</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://buymeacoffee.com/b3jtqngvwt/health-benefits-borax-boron-mineral"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-200 bg-yellow-600 font-bold hover:text-2xl hover:bg-yellow-700"
      >Health Benefits of Borax / BORON mineral</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.sott.net/article/487519-The-borax-conspiracy-How-the-arthritis-cure-has-been-stopped"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-100 bg-blue-700 font-bold hover:text-2xl hover:text-slate-200"
      >The borax conspiracy: How the arthritis cure has been stopped</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2018-05-03-boron-trace-mineral-found-to-be-potent-cancer-preventing-substance.html"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >Boron, a trace mineral, found to be a potent cancer-preventing substance</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.lifeextension.com/magazine/2018/4/boron-an-overlooked-micronutrient"
    rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >Boron is one of the unsung heroes.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacinamide"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)(B3) Niacinamide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B08ZSYV1R1?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 font-bold hover:text-2xl hover:text-orange-700"
      >Best Naturals Niacinamide 500 mg 240 Tablets</span
    >
  </a>
</h5>
