---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#world"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >RICCARDO BOSI "IT'S A WORLD WAR WE MUST WIN" @5:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#australian"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >TRUTH Special May 9th 2024 Ascension Day Number 9 God's Number : With
      Comrade Lt. Colonel Riccardo Bosi, Australian former Special Forces
      Commander #WWG1WGA
    </span>
  </a>
</h5>
