---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=RXJppbNCKo8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >How To Incorporate Shade Into Your Backyard - Bunnings Warehouse</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bunnings.com.au/pillar-1-83-x-5m-30-green-uv-cover-hail-and-shade-mesh_p0135230"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Pillar 1.83 x 5m 30% Green UV Cover Hail and Shade Mesh</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bunnings.com.au/craftright-assorted-nylon-spring-clamp-16-pack_p5860093"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Craftright Assorted Nylon Spring Clamp - 16 Pack</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bunnings.com.au/craftright-100mm-metal-spring-clamp_p5860147"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Craftright 100mm Metal Spring Clamp($1.98)</span
    >
  </a>
</h5>
