---
import CANCERDMSO from "../CANCERDMSO.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#suppressed"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >The suppressed cancer cures that have been denied by the medical cartels
      throughout history revealed</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#Pharmakeia"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Pharmakeia Deception(image)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#borax"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./hydrogen-peroxide#H2O2"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-800"
      >ROCKEFELLER MEDICINE ALLOPATHIC DRUG PUSHER DOCTORS DON'T WANT YOU TO
      KNOW THIS INFORMATION.(Hydrogen-Peroxide)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#helpful"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-800"
      >For anyone dealing with cancer(s)...Here are a few helpful tips:</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./boric#borax"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
      CANCERS, ARTHRITIS & MORE ...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#astaxanthin"
    ><span
      class="text-orange-600 font-bold hover:text-2xl hover:text-orange-900"
      >Astaxanthin: The Ultimate Longevity Antioxidant(Sunburn Protection)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dmso#jacob"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >DMSO Dimethylsulfoxide Dr Stanley W Jacob</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239003"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >The Benefits of Wormwood: A Harmful Organism Cleanser - Dr Edward Group</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.cancerdefeated.com/the-truth-about-dmso-and-cancer"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-white font-bold hover:text-2xl hover:text-emerald-700"
      >The Truth About DMSO And Cancer</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://wakeup-world.com/2022/04/01/the-benefits-of-wormwood-a-harmful-organism-cleanser/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >The Benefits of Wormwood: A Harmful Organism Cleanser - Dr Edward Group</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238977"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >Why Fenbendazole is a human anti-worm and anti-cancer medicine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CMDRVALTHOR/status/1809239698587427190"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >FENBENDAZOLE - JOE TIPPENS PROTOCOL - IS THE BEST BROAD SPECTRUM
      PARASITES DEWORMER AND PARASITES CLEANSE - AND CANCER TREATMENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/leezalee57/status/1795285915037995080"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >End stage prostate cancer cured with chlorine dioxide (oral &
      intravenous) and daily CD enemas. Told he would die in 10 months without
      chemo. He refused. He cleaned and oxygenated his body instead (CD
      oxygenates and oxidizes). This is basically the remedy for all diseases.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/DianaT192/status/1848123039877079536"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-100 font-bold hover:text-2xl hover:text-slate-800"
      >EVERY SINGLE THING that we were taught in the medical field was a lie.
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1808655239819710840"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >Good commentary on lumps, tumors and cancer. It comes down to detox. He
      says “clean your bowels” which is a remedy for many illnesses. Also, detox
      your kidneys and liver.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Oracle_ofMatrix/status/1777770253742645510"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >The same reason they don't want you to know that 99% of all cancers are
      microparasitic infections! Or, that you can cure your cancer like I did,
      twice, with a strict alkaline diet, supplements to clean your blood, and
      antiparasitic drugs to kill the microparasitic infections.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113534588736296581"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Autism Cancer</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/yummy_doctor/status/1859333395324571735"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >What if one natural remedy could ease pain, reduce inflammation, and
      support detoxification?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PierreKory/status/1852753746138431801"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Since 1964 the FDA knew DMSO was miraculous for incurable diseases like
      blindness and tinnitus.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#trillion"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >CANCER IS A 17 TRILLION DOLLAR BUSINESS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=250114"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-sky-900"
      >Mel Gibson on a non-standard cancer cure</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/bambkb/status/1748350211599036772"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Are parasites related to disease and cancer?
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/bambkb/status/1747974389369344209"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >“If you look at cancer under a light microscope, its essentially
      indistinguishable from parasite egg sacs”
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/snjegi333/status/1789756548589187151"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >The Untapped healing potential of DMSO!!! DMSO is an Absolute Pain
      Killer....Test it..you will thank me</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/BarryAn27934981/status/1795723499975426472"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >Why Holistic Chef Barry Anderson takes DMSO topically for any pain or
      discomfort of his muscles</span
    >
  </a>
</h5>
<CANCERDMSO />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://brightonjournal.co.uk/why-fenbendazole-is-a-human-anti-worm-and-anti-cancer-medicine/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-950 bg-white text-base hover:text-lg hover:text-gray-900"
      >Why Fenbendazole is a human anti-worm and anti-cancer medicine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238983"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >20 Signs of Parasite Infection in Your Body - Recognizing Common Symptoms
      of Human Parasites</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238984"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >EXTRA VERY IMPORTANT Symptoms of Tapeworm Infection</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238982"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >Dr. Bryan Ardis reveals BOMBSHELL findings about reptilian VENOM
      PEPTIDES... (I have recently started having trouble feeling
      breathless....)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/4000525b-5439-4b87-97d9-c551188a280d"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-gray-900"
      >PARASITE EGG SACS ☭ BEING DIAGNOSED AS CANCER (Dr. Bryan Ardis)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4ollu2-dr.-judy-mikovitz-reveals-shocking-truth-about-corruption-and-censorship-in.html?e9s=rel_v1_a"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-gray-900"
      >Dr. Judy Mikovits reveals shocking truth about CORRUPTION and censorship
      in SCIENCE...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239994"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-purple-700"
      >World's first vaccine created by Freemason?</span
    >
  </a>
</h5>
