---
import Tops from "./Tops.astro";
---

<Tops />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.mmsdetox.com.au/" rel="noopener" target="_blank"
    ><span class="text-amber-500 font-bold hover:text-2xl hover:text-green-900"
      >mmsdetox.com.au</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.nzwaterpurifier.com/index.cfm?fact=product"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500  font-bold hover:text-2xl hover:text-green-900"
      >www.nzwaterpurifier.com</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.purewaterau.com.au/" rel="noopener" target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >www.purewaterau.com.au</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.wps.land/" rel="noopener" target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >www.wps.land</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.onenesslabs.com.au/collections/frontpage"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-blue-900"
      >onenesslabs.com.au</span
    >
  </a>
</h5>
                               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
  <a href="./autism#autismone"
    ><span class="text-pink-500 hover:text-2xl hover:text-green-900"
      >AutismOne</span
    >
  </a>
        </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/cds-take#guide"
    ><span class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Chlorine Dioxide--a basic guide to get started.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/cds-take#know"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT WERE TOO
      AFRAID TO ASK 3min-10min.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/cds-take#clotwo"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What is ClO2, Chlorine Dioxide?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/autism#kerri2024"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Dangerous Dames | Ep.52: Out Of The Box And Off The Spectrum? w/ Kerri Rivera(15:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5iomat-dangerous-dames-ep.52-out-of-the-box-and-off-the-spectrum-w-kerri-rivera.html?"
      rel="noopener"
    target="_blank"
    ><span class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Dangerous Dames | Ep.52: Out Of The Box And Off The Spectrum? w/ Kerri Rivera(15:00)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
 <a href="./dmso#dmso"
    ><span class="text-yellow-500 font-bold hover:text-2xl hover:text-green-900"
      >How to Use DMSO as Rheumatoid Arthritis Relief</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://old.bitchute.com/video/8CkogO5oMAfD/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Clo2 - Chlorine Dioxide</span
    >
  </a>
</h5>
       <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://odysee.com/@Kerri-Rivera-Autism-Chlorine-Dioxide:7/What-is-CLO2-Chlorine-Dioxide:c"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 font-bold hover:text-2xl hover:text-red-700"
              >What is ClO2, Chlorine Dioxide?</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5jr3v8-chlorine-dioxide-a-basic-guide-to-get-started..html?"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 text-base hover:text-lg hover:text-green-900"
      >Chlorine Dioxide--a basic guide to get started.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.naturalnews.com/2023-09-21-dr-merritt-parasites-toxins-root-cause-diseases.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Merritt Medical Hour: PARASITES and TOXINS are often the root cause of disease – Brighteon.TV</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://drsircus.com/chlorine-dioxide/periodontitis-chlorine-dioxide-and-cardiovascular-disease/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Periodontitis, Chlorine Dioxide and Cardiovascular Disease</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://drsircus.com/general/revision-of-the-three-golden-rules-of-chlorine-dioxide/"
      rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-600"
      >Revision of the Three Golden – Rules of Chlorine Dioxide</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#five"

    ><span class="text-blue-500 bg-pink-200 font-bold hover:text-2xl hover:text-green-600"
      >Five Amazing Recoveries With THE UNIVERSAL ANTIDOTE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#podcast"

    ><span class="text-blue-500 bg-pink-100 font-bold hover:text-2xl hover:text-sky-600"
      >Dr. Andreas Kalcker and Laurence Easeman, This Podcast Will Save Lives, CHLORINE DIOXIDE - THE UNIVERSAL ANTIDOTE
</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#documentary"

    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-600"
      >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#theuniversalantidote"

    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-600"
      >The Science and Story of Chlorine Dioxide https://theuniversalantidote.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://theuniversalantidote.com/wp-content/uploads/2022/12/The-Ultimate-Guide-to-Chlorine-Dioxide-v1.4.pdf"
      rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-600"
      >The-Ultimate-Guide-to-Chlorine-Dioxide-v1.4.pdf</span
    >
  </a>
</h5>
             <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/vdey7t-the-universal-antidote.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >The Universal Antidote</span
            >
          </a>
        </h5>

                     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.henrymakow.com/2021/10/is-chlorine-dioxide-a-miracle-cure.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-600 font-bold hover:text-2xl hover:text-green-900"
              >Is Chlorine Dioxide a Miracle Cure?</span
            >
          </a>
        </h5>

                        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://bit.ly/UniversalAntidoteCourse"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-400 text-base hover:text-lg hover:text-green-900"
              >Free Course and Guidebook:</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://andreaskalcker.com/en/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >andreaskalcker.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://saludprohibida.com/en/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >www.forbiddenhealth.com</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vaccineimpact.com/2019/autism-can-be-cured-how-to-use-the-chlorine-dioxide-protocol-to-recover-broken-lives/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-gray-100 text-base text-justify hover:text-lg hover:text-green-900"
      >Autism can be Cured – How to use the Chlorine Dioxide Protocol to Recover Broken Lives</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://organiclifestylemagazine.com/autism-down-syndrome-and-other-genetic-disorders"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-gray-100 text-base text-justify hover:text-lg hover:text-green-900"
      >Autism, Down Syndrome, and Other Genetic Disorders(DMSO)</span
    >
  </a>
  </h5>

          <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/6IWnF0jJWb5L/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 text-base hover:text-lg hover:text-red-700"
              >MEDICAL FREEDOM UNDER ATTACK - CHLORINE DIOXIDE SELLERS AND USERS
              PERSECUTED</span
            >
          </a>
        </h5>

