---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <CERN /> -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#stargate"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >STARGATE (1994) | Activating The Portal | MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#official"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Official Brand Logo | Orion (2022)| MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#stargate"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >STARGATE (1994) | Best of James Spader as Daniel Jackson | Compilation
      |MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#sudan"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >STARGATE FOUND IN SUDAN 🇸🇩 in 1928..</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#worker"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >area 51 worker gets drunk and tells the truth about ufo's part 1</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#group"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >ALEX COLLIER REVEALS: THE ORION GROUP'S MYSTERIOUS EVOLUTION ORIGINS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#conspiracy"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >ORiON Conspiracy UK Film HD</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#iraq1"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-2xl hover:text-purple-900"
      >Enki and Enlil - SADDAM HUSSEIN HAD AN ANNUNAKI STARGATE and TECHNOLOGY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=248366"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-blue-900"
      >THE STARGATE IN IRAQ....</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/live/-soZTOXZKWo"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-blue-900"
      >"I Found Out Who REALLY Built The Pyramids And I Brought Proof" Graham Hancock Leaves World STUNNED Narrative</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#cern1"
    ><span
      class="text-green-900 bg-yellow-200 font-black hover:text-2xl hover:text-purple-900"
      >CERN: Where Science and the Supernatural Collide - PORTAL / Gateway</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1824503779439550851"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Swiss scientist, Dr Astrid Stuckelberger, confirmed what Pleiadians told
      us about CERN:</span
    >
  </a>
</h5>
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./billwood#looking"
    ><span
      class="text-sky-400 font-bold hover:text-2xl hover:text-sky-700"
      >PROJECT LOOKING GLASS: EX-NAVY SEAL BILL WOOD EXPLAINS THE CONVERGENCE OF TIMELINES & STRING THEORY</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1733844608336155043"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What is the dark occult purpose of the Large Hadron Collider (CERN)? As
      Pleiadians continually teach us, humans have the power to overcome any
      evil.
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1852708193085907061"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >All Pleiadians are 'of Elohim' and all Elohim originated in 12D and created themselves and their civilization from nothing.</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ronin19217435/status/1815611702274064539"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-sky-800"
      >ANNUNAKI They planning comeback</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251367"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-slate-800"
      >2-9-24: Q) The Storm Rider - Major Posts - STARGATE IS MUCH MORE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4ymxjc-satanic-nazi-jew-evil-hadron-collider-cern-is-now-obliterated-into-oblivion.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Satanic Jewish NAZI evil Hadron Collider CERN is Totally Obliterated by
      50 USC 1550 into Oblivion - #WWG1WGA #SemperSupra. Sincerely, John F.
      Kennedy</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#portal"
    ><span
      class="text-sky-500 bg-slate-100 font-bold text-justify hover:text-2xl hover:text-green-900"
      >This is Huge! Portal Into The Unknown | Paul Wallis & Mauro Biglino -
      Bible Translations Ep 5 | Olam</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big
      Event and even more Chaos(Bibles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus2"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >JESUS IS COMING 2(ASTRO THEOLOGY)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#smoking"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >The Smoking Gun! The Bible is NOT About What You Think it is! Mauro
      Biglino & Paul Wallis Ep 6 Kavod</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=x3h7xz558EY"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >STARGATE (1994) | Activating The Portal | MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@MGMStudios" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=5tuDilHA9Do"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Alex Collier Reveals: The Orion Group's Mysterious Evolution Origins</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@OrionPictures"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Orion Pictures</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >You Will Be Stunned By This Information! Finally We Can Begin To
      Understand!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=mxOfEFPuU5I"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-purple-700"
      >This is Huge! Portal Into The Unknown | Paul Wallis & Mauro Biglino -
      Bible Translations Ep 5 | Olam</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=ALmXC9oGFSw"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-purple-700"
      >The Smoking Gun! The Bible is NOT About What You Think it is! Mauro
      Biglino & Paul Wallis Ep 6 Kavod</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/l7HXzy1nTBbk/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >JESUS IS COMING 2(ASTRO THEOLOGY)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=tqZTbKtooqk"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >STARGATE (1994) | Best of James Spader as Daniel Jackson | Compilation
      |MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=kgmanZphjyA"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >THE KNOWLEDGE OF THE FOREVER TIME (Episode #5) THE STARGATE
    </span>
  </a>
</h5>
