---
import Police from "./Police.astro";
import Tops from "./Tops.astro";
---


<!-- <CHRISTIAN21 /> -->
<Police />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#nothing"
    ><span
      class="text-blue-400 bg-yellow-300 font-black hover:text-2xl hover:text-purple-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#returned"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#nine"
    ><span
      class="text-blue-400 bg-yellow-300 font-black hover:text-2xl hover:text-purple-900"
      >CHRISTIAN21 IN DESCRIPTION</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/beyond-science/2022/02/the-reversal-of-the-1871-act-of-england-storm-happening-now-truth-sets-you-free-1776-common-law-worldwide-suppressed-quantum-technologies-2454337.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-justify font-bold hover:text-2xl hover:text-green-900"
      >The Reversal of the 1871 Act of England! - Storm Happening Now! - Truth
      Sets You Free! - 1776 Common Law Worldwide - Suppressed Quantum
      Technologies</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/prophecy/2022/10/kim-clement-trump-prophecies-trump-shall-become-a-trumpet-2534683.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-justify font-bold hover:text-2xl hover:text-green-900"
      >Kim Clement: Trump Prophecies "Trump Shall Become a Trumpet"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vnhreh-10-08-21-ppn-at-12pm-cst-1pm-est-also-on-rumble-twitch-our-website-and-patr.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 text-base text-justify hover:text-lg hover:text-green-900"
      >Trump Prophecies | Kim Clement Trump Prophecies "Trump Shall Become a
      Trumpet (2007),"How Can We Have Two Presidents?” Impeachment Attempts, a
      President for Two Terms, Take the Giant Down, GOLD, Little DWARF In North
      Korea, Man Named Donald</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=-rH7pwsGLCU&list=PLvt06LwIldOLwZ_kXHmYCxELC5uBvk_G_&index=11"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Kim Clement Prophecies - Trump, The Stone, Inoculations, Putin |
      Prophetic Rewind</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/news-alert-more-proof-youre-watching-a-military-occupation-and-continuity-of-operations-derek-johnson-video/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-700 text-justify font-bold hover:text-2xl hover:text-green-900"
      >News Alert: More Proof you’re Watching a Military Occupation and
      Continuity of Operations – Derek Johnson VIDEO</span
    >
  </a>
</h5>
