---
---

<br />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/no_one_quits/status/1737975353845362729?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >In New Zealand, one doctor alone has killed 400 people with The ClotShot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/JimFergusonUK/status/1738167067864395863?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >Massive Excess Deaths: New Zealand</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/ColDax701/posts/111564638590244229"
    rel="noopener"
    target="_blank"
    ><span class="text-green-400 text-base hover:text-lg hover:text-purple-700"
      >Database administrator Barry Young found that one individual who
      vaccinated a large number of people had 400 deaths tied to her name.</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">....</p>
