---
import EAR from "./EAR.astro";

---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VigilantFox/status/1734356375155638525"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >In New Zealand, one doctor alone has killed 400 people with The ClotShot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#dying"
    ><span
      class="text-sky-900 bg-yellow-300 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Exclusive! "People Were Dying Within Hours From The Shots" Warns Hospital
      Whistleblower</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#diatomaceousnano"
    ><span class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
      >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#swiss"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >NOTICE:🇨🇭 Covid BioWeapon Vaxx Doctors & Nurses in Swiss Territory -
      50USC1550 - EO13818 - Executions</span
    >
  </a>
</h5>

<EAR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/JimFergusonUK/status/1738167067864395863?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-700"
      >Massive Excess Deaths: New Zealand</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#nanotech"
    ><span
      class="text-sky-700 bg-red-200 text-base hover:text-lg hover:text-blue-700"
      >Bill Gates Admits the Shots Contain Nanotech</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/ColDax701/posts/111564638590244229"
    rel="noopener"
    target="_blank"
    ><span class="text-green-400 text-base hover:text-lg hover:text-purple-700"
      >Database administrator Barry Young found that one individual who
      vaccinated a large number of people had 400 deaths tied to her name.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/RJohnL/posts/112286751832484492"
    rel="noopener"
    target="_blank"
    ><span class="text-green-400 text-base hover:text-lg hover:text-purple-700"
      >Confirmed: Researchers Reveal COVID mRNA Vaccines Contain Component that
      Suppresses Immune Response and Stimulates Cancer Growth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.thegatewaypundit.com/2024/04/researchers-reveal-covid-mrna-vaccines-contain-component-that/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-400 text-base hover:text-lg hover:text-purple-700"
      >Confirmed: Researchers Reveal COVID mRNA Vaccines Contain Component that
      Suppresses Immune Response and Stimulates Cancer Growth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239994"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-purple-700"
      >World's first vaccine created by Freemason?</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">....</p>
