---
---

<br />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/no_one_quits/status/1737975353845362729?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-left text-xl font-bold hover:text-2xl hover:text-purple-700"
      >In New Zealand, one doctor alone has killed 400 people with The ClotShot</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">....</p>
