---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >MATRIX FOR DUMMIES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WILLIAM TOMPKINS THE ABDUCTION, HARVESTING AND EATING OF CHILDREN BY THE
      DRACO REPTILIAN ILLUMINATI</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#cloned"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Situation Update and Thailand Ascension Conference</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">
  Below them are about 50,000 Draconians in cloned humanoid bodies
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#races"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ILLUMINATI RACES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#contact"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ALIEN CONTACT THE GOVERNMENT COVER-UP THE HIDDEN HAND | FULL DOCUMENTARY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#whitewall"
    ><span class="text-gray-400 font-bold hover:text-green-900"
      >[23 July 2021] The White Wall. ... What's behind it? Penny Kelly</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#marshall"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law - How Earth came under control of the Draco 16,500
      years ago...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#goode"
    ><span class="text-gray-400 font-bold hover:text-green-900"
      >COREY GOODE MEETING WITH DRACO/REPTILIAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#kelley1"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Steven D. Kelley - Underground City at the Getty Museum (2012)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-purple-900"
      >Cosmic Interstellar Human Trafficking (TONY RODRIGUES)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dwight#ike"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900"
      >Dwight ‘Ike’ Eisenhower</span
    >
  </a>
</h5>
