---
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
import Whitewall from "./Whitewall.astro";
---

<Tops />
<!-- <Cosmic /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#alex1994"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Alex Collier Interview (1994)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#caged"
    ><span
      class="text-sky-400 bg-white font-bold hover:text-2xl hover:text-green-900"
      >2,100 CAGED KIDS RESCUED BY U S MARINES FROM UNDERGROUND TUNNELS IN
      CALIFORNIA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#controlled"
    ><span
      class="text-blue-700 bg-emerald-100 text-justify font-bold hover:text-2xl hover:text-green-900"
      >A Message From JFK Jr.The deep state has always used infiltration as a
      means of their control. By installing their puppets, they try to keep
      everyone controlled in each program.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#deeper"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >This goes DEEPER than you think It's Gonna Be Biblical Q 3828 T
      HOLMSETH@The High Command@Smoakpipe</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#forest"
    ><span
      class="text-sky-500 bg-pink-100 font-bold hover:text-2xl hover:text-sky-900"
      >USA, A toddler notices aliens in the forest and she shows her father that
      they are there.This footage is true.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS(8:18)(14:00)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#everything"
    ><span
      class="text-sky-500 bg-purple-100 font-bold hover:text-2xl hover:text-sky-900"
      >It’s old energy. They knew everything about humans, but ordinary humans
      knew very little about them.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#snake"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Yes, real life snake.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#anunnaki"
    ><span
      class="text-sky-500 bg-emerald-200 font-bold hover:text-2xl hover:text-sky-900"
      >DO YOU THINK THE ANUNNAKI EXISTED? WERE THE WATCHERS MENTIONED IN THE
      BIBLE? DID THEY HYBRIDIZE HUMANS?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#aging"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >The modern human lifespan has been severely manipulated to accelerate
      aging and productivity. Optimized for maximum profits for the reptilian
      masters.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-sky-600"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Tory Smith</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#jfksr"
    ><span
      class="text-sky-500 font-bold text-justify bg-emerald-100 hover:text-2xl hover:text-sky-900"
      >ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI BLOODLINES! JFK
      SR IS Q!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#commander"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#dragons"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >HERE IS A FOLLOW UP FROM MY PREVIOUS POST ABOUT DRAGONS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dwight#ike"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >IKE’S role in agreements reached with Aliens Revealed by Great
      Granddaughter in New Book</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://ok.ru/video/6937011292757" rel="noopener" target="_blank"
    ><span
      class="text-orange-500 bg-white text-base hover:text-lg hover:text-green-900"
      >LAURA EISENHOWER 2018׃ Alien Races, Transhumanism, 13th Zodiac | The BEST
      interview on YouTube! [HD 720p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://allthatsinteresting.com/moloch"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
      >The True History Of Moloch, The Ancient God Of Child Sacrifice</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#harvesting"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >Phil Schneider: Alien Adrenochrome Harvesting</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#trafficking"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Hollywood Human Trafficking
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Remote Viewing the E.T. Presence and Secret Space Programs (Courtney
      Brown)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#tony"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >TONY RODRIGUES | Evidence Of A Secret Space Program | Journey To Truth
      Conference (5/23/23)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./flat-earth#aquino"
   
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-blue-600"
      >Michael Aquino (Satanist) created the flat earth psyop</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
      >Journey to Truth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2nuh1k-ex-men-in-black-death-bed-confession.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
      >EX-MEN IN BLACK DEATH BED CONFESSION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3ecnul-a-whistleblower-organized-the-release-of-30-photos-and-videos-and-set-of-pa.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-lg font-bold hover:text-2xl hover:text-green-900"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v39gvzn-a-full-length-documentary-on-the-question-are-aliens-in-charge-of-our-world.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-pink-100 text-lg font-bold hover:text-2xl hover:text-green-900"
      >'A Full Length Documentary On The Question - Are Aliens In Charge Of Our
      WORLD?' - 2013</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5b9iwx-ancient-canaanite-occultism-modern-maltas-serpent-priests-mystery-full-docu.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-pink-100 text-lg font-bold hover:text-2xl hover:text-green-900"
      >Ancient Canaanite Occultism: Modern Malta's Serpent Priests Mystery (Full
      Documentary) #lovecraft</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5c3471-this-cia-officer-finally-breaks-silence-on-ufo-and-alien-evidence.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-pink-100 text-lg font-bold hover:text-2xl hover:text-green-900"
      >This CIA Officer FINALLY Breaks Silence On Reptilians, UFO And Alien
      Evidence</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1o3ztm-whos-out-there-documentary-about-extraterrestrial-life-narrated-by-orson-we.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
      >Who's Out There - Documentary About Extraterrestrial Life (narrated by
      Orson Welles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v45lfy3-do-aliens-experiment-on-humans-full-alien-ufo-documentary.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
      >Do Aliens Experiment On Humans? | Full Alien UFO Documentary</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4f6rb0-secret-underground-facility-dulce-base-secret-space-program.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold hover:text-2xl hover:text-green-900"
      >Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v32umak-timothy-alberino-congress-ufo-disclosure-with-timothy-alberino-and-richard-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-lg font-bold hover:text-2xl hover:text-green-900"
      >Timothy Alberino - Congress UFO Disclosure with Timothy Alberino and
      Richard Dolan</span
    >
  </a>
</h5>

<Whitewall />
<Nagasone />
