---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <CrowdStrikeL /> -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >The Movie</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./crowdstrike#crowdstrike"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >CrowdStrike Destroyed The Internet</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./crowdstrike#drops"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >CROWDSTRIKE mentioned 19 times in drops - Pause and read at your leisure</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#batman"
    ><span
      class="text-sky-500 bg-red-100 font-bold hover:text-2xl hover:text-green-900"
      >SLOW MOTION BATMAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/christian_tail/status/1814299095261147448"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Full of zeros at least.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/TestDummy04/status/1814675188115542091"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >CrowdStrike Could lead to a blackout I'm just sayin...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/LauraLoomer/status/1814320485674463707?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >🚨🚨🚨Did you know that the President of CrowdStrike Services and the
      Chief Security Officer served as the Executive Assistant Director of the
      FBI under the Obama-Biden administration? 🚨🚨🚨</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >CHEVRON DOCTRINE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#shots"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >SHOTS HEARD(0:35)(1:45)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v57kvct-crowdstrike-mentioned-19-times-in-drops-pause-and-read-at-your-leisure.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CROWDSTRIKE mentioned 19 times in drops - Pause and read at your leisure</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=3VSzbkQGYgs"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-blue-900"
      >Easy Way to Fix Windows Blue Screen Death Issue No Safe Mode
      (CrowdStrike)</span
    >
  </a>
</h5>
