---
---

<br />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@JustinianDeception"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base    hover:text-purple-900"
      >Justinian Deception</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./justinian-deception#older"
    ><span class="text-blue-700 text-base    hover:text-purple-900"
      >AN-OLDER-CODE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./justinian-deception#police"
    ><span class="text-blue-700 text-base    hover:text-purple-900"
      >POLICE-ARE-NOT-GOVERNMENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./justinian-deception#finance"
    ><span class="text-green-500 text-base    hover:text-gray-900"
      >FINANCE FEAR, COMPETITION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./justinian-deception#proclamation"
    ><span class="text-blue-700 text-base    hover:text-purple-900"
      >PROCLAMATION License To Be Killed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span
      class="text-blue-900 cursor-pointer hover:text-white hover:bg-lime-900 text-transform: uppercase"
      >corporation</span
    ></a
  >
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-pink-500 font-bold    hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#everywhere"
    ><span
      class="text-blue-500 text-lg font-bold    hover:text-red-700"
      >Orion is everywhere</span
    >
  </a>
</h5>
