---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./qqqq#qthestormm"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#wordpress"
    ><span class="text-green-900 hover:text-2xl hover:text-green-900">JFK</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/VFwHvf9SD4eZ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >THE CHANGE IS COMING WITH GENE DECODE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/09/gene-decode-change-is-coming/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Gene Decode: Change is Coming</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/3wqstjCcFYSq/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >A NEW ERA IS ABOUT TO COME - SHAOLIN MASTER SHI HENG YI</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-justify text-black">(9 Apr 2024)</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
