---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER - LINDA
      MOULTON HOWE - DAVID PAULIDES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#brand"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Can We TRUST Russell Brand? Is He a Freemason / Illuminati Puppet?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#trash"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Who actually writes the children's books and screenplays for movies and
      what is their agenda(Max Spiers)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >CABAL AGENDA that is not going to happen</span
    >
  </a>
</h5>
