---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER - LINDA
      MOULTON HOWE - DAVID PAULIDES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#brand"
    ><span
      class="text-sky-500 bg-red-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Can We TRUST Russell Brand? Is He a Freemason / Illuminati Puppet?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#books"
    ><span
      class="text-sky-500 bg-red-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Who actually writes the children's books and screenplays for movies and
      what is their agenda(Max Spiers)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-sky-500 bg-purple-200 font-bold text-justify hover:text-2xl hover:text-purple-900"
      >CABAL AGENDA that is not going to happen</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=fvmGgnV1ce0&t=2s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-red-700"
      >Bases 59 Part 1 Max Spiers Solo(25:00)</span
    >
  </a>
</h5>
