---
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239425"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#demon"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/zA4ermUoNko"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Demon Caught on Camera! Crawls Into Church during Bishop Mari Incident!
      😢</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@MotherandRefuge"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Mother & Refuge of the End Times</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=C_mRTDeYw-g"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Smirking Sydney 'terrorist' was released on 'good behaviour' for knife
      crime before church stabbing</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/stillgray/status/1782599787092857238"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-justify text-xl font-bold hover:text-2xl hover:text-green-900"
      >This is why the media wants to silence Bishop Mar Mari Emmanuel and why
      they were so quick to try and discredit him after the attack in Sydney’s
      west. Does it make sense yet?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/JamesPorrazzo/status/1780217124700459018"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-justify text-xl font-bold hover:text-2xl hover:text-green-900"
      >Orthodox Bishop Mar Mari Emmanuel sends a message to Andrew Tate: "Christ
      is a Warrior. You have made a big mistake—the worst mistake of your life.
      Return to Christ!"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=rcjKENGKrFo"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >‘Absolute disgrace’: Sky News host blasts police commissioner’s social
      media censorship</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#sunglasses"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >LIKE THE SUNGLASSES FROM “THEY LIVE” - THE MILITARY HAS GOGGLES THAT CAN
      SEE DEMONS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#glasses"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >REAL-LIFE "THEY LIVE" GLASSES, Spectroscopy and the Occult</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stargatenewsletter.blogspot.com/2024/04/sydney-mall-mass-killing.html"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-600 font-bold hover:text-2xl hover:text-green-900"
      >Sydney Mall Mass Killing
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-purple-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<Nagasone />
