---
import Exopolitics from "./Exopolitics.astro";
import FOUR from "./FOUR.astro";
import MOON from "./MOON.astro";
import SWAMP from "./SWAMP.astro";
import Tops from "./Tops.astro";
---

<Tops />
<!-- <DISCLOSURELIST /> -->

<FOUR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./disclosure#disclosure"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-white text-base hover:text-lg hover:text-purple-900"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v611tik-full-disclosure-coming-in-early-2025-many-dont-believe-in-ufos-or-aliens-pr.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-base hover:text-lg hover:text-green-900"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=2pdMsMEQAKI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-800 font-bold hover:text-2xl hover:text-emerald-700"
      >Global Space Force, Cryptos, & Boarding Ships: Alex Collier Shares Answers You Can’t Miss!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#biggest"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Linda Moulton Howe Reveals Some of the Biggest Secrets EVER Discovered</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./aliens#they"
    ><span
      class="text-green-500 bg-purple-200 text-base hover:text-lg hover:text-green-900"
      >THEY ARE COMING! Anonymous FINALLY Breaks Silence On Aliens</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#reptilians"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#spacepower"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-sky-900"
      >Schriever Spacepower Series: Gen Stephen Whiting</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#reptilians"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Shocking Evidence of Earth-Based Reptilians & Alien Technologies
      Revealed!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-sky-500 bg-pink-50 font-bold hover:text-2xl hover:text-sky-900"
      >REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related
      links in description)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=ColJg6lUtws"
     rel="noopener"
    target="_blank"
    ><span class="text-orange-700 bg-slate-300 font-bold hover:text-green-900"
      >You Won’t Believe Who’s Actually Controlling Reality Right Now Ethereal Wisdom(One of those guardians was Credo Mutwa.)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.newdawnmagazine.com/articles/ufos-unexplained-phenomena/credo-mutwa-the-alien-agenda-ufos-alien-abduction-in-the-eyes-of-a-zulu-shaman"
     rel="noopener"
    target="_blank"
    ><span class="text-orange-700 bg-slate-300 font-bold hover:text-green-900"
      >Credo Mutwa & the Alien Agenda: UFOs & Alien Abduction in the Eyes of a Zulu Shaman</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/JJ8E3jIysUvl"
     rel="noopener"
    target="_blank"
    ><span class="text-orange-700 bg-slate-300 font-bold hover:text-green-900"
      >David Icke & Credo Mutwa -- The Reptilian Agenda (Part One)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#overlords"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#underground"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >REPTILIAN UNDERGROUND BASES, STARTGATES & ABDUCTIONS - DAVID ECKHART
      INTERVIEW WITH JAMES BARTLEY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#spaceforce"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Pascal Najadi DISCLOSURE 🎁 70 years planning #STORM ⚡️ #SemperSupra</span
    >
  </a>
</h5>

<SWAMP />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#nordics"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JP Update 33 - Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#secrecy"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >The Vatican has for decades been a major player in UFO secrecy due to its
      global intelligence network.</span
    >
  </a>
</h5>
<MOON />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://exopolitics.org/jp-update-33-nordics-training-international-military-pilots-to-fly-flying-saucers/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-white text-base hover:text-lg hover:text-purple-900"
      >JP Update 33 – Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5a48g1-pascal-najadi-disclosure-70-years-planning-storm-sempersupra-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-purple-900"
      >Pascal Najadi DISCLOSURE 🎁 70 years planning #STORM ⚡️ #SemperSupra 🤝🇺🇸💫</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://tass.com/russia/1167105" rel="noopener" target="_blank"
    ><span
      class="text-red-500 bg-slate-100 font-bold hover:text-2xl hover:text-purple-900"
      >Putin to attend flag hoisting ceremony, present Hero of Labor awards</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.newsfromtheperimeter.com/home/2021/6/2/australia-where-the-globalized-satanic-pedophilia-network-thrives-like-no-other"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-slate-100 font-bold hover:text-2xl hover:text-purple-900"
      >Australia: Where the Globalized Satanic Pedophilia Network Thrives Like
      No Other</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#cloning"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >Human cloning was used as the main infiltration by the reptilians.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.humorousmathematics.com/post/the-executed-clones-doubles-vril-lizard-reptilian-parasites"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-white font-bold hover:text-2xl hover:text-purple-900"
      >The Executed: Clones, Doubles, & Vril Lizard Reptilian Parasites</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#spaceforce"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Pascal Najadi DISCLOSURE 🎁 70 years planning #STORM ⚡️ #SemperSupra</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/02/17/dr-michael-salla-shocking-evidence-of-earth-based-reptilians-and-alien-technologies-revealed/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-gray-100 text-base hover:text-lg hover:text-green-900"
      >Dr. Michael Salla — Shocking Evidence of Earth-Based Reptilians and Alien
      Technologies Revealed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/docsalla/1315" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-gray-100 text-base hover:text-lg hover:text-sky-700"
      >The Vatican has for decades been a major player in UFO secrecy due to its
      global intelligence network.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/docsalla/1316" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-gray-100 text-base hover:text-lg hover:text-sky-700"
      >World Religions, Galactic Trade, Ascension and the Faithful</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/9jaxge6WlPqH/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-gray-100 text-base hover:text-lg hover:text-red-900"
      >REPTILIAN UNDERGROUND BASES, STARTGATES & ABDUCTIONS - DAVID ECKHART
      INTERVIEW WITH JAMES BARTLEY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.thecosmicswitchboard.com/2024/03/22/reptilian-bases-abductions-stargates/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-gray-100 text-base hover:text-lg hover:text-sky-800"
      >Secret Reptilian Underground Bases, Startgates & Abductions – David
      Eckhart Interview</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/user/thecosmicswitchboard"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-gray-400 text-base hover:text-lg hover:text-green-900"
      >thecosmicswitchboard</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/29/dr-michael-salla-jp-update-33-nordics-training-international-military-pilots-to-fly-flying-saucers/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-gray-400 text-base hover:text-lg hover:text-green-900"
      >Dr. Michael Salla — JP Update 33: Nordics Training International Military
      Pilots to fly Flying Saucers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/29/new-us-military-whistleblower-claims-to-have-met-with-extraterrestrials/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-gray-100 text-base hover:text-lg hover:text-green-900"
      >New US Military Whistleblower Claims to have met with Extraterrestrials</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4w2djq-ancient-reptilian-shapeshifter-alien-overlords-hiding-among-us.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-gray-100 text-base hover:text-lg hover:text-green-900"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4dwife-shocking-evidence-of-earth-based-reptilians-and-alien-technologies-revealed.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-green-900"
      >Dr. Michael Salla — Shocking Evidence of Earth-Based Reptilians and Alien
      Technologies Revealed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/MichaelSalla/status/1758810350328140088?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Shocking Evidence of Earth-Based Reptilians & Alien Technologies
      Revealed! - Exopolitics Today Week in Review – Feb 17, 2024</span
    >
  </a>
</h5>
<!-- <Exopolitics /> -->
<Exopolitics />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big
      Event and even more Chaos</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#overlords"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-red-700"
      >Linda Moulton Howe</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-red-700"
      >Dr. Michael Salla</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
