---
import Tops from "./Tops.astro";
---

<Tops />
<!-- Dmsoitems -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://wpsaustralia.org/" rel="noopener" target="_blank"
    ><span class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
      >wpsaustralia.org</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.mmsdetox.com.au/" rel="noopener" target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >mmsdetox.com.au</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.purewaterau.com.au/" rel="noopener" target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >www.purewaterau.com.au</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.ebay.com.au/str/thediscountstoreau"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-600 text-lg hover:text-2xl hover:text-green-900"
      >ebay-au-thediscountstoreau</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.ebay.com.au/itm/265301236417?"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >DMSO 99.9% Premium Low Odour Pure Pharmaceutical Grade Dimethyl Sulfoxide
      BULK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.ebay.com.au/itm/133415233627?"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide Grade
      Solvent</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.dmso.org/" rel="noopener" target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >Welcome to the Dimethyl Sulfoxide (DMSO) information center</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.purewaterau.com.au/" rel="noopener" target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >www.purewaterau.com.au</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/LTR-Dimethyl-Sulfoxide-DMSO-67-68/dp/B0B9KPCM5M/"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >1 LTR Dimethyl Sulfoxide DMSO CAS# 67-68 - 5 (1000ml)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/s?me=ASBIAKBHUI6VM&marketplaceID=A39IBJ37TRP1C6"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-500 text-base hover:text-lg hover:text-green-900"
      >AXENIC AUSTRALIA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.ebay.com.au/itm/133415233627"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-600 text-base hover:text-lg hover:text-green-900"
      >500ml DMSO Liquid 99.9% Pure Pharmaceutical Dimethyl Sulfoxide Grade
      Solvent</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=246869"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 bg-gray-200 font-bold hover:text-2xl"
      >DMSO Is a Miraculous Therapy for Chronic Pain and Musculoskeletal
      Injuries</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.lewrockwell.com/2024/10/no_author/dmso-is-a-miraculous-therapy-for-chronic-pain-and-musculoskeletal-injuries/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 bg-gray-200 font-bold hover:text-2xl"
      >DMSO Is a Miraculous Therapy for Chronic Pain and Musculoskeletal
      Injuries(LewRockwell.com)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PierreKory/status/1840121002233090452"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 bg-gray-200 font-bold hover:text-2xl"
      >If DMSO was used for strokes and spinal cord injuries, millions would be
      spared from death, paralysis, and disability.</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.earthclinic.com/cures/fractures.html"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Hip Fracture | Bone Fracture Remedies</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://alivenhealthy.com/2022/03/14/how-to-use-dmso-with-cds-mms-or-as-a-stand-alone-medicine/"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-600 text-base hover:text-lg hover:text-green-900"
      >How to Use DMSO with CDS / MMS or as a Stand-Alone Medicine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://alivenhealthy.com/2022/03/14/how-to-use-dmso-with-cds-mms-or-as-a-stand-alone-medicine/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >How to Use DMSO: Stories and Examples</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
  Injuries treated with DMSO heal very quickly <br />
  in comparison with injuries treated with <br />
  Neomycin or alcohol or other antimicrobial agents.<br />
  DMSO is an antimicrobial that fosters healing. <br />
  It can even promote faster bone growth <br />
  following fractures.
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://alivenhealthy.com/2022/03/14/how-to-use-dmso-with-cds-mms-or-as-a-stand-alone-medicine/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >-Nose Drops / Sinus Infection Remedy-</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
  -Nose Drops / Sinus Infection Remedy-
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://alivenhealthy.com/2022/03/14/how-to-use-dmso-with-cds-mms-or-as-a-stand-alone-medicine/"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-600 text-base hover:text-lg hover:text-green-900"
      >How to Use DMSO with CDS / MMS or as a Stand-Alone Medicine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.sott.net/article/228453-DMSO-The-Real-Miracle-Solution"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >DMSO - The Real Miracle Solution</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=229738"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >My suggestion: DMSO</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://herbalmana.com/blogs/herbal-mana-blog/dmso-for-arthritis"
    rel="noopener"
    target="_blank"
    ><span class="text-amber-600 text-base hover:text-lg hover:text-green-900"
      >DMSO for Arthritis</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>

<!-- Dmsoitems -->
