---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#custodians" rel="noopener" target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-purple-700"
      >178 Worlds under The Great Dome</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/tnStBUoQlpR4/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-purple-700"
      >THE CUSTODIANS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/111406635027827249/media/1"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-purple-700"
      >178 Worlds under The Great Dome</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
  178 Worlds under The Great Dome
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/alternative/2016/06/flat-earth-psyop-cia-blackop-designed-to-destroy-the-truth-movement-3368959.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >Flat Earth PSYOP:CIA Black Op Designed to Destroy the Truth Movement</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=TmHVVZBmHTM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Antarctica causes so many problems for Flat Earth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/25/flat-earth-ya/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-800 bg-gray-300 text-base hover:text-2xl hover:text-red-700"
      >Flat Earth Ya?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://themillenniumreport.com/2016/03/the-flat-earthers-are-being-sent-into-every-real-truth-movement-to-disrupt-and-destroy-them/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >The Flat Earthers Are Being Sent Into Every Real Truth Movement To
      Disrupt And Destroy Them</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://themillenniumreport.com/2016/01/flat-earth-theory-demonstrates-the-alarming-gullibility-of-people-everywhere/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >FLAT EARTH ‘THEORY’ Demonstrates The Alarming Gullibility Of People
      Everywhere</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://themillenniumreport.com/2016/01/flat-earth-theory-fabricated-by-tptb-to-distract-from-planet-x/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >Flat Earth Theory Fabricated By TPTB To Distract From Planet X</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://cosmicconvergence.org/?p=607" rel="noopener" target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >Global Control Matrix Revealed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#harzan"
    ><span
      class="text-blue-400 text-xl font-bold hover:text-2xl hover:text-red-700"
      >UFO News - Meet MUFON's New Executive Director Jan Harzan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/Forbidden_History_tg/148" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >1958 Enciclopedia Britannica Volume 2 A - explains how there is a dome at
      the end of Antarctica.</span
    >
  </a>
</h5>

<p class="mb-4 text-black">
  Remember what Ben Rich asked a colleague,<br /> who answered that all points in
  space and time are connected.<br /> That is why we could take ET home, even back
  then.
</p>
