---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#custodians" rel="noopener" target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-purple-700"
      >178 Worlds under The Great Dome</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/tnStBUoQlpR4/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-purple-700"
      >THE CUSTODIANS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/111406635027827249/media/1"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-purple-700"
      >178 Worlds under The Great Dome</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
  178 Worlds under The Great Dome
</p>
