---
import CH21 from "./CH21.astro";
import Highest from "./Highest.astro";
import JFKMEME from "./JFKMEME.astro";
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<Nagasone />
<!-- <DULCEL /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold      hover:text-sky-900"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 bg-pink-200 font-bold      hover:text-sky-900"
      >THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS(8:18)(14:00)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-gray-800">
  1954 THE GREADA TREATY Tall Graeys(18:55)
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#underground"
    ><span
      class="text-sky-500 bg-emerald-200 font-bold      hover:text-sky-900"
      >Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM</span
    >
  </a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@ForEverFree:3/Phil-Schneider%EF%BC%9A-Alien-Adrenochrome-Harvesting:3"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088]      hover:text-green-900 hover:bg-white"
    >Phil Schneider: Alien Adrenochrome Harvesting</span
  >
</a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#castello"
    ><span
      class="text-sky-500 bg-emerald-200 font-bold      hover:text-sky-900"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-sky-500 bg-emerald-200 font-bold      hover:text-sky-900"
      >Phil Schneider on the End Game & the Alien Invasion</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-sky-500 bg-pink-50 font-bold      hover:text-sky-900"
      >REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related
      links in description)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold      hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/s/vvt369" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold      hover:text-sky-900"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=243173"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >NEW Update by Galactic Commander Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://ufos-disclosure.blogspot.com/p/valiant-thor.html"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >UFOs-Disclosure: The ET Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Mary" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold      hover:text-sky-900"
      >Mary's Rumble Channel: 'We The People NEWS'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/SusieQ4u" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold      hover:text-sky-900"
      >SusieQ4u</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#cloning"
    ><span
      class="text-sky-500 bg-pink-200 font-bold      hover:text-sky-900"
      >Human cloning was used as the main infiltration by the reptilians.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700 text-lg font-bold      hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://timefordisclosure.com/1954-greada-treaty-president-eisenhower-form-a-treaty-with-aliens-at-holloman-afb/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >1954 Greada Treaty – President Eisenhower form a treaty with aliens at
      Holloman AFB</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold      hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold      hover:text-gray-950 hover:bg-almost-white"
      >EX-MEN IN BLACK DEATH BED CONFESSION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Journey to Truth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2nuh1k-ex-men-in-black-death-bed-confession.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >EX-MEN IN BLACK DEATH BED CONFESSION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3ecnul-a-whistleblower-organized-the-release-of-30-photos-and-videos-and-set-of-pa.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-lg font-bold      hover:text-green-900"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v39gvzn-a-full-length-documentary-on-the-question-are-aliens-in-charge-of-our-world.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >'A Full Length Documentary On The Question - Are Aliens In Charge Of Our
      WORLD?' - 2013</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1o3ztm-whos-out-there-documentary-about-extraterrestrial-life-narrated-by-orson-we.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Who's Out There - Documentary About Extraterrestrial Life (narrated by
      Orson Welles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v45lfy3-do-aliens-experiment-on-humans-full-alien-ufo-documentary.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Do Aliens Experiment On Humans? | Full Alien UFO Documentary</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4f6rb0-secret-underground-facility-dulce-base-secret-space-program.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v32umak-timothy-alberino-congress-ufo-disclosure-with-timothy-alberino-and-richard-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-lg font-bold      hover:text-green-900"
      >Timothy Alberino - Congress UFO Disclosure with Timothy Alberino and
      Richard Dolan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2xaew4-reptilian-shape-shifters-mocking-humans-on-live-broadcast-wake-up-related-i.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
      >Reptilian Shape Shifters Mocking Humans On Live Broadcast- Wake Up
      (Related info and links)
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2ziyga-reese-report-a-brief-history-of-shape-shifting-reptilians-related-links-in-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
    >
      REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related links
      in description)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2yqg0a-a-brief-history-of-shape-shifting-reptilians.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
    >
      A Brief History of Shape-Shifting Reptilians
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v43fg7h-heavily-censored-john-lears-1989-interview-that-exposed-alienhuman-mutilati.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
      >Heavily Censored John Lear's 1989 Interview That Exposed Alien/Human
      Mutilations (GRAPHIC)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vk.com/video-184806319_456239039?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
      >William-Tompkins and Jeff Rense - The ET & Nazi Secret Space Program</span
    >
  </a>
</h5>
