---
import CH21 from "./CH21.astro";
import Highest from "./Highest.astro";
import JFKMEME from "./JFKMEME.astro";
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<Nagasone />
<!-- <DULCEL /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#cloning"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >Human cloning was used as the main infiltration by the reptilians.</span
    >
  </a>
</h5>
