---
import CH21 from "./CH21.astro";
import Highest from "./Highest.astro";
import JFKMEME from "./JFKMEME.astro";
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<Nagasone />
<!-- <DULCEL /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/s/vvt369" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold      hover:text-sky-900"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>

    <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#flu"
            ><span
              class="text-sky-500 font-bold   hover:text-sky-900"
              >PATRIOTS WW, CASES OF WEST NILE VIRUS, COVID WHICH IS INFLUENZA A, EVER WONDER WHAT HAPPENED TO THE FLU WHEN COVID CAME OUT</span
            >
          </a>
        </h5> 

      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#ozempic"
            ><span
              class="text-sky-500 font-bold   hover:text-sky-900"
              >PATRIOTS WW, IN A DEBRIEFING MEETING AND NOT PAYING ATTENTION DUE TO THE SERIOUSNESS OF THIS TOPIC.</span
            >
          </a>
        </h5>

       
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS(8:18)(14:00)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-gray-800">
  1954 THE GREADA TREATY Tall Graeys(18:55)
</p>

     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#ozempic"
            ><span
              class="text-sky-500 font-bold   hover:text-sky-900"
              >PATRIOTS WW, IN A DEBRIEFING MEETING AND NOT PAYING ATTENTION DUE TO THE SERIOUSNESS OF THIS TOPIC.</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#underground"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#harvesting"
    ><span class="text-purple-700 font-bold    hover:text-green-900"
      >Phil Schneider: Alien Adrenochrome Harvesting</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold    hover:text-purple-950"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./cooper#meeting"
   
    ><span class="text-purple-700 font-bold hover:text-green-900"
      >Eisenhower UFO Meeting Alien Grays 1954 – “The Grenada Treaty” – William Cooper</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold hover:text-green-900"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-sky-500 font-bold hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#dulce"
    ><span class="text-blue-900 bg-slate-200 font-bold hover:text-red-900"
      >DULCE BASE IS IT THE TRUTH YOU SEEK? THE HIDDEN REALITY-COULD THIS BE THE
      TRUE STORY? PHIL SCHNEIDER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span class="text-sky-500 font-bold hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-2xl hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@ForEverFree:3/Phil-Schneider%EF%BC%9A-Alien-Adrenochrome-Harvesting:3"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
    >Phil Schneider: Alien Adrenochrome Harvesting</span
  >
</a>
</h5>

<p class="mb-4 text-base text-gray-900">Dulce Alien Confrontation</p>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@CosmicEvent:5/Phil-Schneider-on-the-End-Game-the-Alien-Invasion:a"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
    >Phil Schneider on the End Game & the Alien Invasion</span
  >
</a>
</h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins#william"
            ><span
              class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@montysthinkingoutsidethebox:2/The-Alien-Adrenochrome-Harvesting-Of-Human-Beings:f"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
    >The Alien Adrenochrome Harvesting Of Human Beings  (Leu AATIP talks about DEMONS @5:30)</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./monsters#snake"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >It’s old energy. They knew everything about humans, but ordinary humans knew very little about them.</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://howandwhys.com/grey-aliens-in-underground-battle-in-new-mexico/"
  rel="noopener"
  target="_blank"
  ><span
    class="max-w-prose font-bold text-justify text-sky-500 bg-almost-black  hover:text-sky-400"
    >Grey Aliens Killed 60 US Soldiers And Civilians In Underground Battle In New Mexico</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700  font-bold hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#castello"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-purple-900 text-transform: uppercase"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=g44UuRp7D-g"
    rel="noopener"
  target="_blank"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-purple-900"
      >Dulce secret alien base mind blowing new footage of cryo tanks cyraxandflyraxx</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=bBpG3YuXLE8"
    rel="noopener"
  target="_blank"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-purple-900"
      >Dulce alien base nightmare hall top secret leaked images exposed reloaded cyraxandflyraxx</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://vkvideo.ru/video-198462752_456239324"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >Phil Schneider on " The Alien Agenda " = " New World Order " ( Sep. 1995 )</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://vkvideo.ru/video694193762_456240044"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >Deep Underground Military Bunkers & The Hidden Alien Agenda - Phil Schneider, Richard Sauder & Ancient Aliens</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PaulGoldEagle/status/1962733706990485539"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 bg-white font-bold text-justify  text-transform: uppercase  hover:text-purple-900"
      >DECLASSIFIED MILITARY REPORT | OPERATION RECLAMATION</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://vkvideo.ru/video694193762_456240916"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >Waterworld (1995)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=gujL_bxmpbo"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >These Two Alien Species Ruled Earth? | Linda Moulton Howe UAMN TV</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./event#realalienwar"

    ><span
      class="text-sky-600 bg-black font-bold    hover:text-sky-700 text-transform: uppercase"
      >THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt(World War 3 1:10)</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=8csbyLbCaH0&t=3117s"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >EP 378 | Melissa Morton | The Sands of Time | Time Travel & The Shadow Government Journey to Truth Podcast</span
    >
  </a>
</h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./pleiadians#human"
            ><span
              class="text-sky-500 font-bold   hover:text-sky-900"
              >real human aliens(A'drieiuous)</span
            >
          </a>
        </h5> 

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=gujL_bxmpbo&t=1s"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >These Two Alien Species Ruled Earth? | Linda Moulton Howe UAMN TV</span
    >
  </a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://discover.hubpages.com/politics/The-Reptilian-Theory"
  rel="noopener"
  target="_blank"
  ><span
    class="max-w-prose font-bold text-justify text-sky-500 bg-almost-black  hover:text-sky-400"
    >It really could not be more clear -- nonhuman beings interbred with human beings ...</span
  >
</a>
</h5>

<p class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">It really could not be more clear -- nonhuman beings interbred with human beings ... of course that's just the Bible, and many will dismiss it as such; however, the Bible is not even close to the only place this same basic story is told</p>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.mazzastick.com/are-reptilian-entities-manipulating-humans-and-earth-affairs/"
  rel="noopener"
  target="_blank"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >Are Reptilian Beings Manipulating Humans And The Earth?</span
  >
</a>
</h5>
<p class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">In these cases, it was discovered that ingesting human hormones, flesh, and blood allowed the Reptilians to maintain the human form. The human form was necessary to avoid scaring the population, which was now unfamiliar with the Reptilian form.</p>

<p class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">The Reptilian Extraterrestrials have elongated skulls, and so do their human hybrids.</p>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://x.com/risetoflyy/status/1110225053277392896"
  rel="noopener"
  target="_blank"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >Jacob Rothschild looks to be of the Homo Capensis race. A none human race with elongated skulls!</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.ufosightingsfootage.uk/2018/05/ancient-alien-elongated-skulls-prove-we.html"
  rel="noopener"
  target="_blank"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >Elongated Skulls Prove We Was Colonised By Aliens</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://vkvideo.ru/video694193762_456239920"
    rel="noopener"
  target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-red-800"
      >Elongated & Conehead Skulls Are Extraterrestrial</span>
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://projectavalon.net/forum4/archive/index.php/t-118606.html"
  rel="noopener"
  target="_blank"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >James Rink Book(s) & Videos</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.guidememalta.com/en/why-are-these-elongated-skulls-at-hal-saflieni-hypogeum-shrouded-in-mystery"
  rel="noopener"
  target="_blank"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >Why are these elongated skulls at Hal Saflieni Hypogeum shrouded in mystery?</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#castello"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#dumb"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-purple-900 text-transform: uppercase"
      >Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>

      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#harvesting"
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Phil Schneider: Alien Adrenochrome Harvesting</span
            >
          </a>
        </h5>

                 <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://vigilantlinks.com/2023/03/somethings-wrong-with-monsters-inc-how-the-franchise-exposes-endorses-adrenochrome-trafficking/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Somethings wrong with Monsters Inc: How the Franchise Exposes/Endorses Adrenochrome Trafficking</span
            >
          </a>
        </h5>

                      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="./monsters#documentary"
            
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Adrenochrome Fear Factory - Monsters Inc The Documentary</span
            >
          </a>
        </h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=1E44RllCGng&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >Monsters Inc (2001) Commercial</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=XmgrOyjZPlc&t=420s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >The Scream Extractor! 😱 | Monsters, Inc. | Disney Kids Disney Kids
</span
    >
  </a>
</h5>


        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=UfcddwrsHC0&list=PLXw88NG5ANVRTjb0fe3YE1Ft5sJAntCGA&index=3"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >Monsters Inc Sully's morning</span
    >
  </a>
</h5>

              <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="./monsters#factory"
       
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Monsters INC. The Adrenochrome Fear Factory Exposed!</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner#ellis"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Ellis C Taylor - 3rd discussion with Peter Maxwell Slattery
              @19:00</span
            >
          </a>
        </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5zvucw-phil-schneider-the-alien-agenda-the-grenada-treaty-and-the-end-game.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5zzpuk-eisenhower-ufo-meeting-alien-grays-1954-the-grenada-treaty-william-cooper.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >Eisenhower UFO Meeting Alien Grays 1954 – “The Grenada Treaty” – William Cooper</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=qTiMKODfGxk&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >Eisenhower UFO meeting ☮ Alien Peace Treaty illuminati Conspiracy Area 51 👽 Bill Cooper Tells All H2</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vkvideo.ru/video694193762_456240044"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >Deep Underground Military Bunkers & The Hidden Alien Agenda - Phil Schneider, Richard Sauder & Ancient Aliens</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vkvideo.ru/video694193762_456240909"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >Mystery Of The Elongated Skulls - Brien Foerster In Conversation With Jonny Enoch</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/brandilwells/status/1957270775460679902"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-400 font-bold hover:text-sky-900 text-transform: uppercase"
      >Dulce Underground Military Base in New Mexico is 7 floors deep.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=ueGVHxPqAQ4&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >Eisenhower UFO meeting ☮ Alien Peace Treaty illuminati Conspiracy Area 51 👽 Bill Cooper Tells All 3</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=E9q-AGALVBA&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >Eisenhower UFO meeting ☮ Alien Peace Treaty illuminati Conspiracy Area 51 👽 Bill Cooper Tells All</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3lsyt1-eisenhower-ufo-meeting-alien-grays-1954-the-grenada-treaty-area-51-mj12-and.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >EISENHOWER UFO MEETING ALIEN GRAYS 1954 - THE GRENADA TREATY, AREA 51, MJ12 AND MORE</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bibliotecapleyades.net/sumer_anunnaki/reptiles/reptiles84.htm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-200 bg-black font-bold hover:text-yellow-200 text-transform: uppercase"
      >The Alpha Draconians are the oldest known reptilian race in our galaxy.</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2022/08/07/draco-reptilians/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-200 bg-black font-bold    hover:text-yellow-200 text-transform: uppercase"
      >Orion is one of the brightest and best known constellations in the night sky.(James Casbolt)</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6uzuvv-ep-374-james-casbolt-agent-buried-alive-former-mi6-agent-breaks-silence-aft.html?e9s=src_v1_ucp_a"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >EP 374 | James Casbolt | AGENT BURIED ALIVE | Former MI6 Agent Breaks Silence After Ten Years(13:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6qulq0-gene-decode-deep-underground-military-bases-dumbs.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Gene Decode – Deep Underground Military Bases - DUMBs</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6uh36p-australia-decode-nwo-and-dumbs-au-as-british-colony.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >🇦🇺 AUSTRALIA DECODE NWO & DUMBS - AU as BRITISH COLONY(Mt.Zeil 21:00)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://blessed2teach.com/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >blessed2teach.com</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/jhb6KqOjqC5f"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-yellow-200 font-bold    hover:text-red-700 text-transform: uppercase"
      >EAST COAST REPTILIAN SHAPESHIFTERS AND WEST COAST REPTILIAN CYBORGS EXPLAINED BY JAMES CASBOLT</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./event#realalienwar"

    ><span
      class="text-sky-600 bg-black font-bold    hover:text-sky-700 text-transform: uppercase"
      >THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt(World War 3 1:10)</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/acA80C33c9Po"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-black font-bold    hover:text-pink-700 text-transform: uppercase"
      >THERE IS A FAKE ALIEN INVASION PSYOP TO HIDE A REAL ALIEN WAR - 2011 Michael Prince / James Casbolt(World War 3 1:10)</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="hhttps://www.latest-ufo-sightings.net/2011/06/wwiii-war-between-extra-terrestrial-and.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-white font-bold    hover:text-sky-700 text-transform: uppercase"
      >WWIII: War between Extra-Terrestrial and Humanity Civilization has Started?</span>
  </a>
</h5>

TIP Movie Night Presents: James Casbolt (Michael Prince) Former Black Ops MI6 Agent Testimony | 2012

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6vuxw1-tip-movie-night-presents-james-casbolt-michael-prince-former-black-ops-m16-.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >TIP Movie Night Presents: James Casbolt (Michael Prince) Former Black Ops MI6 Agent Testimony | 2012</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.latest-ufo-sightings.net/openvideo/v/the-day-ufos-stopped-play"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-white font-bold    hover:text-sky-700 text-transform: uppercase"
      >The day UFOs stopped play</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6u0gkp-ep-370-kerry-cassidy-the-grey-human-hybrid-program-battle-of-the-bloodlines.html?"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >EP 370 | Kerry Cassidy | The Grey-Human Hybrid Program | Battle Of The Bloodlines</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6ypo3e-justin-bieber-shapeshifting-reptilians-control-hollywood-and-harvest-our-en.html" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Justin Bieber: "Shapeshifting Reptilians Control Hollywood and Harvest Our Energy"</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ExopoliticsToday:d/remote-viewing-extraterrestrials-secret:e" 
  rel="noopener" target="_blank"
    ><span class="text-pink-700 bg-yellow-400 font-extrabold hover:text-pink-900"
      >Remote Viewing Extraterrestrials & Secret Space Programs - Interview with Dr. Courtney Brown</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PaulGoldEagle/status/1963086138400502196"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Be aware of ccp and reptiles BIG DADDY</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://truthmafia.com/tommy-truthful/shape-shifting-reptilians/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 bg-yellow-200 font-bold hover:text-purple-900"
      >Shape-Shifting Reptilians you will not believe this!</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/maniaUFO/status/1873086774261789057"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Remembering the  panicked woman on a flight that claimed to be sitting next to a shapeshifter.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/09/04/kabamur-taygeta-the-bible-records-33-instances-of-advanced-benevolent-non-humans/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: The Bible Records 33 Instances of Advanced Benevolent Non-Humans</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6vuxw1-tip-movie-night-presents-james-casbolt-michael-prince-former-black-ops-m16-.html?e9s=src_v1_s%2Csrc_v1_s_o"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-black font-bold    hover:text-pink-700 text-transform: uppercase"
      >TIP Movie Night Presents: James Casbolt (Michael Prince) Former Black Ops MI6 Agent Testimony | 2012</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.angelfire.com/space/branton/Casbolt.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-100 bg-black font-bold    hover:text-pink-50 text-transform: uppercase"
      >Former MI-6 Agent James Casbolt 'spills the beans'</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xv580-adele-shapeshifts-vaccines-and-naughty-fig-zionists.html" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Adele Shapeshifts Vaccines and Naughty Fig Zionists</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PaulGoldEagle/status/1959793565028274425" 
  rel="noopener" target="_blank"
    ><span class="text-teal-500 bg-blue-100 font-extrabold hover:text-teal-700"
      >It’s only the G7countries suffering from deep state occupation? they are being monitored</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/6TKSlRrM1H91/" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Adele Caught Shapeshifting Into Eight Foot Reptilian In New Zealand</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/power-elite/2012/06/former-mi-6-agent-james-casbolt-spills-the-beans-on-aliens-2289189.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-100 bg-blue-900 font-bold    hover:text-pink-50 text-transform: uppercase"
      >Former MI-6 Agent James Casbolt 'Spills The Beans' On Aliens!|Before It's News</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PaulGoldEagle/status/1960153449410220079"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-100 bg-blue-900 font-bold    hover:text-pink-50 text-transform: uppercase"
      >The Truth About Earth’s Quarantine</span>
  </a>
</h5>




<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=258767"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-100 bg-blue-900 font-bold    hover:text-pink-50 text-transform: uppercase"
      >THE GALATIC CODEX / Cobra, The Portal</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bibliotecapleyades.net/ciencia/ciencia_mannequin03.htm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-100 bg-blue-900 font-bold    hover:text-pink-50 text-transform: uppercase"
      >Agent buried alive james casbolt</span>
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#dumb"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-purple-900 text-transform: uppercase"
      >Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/4Rik9y4RlEDT"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-black font-bold    hover:text-pink-700 text-transform: uppercase"
      >Is 2029 The End Of The Line? (ALIEN ARTIFICIAL INTELLIGENCE DEPOPULATION GREAT RESET)</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/mzikvZOwzBpm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-yellow-200 font-bold    hover:text-red-700 text-transform: uppercase"
      >Max Spiers & James Casbolt May 2013 - 4TH REICH & ZIONISTS COMBINE FORCES</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251957"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white font-bold   hover:text-purple-900"
      >This New Evidence Is Undeniable . . . Anunnaki Aliens [aka Elohim] In The Bible (Video)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold   hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/c-372815"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Journey to Truth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@JourneytoTruth111"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-yellow-200 font-bold    hover:text-red-700 text-transform: uppercase"
      >Journey to Truth Podcast</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=EaKrMc6_Da0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-sky-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Sons Of God Are Not Who You Think | Jordan Maxwell Hidden Knowledge(2:15)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-gray-800">The Companion Bible(2:15)</p>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6382tw-aliens-on-saturn-are-not-who-you-think-jordan-maxwell-hidden-knowledge.html?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-sky-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Aliens On Saturn Are Not Who You Think _ Jordan Maxwell Hidden Knowledge</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://nexusilluminati.blogspot.com/2012/01/military-industrial-extraterrestrial.html#:~:text=The%20military%2Dindustrial%2Dextraterrestrial%20complex%20(MIEC)%20of,responsible%20for%20systemic%20global%20problems"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-200 bg-blue-700 font-bold hover:text-pink-300 text-transform: uppercase"
      >Military-Industrial-Extraterrestrial Complex controls Earth and elite politics (MIEC) </span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./salla#motivations"
    ><span class="text-yellow-200 bg-blue-700 font-bold hover:text-yellow-100 text-transform: uppercase"
      >A Report on the Motivations and Activities of Extraterrestrial Races Dr. Michael Salla </span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kerrycassidy.substack.com/p/the-real-split-within-humanity-satanism"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >THE REAL SPLIT WITHIN HUMANITY - SATANISM ORIGINALLY published on Project Camelot</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/camelotQKerry/status/1944676264876638658"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >WHY TRUMP AND TEAM ARE WORKING HARD </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ufob0t/status/1936612808172732877"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >Listen carefully to what Phil Schneider had to say in 1996 before being murdered by the government.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Prolotario1/status/1741673635348181488"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >The Dulce Base- Underground Cleared</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Earthfiles/status/1930377725996376545"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >Tune in tonight @ 6:30pm Pacific/9:30pm Eastern - "From UFOs to Orbs — Lue Elizondo Talks IMMINENT."</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Mpf7Vrj3U9M&t=62s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-red-500 font-bold hover:text-green-200 text-transform: uppercase"
      >June 4, 2025 - From UFOs to Orbs — Lue Elizondo Talks IMMINENT.</span
    >
  </a>
</h5>



<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="./alienwars#demonic"
 
  ><span
    class="text-blue-400 bg-white  font-bold hover:text-red-700"
    >DEMONIC ALIEN INVASION CONFIRMED BY THE PENTAGON</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./dwight#invasion"
    ><span
      class="text-black bg-pink-600 font-bold hover:text-green-200 text-transform: uppercase"
      >Laura Magdalene Eisenhower: ET invasion has already occurred and governments do not want us to know</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://forbiddenknowledgetv.net/Laura-Magdalene-Eisenhower-ET-Invasion-Has-Already-Occurred-and-Governments-do-Not-Want-Us-to-Know/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-pink-600 font-bold hover:text-green-200 text-transform: uppercase"
      >Laura Magdalene Eisenhower: ET invasion has already occurred and governments do not want us to know</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/eisenhowe8/status/1943834731533283535"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-sky-500 font-bold hover:text-green-200 text-transform: uppercase"
      >Stargates, Mars Colonies, and False Timelines Exposed | Laura Eisenhower</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=PMo0rHQ8_lA"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-red-500 font-bold hover:text-green-200 text-transform: uppercase"
      >Stargates, Mars Colonies, and False Timelines Exposed | Laura Eisenhower(13:30)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bibliotecapleyades.net/marte/esp_marte_60.htm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >My recruitment into a classified project involving Time & Quantum Access Technologies and Gaia’s urgent call for Disclosure</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=OdfIuTm2VuM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-red-600 font-bold hover:text-green-200 text-transform: uppercase"
      >Laura Magdalene Eisenhower: ET invasion has already occurred and governments do not want us to know</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://exopolitics.blogs.com/exopolitics/2014/04/laura-magdalene-eisenhower-reveals-et-disclosure-secrets-at-the-world-et-summit.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-gray-200 font-bold hover:text-pink-700"
      >EXOPOLITICS:Laura Magdalene Eisenhower: ET invasion has already occurred and governments do not want us to know</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./orion#everywhere"
    
    ><span
      class="text-gray-200 bg-black font-bold    hover:text-blue-200 text-transform: uppercase"
      >Orion is everywhere (www.theorionlines.com/orion)</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://ascensionglossary.com/index.php/Alpha_Draconis/Orion_Group"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Alpha Draconis/Orion Group</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thewebmatrix.net/1954.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-gray-200 font-bold text-transform: uppercase"
      >1954 - Eisenhower lost control to the new MJ-12 group</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/MichaelSalla/status/1769369306611982720"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >In this extract from a 1995 lecture, Phil Schneider discusses the agenda of malevolent alien groups involved in secret agreements reached with the executive branch of the US govt.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1932175530570481670"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >Listen to Bob Dean.There aren't human time travelers.There are time traveling Elohim who look human.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/RedpillDrifter/status/1840136323426083308"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-black font-bold hover:text-pink-700 text-transform: uppercase"
      >ALIENS WILL COME AND THEY ARE IN FACT DEMONS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=oRnxqMO9hXI&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-black font-bold    hover:text-pink-700 text-transform: uppercase"
      >ALIENS WILL COME AND THEY ARE IN FACT DEMONS(YouTube)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1qzupi-the-alien-agenda-2019-george-news-by-the-anonymous-charity.html?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-black font-bold hover:text-blue-700 text-transform: uppercase"
      >The Alien Agenda 2019 - George News by The Anonymous Charity(19:11)(22:20)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/JBOMpkemFFZa/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-black font-bold hover:text-red-700 text-transform: uppercase"
      >The Alien Agenda 2019 - George News by The Anonymous Charity(19:11)(22:20)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/MichaelSalla/status/1941134080298398137"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >Kerry Cassidy has released a well-written and concise explanation of the global influence of Satanism and the split within humanity that it has created.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kerrycassidy.substack.com/p/the-real-split-within-humanity-satanism"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >THE REAL SPLIT WITHIN HUMANITY - SATANISM ORIGINALLY published on Project Camelot</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/07/05/ariel-prolotario1-underground-military-operations-targeting-dumbs-and-seismic-anomalies/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >Ariel (Prolotario1): Underground Military Operations Targeting DUMBs and Seismic Anomalies</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="./alienwars#demonic"
 
  ><span
    class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
    >DEMONIC ALIEN INVASION CONFIRMED BY THE PENTAGON</span
  >
</a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=jQGBOhcc218"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-black font-bold    hover:text-pink-700 text-transform: uppercase"
      >Why do Aliens Smell Bad? - Whitley Strieber - DEBRIEFED ep. 36</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://tribulation-now.org/2024/02/24/phil-schneider-the-alien-agenda-end-game/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda END GAME/tribulation-now.org/</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=cqqJqxAtuXc&t=8s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 font-bold    hover:text-green-900 text-transform: uppercase"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES & THE NEW WORLD ORDER 1995 - LINDA MOULTON HOWE</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2023/09/09/reptilian-agenda/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >True World History: Humanity’s Saga by Stewart Swerdlow</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2022/06/01/al-bielek-autobiography-8/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold    hover:text-green-200 text-transform: uppercase"
      >Al Bielek: Complete Video Autobiography (8)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2022/04/17/alien-invasion-interview-with-al-bielek/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold    hover:text-green-200 text-transform: uppercase"
      >Alien Invasion: Interview with Al Bielek</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-red-700 font-bold    hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES AND THE NEW WORLD ORDER 1995</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=cqqJqxAtuXc&t=8s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-blue-200 text-lg font-bold hover:text-blue-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES & THE NEW WORLD ORDER 1995 - LINDA MOULTON HOWE</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span class="text-red-700 font-bold    hover:text-green-900"
      >PHIL SCHNEIDER(Page)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black    hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./monsters#snake"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >It’s old energy. They knew everything about humans, but ordinary humans knew very little about them.</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown)</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-sky-500 bg-pink-50 font-bold      hover:text-sky-900"
      >REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related
      links in description)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold      hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span
      class="text-sky-500 font-bold text-justify    hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell</span
    >
  </a>
</h5>




<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://t.me/vvt369/2931"
  rel="noopener"
  target="_blank"
  ><span
    class="text-blue-500 text-base hover:text-lg hover:text-green-900"
    >https://t.me/vvt369/2931</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=243173"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >NEW Update by Galactic Commander Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://ufos-disclosure.blogspot.com/p/valiant-thor.html"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >UFOs-Disclosure: The ET Valiant Thor</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.silverland.info/" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold      hover:text-sky-900"
      >www.silverland.info</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Mary" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold      hover:text-sky-900"
      >Mary's Rumble Channel: 'We The People NEWS'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/SusieQ4u" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold      hover:text-sky-900"
      >SusieQ4u</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#cloning"
    ><span
      class="text-sky-500 bg-pink-200 font-bold      hover:text-sky-900"
      >Human cloning was used as the main infiltration by the reptilians.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700 text-lg font-bold      hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://timefordisclosure.com/1954-greada-treaty-president-eisenhower-form-a-treaty-with-aliens-at-holloman-afb/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >1954 Greada Treaty – President Eisenhower form a treaty with aliens at
      Holloman AFB</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./cooper#meeting"
   
    ><span class="text-sky-500 font-bold hover:text-green-900"
      >Eisenhower UFO Meeting Alien Grays 1954 – “The Grenada Treaty” – William Cooper</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5zzpuk-eisenhower-ufo-meeting-alien-grays-1954-the-grenada-treaty-william-cooper.html" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold      hover:text-sky-900"
      >Eisenhower UFO Meeting Alien Grays 1954 – “The Grenada Treaty” – William Cooper</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cooper#rare"
    ><span class="text-sky-500 font-bold hover:text-green-900"
      >Former Naval Intelligence William 'Bill' Cooper [Had a Q level clearance]
      One World Order **A RARE find</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold      hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold      hover:text-gray-950 hover:bg-almost-white"
      >EX-MEN IN BLACK DEATH BED CONFESSION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-372815" rel="noopener" target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Journey to Truth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2nuh1k-ex-men-in-black-death-bed-confession.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >EX-MEN IN BLACK DEATH BED CONFESSION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3ecnul-a-whistleblower-organized-the-release-of-30-photos-and-videos-and-set-of-pa.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-lg font-bold      hover:text-green-900"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v39gvzn-a-full-length-documentary-on-the-question-are-aliens-in-charge-of-our-world.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >'A Full Length Documentary On The Question - Are Aliens In Charge Of Our
      WORLD?' - 2013</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1o3ztm-whos-out-there-documentary-about-extraterrestrial-life-narrated-by-orson-we.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Who's Out There - Documentary About Extraterrestrial Life (narrated by
      Orson Welles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v45lfy3-do-aliens-experiment-on-humans-full-alien-ufo-documentary.html?e9s=rel_v1_b"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-lg font-bold      hover:text-green-900"
      >Do Aliens Experiment On Humans? | Full Alien UFO Documentary</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4f6rb0-secret-underground-facility-dulce-base-secret-space-program.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-purple-900 text-transform: uppercase"
      >Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v32umak-timothy-alberino-congress-ufo-disclosure-with-timothy-alberino-and-richard-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-purple-200 text-lg font-bold      hover:text-green-900"
      >Timothy Alberino - Congress UFO Disclosure with Timothy Alberino and
      Richard Dolan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2xaew4-reptilian-shape-shifters-mocking-humans-on-live-broadcast-wake-up-related-i.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
      >Reptilian Shape Shifters Mocking Humans On Live Broadcast- Wake Up
      (Related info and links)
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2ziyga-reese-report-a-brief-history-of-shape-shifting-reptilians-related-links-in-.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
    >
      REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related links
      in description)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2yqg0a-a-brief-history-of-shape-shifting-reptilians.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
    >
      A Brief History of Shape-Shifting Reptilians
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v43fg7h-heavily-censored-john-lears-1989-interview-that-exposed-alienhuman-mutilati.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
      >Heavily Censored John Lear's 1989 Interview That Exposed Alien/Human
      Mutilations (GRAPHIC)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vk.com/video-184806319_456239039?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-purple-50 text-lg font-bold      hover:text-green-900"
      >William-Tompkins and Jeff Rense - The ET & Nazi Secret Space Program</span
    >
  </a>
</h5>

<Nagasone />
