---
import CH21 from "./CH21.astro";
import Highest from "./Highest.astro";
import JFKMEME from "./JFKMEME.astro";
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<Nagasone />
<!-- <DULCEL /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=243173"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >NEW Update by Galactic Commander Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://ufos-disclosure.blogspot.com/p/valiant-thor.html"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >UFOs-Disclosure: The ET Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Mary" rel="noopener" target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold hover:text-2xl hover:text-sky-900"
      >Mary's Rumble Channel: 'We The People NEWS'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#cloning"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-sky-900"
      >Human cloning was used as the main infiltration by the reptilians.</span
    >
  </a>
</h5>
