---

---


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amplifon.com/au/blog/covid-19-vaccine-side-effects"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-yellow-100 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Can the vaccines cause ear disorders?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluetooth#starkey"
    ><span
      class="text-sky-500 bg-orange-200 font-bold text-justify hover:text-sky-700"
      >Starkey Edge AI Detailed Hearing Aid Review(15:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://doctorschierling.com/blog/ear-infections-part-iii"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-yellow-100 text-lg font-bold hover:text-2xl hover:text-red-700"
      >THE RELATIONSHIP BETWEEN CHILDHOOD VACCINATIONS & CHILDHOOD EAR INFECTION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vaccineresistancemovement.org/?p=15234"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-yellow-100 text-lg font-bold hover:text-2xl hover:text-red-700"
      >VRM: Vaccine Toxicity – Middle Ear Infections and Autism</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1847427673343012864"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Kid becomes autistic right after being forced to get 18 vaccines in one day. Don’t know what more proof anyone needs.
      But his youngest son, Isaac, wasn’t so fortunate. After receiving 18 vaccines in one day, Isaac developed severe regressive autism. Today, he requires around-the-clock care.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=YC7b3EfnmSw"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-yellow-100 text-lg font-bold hover:text-2xl hover:text-red-700"
      >How To RESTORE Hearing Loss FAST!</span
    >
  </a>
</h5>
