---

---


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amplifon.com/au/blog/covid-19-vaccine-side-effects"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-yellow-100 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Can the vaccines cause ear disorders?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://doctorschierling.com/blog/ear-infections-part-iii"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-yellow-100 text-lg font-bold hover:text-2xl hover:text-red-700"
      >THE RELATIONSHIP BETWEEN CHILDHOOD VACCINATIONS & CHILDHOOD EAR INFECTION</span
    >
  </a>
</h5>