---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />

<FOUR />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://qofficial.net/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-800 font-bold hover:text-2xl hover:text-emerald-700"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1820954572090999090"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >The EBS will happen.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113240897713618841"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >EBS coming</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5h7lsb-laying-the-groundwork-for-the-ebs.......html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >laying the groundwork for the EBS......</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113240900318875418"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >GROUNDWORKS FOR EBS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113243757884406787"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >TECHNOLOGYS TO USE SAME SIK PSYCOTIC EVIL SOLS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/EKMatt1WET3p/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Macaulay Culkin and other kids molested by Diddy</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247651"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >IMPORTANT MESSAGE About The 'EBS' by Julian Assange</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848722262733508958"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >1 THE STAGE IS SET, AND THERE’S NO TURNING BACK.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848722359034753357"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >2 The Technology Behind the EBS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848875087430291702"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >3 What Happens After You Receive the Alert</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848875155097063459"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >4 The Military’s Role</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247663"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 bg-black font-bold hover:text-blue-600"
      >INTEL - 'EBS ALERT' MESSAGE by Mr.Pool</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113358673007713109"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >1 THE STAGE IS SET, AND THERE’S NO TURNING BACK.(confirmed by christian21)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/112871997346631705"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >EBS / COMING</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113358669923068701"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Let Dive in.(confirmed by christian21)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247676"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >EBS THURS. 24 OCT. 2024, TEN DAYS OF DARKNESS SUN. 27 OCT. 2024:</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1849234955215225031" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >THE FINAL TRUMPET !!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1849128100707160108" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >- TIME IS UP! Q CLOCK ENDED THURSDAY, OCTOBER 25, 2024.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1849613593030910095"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 bg-black font-bold hover:text-blue-600"
      >This is giving you all the heads up at least a few things.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Real_POTUK_JFK/status/1851445341746237480"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-950 font-bold hover:text-2xl hover:text-slate-900"
      >Real John Fitzgerald Kahlooni (JFK) Q(Please share patriots )</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1851438625302712801" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >Breaking News! Trump Directs Federal Funds to Sponsor Medbed Healing Centers</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113381553846079651"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-sky-200 font-bold hover:text-2xl hover:text-green-900"
      >NOVEMBER 5TH</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113393218938775711"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-sky-200 font-bold hover:text-2xl hover:text-green-900"
      >Any moment EBS!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5msopq-all-coming-at-an-ebs-near-you.html?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >All coming at an EBS NEAR YOU</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5my1cq-chabad-epstein-all-coming-at-an-ebs-near-you.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Chabad Epstein All coming at an EBS NEAR YOU</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1854513994934952176" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >Observe the numerous individuals resigning from their positions.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/SZak32wx4Gw"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-400 font-bold hover:text-2xl hover:text-orange-700"
      >Trump Official ORDERS Diddy Tapes Declassified</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@bennyjohnson/shorts"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-400 font-bold hover:text-2xl hover:text-orange-700"
      >Benny Johnson(shorts)</span
    >
  </a>
</h5>
