---

---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247651"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >IMPORTANT MESSAGE About The 'EBS' by Julian Assange</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848722262733508958"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >1 THE STAGE IS SET, AND THERE’S NO TURNING BACK.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247663"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >INTEL - 'EBS ALERT' MESSAGE by Mr.Pool</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/23/reader-sherry-t-the-ebs-starts-in-2-days/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >(Reader: Sherry T) The EBS Starts in 2 Days</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113358673007713109"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >1 THE STAGE IS SET, AND THERE’S NO TURNING BACK.(confirmed by christian21)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113358669923068701"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Let Dive in.(confirmed by christian21)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247676"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >EBS THURS. 24 OCT. 2024, TEN DAYS OF DARKNESS SUN. 27 OCT. 2024:</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1849234955215225031" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >THE FINAL TRUMPET !!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1849128100707160108" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >- TIME IS UP! Q CLOCK ENDED THURSDAY, OCTOBER 25, 2024.</span
    >
  </a>
</h5>
