---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />

<FOUR />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1820954572090999090"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >The EBS will happen.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113239791770016413"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >The case of Sean 'Diddy' Combs</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113243757884406787"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >TECHNOLOGYS TO USE SAME SIK PSYCOTIC EVIL SOLS(christian21)</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848722262733508958"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >1 THE STAGE IS SET, AND THERE’S NO TURNING BACK.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848722359034753357"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >2 The Technology Behind the EBS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848875087430291702"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >3 What Happens After You Receive the Alert</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1848875155097063459"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-black font-bold hover:text-green-600"
      >4 The Military’s Role</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1851438625302712801" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >Breaking News! Trump Directs Federal Funds to Sponsor Medbed Healing Centers</span
    >
  </a>
</h5>





<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5my1cq-chabad-epstein-all-coming-at-an-ebs-near-you.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Chabad Epstein All coming at an EBS NEAR YOU</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Official_MrPool/status/1854513994934952176" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >Observe the numerous individuals resigning from their positions.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/SZak32wx4Gw"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-400 font-bold hover:text-2xl hover:text-orange-700"
      >Trump Official ORDERS Diddy Tapes Declassified</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/LauraLoomer/status/1854714657732173938?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 bg-red-200 font-bold hover:text-2xl hover:text-sky-700"
      >President Trump has released his plan to dismantle the Deep State!</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/WallStreetApes/status/1854383649157771482"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 bg-red-200 font-bold hover:text-2xl hover:text-sky-700"
      >RFK Jr just started ‘Policies for the People’</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Prolotario1/status/1856421385125466521"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >You have to have brass balls to be in the media spotlight knowing Donald Trump will release the Epstein Files.</span
    >
  </a>
</h5>




<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/sAsP0KYDEpZZ/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 bg-slate-200 font-bold hover:text-2xl hover:text-red-900"
      >After The Election</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://t.me/CodezVII/8930"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >  NOT BE EBS </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://t.me/JFKOFFICIAL_Q/668"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Blackouts, EBS.When you see these new buzzwords, unsubscribe immediately</span
    >
  </a>
</h5>


<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">

//// Subscribe: <a
    href="https://t.me/CodezVII"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-900 hover:text-sky-700"
      >https://t.me/CodezVII</span></a> ////
     //// FOLLOW X <a
    href="https://x.com/CodezVII777"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-900 hover:text-sky-700"
      >https://x.com/CodezVII777</span></a> ////
      https://t.me/CodezVII/7693
      
</div>
</div>
<!-- prettier-ignore-end -->

