---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Elohim /> -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-green-400 font-bold hover:text-2xl hover:text-green-900"
      >Clif High Interview With Sarah Westall</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#pleiadians"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Pleiadians in the Bible</span
    >
  </a>
</h5>
