---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <ENERGY /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#carnosine"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >L Carnosine - updated</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/Best-Naturals-Complex-Tablets-Released/dp/B00GXD6G92/?"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-orange-700"
      >Best Naturals B-100 Complex 120 Tablets (Time Released)</span
    >
  </a>
</h5>
