---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/w0B3Bxev3Bao/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >President John F Kennedy didn't die in 1963: he lived until 2021</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/commonlawamerica/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >CommonLawAmerica</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://commonlawamerica.wordpress.com/2023/02/28/president-john-f-kennedy-did-not-die-in-1963-he-lived-until-2021/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-white text-base hover:text-lg hover:text-green-900"
      >President John F Kennedy Did Not Die in 1963: He Lived Until 2021</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/111794242832560022"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >If a headline like this does exist, it was printed for a reason.</span
    >
  </a>
</h5>
