---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/w0B3Bxev3Bao/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >President John F Kennedy didn't die in 1963: he lived until 2021</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#vice"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >John F Kennedy Jr. 19th Vice President</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/bombshell-jfk-and-jfk-junior-are-alive-us-mil-op-storm-surfacing-april-30th-2024-wwg1wga-nazi-political-democracy-and-nazi-flag-deleted-pascal-najadi-epic-video/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Bombshell!!! JFK and JFK Junior are Alive – US Mil. Op. STORM Surfacing
      April 30th 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/commonlawamerica/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >CommonLawAmerica</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://commonlawamerica.wordpress.com/2023/02/28/president-john-f-kennedy-did-not-die-in-1963-he-lived-until-2021/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-black bg-white text-base hover:text-lg hover:text-green-900"
      >President John F Kennedy Did Not Die in 1963: He Lived Until 2021</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/111794242832560022"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >If a headline like this does exist, it was printed for a reason.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4qqqtr-declassified-authorized-disclosure-q-is-alive-well-and-created-the-storm.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >DECLASSIFIED Authorized 🇺🇸Disclosure: ‘Q’ is alive, well and created the
      #STORM - Total Obliteration of Jewish Zionist NAZIS, Cabal, Israel & Swiss
      🇨🇭 Political NAZI Democracy- Surfaced April 8th 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/02/restored-republic-via-a-gcr-as-of-april-2-2024/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-300 text-base hover:text-lg hover:text-purple-900"
      >Restored Republic via a GCR as of April 2, 2024(JFK)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=tBxU2qNSaWQ"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Robert F Kennedy Jr Names 2nd Shooter Who Killed His Father with Sirhan
      Sirhan (Part 7)</span
    >
  </a>
</h5>
