     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#earthquakes"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >1-2-2024 Japan Earthquakes Issue(Jay Arae Essex)</span
    >
  </a>
</h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=x82mXZl6n00&t=1s"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >1-2-2024 Japan Earthquakes Issue</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=AYXRRt1w0Eo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >3-30-2023; Leaving & Destruction of China, Korea, Russia, Etc.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@jayaraeessex1313"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Jay Arae Essex</span
            >
          </a>
        </h5>

              <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@British_Tim"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >British Tim</span
            >
          </a>
        </h5>

                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@valceusawakening"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >walker “Spirit Reader” valceus</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=_ldKAPqDf50"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >Horror footage emerges of 7.6 magnitude earthquake hitting Japan</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/QTHESTORMM/status/1741862703377875294?s=20"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 text-base hover:text-lg hover:text-green-900"
              >CARS GO NO WHERE ... JAPAN.</span
            >
          </a>
        </h5>