---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#evergreen"
    ><span
      class="text-sky-500 bg-pink-50 font-bold hover:text-2xl hover:text-sky-900"
      >EVERGREEN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4p2mxk-flashback-evergreen-codename-hrc-clinton-childsex-trafficking-vessels-and-c.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >FLASHBACK EVERGREEN > CODENAME HRC > CLINTON CHILDSEX TRAFFICKING VESSELS
      & CONTAINERS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4lv7cw-connecting-the-dots-evergreen-inc.-maryland-and-the-clinton-connection.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Connecting the Dots: Evergreen Inc., Maryland, and the Clinton Connection</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5aj5g9-evergreen.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >EVERGREEN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/MedeeaGreere" rel="noopener" target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >MedeeaGreere</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/exposing-the-sinister-world-of-human-trafficking-did-you-know-evergreen-inc-is-a-cia-owned-company-who-uses-that-for-human-trafficking-connecting-the-dots-evergreen-inc-maryland-and-the-clinto/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-white text-base hover:text-lg hover:text-green-900"
      >Exposing the Sinister World of Human Trafficking: Did You Know Evergreen
      Inc. Is a CIA Owned Company?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vz6n79-the-secret-contents-of-ever-given-evergreen-container-ship-kaan-sariaydin-m.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >The Secret Contents of Ever Given - Evergreen Container Ship - Kaan
      Sariaydin - Mavi Gazetem</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#wordpress"
    ><span class="text-green-900 hover:text-2xl hover:text-green-900">JFK</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#containers"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >FLASHBACK EVERGREEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4p2mxk-flashback-evergreen-codename-hrc-clinton-childsex-trafficking-vessels-and-c.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >FLASHBACK EVERGREEN > CODENAME HRC > CLINTON CHILDSEX TRAFFICKING VESSELS
      & CONTAINERS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/RedpillDrifter/status/1841953889316438346"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >EVERGREEN SHIPPING CONTAINERS USED FOR CHILD TRAFFICKING</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Indresh19925/status/1851724172902408347"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >DIDDY, LEONARDO DI CAPRIO, EPSTEIN'S CLIENTS AND THE "ARTISTS" WHO APOIAM KAMALA HARRIS.(Mel Gibson)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/SabrinaGal182/status/1841974936111612342"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >FOOTAGE SHOWS HILLARY KILLING A CHILD AT DIDDY FREAK OFF PARTY 🔥</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v457v7h-gene-decode-and-sarge-evergreen-containers-have-seatsthe-military-control-r.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >GENE DECODE & SARGE! EVERGREEN CONTAINERS HAVE SEATS~THE MILITARY CONTROL
      ~REPTILIANS SOUL HIJACK</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">...</p>
<p class="mb-4 text-base text-center text-black">
  HILLARY WAS EVERGREEN - CODENAME HRC - Episode 117
</p>
<p class="mb-4 text-base text-black">....</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://greatawakening.win/p/12i4MhAuBD/ever-given-seized-by-egypt-becau/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Ever Given seized by Egypt because owners now owe $1 billion for
      accident.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
