---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./salla#motivations"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >A Report on the Motivations and Activities of Extraterrestrial Races Dr. Michael Salla</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#reptilians"
    ><span
      class="bg-white text-sky-500 font-bold   hover:text-sky-700"
      >Michael Salla</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://exopolitics.org/" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >exopolitics.org</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/exopolitics" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >exopolitics on rumble.com</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6qxza8-q-and-a-with-dr.-michael-salla-george-kavassilas-alex-collier-and-jp.html?e9s=src_v1_ucp_a" 
  rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Q & A with Dr. Michael Salla, George Kavassilas, Alex Collier & JP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xbrr0-3i-atlas-us-navy-jedi-admirals-lead-starship-coming-home.html?e9s=src_v1_cmd%2Csrc_v1_ucp_a" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >3I Atlas: US Navy "Jedi" Admiral's Lead Starship Coming Home(George Kavassilas)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6yimji-earths-liberation-from-the-deep-state-trailer.html?" 
  rel="noopener" target="_blank"
    ><span class="text-pink-700 bg-yellow-400 font-extrabold hover:text-pink-800"
      >Earth's Liberation from the Deep State - Trailer</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=bg9ntpk4P3s&t=12s" 
  rel="noopener" target="_blank"
    ><span class="text-pink-700 bg-yellow-400 font-extrabold hover:text-pink-800"
      >Tech Giants Defecting from Deep State, ET Disclosure Looms Closer</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ExopoliticsToday:d/remote-viewing-extraterrestrials-secret:e" 
  rel="noopener" target="_blank"
    ><span class="text-pink-700 bg-yellow-400 font-extrabold hover:text-pink-900"
      >Remote Viewing Extraterrestrials & Secret Space Programs - Interview with Dr. Courtney Brown</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xij5m-nordics-taking-charge-of-space-arks-deep-state-and-ai.html?e9s=rel_v2_ep" 
  rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Nordics taking charge of Space Arks, Deep State and AI</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xij5m-nordics-taking-charge-of-space-arks-deep-state-and-ai.html?" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Nordics taking charge of Space Arks, Deep State and AI</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=2mt6QLvqhdc" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Trump and Galactic Federation Plan to make US the Hub For Exotic ET Technology(George Kavassilas)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@ExopoliticsToday:d"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Exopolitics Today with Dr. Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@MichaelSalla" rel="noopener" target="_blank"
    ><span
      class="text-red-500 bg-white text-base hover:text-lg hover:text-red-700"
      >Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/MichaelSalla" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >@MichaelSalla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://exopolitics.org/jp-update-33-nordics-training-international-military-pilots-to-fly-flying-saucers/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-white text-base hover:text-lg hover:text-purple-900"
      >JP Update 33 – Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/01/16/dr-michael-salla-mystery-drones-and-president-trump-working-with-the-galactic-federation/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Dr. Michael Salla — Mystery Drones and President Trump Working with the Galactic Federation</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold hover:text-green-900"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/MichaelSalla/status/1941134080298398137"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >Kerry Cassidy has released a well-written and concise explanation of the global influence of Satanism and the split within humanity that it has created.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kerrycassidy.substack.com/p/the-real-split-within-humanity-satanism"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-green-200 text-transform: uppercase"
      >THE REAL SPLIT WITHIN HUMANITY - SATANISM ORIGINALLY published on Project Camelot</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/RedpillDrifter/status/1840136323426083308"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >ALIENS WILL COME AND THEY ARE IN FACT DEMONS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=oRnxqMO9hXI&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold hover:text-red-200 text-transform: uppercase"
      >ALIENS WILL COME AND THEY ARE IN FACT DEMONS(YouTube)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#everywhere"
    ><span class="text-blue-950 font-bold   hover:text-green-900"
      >Orion is everywhere (www.theorionlines.com/orion)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://nexusilluminati.blogspot.com/2012/01/military-industrial-extraterrestrial.html#:~:text=The%20military%2Dindustrial%2Dextraterrestrial%20complex%20(MIEC)%20of,responsible%20for%20systemic%20global%20problems"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-blue-700 font-bold hover:text-yellow-100 text-transform: uppercase"
      >Military-Industrial-Extraterrestrial Complex controls Earth and elite politics (MIEC) </span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.tall-white-aliens.com/manipulative-extraterrestrial-infiltration-of-human-society-through-militarism/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-blue-700 font-bold hover:text-yellow-100 text-transform: uppercase"
      >Dr. Salla indicates that Manipulative Extraterrestrials having exploited short-sighted human elites, have instigated a “range of systemic global problems.”</span
    >
  </a>
</h5>

