---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#motivations"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >A Report on the Motivations and Activities of Extraterrestrial Races </span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://exopolitics.org/" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >exopolitics.org</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/exopolitics" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >exopolitics on rumble.com</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@ExopoliticsToday:d"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Exopolitics Today with Dr. Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@MichaelSalla" rel="noopener" target="_blank"
    ><span
      class="text-red-500 bg-white text-base hover:text-lg hover:text-red-700"
      >Michael Salla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/MichaelSalla" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >@MichaelSalla</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://exopolitics.org/jp-update-33-nordics-training-international-military-pilots-to-fly-flying-saucers/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-white text-base hover:text-lg hover:text-purple-900"
      >JP Update 33 – Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/01/16/dr-michael-salla-mystery-drones-and-president-trump-working-with-the-galactic-federation/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Dr. Michael Salla — Mystery Drones and President Trump Working with the Galactic Federation</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.tall-white-aliens.com/manipulative-extraterrestrial-infiltration-of-human-society-through-militarism/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-white text-base hover:text-lg hover:text-purple-900"
      >Dr. Salla further reveals that apparent Manipulative Extraterrestrials (in contrast with socially responsible and Ethical Extraterrestrials) have sought to introduce military technologies through ego and greed driven elites, that have literally sold their soul to gain access to these technologies. Dr. Salla indicates that Manipulative Extraterrestrials having exploited short-sighted human elites, have instigated a “range of systemic global problems.”</span
    >
  </a>
</h5>

