---
import Tops from "./Tops.astro";
---

<Tops />

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=UeoDypkknU0"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >3 TIPS TO IMPROVE YOUR EYESIGHT, it really works! Try it!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=mtEr-rGGnbE"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >5 exercises that helped to forget about glasses. Do it Now!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/@DoctorAlekseev"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Doctor Alekseev</span
            >
          </a>
        </h5>
             <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=t1-SlR3tj1E"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white font-bold hover:text-lg hover:text-green-900"
              >Blurry Vision & Fading Eyesight: Barbara O'Neill's Secrets to Restoring Vision</span
            >
          </a>
        </h5>
                     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=U-drKvQ9lAo"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white font-bold hover:text-lg hover:text-green-900"
              >How I Got Perfect Vision Naturally In My 50s (5 Easy Habits)</span
            >
          </a>
        </h5>
                             <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=oXhOK2880i8"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white font-bold hover:text-lg hover:text-green-900"
              >#1 Deficiency Behind POOR EYESIGHT</span
            >
          </a>
        </h5>