---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Finance /> -->
<br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp#iso20022"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-slate-800"
      >ISO 20022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./abc#weir"
    ><span
      class="text-gray-500 font-bold text-justifyhover:text-2xl hover:text-green-900"
      >Bix Weir - The Good Guys Are In Control, The Truth Is Being Exposed For
      The World To See</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.cryptopolitan.com/iso-20022-compliant-crypto-list/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >ISO 20022 Crypto: List of Compliant Coins in 2023</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/iGlobalGold/status/1943959476144681012"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Silver PRICE ALERT</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=XpaeVn8MrNk"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-800 bg-purple-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >SOL Trading Strategy for 2025 | Consistent Results Explained</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=tVQX7fXfX-U"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-800 bg-purple-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Trading Strategy on SOL in 2025 | Potential 11-15% Returns Explained</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://crypto.news/sec-repeals-sab-121-making-crypto-custody-easier/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >SEC repeals SAB 121, easing crypto custody rules</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Prolotario1/status/1882571413183406288"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >Today marks the historical day where banks can officially hold cryptocurrency.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bsGkYbude_A"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-700"
      >How to Get Rich in the 2024 Bull Market (HALDS Method)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=VOLXKXAReGI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-700"
      >1 Minute SCALPING STRATEGY Makes $100 Per Hour (BUY/SELL Indicator)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=y_XMlM-RWOI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-700"
      >WARNING ALL SWING TRADERS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./abc#cup"
    ><span class="text-gray-500 text-base hover:text-lg hover:text-green-900"
      >SILVER'S 44 YEAR CUP & HANDLE "NOW, I BELIEVE MID TO HIGH TRIPLE DIGITS
      ARE BAKED IN THE CAKE"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./binance"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Binance</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brics"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >BRICS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://2012portal.blogspot.com/2024/01/situation-update.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Situation Update(BRICS)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./willie#live"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >DR. JIM WILLIE LIVE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./willie#reveal"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >Benjamin Fulford Huge Intel 05/28/2024 🔴 Big Reveal About Us Military 🔴
      Trump Come Back</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#finance"
    ><span class="text-green-500 text-base hover:text-lg hover:text-gray-900"
      >FINANCE FEAR, COMPETITION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >XRP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./binance#bitcoin"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Bitcoin</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tradingview"
    ><span class="text-red-900 text-base hover:text-lg hover:text-green-900"
      >Tradingview</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitdegree.org/crypto/tutorials/top-privacy-coins"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Top Privacy Coins: Anonymity in the Cryptocurrency World</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
