---
---

<br />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bsGkYbude_A"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-700"
      >How to Get Rich in the 2024 Bull Market (HALDS Method)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=VOLXKXAReGI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-700"
      >1 Minute SCALPING STRATEGY Makes $100 Per Hour (BUY/SELL Indicator)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=y_XMlM-RWOI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-700"
      >WARNING ALL SWING TRADERS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.newsbtc.com/analysis/xrp/cup-and-handle-pattern-emerges-in-xrp-chart-what-does-it-mean/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Cup And Handle Pattern Emerges In XRP Chart: What Does It Mean?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./binance"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Binance</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brics"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >BRICS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./willie"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >DR. JIM WILLIE LIVE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >XRP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./binance#bitcoin"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Bitcoin</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tradingview"
    ><span class="text-red-900 text-base hover:text-lg hover:text-green-900"
      >Tradingview</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
