---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./flat-earth#tower"
  
    ><span
      class="text-blue-500 font-bold hover:text-2xl hover:text-blue-600"
      >1500' TV Tower</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=f1BgzIZRfT8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
      >1500' TV Tower</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/alternative/2016/06/flat-earth-psyop-cia-blackop-designed-to-destroy-the-truth-movement-3368959.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >Flat Earth PSYOP:CIA Black Op Designed to Destroy the Truth Movement</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#webinar"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900"
      >Satanism and PSYOPS: The World of Michael Aquino (Flat Earth Psyops
      34:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2021/10/13/kat-anonup-update-flat-earth/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-almost-black font-bold hover:text-2xl hover:text-yellow-300"
      >Kat Anonup Update: Flat Earth?(Flat Earth Psyops Michael Aquino)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://forthepeople.space/flat-earth/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-almost-black font-bold hover:text-2xl hover:text-yellow-300"
      >Fame is proof that people are gullible.(Flat Earth Psyops Michael Aquino)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.timeanddate.com/astronomy/@6623561"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-blue-600"
      >Pram Point, Antarctica(Scott Base)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./flat-earth#frozen"

    ><span
      class="text-sky-500 text-xl font-bold hover:text-2xl hover:text-sky-600"
      >Frozen South: Antarctica 24 hour Sun 4K</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=BgZa9oZDN5g"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 text-xl font-bold hover:text-2xl hover:text-sky-600"
      >Frozen South: Antarctica 24 hour Sun 4K</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vimeo.com/208466944"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-xl font-bold hover:text-2xl hover:text-sky-600"
      >What does the sun do at the Pole !?</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./flat-earth#sun"
 
    ><span
      class="text-blue-500 font-bold hover:text-2xl hover:text-blue-600"
      >Flat Earth Society</span
    >
</a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./flat-earth#polaris"
   
    ><span
      class="text-blue-500 font-bold hover:text-2xl hover:text-blue-600"
      >Flat Earth Zone</span
    >
</a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./flat-earth#aquino"
   
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-blue-600"
      >Michael Aquino (Satanist) created the flat earth psyop</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://forthepeople.space/flat-earth/"
       rel="noopener"
    target="_blank"
   
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-blue-600"
      >https://forthepeople.space/flat-earth/</span
    >
  </a>
</h5>

<div
  class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200"
>
  <div class="whitespace-break-spaces">
    There is an insidious conspiracy at work throughout the entire Internet
    which seeks to destroy Truth Movements everywhere. One of its organs of
    mischief is known as the Flat Earth Society (FES) and its explicit purpose
    is to take down every single truth-oriented website, blog and/or
    organization which permits an open comment section at the bottom of their
    posts and articles. Here’s how they work: Agents of the FES often begin by
    posting rather benign yet factual comments about NASA, which everyone now
    knows is a rogue agency which can rarely be trusted to tell the truth about
    particular scientific endeavors and galactic missions. That’s a no-brainer
    that everyone agrees with—NASA holds onto most of the truth and parcels out
    only the absolute minimum to the taxpayers who fund their space missions and
    other assorted projects. The Flat Earthers then take advantage of this
    universal hatred of NASA for their spewing so much deception over so many
    years, and they use it to subtly garner support for their nonsensical Flat
    Earth Theory (FET). When the time is right, the Flat Earthers will then
    start introducing utterly absurd notions about the Solar System and patently
    false concepts about the Earth’s relationship to the Sun.
  </div>
</div>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/alternative/2016/06/flat-earth-psyop-cia-blackop-designed-to-destroy-the-truth-movement-3368959.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-2xl hover:text-red-700"
      >Flat Earth PSYOP:CIA Black Op Designed to Destroy the Truth Movement</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2023/05/01/enough-already/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white text-left bg-green-900 text-xl font-bold hover:text-2xl hover:text-green-900 hover:bg-white"
      >Enough Already!</span
    >
  </a>
</h5>

<div
  class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200"
>
  <div class="whitespace-break-spaces">
    Charlie Freak, in his wonderful analysis of the series “Rabbit Hole”, paused
    to make a claim that the moon landing footage shot on a sound stage was
    proof of a flat earth. But, I say to Charlie there is another explanation
    for Kubrick’s film, and that it was shot for just in case the moon landing
    failed and a coverup was necessary. Don’t forget the Ham Radio operators
    recordings of the private channel statements by Armstrong that there were
    Aliens lined up on the rim of the crater watching.
  </div>
</div>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://benjaminfulford.net/wp-content/uploads/2024/06/BEYOND-THE-ICE-WALL-Cpt.-Robert-Scott-1912-archive.mp4?_=1"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white text-left bg-green-900 text-xl font-bold hover:text-2xl hover:text-green-900 hover:bg-white"
      >BEYOND-THE-ICE-WALL-Cpt.-Robert-Scott-1912-archive</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#problems"
    ><span
      class="text-sky-400 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Antarctica causes so many problems for Flat Earth</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=TmHVVZBmHTM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Antarctica causes so many problems for Flat Earth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=cLHTe_ORjLc"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Flat Earthers are Desperately Dodging a Free Trip to Antarctica</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bJ2eg5QHU2g"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Flat Earther Travels To Antarctica To Prove Conspiracy, Immediately
      Regrets It</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=_UNeYZEEOyo&t=600s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-sky-200 text-xl font-bold hover:text-2xl"
      >THIS Technology Could REVOLUTIONIZE Airline Safety! Mentour Now!(10:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=JsETzrRr3is&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Flat Earthers are Having a Meltdown Over the Antarctica Trip and 24-Hour Sun</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@DaveMcKeegan/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >Dave McKeegan</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.the-final-experiment.com/" rel="noopener" target="_blank"
    ><span
      class="text-red-700 text-xl font-bold hover:text-2xl hover:text-sky-500"
      >www.the-final-experiment.com</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=he-7vs0BkLE&t=18s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Professor Dave Humiliates Flat Earther David Weiss (DITRH Debunked Live)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#ditrh"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >Professor Dave Humiliates Flat Earther David Weiss (DITRH Debunked Live)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@ProfessorDaveExplains"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Professor Dave Explains</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=hiH1kJu8IO4"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >HEATED Fight with Flat Earther David Weiss (DEBUNK)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@AndrewGold1" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Andrew Gold</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/c/DITRH/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >DITRH</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.theflatearthpodcast.com/" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >flatearthdave.com</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@shaunattwoodOFFICIAL"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Shaun Attwood</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=FUKht-ZR9F0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >A57A Antarctic Iceberg At Sunset 4K</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./antarctica#oceanx"
    ><span class="text-sky-400 hover:text-2xl hover:text-green-900"
      >This is the Biggest Iceberg of All Time (OCEANX)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./antarctica#problems"
    ><span class="text-sky-400 hover:text-2xl hover:text-sky-800"
      >Antarctica causes so many problems for Flat Earth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#antarctica"
    ><span class="text-green-700 hover:text-2xl hover:text-purple-900"
      >Antarctica's Secret Alien Cover-Up | Ancient Aliens</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./antarctica#pyramids"
    ><span class="text-sky-400 hover:text-2xl hover:text-purple-900"
      >Pyramids Found Beneath Antarctic Ice | The UnXplained (Season 3)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1868682757523587514"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >What's really in Antarctica?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1849401885414891627"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Where's Enki?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1841531355215061206"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Pleiadians call him Earth's greatest deceiver.</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.submarinenetworks.com/stations/oceania/australia/oxford-falls"
  rel="noopener"
  target="_blank"
  ><span
    class="text-blue-400 text-xl font-bold hover:text-2xl hover:text-green-900"
    >Oxford Falls Cable Landing Station</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
