---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />

<FOUR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qfs2020.com/the-qfs" rel="noopener" target="_blank"
    ><span
      class="text-pink-600 font-bold    hover:text-pink-700"
      >The Quantum Financial system (QFS)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./gesara#tariffs" 
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >"What The Heck Is Going On?" | The Pleiadians | VALIR  Questioner: "What is going on with the tariffs and trade wars??"</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/02/24/reader-texastreeman-distractions-and-the-rv/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold    hover:text-emerald-700"
      >(Reader: Texastreeman) Distractions and the RV</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gazetteller.com/breaking-trump-has-signed-gesara-mass-arrests-are-happening-wealth-redistribution-has-begun-the-irs-is-gone-the-federal-reserve-is-finished-and-qfs-is-online/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase    hover:text-blue-900"
      >BREAKING! Trump Has Signed GESARA – Mass Arrests Are Happening - Wealth Redistribution Has Begun - The IRS Is Gone - The Federal Reserve Is Finished & QFS Is ONLINE! (4 Videos)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gazetteller.com/worldwide-banking-panic-gcr-rv-ignites-as-u-s-debt-set-to-be-wiped-out-the-bank-of-englands-vaults-are-empty-central-banks-on-the-verge-of-collapse/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase    hover:text-blue-900"
      >WORLDWIDE BANKING PANIC! GCR/RV IGNITES as U.S. DEBT Set to Be WIPED OUT</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://roserambles.org/2024/11/13/exposed-nesara-gesara-november-13-2024/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-rose-400 font-bold text-transform: uppercase    hover:text-rose-700"
      >EXPOSED: NESARA GESARA – November 13, 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/01/02/ariel-prolotario1-so-this-will-be-the-trump-card/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Ariel (Prolotario1): So this will be “The Trump Card”</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=257983"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase    hover:text-blue-900"
      >FULL DISCLOSURE: TRUMP’S FINAL STRIKE AGAINST THE GLOBALIST BANKING CABAL Posted By: Lymerick Date: Friday, 8-Aug-2025</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=250789"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-purple-100 font-bold    hover:text-blue-900"
      >INTEL - JENTEL NOTES - AA Michael Speaks</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6dzhog-real-news-live-with-mike-and-jen-monday-morning-news-and-jentel.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-100 font-bold    hover:text-green-900"
      >Real News Live with Mike & Jen! Monday Morning News and Jentel!</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=250891"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-green-100 font-bold    hover:text-blue-900"
      >Telegram: New Moon In Aquarius</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251464"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-green-100 font-bold    hover:text-blue-900"
      >'GLOBAL RESET / NESARA GESARA' - Ashtar Commander - New Message! (Video)</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/03/19/danlboon-nesara-announced-when/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-green-100 font-bold    hover:text-blue-900"
      >Danlboon: NESARA Announced When?</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase    hover:text-blue-900"
      >THE MOVIE</span
    >
  </a>
</h5>
