---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />

<FOUR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/" rel="noopener" target="_blank"
    ><span
      class="text-slate-800 font-bold hover:text-2xl hover:text-emerald-700"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1820954572090999090"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >The EBS will happen.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/Official_EzraCohen" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >Official_EzraCohen</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/EzraACohen" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-slate-800"
      >Ezra A. Cohen</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1864657480569020921"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >THURS. 26 DEC. 2024: ANNOUNCEMENT OF THE GLOBAL RESTORATION PLAN.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Official_MrPool/status/1864815383548485895"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >FRI. 3 JAN. 2025: GLOBAL UNITY ANNOUNCED AS FORMER ALLIANCES RESTRUCTURE.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=249457"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF WEDNESDAY 18 DECEMBER 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://roserambles.org/2024/11/13/exposed-nesara-gesara-november-13-2024/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-rose-400 font-bold text-transform: uppercase hover:text-2xl hover:text-rose-700"
      >EXPOSED: NESARA GESARA – November 13, 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/01/02/ariel-prolotario1-so-this-will-be-the-trump-card/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Ariel (Prolotario1): So this will be “The Trump Card”</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=250789"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-purple-100 font-bold hover:text-2xl hover:text-blue-900"
      >INTEL - JENTEL NOTES - AA Michael Speaks</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v6dzhog-real-news-live-with-mike-and-jen-monday-morning-news-and-jentel.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-100 font-bold hover:text-2xl hover:text-green-900"
      >Real News Live with Mike & Jen! Monday Morning News and Jentel!</span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=250891"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-green-100 font-bold hover:text-2xl hover:text-blue-900"
      >Telegram: New Moon In Aquarius</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251464"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-green-100 font-bold hover:text-2xl hover:text-blue-900"
      >'GLOBAL RESET / NESARA GESARA' - Ashtar Commander - New Message! (Video)</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >THE MOVIE</span
    >
  </a>
</h5>
