---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <GHOST /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#listof"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JOE BIDEN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >The Movie</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >@GhostEzraQ</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/GhostEzra" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >t.me/GhostEzra</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/GLwFhRs73wvG/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-slate-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >TRUMP DID NOT WANT TO BE PRESIDENT - THE MOVIE UNFOLDS WITH 3 GENERALS
      ASKING HIM TO RUN FOR 1 TERM(wil paranormal)</span
    >
  </a>
</h5>
