---
import Tops from "./Tops.astro";
import Police from "./Police.astro";
import FOUR from "./FOUR.astro";
---

<Tops />
<FOUR />
<!-- <GHOST /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#listof"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JOE BIDEN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >The Movie(I'll warn you now, things will get stranger from here.)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#alert"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >Presidental Alert</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-sky-900"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#greatest"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#explained"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#batman"
    ><span
      class="text-sky-500 bg-red-100 font-bold hover:text-2xl hover:text-green-900"
      >SLOW MOTION BATMAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/elonmusk/status/1812256998588662068?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >I fully endorse President Trump and hope for his rapid recovery</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >CHEVRON DOCTRINE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#shots"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >SHOTS HEARD(0:35)(1:45)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/the-greatest-show-on-earth-alert-alert-alert-more-than-200000-actors-from-central-casting-using-cgi-ai-masks-and-voice-modulation-were-used-in-this-movie/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 font-bold hover:text-2xl hover:text-blue-900"
      >BQQQM!!! The Greatest Show On Earth: ALERT ALERT ALERT! MORE THAN 200,000
      ACTORS FROM CENTRAL CASTING USING CGI, AI, MASKS, AND VOICE MODULATION
      WERE USED IN THIS MOVIE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v49sg29-cic-trump-said-central-casting-must-be-true.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CIC Trump said, "Central Casting"! Must be true!
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/UniquelyDone247/status/1805744846201831600"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-slate-800"
      >Trumps always saying Joes shot or he’s wearing a mask, central casting!
      Trumps been dropping clues about EVERYTHING. Now we know..especially when
      you go back and pay attention to what he says!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Breaking911/status/1812250364948918631?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >BREAKING: Trump taken away bloodied from rally in Pennsylvania</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/BRICSinfo/status/1812252112572584115?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >BREAKING: 🇺🇸 Assassination attempt on Donald Trump at Rally.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/07/14/codezvii-ears-dont-bleed-this-way/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >CodezVII: Ears Don’t Bleed this Way</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v56vkn1-the-assassination-movie-explained.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v56vguc-how-it-wen-t-down.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >HOW IT WEN T DOWN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/wvHacptE8QIB/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-green-900"
      >SLOW MOTION BATMAN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v572qaz-re-capps-and-now.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >re capps and now</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/07/13/derek-johnson-the-shots-heard-around-the-world/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-slate-950 font-bold hover:text-2xl hover:text-green-600"
      >Derek Johnson: The Shots Heard Around the World</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#shots"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >SHOTS HEARD(0:35)(1:45)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v49sg29-cic-trump-said-central-casting-must-be-true.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CIC Trump said, "Central Casting"! Must be true!
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<Police />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#vice"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >John F Kennedy Jr. 19th Vice President</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#palace"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >BUCKINGHAM PALACE IN THE UNITED KINGDOM HAS A GREEN LIGHT THAT MEANS THAT
      KING CHARLES III HAS ALREADY BEEN EXECUTED</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >@GhostEzraQ</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/GhostEzra" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >t.me/GhostEzra</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/GLwFhRs73wvG/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-slate-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >TRUMP DID NOT WANT TO BE PRESIDENT - THE MOVIE UNFOLDS WITH 3 GENERALS
      ASKING HIM TO RUN FOR 1 TERM(wil paranormal)</span
    >
  </a>
</h5>
