---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />
<FOUR />



       <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./#trash"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="./global#marshall"

            ><span
              class="text-pink-700 bg-white font-bold hover:text-pink-800"
              >Global Marshall Law - How Earth came under control of the Draco
              16,500 years ago..</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=5vUxcARsiRA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Global Marshall Law - How Earth came under control of the Draco
              16,500 years ago..</span
            >
          </a>
        </h5>
        <p class="mb-4 text-base text-gray-500">
          Anu Draco King aka the Lord from Bible @2:13
        </p>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#goode"
    ><span class="text-gray-400 font-bold hover:text-green-900"
      >COREY GOODE MEETING WITH DRACO/REPTILIAN</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#whitewall"
    ><span class="text-gray-400 font-bold hover:text-green-900"
      >[23 July 2021] The White Wall. ... What's behind it? Penny Kelly</span
    >
  </a>
</h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://gab.com/Bluewater100/posts/111046747794908004"
            rel="noopener"
            target="_blank"
            ><span
              class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
              >Bluewater @Bluewater100 (Enlil)</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=229215"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 bg-white text-base hover:text-lg hover:text-green-900"
              >NANCY PELOSI ADMITS THAT SHE IS A REPTILIAN calls herself COLD
              BLOODED!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/ePQshenLEN03/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GLOBAL MARSHALL LAW - HOW EARTH CAME UNDER CONTROL OF THE DRACO
              16,500 YEARS AGO.</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/DWs7wVo4nojW"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-black font-bold hover:text-pink-800"
              >GLOBAL MARSHALL LAW - HOW EARTH CAME UNDER CONTROL OF THE DRACO
              16,500 YEARS AGO</span
            >
          </a>
        </h5>
               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://old.bitchute.com/channel/know-thy-enemy"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-black font-bold hover:text-pink-800"
              >Know thy Enemy</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/fb9c53fc-7684-43f2-b078-6a546845a782"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Global Marshall Law - How Earth came under control of the Draco
              16,500 years ago..</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=uRJ7RpKWpr4"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Global Marshal Law Hierarchy Chart from Kim - Manna World Trust</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.buymeacoffee.com/b3jTqNgVwt/christian-1866360"
            rel="noopener"
            target="_blank"
            ><span
              class="text-purple-700 bg-white text-base hover:text-lg hover:text-green-900"
              >THE 13 BLOOD LINES WOT MOST YOU AWARE OF ...</span
            >
          </a>
        </h5>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://rumble.com/v2coozc-oppisheklio-and-pidkozox-enki-and-enlil-.html"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Oppisheklio & Pidkozox = Enki & Enlil?</span
            >
          </a>
        </h5>