---
---

<br />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/october/october-10-2023.mp3"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Kent Dunn 10 Oct '23</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">...</p>
