---
---

<br />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">Shapeshifters are disappearing</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#matrix"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >VIDEOS THE MATRIX DOESN'T WANT YOU TO SEE(vanishing)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">Shapeshifters are disappearing</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#blood"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >REPTILIANS DOMINATE POLITICS WORLD WIDE! ALL ARE RELATED BY BLOOD!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/FUiq8eSM6SxP/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-purple-900 text-base hover:text-lg hover:text-purple-900 hover:bg-white"
      >THE STORM IS HERE(vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/173OcBKpqDli/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-purple-900 text-base hover:text-lg hover:text-purple-900 hover:bg-white"
      >OH MY DOG A REFLECTION(vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/2XsZMF8gs1i4/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-purple-900 text-base hover:text-lg hover:text-purple-900 hover:bg-white"
      >ISRAEL SOLDIERS MOCK DEAD GAZA BABIES - THEY ARE NEPHILIM, NOT HUMAN!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/BiR5uPZwIBDK/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-purple-900 text-base hover:text-lg hover:text-purple-900 hover:bg-white"
      >DONALD TRUMP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/october/october-10-2023.mp3"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Kent Dunn 10 Oct '23 @13:50 @30:10 @33:10</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="http://kcorradio.com/the-journey-of-universal-knowledge.htm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >KCOR-Kent Dunn</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#israel"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-red-700"
      >"ISRAEL WILL BE LAST >>>WHY?"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thegoldwater.com/news/4546-NASA-Says-There-Are-No-Child-Sex-Slaves-On-Mars"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-400 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >NASA Says ‘There Are No Child Sex Slaves On Mars’</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://proofofalien.com/top-10-different-types-of-alien-species-on-earth/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Top 10 Different Types Of Alien Species On Earth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/NotOpCue/status/1630467054649131009?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-400 bg-white text-base hover:text-lg hover:text-green-900"
      >Not For The Faint-Hearted</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.humorousmathematics.com/post/what-is-adrenochrome-follow-the-white-rabbit"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Not For The Faint-Hearted what-is-adrenochrome-follow-the-white-rabbit</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">...</p>
