---
---

<br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@familyoftaygeta"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-green-900"
      >Family of Taygeta</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/c-1740607" rel="noopener" target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >You Are Loved</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#pleiadians"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Pleiadians in the Bible?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@Indianinthemachine"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Indianinthemachine</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://channelings.substack.com/" rel="noopener" target="_blank"
    ><span class="text-blue-400 text-base hover:text-lg hover:text-green-900"
      >channelings.substack.com</span
    >
  </a>
</h5>
