---
import Tops from "./Tops.astro";
---

<Tops />

<!-- <Highest /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#highest"
    ><span
      class="text-sky-500 bg-green-100 font-bold hover:text-2xl hover:text-green-900"
      >Covid Vaccines Have Highest ‘Kill Rate’ In Medical History – Media
      Blackout</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#kill"
    ><span
      class="text-gray-600 bg-slate-100 font-bold hover:text-2xl hover:text-gray-950"
      >BOOM! Covid Shot Causes Highest Kill Rate In History - Warns Top Doctor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/RealAlexJones/status/1788708684526190739"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >BOOM! ‘Covid Shot Causes Highest Kill Rate In History,’ Warns Top Doctor</span
    >
  </a>
</h5>
