---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Highcommand /> -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#caged"
    ><span
      class="text-sky-400 bg-white text-base hover:text-lg hover:text-green-900"
      >2,100 CAGED KIDS RESCUED BY U S MARINES FROM UNDERGROUND TUNNELS IN
      CALIFORNIA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/D3H9ZZkujS5b/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >2,100 CAGED KIDS RESCUED BY U S MARINES FROM UNDERGROUND TUNNELS IN
      CALIFORNIA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://timothycharlesholmseth.com/2100-caged-kids-in-tunnels-rescued-by-us-marines-in-california-taken-to-hospitals-most-believed-to-be-abducted-by-cps/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >2100 CAGED KIDS IN TUNNELS RESCUED BY US MARINES IN CALIFORNIA – TAKEN TO
      HOSPITALS – MOST BELIEVED TO BE ABDUCTED BY CPS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/the_high_command/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-base font-extrabold hover:text-lg hover:text-green-900"
      >THE_HIGH_COMMAND</span
    >
  </a>
</h5>

<a href="./monsters">
  <p class="text-left text-yellow-100 hover:text-blue-300">Monsters Inc</p></a
>
