---
import Tops from "./Tops.astro";
---

<Tops />

<!-- <Highest /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#highest"
    ><span
      class="text-sky-500 bg-green-100 font-bold hover:text-2xl hover:text-green-900"
      >Covid Vaccines Have Highest ‘Kill Rate’ In Medical History – Media
      Blackout</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#kill"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-gray-950"
      >BOOM! Covid Shot Causes Highest Kill Rate In History - Warns Top Doctor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/jathorpmfm" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-sky-800"
      >@jathorpmfm</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/RealAlexJones/status/1788708684526190739"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-sky-800"
      >BOOM! ‘Covid Shot Causes Highest Kill Rate In History,’ Warns Top
      Doctor(x.com)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Referee1314562/status/1808598968084889981"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-sky-800"
      >@Referee1314562·4 Jul(x.com)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1602509008828497920"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-sky-800"
      >Let’s go over everything that was done to make you believe in a deadly
      virus that does not exist:</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1734075432226418984"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-sky-800"
      >"India 5G Towers Kill 32 Villagers in 20 Days". Oxygen problems
      indicated.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@Mukunda-dasa108:1/India-5G-towers-kill:f"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-pink-300 font-bold text-justify hover:text-2xl hover:text-blue-900 hover:bg-pink-200"
      >India 5G Towers Kill 32 Villagers in 20 Days!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#mark"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >THE TRUTH ABOUT THE MARK OF THE BEAST Revelation 13:16</span
    >
  </a>
</h5>
