---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#trafficking"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Hollywood Human Trafficking
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#forest"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >USA, A toddler notices aliens in the forest and she shows her father that
      they are there.This footage is true.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#caged"
    ><span
      class="text-sky-400 bg-white font-bold hover:text-2xl hover:text-green-900"
      >2,100 CAGED KIDS RESCUED BY U S MARINES FROM UNDERGROUND TUNNELS IN
      CALIFORNIA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#dumb"
    ><span
      class="text-sky-400 bg-white font-bold hover:text-2xl hover:text-green-900"
      >Remember this from 2020? ⚔ THE INVISIBLE WAR ⚔</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/Official_MrPool/681" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-blue-500"
      >Sometimes you can't TELL the public the truth. - YOU MUST SHOW THEM. ONLY
      THEN WILL PEOPLE FIND THE WILL TO CHANGE. Crimes against children unite
      all humanity [cross PARTY LINES]? Difficult truths. Q No one escapes this.
      Not this time.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/deep-state-pedophiles-exposed-child-trafficking-hollywood-pedophiles-major-companies-politicians-vatican-deep-state-demons/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 bg-white font-bold hover:text-2xl hover:text-purple-900"
      >Deep State Pedophiles Exposed: Child Trafficking, Hollywood Pedophiles,
      Major Companies, Politicians, Vatican, Deep State Demons</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/HollywoodExposedDocumentaries"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >Documentaries Exposing Human Trafficking</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@ForEverFree:3/Hollywood_Human_Trafficking:2"
    rel="noopener"
    target="_blank"
    ><span
      class="text-yellow-300 bg-pink-600 font-bold hover:text-2xl hover:text-green-900"
      >Hollywood Human Trafficking</span
    >
  </a>
</h5>
