---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/shkimmZV/status/1848341690060575004"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >World Bank lawyer </span
    >
  </a>
</h5>
