---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#tucker"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Tucker Carlson: Non-Humans “That have always Been Here”</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=raYTeWp2PoA&t=480s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-900"
      >Shocking Developments in Middle East - Extraterrestrial Agreements & The
      Jerusalem Mothership @8:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/davidicke/status/1738761949662400784?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Amazing how these people are claiming there are 'hostile
      interdimensional/spiritual forces influencing the human Ant Farm'
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/JohnMappin/status/1738899646414483508?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Perhaps it it now time @TuckerCarlson to properly interview Sir
      @davidicke</span
    >
  </a>
</h5>
