---
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#latest"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >---LATEST---</span
    >
  </a>
</h5>
<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=231815"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >INTEL From Telegram - 3 Memes - Reader Submissions</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-black">
  INTEL From Telegram - 3 Memes - Reader Submissions<br />
  Posted By: Mr.Ed [Send E-Mail]<br />
  Date: Friday, 3-Nov-2023 18:03:13
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232317"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >INTEL From Telegram - 2 New Memes with Arch Angels Michael & Gabriel</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232248"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Fulford preview 11/13: "UNITED STATES CORP., Israel, Poland and Ukraine
      may cease to exist as KM defeated"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/november/november-14-2023.mp3"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Kent Dunn 14 Nov '23</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232359"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >'WOW INTEL' - Calendar of Events for November</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232459"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Intel by Commander Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232706"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Telegram:QDisclosure17: Things are getting wild!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=232709"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 text-base hover:text-lg hover:text-red-600"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#pepsi"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-500"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#dew"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-500"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#maui"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-pink-500"
      >Mountain Dew fans, new flavor dropping called Maui Burst. Exclusively
      from Dollar General.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#vaccinated"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-red-600"
      >"Did I Understand You To Say MOST Deaths Were Among The Vaccinated?"</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/0IV4HtIvegq7/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-600"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/password" rel="noopener" target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-purple-600"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/QTHESTORMM" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/xDcwLNVjkkYC/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-600"
      >WE HAVE IT ALL (John McAfee)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233207"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Nature’s Most Powerful Antibiotics</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://alcuinbramerton.blogspot.com/2020/10/altnews131ab.html"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-purple-900"
      >A Short Notice to the Surface Population(Friday, December 1, 2023)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2023/12/06/the-fog-is-lifting/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-950 text-base hover:text-lg hover:text-purple-900"
      >The Fog is Lifting</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233411"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >John McAfee APPEARS TO BE ON A MISSION! ALL THE RIGHT PEOPLE ARE SCARED!
      QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/password" rel="noopener" target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-purple-600"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/QTHESTORMM" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#wordpress"
    ><span class="text-black text-base hover:text-lg hover:text-purple-600"
      >(JFK)President John F Kennedy didn't die in 1963: he lived until
      2021(wordpress)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/w0B3Bxev3Bao/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >President John F Kennedy didn't die in 1963: he lived until 2021</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=cVuhO_dY7J0"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >"China Will Lose 600 Million People..." - Jim Rickards</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233640"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF FRIDAY 15 DECEMBER 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/PQUVZ598ATgc/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >FALL OF THE CABAL FINAL COUNTDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233662"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Military Public Alert - EBS/EAS IMMINENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233653"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >People who got COVID Jabbed now Displaying MAJOR Personality Changes
      Stemming from vaccine-induced Neurological Damage</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233643"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Watch As Guy Tosses Grenades Into A City Council Meeting In Ukraine . . .</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233657"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >4 Tricks for when doctors gaslight you - Dr. Kaveh LIVE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=8sRoYvFTE3c"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >Honest Government Ad | Visit the UK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233684"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF SATURDAY 16 DECEMBER 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233681"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Case In Point - This Just In !!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/12/president-trump-laughs-at-colorado-supreme-court-ruling/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-400 text-base hover:text-lg hover:text-purple-900"
      >President Trump Laughs at Colorado Supreme Court Ruling</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/12/marines-arrest-colorodo-scj-who-voted-to-remove-president-trump-from-state-ballot/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-400 text-base hover:text-lg hover:text-purple-900"
      >Marines Arrest Colorado SCJ Who Voted to Remove President Trump from
      State Ballot</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233882"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >12-20-23: Q) The Storm Rider - Latest posts - Intel and commentary</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://simplecapacity.com/2017/03/anunnaki-the-forbidden-movie-that-never-came-to-the-cinemas-why/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Anunnaki: The ‘Forbidden’ Movie That Never Came To The Cinemas, Why?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=0ZWSaJuWD1Y"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >Why many believe a doppelgänger is acting as Biden: a White Hat Op in
      progress</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=233979"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >12-22-23: Q) The Storm Rider - Intel and commentary - STAGING for the
      STORM ARREST WARS - DC Elites in panic - getting their lawyers ready</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/meantweeting1/status/1738327435760820511?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-red-700"
      >Never mind, Prince Andrew, wait until ...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234251"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF THURSDAY 28 DECEMBER 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#tucker"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Tucker Carlson: Non-Humans “That have always Been Here”</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=raYTeWp2PoA&t=480s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-900"
      >Shocking Developments in Middle East - Extraterrestrial Agreements & The
      Jerusalem Mothership @8:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/davidicke/status/1738761949662400784?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Amazing how these people are claiming there are 'hostile
      interdimensional/spiritual forces influencing the human Ant Farm'
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/JohnMappin/status/1738899646414483508?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Perhaps it it now time @TuckerCarlson to properly interview Sir
      @davidicke</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234392"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >TO ALL ALT. JOURNALISTS! The Deep State is f*cked!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-purple-800"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#qthestormm"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-purple-800"
      >ITS HERE ...(@QTHESTORMM)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234775"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >1-7-24: Q) The Storm Rider - Latest posts - Intel and commentary</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234790"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >1-8-24: Q) The Storm Rider - Latest post - Intel and commentary</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234800"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Fulford preview 1/8: "We are headed for some sort of mega black swan
      event, possibly this week"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=234818"
    rel="noopener"
    target="_blank"
    ><span class="text-green-900 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF TUESDAY 9 JANUARY 2024
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/01/09/reader-sherry-t-light-is-near/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-950 text-base hover:text-lg hover:text-purple-900"
      >(Reader: Sherry T) Light is Near!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Suspended1717/status/1703094739417833536"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Q: The greatest military intelligence operation of our time!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/iluminatibot/status/1745953190896603359?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Former Pfizer VP, Dr. Michael Yeadon, says he doesn’t believe the COVID
      virus ever existed.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#easily"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Cancer is so easily cured it's not even funny</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235091"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >1-11-24: Kerry Cassidy with Patriot Underground discuss how the White
      Hats take the country back</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235175"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Jeffrey Ebstein & Anthony Bourdain Are Brothers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235219"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >STATUE of SEWER REPTILE DRAGGING KID near NY UNDERGROUND TUNNEL</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235209"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#finance"
    ><span class="text-green-500 text-base hover:text-lg hover:text-gray-900"
      >FINANCE FEAR, COMPETITION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235282"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >17 Million Murdered By COVID Vaccines and Voodoo Death (video)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235552"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 hover:text-lg hover:text-blue-900"
      >6 Deaf Children Can Now Hear After a Single Injection</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.wired.com/story/deaf-children-hear-gene-therapy/"
    rel="noopener"
    target="_blank"
    ><span class="text-gray-900 hover:text-lg hover:text-blue-900"
      >6 Deaf Children Can Now Hear After a Single Injection</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235555"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 hover:text-lg hover:text-blue-900"
      >Vaccines Probably Caused The Deafness in The First Place</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235654"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >1-27-24: Q) The Storm Rider - Latest posts - Intel and commentary - Why
      is the U.S. so important to world freedom?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/clif_high/status/1751635974956945793"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-400 text-base hover:text-lg hover:text-purple-900"
      >Clif High On The Coming Trials & Tribulations . By Clif High - January
      28, 2024</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235846"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >(VIDEO 9.46) BREAKING!!! (10 YEARS AGO!!) UFO ALIEN DISCLOSURE By
      Canadian Minister of Defence MAY 2013</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1750239590957342754?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 text-base font-bold hover:text-lg hover:text-green-800"
      >ITS HAPPENING ...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1750319410097660120?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 text-base font-bold hover:text-lg hover:text-green-800"
      >GREEN SKY. ITS HERE.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1750432677423903066?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 text-base font-bold hover:text-lg hover:text-green-800"
      >ALERT: GREEN LIGHTS ON AT THE WHITE HOUSE TONIGHT !!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1753017674924269682?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 text-base font-bold hover:text-lg hover:text-green-800"
      >BREAKING: GREEN LIGHTS SHINE FROM THE US CAPITOL BUILDING LATE LAST
      NIGHT.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235895"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >2-1-24: Q) The Storm Rider - Latest posts - Intel and commentary - FBI
      [DS] set up on Texas border?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://starshipearththebigpicture.com/2024/02/01/february-1-2024-the-changing-face-of-the-war-for-planet-earth-videos/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-purple-900"
      >February 1, 2024: The Changing Face of the War for Planet Earth [videos]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236147"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >2-7-24: Q) The Storm Rider - Latest posts - Intel and commentary - TUCKER
      INTERVIEWS PUTIN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236155"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >The long wait is over: We've officially entered the Golden Age of
      Aquarius!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236207"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base font-bold hover:text-lg hover:text-purple-900"
      >The decision for the breakthrough will be made outside our planet, and
      implemented if either or both conditions are met.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://finalwakeupcall.info/en/" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-green-900"
      >The Final Wakeup Call (2024/02/06)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236203"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-purple-900"
      >Tucker Carlson On 'X' - Episode 73 . . . The Vladimir Putin Interview
      (Video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236202"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Alex Jones Drops Epic History Lesson to Reveal Why Globalists Hate Russia</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236370"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF TUESDAY 13 FEBRUARY 2024
      (nuclear missile)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236496"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >2-15-24: Q) The Storm Rider - Latest posts - Intel and commentary -
      Putin/Trump/Elon Musk</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236487"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >DR. MERRITT & GENE DECODE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#reptilians"
    ><span class="text-green-900 text-base hover:text-lg hover:text-purple-900"
      >Dr. Michael Salla — Shocking Evidence of Earth-Based Reptilians and Alien
      Technologies Revealed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236579"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >How Did Graphene Oxide Get In Everyone's System? . . . Look Up</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237011"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Taylor Swift Concerts wiping memories</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236969"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >THE SPIKE PROTEIN IS A LIE - Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/02/28/the17letter-jfk-jr-21-days/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-purple-900"
      >The17Letter (JFK Jr.): 21 Days</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/Ron_Desantis2/12189" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Jacob Rothschild has died, 87
      <br />
      Jacob Rothschild died just three days after two black horses were spotted with
      a ‘captured’ white horse<br /> and a Black Flag outside Buckingham Palace.
      <br />
      Are you getting it yet?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.tiktok.com/@ladyamberlalexander/video/7339582294723726635"
    rel="noopener"
    target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-purple-900"
      >Two Black Horses were spotted with a ‘captured’ White Horse and Black
      Flag outside Buckingham Palace</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./charles#stunned"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-900"
      >RARE SIGHTING: Public Stunned as Nobody Expected to See This!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237459"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Benjamin Fulford Friday podcast 3/1/24 with Q&A (17 min)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/CeocJi8odJAq/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/AQ4eOsPXx0Ak/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-purple-900"
      >EXPOSING BITCH U TE CIA /MOSSAD/MI6 AGENTS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237762"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF FRIDAY 15 MARCH 2024</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237789"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >‘Close Family Friend’ Of Dead Boeing Whistleblower Says He Told Her, “If
      Anything Happens To Me, It’s Not Suicide” (3 Videos)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/03/16/restored-republic-via-a-gcr-as-of-march-16-2024/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-900 text-base hover:text-lg hover:text-purple-900"
      >Restored Republic via a GCR as of March 16, 2024 (Black Swan Event.)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/03/18/restored-republic-via-a-gcr-as-of-march-18-2024/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-900 text-base hover:text-lg hover:text-purple-900"
      >Restored Republic via a GCR as of March 18, 2024 (Black Swan Event.)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238053"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Fulford full newsletter 3/18/24: "The “Rules Based World Order” faction
      has surrendered" (black swan event)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237929"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF TUESDAY 19 MARCH 2024 (Black
      Swan Event.)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238096"
    rel="noopener"
    target="_blank"
    ><span class="text-red-900 text-base hover:text-lg hover:text-purple-900"
      >The British Royals and the Reptilians (video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238094"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Deadly Quiet - The wall of silence surrounding excess deaths | With John
      O’Looney (15 min video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238249"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >THE X-FILES (3/26/2014) Liz Crokin on Hollywood Pedos</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/02/restored-republic-via-a-gcr-as-of-april-2-2024/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-300 text-base hover:text-lg hover:text-purple-900"
      >Restored Republic via a GCR as of April 2, 2024(JFK)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238603"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >What's All The Fear & Hype About April 8th Solar Eclipse? The Answer Here</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238695"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Farmer tells what happened when hogs were injected with a mRNA vaccine
      (short but very important video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/04/05/great-tartary-4th-part/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-300 text-base hover:text-lg hover:text-purple-900"
      >Great Tartary – 4th part</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=dkIC49FF9zI"
    rel="noopener"
    target="_blank"
    ><span class="text-red-500 text-base hover:text-lg hover:text-purple-900"
      >REAL?! Demon Face Syndrome Revealed..Shapeshifters Among Us? You Will Not
      Believe This.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/FUiq8eSM6SxP/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-purple-900 text-base hover:text-lg hover:text-purple-900 hover:bg-white"
      >THE STORM IS HERE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/04/19/insider-paper-tucker-carlson-talks-about-extraterrestrials-with-joe-rogan/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-900 bg-gray-900 text-base hover:text-lg hover:text-purple-900 hover:bg-gray-100"
      >Insider Paper: Tucker Carlson Talks about Extraterrestrials with Joe
      Rogan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/eyUaM2v4FNqC/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-purple-900"
      >VACCINES NEVER SAVED A SINGLE LIFE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 text-base hover:text-lg hover:text-purple-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#demon"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239608"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Pascal Najadi: Warns of EBS Alert and Lockdown in the Late Spring!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239596"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >The Law and You: How the Birth Certificate is Used to Take Away Your
      Natural Rights - Pao Chang</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#pascal"
    ><span
      class="text-sky-500 text-base font-poppins hover:text-lg hover:text-purple-900"
      >PASCAL NAJADI - ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON
      - THE CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/bombshell-jfk-and-jfk-junior-are-alive-us-mil-op-storm-surfacing-april-30th-2024-wwg1wga-nazi-political-democracy-and-nazi-flag-deleted-pascal-najadi-epic-video/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Bombshell!!! JFK and JFK Junior are Alive – US Mil. Op. STORM Surfacing
      April 30th 2024</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#arrests"
    ><span
      class="text-sky-500 bg-white font-bold text-justify hover:text-2xl hover:text-green-900"
      >MayDay (May 1st) 2024: The covert U.S.🇺🇸 led Global Defence War 50 USC
      1550 Alliance Covert Mil. Ops. surfaced - Mass Arrests and Executions
      (Layer 2) - EO 13818 now in Full Force Execution Ops. Mode #WWG1WGA-JFK
      'Q'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#battle"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >One last battle and the Rockefeller/Hitler branch of the KM will go down</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#australian"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >TRUTH Special May 9th 2024 Ascension Day Number 9 God's Number : With
      Comrade Lt. Colonel Riccardo Bosi, Australian former Special Forces
      Commander #WWG1WGA
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240541"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Medical Authorities Claim 90% of Population suddenly Has Mysterious New
      Heart Syndrome that Sounds like SPIKE PROTEIN Organ Damage</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240579"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >RESTORED REPUBLIC VIA A GCR: UPDATE AS OF SATURDAY 18 MAY 2024(Jamie
      Dimon)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240606"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >Invention Secrecy Act of 1951 EXPOSED - Why Are They Hiding 6,000 Patents
      (many dealing with unconventional energy systems) From YOU? [19 min video]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240831"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >INTEL by Ghost Ezra Cohen on EBS & 'The Movie'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >@GhostEzraQ</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/GhostEzra" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >t.me/GhostEzra</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/ishjay1960/49781" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin has declared the New World Order as dead.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/putin-the-new-world-order-is-dead-the-q-calendar-and-the-7-storms/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin has declared the New World Order as dead.(amg-news.com)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/ishjay1960/49895" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >SGAnon confirmed 12/31/18 was the date HRC was executed.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/ishjay1960/49894" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 text-base font-bold hover:text-lg hover:text-slate-800"
      >THIS Video explains The White Plan to the last detail and yet I have
      NEVER seen this on another "Truther" channel. R U guys real?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3hooq0-the-greatest-show-on-earth.-a-film-by-nick-alvear.-thx-john-galt.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 text-base font-bold hover:text-lg hover:text-slate-800"
      >THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2022-06-21-putin-declares-victory-over-new-world-order.html"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin declares victory over New World Order: ‘Change of elites’ coming
      because humanity has ‘woken up’</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/putin-declares-victory-over-new-world-order-change-of-elites-coming-because-humanity-has-woken-up/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin declares victory over New World Order: ‘Change of elites’ coming
      because humanity has ‘woken up’(TPV)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/urgent-call-to-arms-military-tribunals-why-they-are-absolutely-necessary-because-the-barbarians-are-inside-the-gate/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Urgent Call to Arms: MILITARY TRIBUNALS! Why They Are Absolutely
      Necessary? Because The Barbarians Are Inside The Gate!(amg-news.com)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=241138"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >Trump Found Guilty On All 34 Counts, Alex Jones Issues False Flag Alert!
      (short video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=241216"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >X22 Report interviews Dr. Charles Simone: The DOD Created The Vaccines,
      What If Cures Already Exist? They Do (49 min)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=241212"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >6-1-24: Q) The Storm Rider - Latest posts - Intel and commentary -
      important stages of military operations to EXPOSE a military COUP by the
      cabal deep state</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=241397"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >***BREAKING*** USSC Ruling: State Banks Can Disband From The Federal
      Reserve System & Issue Their Own Currency</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#controlled"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >A Message From JFK Jr. - Meme Date: Wednesday, 19-Jun-2024 15:02:55
      www.rumormill.news/242122</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=242301"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >6-21-24: Q) The Storm Rider - Latest short posts - Intel and commentary -
      "WORLD WAR III" is only a necessary scare event - Economic crash has to
      happen - Biden and King Charles</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#commander"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?noframes;read=244398"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >~ The 17th Letter ~ THE GREAT AWAKENING >>>>>>> IS UNDERWAY ON PLANET
      EARTH AT THIS HOUR! >>>>>>> AS PART OF OPERATIONS / FREEDOM EARTH / /
      MASTERPIECE / / PANDORA / AND / STORM /</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=244418"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Update by Galactic Commander Valiant Thor</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=244481"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >I Got The COVID Vaccine to Protect YOU!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=246462"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Nurse reports on increased illnesses in the hospital - but doctors
      baffled</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247208"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >INTEL MEMES Wednesday, 9-Oct-2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113307837622334978"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 font-bold hover:text-2xl hover:text-emerald-700"
      >I was having a conversation today with some people to listen what they THOUGHT.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#alert"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >Presidental Alert</span
    >
  </a>
</h5>

<Nagasone />
<h2 id="latest">
  <p class="mb-4 text-base text-blue-900">LATEST</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
