---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Finance /> -->
<br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp#iso20022"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-slate-800"
      >ISO 20022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./abc#weir"
    ><span
      class="text-gray-500 font-bold text-justifyhover:text-2xl hover:text-green-900"
      >Bix Weir - The Good Guys Are In Control, The Truth Is Being Exposed For
      The World To See</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp#iso20022"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-slate-800"
      >Federal Reserve Turns to XRP and Hedera for ISO 20022 RLUSD Payment Innovations</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.iso20022.org/payments-seg-member-list"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >Payments SEG Member List</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.iso20022.org/about-iso-20022"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >ISO 20022 is a multi part International Standard prepared by ISO Technical Committee TC68 Financial Services</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Ripple" rel="noopener" target="_blank"
    ><span class="text-sky-600 bg-emerald-200 text-base hover:text-lg hover:text-slate-800"
      >Ripple</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.cryptopolitan.com/iso-20022-compliant-crypto-list/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >ISO 20022 Crypto: List of Compliant Coins in 2023</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://cryptonews.com/cryptocurrency/iso-20022-crypto/#:~:text=By%20adopting%20the%20ISO%2020022,instant%20and%20reliable%20transactions%20worldwide."
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-green-900"
      >ISO 20022 Crypto: Top List of Compliant Coins in 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://coinmarketcap.com/currencies/ripple-usd/"
    rel="noopener"
    target="_blank"
    ><span class="text-[#4444ff] text-base hover:text-lg hover:text-green-900"
      >RLUSD(coinmarketcap)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.coingecko.com/en/coins/ripple-usd"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 text-base hover:text-lg hover:text-green-900"
      >RLUSD(coingecko)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://coinpaprika.com/coin/rlusd-ripple-usd/exchanges"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >RLUSD(coinpaprika)</span
    >
  </a>
</h5>



<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
