---
---

<br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#daryl"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >EP 273 - Daryl James: Why Izr@el For Last?: Off-World German Colonies &
      New Memories</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#israel"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-red-700"
      >"ISRAEL WILL BE LAST >>>WHY?"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#israel"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ISRAEL STARGATES BLACK SUN</span
    >
  </a>
</h5>
