---
---

<br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#daryl"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >EP 273 - Daryl James: Why Izr@el For Last?: Off-World German Colonies &
      New Memories</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#israel"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-red-700"
      >"ISRAEL WILL BE LAST >>>WHY?"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#israel"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ISRAEL STARGATES BLACK SUN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#wall"
    ><span class="text-fuchsia-600 text-lg font-bold hover:text-green-800"
      >Platform 9¾ | Harry Potter and the Philosopher's Stone</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#insights"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Navy Whistleblower - Deep insights into the tunnel systems</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kcorradio.com/archives/the-journey-of-universal-knowledge/2023/october/october-31-2023.mp3"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >Kent Dunn 31 Oct '23 @4:00 @5:00 @15:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="http://kcorradio.com/the-journey-of-universal-knowledge.htm"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
      >KCOR-Kent Dunn</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#custodians"
    ><span
      class="text-red-600 text-lg font-bold hover:text-2xl hover:text-purple-700"
      >THE CUSTODIANS</span
    >
  </a>
</h5>
