---
---

<!-- <JFKMEME /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#vice"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >John F Kennedy Jr. 19th Vice President</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=242122"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-justify font-bold hover:text-2xl hover:text-green-900"
      >A Message From JFK Jr. - Meme Date: Wednesday, 19-Jun-2024 15:02:55
      www.rumormill.news/242122</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-sky-500 bg-yellow-300 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
