---
---

<!-- <JFKMEME /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#vice"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >John F Kennedy Jr. 19th Vice President</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=242122"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-justify font-bold hover:text-2xl hover:text-green-900"
      >A Message From JFK Jr. - Meme Date: Wednesday, 19-Jun-2024 15:02:55
      www.rumormill.news/242122</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#controlled"
    ><span
      class="text-blue-700 bg-emerald-100 text-justify font-bold hover:text-2xl hover:text-green-900"
      >A Message From JFK Jr.The deep state has always used infiltration as a
      means of their control. By installing their puppets, they try to keep
      everyone controlled in each program.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#forest"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >USA, A toddler notices aliens in the forest and she shows her father that
      they are there.This footage is true.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#watchers"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >DO YOU THINK THE ANUNNAKI EXISTED? WERE THE WATCHERS MENTIONED IN THE
      BIBLE? DID THEY HYBRIDIZE HUMANS?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#trafficking"
    ><span
      class="text-blue-700 bg-emerald-100 text-justify font-bold hover:text-2xl hover:text-green-900"
      >PRESIDENT TRUMP & HIS ADMINISTRATION FOCUSING TO END: CHILDSEX- and HUMAN
      TRAFFICKING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://memetrunk.com/jfk-jr/post/the-deep-state-has-always-used-infiltration-as-a-means-of-their-control-g2O788o6ktb2amW"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-red-100 text-justify font-bold hover:text-2xl hover:text-green-900"
      >A Message From JFK Jr.The deep state has always used infiltration as a
      means of their control. By installing their puppets, they try to keep
      everyone controlled in each program.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://roserambles.org/2022/09/17/message-from-vice-president-jfk-jr-sept-17-2022/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-justify font-bold hover:text-2xl hover:text-green-900"
      >Message from Vice-President JFK, Jr. – Sept. 17, 2022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-sky-500 bg-yellow-300 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
