---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://banned.video/channel/the-alex-jones-show"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-900 bg-white text-base hover:text-lg hover:text-blue-900"
      >The Alex Jones Show</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/RealAlexJones" rel="noopener" target="_blank"
    ><span
      class="text-sky-400 bg-white text-base hover:text-lg hover:text-blue-900"
      >@RealAlexJones</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/infowars" rel="noopener" target="_blank"
    ><span
      class="text-sky-400 bg-white text-base hover:text-lg hover:text-blue-900"
      >@INFOWARS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/channels/infowarsnetwork"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-900 bg-white text-base hover:text-lg hover:text-blue-900"
      >InfoWars</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#explained"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>
