---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/8ekW7FmH6wja/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-400 bg-white text-base hover:text-lg hover:text-red-700"
      >JESUS IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#agena"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >THE ALIEN AGENDA 2019 GEORGE NEWS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#pleiadian"
    ><span
      class="text-sky-500 font-bold text-justify hover:text-2xl hover:text-green-900"
      >Jordan Maxwell Is A Pleiadian</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=pClqJ39gkW0&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell Is A Pleiadian</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=EaKrMc6_Da0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-sky-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Sons Of God Are Not Who You Think | Jordan Maxwell Hidden Knowledge(2:15)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-gray-800">The Companion Bible(2:15)</p>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vkvideo.ru/video694193762_456240804"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-sky-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell & Michael Tsarion with George Noory on Coast2CoastAM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=e4Dg3ihbVmA"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-purple-200 font-bold    hover:text-green-900 text-transform: uppercase"
      >THE PLEIADIANS - Our Allies Against the REPTILIANS (Part 1 of 2)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=m3eDsUQlkWg"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900 text-transform: uppercase"
      >Reptilian Alien Presence on Earth | Jordan Maxwell</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=Ojbk5jvXzg4"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >All Religions Are Run By Reptilians Part 2</span
  >
</a>
</h5>