---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <LEAudio /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluetooth#starkey"
    ><span
      class="text-sky-500 bg-orange-200 font-bold text-justify hover:text-sky-700"
      >Starkey Edge AI Detailed Hearing Aid Review(15:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=EG7SoW4lp0I"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
      >Starkey Edge AI Detailed Hearing Aid Review(15:00)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.starkey.com/compatibility"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Check device compatibility(Device compatibility lists)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=hYKPSo2l9Q0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Bluetooth Low Energy Audio and Auracast Explained - For Hearing Aid Wearers HearSoundly</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=OUHCdlnQekU" rel="noopener" target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Hearing Aid Bluetooth LE Audio Doctor Cliff, AuD</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=AU_BdMiIUQk" rel="noopener" target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >How to Turn On LE Audio for Headphones on GOOGLE Pixel 9 Pro? HowToDevices </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://blog.google/products/android/le-audio-auracast-support/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify   hover:text-green-900"
      >Share your world of sound with LE Audio on Android</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.nextpit.com/best-products/bluetooth-le-audio-compatibility-list-of-phones-headphones"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-700 bg-green-200 font-bold text-justify   hover:text-orange-900"
      >Which Android Phones Work with Bluetooth LE Audio? Find Out Here</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.sammobile.com/news/one-ui-7-bluetooth-auracast-hearing-aid-support/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-300 bg-gray-950 font-bold text-justify hover:text-green-200"
      >One UI 7 brings better hearing aid support via Bluetooth Auracast</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://blog.google/feed/auracast-hearing-aids-earbuds/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 bg-gray-100 font-bold text-justify hover:text-orange-800"
      >Stream Auracast broadcasts directly to hearing aids with Android.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://medium.com/codex/bluetooth-5-on-linux-overview-of-kernel-supported-dongles-and-chipsets-c6f2b632b236"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-gray-100 font-bold text-justify hover:text-sky-800"
      >Wi-Fi 6E, WIFI7 and Bluetooth 5.4 on Windows, Mac, Linux</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/WAVLINK-Bluetooth-Tri-Band-Motherboard-Compatible/dp/B0DSZNGP3D/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-gray-100 font-bold text-justify hover:text-sky-800"
      >WAVLINK PCIe WiFi 7 BE8800 Network Card with Bluetooth 5.4(amazon.com.au)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://avantree.com/blogs/bluetooth/which-bluetooth-le-audio-headphones-are-compatible-today?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-gray-200 font-bold text-justify   hover:text-green-900"
      >Which Bluetooth LE Audio Headphones Are Compatible Today?</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://avantree.com/blogs/bluetooth/which-bluetooth-le-audio-headphones-are-compatible-today?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-gray-200 font-bold text-justify   hover:text-green-900"
      >How Can You Check if Your Headphones Support Bluetooth LE Audio?</span
    >
  </a>
</h5>

