---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=iA3B686Mk04"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Dr. Brown: Pushing UFO Disclosure with New Photography</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=NYeJmVGIvcc&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney
      Brown)(Part 2)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=5Yw-_PY9oh0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-yellow-200 font-extrabold hover:text-green-900"
      >Farsight Spotlight: Deep State</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rt.com/news/508962-israel-space-chief-alien-federation/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-yellow-200 font-extrabold hover:text-green-900"
      >US signed deal with ALIEN Galactic Federation to experiment on humans, claims Israeli ex military space chief in bizarre interview</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://howandwhys.com/ex-israeli-space-head-interview-on-uaps/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-yellow-200 font-extrabold hover:text-green-900"
      >Ex-Israeli Space Head Interview On UAPs: Aliens Exist & Working With US Astronauts On Mars</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@ExopoliticsToday:d/remote-viewing-extraterrestrials-secret:e" 
  rel="noopener" target="_blank"
    ><span class="text-pink-700 bg-yellow-400 font-extrabold hover:text-pink-900"
      >Remote Viewing Extraterrestrials & Secret Space Programs - Interview with Dr. Courtney Brown</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=stKk4T6Mrfs"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-slate-100 text-base hover:text-lg hover:text-green-900"
      >Farsight ET Board Meeting: Bigger Ships! (December 2024)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@Farsight"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-slate-100 text-base hover:text-lg hover:text-green-900"
      >Farsight</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-purple-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#disclosure"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Kabamur_Taygeta/status/1869400852366279035" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >If there was a 'fake alien invasion' (Project Bluebeam) in progress </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4wh10h-remote-viewing-the-e.t.-presence-and-secret-space-programs.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney
      Brown)(Part 2)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@ChrisLehtoF16/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
      >Chris Lehto</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/LehtoFiles"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-purple-900"
      >Chris Lehto</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bgVOlBuea_E"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
      >Farsight Spotlight: THE SERAPHIM</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=ICCJgS69iCM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-purple-900"
      >The Seraphim - Trailer Farsight</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://simplecapacity.com/2017/03/anunnaki-the-forbidden-movie-that-never-came-to-the-cinemas-why/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Anunnaki: The ‘Forbidden’ Movie That Never Came To The Cinemas, Why?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=L-z04x35Imo"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=QZ2LhMhVPCA"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >"Old Testament tells Story of Alien Human Origins" w/ Paul Wallis - Part
      2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=SXmnctqE0Q0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Mauro Biglino Interview With Sarah Westall - Angel Cherubim Are Robots.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=QxtErzzp_CU"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Erich von Daniken & Mauro Biglino: According to the Bible & New
      Interpretations</span
    >
  </a>
</h5>
