---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<section class="text-gray-900 text-left font-bold text-xl mb-2">
  Also have look at <br />
  <a href="./#trash"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900">HOME</span>
  </a>
  <br />
  <a href="./no-virus#china"
    ><span class="text-blue-800 hover:text-2xl hover:text-green-900"
      >NO VIRUS</span
    >
  </a>
  <br />
  <a href="./dmso#dmso"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DMSO</span
    >
  </a>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./dmso#natural"
      ><span
        class="text-orange-500 font-bold hover:text-2xl hover:text-orange-900"
        >DMSO: The the Cheapest and most Effective Natural Suppressed Cure</span
      >
    </a>
  </h5>
    <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./dmso#jacob"
      ><span
        class="text-orange-500 font-bold hover:text-2xl hover:text-orange-900"
        >DMSO Dimethylsulfoxide Dr Stanley W Jacob</span
      >
    </a>
  </h5>


    <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
   <a href="./cds-mms#five"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >CDS MMS</span
    >
  </a>
  </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/cds-take#guide"
    ><span class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >Chlorine Dioxide--a basic guide to get started.</span
    >
  </a>
</h5>
 
                           <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
 <a href="./autism#rivera"
    ><span class="text-purple-800 hover:text-2xl hover:text-green-900"
      >Autism</span
    >
  </a>
        </h5>
                          <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#treatment"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-green-900"
      >There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD).(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 font-bold hover:text-green-900"
      >Trace Amounts is an investigative documentary exploring the link between
      the mercury based preservative thimerosal and the autism epidemic.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thimerosal#mercury"
    ><span
      class="text-red-700 bg-yellow-100 font-bold hover:text-green-900"
      >Hard evidence that all vaccines are poison. Every single one!(The Real Dr. Judy A. Mikovits)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./suddenly#trailer"
    ><span class="text-sky-500 bg-pink-100 font-bold hover:text-sky-900"
      >DIED SUDDENLY | OFFICIAL TRAILER</span
    >
  </a>
</h5>

          <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#solutions"
    ><span class="text-slate-700 font-bold hover:text-slate-900"
      >Solutions for Healing from the mRNA BioWeapon - Suramin, Ozone, Chlorine Dioxide & more w/ Dr. Joe Nieusma</span
    >
  </a>
</h5>

        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
 <a href="./no-virus#cancer"
  ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
    >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses</span
  >
</a>
      </h5>
                                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
  <a href="./autism#rivera"
    ><span class="text-pink-500 hover:text-2xl hover:text-green-900"
      >KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH MIKE
      ADAMS (2020)</span
    >
  </a>
        </h5>

                                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
  <a href="./autism#autismone"
    ><span class="text-pink-500  font-extrabold  hover:text-green-900"
      >AutismOne</span
    >
  </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluetooth#starkey"
    ><span
      class="text-sky-500 bg-orange-200 font-bold text-justify hover:text-sky-700"
      >Starkey Edge AI Detailed Hearing Aid Review(15:00)</span
    >
  </a>
</h5>        

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#judy"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>


        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a href="/boric#diatomaceousnano"
          ><span class="text-slate-500 font-bold hover:text-slate-700"
            >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
          >
        </a>
      </h5>        

               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#suramin"
    ><span class="text-pink-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES + MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
        </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
 <a href="./no-virus#cancer"
  ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
    >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses</span
  >
</a>
      </h5>

                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./no-virus#judy2"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Dr Judy Mikovits joins Alex Jones from Info Wars (June/July 2024)</span
    >
  </a>
        </h5>
                        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#interview"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Plandemic - Part 1 - Dr. Judy Mikovits</span
    >
  </a>
        </h5>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./bicarbonate#bicarbonate"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-purple-900"
      >Sodium Bicarbonate</span
    >
  </a>
        </h5>

                                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./nitric-oxide#niacin"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >NITRIC OXIDE</span
    >
  </a>
        </h5>

                                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./nitric-oxide#niacin"
    ><span class="text-indigo-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Nootropics Expert</span
    >
  </a>
        </h5>


  <a href="/cds-mms#cure"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Is there really a cure for covid and every other infections disease?</span
    >
  </a>
  <br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#documentary"

    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-600"
      >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
    >
  </a>
</h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="/boric#how"
      ><span
        class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
        >BORAX/BORON</span
      >
    </a>
  </h5>

    <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./nitric-oxide#astaxanthin"
      ><span
        class="text-pink-600 bg-orange-50 font-bold hover:text-2xl hover:text-pink-700"
        >Astaxanthin 7 mins on why you should take the best antioxidant in the
        world?(Sunburn Protection)</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./magnesium#mag"
      ><span
        class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
        >Magnesium</span
      >
    </a>
  </h5>

    <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
  <a href="./drsircus#magnesium"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-blue-900"
      >Magnesium Chloride Benefits</span
    >
  </a>
  </h5>
    <a href="./med-bed#update"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Med Bed</span
    >
  </a>
  <br />
  <a href="./med-bed#minds"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Collective Minds - SkyPrince - MedBeds and Q & A</span
    >
  </a>
  <br />
    <a href="./med-bed#explained"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >MED BEDS 101</span
    >
  </a>
  <br />

  <a href="./highline-record#legit"
    ><span class="text-blue-900 hover:text-2xl hover:text-green-900"
      >HIGHLINE RECORD</span
    >
  </a>
  <br />
  <a href="./cancer#parasites"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >Cancer Page</span
    >
  </a>
  <br />
  <a href="./cancer#easily"
    ><span class="text-sky-500 hover:text-2xl hover:text-purple-900"
      >Cancer is so easily cured it's not even funny</span
    >
  </a>
  <br />
  <a href="/cds-mms#cure"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >CDS MMS</span
    >
  </a>

  <br />
  <a href="./med-bed#update"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Med Bed</span
    >
  </a>
  <br />
  <a href="./nuremberg"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Nuremberg 2.0</span
    >
  </a>

  <h5
    class="mb-2 text-xl font-bold leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./pharmakeia#Pharmakeia"
      ><span class="text-red-700 hover:text-2xl hover:text-purple-900"
        >Pharmakeia Deception</span
      >
    </a>
  </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mark#markof"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Mark of the Beast: In or On?</span
    >
  </a>
</h5>


  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./mark#mark"
      ><span
        class="text-purple-700 font-bold hover:text-2xl hover:text-purple-900"
        >Revelation 13:16</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./icke#vaccines"
      ><span
        class="text-pink-600 bg-white font-bold hover:text-2xl hover:text-purple-900"
        >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
      >
    </a>
  </h5>
  <a href="./pfizer#shedding"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900">Pfizer</span
    >
  </a>
  <br />
  <a href="./thyme#turmeric"
    ><span class="text-orange-600 hover:text-2xl hover:text-green-900"
      >Fatty liver (Turmeric)</span
    >
  </a>
  <br />
  <a href="./thyme#cleanse"
    ><span class="text-green-600 hover:text-2xl hover:text-green-900"
      >How To Cleanse Your Liver | Dr. Nick Z.</span
    >
  </a>
  <br />
  <a href="./biotta#biotta"
    ><span class="text-orange-600 hover:text-2xl hover:text-green-900"
      >Biotta AG (juices)</span
    >
  </a>
  <br />

 
  <a href="./glutamine#updated"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >L Glutamine - updated</span
    >
  </a>
  <br />
  <a href="./glutamine#nac"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Untold Secrets of NAC ( N-Acetyl Cysteine)</span
    >
  </a>
  <br />
  <a href="./glutamine#carnosine"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >L Carnosine - updated</span
    >
  </a>
  <br />
  <a href="./glutamine#detox"
    ><span class="text-blue-800 hover:text-2xl hover:text-blue-900"
      >Reader: DETOX SUPPLEMENTS FOR VACCINE INJURED VICTIMS</span
    >
  </a>
  <br />
  <a href="./bioweapon#development"
    ><span class="text-black hover:text-2xl hover:text-green-900"
      >BIOWEAPON</span
    >
  </a>
  <br />
  <a href="./med-bed#minds"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Med Bed</span
    >
  </a>
  <br />
  <a href="./news"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >NEWS</span
    >
  </a>
  <br />
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL</span
    >
  </a>
  <br />

  <a href="./antidote#ardis"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >THE ANTIDOTE(Dr.Bryan Ardis)</span
    >
  </a>
  <br />
  <a href="./arthritis#knee"
    ><span class="text-cyan-600 hover:text-2xl hover:text-green-900"
      >Arthritis pain?</span
    >
  </a>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./nitric-oxide#niacinamide"
      ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
        >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./arthritis#boron"
      ><span
        class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
        >#1 Missing Trace Mineral in ARTHRITIS</span
      >
    </a>
  </h5>

  <a href="./vof#pain"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >(VOF)PAIN.</span
    >
  </a>
  <br />

  <a href="./vof#pain"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >(VOF)VF: Wed Nov 29. PAIN. if you have it - DONT MISS THIS SHOW</span
    >
  </a>
  <br />
0
  <a href="./vof#database"
    ><span class="text-black hover:text-2xl hover:text-green-900"
      >EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First
      Interview, Drops Huge Truth Bombs!(database)</span
    >
  </a>

  <br />
  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#gunn"
    ><span class="text-black font-bold hover:text-green-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young for releasing the TRUTH about vaccine fatalities</span
    >
  </a>
</h5>

  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#admits17%"
    ><span class="text-black font-bold hover:text-green-900"
      >IFB; NEW ZEALAND ADMITS VAX+DEATHS 17%</span
    >
  </a>
</h5>

  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#graves"
    ><span class="text-black font-bold hover:text-green-900"
      >90 fresh new graves in a small town of 13,000 in New Zealand</span
    >
  </a>
</h5>

  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms#five"
    ><span class="text-sky-500  font-bold  hover:text-green-900"
      >Five Amazing Recoveries With THE UNIVERSAL ANTIDOTE</span
    >
  </a>
</h5>

  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#wormwood"
    ><span class="text-blue-900  font-bold  hover:text-purple-900"
      >The Benefits of Wormwood</span
    >
  </a>
</h5>

  <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#micro"
    ><span class="text-green-700 font-bold hover:text-purple-900"
      >Are Micro-Parasites the REAL Cause Of Cancer? Scientist SHILLS Censor
      Live Saving TRUTH</span
    >
  </a>
</h5>

  <br />
  <a href="./bicarbonate#bicarbonate"
    ><span class="text-orange-500 hover:text-2xl hover:text-purple-900"
      >Baking Soda aka Sodium Bicarbonate as First Line of Defense(Dr.Mark
      Sircus)</span
    >
  </a>
  <br />
  <a href="./bicarbonate#cure"
    ><span class="text-orange-500 hover:text-2xl hover:text-purple-900"
      >CURE WITH SODIUM BICARBONATE</span
    >
  </a>
  <br />
  <a href="./bicarbonate#cancer"
    ><span class="text-orange-500 hover:text-2xl hover:text-purple-900"
      >SODIUM BICARBONATE VS CANCER - PRESENTATION BY TULLIO SIMONCINI (ALL
      THREE PARTS)</span
    >
  </a>
  <br />
  <a href="./cancer#microparasitical"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Cancer is a Microparasitical Infection, and We All Have It @38:20</span
    >
  </a>
  <br />
  <a href="./cancer#cowpox"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >I Never Saw Cancer in Anyone Unvaccinated “Says a Doctor in 1936 and by
      Many Doctors Since</span
    >
  </a>
  <br />
  <a href="./bicarbonate#dialysis"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Dialysis – No Thanks! (Sodium bicarbonate)</span
    >
  </a>
  <br />
  <a href="./antidote#snake"
    ><span class="text-pink-500 hover:text-2xl hover:text-blue-500"
      >Treating Snake Venom with Chlorine Dioxide Solution</span
    >
  </a>
  <br />
  <a href="/cds-mms#know"
    ><span class="text-red-500 font-extrabold  hover:text-green-900"
      >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT WERE TOO
      AFRAID TO ASK 3min-10min</span
    >
  </a>
  <br />

  <a href="./autism#autismone"
    ><span class="text-pink-500 font-extrabold hover:text-green-900"
      >Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism 720p</span
    >
  </a>
  <br />

  <a href="/cds-mms#kalcker"
    ><span class="text-blue-900 font-extrabold  hover:text-green-900"
      >FORBIDDEN HEALTH Andreas Kalcker & Catherine Edwards</span
    >
  </a>
  <br />
  <a href="/cds-mms#know"
    ><span class="text-red-500 hover:text-2xl hover:text-green-900"
      >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT WERE TOO
      AFRAID TO ASK 3min-10min</span
    >
  </a>
  <br />
  <a href="./autism#rivera"
    ><span class="text-pink-500 hover:text-2xl hover:text-green-900"
      >KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH MIKE
      ADAMS (2020)</span
    >
  </a>
  <br />

  <a href="./autism#judy"
    ><span class="text-purple-700 hover:text-2xl hover:text-green-900"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
    >
  </a>
  <br />
  <a href="./autism#suramin"
    ><span class="text-purple-700 hover:text-2xl hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
      MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
  <br />
  <a href="/cds-mms#yourself"
    ><span class="text-blue-700 hover:text-2xl hover:text-green-900"
      >"Do it Yourself With Chlorine Dioxide" - My Free eBook Summary, Chapter
      by Chapter</span
    >
  </a>
  <br />
  <a href="./cds-mms#antidote"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
    >
  </a>
  <br />
  <a href="./autism"
    ><span class="text-purple-800 hover:text-2xl hover:text-green-900"
      >Autism</span
    >
  </a>
  <br />
  <a href="./autism#vaccines"
    ><span class="text-purple-800 hover:text-2xl hover:text-green-900"
      >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
      VACCINES</span
    >
  </a>
  <br />
  <a href="./autism#interview"
    ><span class="text-black hover:text-2xl hover:text-purple-900"
      >Plandemic - Part 1 - Dr. Judy Mikovits</span
    >
  </a>
  <br />
  <a href="./autism#aluminum"
    ><span class="text-cyan-600 hover:text-2xl hover:text-purple-900"
      >ALUMINUM AND MERCURY VACCINE</span
    >
  </a>
  <br />
  <a href="./autism#thimerosal"
    ><span class="text-cyan-600 hover:text-2xl hover:text-purple-900"
      >Documentary: Trace Amounts @15:00 @46:26 (thimerosal)</span
    >
  </a>

  <br />
  <a href="./pharmakeia#implant"
    ><span class="text-black hover:text-2xl hover:text-purple-900"
      >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with
      Cancer Viruses</span
    >
  </a>
  <br />
  <a href="./bioweapon#vaccinated"
    ><span class="text-blue-700 hover:text-2xl hover:text-purple-900"
      >"Did I Understand You To Say MOST Deaths Were Among The
      Vaccinated?"(Australia)</span
    >
  </a>
  <br />

  <a href="./arthritis#coconut"
    ><span class="text-cyan-600 hover:text-2xl hover:text-green-900"
      >How can coconut oil help ease arthritis pain?</span
    >
  </a>
  <br />
  <a href="./arthritis#fish"
    ><span class="text-amber-600 hover:text-2xl hover:text-green-900"
      >Fish Oil for Arthritis and Inflammation</span
    >
  </a>
  <br />
  <a href="./arthritis#knee"
    ><span class="text-blue-600 hover:text-2xl hover:text-green-900"
      >Fastest Way to Get Rid of Arthritis Knee Pain – Omega Fatty Acids Foods
      for Arthritis – Dr.Berg</span
    >
  </a>
  <br />
  <a href="./arthritis#omega3"
    ><span class="text-sky-400 hover:text-2xl hover:text-green-900"
      >Is omega-3 beneficial because it resolves inflammation? | Dr. Bill Harris</span
    >
  </a>
  <br />
  <a href="./dmso#dmso"
    ><span class="text-yellow-500 hover:text-2xl hover:text-green-900"
      >How to Use DMSO as Rheumatoid Arthritis Relief</span
    >
  </a>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./dmso#jacob"
      ><span
        class="text-orange-500 font-bold hover:text-2xl hover:text-orange-900"
        >DMSO Dimethylsulfoxide Dr Stanley W Jacob</span
      >
    </a>
  </h5>

  <a href="/dmso#therapy"
    ><span class="text-yellow-500 hover:text-2xl hover:text-green-900"
      >DMSO IV Therapy</span
    >
  </a>
  <br />

  <a href="./cancer#parasites"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >Cancer Page</span
    >
  </a>

  <br />
  <a href="./cancer#cowpox"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Cancer and the Cowpox Vaccination</span
    >
  </a>
  <br />
  <a href="./cancer#dogs"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >EDMOND MAN SAYS CHEAP DRUG FOR DOGS CURED HIS CANCER!</span
    >
  </a>
  <br />
  <a href="./cancer#reader"
    ><span class="text-blue-900 hover:text-2xl hover:text-green-900"
      >Reader: Cancer Cure? FENBENDAZOLE</span
    >
  </a>
  <br />
  <a href="./cancer#twitter"
    ><span class="text-blue-900 hover:text-2xl hover:text-green-900"
      >CANCER IS PARASITES + CAN BECURED (twitter.com)</span
    >
  </a>
  <br />
  <a href="./cancer#fenbendazole"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >- PANACUR C CANCER KILLER: FENBENDAZOLE</span
    >
  </a>
  <br />
  <a href="./cancer#natural"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >Dr. Carrie Madej: They're Hiding Natural Ways To Cure Cancer And Detox
      From The Vax & Shedding</span
    >
  </a>
  <br />

  <a href="./hydrogen-peroxide#H2O2"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Hydrogen Peroxide H<sup>2</sup>O<sup>2</sup></span
    >
  </a>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="/boric#boron"
      ><span
        class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
        >BORON BORIC ACID & BORAX</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="/boric#borax"
      ><span
        class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
        >THE BORAX CONSPIRACY: DOES BORAX/BORON REMEDY ADVERSE VACCINE EFFECTS,
        CANCERS, ARTHRITIS & MORE ...</span
      >
    </a>
  </h5>
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./boric#benefits"
      ><span
        class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
        >Boron Supplementation - Health Benefits</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./boric#aching"
      ><span
        class="text-slate-500 font-bold hover:text-2xl hover:text-slate-700"
        >Aching Joints? This “Miracle Mineral” Could End Your Suffering –
        Dr.Berg</span
      >
    </a>
  </h5>

  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./nitric-oxide#niacinamide"
      ><span
        class="text-orange-500 bg-slate-200 font-black hover:text-2xl hover:text-green-900"
        >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)</span
      >
    </a>
  </h5>

  <a href="/boric#diatomaceous"
    ><span class="text-yellow-500 hover:text-2xl hover:text-green-900"
      >How to Take Diatomaceous Earth: The Step-by-Step Guide</span
    >
  </a>
  <br />
  <a href="/boric#earth"
    ><span class="text-yellow-500 hover:text-2xl hover:text-green-900"
      >EVERYTHING YOU NEED TO KNOW ABOUT DIATOMACEOUS EARTH</span
    >
  </a>
  <br />
  <a href="/boric#comfrey"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >COMFREY POULTICE - STEP BY STEP - HOW TO DO IT (OAG 2017)</span
    >
  </a>
  <br />
  <a href="./ivermectin#borody"
    ><span class="text-green-500 hover:text-2xl hover:text-green-900"
      >IVERMECTIN Professor Thomas Borody</span
    >
  </a>
  <br />
  <a href="./hydrogen-peroxide#oxygen"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >OXYGEN KILLS CANCER</span
    >
  </a>
  <br />
  <a href="./hydrogen-peroxide#H2O2"
    ><span class="text-blue-500 hover:text-green-900"
      >ROCKEFELLER MEDICINE ALLOPATHIC DRUG PUSHER DOCTORS DON'T WANT YOU TO
      KNOW THIS INFORMATION.</span
    >
  </a>
  <br />
  <a href="./cancer#cowpox"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Cancer and the Cowpox Vaccination</span
    >
  </a>

  <br />
  <a href="./Apricot-Seeds"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Apricot Seeds & Vitamin B17</span
    >
  </a>
  <br />

  <a href="./glidden#wallach"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Dr Glidden and Dr Wallach | Diabetes</span
    >
  </a>
  <br />

  <a href="./glidden#fix"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Proof That The Human Body Can Fix Itself!</span
    >
  </a>
  <br />
  <a href="./glidden#snap"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Snap out of it!</span
    >
  </a>
  <br />
  <a href="./glidden#selenium"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Selenium Opens Many Doors In The Body</span
    >
  </a>
  <br />
  <a href="./drberg"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >Dr. Eric Berg DC</span
    >
  </a>
  <br />
  <a href="./drberg#sciatica"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >The 3 Vitamin Deficiencies in Sciatica and Carpal Tunnel Syndrome</span
    >
  </a>
  <br />
  <a href="./drberg#tired"
    ><span class="text-purple-700 hover:text-2xl hover:text-green-900"
      >The Real Reason Why You Are TIRED All the Time @2.54</span
    >
  </a>
  <br />
  <a href="./drberg#copper"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Say Goodbye to Sciatica Nerve Pain in 5 Minutes (Copper deficiency and
      sciatic pain)</span
    >
  </a>
  <br />
  <a href="./drberg#imitator"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >Vitamin B1 (Thiamine) Deficiency: The "Great Imitator" of Other Illnesses</span
    >
  </a>
  <br />
  <a href="./drberg#lyme"
    ><span class="text-green-500 hover:text-2xl hover:text-green-900"
      >Stevia Kills Lyme Pathogen- New Study
    </span>
  </a>
  <br />
  <a href="./drberg#niacin"
    ><span class="text-purple-500 hover:text-2xl hover:text-green-900"
      >Niacin (B3)- Unclog Arteries in description (Niacin boosts the production
      of Nitric Oxide)</span
    >
  </a>
  <br />
  <a href="./nitric-oxide#niacin"
    ><span class="text-purple-600 hover:text-2xl hover:text-green-900"
      >Niacin (B3)- Unclog Arteries in description (Niacin boosts the production
      of Nitric Oxide)</span
    >
  </a>
  <br />
  <a href="./nitric-oxide#bryan"
    ><span class="text-purple-600 hover:text-2xl hover:text-green-900"
      >Nitric Oxide: The Holy Grail Of Inflammation & Disease - Fix This For
      Longevity | Dr. Nathan Bryan</span
    >
  </a>
  <br />

  <a href="./nitric-oxide#spots"
    ><span class="text-purple-600 hover:text-2xl hover:text-green-900"
      >The #1 Deficiency behind Aging Spots</span
    >
  </a>
  <br />

  <a href="./nitric-oxide#astaxanthin"
    ><span class="text-orange-600 hover:text-2xl hover:text-orange-900"
      >Astaxanthin: The Ultimate Longevity Antioxidant(Sunburn Protection)</span
    >
  </a>
  <br />

  <a href="./boric#fracture"
    ><span class="text-yellow-500 hover:text-2xl hover:text-green-900"
      >The Best Diet for a Healing Bone: Fracture, Surgery or Trauma</span
    >
  </a>
  <br />
  <a href="./nitric-oxide#nitric"
    ><span class="text-green-600 hover:text-2xl hover:text-green-900"
      >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
    >
  </a>
  <br />
  <a href="./nitric-oxide#niacin"
    ><span class="text-purple-600 hover:text-2xl hover:text-green-900"
      >Niacin (B3)- Unclog Arteries in description (Niacin boosts the production
      of Nitric Oxide)</span
    >
  </a>
  <br />
  <a href="./glutamine#nac"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Untold Secrets of NAC ( N-Acetyl Cysteine)</span
    >
  </a>
  <br />
  <a href="./hydrogen-peroxide#why"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Why Hydrogen Peroxide and Not Antibiotics</span
    >
  </a>
  <br />
  <a href="./hydrogen-peroxide#food"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >What Is Food Grade Hydrogen Peroxide?</span
    >
  </a>
  <br />
  <a href="./hydrogen-peroxide#answer"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >The Answer is Right in Front of You! #shorts</span
    >
  </a>
  <br />
  <a href="./alekseev#eyesight"
    ><span class="text-red-500 hover:text-2xl hover:text-green-900"
      >3 TIPS TO IMPROVE YOUR EYESIGHT, it really works! Try it!</span
    >
  </a>
  <br />
  <a href="./alekseev#glasses"
    ><span class="text-red-500 hover:text-2xl hover:text-green-900"
      >5 exercises that helped to forget about glasses. Do it Now!</span
    >
  </a>
  <br />
  <a href="./dmso#dmso"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DMSO</span
    >
  </a>
  <br />
  <a href="./cancer#wormwood"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DMSO AND CANCER</span
    >
  </a>
  <br />
  <a href="./autism#whitepine1"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN</span
    >
  </a>
  <br />
  <a href="./autism#suramin"
    ><span class="text-purple-700 hover:text-2xl hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES</span
    >
  </a>
  <br />

</section>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
