---
---

<section class="text-gray-900 text-left font-bold text-xl mb-2">
  Also have look at <br />
  <a href="/cds-mms"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >CDS MMS</span
    >
  </a>.
  <br />
  <a href="/cds-mms#cure"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Is there really a cure for covid and every other infections disease?</span
    >
  </a>.
  <br />
  <a href="/cds-mms#five"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Five Amazing Recoveries With THE UNIVERSAL ANTIDOTE</span
    >
  </a>.
  <br />
  <a href="/cds-mms#know"
    ><span class="text-red-500 hover:text-2xl hover:text-green-900"
      >EVERYTHING YOU ALWAYS WANTED TO KNOW ABOUT CHLORINE DIOXIDE BUT WERE TOO
      AFRAID TO ASK 3min-10min</span
    >
  </a>
  <br />
  <a href="./autism#autismone"
    ><span class="text-pink-500 hover:text-2xl hover:text-green-900"
      >Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism 720p</span
    >
  </a>.
  <br />

  <a href="/cds-mms#yourself"
    ><span class="text-blue-700 hover:text-2xl hover:text-green-900"
      >"Do it Yourself With Chlorine Dioxide" - My Free eBook Summary, Chapter
      by Chapter</span
    >
  </a>.
  <br />
  <a href="./cds-mms#antidote"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >The Universal Antidote – Chlorine Dioxide Documentary (Video)</span
    >
  </a>.
  <br />
  <a href="./autism"
    ><span class="text-purple-800 hover:text-2xl hover:text-green-900"
      >Autism</span
    >
  </a>.
  <br />
  <a href="./autism#vaccines"
    ><span class="text-cyan-500 hover:text-2xl hover:text-green-900"
      >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
      VACCINES</span
    >
  </a>.
  <br />
  <a href="./autism#thimerosal"
    ><span class="text-cyan-600 hover:text-2xl hover:text-green-900"
      >Documentary: Trace Amounts @15:00 @46:26</span
    >
  </a>.
  <br />
  <a href="./autism#rivera"
    ><span class="text-pink-500 hover:text-2xl hover:text-green-900"
      >KERRI RIVERA INTERVIEWED ABOUT CHLORINE DIOXIDE VS. AUTISM WITH MIKE
      ADAMS (2020)</span
    >
  </a>.
  <br />

  <a href="./autism#suramin"
    ><span class="text-purple-700 hover:text-2xl hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES</span
    >
  </a>.
  <br />
  <a href="./cancer"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >Cancer Page</span
    >
  </a>.

  <br />
  <a href="./cancer#cowpox"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Cancer and the Cowpox Vaccination</span
    >
  </a>.

  <br />

  <a href="./hydrogen-peroxide#H2O2"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Hydrogen Peroxide H<sup>2</sup>O<sup>2</sup></span
    >
  </a>.
  <br />
  <a href="/boric"
    ><span class="text-red-700 hover:text-2xl hover:text-green-900"
      >BORON BORIC ACID & BORAX</span
    >
  </a>.
  <br />
  <a href="/boric#diatomaceous"
    ><span class="text-yellow-600 hover:text-2xl hover:text-green-900"
      >How to Take Diatomaceous Earth: The Step-by-Step Guide</span
    >
  </a>.
  <br />
  <a href="./ivermectin#borody"
    ><span class="text-green-500 hover:text-2xl hover:text-green-900"
      >IVERMECTIN Professor Thomas Borody</span
    >
  </a>.
  <br />
  <a href="./hydrogen-peroxide#oxygen"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >OXYGEN KILLS CANCER</span
    >
  </a>.
  <br />
  <a href="./hydrogen-peroxide#H2O2"
    ><span class="text-blue-500 hover:text-green-900"
      >ROCKEFELLER MEDICINE ALLOPATHIC DRUG PUSHER DOCTORS DON'T WANT YOU TO
      KNOW THIS INFORMATION.</span
    >
  </a>.
  <br />
  <a href="./cancer#cowpox"
    ><span class="text-sky-500 hover:text-2xl hover:text-green-900"
      >Cancer and the Cowpox Vaccination</span
    >
  </a>.

  <br />
  <a href="./Apricot-Seeds"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Apricot Seeds & Vitamin B17</span
    >
  </a>.
  <br />
  <a href="./nitric-oxide#nitric"
    ><span class="text-green-600 hover:text-2xl hover:text-green-900"
      >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
    >
  </a>.
  <br />
  <a href="./glidden#wallach"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >Dr Glidden and Dr Wallach | Diabetes</span
    >
  </a>.
  <br />
  <a href="./glidden#selenium"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Selenium Opens Many Doors In The Body</span
    >
  </a>.
  <br />
  <a href="./hydrogen-peroxide#why"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >Why Hydrogen Peroxide and Not Antibiotics</span
    >
  </a>.
  <br />
  <a href="./hydrogen-peroxide#food"
    ><span class="text-blue-500 hover:text-2xl hover:text-green-900"
      >What Is Food Grade Hydrogen Peroxide?</span
    >
  </a>.
  <br />
  <a href="./dmso"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DMSO</span
    >
  </a>.
  <br />
  <a href="./dmso#cancer"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DMSO AND CANCER</span
    >
  </a>.
  <br />
  <a href="./autism#whitepine1"
    ><span class="text-orange-500 hover:text-2xl hover:text-green-900"
      >DR. JUDY MIKOVITZ VACCINE ANTIDOTE SURAMIN</span
    >
  </a>.
  <br />
  <a href="./autism#suramin"
    ><span class="text-purple-700 hover:text-2xl hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES</span
    >
  </a>.
  <br />
  <a href="./med-bed"
    ><span class="text-sky-600 hover:text-2xl hover:text-green-900"
      >Med Bed</span
    >
  </a>.
  <br />
</section>.
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
