---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thyme#turmeric"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Fatty liver (Turmeric)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./biotta#biotta"
    ><span class="text-orange-600 hover:text-2xl hover:text-green-900"
      >Biotta AG (juices)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#nac"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Untold Secrets of NAC ( N-Acetyl Cysteine)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thyme#cleanse"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >How To Cleanse Your Liver | Dr. Nick Z.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4il6st-how-to-take-nac-n-acetyl-cysteine-how-much-nac-per-day.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >How To Take NAC ( N-Acetyl Cysteine) - How Much NAC Per Day?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4ft853-the-real-reason-you-cant-lose-weight.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The Real Reason You Can't Lose Weight</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.top5supplements.com/buying-guides/liver-supplements?"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >These Top 5 Liver Supplements</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.nutreance.com/products/hepagard?"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Hepagard</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/Simply-Potent-Support-Supplement-Cleanse/dp/B095JCDRFX/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Simply Potent Liver Cleanse Detox</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://innerdose.com.au/products/liver-support-supplement"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Liver Support (Innerdose.com.au) Ships In 12 Hrs From BNE, QLD</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247669"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >14 Foods That Cleanse the Liver</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/uDISvd_e4lQ"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-green-900"
      >It's NOT your thyroid, heart or blood pressure! ⚠️ #shorts @DrEdwardGroup</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/BdTVen_3s0E"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-green-900"
      >Doctor recommends this ONE 1️⃣ thing for any disease or symptom! #shorts</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/4nP9cgnKT50"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-green-900"
      >Black Seed Oil vs Parasites #shorts</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/mGwNqiGHlBE"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-green-900"
      >Top 10 Parasite Cleansing Foods</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/shorts/ZgVAzoIpcEM"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-green-900"
      >She Knew This About Cancer in 1993 #shorts</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/23a50219-ee58-4e57-8e94-a093c67396a4" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Parasitic Brain Infestation Knowns as M.S./Multiple Sclerosis by Dr. Bryan Ardis</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/dbbe35d5-b3d1-498e-aa2c-28d2b0f7ceb1" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >How to get rid of the Fiber "Blood" Clots Caused by Vaccins - Dr. Bryan Ardis</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6tz22b-how-to-get-rid-of-the-fiber-blood-clots-caused-by-vaccins-dr.-bryan-ardis.html" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >How to get rid of the Fiber "Blood" Clots Caused by Vaccines - Dr. 'Bryan Ardis'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.verywellhealth.com/the-benefits-of-licorice-root-89727" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Health Benefits of Licorice Root and How to Take It Safely</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=258624" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Why copper is at the crux of human health. "The CU RE for fatigue" by Morley Robbins</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.amazon.com.au/Cure-Your-Fatigue-Second-Cause/dp/1637747616/" 
  rel="noopener" target="_blank"
    ><span class="text-orange-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Cure Your Fatigue, Second Edition: The Root Cause and How to Fix It On Your Own</span
    >
  </a>
</h5>