---
import Tops from "./Tops.astro";

import FOUR from "./FOUR.astro";
---

<Tops />
<FOUR />
<!-- <LOOKING /> -->
    <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./goesdeep"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >GO BACK</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >The Invisible War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/xzrr1jBfRGM8/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >PROJECT LOOKING GLASS: EX-NAVY SEAL BILL WOOD EXPLAINS THE
              CONVERGENCE OF TIMELINES & STRING THEORY</span
            >
          </a>
        </h5>
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./billwood#looking"
    ><span
      class="text-sky-400 font-bold hover:text-2xl hover:text-sky-700"
      >PROJECT LOOKING GLASS: EX-NAVY SEAL BILL WOOD EXPLAINS THE CONVERGENCE OF TIMELINES & STRING THEORY</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./billwood#codez"
    ><span
      class="text-sky-400 font-bold hover:text-2xl hover:text-sky-700"
      >INTEL CodezVII - 'Q' Is A Disclosure Operation Designed By Pleiadians & NSA White Hats</span
    >
  </a>
</h5>
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./billwood#webinar"
    ><span
      class="text-sky-400 font-bold hover:text-2xl hover:text-sky-700"
      >Q WEBINAR | PART 2 - Time Travel, Project Looking Glass & The ET Connection</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1733844608336155043"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What is the dark occult purpose of the Large Hadron Collider (CERN)? As
      Pleiadians continually teach us, humans have the power to overcome any
      evil.
    </span>
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./billwood#cube"
    ><span
      class="text-sky-400 font-bold hover:text-2xl hover:text-sky-700"
      >The YELLOW CUBE and LOOKING GLASS key Difference Learned by Hillary in 2016</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#iraq1"
    ><span
      class="bg-white text-green-600 font-bold hover:text-2xl hover:text-gray-700"
      >STARGATE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#cern1"
    ><span
      class="text-green-900 bg-yellow-100 font-black hover:text-2xl hover:text-purple-900"
      >CERN(Geneva)</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4960i0-the-yellow-cube-and-looking-glass-key-difference-learned-by-hillary-in-2016.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >The YELLOW CUBE and LOOKING GLASS key Difference Learned by Hillary in 2016</span
    >
  </a>
</h5>
     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=248006"
            rel="noopener"
            target="_blank"
            ><span
              class="text-blue-700 bg-white text-base hover:text-lg hover:text-green-900"
              >INTEL CodezVII - 'Q' Is A Disclosure Operation Designed By Pleiadians & NSA White Hats</span
            >
          </a>
        </h5>

        <p class="mb-4 text-base text-sky-500">https://t.me/CodezVII/8725</p>

                <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4l8e8r-q-webinar-part-2-time-travel-project-looking-glass-and-the-et-connection.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Q WEBINAR | PART 2 - Time Travel, Project Looking Glass & The ET Connection</span
    >
  </a>
</h5>
                <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/c-372815"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-400 font-bold hover:text-2xl hover:text-emerald-700"
      >Journey to Truth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/JourneytoTruth5" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Journey To Truth Podcast</span
    >
  </a>
</h5>
