---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=70yyHUzq-sU"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >VIDEO PROOF: CANCER IS CAUSED BY PARASITES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bcgUBVj9i70&t=2s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Cancer is a Microparasitical Infection, and We All Have It (youtube only)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@ForEverFree:3/Cancer-is-a-Microparasitical-Infection,-and-We-All-Have-It--bcgUBVj9i70-:9"
    rel="noopener"
    target="_blank"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-sky-500"
      >Cancer is a Microparasitical Infection, and We All Have It</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/4IfRdIzZ4sk/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >THE THE CHEAPEST AND MOST EFFECTIVE NATURAL SUPPRESSED CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Kz6O8iROL08"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >DMSO: The the Cheapest and most Effective Natural Suppressed Cure</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://yummy.doctor/video-list/dmso-the-most-suppressed-natural-remedy-and-best-kept-secret-in-the-world-with-amandha-vollmer-adv-and-luke-storey/"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-600 text-base hover:text-lg hover:text-green-900"
      >DMSO: The Most Suppressed Natural Remedy and Best Kept Secret in the
      World with Amandha Vollmer (ADV) and Luke Storey</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=euCUC_w8Yko"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >You Received The Cancer Diagnosis</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=H00EyQjf5TY"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Dialysis – No Thanks! (Sodium bicarbonate)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@Lyranara" rel="noopener" target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Lyra Nara Inc.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=RBMnRmbNMr0"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Vitamin C for cancer? ‘Miracle man’ Anton Kuraia's highly controversial
      treatment</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/cds-mms#cure"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >CDS MMS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ivermectin#borody"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >Also see Professor Thomas Borody</span
    >
  </a>
</h5>
