---
import Tops from "./Tops.astro";
---

<Tops />
  <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
    <a href="./magnesium#mag"
      ><span
        class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
        >Magnesium</span
      >
    </a>
  </h5>

    <h5
    class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
  >
  <a href="./drsircus#magnesium"
    ><span class="text-orange-500 hover:text-2xl hover:text-blue-900"
      >Magnesium Chloride Benefits</span
    >
  </a>
  </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v3jud41-the-unique-benefits-of-magnesium-glycinate-how-its-different.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >The Unique Benefits of Magnesium Glycinate: How It's Different</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v5jg32d-the-most-neglected-nutrient-by-doctors-magnesium.html?e9s=src_v1_ucp"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >The Most Neglected Nutrient By Doctors</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247719"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Magnesium Puts Psychiatric Drugs to Shame for Depression</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://horbaach.com/en-AU/products/magnesium-glycinate-1330mg-250-capsules?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-500 bg-sky-400 font-bold hover:text-2xl hover:text-slate-700"
      >Magnesium Glycinate 1330mg | 250 Capsules</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://horbaach.com/en-AU/products/triple-boron-complex-6mg-300-tablets?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-500 bg-sky-400 font-bold hover:text-2xl hover:text-slate-700"
      >Triple Boron Complex 6 mg Supplement(Horbaach's)</span
    >
  </a>
</h5>