---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/TVytTplFCYG7/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Gali Lucy: Predictions 2023+
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@GaliLucy4u/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Gali Lucy</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/9DTmO6Of0ppQ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
    >
      100s of Millions Will Die - Gali Lucy predictions - 11 March 2021 (The
      Mark Attwood Show)
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/themas/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The Mark Attwood Show</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@GaliLucy4u/videos"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Gali Lucy</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/h4YXoCJ3Zyqe/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-gray-200 text-base hover:text-lg hover:text-green-900"
      >WAS PRINCESS DIANA EVEN REAL??? - 9TH APRIL 2024</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3r9idp-pascal-najadi-they-are-done-23rd-october-2023.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Pascal Najadi: They Are Done (23rd October 2023)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/TheMarkAttwoodShow"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >The Mark Attwood Show</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black text-left">...</p>
