---
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#nwo"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >THE HIDDEN HISTORY and THE SNAKE / REPTO WORLD ORDER = THE NAZI WORLD
      ORDER -> NWO (1:06:00)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v273cgo-the-snake-repto-world-order-the-nazi-world-order-nwo.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >THE HIDDEN HISTORY and THE SNAKE / REPTO WORLD ORDER = THE NAZI WORLD
      ORDER -> NWO</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@SavetheWorld:3?view=content"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Geno Saves The World</span
    >
  </a>
</h5>
<Nagasone />
