---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <MCALListerLIST /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/4yqg6nqF1uPV/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >BERMUDA TRIANGLE DRACONIAN BASE! MICHAEL JACKSON SAVED BY TRUMP! HYBRID
      VIDEO!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/zIydOenuSVcx/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >CH_21 UPDATE AND PREVIEW! THE TRUTH ABOUT WEED, CBD AND HEMP! TRUMAN!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/ywSFhmpVUYnH/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >DEMONS HELP MAGICIANS! SOUL SELLING RITUALS! STALLONE WILL BE PUBLICLY
      EXECUTED!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/HBcwxZBHStUP/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >DARYL JAMES TIME TRAVEL! TELEPATHIC REPTILIAN WORLD! HYBRIDS &
      BLOODLINES! SS AVATARS!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/OuAi7WPip7lh/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >21! TIME TRAVEL FAMILIES! RUSSELL BRAND! BONO & GELDOFF! ALL HIGH LEADERS
      & BIG CELEBS R SNATCHED!(13:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/IC8crfLnBcHw/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >ALIENS WALK AMONG US! CELEB REPLACEMENTS! DISNEY CHILD TRAFFICKING! BONO!
      ADELE! JIM CARREY!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/1UA8QEGcVMnI/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 font-bold hover:text-2xl hover:text-red-800"
      >TWENTY ONE AND THE FREQUENCY FENCE! UNIVERSE SPEAKS IN NUMBERS! COMMS
      WITH ETS!</span
    >
  </a>
</h5>
