---
---

<!-- images/Med-Bed001.jpg -->
<div
  class="grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[7rem] lg:pt-5 text-center lg:text-left max-w-[1024px] mx-auto"
>
  <div class="flex flex-col lg:flex lg:flex-row items-center relative z-0">
    <div>
      <a href="./"
        ><h1
          class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
        >
          HOME
        </h1></a
      >
      <a href="/site-map"
        ><h1
          class="text-black text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
        >
          INDEX
        </h1></a
      >
      <a href="./cds-mms#five"
        ><h1
          class="text-sky-600 text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
        >
          CDS
        </h1></a
      >
      <a href="/dmso#dmso"
        ><h1
          class="text-amber-600 text-xl lg:text-[4rem] lg:leading-[4rem] font-bold text-transform: uppercase cursor-pointer hover:text-white hover:bg-lime-900"
        >
          DMSO
        </h1></a
      >
    </div>
  </div>
  <div
    class="order-first lg:order-last rounded-xl max-w-xs transition duration-300 ease-in-out hover:scale-110"
  >
    <a href="./med-bed">
      <img class="lg:hidden mb-9" src="images/Med-Bed001.jpg" alt="Med-Bed" />
      <img
        class="hidden lg:block rounded-xl"
        src="images/Med-Bed001.jpg"
        alt="Med-Bed"
      />
    </a>
  </div>
</div>
<!-- images/Med-Bed001.jpg -->
