---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/cds-mms#cure"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >CDS MMS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#trillion"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >CANCER IS A 17 TRILLION DOLLAR BUSINESS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#lee"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19, 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#tumor"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >Dr. Lee Merritt: Cancer Tumor Are Parasites(36:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#diatomaceousnano"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ivermectin#borody"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >Also see Professor Thomas Borody</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v37nqms-dr.-lee-merritt-cancer-tumor-are-parasites.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >Dr. Lee Merritt: Cancer Tumor Are Parasites</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4fq6a5-the-spike-protein-is-a-lie.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >THE SPIKE PROTEIN IS A LIE - Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/DrJaneRuby" rel="noopener" target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://brighteon.tv/MerrittMedicalHour"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base font-bold hover:text-lg hover:text-red-700"
      >Merritt Medical Hour</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237144"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Dr Lee Merritt: No 'Viruses', It's the 'Vaccines' and Electromagnetic
      Frequencies</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=237146"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >Must see - Dr. Merritt Interview with Poornima Wagh Virologist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/d456b28b-615a-4c38-8398-7391bde62feb"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE SPIKE PROTEIN IS A LIE - Dr. Jane Ruby</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/38Rlk0TThItV/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE SUPPRESSED CANCER CURES THAT HAVE BEEN DENIED BY THE MEDICAL CARTELS
      THROUGHOUT HISTORY REVEALED</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/cea029f8-7c6f-4bc6-a8d1-35f4bbdbbf4a"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base font-bold hover:text-lg hover:text-red-700"
      >Unknown History of Disease, the Spanish Flu and Frequency, Germ Theory w/
      Dr. Lee Merritt (1of2)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#lee"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >Dr. Lee Merritt ‘Breaking Down Babylonian Word Magic’ June 19, 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#cause"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Is Cancer REALLY a Cause of Death?</span
    >
  </a>
</h5>
