---
import THIMEROSALM from "./THIMEROSALM.astro";
import Tops from "./Tops.astro";
---

<Tops />
<!-- <MikovitsL /> -->
       <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#judy"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>

               <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#suramin"
    ><span class="text-pink-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES + MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
        </h5>
                         <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#treatment"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD).(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
 <a href="./no-virus#cancer"
  ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-green-900"
    >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses</span
  >
</a>
      </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thimerosal#mercury"
    ><span
      class="text-red-700 bg-yellow-100 font-bold hover:text-green-900"
      >Hard evidence that all vaccines are poison. Every single one!(The Real Dr. Judy A. Mikovits)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/TheRealDrJudy?"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-green-900"
      >The Real Dr. Judy A. Mikovits</span
    >
  </a>
</h5>

          <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./no-virus#judy2"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Dr Judy Mikovits joins Alex Jones from Info Wars (June/July 2024)</span
    >
  </a>
        </h5>
                        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#interview"
    ><span class="text-emerald-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Plandemic - Part 1 - Dr. Judy Mikovits</span
    >
  </a>
        </h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/nMvfXDD2KZaU/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-emerald-700"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#diatomaceousnano"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vqazqm-there-is-an-antidote-suramin-the-antidote.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 text-base hover:text-lg hover:text-red-700"
      >THERE IS AN ANTIDOTE!! SURAMIN THE ANTIDOTE!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vtkoj9-steps-to-heal-your-body-from-the-harmful-covid-vaccine-by-dr-mikovits-clear.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 text-base hover:text-lg hover:text-emerald-700"
      >Steps to Heal Your Body from the Harmful Covid Vaccine by Dr Mikovits | Clearly a Bio-Weapon!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5mootq-make-america-healthy-again-no-flu-shot-and-covid-shot-no-shots.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 text-base hover:text-2xl hover:text-sky-700"
      >Make America Healthy Again: No Flu shot and COVID shot! No Shots!</span
    >
  </a>
</h5>
                     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="https://rumble.com/v5mootq-make-america-healthy-again-no-flu-shot-and-covid-shot-no-shots.html"
       rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Make America Healthy Again: No Flu shot and COVID shot! No Shots!</span
    >
  </a>
        </h5>
                     <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="https://x.com/DrJudyAMikovits/status/1854552661351424057"
       rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Stew Peters: This was never a respiratory virus that passed from person to person.
Judy Mikovits, PhD: Absolutely not.</span
    >
  </a>
        </h5>
                           <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="https://x.com/DrJudyAMikovits"
       rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-2xl hover:text-green-900"
      >Judy A. Mikovits PhD</span
    >
  </a>
        </h5>
                             <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="https://therealdrjudy.com/judy-mikovits-transcripts/f/make-america-healthy-again-no-flu-shot-and-covid-shot-no-shots"
       rel="noopener"
    target="_blank"
    ><span class="text-sky-600 bg-gray-100 font-bold hover:text-2xl hover:text-sky-800"
      >Make America Healthy Again: No Flu shot and COVID shot! No Shots!</span
    >
  </a>
        </h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/TheRealDrJudy"
      rel="noopener"
    target="_blank"
    ><span class="text-emerald-600 font-bold hover:text-2xl hover:text-green-900"
      >The Real Dr. Judy A. Mikovits</span
    >
  </a>
</h5>

                             <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="https://x.com/DrBenTapper1/status/1857853410428731721"
       rel="noopener"
    target="_blank"
    ><span class="text-sky-600 bg-gray-100 font-bold hover:text-2xl hover:text-sky-800"
      >“Not one of the seventy-two vaccines mandated for children has ever been safety tested in pre-licensing placebo-controlled trials. Not one!”-RFK Jr.</span
    >
  </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/fLXZDKSEpZh5/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
      MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/b0nlGOUQg1cZ"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >Stew Peters Show (FULL) - Genetic Engineered Bioweapon, Snake Venom In COVID Patients OCT.31.2022(14:20)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1qtjuu-live-genetic-engineering-bioweapon-exposed-snake-venom-found-in-covid-patie.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 font-bold hover:text-2xl hover:text-purple-700"
      >LIVE: Genetic Engineering Bioweapon EXPOSED; Snake Venom FOUND In COVID Patients(DR JUDY MIKOVITZ 15:20)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on all
      Social Media</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.vtvault.org/pineneedletea" rel="noopener" target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-red-700"
      >www.vtvault.org/pineneedletea</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/disclosurehub/5869" rel="noopener" target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >https://t.me/disclosurehub/5869</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >100 Years of Suramin (autism)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4ollu2-dr.-judy-mikovitz-reveals-shocking-truth-about-corruption-and-censorship-in.html?e9s=rel_v1_a"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-gray-900"
      >Dr. Judy Mikovits reveals shocking truth about CORRUPTION and censorship
      in SCIENCE...</span
    >
  </a>
</h5>

<THIMEROSALM />
