---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/nMvfXDD2KZaU/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vqazqm-there-is-an-antidote-suramin-the-antidote.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 text-base hover:text-lg hover:text-red-700"
      >THERE IS AN ANTIDOTE!! SURAMIN THE ANTIDOTE!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/fLXZDKSEpZh5/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
      MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://holisticgear.com/videos/plandemic-exclusive-interview-with-dr-judy-mikovits-banned-on-all-social-media/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-red-700"
      >PLANDEMIC | Exclusive Interview With Dr.Judy Mikovits | BANNED on all
      Social Media</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.vtvault.org/pineneedletea" rel="noopener" target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-red-700"
      >www.vtvault.org/pineneedletea</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/disclosurehub/5869" rel="noopener" target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >https://t.me/disclosurehub/5869</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >100 Years of Suramin (autism)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4ollu2-dr.-judy-mikovitz-reveals-shocking-truth-about-corruption-and-censorship-in.html?e9s=rel_v1_a"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-gray-900"
      >Dr. Judy Mikovits reveals shocking truth about CORRUPTION and censorship
      in SCIENCE...</span
    >
  </a>
</h5>
