---
import Tops from "./Tops.astro";
---

<Tops />


<!-- <MIRRORL /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-sky-500 font-bold    hover:text-green-900 text-transform: uppercase"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#papers"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >THE DULCE PAPERS: BROWN GREY ALIENS, STAR MAPS & INSECTOIDS(8:18)(14:00)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-gray-800">
  1954 THE GREADA TREATY Tall Graeys(18:55)
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#underground"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Secret Underground Facility Dulce Base - SECRET SPACE PROGRAM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#harvesting"
    ><span class="text-purple-700 font-bold    hover:text-green-900"
      >Phil Schneider: Alien Adrenochrome Harvesting</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold    hover:text-purple-950"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@ForEverFree:3/Phil-Schneider%EF%BC%9A-Alien-Adrenochrome-Harvesting:3"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
    >Phil Schneider: Alien Adrenochrome Harvesting</span
  >
</a>
</h5>

<p class="mb-4 text-base text-gray-900">Dulce Alien Confrontation</p>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@CosmicEvent:5/Phil-Schneider-on-the-End-Game-the-Alien-Invasion:a"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
    >Phil Schneider on the End Game & the Alien Invasion</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://odysee.com/@montysthinkingoutsidethebox:2/The-Alien-Adrenochrome-Harvesting-Of-Human-Beings:f"
  rel="noopener"
  target="_blank"
  ><span
    class="text-[#ffff00] bg-[#ff0088] font-bold hover:text-green-900 hover:bg-white"
    >The Alien Adrenochrome Harvesting Of Human Beings  (Leu AATIP talks about DEMONS @5:30)</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#castello"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >THE THOMAS CASTELLO DECLARATION</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=htEfg8J_Gp8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >The Mirror Principle: What the "Elites" Know That You Were Never Taught</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=bKpIH2cFZCU"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >The Mirror Principle: The elite were taught this at birth.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=n3Tb7I9tbJs"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >The Mirror Principle: What the "Elites" Know That You Were Never Taught</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=t9wiyPHc9mY"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >How to Build Wealth with Zero Money (The Shift That Changes Everything)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=WDwP5TPyqoA"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 font-bold    hover:text-green-900 text-transform: uppercase"
      >The BIZARRE Shrine Under Brisbane's Streets you Never Knew Was There!</span
    >
  </a>
</h5>

