---
---

<!-- <Moloch /> -->
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="#top"
  ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
    >TOP</span
  >
</a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./#trash"
  ><span
    class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
    >GO BACK</span
  >
</a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./vatican#ice"
  ><span
    class="text-blue-700 text-base hover:text-lg hover:text-green-900"
    >Crocodile Kings</span
  >
</a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./vatican#vatican"
  ><span
    class="text-blue-700 text-base hover:text-lg hover:text-green-900"
    >The Prophecy of the Popes Explained Are We Now Facing the End Times as the Prophecy May Suggest</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./vatican#creepy"
  ><span
    class="text-blue-700 text-base hover:text-lg hover:text-green-900"
    >CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS*</span
  >
</a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./monsters#snake"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >It’s old energy. They knew everything about humans, but ordinary humans knew very little about them.</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./monsters#anunnaki"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >This is located in New York City</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://allthatsinteresting.com/moloch"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-100 bg-black font-bold  hover:text-gray-200 text-transform: uppercase"
      >The True History Of Moloch, The Ancient God Of Child Sacrifice</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=RobeyZC7KMM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-100 bg-black font-bold  hover:text-gray-200 text-transform: uppercase"
      >Moloch: The God of Sacrifice |THE HISTORY YOU THOUGHT YOU KNEW|</span
    >
  </a>
</h5>


