              <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>
      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#ozempic"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >PATRIOTS WW, IN A DEBRIEFING MEETING AND NOT PAYING ATTENTION DUE TO THE SERIOUSNESS OF THIS TOPIC.</span
            >
          </a>
        </h5>
      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://x.com/aaronnpearsall/status/1955984617288425488"
            rel="noopener"
            target="_blank"
            ><span
              class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
              >Hollywood's miracle drug just destroyed 1,800 lives.</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://eraoflight.com/2019/11/09/valiant-thor-the-extraterrestrial-who-lived-at-the-pentagon/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >“Valiant Thor” The Extraterrestrial Who Lived At The Pentagon</span
            >
          </a>
        </h5>

              <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://qalam.global/en/microrubrics/myth-en/a-serpent-devouring-a-child-en"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >The story behind the horrors in the Alfa Romeo logo</span
            >
          </a>
        </h5>

                      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=257947"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-blue-950 text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >HULK HOGAN MURDERED</span
            >
          </a>
        </h5>

                              <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/tpvsean/status/1959672016438534383"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-blue-950 text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >Police Uncover Evidence Hulk Hogan Was Murdered to Protect Elite Pedophile Ring - Media Blackout</span
            >
          </a>
        </h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.lifesitenews.com/news/fauci-admitted-rfk-jr-that-none-of-72-mandatory-vaccines-for-children-has-ever-been-safety-tested/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >Fauci admitted to RFK Jr. that none of 72 mandatory vaccines for children has ever been safety tested</span
            >
          </a>
        </h5>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://vigilantlinks.com/2023/03/somethings-wrong-with-monsters-inc-how-the-franchise-exposes-endorses-adrenochrome-trafficking/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Somethings wrong with Monsters Inc: How the Franchise Exposes/Endorses Adrenochrome Trafficking</span
            >
          </a>
        </h5>

                      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="./monsters#documentary"
            
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Adrenochrome Fear Factory - Monsters Inc The Documentary</span
            >
          </a>
        </h5>

              <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="./monsters#factory"
       
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Monsters INC. The Adrenochrome Fear Factory Exposed!</span
            >
          </a>
        </h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6ttxpt-is-monsters-inc-about-adrenochrome.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >Is 'Monsters, Inc' About Adrenochrome?</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v4vyz00-busted-secret-hollywood-pharmacy-caught-selling-adrenochrome-pills-to-elite.html" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-green-900"
      >BUSTED: Secret Hollywood Pharmacy Caught Selling Adrenochrome Pills to Elite Celebrities</span
    >
  </a>
</h5>

              <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./monsters#harvesting"
            ><span
              class="text-pink-600 bg-white  text-transform: uppercase font-bold  hover:text-pink-800"
              >Phil Schneider: Alien Adrenochrome Harvesting</span
            >
          </a>
        </h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://discover.hubpages.com/politics/The-Reptilian-Theory"
  rel="noopener"
  target="_blank"
  ><span
    class="max-w-prose font-bold text-justify text-sky-500 bg-almost-black  hover:text-sky-400"
    >It really could not be more clear -- nonhuman beings interbred with human beings ...</span
  >
</a>
</h5>

<p class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">It really could not be more clear -- nonhuman beings interbred with human beings ... of course that's just the Bible, and many will dismiss it as such; however, the Bible is not even close to the only place this same basic story is told</p>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.mazzastick.com/are-reptilian-entities-manipulating-humans-and-earth-affairs/"
  rel="noopener"
  target="_blank"
  ><span
    class="text-sky-500 bg-almost-black font-bold  hover:text-sky-400"
    >Are Reptilian Beings Manipulating Humans And The Earth?</span
  >
</a>
</h5>

<p class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">In these cases, it was discovered that ingesting human hormones, flesh, and blood allowed the Reptilians to maintain the human form. The human form was necessary to avoid scaring the population, which was now unfamiliar with the Reptilian form.</p>

<p class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">The Reptilian Extraterrestrials have elongated skulls, and so do their human hybrids.</p>



        
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://timefordisclosure.com/the-annunaki-in-the-bible/"
          rel="noopener"
          target="_blank"
          ><span
            class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
            >The Annunaki In The Bible</span
          >
        </a>
      </h5>
        <h5
        class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
      >
        <a
          href="https://x.com/0ccultbot/status/1641754892820951040"
          rel="noopener"
          target="_blank"
          ><span
            class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
            >The books of Enoch tell the story of the Watchers and the Nephilim in much more detail.</span
          >
        </a>
      </h5>
      <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
      <a href="https://x.com/Kabamur_Taygeta/status/1873773479331586454"
                rel="noopener"
          target="_blank"
        ><span
          class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
          >There is understandably a lot of confusion around the word 'anunnaki', so let's clarify.</span
        >
      </a>
    </h5>
      <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
    >
      <a
        href="https://x.com/Thekeksociety/status/1803218134930800684"
        rel="noopener"
        target="_blank"
        ><span
          class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
          >DO YOU THINK THE ANUNNAKI EXISTED? WERE THE WATCHERS MENTIONED IN
          THE BIBLE? DID THEY HYBRIDIZE HUMANS?</span
        >
      </a>
    </h5>
    <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >The Prophecy of the Popes</span
    >
  </a>
</h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#dumb"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Invisible-War</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://altcensored.com/watch?v=DMiTIGbHOOw"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >Monsters INC. The Adrenochrome Fear Factory Exposed!</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="https://vimeo.com/326404457" rel="noopener" target="_blank"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Monsters INC. The Adrenochrome Fear Factory Expose @22:16</span
            >
          </a>
        </h5>
   
        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./turner#ellis"
            ><span
              class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
              >Ellis C Taylor - 3rd discussion with Peter Maxwell Slattery
              @19:00</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./tompkins#william"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >WILLIAM TOMPKINS
            </span>
          </a>
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
          ....
        </p>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/channel/the_high_command/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 text-base hover:text-lg hover:text-green-900"
              >THE_HIGH_COMMAND</span
            >
          </a>
        </h5>