---
---

<!-- <MOON /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#cia"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >CIA Investigated THAT the Nazis went to The Moon in 1942</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#biggest"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Linda Moulton Howe Reveals Some of the Biggest Secrets EVER Discovered</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#bavarian"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Secret Space Program SSP - Bavarian Illuminati</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview (37:30)(Nano
      42:20)(Black Goo 1:02:00)(1:14:30)(Timelines 1:31:00)(1:40:00)(1:47:00)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bibliotecapleyades.net/luna/esp_luna_46.htm#:~:text=First%20landing%20on%20the%20moon,center%20located%20near%20Anzio%2C%20Italy"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-700 bg-white font-bold hover:text-2xl hover:text-slate-900"
      >German Moon Base Alpha(1942)</span
    >
  </a>
</h5>
