---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Jordan Maxwell</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#aliens"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Q&A--DOES THE BIBLE EXPLAIN WHERE ALIENS CAME FROM? YES, GOD TELL US IN
      THE BIBLE!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#diana"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >THE HUGE SECRET THAT PRINCESS DIANA KNEW - DAVID ICKE (VIDEO)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#british"
    ><span class="text-red-900 font-bold hover:text-2xl hover:text-green-900"
      >The British Royals and the Reptilians (video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#antichrist"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#eggs"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >SGT Pattie Brassard – Elections, Solar Winds, Current Events, and Q & A
      (1:27:40)(1:30:10 eggs)
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@The5thKind" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The 5th Kind</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=eTWJC0uckJ0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >You Need to See This! Paul Wallis & Praveen Mohan - Hidden History of
      Ancient Civilizations</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Ulf43fuKc6U"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Reptilian Gods & Human Origins | Paul Wallis & Praveen Mohan Dive Deep
      into Ancient Secrets - Part 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@RealPraveenMohan"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PraveenMohan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@PaulWallis" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Paul Wallis</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#ellis"
    ><span
      class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Ellis C Taylor - 3rd discussion with Peter Maxwell Slattery @19:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#races"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >ILLUMINATI RACES
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#hollywood"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST"
      ENCOUNTORING.. WATCH THIS!</span
    >
  </a>
</h5>
