---
import CH21 from "./CH21.astro";
import Diana from "./Diana.astro";
import JFKMEME from "./JFKMEME.astro";
import MOON from "./MOON.astro";
import SWAMP from "./SWAMP.astro";
import Whitewall from "./Whitewall.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span
      class="text-red-700 font-bold   hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251957"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white font-bold   hover:text-purple-900"
      >This New Evidence Is Undeniable . . . Anunnaki Aliens [aka Elohim] In The Bible (Video)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-red-700 font-bold   hover:text-green-900 text-transform: uppercase"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold   hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-sky-500 bg-pink-50 font-bold   hover:text-sky-900"
      >REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related
      links in description)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#everywhere"
    ><span class="text-blue-950 font-bold   hover:text-green-900"
      >Orion is everywhere (www.theorionlines.com/orion)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./cooper#meeting"
   
    ><span class="text-purple-700 font-bold hover:text-green-900"
      >Eisenhower UFO Meeting Alien Grays 1954 – “The Grenada Treaty” – William Cooper</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold hover:text-green-900"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black   hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=H8pxF9HR_8s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-yellow-100 font-black   hover:text-purple-800 text-transform: uppercase"
      >Reptilians Rule Earth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>

<SWAMP />
<MOON />



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bogdanoff#footage"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >BOGDANOFFS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QQSource/status/1845169814681026728"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold   hover:text-sky-700"
      >Blue Bloods Can't Handle High Oxygen - WHY RESTARTING ENDS THEM</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold   hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<JFKMEME />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#jfksr"
    ><span
      class="text-sky-500 font-bold text-justify   hover:text-sky-900"
      >ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI BLOODLINES! JFK
      SR IS Q!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span
      class="text-sky-500 font-bold text-justify   hover:text-green-900"
      >You Will Be Stunned By This Information! Finally We Can Begin To
      Understand!</span
    >
  </a>
</h5>
<MOON />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dean#look"
    ><span
      class="text-sky-500 font-bold   hover:text-green-900 text-transform: uppercase"
      >WALKING AMONG US (Robert Dean)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#overlords"
    ><span class="text-sky-500 font-bold   hover:text-green-900"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#deeper"
    ><span
      class="text-sky-500 bg-pink-200 font-bold   hover:text-sky-900"
      >This goes DEEPER than you think It's Gonna Be Biblical Q 3828 T
      HOLMSETH@The High Command@Smoakpipe</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#statue"
    ><span class="text-sky-500 font-bold   hover:text-sky-900"
      >Is "The Iguana Man" statue in Peru a reptilian humanoid?(MORROP statue)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bible#iraq"
    ><span
      class="text-sky-500 font-bold text-justify   hover:text-green-900"
      >You Will Be Stunned By This Information! Finally We Can Begin To
      Understand!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=eTWJC0uckJ0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-yellow-300 font-black   hover:text-green-900 text-transform: uppercase"
      >You Need to See This! Paul Wallis & Praveen Mohan - Hidden History of
      Ancient Civilizations</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=H8pxF9HR_8s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-yellow-100 font-black   hover:text-purple-800 text-transform: uppercase"
      >Reptilians Rule Earth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-green-700 font-bold   hover:text-green-900"
      >Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big
      Event and even more Chaos(Bibles)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2023/09/09/reptilian-agenda/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold    hover:text-green-200 text-transform: uppercase"
      >True World History: Humanity’s Saga by Stewart Swerdlow</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2022/06/01/al-bielek-autobiography-8/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold    hover:text-green-200 text-transform: uppercase"
      >Al Bielek: Complete Video Autobiography (8)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://inscribedonthebelievingmind.blog/2022/04/17/alien-invasion-interview-with-al-bielek/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-black font-bold    hover:text-green-200 text-transform: uppercase"
      >Alien Invasion: Interview with Al Bielek</span
    >
  </a>
</h5>


<Whitewall />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ufo"
    ><span
      class="text-red-700 font-bold   hover:text-green-900 text-transform: uppercase"
      >Dr. Brown: Pushing UFO Disclosure with New Photography(Part 1)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-red-700 bg-yellow-300 font-bold   hover:text-green-900 text-transform: uppercase"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney
      Brown)(Part 2)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#nwo"
    ><span
      class="text-sky-500 bg-white font-bold   hover:text-green-900 text-transform: uppercase"
      >THE HIDDEN HISTORY and THE SNAKE / REPTO WORLD ORDER = THE NAZI WORLD
      ORDER -> NWO (1:06:00)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span
      class="text-blue-900 bg-yellow-300 text-left text-xl font-bold   hover:text-purple-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span
      class="text-blue-900 bg-yellow-200 text-left text-xl font-bold   hover:text-purple-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#crashes"
    ><span
      class="text-blue-900 bg-yellow-200 text-left text-xl font-bold   hover:text-purple-900"
      >ALIEN CRASHES! LIVE ALIENS! DRONES! HYBRIDS! HIDDEN AGENDAS! THEY'RE NOT
      HUMAN!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold   hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#jfksr"
    ><span
      class="text-sky-500 font-bold text-justify   hover:text-sky-900"
      >ONLY 60% HUMANS ON EARTH! SERIAL KILLERS ARE ILLUMINATI BLOODLINES! JFK
      SR IS Q!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#spiers"
    ><span
      class="text-sky-400 text-lg font-bold   hover:text-sky-600"
      >MAX SPIERS INTERVIEW - Super Soldier - Was Killed For Saying These Things
      - High Level ET Corruption & Decimation of The HUMAN HEART</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700 bg-yellow-300 text-lg font-bold   hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold   hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold   hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#nonhuman"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >'David Icke was right about "Covid", the jab, the Cloud, and manipulation
      by a non-human force'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#harzan"
    ><span
      class="text-blue-400 text-xl font-bold   hover:text-red-700"
      >UFO News - Meet MUFON's New Executive Director Jan Harzan</span
    >
  </a>
</h5>
<p class="mb-4 text-black">
  Remember what Ben Rich asked a colleague,<br /> who answered that all points in
  space and time are connected.<br /> That is why we could take ET home, even back
  then.
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./flat-earth#harzan"
    ><span
      class="text-white text-left bg-green-900 text-xl font-bold   hover:text-green-900 hover:bg-white"
      >Enough Already!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#british"
    ><span class="text-red-900 font-bold   hover:text-green-900"
      >The British Royals and the Reptilians (video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#antichrist"
    ><span class="text-green-600 font-bold   hover:text-green-900"
      >Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#wilder"
    ><span
      class="text-purple-700 bg-sky-300 font-bold   hover:text-green-900"
      >(1)ARIZONA WILDER ON SHAPESHIFTING REPTILIANS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#expose"
    ><span
      class="text-purple-700 bg-sky-300 font-bold   hover:text-green-900"
      >(2)REPTO QUEEN EXPOSED: VICTIM CALLS OUT THE „QUEEN“ for RITUAL ABUSE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#witness"
    ><span
      class="text-purple-700 bg-sky-300 font-bold   hover:text-green-900"
      >(2a)BOMBSHELL!! Reptilian Child Killers English Royals Witness MUST SEE!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#more"
    ><span
      class="text-purple-700 bg-sky-300 font-bold   hover:text-green-900"
      >(3)More Queen Reptilian!!! & Principality of Mammon (1-4-2023)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#diana"
    ><span
      class="text-purple-700 bg-sky-300 font-black   hover:text-green-900"
      >(4)THE HUGE SECRET THAT PRINCESS DIANA KNEW (VIDEO)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://exhale.breatheheavy.com/forums/topic/763544-britney-spears-swears-that-prince-william-is-actually-a-shape-shifting-reptilian-monster/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-sky-300 font-black   hover:text-green-900"
      >(5)BRITNEY SPEARS: ‘PRINCE WILLIAM IS NOT HUMAN’</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.educate-yourself.org/cn/Queen-Admits-She-is-Not-Human-and-We-Will-Learn-to-Accept-Her10jul16.shtml"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-sky-300 font-black   hover:text-purple-900"
      >(6)Queen Admits She is “Not Human” and We Will “Learn to Accept Her For
      What She Is”</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#drinker"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Queen Executed - Blood Drinker - pulled after 4,000 views to show BS
      videos</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/POTUS_Uk_Jfk_Q/status/1850896944022876251"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-950 font-bold   hover:text-slate-900"
      >The British Crown</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/WWG1WGADean1776/status/1850272478549193038"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-950 font-bold   hover:text-slate-900"
      >Brave Survivor Outside Lizards Windsor Castle</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/WWG1WGADean1776/status/1851706305171394875"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-950 font-bold   hover:text-slate-900"
      >The Case of</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#eggs"
    ><span class="text-green-600 font-bold   hover:text-green-900"
      >SGT Pattie Brassard – Elections, Solar Winds, Current Events, and Q & A
      (1:27:40)(1:30:10 eggs)
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#ellis"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Ellis C Taylor - 3rd discussion with Peter Maxwell Slattery @19:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#shifter"
    ><span
      class="text-green-900 font-black   hover:text-purple-900"
      >Amy Sever: Face-To-Face With A 'Shape-Shifter' March 30, 2023</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span
      class="text-sky-500 bg-yellow-300 text-lg font-bold   hover:text-purple-950"
      >Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dwight#ike"
    ><span class="text-blue-400 font-black   hover:text-purple-900"
      >IKE’S role in agreements reached with Aliens Revealed by Great
      Granddaughter in New Book</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#alex1994"
    ><span
      class="text-sky-500 bg-yellow-300 text-lg font-bold   hover:text-purple-950"
      >Alex Collier Interview (1994)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span
      class="text-red-700 bg-yellow-300 font-black   hover:text-purple-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview</span
    >
  </a>
</h5>
<Diana />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@The5thKind" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The 5th Kind</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=8mLZJ7gccTU"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >JP Update 33 - Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=eTWJC0uckJ0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-yellow-300 font-black   hover:text-green-900"
      >You Need to See This! Paul Wallis & Praveen Mohan - Hidden History of
      Ancient Civilizations</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Ulf43fuKc6U"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Reptilian Gods & Human Origins | Paul Wallis & Praveen Mohan Dive Deep
      into Ancient Secrets - Part 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@RealPraveenMohan"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PraveenMohan</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@PaulWallis" rel="noopener" target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Paul Wallis</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#hollywood"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST"
      ENCOUNTORING.. WATCH THIS!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#reptos"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >🦎 REPTOS, LIZARDS and SHAPESHIFTERS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#museum"
    ><span
      class="text-green-900 bg-yellow-300 font-black   hover:text-purple-900"
      >A DRACO REPTO - IN MUSEUM IN EGYPT - HUNTED AND ELIMINATED BY RUSSIAN
      SPECIAL FORCES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#iraq1"
    ><span
      class="text-green-900 bg-yellow-300 font-black   hover:text-purple-900"
      >Enki and Enlil - SADDAM HUSSEIN HAD AN ANNUNAKI STARGATE and TECHNOLOGY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#cern1"
    ><span
      class="text-green-900 bg-yellow-300 font-black   hover:text-purple-900"
      >CERN: Where Science and the Supernatural Collide - PORTAL / Gateway</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#invaded"
    ><span
      class="text-blue-900 bg-yellow-300 font-black   hover:text-purple-900 hover:bg-white"
      >THERE ARE PEOPLE WHO THINK THE WEST INVADED IRAQ 🌟 OVER A STARGATE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#stargate"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >STARGATE (1994) | Activating The Portal | MGM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#everywhere"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Orion is everywhere (www.theorionlines.com/orion)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#brand"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Can We TRUST Russell Brand? Is He a Freemason / Illuminati Puppet?</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#tucker"
    ><span
      class="text-sky-500 text-lg font-bold   hover:text-purple-950"
      >Tucker Carlson: Non-Humans “That have always Been Here”</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span
      class="text-green-900 font-black   hover:text-purple-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-pink-500 font-bold   hover:text-green-900"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#races"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >ILLUMINATI RACES
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#agena"
    ><span
      class="text-blue-400 bg-yellow-300 font-black   hover:text-purple-900"
      >THE ALIEN AGENDA 2019 GEORGE NEWS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-blue-400 bg-yellow-300 font-black   hover:text-purple-900"
      >CABAL AGENDA that is not going to happen</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black   hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<CH21 />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold   hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#mugzzi"
    ><span class="text-purple-500 font-bold   hover:text-green-900"
      >Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital Tom</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bogdanoff#footage"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >BOGDANOFFS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#kerry"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >KERRY CASSIDY AND MICHAEL JACO: LOOKING GLASS AND THE BATTLE FOR EARTH</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Chris Turner talks about Richard Bruce</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#legacy"
    ><span class="text-pink-500 font-bold   hover:text-green-900"
      >Don't Mention the Reptilians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#why"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >Why isn’t there More interest in the Reptilians?(Richard Bruce)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./eceti#eceti"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >ECETI Where Contact Is Happening Now</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=YWH5zJJCDPY&t=2s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Reptilian Queen Elizabeth Holographic Projection Technology - HD</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=O_5K2guh_Og&t=1s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Escaping from Buckingham Palace Naked</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=H8pxF9HR_8s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Reptilians Rule Earth</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=EIM4ntL5x_o"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The Reptilian New World Order To Be Completed By 2029</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4n3v0z-what-you-need-to-know-about-the-reptilian-alien-race.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >What You Need To Know About The REPTILIAN ALIEN RACE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4n40gr-alex-collier-the-alpha-draconians-1994-interview.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >ALEX COLLIER - THE ALPHA DRACONIANS (1994 INTERVIEW)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4n40lk-alex-collier-revelations-andromedans-warning-about-the-orion-group-and-alph.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Alex Collier Revelations: Andromedan's Warning about the Orion Group &
      Alpha Draconians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v26i2lu-a-draco-repto-in-museum-in-egypt-hunted-and-eliminated-by-russian-special-f.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >A REPTILIAN IN AN EGYPTIAN MUSEUM – HUNTED AND ELIMINATED BY RUSSIAN
      SPECIAL FORCES</span
    >
  </a>
</h5>
