---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacinamide"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >The #1 Best Vitamin for Arthritis (NOT VITAMIN D)(B3) Niacinamide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B08ZSYV1R1?"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 text-base hover:text-lg hover:text-orange-700"
      >Best Naturals Niacinamide 500 mg 240 Tablets</span
    >
  </a>
</h5>
