---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dmso"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=AhTJwUPowr8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >L Carnosine - updated</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=iDG0XFklVM8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Why NAC Supplements are Game-Changers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=oPdGOrqTfhA"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 font-bold bg-white text-base hover:text-lg hover:text-green-900"
      >What is NAC (N-Acetyl-L-Cysteine)?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/TinaZimmermann4/status/1845194609376329971"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold   hover:text-sky-700"
      >💊💊Salt for health‼️</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://nootropicsexpert.com/vitamin-b5-pantothenic-acid/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-purple-100 font-bold   hover:text-blue-900"
      >Vitamin B5 (Pantothenic Acid)</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=i654ECnVYS4&t=2s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 font-bold bg-gray-200 text-base hover:text-lg hover:text-green-900"
      >Vitamin B5 (Pantothenic Acid) is the “anti-stress vitamin” - NEW</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@NootropicsExpert"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >NootropicsExpert</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/new-breakthrough-dr-william-makis-md-explores-methylene-blue-as-a-powerful-therapy-for-androgen-dependent-and-androgen-independent-prostate-cancer/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-purple-100 font-bold   hover:text-blue-900"
      >New Breakthrough: Dr. William Makis MD Explores Methylene Blue</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#nitric"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#updated"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >L Glutamine - updated</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#nac2"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >N Acetyl L Cysteine (NAC) - updated</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacin"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Niacin (B3)- Unclog Arteries in description</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#spots"
    ><span
      class="text-sky-500 bg-pink-50 font-bold hover:text-sky-900"
      >The #1 Deficiency behind Aging Spots</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#astaxanthin"
    ><span
      class="text-pink-600 bg-orange-50 font-bold hover:text-pink-700"
      >Astaxanthin 7 mins on why you should take the best antioxidant in the
      world?(Sunburn Protection)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#diatomaceousnano"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >BORAX & DIATOMACEOUS KILS NANO - EARTH BENEFITS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=7dhOHaGFS8c"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Astaxanthin a Powerful Pain Reliever and Antioxidant</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=HaQCK7QQ6jo"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Astaxanthin: The Ultimate Longevity Antioxidant</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=wDk5TObVHMI&t=194s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Astaxanthin 7 mins on why you should take the best antioxidant in the
      world?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=M4p1Cmt202w"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >The Amazing Benefit of Astaxanthin on Longevity & Inflammation (Better
      than Fish Oil)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=h3xndciLidM"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Groundbreaking Findings In New Astaxanthin Study!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=vX9yxwL5orI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Astaxanthin: Your New Secret Weapon Against Blood Sugar and Cholesterol
      Issues</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=gAQYXs249fU"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >What is Astaxanthin, Its Sources & Benefits – Dr. Berg</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=GBdGXJ_wprc&t=325s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >22 Astaxanthin Brands Lab Tested!(5:25)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=_HShDGF3RdI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >ASTAXANTHIN | Latest Anti Aging Information | Life Extension Supplements</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bulksupplements.com/en-AU/products/astaxanthin?variant=42658998616258&"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 text-base font-bold hover:text-lg hover:text-orange-700"
      >Astaxanthin Softgels</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://deeprootsathome.com/astaxanthin-my-sun-protection-supplement-why-i-take-it-daily/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 text-base font-bold hover:text-lg hover:text-orange-700"
      >Astaxanthin: My Internal Sunscreen & Antiaging Support</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.lifeextension.com/magazine/2013/4/astaxanthin-provides-broad-spectrum-protection"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 text-base font-bold hover:text-lg hover:text-orange-700"
      >Astaxanthin Provides Broad Spectrum Protection</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=XtlGqB-earw"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Astaxanthin and the Eye</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=IK4BODTbIMo"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-pink-100 text-base font-bold hover:text-lg hover:text-pink-700"
      >The Benefits of Astaxanthin</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=s9QCIxWFXCY"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-pink-100 text-base font-bold hover:text-lg hover:text-pink-700"
      >What Happens If You Take Astaxanthin Every Day?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=pFQsEVOpO5M"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Best Nootropics for 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=jC8YdTkqkW8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >Astaxanthin(NootropicsExpert)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=vJu7v9JtD-o"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >The #1 Deficiency behind Aging Spots</span
    >
  </a>
</h5>

<!-- prettier-ignore-start -->


<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-100">
  <div class="whitespace-break-spaces">
    I'm 71 year old woman born in Finland with fair skin and blonde hair, moved to Australia QLD 37 years ago. 
    
    I sunbake in the middle of the day when it's warm enough. 
    
    I don't burn my skin because I take Astraxhantin 12 mg a day. 
    
    I get a tan but don't get burnt. 
  
    You will think that my skin must be in really bad condition because I don't use any sun creams or blocks , 
  
    but no Sun is our friend , it gives us Vitamin D (with my sunbaking I get at least 20,000 IU) and melatonin naturally 
    
    but I take magnesium Glycinate as supplement. I'm healthy and energetic. Thank you Dr. your videos are precious.
  </div>
</div>
<!-- prettier-ignore-end -->



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.oneclearwinner.com.au/product/astaxanthin-australia/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-green-900"
      >10 Best astaxanthin australia - April 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=GBdGXJ_wprc"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >22 Astaxanthin Brands Lab Tested!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=N17cmKCVxcw"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Niacin (Vitamin B3): Flushing Away Heart Disease. [4 Studies]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236588"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-green-900"
      >Dr. Eric Berg DC: "Strange & Weird Niacin (B3) Deficiency Signs and
      Symptoms" [6:31 video (cc)]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=PFW5dB3G-0c&t=2s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Niacin vs. Niacinamide</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=6Q0Zxolb-zQ"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >How To Eliminate Arthritis Pain With Vitamin B3 (Niacin)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Kk-TstDlSi0"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Key Roles of Niacin (aka Vitamin B3)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=CHppXavRIys"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >The REAL Reasons To Use N-Acetylcysteine (NAC)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#nac"
    ><span class="text-sky-600 font-bold   hover:text-green-900"
      >Untold Secrets of NAC ( N-Acetyl Cysteine)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#detox"
    ><span class="text-blue-800 font-bold   hover:text-green-900"
      >Reader: DETOX SUPPLEMENTS FOR VACCINE INJURED VICTIMS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#vitaminb3"
    ><span class="text-sky-600 font-bold   hover:text-green-900"
      >Vitamin B3 kills super bugs. Niacin is amazing.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#lower"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-green-900"
      >NITRIC OXIDE - LOWER BLOOD PRESSURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bicarbonate#kidney"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >Preventing and Treating Chronic Kidney Disease with Niacin and Sodium
      Bicarbonate</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://adrenalinehq.com.au/products/arginine-nitrrate?"
    rel="noopener"
    target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Pro-Series Arginine Nitrate</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://adrenalinehq.com.au/products/disorder?"
    rel="noopener"
    target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Disorder High Stim Pre</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://adrenalinehq.com.au/products/ehp-labs-oxyshred"
    rel="noopener"
    target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >OxyShred</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://adrenalinehq.com.au/" rel="noopener" target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Adrenalinehq</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.mrsupplement.com.au/faction-labs-disorder"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >Disorder</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
