---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#nitric"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >THE POWER OF NITRIC OXIDE FOR CARDIOVASCULAR ISSUES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#updated"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >L Glutamine - updated</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#nac2"
    ><span
      class="text-red-600 text-base font-bold hover:text-lg hover:text-green-900"
      >N Acetyl L Cysteine (NAC) - updated</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#niacin"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Niacin (B3)- Unclog Arteries in description</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=M4dzft4BzL0"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Best Supplement For Erectile Dysfunction - Dr. Vivek Joshi</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=N17cmKCVxcw"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Niacin (Vitamin B3): Flushing Away Heart Disease. [4 Studies]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#nac"
    ><span class="text-sky-600 font-bold hover:text-2xl hover:text-green-900"
      >Untold Secrets of NAC ( N-Acetyl Cysteine)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./glutamine#detox"
    ><span class="text-blue-800 font-bold hover:text-2xl hover:text-green-900"
      >Reader: DETOX SUPPLEMENTS FOR VACCINE INJURED VICTIMS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#vitaminb3"
    ><span class="text-sky-600 font-bold hover:text-2xl hover:text-green-900"
      >Vitamin B3 kills super bugs. Niacin is amazing.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nitric-oxide#lower"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-green-900"
      >NITRIC OXIDE - LOWER BLOOD PRESSURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bicarbonate#kidney"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >Preventing and Treating Chronic Kidney Disease with Niacin and Sodium
      Bicarbonate</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://adrenalinehq.com.au/products/arginine-nitrrate?"
    rel="noopener"
    target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Pro-Series Arginine Nitrate</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://adrenalinehq.com.au/products/disorder?"
    rel="noopener"
    target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Disorder High Stim Pre</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://adrenalinehq.com.au/products/ehp-labs-oxyshred"
    rel="noopener"
    target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >OxyShred</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://adrenalinehq.com.au/" rel="noopener" target="_blank"
    ><span class="text-black text-base hover:text-lg hover:text-green-900"
      >Adrenalinehq</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.mrsupplement.com.au/faction-labs-disorder"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >Disorder</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
