---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://childtraffickingorgans.blogspot.com/2021/06/draconian-empire-your-ancestors-called.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-black text-base hover:text-lg hover:text-blue-700"
      >DRACONIAN EMPIRE - Your ancestors called them DEMONS.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/7c52d2b3-e729-4489-b35b-ec3becea2232"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-blue-300 text-base hover:text-lg hover:text-red-700"
      >'WALKING AMONG US： Human Looking Non-Humans, They look exactly like us'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://helenastales.weebly.com/" rel="noopener" target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >UFOmania - the truth is out there</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=235751"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >'David Icke was right about "Covid", the jab, the Cloud, and manipulation
      by a non-human force'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/JfwpNrD71Mt9/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-blue-900"
      >THE NIGHTMARE BEGINS...</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">...</p>
