---
import EAR from "./EAR.astro";
---

<!--  <Noshot /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#shot"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHY OH WHY WON'T PEOPLE JUST TAKE THE SHOT?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5gyxgp-covid-vaccine-package-insert.html?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold hover:text-emerald-700"
      >Covid vaccine package insert</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vgoti3-pharmacist-shows-blank-covid-19-vaccine-insert.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold hover:text-emerald-700"
      >Pharmacist Shows Blank COVID 19 Vaccine Insert</span
    >
  </a>
</h5>

<h3
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#aluminum"
    ><span
      class="text-sky-500 bg-yellow-50 text-base hover:text-lg hover:text-purple-900"
      >ALUMINUM AND MERCURY VACCINE</span
    >
  </a>
</h3>

<h3
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >Documentary: Trace Amounts @15:00 @46:26</span
    >
  </a>
</h3>

   <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
   <a href="./autism#treatment"
    ><span class="text-sky-500 bg-gray-100 font-bold hover:text-green-900"
      >There is a critical need for effective treatment of the core symptoms of autism spectrum disorder (ASD).(SURAMIN)(reverse AUTISM)</span
    >
  </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/DianaT192/status/1848123039877079536"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-100 font-bold hover:text-2xl hover:text-slate-800"
      >EVERY SINGLE THING that we were taught in the medical field was a lie.
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#catch"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-green-900"
      >Can You Catch a Virus?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#cancer"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with Cancer Viruses</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#judy2"
    ><span class="text-emerald-600 text-base hover:text-lg hover:text-green-900"
      >Dr Judy Mikovits joins Alex Jones from Info Wars (June/July 2024)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vlo0kb-intentionally-blank-can-you-handle-the-truth-vin3-p0ie.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold hover:text-emerald-700"
      >"INTENTIONALLY BLANK" - "Can You Handle The Truth?" - V@ccine
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1f1gn9-devastated-father-calls-pharmacist-after-sons-injured-from-the-jab.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-pink-100 font-bold hover:text-emerald-700"
      >Devastated Father Calls Pharmacist After Son's Injured From The Jab</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vw6s87-top-secret-pfizer-document-leaks-online....html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-pink-100 font-bold hover:text-emerald-700"
      >TOP SECRET PFIZER DOCUMENT LEAKS ONLINE...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2022-03-03-leaked-pfizer-document-shows-covid-vaccine-dangerous.html"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-700 bg-white font-bold hover:text-emerald-700"
      >Leaked top-secret Pfizer document shows COVID-19 vaccine is FAR MORE
      DANGEROUS than the world knows</span
    >
  </a>
</h5>




<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./suddenly#trailer"
    ><span class="text-sky-500 bg-pink-100 font-bold hover:text-sky-900"
      >DIED SUDDENLY | OFFICIAL TRAILER</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./suddenly#premiere"
    ><span class="text-sky-500 bg-pink-100 font-bold hover:text-sky-900"
      >World Premiere: Died Suddenly - STEW PETERS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./suddenly#cardiologist"
    ><span class="text-sky-500 bg-pink-100 font-bold hover:text-sky-900"
      >LIVE: OFFICIAL DIED SUDDENLY Trailer RELEASE: Pediatric Cardiologist EXPOSES Vaxx Injury Coverup - Stew Peters Network</span
    >
  </a>
</h5>

          <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="/boric#solutions"
    ><span class="text-slate-700 font-bold hover:text-slate-900"
      >Solutions for Healing from the mRNA BioWeapon - Suramin, Ozone, Chlorine Dioxide & more w/ Dr. Joe Nieusma</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://odysee.com/@dataark:9/modrna-gentherapie-2025-07-14-en:b"
      rel="noopener"
    target="_blank"
    ><span class="text-slate-500 font-bold hover:text-slate-700"
      >m(od)RNA gene therapy | 2025-07-14 - Pfizer BioNTech - Inside the Vaccine Trials</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6y6hyw-australiaone-inside-mrna-vaccines-the-movieht-the-mccullough.html?" rel="noopener" target="_blank"
    ><span class="text-green-700 bg-orange-200 font-bold text-justify  text-transform: uppercase  hover:text-purple-900"
      >AustraliaOne - Inside mRNA Vaccines: The Movie</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1q6ecx-died-suddenly-official-trailer.html?"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-pink-100 font-bold hover:text-emerald-700"
      >DIED SUDDENLY | OFFICIAL TRAILER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1wg14f-world-premiere-died-suddenly.html?"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-pink-100 font-bold hover:text-emerald-700"
      >World Premiere: Died Suddenly - STEW PETERS</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1q1rga-live-official-died-suddenly-trailer-release-pediatric-cardiologist-exposes-.html?"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-pink-100 font-bold hover:text-emerald-700"
      >LIVE: OFFICIAL DIED SUDDENLY Trailer RELEASE: Pediatric Cardiologist EXPOSES Vaxx Injury Coverup - Stew Peters Network</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/DiedSuddenly"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-500 bg-pink-100 font-bold hover:text-emerald-700"
      >Died Suddenly</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/DrBenTapper1/status/1857853410428731721"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-200 bg-red-700 font-bold hover:text-2xl hover:text-sky-300"
      >“Not one of the seventy-two vaccines mandated for children has ever been
      safety tested in pre-licensing placebo-controlled trials. Not one!”-RFK
      Jr.</span
    >
  </a>
</h5>
      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.lifesitenews.com/news/fauci-admitted-rfk-jr-that-none-of-72-mandatory-vaccines-for-children-has-ever-been-safety-tested/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >Fauci admitted to RFK Jr. that none of 72 mandatory vaccines for children has ever been safety tested</span
            >
          </a>
        </h5>

      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.infowars.com/posts/top-cancer-doctor-documents-the-explosive-increase-in-turbo-cancers-that-started-within-months-of-the-covid-mrna-vaccine-rollout"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >Top Cancer Doctor Documents The Explosive Increase In Turbo Cancers That Started Within Months Of The COVID mRNA ‘Vaccine’ Rollout</span
            >
          </a>
        </h5>
      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://x.com/RealAlexJones/status/1955386191269728416"
            rel="noopener"
            target="_blank"
            ><span
              class="text-white bg-black text-transform: uppercase font-bold text-lg hover:bg-white hover:text-red-700"
              >Top Cancer Doctor Documents The Explosive Increase In Turbo Cancers That Started Within Months Of The COVID mRNA 'Vaccine' Rollout</span
            >
          </a>
        </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/23a50219-ee58-4e57-8e94-a093c67396a4" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Parasitic Brain Infestation Knowns as M.S./Multiple Sclerosis by Dr. Bryan Ardis</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.brighteon.com/dbbe35d5-b3d1-498e-aa2c-28d2b0f7ceb1" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >How to get rid of the Fiber "Blood" Clots Caused by Vaccins - Dr. Bryan Ardis</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.hopegirlblog.com/2023/07/13/finally-explained-white-fibrous-clots-from-vaccinated-deceased/" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Finally Explained! White Fibrous Clots From Vaccinated Deceased Jul 13, 2023</span
    >
  </a>
</h5>

<h3
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >Documentary: Trace Amounts @15:00 @46:26</span
    >
  </a>
</h3>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/caKfQri4BlWe/" 
  rel="noopener" target="_blank"
    ><span class="text-blue-700 bg-blue-100 font-extrabold hover:text-red-900"
      >Alien life forms found in THE Vaxx they are multiplying (English version)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ShadowofEzra/status/1862579389281562655"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >In a heartbreaking moment, a professor broke down in tears before
      thousands, revealing that Australia had...</span
    >
  </a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://rumble.com/vwgld1-breaking-worm-eggs-found-in-vials-german-doctors-report-hatching-eggs-in-va.html"
  rel="noopener"
  target="_blank"
  ><span
    class="text-blue-500 text-base hover:text-lg hover:text-green-900"
    >Breaking: Worm Eggs Found In Vials: German Doctors Report
    Hatching Eggs In Vaxx</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ShadowofEzra/status/1872665139213918651?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Former Pfizer Vice President Dr. Mike Yeadon drops a bombshell</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/TheIntelSCIF/status/1872679220356485555"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >When the first public vaccination was given on live TV, this woman's
      adverse reaction should have made your alarm bells go off immediately.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=250091"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-sky-900"
      >Top Veterinarian Drops Bombshell: ‘Animal Vaccines Are Designed To
      Euthanize Our Pets’</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.zerohedge.com/medical/trump-says-rfk-jr-will-study-possible-link-between-childhood-vaccines-and-autism-hhs"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-50 bg-black font-bold hover:text-2xl hover:text-sky-100"
      >Trump Says RFK Jr. Will Study Possible Link Between Childhood Vaccines And Autism As HHS Secretary</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/trump-taps-rfk-jr-to-lead-urgent-investigation-into-childhood-vaccine-autism-links/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-50 bg-black font-bold hover:text-2xl hover:text-sky-100"
      >Trump Taps RFK Jr To Lead ‘Urgent’ Investigation Into Childhood Vaccine-Autism Links</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/trump-taps-rfk-jr-to-lead-urgent-investigation-into-childhood-vaccine-autism-links/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-50 bg-black font-bold hover:text-2xl hover:text-sky-100"
      >Robert F. Kennedy Jr. recently recounted how, when threatened with a lawsuit, Dr. Anthony Fauci was forced to admit that none of the 72 vaccines that are currently mandated for children in the US has ever been safety tested.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://childrenshealthdefense.org/defender/cdc-expand-vaccine-schedule-children-pregnant-women/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-50 bg-black font-bold hover:text-2xl hover:text-sky-100"
      >‘A Very Dangerous Medical Experiment’: CDC Expands Vaccine Schedules for Kids, Pregnant Women and Most Adults</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/8H56B0jW7uZa/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-100 bg-black font-bold hover:text-2xl hover:text-sky-100"
      >VAXXED VS UNVAXXED: DR PAUL THOMAS & DR. JAMES LYONS-WEILER PUT CDC VACCINE SCHEDULE TO THE TEST</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Angelhunter1776/status/1852623199369826506"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-pink-100 font-bold hover:text-sky-700"
      >I Was An MIT Educated Neurosurgeon</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/pro-vaccine-doctor-baffled-after-26-year-old-daughter-dies-suddenly-without-cause/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Pro-Vaccine Doctor Baffled After 26-Year-Old Daughter Dies Suddenly
      ‘Without Cause’</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://dailysceptic.org/2022/12/20/top-australian-doctor-reveals-she-is-vaccine-injured-and-says-doctors-are-being-censored/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Top Australian Doctor Reveals She is Vaccine Injured and Says Doctors Are
      Being Censored</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#effects"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
    >
      Canadian Nurse Rages About Confidential List Of Side Effects Associated
      With Pfizer Vaccines
    </span>
  </a>
</h5>
<EAR />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#father"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >FIRE & BRIMSTONE - FATHER VERBALLY RIPS PHARMACIST APART AFTER HIS SON'S
      INJURED FROM THE CV JAB
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#every"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >And all Dr's, nurses, pharmacists et al had EVERY chance to check this
      before insisting YOU take this drug</span
    >
  </a>
</h5>


