---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#shot"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHY OH WHY WON'T PEOPLE JUST TAKE THE SHOT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/opinion-conservative/2022/05/top-australian-doctor-who-heavily-promoted-vaccine-loses-26-year-old-daughter-3629086.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Top Australian doctor who heavily promoted vaccine loses 26-year-old
      daughter…</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#effects"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
    >
      Canadian Nurse Rages About Confidential List Of Side Effects Associated
      With Pfizer Vaccines
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amplifon.com/au/blog/covid-19-vaccine-side-effects"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Can the vaccines cause ear disorders?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#father"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >FIRE & BRIMSTONE - FATHER VERBALLY RIPS PHARMACIST APART AFTER HIS SON'S
      INJURED FROM THE CV JAB
    </span>
  </a>
</h5>
