---
import EAR from "./EAR.astro";
---


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#shot"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHY OH WHY WON'T PEOPLE JUST TAKE THE SHOT?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5gyxgp-covid-vaccine-package-insert.html?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold  hover:text-emerald-700"
      >Covid vaccine package insert</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vgoti3-pharmacist-shows-blank-covid-19-vaccine-insert.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold  hover:text-emerald-700"
      >Pharmacist Shows Blank COVID 19 Vaccine Insert</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/DianaT192/status/1848123039877079536"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-pink-100 font-bold hover:text-2xl hover:text-slate-800"
      >EVERY SINGLE THING that we were taught in the medical field was a lie. </span
    >
  </a>
</h5>
  
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="./no-virus#catch"
      
            ><span
              class="text-pink-500 text-base hover:text-lg hover:text-green-900"
              >Can You Catch a Virus?</span
            >
          </a>
        </h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vlo0kb-intentionally-blank-can-you-handle-the-truth-vin3-p0ie.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-yellow-100 font-bold  hover:text-emerald-700"
      >"INTENTIONALLY BLANK" - "Can You Handle The Truth?" - V@ccine </span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1f1gn9-devastated-father-calls-pharmacist-after-sons-injured-from-the-jab.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold  hover:text-emerald-700"
      >Devastated Father Calls Pharmacist After Son's Injured From The Jab</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vw6s87-top-secret-pfizer-document-leaks-online....html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold  hover:text-emerald-700"
      >TOP SECRET PFIZER DOCUMENT LEAKS ONLINE...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2022-03-03-leaked-pfizer-document-shows-covid-vaccine-dangerous.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-700 bg-white font-bold  hover:text-emerald-700"
      >Leaked top-secret Pfizer document shows COVID-19 vaccine is FAR MORE DANGEROUS than the world knows</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1q1u1m-died-suddenly-official-trailer-streaming-november-21st.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold  hover:text-emerald-700"
      >DIED SUDDENLY | OFFICIAL TRAILER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1wac7i-world-premier-died-suddenly.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold  hover:text-emerald-700"
      >World Premiere: Died Suddenly</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5kv52w-shed-talks.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-emerald-500 bg-pink-100 font-bold  hover:text-emerald-700"
      >'Shed Talks'</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/opinion-conservative/2022/05/top-australian-doctor-who-heavily-promoted-vaccine-loses-26-year-old-daughter-3629086.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Top Australian doctor who heavily promoted vaccine loses 26-year-old
      daughter…</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#effects"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
    >
      Canadian Nurse Rages About Confidential List Of Side Effects Associated
      With Pfizer Vaccines
    </span>
  </a>
</h5>
<EAR />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#father"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >FIRE & BRIMSTONE - FATHER VERBALLY RIPS PHARMACIST APART AFTER HIS SON'S
      INJURED FROM THE CV JAB
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#every"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >And all Dr's, nurses, pharmacists et al had EVERY chance to check this before insisting YOU take this drug</span>
  </a>
</h5>
