---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#listof"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JOE BIDEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >The Movie</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#takedown1"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#greatest"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span
      class="text-blue-700 bg-red-500 font-bold hover:text-2xl hover:text-gray-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#explained"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#batman"
    ><span
      class="text-blue-700 bg-red-500 font-bold hover:text-2xl hover:text-gray-900"
      >SLOW MOTION BATMAN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/08/02/and-we-know-8-2-24-something-big-is-about-to-drop-kamala-exposure-continues-olympic-evil/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-black font-bold text-justify hover:text-2xl hover:text-green-500"
      >And We Know — 8.2.24: Something Big is about to Drop? Kamala Exposure
      Continues, Olympic Evil</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#returned"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#trafficking"
    ><span
      class="text-sky-500 bg-pink-200 font-bold hover:text-2xl hover:text-green-900"
      >Hollywood Human Trafficking
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >CHEVRON DOCTRINE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#shots"
    ><span
      class="text-blue-700 bg-red-500 font-bold hover:text-2xl hover:text-gray-900"
      >SHOTS HEARD(Central Casting)(0:35)(1:45)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/the-greatest-show-on-earth-alert-alert-alert-more-than-200000-actors-from-central-casting-using-cgi-ai-masks-and-voice-modulation-were-used-in-this-movie/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-white bg-red-600 font-bold text-justify hover:text-2xl hover:bg-red-800"
      >BQQQM!!! The Greatest Show On Earth: ALERT ALERT ALERT! MORE THAN 200,000
      ACTORS FROM CENTRAL CASTING USING CGI, AI, MASKS, AND VOICE MODULATION
      WERE USED IN THIS MOVIE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v49sg29-cic-trump-said-central-casting-must-be-true.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CIC Trump said, "Central Casting"! Must be true!
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v57tzx0-imdb.com-central-casting.html?e9s=rel_v2_pr"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >IMDb.com Central Casting</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3sqspj-central-casting.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CENTRAL CASTING</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/UMsGcWjArfIS/"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-red-600"
      >MUST SEE !! Riccardo Bosi the white hads are now in control of all the
      insitutions</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/UniquelyDone247/status/1805744846201831600"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-slate-800"
      >Trumps always saying Joes shot or he’s wearing a mask, central casting!
      Trumps been dropping clues about EVERYTHING. Now we know..especially when
      you go back and pay attention to what he says!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#rapper"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Rapper BREAKS Internet With Trump MUGSHOT Tattoo As The Rock & Snoop Dogg
      DUMP Biden 'I LOVE Trump'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#destroy"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Trump Assassination Would Destroy The New World Order, Warns Former DIA
      Official</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#flag"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >The Swiss 🇨🇭Flag got Deleted by us today - This Symbol of Satanic Swiss
      NAZI Governments and their Democide had to go - #STORM - 50USC1550,
      EO13818, 18 USC 2381</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#commander"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#movie"
    ><span
      class="text-blue-600 font-bold text-transform: uppercase hover:text-2xl hover:text-blue-900"
      >The Movie</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >@GhostEzraQ</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/GhostEzra" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >t.me/GhostEzra</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/pooL_rM311_7221/status/1772024263928623201"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >The world is ready now. The stage is set.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Suspended1717/status/1781709981286273510"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Q: THE GREATEST MILITARY INTELLIGENCE OPERATION OF OUR TIME!
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/QTHESTORMM/status/1801638312685224350"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >THE ENTIRE WORLD IS A STAGE.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vdow8z-charlie-freak-the-q-teams-takedown-of-the-cabal-from-a-to-z-200720.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/a2f87e73-c82b-47e5-8506-960e181b3a45"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
      >The Q Team's Takedown of The Cabal A-Z - Charlie Freak @23:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/NotOpCue/status/1713856928000934250?s=20"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-400 bg-white text-base hover:text-lg hover:text-blue-900"
      >The Q Team's Takedown of The Cabal A-Z - Charlie Freak @23:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/HysOIWhSbNrx/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >REMINDER FOR ALL THE DUMMIES THAT KNOW EVERYTHING</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/GLwFhRs73wvG/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-slate-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >TRUMP DID NOT WANT TO BE PRESIDENT - THE MOVIE UNFOLDS WITH 3 GENERALS
      ASKING HIM TO RUN FOR 1 TERM(wil paranormal)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://kpblog.space/2021/08/30/charlie-freak-two-2-videos-the-takedown-of-the-cabal-from-a-to-z-posted-on-the-kp-rumble/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Charlie Freak, Two (2) VIDEOs: “The Takedown of the Cabal from A to Z”
      (posted on the Kp Rumble)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/z3gy23MOeFJW/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >CHARLIE FREAK [TAKE DOWN THE CABAL FROM A TO Z]</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3m2igj-charlie-freak-live-donald-trump-and-the-greatest-sting-operation-of-them-al.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
      >Charlie Freak LIVE ~ Donald Trump & the Greatest Sting Operation of Them
      All, Part One</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/CharlieFreak" rel="noopener" target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
      >FreakSense TV</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236255"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Multiple Videos - Charlie Freak LIVE ~ Donald Trump & the Greatest Sting
      Operation of Them All</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/z3gy23MOeFJW/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >CHARLIE FREAK [TAKE DOWN THE CABAL FROM A TO Z]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@QTHESTORMM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/ishjay1960/49894" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 text-base font-bold hover:text-lg hover:text-slate-800"
      >THIS Video explains The White Plan to the last detail and yet I have
      NEVER seen this on another "Truther" channel. R U guys real?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3hooq0-the-greatest-show-on-earth.-a-film-by-nick-alvear.-thx-john-galt.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
      >THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/08/02/and-we-know-8-2-24-something-big-is-about-to-drop-kamala-exposure-continues-olympic-evil/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-black font-bold text-justify hover:text-2xl hover:text-green-500"
      >And We Know — 8.2.24: Something Big is about to Drop? Kamala Exposure
      Continues, Olympic Evil</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4qrqgf-the-swiss-flag-has-been-deleted-by-us-today..html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
      >The Swiss 🇨🇭Flag got Deleted by us today - This Symbol of Satanic Swiss
      NAZI Governments and their Democide had to go - #STORM - 50USC1550,
      EO13818, 18 USC 2381</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/CharlieFreak" rel="noopener" target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-green-900"
      >FreakSense TV</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236255"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Multiple Videos - Charlie Freak LIVE ~ Donald Trump & the Greatest Sting
      Operation of Them All</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/z3gy23MOeFJW/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >CHARLIE FREAK [TAKE DOWN THE CABAL FROM A TO Z]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=240831"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 text-base text-justify hover:text-lg hover:text-green-900"
      >INTEL by Ghost Ezra Cohen on EBS & 'The Movie'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/putin-the-new-world-order-is-dead-the-q-calendar-and-the-7-storms/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin has declared the New World Order as dead.(amg-news.com)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/putin-declares-victory-over-new-world-order-change-of-elites-coming-because-humanity-has-woken-up/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin declares victory over New World Order: ‘Change of elites’ coming
      because humanity has ‘woken up’(TPV)</span
    >
  </a>
</h5>
