---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#nothing"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/WCKCfKMusKjR/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/vnhreh-10-08-21-ppn-at-12pm-cst-1pm-est-also-on-rumble-twitch-our-website-and-patr.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >10_08_21-PPN at 12pm_cst 1pm_est Also on Rumble, Twitch , Our Website &
      Patriotchute.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/PPN" rel="noopener" target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >THE PATRIOT PARTY NEWS</span
    >
  </a>
</h5>
