---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#mark"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >THE TRUTH ABOUT THE MARK OF THE BEAST Revelation 13:16</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#markof"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Mark of the Beast: In or On?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#bluetooth"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Someone's Body Gets Connected To Bluetooth And A Grocery Store Zombie
      That Is Suffering From Something</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span
      class="text-pink-600 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#phone"
    ><span
      class="text-red-600 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >WATCH VACCINE NANO BOTS KILL AFTER BEING ACTIVATED BY A CELL PHONE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#kill"
    ><span
      class="text-gray-600 bg-slate-100 font-bold hover:text-2xl hover:text-gray-950"
      >BOOM! Covid Shot Causes Highest Kill Rate In History - Warns Top Doctor</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://quod.lib.umich.edu/cgi/k/kjv/kjv-idx?type=DIV2&byte=5418364#:~:text=%5B16%5D%20And%20he%20causeth%20all,%5B18%5D%20Here%20is%20wisdom."
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Bible, King James Version Rev.13:16</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://revelationscriptures.com/revelation-18-23-babylons-pahamakeia/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Revelation 18 23 – Discover Babylon’s Deception by Pharmakeia/Sorcery!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://pathwaytopeace.net/index.php/blogs-and-articles/pharmakeia-deception"
    rel="noopener"
    target="_blank"
    ><span class="text-purple-600 text-bold hover:text-lg hover:text-green-900"
      >PHARMAKEIA Deception Pharmakeia Meaning / Definition</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bookofmormonevidence.org/pharmakeia-sorcery-deception/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-bold hover:text-lg hover:text-green-900"
      >Pharmakeia/Sorcery Deception</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.blueletterbible.org/lexicon/g5331/esv/mgnt/0-1/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >Pharmakeia Meaning / Definition</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">
  1)the use or the administering of drugs<br />
  2)poisoning<br />
  3)sorcery, magical arts, often found in connection with idolatry and fostered by
  it<br />
  4)metaph. the deceptions and seductions of idolatry<br />
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./no-virus#shot"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHY OH WHY WON'T PEOPLE JUST TAKE THE SHOT?</span
    >
  </a>
</h5>
