---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#exchange"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/SzOYMLH7KoNJ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER - LINDA
      MOULTON HOWE - DAVID PAULIDES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/B41T78te8amk/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >William Tompkins</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v23w6kw-phil-schneider-d.u.m.b.s-underground-bases-alien-greys-new-world-order.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Phil Schneider D.U.M.B.S Underground Bases, Alien Greys, New World Order</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/alternative/2021/08/phil-schneider-area-51-deep-underground-military-bases-the-new-world-order-military-agreed-to-feed-people-to-aliens-in-exchange-for-technology-the-cias-darkest-most-vile-operation-and-it-is-3757225.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white font-bold hover:text-2xl hover:text-green-900"
      >Phil Schneider Area 51 Deep Underground Military Bases</span
    >
  </a>
</h5>
