---
import DEEP from "./DEEP.astro";
import MOON from "./MOON.astro";
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold hover:text-green-900"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#dulce"
    ><span class="text-blue-900 bg-slate-200 font-bold hover:text-red-900"
      >DULCE BASE IS IT THE TRUTH YOU SEEK? THE HIDDEN REALITY-COULD THIS BE THE
      TRUE STORY? PHIL SCHNEIDER</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-2xl hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#crashes"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN CRASHES! LIVE ALIENS! DRONES! HYBRIDS! HIDDEN AGENDAS! THEY'RE NOT
      HUMAN!</span
    >
  </a>
</h5>
<MOON />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700  font-bold hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://howandwhys.com/grey-aliens-in-underground-battle-in-new-mexico/"
  rel="noopener"
  target="_blank"
  ><span
    class="max-w-prose font-bold text-justify text-sky-500 bg-almost-black  hover:text-sky-400"
    >Grey Aliens Killed 60 US Soldiers And Civilians In Underground Battle In New Mexico</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dean#look"
    ><span
      class="text-sky-500 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >WALKING AMONG US (Robert Dean)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#overlords"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>
<DEEP />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Jordan Maxwell</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/WGyeJ9Uym2KC/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white text-base hover:text-lg hover:text-red-900"
      >DULCE BASE IS IT THE TRUTH YOU SEEK? THE HIDDEN REALITY-COULD THIS BE THE
      TRUE STORY? PHIL SCHNEIDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/SzOYMLH7KoNJ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER - LINDA
      MOULTON HOWE - DAVID PAULIDES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/B41T78te8amk/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/alternative/2023/03/william-cooper-rare-videos-secret-government-mj-12-the-nsa-alien-contact-the-shadow-government-full-length-the-one-world-order-william-cooper-exposed-the-alien-agenda-in-1997-3790120.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-700 bg-white text-base text-justify hover:text-lg hover:text-green-900"
      >William Cooper Rare Videos: Secret Government MJ-12, the NSA, Alien
      Contact & the Shadow Government (Full Length) - The One World Order.
      William Cooper Exposed the Alien Agenda in...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2dh26y-william-cooper-the-one-world-order-rare-video.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >William Cooper - The One World Order RARE VIDEO</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/2wobFwIT9GPj/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >ALIEN CRASHES! LIVE ALIENS! DRONES! HYBRIDS! HIDDEN AGENDAS! THEY'RE NOT
      HUMAN!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/hKt811XWXzet/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >ALIENS AND UNDERGROUND BASES PHIL SCHNEIDER'S LAST SEMINAR BEFORE HIS
      UNTIMELY DEMISE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://ok.ru/video/6937011292757" rel="noopener" target="_blank"
    ><span
      class="text-orange-500 bg-white text-base hover:text-lg hover:text-green-900"
      >LAURA EISENHOWER 2018׃ Alien Races, Transhumanism, 13th Zodiac | The BEST
      interview on YouTube! [HD 720p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/the_high_command/"
    rel="noopener"
    target="_blank"
  >
    <span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE_HIGH_COMMAND</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >William Tompkins</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v23w6kw-phil-schneider-d.u.m.b.s-underground-bases-alien-greys-new-world-order.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Phil Schneider D.U.M.B.S Underground Bases, Alien Greys, New World Order</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.naturalnews.com/2022-02-09-the-mysterious-death-of-phil-schneider.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-800 bg-white text-base hover:text-lg hover:text-green-900"
      >The mysterious death of Phil Schneider: The man who revealed the truth
      about Deep Underground Military Bases and alien contact</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://beforeitsnews.com/alternative/2021/08/phil-schneider-area-51-deep-underground-military-bases-the-new-world-order-military-agreed-to-feed-people-to-aliens-in-exchange-for-technology-the-cias-darkest-most-vile-operation-and-it-is-3757225.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-white font-bold hover:text-2xl hover:text-green-900"
      >Phil Schneider Area 51 Deep Underground Military Bases</span
    >
  </a>
</h5>
