---
import Nagasone from "./Nagasone.astro";
import Power from "./Power.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#police"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#police"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >POLICE-ARE-NOT-GOVERNMENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#finance"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >FINANCE FEAR, COMPETITION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-800">
  Military law 1776 world common constitutional law
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#returned"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#explained"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/149b44f6-b919-4620-926f-33c4d063e4b3"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-red-600"
      >Riccardo Bosi: MSM Red Pills</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/armygir36701799/status/1807830323054493962"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-sky-600"
      >ICYMI #Chevron</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/031eb219-bff8-488c-ac69-5005d1d13aa5"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-red-200 font-bold hover:text-2xl hover:text-sky-600"
      >SCOTUS RULING IN THE CHEVRON DOCTRINE CUTS THROAT OF THE DEEP STATE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/3a2f235d-af9e-4d63-886b-b90b16c249fb"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-red-600"
      >Riccardo Bosi: The Assange Question</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/112303904573984463"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >POLICE ARE POWER DRIVEN MUGGS (@Bluewater100)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4xzxl5-police-last-days-soon-coming.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >POLICE LAST DAYS SOON COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v51rlha-police-you-sik-fuks.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >POLICE YOU SIK FUKS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stargatenewsletter.blogspot.com/2024/04/sydney-mall-mass-killing.html"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-600 font-bold hover:text-2xl hover:text-green-900"
      >Sydney Mall Mass Killing
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#demon"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-purple-900"
      >DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!!</span
    >
  </a>
</h5>
<Nagasone />
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=rcjKENGKrFo"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >‘Absolute disgrace’: Sky News host blasts police commissioner’s social
      media censorship</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<Power />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v31fw20-for-world-police-especialy-u.s.-uk-and-the-muggs-ther-doing-all-the-donkey-.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/QN7csIH8EJFK/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >WORLD POLICE AND THE MUGGS! SECOND UPLOAD ATTEMPT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/3KnW13G9oLjp/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >ETS - THEY ARE REAL AND THEY ARE HERE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=HaQ_DHYP0-A"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >POLICE-ARE-NOT-GOVERNMENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/pP7AWZh96O4m/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >Finance fear,competition</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v47y9hi-finance-fearcompetition.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Finance fear,competition</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/Lk3YQzpPe2w0/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-gray-900"
      >LITTLE RUN DOWN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/sibley22" rel="noopener" target="_blank"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900"
      >sibley22</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/c/KirstensVideoShow"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900">
      Kirsten's Video Show</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/Krystianisms" rel="noopener" target="_blank"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900"
      >Krystianisms</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
