---
import ArielPro from "./ArielPro.astro";
import EBS from "./EBS.astro";
import FOUR from "./FOUR.astro";
import Nagasone from "./Nagasone.astro";
import Power from "./Power.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#police"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/davidjsorensen" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-yellow-200 font-extrabold hover:text-slate-800"
      >StopWorldControl</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/davidjsorensen/status/1918829095208526191" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-yellow-200 font-extrabold hover:text-slate-800"
      >Why is Trump posing as the new pope?</span
    >
  </a>
</h5>

        <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/m4hjw6QcVqRV" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-yellow-200 font-extrabold hover:text-slate-800"
      >Dlaczego Trump został przedstawiony jako kolejny papież przez obraz AI?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<FOUR />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#police"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >POLICE-ARE-NOT-GOVERNMENT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#finance"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >FINANCE FEAR, COMPETITION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v67nb4a-canada-and-the-uk-liberation-thoughts.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >Canada And The UK Liberation Thoughts</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v31fw20-for-world-police-especialy-u.s.-uk-and-the-muggs-ther-doing-all-the-donkey-.html?e9s=src_v1_upp"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4xzxl5-police-last-days-soon-coming.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >POLICE LAST DAYS SOON COMING</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-800">
  Military law 1776 world common constitutional law
</p>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ebs-alert#high"
    ><span class="text-blue-950 font-bold hover:text-2xl hover:text-slate-900"
      >HIGH TREASON</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-sky-600 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#returned"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >11 PROOFS: POWER IS BEING RETURNED TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#explained"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v49sg29-cic-trump-said-central-casting-must-be-true.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CIC Trump said, "Central Casting"! Must be true!
    </span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/149b44f6-b919-4620-926f-33c4d063e4b3"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-red-600"
      >Riccardo Bosi: MSM Red Pills</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ClaireT13274488/status/1873000745534165216"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-red-600"
      >There are two types of ....</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/UMsGcWjArfIS/"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-red-600"
      >MUST SEE !! Riccardo Bosi the white hads are now in control of all the
      insitutions</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/11/12/checkmate/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Checkmate</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/G5IstvXJCB9x/"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-red-600"
      >MILITARY TRIBUNALS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://old.bitchute.com/video/sAsP0KYDEpZZ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-slate-200 font-bold hover:text-2xl hover:text-red-900"
      >After The Election</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=6Mqfk54qfHk"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >KRYSTAIN 21 SCAM & HIS SO CALLED RESONATING ARMY - 2025 PREDICTION OF HOW
      THIS GRIFT WILL END</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247982"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 font-bold hover:text-2xl hover:text-blue-900"
      >NEW GALLOWS ARE BEING BUILT AT THE WHITE HOUSE FOR PUBLIC HANGINGS
      (Photo)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5brvek-derek-johnson-update-derek-johnson-w-riccardo-bosi-trump-is-still-in-charge.html?e9s=src_v1_ucp"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >Derek Johnson Update: Derek Johnson w/ Riccardo Bosi: "Trump Is Still In
      Charge"</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://cairnsnews.org/2022/12/12/australiaone-party-capt-kyle-interview-with-riccardo-bosi-on-current-military-operations-in-australia/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 font-bold hover:text-2xl hover:text-blue-900"
      >AustraliaOne Party – Capt Kyle interview with Riccardo Bosi on current
      military operations in Australia</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v1zgxuw-australiaone-party-capt-kyle-interview-with-riccardo-bosi.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >AustraliaOne Party - Capt Kyle interview with Riccardo Bosi</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#pt2"
    ><span
      class="text-sky-400 bg-white text-base hover:text-lg hover:text-pink-700"
      >DISCLOSURE (Part 2) | Antarctica, the Children, ET Life & more!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#dumb"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#caged"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >THE HIGH COMMAND</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#under"
    ><span class="text-blue-600 font-bold hover:text-2xl hover:text-blue-900"
      >Australia (This Gives A Whole New Meaning To The Term 'Down Under')</span
    ></a
  >
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/armygir36701799/status/1807830323054493962"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-sky-600"
      >ICYMI #Chevron</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/031eb219-bff8-488c-ac69-5005d1d13aa5"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-red-200 font-bold hover:text-2xl hover:text-sky-600"
      >SCOTUS RULING IN THE CHEVRON DOCTRINE CUTS THROAT OF THE DEEP STATE</span
    >
  </a>
</h5>

<ArielPro />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/3a2f235d-af9e-4d63-886b-b90b16c249fb"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-red-600"
      >Riccardo Bosi: The Assange Question</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/112303904573984463"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >POLICE ARE POWER DRIVEN MUGGS (@Bluewater100)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v51rlha-police-you-sik-fuks.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >POLICE YOU SIK FUKS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v58iwnx-police-run-to-the-hills.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-orange-200 font-bold hover:text-2xl hover:text-green-900"
      >POLICE, RUN TO THE HILLS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v59olgd-warning-to-all-police-ect-.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >WARNING TO ALL POLICE ECT</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5c579p-its-coming.html?e9s=src_v1_upp"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-sky-100 font-bold hover:text-2xl hover:text-green-900"
      >ITS COMING?????(Hospitals)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5hjhos-short-clips-part-2-police-gps-teachers-etc.html?e9s=src_v1_upp"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-sky-100 font-bold hover:text-2xl hover:text-green-900"
      >short clips part - 2 police - GP's - Teachers - etc</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5irgup-you-wont-hav-to-no-more-.html?e9s=src_v1_upp"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-sky-100 font-bold hover:text-2xl hover:text-green-900"
      >YOU WONT HAV TO NO MORE ♥️💚💯</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113313967505775334"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-red-200 font-bold hover:text-2xl hover:text-green-900"
      >RELIGION WILL BE DONE JUST B4 MAIN EVENT ,SO WILL FINANCE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/112872855463634167"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >The frequency and light spectrum from the moon</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/112872315086987748"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >YOU WILL ALL BE ALONE SOON,in DARKNESS ,AND BROUGHT TO THE LIGHT 74 HRS
      AFTER,BUT WER BE IN THE BACKGROUND 100%</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/CMDRVALTHOR/status/1817103799963541689"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-pink-200 font-bold hover:text-2xl hover:text-slate-800"
      >Police officers in the UK are nothing more than a private limited
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stargatenewsletter.blogspot.com/2024/04/sydney-mall-mass-killing.html"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-600 font-bold hover:text-2xl hover:text-green-900"
      >Sydney Mall Mass Killing
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#demon"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-purple-900"
      >DEMON CAUGHT ON CAMERA CRAWLING INTO CHURCH! BISHOP MARI STABBING RIOTS!!</span
    >
  </a>
</h5>
<Nagasone />
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=rcjKENGKrFo"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >‘Absolute disgrace’: Sky News host blasts police commissioner’s social
      media censorship</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">Julie Inman Grant</p>

<Power />

<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/3KnW13G9oLjp/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >ETS - THEY ARE REAL AND THEY ARE HERE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=HaQ_DHYP0-A"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >POLICE-ARE-NOT-GOVERNMENT</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v47y9hi-finance-fearcompetition.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Finance fear,competition</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/Lk3YQzpPe2w0/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-gray-900"
      >LITTLE RUN DOWN</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
