---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v5h0911-wdr-intro-to-c21s-info-xxx.html?e9s=src_v1_upp"
    rel="noopener"
    target="_blank"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >WDR intro to C21's info :) xxx</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#greatest"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >THE GREATEST SHOW ON EARTH. A FILM BY NICK ALVEAR. THX John Galt</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#explained"
    ><span
      class="text-sky-500 bg-emerald-100 font-bold hover:text-2xl hover:text-green-900"
      >THE ASSASSINATION MOVIE explained</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#commander"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >DISCLOSURE - 3 TRUTHS by Commander Valiant Thor</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#nothing"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#nordics"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JP Update 33 - Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1733844608336155043"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What is the dark occult purpose of the Large Hadron Collider (CERN)? As
      Pleiadians continually teach us, humans have the power to overcome any
      evil.
    </span>
  </a>
</h5>