---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#people"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >POWER TO THE PEOPLE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#nothing"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#nordics"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >JP Update 33 - Nordics Training International Military Pilots to fly
      Flying Saucers</span
    >
  </a>
</h5>
