---
import Nagasone from "./Nagasone.astro";
import Power from "./Power.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/QTHESTORMM/status/1734726586530718160"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ImSooooOverIt/status/1650167808578424833"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >@reversemockingbird</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/password" rel="noopener" target="_blank"
    ><span class="text-gray-700 text-base hover:text-lg hover:text-black"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/QTHESTORMM" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=0ZWSaJuWD1Y"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >Why many believe a doppelgänger is acting as Biden: a White Hat Op in
      progress</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/Reversemocking1" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@Reversemocking1</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/password" rel="noopener" target="_blank"
    ><span class="text-gray-700 text-base hover:text-lg hover:text-black"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/QTHESTORMM" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/PQUVZ598ATgc/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >FALL OF THE CABAL FINAL COUNTDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/dQXTltMjWArZ/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >09.25.23 - TRUMP "LESS THAN 5 MONTHS FROM NOW WE'RE GOING TO DEFEAT
      CROOKED JOE BIDEN..."</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/the_high_command/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE_HIGH_COMMAND</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=236207"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-800 text-base font-bold hover:text-lg hover:text-purple-900"
      >The decision for the breakthrough will be made outside our planet, and
      implemented if either or both conditions are met.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/02/06/from-unconscious-to-conscious/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-sky-700"
      >The decision for the breakthrough will be made outside our planet, and
      implemented if either or both conditions are met.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://finalwakeupcall.info/en/" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-green-900"
      >The Final Wakeup Call (2024/02/06)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#qthestormm"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-800"
      >ITS HERE ...(@QTHESTORMM)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#greatest"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >Q: The greatest military intelligence operation of our time!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-green-900"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#takedown1"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-green-900"
      >Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#listof"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-green-900"
      >UPDATED: LIST OF INDICTMENTS, ARRESTS AND EXECUTIONS!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/01/08/reader-texas-roo-cruel-info-and-waiting/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-950 text-base hover:text-lg hover:text-purple-900"
      >(Reader: Texas Roo) Cruel Info and Waiting</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#nobody"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-green-900"
      >NOBODY SLEEPS IN DC … NOBODY !!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1769195975644455008?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >ITS GOING TO BE BIBLICAL.<br /> EVERYWHERE.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1766899567575158821?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >OUR TURN ...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://finalwakeupcall.info/en/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >The Final Wakeup Call (2024/02/06)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/password" rel="noopener" target="_blank"
    ><span class="text-gray-700 text-base hover:text-lg hover:text-black"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/QTHESTORMM" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<Nagasone />
<Power />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#pascal"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON
      ☤ THE CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#everywhere"
    ><span
      class="text-sky-900 bg-slate-200 font-bold text-justify hover:text-2xl hover:text-gray-900"
      >STORM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1784031238061191624"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-600"
      >WARNING: THE ENTIRE WORLD IS SHUTTING DOWN …(06.06.24)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1789444317410471965"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800">
      WARNING: THE STORM OF THE CENTURY IS HERE !!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/05/21/the-falsification-of-history/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-sky-700"
      >The falsification of history</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/05/24/skyscrapers-are-energy-storage/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-sky-700"
      >Skyscrapers are energy storage</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QFs_Global/status/1791749719791992974"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >MARITIME LAW</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1790409943171952780"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >JOE BIDEN HAS NOT BEEN PRESIDENT OF THE USA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1792944798887796768"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin has declared the New World Order as dead.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1793403961057133038"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >George Soros is next.</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
