---
import ArielPro from "./ArielPro.astro";
import FOUR from "./FOUR.astro";
import Nagasone from "./Nagasone.astro";
import Power from "./Power.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<FOUR />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-red-900"
      >NEWS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://qofficial.net/password" rel="noopener" target="_blank"
    ><span class="text-gray-700 text-base hover:text-lg hover:text-black"
      >NEW Q SITE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/QTHESTORMM" rel="noopener" target="_blank"
    ><span class="text-sky-500 font-extrabold hover:text-sky-800"
      >@QTHESTORMM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PaulGoldEagle" rel="noopener" target="_blank"
    ><span class="text-sky-500 font-extrabold hover:text-sky-800"
      >Paul White Gold Eagle</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/whitegoldeagle?" rel="noopener" target="_blank"
    ><span class="text-emerald-600 font-extrabold hover:text-sky-800"
      >whitegoldeagle</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@Big_Daddy-7Q/videos" rel="noopener" target="_blank"
    ><span class="text-emerald-600 font-extrabold hover:text-sky-800"
      >BIG DADDY</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=kLFCRbN04U4" rel="noopener" target="_blank"
    ><span class="text-emerald-600 font-extrabold hover:text-sky-800"
      >Our bloodlines will determine what super powers we'll behold? 1717 days since Q post1? its show time</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PaulGoldEagle/status/1963755644953268328" rel="noopener" target="_blank"
    ><span class="text-sky-500 font-extrabold hover:text-sky-800"
      >Exchange your foreign currency ar a redemption centers only do not use banks to exchange </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/PaulGoldEagle/status/1963713885644697757" rel="noopener" target="_blank"
    ><span class="text-sky-500 font-extrabold hover:text-sky-800"
      >RFK: Senator, you've sat in that chair for how long, 20-25 years, while the chronic disease in our children went up to 76%...AND YOU SAID NOTHING.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/Kabamur_Taygeta" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Kabamur_Taygeta</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/KabamurTaygeta" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >Kabamur_Taygeta</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/CodezVII777" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >CodezVII</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/CodezVII" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >CodezVII</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Prolotario1" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-yellow-200 text-base hover:text-lg hover:text-slate-800"
      >Ariel</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://operationdisclosureofficial.com/2025/07/05/ariel-prolotario1-underground-military-operations-targeting-dumbs-and-seismic-anomalies/" rel="noopener" target="_blank"
    ><span
      class="text-sky-700 bg-yellow-200 text-base hover:text-lg hover:text-slate-800"
      >Ariel (Prolotario1): Underground Military Operations Targeting DUMBs and Seismic Anomalies</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/davidjsorensen" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-yellow-200 text-base hover:text-lg hover:text-slate-800"
      >StopWorldControl</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/jasper_truth" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-yellow-200 text-base hover:text-lg hover:text-slate-800"
      >Jasper Truth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/GhostEzraQ" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-red-100 text-base hover:text-lg hover:text-slate-800"
      >@GhostEzraQ</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/GhostEzra" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-red-100 font-bold hover:text-2xl hover:text-sky-900"
      >@GhostEzra</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/EzraGhostQ" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-green-100 text-base hover:text-lg hover:text-sky-900"
      >@GhostEzra</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/Official_EzraCohen" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >Official_EzraCohen</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/EzraACohen" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-slate-800"
      >Ezra A. Cohen</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Angelhunter1776" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >angel</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/SiriusBShaman" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >SiriusB</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2025/07/07/kat-update-q-the-storm-rider-on-the-deep-state-plan-to-change-the-future-stopped-by-qteam/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-300 bg-blue-900 font-bold  hover:text-green-100"
      >Kat update: Q The Storm Rider on The Deep State Plan To Change The Future STOPPED by QTeam!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/Official_MrPool" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >Mr Pool @Official_MrPool</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/pooL_rM311_7221" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Mr Pool @pooL_rM311_7221</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/shorts/oX6Zq45R6a0" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >@jansmith5511</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/s/vvt369" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >Valiantthor369-vvt369</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/JFK_Q17" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >John F. Kennedy Jr.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/JFKOFFICIAL_Q" rel="noopener" target="_blank"
    ><span
      class="text-sky-500 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >John F. Kennedy</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./xrp#iso20022"
    ><span class="text-emerald-500 text-base hover:text-lg hover:text-green-900"
      >ISO 20022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Ripple" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 bg-emerald-200 text-base hover:text-lg hover:text-slate-800"
      >Ripple</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/DiedSuddenly_" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Died Suddenly</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@familyoftaygeta/videos"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Family of Taygeta</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Real_POTUK_JFK" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Real John Fitzgerald Kahlooni (JFK) Q</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Real_HM_King_Uk" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Real His Majesty King John F Kahlooni</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/RobertKennedyJr" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Robert F. Kennedy Jr</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/TrumpTeamNews" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Team Trump</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/RealRawNews1" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >RealRawNews</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/WWG1WGADean1776" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Dean1776NCSWIC</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/quantum_show" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Quantum Shift Show</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >for world police</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/Qthe17Ietter" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >The 17 Letter</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=iwzVnI9pfJY"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-700 font-bold hover:text-2xl hover:text-sky-900"
      >Elder Ikai: Waiting</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://familyoftaygeta.com/frequently-asked-questions/#hfaq-post-103878"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-700 font-bold hover:text-2xl hover:text-sky-900"
      >Who are "White Hats"?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/GreereMedea" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Medeea Greeree</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/JFKPASCAL" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Pascal Najadi CMD USSF🇺🇸👊🏻</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Qprincessdiana" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Princess Diana Q</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://memetrunk.com/jfk-jr" rel="noopener" target="_blank"
    ><span
      class="text-gray-600 bg-pink-200 font-bold hover:text-2xl hover:text-gray-950"
      >Memetrunk JFK-Jr.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/MichaelSalla" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Michael Salla</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/ImSooooOverIt/status/1650167808578424833"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >@reversemockingbird</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#movie"
    ><span
      class="text-blue-600 font-bold text-base hover:text-lg hover:text-blue-900"
      >THE MOVIE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/QTHESTORMM/status/1734726586530718160"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 text-base text-transform: uppercase hover:text-lg hover:text-green-900"
      >we are witnessing</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=0ZWSaJuWD1Y"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-black"
      >Why many believe a doppelgänger is acting as Biden: a White Hat Op in
      progress</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/Reversemocking1" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >@Reversemocking1</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/PQUVZ598ATgc/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >FALL OF THE CABAL FINAL COUNTDOWN</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/the_high_command/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >THE_HIGH_COMMAND</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/02/06/from-unconscious-to-conscious/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-sky-700"
      >The decision for the breakthrough will be made outside our planet, and
      implemented if either or both conditions are met.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#qthestormm"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-800"
      >ITS HERE ...(@QTHESTORMM)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#greatest"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >Q: The greatest military intelligence operation of our time!</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#takedown1"
    ><span class="text-blue-800 text-base hover:text-lg hover:text-green-900"
      >Charlie Freak, The Q Team's Takedown of the Cabal from A to Z (200720)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251093"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-slate-800"
      >WHAT is that on KASH'S CUFFLINKS?</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1846309958595629374"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >2024: 'Something above us, something greater than us, something angelic,
      is watching over Trump'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1846489962989912096"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >What does "Enjoy the Show" really mean?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251367"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-slate-800"
      >2-9-24: Q) The Storm Rider - Major Posts - STARGATE IS MUCH MORE</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://qalerts.app/?n=2222"
    rel="noopener"
    target="_blank"
    ><span class="text-gray-500 text-base hover:text-lg hover:text-gray-700"
      >2222</span
    >
  </a>
</h5>


<Nagasone />
<Power />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#pascal"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON
      ☤ THE CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#executing"
    ><span
      class="text-sky-900 bg-slate-200 font-bold text-justify hover:text-2xl hover:text-gray-900"
      >STORM</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/05/21/the-falsification-of-history/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-sky-700"
      >The falsification of history</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/05/24/skyscrapers-are-energy-storage/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 text-base font-bold hover:text-lg hover:text-sky-700"
      >Skyscrapers are energy storage</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QFs_Global/status/1791749719791992974"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >MARITIME LAW</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1790409943171952780"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-slate-800"
      >JOE BIDEN HAS NOT BEEN PRESIDENT OF THE USA</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1792944798887796768"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin has declared the New World Order as dead.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/EthelUnreddy/status/1365715184023711747"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >PUTIN ANNOUNCEMENT: IT'S OVER!
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/putin-declares-victory-over-new-world-order-change-of-elites-coming-because-humanity-has-woken-up/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin Declares Victory Over New World Order: ‘Change of Elites’ Coming
      Because Humanity Has ‘Woken Up’(TPV)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1841531355215061206"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-slate-800"
      >Lucifer was Enki and Apollo. Pleiadians call him Earth's greatest
      deceiver</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/realDonaldTrump" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >@realDonaldTrump</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/realDonaldTrump/status/1694886846050771321"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >MUG SHOT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ezra#alert"
    ><span
      class="text-red-600 font-bold text-justify hover:text-2xl hover:text-sky-500"
      >Presidental Alert</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#vice"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >John F Kennedy Jr. 19th Vice President</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://twitter.com/pgbparsi" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >PGB17</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./takedown#movie"
    ><span
      class="text-blue-600 font-bold text-base hover:text-lg hover:text-blue-900"
      >THE MOVIE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/GhostEzraQ/status/1793403961057133038"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >George Soros is next.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1796016591626199498"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-green-900"
      >KANGAROO COURT !!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@ForEverFree:3/Trump-Guilty-Verdict---Stormy-Starts-a-Storm-%E2%9B%88%EF%B8%8F--xP2y4GmHL3s-:8"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-900 bg-slate-200 font-bold text-justify hover:text-2xl hover:text-gray-900"
      >Trump Guilty Verdict - Stormy Starts a Storm ⛈️(Mirrored)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1800524215491457183"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-2xl hover:text-sky-900"
      >REVELATION 22.NOW PLAYING:</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/tschilumbu/status/1800528712758079578"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >REVELATION The act of revealing or disclosing something that was
      previously hidden or unknown.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/QTHESTORMM/status/1801638312685224350"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >THE ENTIRE WORLD IS A STAGE.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Kabamur_Taygeta/status/1640515479566684161"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >I'm primarily here to help with disclosure of UFOs and extraterrestrials,
      and to talk about the coming Shift, and much of this deals with untangling
      years of people's fearful religious programming.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./shift#insider"
    ><span class="text-sky-700 font-bold hover:text-2xl hover:text-sky-900"
      >A high-level insider claimed Donald Trump was in contact with a "Galactic
      Federation" of extraterrestrials, while a source called "Q" claimed to
      have contact with Trump.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./shift#space"
    ><span class="text-sky-700 font-bold hover:text-2xl hover:text-sky-900"
      >Trump on UFOs - "There's a lot of interest in the PEOPLE coming from
      space"</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1812757757042602206"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-700"
      >In 2017, I publicly stated that Trump was in contact with Galactic
      Federation and that Q was Pleiadian contact with the NSA.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1637289922980880385"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-700"
      >You don't have to like Trump, but you need to understand why the
      establishment elites hate him, and why they want you to hate him.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Prolotario1/status/1857838853408633157"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-700"
      >Are We Off To The Races Now?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/LauraLoomer/status/1854714657732173938?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-red-200 font-bold hover:text-2xl hover:text-sky-700"
      >President Trump has released his plan to dismantle the Deep State!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/WallStreetApes/status/1854383649157771482"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-red-200 font-bold hover:text-2xl hover:text-sky-700"
      >RFK Jr just started ‘Policies for the People’</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1824398720181629124"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Pleiadians were with us in the beginning and are with us now as
      everything is about to change.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1868003879994159544"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-700 bg-white font-bold hover:text-2xl hover:text-sky-900"
      >ALERT: THEY HAVE NO CLUE WHERE THE DRONES ARE COMING FROM AFTER BEING IN
      THE AIR FOR 2 WEEKS STRAIGHT !!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1868010946935066958"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-700 font-bold hover:text-2xl hover:text-sky-900"
      >MAJOR UPDATE: THE DRONES ARE CHANGING THE LANDSCAPE
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/TheQNewsPatriot/status/1855812767782994364?"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >The strength of character, and backbone, that it took for her to make
      these acknowledgments at this stage Patriots, is incredible.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1850491930473574708"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Full disclosure unravels everything humans thought was true</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CMDRVALTHOR/status/1872648752143487078"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Do you want to know a secret?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1874023944157880639"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Gregg Braden explains the evidence of a genetic upgrade occurring 200k
      years ago</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/QTHESTORMM/status/1874552839764406759"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >What are your top 3 predictions for 2025.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=249968"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-slate-800"
      >Trump Unleashes Musk On British Government For Protecting Child Rape
      Gangs Targeting White Girls</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/davidjsorensen/status/1876422236414079293"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-orange-200 text-base hover:text-lg hover:text-slate-800"
      >WHY IS TRUMP SAYING HE WILL MAKE CANADA PART OF AMERICA?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/davidjsorensen/status/1874649405237961157"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-orange-200 text-base hover:text-lg hover:text-slate-800"
      >THIS IS SO AMAZING!!!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/davidjsorensen/status/1875708294268121477"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 bg-orange-200 text-base hover:text-lg hover:text-slate-800"
      >I am going to say something about Elon Musk, David Icke, Alex Jones</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/FamilyofTaygeta/status/1879873265302143449"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Many Might Feel That The Pain Of The Current Waking Dream Is Too Much.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/SoulLight777/status/1878452860259618880?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >The dark has become desperate, and knows their plans for the total enslavement of humanity have failed.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Kabamur_Taygeta/status/1825982914787434791"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >The late Robert Dean explained exactly why the UFO coverup exists.</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
