---
import Tops from "./Tops.astro";
---

<Tops />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/11/jag-arrests-stephen-colbert/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >JAG Arrests Stephen Colbert</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/05/deep-staters-headed-to-guam-thrown-overboard-for-inciting-insurrection/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >Deep Staters Headed To Guam Thrown Overboard for Inciting Insurrection</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/05/rochelle-walensky-arrested/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >Rochelle Walensky Arrested!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/05/military-convicts-rochelle-walensky-of-treason/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >Military Convicts Rochelle Walensky of Treason</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/06/rochelle-walensky-hanged/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >Rochelle Walensky Hanged</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/ac2a67f6-e7f9-4f52-a013-48e8b6357b26"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >Inject Your Babies! It's an Emergency!</span
    >
  </a>
</h5>
