---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2023/11/jag-arrests-stephen-colbert/"
    rel="noopener"
    target="_blank"
    ><span class="bg-white text-blue-900 hover:text-2xl hover:text-red-700"
      >JAG Arrests Stephen Colbert</span
    >
  </a>
</h5>
