---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war" rel="noopener" target="_blank"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#nine"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >CHRISTIAN21 IN DESCRIPTION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#drinker"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >THESE GODS ALL DRANK HUMAN BLOOD.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell"
    ><span
      class="text-red-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#agena"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >THE ALIEN AGENDA 2019 GEORGE NEWS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >THEY ARE COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN.WARS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >PROJECT LOOKING GLASS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#kerry"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >KERRY CASSIDY AND MICHAEL JACO: LOOKING GLASS AND THE BATTLE FOR EARTH</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./supersoldiertalk"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Secret Space Program SSP - Bavarian Illuminati</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./supersoldiertalk#obrien"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Super Soldier Talk - Collin Obrien - Remote Viewing Updates and More
      @8:00 28/Apr/2023</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Introduction to the Secret Space Program 101 by James Rink, Johan Fritz
      and FESIG</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#alex1994"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Alex Collier Interview (1994)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Chris Turner talks about Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#legacy"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Don't Mention the Reptilians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#richardbruce"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Why isn’t there More interest in the Reptilians?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#nine"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >CHRISTIAN21 IN DESCRIPTION</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./eceti"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ECETI Where Contact Is Happening Now</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bogdanoff"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >BOGDANOFFS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Bluewater</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#mugzzi"
    ><span class="text-purple-500 font-bold hover:text-2xl hover:text-green-900"
      >Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital Tom</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN-WARS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Linda Moulton Howe</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ARRESTS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#demonic"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >DEMONIC ALIEN INVASION CONFIRMED BY THE PENTAGON</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#tenet2"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >###TENET Ending scene 4K. Protagonist notices that Neil has a red string
      on his back###</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#erin"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >(Must See!) The Truth about A Rothschild Speaks Out - Erin Rothschild
      (2013)(20min Interview Starts) @23:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#stepfive"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >TRUMP Q COMMS: The (Mug)SHOT HEARD AROUND THE WORLD. There is no STEP
      FIVE. -END- Q</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#martin"
    ><span class="text-green-900 font-bold hover:text-2xl hover:text-green-900"
      >Dr. David Martin: DON’T FEAR the Coming Lockdowns… the Cabal is Already
      DEAD</span
    >
  </a>
</h5>
