---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#races"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ILLUMINATI RACES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#contact"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ALIEN CONTACT THE GOVERNMENT COVER-UP THE HIDDEN HAND | FULL DOCUMENTARY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#judge"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >CLIFYHIGH JUDGE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#interstellar"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer of
      the Bosnian Pyramid</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span
      class="text-red-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#agena"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >THE ALIEN AGENDA 2019 GEORGE NEWS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#war"
    ><span
      class="text-green-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >AustraliaOne Party - A War For The World</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#wa"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >BRENDON EXPOSING THE WESTERN AUSTRALIAN CORRUPTION PART 1</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#steal"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >Australians Respond to Secret Proposed Changes in Constitution to Steal
      Aboriginal Land</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >Nuremberg 2.0</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >THEY ARE COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN-WARS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >PROJECT LOOKING GLASS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#insider"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >Military Insider: "I am risking EVERYTHING to Share this with You"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#kerry"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >KERRY CASSIDY AND MICHAEL JACO: LOOKING GLASS AND THE BATTLE FOR EARTH</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./morton#interview"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >DR. SEAN DAVID MORTON INTERVIEW: WOW! THIS IS WHATS HAPPENED AND IS
      HAPPENING NOW!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#freemasonry"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >X-FACTOR WINNER REVEALS WORLD'S SECRET RELIGION @17:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#ceremony"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >EX-FREEMASON DESCRIBES THEIR PSYCHOTIC TOP SECRET CEREMONY TO BECOME A
      FREEMASON</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Secret Space Program SSP - Bavarian Illuminati</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#wall"
    ><span class="text-fuchsia-600 text-lg font-bold hover:text-green-800"
      >Platform 9¾ | Harry Potter and the Philosopher's Stone</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#insights"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Navy Whistleblower - Deep insights into the tunnel systems</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./supersoldiertalk#obrien"
    ><span
      class="text-green-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Super Soldier Talk - Collin Obrien - Remote Viewing Updates and More
      @8:00 28/Apr/2023</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#time"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#tenet2"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >###TENET Ending scene 4K. Protagonist notices that Neil has a red string
      on his back###</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#looking"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >PROJECT LOOKING GLASS: EX-NAVY SEAL BILL WOOD EXPLAINS THE CONVERGENCE OF
      TIMELINES & STRING THEORY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#whitewall"
    ><span class="text-gray-400 font-bold hover:text-2xl hover:text-green-900"
      >[23 July 2021] The White Wall. ... What's behind it? Penny Kelly</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#marshall"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law - How Earth came under control of the Draco 16,500
      years ago...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#trump"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX TRAFFICKING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#web193"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Alex Collier - Webinar 193 - October 6, 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#kelley1"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Steven D. Kelley - Underground City at the Getty Museum (2012)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#martin"
    ><span class="text-green-900 font-bold hover:text-2xl hover:text-green-900"
      >Dr. David Martin: DON’T FEAR the Coming Lockdowns… the Cabal is Already
      DEAD @44:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#tsarion"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >EVIL HAS WITHIN IT, THE SEED TO ITS OWN DESTRUCTION! MIKE TSARION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#nwo"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >THE HIDDEN HISTORY and THE SNAKE / REPTO WORLD ORDER = THE NAZI WORLD
      ORDER -> NWO</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#sept25"
    ><span class="text-fuchsia-600 font-bold hover:text-2xl hover:text-sky-500"
      >Kim Goguen September 25 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#months"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >09.25.23 - TRUMP "LESS THAN 5 MONTHS FROM NOW WE'RE GOING TO DEFEAT
      CROOKED JOE BIDEN..."</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians#intervene"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Hakann: We will likely intervene in 2024 or 2025</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#obrien"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk - Collin Obrien – August 2023 Current Events Update
      @30:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#borg"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >DOD SAYS JABBED ARE NEW SPECIES: HOMO BORG GENESIS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#sept29"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-sky-500"
      >Kim Goguen September 29 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#sept25"
    ><span class="text-fuchsia-600 font-bold hover:text-2xl hover:text-sky-500"
      >Kim Goguen September 25 2023</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#biggest"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Linda Moulton Howe Reveals Some of the Biggest Secrets EVER Discovered</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Introduction to the Secret Space Program 101 by James Rink, Johan Fritz
      and FESIG</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#mars"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >SHADOW OPERATIONS - THE MARS PROJECT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#alex1994"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Alex Collier Interview (1994)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Chris Turner talks about Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#legacy"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Don't Mention the Reptilians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#richardbruce"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Why isn’t there More interest in the Reptilians?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#nine"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >CHRISTIAN21 IN DESCRIPTION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#drinker"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >THESE GODS ALL DRANK HUMAN BLOOD.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./charles#prince"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY.....</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >MANDATORY TEST</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#milwaukee"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >MILWAUKEE 9.13.2023 christian21 REPTILIANS DID SAY 1000s YRS AGO</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#nothing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#field"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >FIELD MCCONNELL Live Q&A 9-18-23</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#grey"
    ><span class="text-green-400 font-bold hover:text-2xl hover:text-green-900"
      >The grey pope manages the world and both the white pope and the black
      pope.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#event"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >'COBRA INTEL' - THE EVENT is About to Happen - Q & A</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#fertilizer"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >It Looks Like the Fertilizer is about to Hit The Fan (Jay Arae Essex)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#event"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >WORLD CHANGING EVENT? (clif_high)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#purge"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >Creation's Purge --- Begins Now (7 OCT 23)(Jay Arae Essex)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#visions"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >Remote Viewer Apocalyptic Visions.. Asteroid? Nuclear Fallout? Chaos? You
      Decide (Richard Allgire)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#mockingbird"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project Mockingbird?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./willie#fall"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >Financial WARNING! Dollar Free Fall Is Here..How Do We Prepare?.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./eceti"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ECETI Where Contact Is Happening Now</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bogdanoff#footage"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >BOGDANOFFS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Bluewater</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#interstellar"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer of
      the Bosnian Pyramid</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#lunar"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >GALACTIC INFORMER TONY RODRIGUES LUNAR COMMAND, MILITARY EXPERIMENTS,
      DANGEROUS LIES & CONSEQUENCES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#mugzzi"
    ><span class="text-purple-500 font-bold hover:text-2xl hover:text-green-900"
      >Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital Tom</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN-WARS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Linda Moulton Howe</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ARRESTS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#demonic"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >DEMONIC ALIEN INVASION CONFIRMED BY THE PENTAGON</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#moon"
    ><span class="text-gray-600 font-bold hover:text-2xl hover:text-green-900"
      >The Moon’s Dark Secret: Aliens Harvesting Human Souls for FOOD</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#erin"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >(Must See!) The Truth about A Rothschild Speaks Out - Erin Rothschild
      (2013)(20min Interview Starts) @23:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#stepfive"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >TRUMP Q COMMS: The (Mug)SHOT HEARD AROUND THE WORLD. There is no STEP
      FIVE. -END- Q</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#ten"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >JAG Sentences 10 Clot Shot-Loving Physicians to Hang
    </span>
  </a>
</h5>
