---
import MOON from "./MOON.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-blue-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#israel"
    ><span
      class="text-fuchsia-600 text-lg font-bold hover:text-2xl hover:text-red-700"
      >"ISRAEL WILL BE LAST >>>WHY?"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#earthquakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >1-2-2024 Japan Earthquakes Issue</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#telegram"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >INTEL From Telegram - 3 Memes - Reader Submissions</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#israel"
    ><span
      class="text-fuchsia-600 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ISRAEL STARGATES BLACK SUN</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1733844608336155043"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What is the dark occult purpose of the Large Hadron Collider (CERN)? As
      Pleiadians continually teach us, humans have the power to overcome any
      evil.
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#cern1"
    ><span
      class="text-green-900 bg-yellow-200 font-black hover:text-2xl hover:text-purple-900"
      >CERN: Where Science and the Supernatural Collide - PORTAL / Gateway</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-purple-600 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >CABAL AGENDA that is not going to happen (The Invisible War)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#wordpress"
    ><span
      class="text-black text-lg font-bold hover:text-2xl hover:text-purple-950"
      >(JFK)President John F Kennedy didn't die in 1963: he lived until
      2021(wordpress)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jesus"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Nagas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span
      class="text-green-900 bg-yellow-300 font-black hover:text-2xl hover:text-purple-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<MOON />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#tucker"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Tucker Carlson: Non-Humans “That have always Been Here”</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#contact"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Tucker Carlson On Twitter - Episode 51 . . . The US Government Has Made
      Contact With Aliens (Video)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./its-here#shocking"
    ><span
      class="text-red-700 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Shocking Developments in Middle East - Extraterrestrial Agreements & The
      Jerusalem Mothership</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#database"
    ><span
      class="text-black text-lg font-bold hover:text-2xl hover:text-green-900"
      >EXCLUSIVE: New Zealand COVID Lethal Injection Whistleblower Gives First
      Interview, Drops Huge Truth Bombs!(database)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#deal"
    ><span
      class="text-pink-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >NAZCA LINES 💀 THE ORION LINES - The deal made between the Governments,
      elites and Demons...</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#everywhere"
    ><span
      class="text-blue-950 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Orion is everywhere (www.theorionlines.com/orion)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#seeing"
    ><span
      class="text-sky-500 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Pentagon Pyramid 3 Different Perspectives of The All Seeing Eye
      @1:20(Chet Hanks)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big
      Event and even more Chaos(Bibles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#social"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >DDaammnn Space Aliens... - The social order has alien cooties -
      Explorers' Guide To Scifi World(Bibles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#remote"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney
      Brown)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-purple-600 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >CABAL AGENDA that is not going to happen (The Invisible War)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#israel"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-red-700"
      >"ISRAEL WILL BE LAST >>>WHY?"</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#maui"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-pink-500"
      >Mountain Dew fans, new flavor dropping called Maui Burst. Exclusively
      from Dollar General.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#pepsi"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-pink-500"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#dew"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-pink-500"
      >Time To Boycott Satanic Pepsi Co. & Mountain Dew (Videos) 2</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens#exist"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Best Evidence Proving Aliens Exist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">Shapeshifters are disappearing</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#matrix"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >VIDEOS THE MATRIX DOESN'T WANT YOU TO SEE</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">Shapeshifters are disappearing</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#eggs"
    ><span
      class="text-green-700 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >SGT Pattie Brassard – Elections, Solar Winds, Current Events, and Q & A</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#jay"
    ><span
      class="text-green-700 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >Super Soldier Talk - Jays Essex - The Alien Agendas</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#races"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ILLUMINATI RACES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#contact"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >ALIEN CONTACT THE GOVERNMENT COVER-UP THE HIDDEN HAND | FULL DOCUMENTARY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#judge"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >CLIFYHIGH JUDGE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thunder#wizard"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >IS KALKI AVATAR LIVING ON EARTH RIGHT NOW - READY TO DESTROY 3D
      CORRUPTION AND BRING 5D EARTH? (ThunderWizarddotcom)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#creepy"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >CREEPY VATICAN SNAKE HEAD BUILDING AND STATUE!! *GOTTA SEE THIS*</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./antarctica#pyramids"
    ><span class="text-sky-400 hover:text-2xl hover:text-purple-900"
      >Pyramids Found Beneath Antarctic Ice | The UnXplained (Season 3)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#interstellar"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer of
      the Bosnian Pyramid</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jordanmaxwell#jordan"
    ><span
      class="text-red-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >Jordan Maxwell</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span class="text-red-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#agena"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >THE ALIEN AGENDA 2019 GEORGE NEWS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >The Invisible War</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#matrix"
    ><span
      class="text-purple-600 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >CABAL AGENDA that is not going to happen (The Invisible War)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#war"
    ><span
      class="text-green-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >AustraliaOne Party - A War For The World</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#wa"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >BRENDON EXPOSING THE WESTERN AUSTRALIAN CORRUPTION PART 1(Brendon
      O'Connell)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#israel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-purple-900"
      >Patreon Video 26 - A.I, Israel, And ChatGPT - The Anti Christ(Brendon
      O'Connell)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#steal"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >Australians Respond to Secret Proposed Changes in Constitution to Steal
      Aboriginal Land</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >Nuremberg 2.0</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >THEY ARE COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN-WARS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#looking"
    ><span class="text-purple-900 font-bold hover:text-2xl hover:text-green-900"
      >PROJECT LOOKING GLASS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./morton#interview"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >DR. SEAN DAVID MORTON INTERVIEW: WOW! THIS IS WHATS HAPPENED AND IS
      HAPPENING NOW!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#freemasonry"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >X-FACTOR WINNER REVEALS WORLD'S SECRET RELIGION @17:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./freemasonry#ceremony"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >EX-FREEMASON DESCRIBES THEIR PSYCHOTIC TOP SECRET CEREMONY TO BECOME A
      FREEMASON</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=ColJg6lUtws"
     rel="noopener"
    target="_blank"
    ><span class="text-orange-700 bg-slate-300 font-bold hover:text-green-900"
      >You Won’t Believe Who’s Actually Controlling Reality Right Now Ethereal Wisdom(One of those guardians was Credo Mutwa.)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.newdawnmagazine.com/articles/ufos-unexplained-phenomena/credo-mutwa-the-alien-agenda-ufos-alien-abduction-in-the-eyes-of-a-zulu-shaman"
     rel="noopener"
    target="_blank"
    ><span class="text-orange-700 bg-slate-300 font-bold hover:text-green-900"
      >Credo Mutwa & the Alien Agenda: UFOs & Alien Abduction in the Eyes of a Zulu Shaman</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/JJ8E3jIysUvl"
     rel="noopener"
    target="_blank"
    ><span class="text-orange-700 bg-slate-300 font-bold hover:text-green-900"
      >David Icke & Credo Mutwa -- The Reptilian Agenda (Part One)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#bavarian"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Secret Space Program SSP - Bavarian Illuminati</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#wall"
    ><span class="text-fuchsia-600 text-lg font-bold hover:text-green-800"
      >Platform 9¾ | Harry Potter and the Philosopher's Stone</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#insights"
    ><span
      class="text-green-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Navy Whistleblower - Deep insights into the tunnel systems</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#custodians"
    ><span
      class="text-red-600 text-lg font-bold hover:text-2xl hover:text-purple-700"
      >THE CUSTODIANS (178 Worlds under The Great Dome)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#mars"
    ><span
      class="text-green-600 text-lg font-bold hover:text-2xl hover:text-purple-700"
      >Mars - Christian21 Information and revelations</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#pt2"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >DISCLOSURE (Part 2) | Antarctica, the Children, ET Life & more!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#iraq1"
    ><span
      class="text-green-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >SADDAM HUSSEIN HAD AN ANNUNAKI STARGATE, PLUS TECHNOLOGY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./stargate#star12"
    ><span
      class="text-green-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >THE 12 STAR GATES ON EARTH: PLANETARY VORTEX “PORTAL” SYSTEM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./supersoldiertalk#obrien"
    ><span
      class="text-green-700 text-lg font-bold hover:text-2xl hover:text-red-700"
      >Super Soldier Talk - Collin Obrien - Remote Viewing Updates and More
      @8:00 28/Apr/2023</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#time"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#tenet2"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900"
      >###TENET Ending scene 4K. Protagonist notices that Neil has a red string
      on his back###</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#looking"
    ><span class="text-purple-900 font-bold hover:text-2xl hover:text-green-900"
      >PROJECT LOOKING GLASS: EX-NAVY SEAL BILL WOOD EXPLAINS THE CONVERGENCE OF
      TIMELINES & STRING THEORY</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./billwood#codez"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >INTEL CodezVII - 'Q' Is A Disclosure Operation Designed By Pleiadians & NSA White Hats</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://operationdisclosureofficial.com/2024/11/04/codezvii-project-looking-glass-and-john-f-kennedy/"
     rel="noopener"
    target="_blank"
    ><span class="text-green-700 bg-slate-300 font-bold hover:text-2xl hover:text-green-900"
      >CodezVII: Project Looking Glass and John F. Kennedy</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#whitewall"
    ><span
      class="text-gray-400 bg-yellow-200 font-bold hover:text-2xl hover:text-green-900"
      >[23 July 2021] The White Wall. ... What's behind it? Penny Kelly</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#marshall"
    ><span
      class="text-red-700 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law - How Earth came under control of the Draco 16,500
      years ago...</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#trump"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX TRAFFICKING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#alex"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Alex Collier – Andromedan Contactee</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#web193"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Alex Collier - Webinar 193 - October 6, 2023</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#cosmic"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >(SSP)Cosmic Interstellar Human Trafficking with Tony Rodrigues!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#corporation"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >CORPORATION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >DRACONIAN REPTILIAN SHOWN BY THE VATICAN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#kelley1"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Steven D. Kelley - Underground City at the Getty Museum (2012)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#martin"
    ><span class="text-green-900 font-bold hover:text-2xl hover:text-green-900"
      >Dr. David Martin: DON’T FEAR the Coming Lockdowns… the Cabal is Already
      DEAD @44:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#tsarion"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >EVIL HAS WITHIN IT, THE SEED TO ITS OWN DESTRUCTION! MIKE TSARION!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#world"
    ><span
      class="text-green-700 bg-orange-200 font-bold text-justify hover:text-2xl hover:text-green-900"
      >RICCARDO BOSI "IT'S A WORLD WAR WE MUST WIN" @5:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./liabilitymate#tradesmen"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-black"
      >TRADESMEN FORCE RIOT POLICE VEHICLES TO RETREAT MELBOURNE-DOWN UNDER THE
      PRISON ISLAND</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#nwo"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >THE HIDDEN HISTORY and THE SNAKE / REPTO WORLD ORDER = THE NAZI WORLD
      ORDER -> NWO</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#months"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >09.25.23 - TRUMP "LESS THAN 5 MONTHS FROM NOW WE'RE GOING TO DEFEAT
      CROOKED JOE BIDEN..."</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians#intervene"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Hakann: We will likely intervene in 2024 or 2025</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians#dark"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >R'Kok: An open letter to the dark controllers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#obrien"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk - Collin Obrien – August 2023 Current Events Update
      @30:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#borg"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >DOD SAYS JABBED ARE NEW SPECIES: HOMO BORG GENESIS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#biggest"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Linda Moulton Howe Reveals Some of the Biggest Secrets EVER Discovered</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe#antarctica"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Antarctica's Secret Alien Cover-Up | Ancient Aliens</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./australia#pt2"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >DISCLOSURE (Part 2) | Antarctica, the Children, ET Life & more!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#james"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Introduction to the Secret Space Program 101 by James Rink, Johan Fritz
      and FESIG</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#johan"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Super Soldier Talk – Johan Fritz SSP in Person Interview</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#tony"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >(SSP) TONY RODRIGUES | Evidence Of A Secret Space Program | Journey To
      Truth Conference (5/23/23)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#mars"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >SHADOW OPERATIONS - THE MARS PROJECT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#alex1994"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Alex Collier Interview (1994)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Chris Turner talks about Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#legacy"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Don't Mention the Reptilians</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#why"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Why isn’t there More interest in the Reptilians?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#nine"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >CHRISTIAN21 IN DESCRIPTION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#drinker"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >THESE GODS ALL DRANK HUMAN BLOOD.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./charles#prince"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >THE DARK PRINCE CROWNED ON THE TRIPLE 6TH DAY OF MAY.....</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >for world police [especialy u.s. uk] and the muggs ther doing all the
      donkey work for!!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./justinian-deception#finance"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >FINANCE FEAR, COMPETITION</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./nuremberg#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >MANDATORY TEST</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#milwaukee"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >MILWAUKEE 9.13.2023 christian21 REPTILIANS DID SAY 1000s YRS AGO</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#nothing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NOTHING CAN STOP WHAT IS COMING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#field"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >FIELD MCCONNELL Live Q&A 9-18-23</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#grey"
    ><span class="text-green-400 font-bold hover:text-2xl hover:text-green-900"
      >The grey pope manages the world and both the white pope and the black
      pope.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#event"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >'COBRA INTEL' - THE EVENT is About to Happen - Q & A</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#event"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >WORLD CHANGING EVENT? (clif_high)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#jacob"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Remote Viewers Everywhere Expect Life-Changing Event Coming Soon! Frank
      Jacob Interview</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#purge"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >Creation's Purge --- Begins Now (7 OCT 23)(Jay Arae Essex)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#visions"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >Remote Viewer Apocalyptic Visions.. Asteroid? Nuclear Fallout? Chaos? You
      Decide (Richard Allgire)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#jacob"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Remote Viewers Everywhere Expect Life-Changing Event Coming Soon! Frank
      Jacob Interview</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#mockingbird"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >'PROJECT MOCKINGBIRD IS ABOUT TO END' - What is Project Mockingbird?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#commentary"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >10-21-23: Q) The Storm Rider - Latest post - Intel and commentary: PANIC
      in [DS] mil. DNC. FBI CIA.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#daryl"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >EP 273 - Daryl James: Why Izr@el For Last?: Off-World German Colonies &
      New Memories</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians#dark"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >R'Kok: An open letter to the dark controllers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pleiadians#human"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Are these two real human aliens?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./why#thor"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Valiant Thor: A UFO, the Pentagon and a 3-year Mission to Save the World</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./why#dulce"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN WAR and The Horrors of Dulce Underground Base @13:00</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-black">Shapeshifters are disappearing</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./mcallister#dulce"
    ><span
      class="text-orange-500 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >The Horrors Of Dulce [SD 360p]</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#eggs"
    ><span
      class="text-green-700 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >SGT Pattie Brassard – Elections, Solar Winds, Current Events, and Q & A</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./brassard#jay"
    ><span
      class="text-green-700 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >Super Soldier Talk - Jays Essex - The Alien Agendas</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./willie#fall"
    ><span
      class="text-fuchsia-600 font-bold hover:text-2xl hover:text-green-900"
      >Financial WARNING! Dollar Free Fall Is Here..How Do We Prepare?.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./eceti"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ECETI Where Contact Is Happening Now</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bogdanoff#footage"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >BOGDANOFFS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >Bluewater</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span class="text-blue-400 font-bold hover:text-2xl hover:text-green-900"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#ice"
    ><span class="text-pink-500 font-bold hover:text-2xl hover:text-green-900"
      >Crocodile Kings</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./antarctica#pyramids"
    ><span class="text-sky-400 hover:text-2xl hover:text-purple-900"
      >Pyramids Found Beneath Antarctic Ice | The UnXplained (Season 3)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#interstellar"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Pyramids, Interstellar Communications Devices, ETs, Discoverer of
      the Bosnian Pyramid</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens#they"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >"THEY ARE COMING" - Donald Trump FINALLY Breaks Silence On Aliens!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./aliens#flight"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >What Really Happened To Flight MH370? . . . The Truth Is Stranger Than
      Fiction</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./fritz#lunar"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >GALACTIC INFORMER TONY RODRIGUES LUNAR COMMAND, MILITARY EXPERIMENTS,
      DANGEROUS LIES & CONSEQUENCES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#mugzzi"
    ><span class="text-purple-500 font-bold hover:text-2xl hover:text-green-900"
      >Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital Tom</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ALIEN-WARS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./howe"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Linda Moulton Howe</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >News</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >ARRESTS</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#demonic"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >DEMONIC ALIEN INVASION CONFIRMED BY THE PENTAGON</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#moon"
    ><span class="text-gray-600 font-bold hover:text-2xl hover:text-green-900"
      >The Moon’s Dark Secret: Aliens Harvesting Human Souls for FOOD</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#erin"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >(Must See!) The Truth about A Rothschild Speaks Out - Erin Rothschild
      (2013)(20min Interview Starts) @23:00</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#stepfive"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
      >TRUMP Q COMMS: The (Mug)SHOT HEARD AROUND THE WORLD. There is no STEP
      FIVE. -END- Q</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#ten"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >JAG Sentences 10 Clot Shot-Loving Physicians to Hang
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#case"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL From Telegram - 3 Memes - Reader Submissions</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./serpentza#safety"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Crazy Chinese Workplace Accidents - Why is Workplace Safety so Bad in
      China?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./serpentza#lose"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >"China Will Lose 600 Million People..." - Jim Rickards</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#hats"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >To the President's and White Hats</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#depopulation"
    ><span class="text-green-500 font-bold hover:text-2xl hover:text-red-700"
      >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
      Agenda in 1994</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#navy"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-red-700"
      >US Navy Medical Officer Exposes DoD Reports of Surge in Cardiac Problems
      Post COVID-19 Vaccination</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#chaos"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Clif High Interview With Sarah Westall - Aliens, Antarctica, the Big
      Event and even more Chaos(Bibles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#overlords"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#social"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >DDaammnn Space Aliens... - The social order has alien cooties -
      Explorers' Guide To Scifi World(Bibles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#elohim"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >La spartizione - Elohim e Theoi greci | Mauro Biglino(Bibles)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#remote"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney
      Brown)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#final"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >FALL OF THE CABAL FINAL COUNTDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./orion#master"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >Master of Orion [New] Gameplay PC - Let's Play PART #1 - Humans</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#reptilians"
    ><span
      class="text-green-900 text-lg font-bold hover:text-lg hover:text-purple-900"
      >Dr. Michael Salla — Shocking Evidence of Earth-Based Reptilians and Alien
      Technologies Revealed</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
