---
---

<br />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#turner"
    ><span class="text-green-700 font-bold hover:text-2xl hover:text-green-900"
      >Chris Turner talks about Richard Bruce</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#trailer"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Alien Reptilian Legacy (Don't Mention the Reptilians) Movie Trailer</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#legacy"
    ><span class="text-orange-500 text-xl font-bold hover:text-red-700"
      >Alien Reptilian Legacy (Don't Mention the Reptilians) Movie</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#living"
    ><span class="text-green-700 text-xl font-bold hover:text-green-900"
      >Alien Reptilian Legacy | Reptilians Living On Earth Documentary</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./turner#legacy"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Don't Mention the Reptilians</span
    >
  </a>
</h5>

      <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.youtube.com/watch?v=bnrLfMvpaeA"
            rel="noopener"
            target="_blank"
            ><span
              class="text-orange-500 bg-white text-base hover:text-lg hover:text-green-900"
              >The Alien Reptilian Legacy</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#vatican"
    ><span class="text-purple-700 font-bold   hover:text-green-900"
      >The Prophecy of the Popes</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold   hover:text-green-900"
      >Phil Schneider on the End Game</span
    >
  </a>
</h5>

        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#mugzzi"
            ><span
              class="text-purple-500 font-bold hover:text-2xl hover:text-green-900"
              >Quantum Shift: Reptilian attachments, Dr. Sam Mugzzi and Digital
              Tom</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./invisible-war#corporation"
            ><span
              class="text-blue-700 font-bold hover:text-2xl hover:text-green-900"
              >CORPORATION</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a href="./vatican#ice"
            ><span
              class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
              >Crocodile Kings</span
            >
          </a>
        </h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="http://freeourworld.org/" rel="noopener" target="_blank"
    ><span class="text-fuchsia-600 text-xl font-bold hover:text-red-700"
      >freeourworld.org</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/channels/richardbruce"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-900 text-xl font-bold hover:text-red-700"
      >Richard Bruce on Brighteon</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@richardbruce8514"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-xl font-bold hover:text-green-900"
      >Richard Bruce on Youtube</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/richard_bruce/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-xl font-bold hover:text-green-900"
      >Richard_Bruce on Bitchute</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/user/RickBruce" rel="noopener" target="_blank"
    ><span class="text-green-700 text-xl font-bold hover:text-green-900"
      >RickBruce on Rumble</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6xv580-adele-shapeshifts-vaccines-and-naughty-fig-zionists.html" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Adele Shapeshifts Vaccines and Naughty Fig Zionists</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.bitchute.com/video/6TKSlRrM1H91/" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Adele Caught Shapeshifting Into Eight Foot Reptilian In New Zealand</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v6ypo3e-justin-bieber-shapeshifting-reptilians-control-hollywood-and-harvest-our-en.html" 
  rel="noopener" target="_blank"
    ><span class="text-green-700 bg-blue-100 font-extrabold hover:text-green-900"
      >Justin Bieber: "Shapeshifting Reptilians Control Hollywood and Harvest Our Energy"</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bruce#censored"
    ><span class="text-green-700 text-xl font-bold hover:text-green-900"
      >Reptilian Perpetual War (Censored)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bluewater#vanishing"
    ><span class="text-sky-400 font-bold hover:text-2xl hover:text-green-900"
      >NYC -- OH MY DOG (vanishing)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-blue-500 text-lg font-bold hover:text-2xl hover:text-red-700"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/v2ula7a-alien-reptilian-legacy-reptilians-living-on-earth-documentary.html" rel="noopener" target="_blank"
    ><span class="text-green-700 text-xl font-bold hover:text-green-900"
      >Alien Reptilian Legacy | Reptilians Living On Earth Documentary</span
    >
  </a>
</h5>
