---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/LyeYQSegd9sy/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>

<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">....</p>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
