---
---

<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#intel"
    ><span class="text-blue-900 font-bold hover:text-2xl hover:text-green-900"
      >INTEL</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./news#qthestormm"
    ><span
      class="text-blue-900 text-lg font-bold hover:text-2xl hover:text-red-700"
      >@QTHESTORMM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./ebs-alert#ebs"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-blue-700"
      >EBS ALERT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./shift#shift"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-blue-700"
      >THE SHIFT</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./jfk#wordpress"
    ><span class="text-green-900 hover:text-2xl hover:text-green-900">JFK</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./event#rundown"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./evergreen#containers"
    ><span
      class="text-green-500 bg-white text-base hover:text-lg hover:text-green-900"
      >FLASHBACK EVERGREEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/LyeYQSegd9sy/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >EVENT RUNDOWN</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-black">(8 Apr 2024)</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  EVENT RUNDOWN – TRANSCRIPT ALL INFORMATION COMES FROM CHRISTIAN SIBLEY /
  CHRISTIAN 21. WRITTEN & PRESENTED BY JASON CANTON
</p>
<p class="mb-4 text-base text-black">....</p>

<p class="mb-3 text-justify font-extrabold text-gray-800 dark:text-gray-700">
  “Alright everyone, I’m gonna give you a quick rundown to explain the shutdowns
  and the 10 - 14 days… From the beginning……. Let’s go through it:
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  ……because with the Covid Pandemic, 1,2,3 & 4 are all in together.
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  1 WORLD CHILD TRAFFICKING – PEADOPHILIA - ORGAN HARVESTING – SATANIC CHILD
  SACRIFICE.
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  2 COVID – PANDEMIC – BIO TECH INJECT VACCINE INJURY / DEATHS.
</p>
<p class="mb-3 text-justify font-extrabold text-gray-800 dark:text-gray-700">
  3 MEDIA START TO EXPOSE THEMSELVES – 100 YEARS PSYOP – ESPECIALLY LAST 3 YEARS
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  4 PUBLIC BEEN PREPPED FOR WAR – WORLD NUKE SCARE – VERY CONVINCING.
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  Listen, turn your TV’s back on now, don’t worry about the words they breathe,
  it’s all lies! It doesn’t matter what it is! It’s a lie! But you get to read
  between the lines cause their lies are gettin’ worse, kids can pick ‘em up!
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  Gradually they’ll start speaking about the most loved and trusted, rich and
  powerful and famous. They’ll start talking about Covid, biotech, vaccine
  injury and deaths, child trafficking, pedophilia, organ harvesting, satanic
  child sacrifice, the public being prepped for war, the World Nuke scare, it’s
  gonna get very very convincing. But the media starts to expose themselves
  through a 100-year psy- op, especially last 3 years.
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  In between all this they’re gonna start to talk about election fraud, White
  hats, they’ll have the media talkin’ about stuff they DO NOT wanna talk about!
  That’s the trafficking, the Vaccine, and they’re slowly bringing that in. That
  will flip over to the real one, the real covid tribunal that’s going on, like
  1200 uncorrupt, top lawyers, solicitors, who’s sworn their name to Trump,
  White hats etc. They’re prepping all the public n’ all the sleepers of that
  now, of the World War. THAT is gonna be convincing, trust me! Listen! Even
  some of you most awake will be like ‘Christian’s lyin’ to us’ ha ha…I aint
  lied to ya, but it’s gonna be convincing! They won’t be able to talk about
  nothing else. (1 – 4).
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  When they said the media and Israel an all that, to leave til last, this is
  the media as well, they’ll start exposin’ themselves and then even the thick
  public will realize. So, you got election fraud, child trafficking, covid
  pandemic, the preparation to prep you all for war, so when it comes, you’ll be
  like ‘wow’! they’ve been tellin’ us yea? All that (1 – 4) will be mixed in,
  but just before all that, Mel Gibson will drop that documentary on this (1)
  and this documentary will make the media ramp it right up!
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  This is where everything really starts to kick in. Everyone will start goin’
  nuts but they’re gonna talk about that (1) child trafficking, but they’ll
  soften it and make it look like other powerful people like the media are not
  involved, but yea they are! They’ll talk about covid and the injuries but when
  it flips over to the real covid, the tribunals, it’ll blow em away mate…………….
  This is so much to process!
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  So, 1,2,3 & 4, they’re all in together! You’ll have like election fraud,
  celebrities mixed in, but what they’ll do is, soon as that starts gettin’ a
  bit deep (1,2,3 & 4) Trump and the Whitehats are gonna show you what they do
  all the time, when they start feelin’ the heat and it’s getting’ on top of
  ‘em, they cause a distraction, so just as the sleepers are gettin’ their heads
  together with the media exposing themselves, news reporters bein’ pedophiles
  as well, all that’ll be too much, just too much, then all of a sudden you’ll
  get the 7 messages a few days before the earth shutdown (5)…..
</p>

<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  5 7 MESSAGES – FEW DAYS BEFORE EARTH SHUTDOWN – LOTS OF NOISE – FLASHES – AIR
  RAID SIRENS – VERY CONVINCING.
</p>
<p class="mb-4 text-base text-black">...</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  You’ll get the 7 messages, a few days before the earth shutdown, lots of
  noise, flashes, air raid sirens, very convincing! Once that goes and they’re
  tellin’ you to stay in your homes, make sure you got food, bottles of water,
  because when it comes, you won’t have water, they’ll shut the water pumps off
  and they’ll tell you all that safety stuff.
</p>
<p class="mb-4 text-base text-justify text-black">
  If there was gonna be a nuke war, they wouldn’t say to you stay in your homes,
  they’d just let you die. Some of the high ups will make their way to coaches
  and tunnels so you may as well stay in your homes.
</p>
<p class="mb-3 text-justify text-gray-800 dark:text-gray-700">
  Number 5 is to distract you all from the media, the White hats have just put
  on the media to start exposing, because the documentary that Mel Gibson’s done
  is gonna blow your minds, don’t worry about what you may have heard, when you
  see it, it’s like ALL EYES! …….and there’s none of this ‘get your kids out of
  the room’ cause like I said to you all before, the Souls in your Children
  ain't kids! They’re just experiencing Child life! The Souls in your Children
  ain't your Children, they are from the Soul family and they are just
  experiencing Child life. They are not silly! All the kids at the moment are
  brighter than the adults on the Planet. They haven’t been poisoned as much!
</p>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#police"
    ><span class="text-green-600 font-bold hover:text-2xl hover:text-green-900"
      >for world police</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
