---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />
<FOUR />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/21/kabamur-taygeta-non-human-interaction-is-ongoing/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: Non-human Interaction is Ongoing</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/11/kabamur-taygeta-there-are-no-ufo-threats/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: There are No UFO Threats</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1819300175535657131"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >You Are Never Alone As Pleiadians Traverse The Skies With Other Elohim
      Races.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Kabamur_Taygeta/status/1820390332401660141"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >It will seem the darkest just before the Shift.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1761404852314554603"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What did Jesus say about people who fear UFOs in the last days? He called them UNREADY.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/7011cc3c-2f73-46e5-aabe-01d2ae03f241"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Alex Collier - Question and Answer Webinar 60 - October 18th, 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./shift#battle"
 
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >"The final battle" isn't political, it's spiritual.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=mzGBMEHu_ek"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-green-600"
      >Farsight ET Board Meeting: It Begins (October 2024)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247801"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
      >CodezVII INTEL - Major Galactic Operation & Solar Flash @ 5D</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CodezVII777/status/1850046098162974934"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >//////////////////THE FINAL /////// EVENT ///////</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1850565718535762347"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >I predict over the next few months many who previously dismissed me as a distraction</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1856275682751340788"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Angels are in control. Angels want to be seen. UFOs are attributed to light forces in scripture not dark forces.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1857956101028724763"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >No Nesara. No medbeds. No grand reveal by white hats. </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1857935164774416785"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >I know we're close enough that everyone alive now can make it.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/sweetpolly314/status/1857937650537345122"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Elder Ikai said everything is ready, correct? We’re just waiting for his signal now?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1858257647754956978"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Those spreading fear about global cataclysms are unaware of the light forces protecting us.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1726980864977125712"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Not everyone ascends. This is why Yeshua taught "one will be taken, one will be left behind"</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1857907493793374208"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Every important question that's ever been asked will soon be answered.</span
    >
  </a>
</h5>




<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">
////////////////////////////////////////////////
//////////// MY BELOVED //////////////////
I COME AT THIS TIME /
IN THIS OPPORTUNE TIME /
THESE TIMES THAT ARE APPROACHING NOW ///////
YOU HAVE HEARD OF THE
COMING GREAT
ANNOUNCEMENTS /
YOU HAVE HEARD OF MANY
GREAT CHANGES THAT ARE
COMING TO PLANET EARTH /
OF THE MANY SEEMINGLY
POSITIVE CHANGES /
////////////////////
BUT BEFORE
THE POSITIVE
CHANGES COME /
THERE MUST FIRST
BE THOSE THINGS
THAT BRING THE
GREAT AWAKENING
FORWARD /
THE FALLING
OF THE PRESENT
POLITICAL
ESTABLISHMENT
WITH ITS UNJUST
AND INCORRECT
LAWS / AND RULES /
ALL OF THAT
IS COMING DOWN /
SEE THAT HAPPENING /
BECAUSE THAT IS WHAT
IS HAPPENING NOW /
EVEN THOUGH IT DOES
NOT APPEAR TO BE SO /
IT IS / EVERYTHING IS COMING TOGETHER EXACTLY AS IT NEEDS
TO- AND YOU ARE IN THAT CUSP
RIGHT NOW WITH THE GREAT AWAKENING THAT IS OCCURRING ACROSS THE PLANET /
AND NOT ONLY ACROSS
THE PLANET / BUT THE SOLAR SYSTEM AND YOUR GALAXY /
All IS COMING TOGETHER
AND ALL IS HAPPENING
IN THE MOMENT NOW /
EVEN NOW /
THE GREAT AWAKENING
IS PROCEEDING FORWARD /
THE FALL OF THE PRESENT
SOCIAL ESTABLISHMENT
AS YOU HAVE COME
TO KNOW IT / IT CANNOT /
AND COULD NOT /
AND WILL NOT CONTINUE
AS IT HAS / IT IS NOT POSSIBLE /
FOR LIFE TO CONTINUE
HERE ON THIS PLANET /
YOU MUST ALL COME INTO
THIS AWAKENING PROCESS /
All ACROSS THE PLAN MUST
COME INTO THIS AWAKENING /
///////////////////
AND THAT IS WHAT
THE THREE WAVES
OF ASCENSION ARE
ALL ABOUT /
IT IS TO ALLOW
FOR THIS AWAKENING
TO HAPPEN AS MORE 
AND MORE PEOPLE
BECOME READY
AND PREPARED FOR IT /
EACH AND EVERY ONE
OF YOU THAT RESONATE
TO MY WORDS /
YOU HAVE BEEN PREPARING
FOR IT- AND AS I HAVE SAID
MANY TIMES / THROUGH
ACCLIMATISING YOURSELVES
AND YOUR BODIES TO THESE POWERFUL INCOMING CELESTIAL ENERGIES OF TRANSFORMATION /
/////////////////////
AND AS THESE GREAT
WAVES OF CELESTIAL ENERGIES
CONTINUE TO COME IN /
THEY BECOME MORE
AND MORE FORCEFUL /
THAT IS WHAT IS CREATING
THE CHAOS THAT IS HAPPENING ACROSS THE PLANET /
AS THESE ENERGIES BECOME STRONGER AND STRONGER
IT IS BRINGING THE AWAKENING
TO THOSE THAT HAVE BEEN
ASLEEP FOR SO LONG /
AND THOSE DARK ONES
THAT HAVE BEEN ATTEMPTING
TO HOLD ONTO THEIR CONTROL
ARE DOING EVERYTHING
THAT THEY CAN NOW MORE
AND MORE TO HOLD ON TO
THAT CONTROL / THEY ARE PULLING OUT ALL THE STOPS / YOU MIGHT SAY / EVERYTHING THEY CAN /
TO FOLLOW THEIR DARK PLAN
THAT THEY HAVE HAD UP TILL NOW / BUT / THEY CAN NO LONGER DO IT / EVEN THOUGH THEY ATTEMPT
TO HOLD ON AND ATTEMPT
TO DO THESE VARIOUS
THINGS THAT HAVE
WORKED FOR THEM IN THE PAST /
THOSE EFFORTS ARE LONGER WORKING / AND CANNOT WORK /
/////////////////////
YOUR AWAKENING
CAN NO LONGER BE STOPPED /
AND YOU ARE APPROACHING
THAT TIME PERIOD WE HAVE
BEEN PREPARING YOU FOR SO LONG / IN EVERY ONE OF YOUR VARIOUS MEDITATIONS /
YOU HAVE BEEN PREPARING
FOR THE GRAND EVENT /
THE GREAT EVENT- THE EVENT /
THE SOLAR FLASH /
YOU HAVE BEEN PREPARING
FOR THIS / SO THAT WHEN
IT HAPPENS / YOU ARE READY
FOR IT / AND THEN YOU CAN INDEED TURN AROUND AND ASSIST THOSE THAT MAY NOT UNDERSTAND
WHAT IS GOING ON WHEN THEY SEE THIS GREAT FLASH IN THE SKY ////////////////
DATES CANNOT
BE GIVEN 
AT THIS POINT /
BUT THAT DOES
NOT MEAN IT IS NOT IMMINENT /
JUST UNDERSTAND THAT //////////////


//// Subscribe: <a
    href="https://t.me/CodezVII"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-900 hover:text-sky-700"
      >https://t.me/CodezVII</span></a> ////
     //// FOLLOW X <a
    href="https://x.com/CodezVII777"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-900 hover:text-sky-700"
      >https://x.com/CodezVII777</span></a> ////
</div>
</div>
<!-- prettier-ignore-end -->
