---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />
<FOUR />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/21/kabamur-taygeta-non-human-interaction-is-ongoing/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: Non-human Interaction is Ongoing</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/11/kabamur-taygeta-there-are-no-ufo-threats/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: There are No UFO Threats</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1819300175535657131"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >You Are Never Alone As Pleiadians Traverse The Skies With Other Elohim
      Races.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Kabamur_Taygeta/status/1820390332401660141"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >It will seem the darkest just before the Shift.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1761404852314554603"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What did Jesus say about people who fear UFOs in the last days? He called them UNREADY.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/7011cc3c-2f73-46e5-aabe-01d2ae03f241"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Alex Collier - Question and Answer Webinar 60 - October 18th, 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./shift#battle"
 
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >"The final battle" isn't political, it's spiritual.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=mzGBMEHu_ek"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-green-600"
      >Farsight ET Board Meeting: It Begins (October 2024)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247801"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
      >CodezVII INTEL - Major Galactic Operation & Solar Flash @ 5D</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CodezVII777/status/1850046098162974934"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >//////////////////THE FINAL /////// EVENT ///////</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1850565718535762347"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >I predict over the next few months many who previously dismissed me as a distraction</span
    >
  </a>
</h5>

<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">
    ////// WE HAVE WON THE BATTLE
BETWEEN THE DARK AND LIGHT //////
I COME AT THIS TIME /
IN THIS AUSPICIOUS TIME / 
CODEZVII WILL ADD HERE /
IN THESE TIMES OF GREAT CHANGES
THAT ARE OCCURRING BOTH ON THE PLANET / WITHIN THE PLANET /
AND ABOVE THE PLANET /
SO MANY CHANGES THAT YOU AT
THIS TIME DO NOT HAVE ANY IDEA
OF / BUT YOU ARE GETTING AN INKLING OF IT / YOU ARE GETTING
BITS AND PIECES OF EVERYTHING THAT IS HAPPENING / ALWAYS STILL / YES / BEHIND THE SCENES / BUT THEY ARE COMING OUT / YOU USE TERMS OF CONNECTING THE DOTS / AND THAT IS SOMETHING YOU ALL NEED TO DO / ITS IS PART OF DISCERNMENT / IT IS PART OF UNDERSTANDING THE TRUTH AND KNOWING THE TRUTH / AND LOOKING BEYOND THAT ILLUSION THAT THOSE THAT HAVE BEEN IN CONTROL FOR SO LONG WANT SO MUCH TO CONTINUE THIS ILLUSION / THEY WANT TO KEEP YOU TRAPPED WITHIN IT /
BUT AS SOMEONE SAID EARLIER /
WE ARE WINNING / NO / WE HAVE
WON ALREADY / THAT IS WHAT YOU NEED TO KNOW RIGHT NOW / WE ARE NOT WINNING / WE HAVE ALREADY WON / WE HAVE ALREADY WON NOT JUST THE BATTLES / BUT THE ENTIRE WAR / IF YOU WANT TO LOOK AT IT THAT WAY / BECAUSE IT IS A WAR BETWEEN GOOD AND EVIL / BETWEEN LIGHT AND DARK / EVERYTHING IS COMING OUT EXACTLY AS IT NEEDS TO / AND YOU NEED TO CONTINUE TO BELIEVE THAT / BELIEVE THAT WE ARE UP HERE / WE ARE UP HERE IN OUR SPACESHIPS / IN OUR VARIOUS PROGRAMS AND PROJECTS / ALL LOOKING DOWN AT YOU / WE ARE LOOKING DOWN FROM ABOVE AND SEEING THE PERFECTION THAT YOU ALL ARE / WE DO NOT SEE THE NEGATIVE / THE SHADOW SIDE OF EACH OF YOU / WE SEE THE LIGHT WITHIN YOU / THE LIGHT WITHIN ALL OF YOU / AND THAT IS SPREADING AND BEING SHARED EVERYWHERE MORE AND MORE / All OF THIS IS PART OF THE NEW EXPRESSION THAT MUST COMER ABOUT / THAT THE LIGHT MUST COMER ON AND OVERCOME THE DARKNESS / AND IT IS HAPPENING / SO MUCH IS HAPPENING BEHIND THE SCENES YET / BUT IT IS ALL COMING OUT LITTLE BY LITTLE / AND THEN IT WILL GO FROM A TRICKLE / WHICH IT IS NOW / TO A DELUGE IN THE TIMES THAT ARE COMING AHEAD / AND ALONG WITH THAT / YOU HAVE ALL LOOKED FOR OUR DISCLOSURE / NOT ONLY DISCLOSURE OF THE TRUTHS THAT MUST COMES OUT / BUT DISCLOSURE OF THOSE OF OUR SPACESHIPS / THOSE OF US THAT HAVE BEEN HERE WATCHING OVER YOU AND READY TO ASSIST WHEN WE ARE GIVEN THE COMMAND TO COME DOWN AND BE WITH YOU / AND THAT IS NOT FAR OFF / MY FRIENDS / IT IS NOT FAR OFF AT ALL / BECAUSE WE ARE HERE FOR YOU / AND THOSE OF YOU THAT ARE READY TO SEE US / WILL SEE US / WHEN YOU HAVE THOSE EYES TO SEE-AND MANY OF YOU ARE GETTING THOSE EYES NOW / BECAUSE YOU ARE OPENING YOUR THIRD EYE / YOUR PINEAL GLANDS ARE BECOMING FREE AGAIN OF THE CALCIFICATION THAT THE CABAL / OR THE DARK FORCES / HAVE DONE EVERYTHING THAT THEY COULD TO HOLD YOUR THIRD EYE DOWN TO KEEP YOU FROM SEEING BEYOND THE ILLUSION / TO SEEING THE REAL REALITY THAT IS THERE / AND HAS BEEN THERE ALL ALONG / BUT THEY PULLED THE WOOL OVER YOUR EYES / OR THE VEIL OVER YOUR EYES / SO THAT YOU WOULD NOT SEE WHAT CAN BE SEEN NOW / AND AGAINST / AS I SAID / IT IS NOT FAR OFF AT ALL NOW / BECAUSE EVERYTHING /EVERYTHING IS LEADING UP TO THIS POINT RIGHT NOW / IN THIS EXACT MOMENT / AND ALL OF YOU JUST NEED TO BE PATIENT JUST A LITTLE BIT LONGER / YOU HAVE WAITED THOUSANDS / EVEN MILLIONS OF YEARS / TO COME TO THIS POINT AND WHAT IS A LITTLE BIT LONGER TO WAIT / WHETHER IT IS DAYS / OR WEEKS / OR EVEN MONTHS / WHAT IS A LITTLE BIT LONGER TO REALISE THE COMPLETE FREEDOM THAT IS THERE BECKONING TO YOU NOW / ALL YOU NEED TO DO IS JUST OPEN UP TO IT AND REALISE THAT IT IS ALREADY THERE FOR YOU / THE FREEDOM / THE FREEDOM TO BE WHO YOU ARE / WHENEVER YOU WANT TO BE WHOEVER YOU ARE / TRUST / TRUST IN ALL OF THIS / TRUST THAT YOU ARE MOVING INTO A POSITION OR A POINT OF LIGHT WITHIN YOU THAT WILL ESTABLISH ONCE AND FOR ALL YOUR FREEDOM AND YOUR SOVEREIGNTY /
I AM LOVE AND I LEAVE YOU NOW IN PEACE AND LOVE AND THAT YOU WOULD CONTINUE TO BE READY / BE READY TO EXPERIENCE THE CONNECTION WITH ALL OF US /
ALL OF YOUR BROTHERS AND SISTERS
OF SPACE / THAT ARE HERE NOW
AND READY AT A MOMENTS NOTICE
TO BE THERE WITH YOU MORE FULLY /
//// https://t.me/CodezVII ////
</div>
</div>
<!-- prettier-ignore-end -->
