---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />
<FOUR />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251679"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
      >2-16-25: Bo Polny, Andrew Sorchini, Dave Scarlett - Reverse Rapture 2025 & March Gold/Silver! (53 min) Psalm 37:10-13</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251838"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
      >2-19-25: Bo Polny with Nino - Life BEFORE and AFTER April! - Millions Dead? (52 min)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/21/kabamur-taygeta-non-human-interaction-is-ongoing/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: Non-human Interaction is Ongoing</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=2pdMsMEQAKI"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-800 font-bold hover:text-2xl hover:text-emerald-700"
      >Global Space Force, Cryptos, & Boarding Ships: Alex Collier Shares Answers You Can’t Miss!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/11/kabamur-taygeta-there-are-no-ufo-threats/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: There are No UFO Threats</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1819300175535657131"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >You Are Never Alone As Pleiadians Traverse The Skies With Other Elohim
      Races.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Kabamur_Taygeta/status/1820390332401660141"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >It will seem the darkest just before the Shift.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1761404852314554603"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What did Jesus say about people who fear UFOs in the last days? He called them UNREADY.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/7011cc3c-2f73-46e5-aabe-01d2ae03f241"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Alex Collier - Question and Answer Webinar 60 - October 18th, 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./shift#battle"
 
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >"The final battle" isn't political, it's spiritual.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=mzGBMEHu_ek"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-green-600"
      >Farsight ET Board Meeting: It Begins (October 2024)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247801"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
      >CodezVII INTEL - Major Galactic Operation & Solar Flash @ 5D</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CodezVII777/status/1850046098162974934"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >//////////////////THE FINAL /////// EVENT ///////</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1850565718535762347"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >I predict over the next few months many who previously dismissed me as a distraction</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1856275682751340788"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Angels are in control. Angels want to be seen. UFOs are attributed to light forces in scripture not dark forces.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1857956101028724763"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >No Nesara. No medbeds. No grand reveal by white hats. </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1857935164774416785"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >I know we're close enough that everyone alive now can make it.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/sweetpolly314/status/1857937650537345122"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Elder Ikai said everything is ready, correct? We’re just waiting for his signal now?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1858257647754956978"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Those spreading fear about global cataclysms are unaware of the light forces protecting us.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1726980864977125712"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-slate-100 font-bold hover:text-2xl hover:text-sky-900"
      >Not everyone ascends. This is why Yeshua taught "one will be taken, one will be left behind"</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113527182874879767"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >MANIFESTATION IS ACTIVATED WITHIN YOU ,ITS A VIBRATION, HUMANS CALL IT MANIFESTA</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/Bluewater100/posts/113527185501491412"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 bg-purple-300 font-bold hover:text-2xl hover:text-green-900"
      >NEW COMERS ,TRUTHER WATCHERS WORLD WIDE, LEAVE THAT CIA TRUTHER WORLD ALONE</span>
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1857907493793374208"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Every important question that's ever been asked will soon be answered.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1640515479566684161"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >I'm primarily here to help with disclosure of UFOs and extraterrestrials, and to talk about the coming Shift, and much of this deals with untangling years of people's fearful religious programming.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1861361954088198545"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Of the 200 million starseeds currently incarnated, 144,000 are encoded with a specific frequency in their DNA that will be activated just prior to the Shift. </span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1860357455806390481"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >'Darkness increasing' before the Shift doesn't necessarily mean WW3 is coming.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1867252389985890669"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >My hope is that more truth seekers will be able to see that human 'white hats' aren't the ones in control</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1632855754947321859"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Are holograms only a deception for those who are easily deceived?</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1867747935955693831"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >He's forcing the current government to admit they can't stop the drones</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1690376676310736896"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Why do so many UFO sightings happen near military bases?</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/12/23/kabamur-taygeta-military-slow-disclosure-is-illogical/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-500 bg-almost-black font-bold hover:text-2xl hover:text-emerald-400"
      >Kabamur Taygeta: Military Slow Disclosure is Illogical</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=_xbYQqX7Wvg"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Pleiadians JUST Revealed WHEN Their Ships Will ARRIVE! EPIC Channeling On What's Coming For Humanity (Video)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.pleiadianfleet.com/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >The Pledians are Already Here</span
    >
  </a>
</h5>


<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">
////////////////////////////////////////////////

</div>
</div>
<!-- prettier-ignore-end -->
