---
import FOUR from "./FOUR.astro";
import Tops from "./Tops.astro";
---

<Tops />
<FOUR />


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/21/kabamur-taygeta-non-human-interaction-is-ongoing/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: Non-human Interaction is Ongoing</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://operationdisclosureofficial.com/2024/10/11/kabamur-taygeta-there-are-no-ufo-threats/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Kabamur Taygeta: There are No UFO Threats</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1819300175535657131"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >You Are Never Alone As Pleiadians Traverse The Skies With Other Elohim
      Races.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://twitter.com/Kabamur_Taygeta/status/1820390332401660141"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >It will seem the darkest just before the Shift.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1761404852314554603"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >What did Jesus say about people who fear UFOs in the last days? He called them UNREADY.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/7011cc3c-2f73-46e5-aabe-01d2ae03f241"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >Alex Collier - Question and Answer Webinar 60 - October 18th, 2024</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="./shift#battle"
 
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >"The final battle" isn't political, it's spiritual.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=mzGBMEHu_ek"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 font-bold hover:text-green-600"
      >Farsight ET Board Meeting: It Begins (October 2024)</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=247801"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-sky-900"
      >CodezVII INTEL - Major Galactic Operation & Solar Flash @ 5D</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CodezVII777/status/1850046098162974934"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >//////////////////THE FINAL /////// EVENT ///////</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/Kabamur_Taygeta/status/1850565718535762347"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >I predict over the next few months many who previously dismissed me as a distraction</span
    >
  </a>
</h5>

<!-- prettier-ignore-start -->
<div class="mx-auto p-4 max-w-prose text-base text-justify text-black bg-gray-200">
  <div class="whitespace-break-spaces">
A MESSAGE TO ALL THE CONSPIRACY THEORISTS AND CURATORS
For all of you who have ridiculed social media and been called "crazy" for years, but still stand up for what you believe in and try to spread the truth to the public.
You who lost friends and family, were ridiculed and yet still speak your truth.
For all the Lightworkers, Starseeds, Wayshowers and Alternative Therapists who always felt alienated and different, but never stopped being that person who tries to offer another perspective to things. You learned about energy healing, crystals, mother GAIA and healing therapy while people around you laugh. You were different, weird and you never conformed/adjusted to this situation without remorse.
For the sensitive whose hearts break upon learning about human trafficking and pedophile rings, harm to our children and much more.
The awakened ones who realized what was going on in the world and had to have their hearts broken into a million pieces while everyone in their lives just thought they were losing their minds. You had to face all of this alone and it broke your heart, but you did it and you faced the DARK NIGHT OF THE SOUL!!
For those Old Souls who try every day to help humanity who feel isolated and different and who have lost many friends and family in the awakening process.
Those who don't go out anymore, those who investigate until the days go by, those who get up and dare to say what no one else would.
You dedicated your life to this ascension process.
I honor each and every one of you. This process is the hardest thing anyone has ever had to do and you did it first. Every day more and more people are waking up.
I know it is difficult and you feel exhausted and sometimes drained by the negative response you are receiving, but stay strong because soon this battle will end and soon the world will know WHAT WE DO AND WHY WE DID IT.
Where one goes, we all go. This time will be mentioned in history and your efforts to awaken and heal humanity will affect not only our existence on planet Earth, but will affect everything in the entire Universe.
This is a GALACTIC EVENT and you chose this task before incarnating on this timeline. You chose to be here and now.
YOU ARE A DIVINE BEING REMEMBER WHO YOU ARE.
INFINITE BLESSINGS.
THE BEST IS YET TO COME.
GOD IN COMMAND.

//// Subscribe: <a
    href="https://t.me/CodezVII"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 hover:text-sky-900"
      >https://t.me/CodezVII</span></a> ////
</div>
</div>
<!-- prettier-ignore-end -->
