---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@SkyePrinceofficial"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-green-900"
      >Military Med Beds (Skye Prince)</span
    >
  </a>
</h5>
