---
import SkyeP from "../components/SkyeP.astro";
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<SkyeP />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/@MEDBEDS-jh1tc"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >MED BEDS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v2he1w0-med-bed-quantum-technology-explained-how-it-works.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-700 text-base hover:text-lg hover:text-green-900"
      >Med bed Quantum Technology explained - How it works</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Fds9RYW13G0"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Med bed Quantum Technology explained - How it works</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/+O_GeB1Rxc2VjMjJl" rel="noopener" target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Skye's MED BED Room
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://worldcyclesinstitute.com/med-bed-roll-out/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Med Bed Roll-Out</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://finalwakeupcall.info/en/2024/03/08/medbeds-keep-us-young-and-healthy/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-gray-500 bg-white text-base hover:text-lg hover:text-red-700"
      >MedBeds keep us young and healthy</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4zivtc--med-beds-are-coming-and-trump-is-winning-gods-grace-and-you-with-gigi-june.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >‘Med Beds Are Coming & Trump is WINNING’ God's Grace & You with Gigi
      (June 4, 2024)(16:15)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://finalwakeupcall.info/en/" rel="noopener" target="_blank"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >The Final Wakeup Call (2024/02/06)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
