---
import Gone from "./Gone.astro";
import Tops from "./Tops.astro";
---

<Tops />
<!-- <SMITH /> -->

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#smith"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >Tory Smith</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=n1kyIvHqp7Y"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-500 bg-white text-base hover:text-lg hover:text-green-900"
      >WHERE ARE THE HUMANS IN GOVERNMENT?(16 Mar 2016)</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://odysee.com/@ForEverFree:3/WHERE-ARE-THE-HUMANS-IN-GOVERNMENT%EF%BC%9F--n1kyIvHqp7Y-:7"
    rel="noopener"
    target="_blank"
    ><span
      class="text-[#ffff00] bg-[#ff0088] text-xl font-bold hover:text-red-700 hover:bg-white"
      >WHERE ARE THE HUMANS IN GOVERNMENT?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/@TorySmithDNA" rel="noopener" target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Tory Smith (youtube)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#aliens"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-sky-600"
      >Government Assassin We work with Aliens @4:30</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#black"
    ><span
      class="text-sky-500 bg-emerald-100 text-lg font-bold hover:text-2xl hover:text-purple-950"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#overlords"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-sky-600"
      >Ancient Reptilian Shapeshifter Alien Overlords Hiding Among Us</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/2XsZMF8gs1i4/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-purple-900 text-base hover:text-lg hover:text-purple-900 hover:bg-white"
      >ISRAEL SOLDIERS MOCK DEAD GAZA BABIES - THEY ARE NEPHILIM, NOT HUMAN!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tory#spiers"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-sky-600"
      >MAX SPIERS INTERVIEW - Super Soldier - Was Killed For Saying These Things
      - High Level ET Corruption & Decimation of The HUMAN HEART</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/1671b7ea-a2e1-4926-ad2d-5e40f98a592d"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-500 bg-sky-400 text-base hover:text-lg hover:text-red-700 hover:bg-sky-500"
      >MAX SPIERS INTERVIEW - Super Soldier - Was Killed For Saying These Things
      - High Level ET Corruption & Decimation of The HUMAN HEART</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vk.com/video20584468_456239257?ysclid=lwj4qlpg5i86334746"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-100 bg-sky-400 text-base hover:text-lg hover:text-red-200 hover:bg-sky-500"
      >Bases 37 Part 5 A B C Max Spiers Ver 002</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vk.com/video20584468_456239253"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-100 bg-sky-400 text-base hover:text-lg hover:text-red-200 hover:bg-sky-500"
      >Bases 37 Part 2 Max Spiers in England</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vk.com/video20584468_456239249"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-100 bg-sky-400 text-base hover:text-lg hover:text-red-200 hover:bg-sky-500"
      >Milab, Anunnaki, Voodoo and the Time Loop - Max Spiers</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://vk.com/video671444844_456239096"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-100 bg-sky-400 text-base hover:text-lg hover:text-red-200 hover:bg-sky-500"
      >Anunnaki (2017) - LIGAXXI</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span
      class="text-sky-400 text-lg font-bold hover:text-2xl hover:text-sky-600"
      >WILLIAM TOMPKINS
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./goesdeep#phil"
    ><span
      class="text-blue-900 bg-yellow-300 text-left text-xl font-bold hover:text-2xl hover:text-purple-900"
      >PHIL SCHNEIDER - SECRET UNDERGROUND BASES THE NEW WORLD ORDER</span
    >
  </a>
</h5>
<Gone />
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/OVgi4ycjteWH/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >PRESIDENT TRUMP WANTS YOU TO WATCH THIS VIDEO ABOUT CHILD SEX TRAFFICKING</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/channel/the_high_command/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >THE_HIGH_COMMAND</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./invisible-war#time"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >TIME TRAVEL (IT'S GOING TO BE BIBLICAL)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/S4W8Nhqf1A2j/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >COPPERPOT - WARNING! NOT FOR SENSITIVE AUDIENCES (SEE LINKS!)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=2LakXx6A72g"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >IN GOV MIKE PENCE HAS MURDERED 53 CHILDREN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=P9WKL_UNxds"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Mike Pence has raped 186 Children 2Jun</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://timothycharlesholmseth.com/cia-officer-robert-david-steele-told-timothy-charles-holmseth-that-mike-pence-and-accomplice-raped-and-then-murdered-child-with-a-dagger/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >CIA officer Robert David Steele told Timothy Charles Holmseth<br />
      that Mike Pence and accomplice raped and then murdered child with<br />
      a dagger Steele also said whistleblower Tory Smith was murdered by<br />
      an Indiana State Trooper.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=Yh4sno9WgsU"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >WILL THIS BE MY LAST VIDEO?</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/yDObvWOR8DyQ/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >EX MEN IN BLACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/lTUi8QhIKahf/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >REPTILIANS</span
    >
  </a>
</h5>
