---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stfn.video/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-white font-bold hover:text-green-600"
      >https://stfn.video/</span
    >
  </a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./no-virus#china"
  ><span
    class="text-blue-500 text-base hover:text-lg hover:text-green-900"
    >CHINA CONFIRMS THERE IS NO VIRUS...</span
  >
</a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#ceo"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >Vaccine CEO shape-shifts on NBC Nightly News</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./alienwars#human"
    ><span
      class="text-purple-700 text-xl font-bold hover:text-2xl hover:text-red-700"
      >NOT HUMAN @7:00</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#nonhuman"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >'David Icke was right about "Covid", the jab, the Cloud, and manipulation
      by a non-human force'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v47f77x-david-icke-astrid-stuckelberger-ricardo-delgado-dr.-sevillano.html"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 bg-black font-bold hover:text-green-600"
      >DAVID ICKE - ASTRID STUCKELBERGER - RICARDO DELGADO - DR. SEVILLANO</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold    hover:text-green-900 text-transform: uppercase"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="./alienwars#demonic"
 
  ><span
    class="text-blue-400 bg-white font-bold hover:text-red-700"
    >DEMONIC ALIEN INVASION CONFIRMED BY THE PENTAGON</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.brighteon.com/3dfea8d5-8146-476c-b358-205cd32ffd60"
  rel="noopener"
  target="_blank"
  ><span
    class="text-blue-400 bg-white font-bold hover:text-red-700"
    >Vaccine CEO shape-shifts on NBC Nightly News</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a href="./#trash"
  ><span
    class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
    >GO BACK</span
  >
</a>
</h5>

<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.bitchute.com/video/TcsMeEqDM3xA/"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >VACCINE CEO SHAPE-SHIFTS ON NBC NIGHTLY NEWS</span
  >
</a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.bitchute.com/video/BaNEGtSAarkV/"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >CEO OF PFIZER DOES THE WEIRDEST THING YOU’VE EVER SEEN</span
  >
</a>
</h5>
<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/shorts/J1ew7vT2iiM"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Why Is It All Reptilian?</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=LGQkkHuwm6w"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >John Lear 1987</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=ItRiw2HwvF0&t=3s"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Aliens are here, and they're not our friends, John Lear says -- Part 1</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=MMfVwknimf8&t=3s"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Ridicule buries UFO reports, just as intended, John Lear says -- Part 2</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=c0jurqZ4WMI"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Cattle mutilations and beyond: John Lear and 'the grand deception' -- Part 3</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=SjCWjgP7jhU"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Dr. Edgar Mitchell 🌌 UFO Interview 2009 Aliens are Real and Watching Us 👽 Day Before Disclosure H1</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="./schneider#dulce"

  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE FOR TECHNOLOGY </span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=TWeRXM3cV3E&t=2s"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Phil Schneider 🎤 Secret Grey Alien Agenda Dulce Underground Base UFO Disclosure 👽 Alien Conspiracy</span
  >
</a>
</h5>


<h5
class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
<a
  href="https://www.youtube.com/watch?v=9QuL2vWYDTk&t=1s"
  rel="noopener"
  target="_blank"
  ><span
    class="text-red-700 text-left text-xl font-bold hover:text-2xl hover:text-green-900"
    >Dulce Base Underground Alien Base</span
  >
</a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://stfn.video/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 bg-white font-bold hover:text-green-600"
      >https://stfn.video/</span
    >
  </a>
</h5>
