---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://shiftfrequency.com/trump-is-the-storm/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-400 bg-gray-300 text-base hover:text-lg hover:text-purple-700"
      >I say, Trump is the storm!
    </span>
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2022/09/trump-the-storm-is-coming/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-400 bg-gray-300 text-base hover:text-lg hover:text-purple-700"
      >Trump: THE STORM IS COMING!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/boom-i-am-the-storm-trumps-rallying-cry-this-is-persecution-not-prosecution-trumps-stark-warning-and-the-global-reset-blueprint-video/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-400 bg-gray-300 text-base hover:text-lg hover:text-purple-700"
      >BOOM: ‘I AM THE STORM’!</span
    >
  </a>
</h5>
