---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cds-mms"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >More on CDS MMS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./icke#vaccines"
    ><span
      class="text-pink-600 bg-yellow-100 font-bold hover:text-2xl hover:text-green-900"
      >Breaking News: SHOCKING - Here is What Really is in the Vaccines</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#judy"
    ><span
      class="text-blue-900 bg-yellow-100 font-bold hover:text-lg hover:text-green-900"
      >DR. JUDY MIKOVITS: THE VACCINE ANTIDOTE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#suramin"
    ><span
      class="text-blue-900 bg-yellow-100 text-justify font-bold hover:text-lg hover:text-green-900"
      >DR JUDY MIKOVITZ VX ANTIDOTE "SURAMIN" - SUPPORTING STUDIES + IMAGES +
      MORE - SAVE YOUR LOVED ONES!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://pubmed.ncbi.nlm.nih.gov/31844000/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-red-700"
      >100 Years of Suramin (autism)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/stkirsch/status/1738291623585632325?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Pediatrician Doug Hulstedt has seen 150 autism cases.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/stkirsch/status/1738359836092637411?s=20"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-500 text-base hover:text-lg hover:text-green-900"
      >Up to 90% of the autism cases are caused by vaccines according to an
      autism doctor who has treated over 8,000 cases.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://gab.com/threesevens/posts/112284630308141999"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-700 bg-yellow-100 text-base text-justify hover:text-lg hover:text-green-900"
      >Was the movie Rainman a predictive programming psyop to introduce the
      word autism into public consciousness and normalize it into widespread
      acceptance? The National Childhood Vaccine Injury Act was signed in 1986.
      The movie came out in 1988. In 1990, incidents of autism in schools rose
      dramatically.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal" rel="noopener" target="_blank"
    ><span
      class="text-pink-500 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >Trace Amounts is an investigative documentary exploring the link between
      the mercury based preservative thimerosal and the autism epidemic.</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#implant"
    ><span
      class="text-purple-700 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >BOMBSHELL: Dr. Judy Mikovits Exposes The Plan to Implant Humanity with
      Cancer Viruses</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#life"
    ><span
      class="text-purple-700 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >VACCINES NEVER SAVED A SINGLE LIFE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#insider"
    ><span class="text-blue-900 text-base hover:text-lg hover:text-green-900"
      >Pfizer Insider Admits mRNA Set To Kill BILLIONS Within Months</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer#cowpox"
    ><span
      class="text-sky-500 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >I Never Saw Cancer in Anyone Unvaccinated “Says a Doctor in 1936 and by
      Many Doctors Since</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#vaccines"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >DO VACCINES CAUSE CANCER? | DR BUTTAR'S THOUGHTS ON THE DANGERS OF
      VACCINES</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#vaccine"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >The Truth About Vaccines Documentary "Vaccinations Aren't What You Think
      They Are"</span
    >
  </a>
</h5>
<h3
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#thimerosal"
    ><span
      class="text-pink-500 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >Documentary: Trace Amounts @15:00 @46:26</span
    >
  </a>
</h3>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#interview"
    ><span
      class="text-green-700 bg-yellow-100 text-base hover:text-lg hover:text-green-900"
      >Plandemic - Part 1 - Dr. Judy Mikovits</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#disease-x"
    ><span class="text-green-600 text-base hover:text-lg hover:text-green-900"
      >"Dr. 'Judy Mikovits' Goes Nuclear On 'Disease-X' Big Pharma & The Legacy
      Media</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./autism#autismone"
    ><span class="text-pink-500 text-base hover:text-lg hover:text-green-900"
      >Dr Andreas Kalcker at AutismOne 2014 Successful Treatment of Autism 720p</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#gunn"
    ><span
      class="text-sky-500 bg-white text-base hover:text-lg hover:text-green-900"
      >New Zealand investigator Liz Gunn interviewed on the arrest of Barry
      Young for releasing the TRUTH about vaccine fatalities</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./bioweapon#graves"
    ><span
      class="text-gray-800 bg-white text-base hover:text-lg hover:text-green-900"
      >90 fresh new graves in a small town of 13,000 in New Zealand</span
    >
  </a>
</h5>
<p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">...</p>
