---
---


<!--<SWAMP /> -->
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#ssp"
    ><span
      class="text-purple-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >Remote Viewing the E.T. Presence and Secret Space Programs(Dr.Courtney Brown)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./clif#drones"
    ><span
      class="text-purple-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >"Larger 'Drones' The Next Month Will Prove ET Contact!"-Courtney Brown</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./disclosure#disclosure"
    ><span class="text-purple-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >FULL DISCLOSURE COMING IN EARLY 2025 - MANY DON'T BELIEVE IN UFO'S OR ALIENS - PREPARE YOURSELF</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://www.youtube.com/watch?v=CP7GcDTNB5g" rel="noopener" target="_blank"
    ><span class="text-blue-700 font-bold hover:text-2xl hover:text-green-900 text-transform: uppercase"
      >"We Have Great News" - The Galactic Federation</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/Kabamur_Taygeta/status/1869400852366279035" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >If there was a 'fake alien invasion' (Project Bluebeam) in progress </span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://eraoflight.com/2024/12/28/extraterrestrial-disclosure-and-the-shift/" rel="noopener" target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-sky-800"
      >Extraterrestrial Disclosure and the Shift</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./eceti#urgent"
    ><span
      class="text-emerald-500 font-bold hover:text-2xl hover:text-purple-900"
      >Urgent Message to humanity by James Gilliland</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=251367"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-600 text-base hover:text-lg hover:text-slate-800"
      >2-9-24: Q) The Storm Rider - Major Posts - STARGATE IS MUCH MORE</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=omT4TdcVwNI&t=1s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-600 text-base hover:text-lg hover:text-slate-800"
      >"SECRET SPACE PROGRAMS: Ending A Lifetime Of Secrecy..." | The Pleiadians | VALIR</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://qalerts.app/?n=2222"
    rel="noopener"
    target="_blank"
    ><span class="text-gray-500 text-base hover:text-lg hover:text-gray-700"
      >2222</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./schneider#exchange"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PHIL SCHNEIDER - - - MILITARY AGREED TO FEED PEOPLE TO ALIENS IN EXCHANGE
      FOR TECHNOLOGY</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://t.me/vvt369/2892" rel="noopener" target="_blank"
    ><span class="text-sky-600 font-bold hover:text-2xl hover:text-sky-800"
      >AND TOLD AND SHOWN WHAT THE SWAMP IS REALLY MADE OF</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://roserambles.org/2024/11/17/galactic-commander-valiant-thor-thousands-of-pleiadian-motherships-above-earth-now-trump-abducted-in-2017-november-17-2024/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-500 bg-white font-bold hover:text-2xl hover:text-purple-900"
      >TRUMP WAS ABDUCTED OUT OF THE WHITEHOUSE IN 2017</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./reptilians#history"
    ><span
      class="text-sky-500 bg-pink-50 font-bold hover:text-2xl hover:text-sky-900"
      >REESE REPORT - A Brief History of Shape-Shifting Reptilians (Related
      links in description)</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=H8pxF9HR_8s"
    rel="noopener"
    target="_blank"
    ><span
      class="text-purple-700 bg-yellow-100 font-black hover:text-2xl hover:text-purple-800 text-transform: uppercase"
      >Reptilians Rule Earth</span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vatican#snakes"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Trump Talking about Snakes</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#diana"
    ><span
      class="text-purple-700 bg-sky-300 font-black hover:text-2xl hover:text-green-900"
      >(4)THE HUGE SECRET THAT PRINCESS DIANA KNEW (VIDEO)</span
    >
  </a>
</h5>