---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <TompkinsL /> -->
 <h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#william"
    ><span class="text-red-700 font-bold   hover:text-green-900"
      >WILLIAM TOMPKINS</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dulce#invasion"
    ><span
      class="text-purple-700 font-bold hover:text-green-900"
      >Phil Schneider – The Alien Agenda, The Grenada Treaty & The End Game</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./tompkins#moon"
    ><span class="text-green-700 font-bold   hover:text-green-900"
      >The MOON LANDING Story They Don't Want You To Know About! - The Real
      Reason We Saw Fake Footage
    </span>
  </a>
</h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.bitchute.com/video/k1l3RTsHd7Ve/"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >WILLIAM TOMPKINS THE ABDUCTION, HARVESTING AND EATING OF CHILDREN
              BY THE DRACO REPTILIAN ILLUMINATI</span
            >
          </a>
        </h5>
        <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/f5ff1690-d91b-46cf-97dd-845f442df416"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
              >803. REPTILIANS Eating Humans - Cassidy and Tompkins (6-2016)</span
            >
          </a>
        </h5>
                <h5
          class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
        >
          <a
            href="https://www.brighteon.com/47434a0f-2492-4f4d-a33d-b897d78f3956"
            rel="noopener"
            target="_blank"
            ><span
              class="text-red-700 bg-white text-base hover:text-lg hover:text-blue-900"
              >The Deceit about Science and Medicine</span
            >
          </a>
        </h5>