---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
