---
import Highest from "./Highest.astro";
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#case"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#gitmo"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >GITMO: Flight to GITMO - Where all Swiss 🇨🇭 Government NAZIS & Traitors,
      Zionist Jews, rogue Bankers, Pedo Criminals, Satanists, Top Freemasons et
      al get Executed-Spring ‘24 #STORM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#depopulation"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
      Agenda in 1994</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#antichrist"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#william"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Mel Gibson: 'Prince William Is the Antichrist'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#hollywood"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST"
      ENCOUNTORING.. WATCH THIS!</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./intels#pascal"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-green-900"
      >PASCAL NAJADI 🧬 ALL HUMAN BEINGS HAVE BEEN INFECTED WITH THIS BIO-WEAPON
      ☤ THE CURE</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./pharmakeia#highest"
    ><span
      class="text-sky-500 bg-green-100 font-bold hover:text-2xl hover:text-green-900"
      >Covid Vaccines Have Highest ‘Kill Rate’ In Medical History – Media
      Blackout</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v55qjsj-vaccinated-corpses-are-emitting-radio-frequencies-that-trace-back-to-bill-g.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white font-bold hover:text-2xl hover:text-purple-700"
      >Vaccinated Corpses Are Emitting Radio Frequencies That Trace Back to Bill
      Gates</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/1de1666c-7693-49da-a9ce-1091e412c190"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-blue-400 font-bold hover:text-2xl hover:text-red-700"
      >NWO: Deceased COVID-19 vaccinated people emitting radio frequencies</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://bodybio.com/products/bodybio-pc-phosphatidylcholine?"
    rel="noopener"
    target="_blank"
    ><span
      class="text-slate-50 bg-blue-400 font-bold hover:text-2xl hover:text-slate-100"
      >BodyBio PC (Phosphatidylcholine)
    </span>
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/CMDRVALTHOR/status/1809709460828340657"
    rel="noopener"
    target="_blank"
    ><span
      class="text-sky-500 bg-green-100 font-bold hover:text-2xl hover:text-emerald-900"
      >Covid 19 = Radio wave sickness</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3s2jfd-wef-founders-son-singing-like-a-bird-to-prosecutors-in-crimes-against-human.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>

<Highest />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/671dba7c-b44e-409c-b101-8a718feeb98e"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-blue-400 text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<p class="mb-4 text-base font-bold text-black">
  WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
  Humanity Case
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://needtoknow.news/2023/11/son-of-wef-co-founder-says-covid-injection-is-a-bioweapon-and-calls-for-arrests/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-yellow-700 bg-gray-100 text-base hover:text-lg hover:text-red-700"
      >Son of WEF Co-Founder Says COVID Injection Is a “Bioweapon” and Calls for
      Arrests</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2024/04/delta-force-arrests-klaus-schwab/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-yellow-100 text-base hover:text-lg hover:text-red-700"
      >Delta Force Arrests Klaus Schwab</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2024/04/klaus-schwabs-health-deteriorating-after-arrest/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-yellow-100 text-base hover:text-lg hover:text-red-700"
      >Klaus Schwab’s Health Deteriorating After Arrest</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2024/04/jag-pulls-plug-on-klaus-schwab/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-yellow-100 text-base hover:text-lg hover:text-red-700"
      >JAG Pulls Plug on Klaus Schwab</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=239871"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-800 bg-yellow-100 text-base hover:text-lg hover:text-red-700"
      >One last battle and the Rockefeller/Hitler branch of the KM will go down</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4pxq00-swiss-territory-is-under-our-control-50-usc-1550-storm.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Swiss 🇨🇭 Territory is under our 🇺🇸control 50 USC 1550 - #STORM</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/BeYxYy9MxnYo/"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 text-base hover:text-lg hover:text-green-900"
      >ALEX JONES SAYS HIS GUEST PASCAL NAJADI IS OUT OF HIS MIND FROM WHAT HE'S
      SAYING - HAVE A LISTEN</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://amg-news.com/bombshell-jfk-and-jfk-junior-are-alive-us-mil-op-storm-surfacing-april-30th-2024-wwg1wga-nazi-political-democracy-and-nazi-flag-deleted-pascal-najadi-epic-video/"
    rel="noopener"
    target="_blank"
    ><span class="text-green-500 text-base hover:text-lg hover:text-green-900"
      >Bombshell!!! JFK and JFK Junior are Alive – US Mil. Op. STORM Surfacing
      April 30th 2024</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4h0c7x-mel-gibson-global-elites-will-keep-dying-to-make-way-for-the-antichrist.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4e5vo6-mel-gibson-prince-william-is-the-antichrist.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Mel Gibson: 'Prince William Is the Antichrist'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/mel-gibson-prince-william-is-the-antichrist/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Mel Gibson: 'Prince William Is the Antichrist'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3zmmlm-leaked-video-reveals-rockefeller-predicted-covid-jab-depopulation-agenda-in.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-red-700"
      >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
      Agenda in 1994</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/drSLiZPdJdO7/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
      >MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST"
      ENCOUNTORING.. WATCH THIS!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v51fn7k-world-leader-confesses-unvaxxed-were-right-we-tried-poisoning-billions-of-y.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white font-bold text-justify hover:text-2xl hover:text-sky-900"
      >World Leader Confesses: 'Unvaxxed Were Right, We Tried Poisoning BILLIONS
      of You'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v52qjni-japan-billions-of-dying-vaxxed-have-dementia-perpetrators-must-be-punished.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white font-bold text-justify hover:text-2xl hover:text-sky-900"
      >Japan: 'Billions of Dying Vaxxed Have Dementia - Perpetrators Must Be
      Punished'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/THEPEOPLESVOICE" rel="noopener" target="_blank"
    ><span
      class="text-green-600 bg-white font-bold text-justify hover:text-2xl hover:text-sky-900"
      >The People's Voice</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://x.com/tpvsean" rel="noopener" target="_blank"
    ><span
      class="text-sky-600 font-bold text-justify hover:text-2xl hover:text-sky-800"
      >@tpvsean</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/putin-declares-victory-over-new-world-order-change-of-elites-coming-because-humanity-has-woken-up/"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-600 text-base hover:text-lg hover:text-slate-800"
      >Putin Declares Victory Over New World Order: ‘Change of Elites’ Coming
      Because Humanity Has ‘Woken Up’(TPV)</span
    >
  </a>
</h5>
<p class="mb-4 text-base font-bold text-black">...</p>
<a href="./monsters">
  <p class="text-left text-yellow-100 hover:text-blue-300">Monsters Inc</p></a
>
