---
import Nagasone from "./Nagasone.astro";
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#case"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vof#depopulation"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
      Agenda in 1994</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#antichrist"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./royals#william"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Mel Gibson: 'Prince William Is the Antichrist'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./monsters#hollywood"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST"
      ENCOUNTORING.. WATCH THIS!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3s2jfd-wef-founders-son-singing-like-a-bird-to-prosecutors-in-crimes-against-human.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.brighteon.com/671dba7c-b44e-409c-b101-8a718feeb98e"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-700 bg-blue-400 text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<p class="mb-4 text-base font-bold text-black">
  WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
  Humanity Case
</p>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2024/04/delta-force-arrests-klaus-schwab/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-red-700"
      >Delta Force Arrests Klaus Schwab</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://realrawnews.com/2024/04/klaus-schwabs-health-deteriorating-after-arrest/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-red-600 bg-white text-base hover:text-lg hover:text-red-700"
      >Klaus Schwab’s Health Deteriorating After Arrest</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4h0c7x-mel-gibson-global-elites-will-keep-dying-to-make-way-for-the-antichrist.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Mel Gibson: Global Elites Will Keep Dying To Make Way For The Antichrist</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v4e5vo6-mel-gibson-prince-william-is-the-antichrist.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Mel Gibson: 'Prince William Is the Antichrist'</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://thepeoplesvoice.tv/mel-gibson-prince-william-is-the-antichrist/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Mel Gibson: 'Prince William Is the Antichrist'</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://rumble.com/v3zmmlm-leaked-video-reveals-rockefeller-predicted-covid-jab-depopulation-agenda-in.html"
    rel="noopener"
    target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
      >Leaked Video Reveals Rockefeller ‘Predicted’ Covid Jab Depopulation
      Agenda in 1994</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.bitchute.com/video/drSLiZPdJdO7/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-pink-600 bg-white text-base hover:text-lg hover:text-green-900"
      >MEL GIBSON GIVES HIS FINAL WARNING TO HOLLYWOOD! EXPOSES THE "ANTICHRIST"
      ENCOUNTORING.. WATCH THIS!</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="https://rumble.com/c/THEPEOPLESVOICE" rel="noopener" target="_blank"
    ><span
      class="text-green-400 bg-white text-base hover:text-lg hover:text-red-700"
      >The People's Voice</span
    >
  </a>
</h5>
<p class="mb-4 text-base font-bold text-black">...</p>
<a href="./monsters">
  <p class="text-left text-yellow-100 hover:text-blue-300">Monsters Inc</p></a
>
