---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./cancer"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >GO BACK</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./thyme#turmeric"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >Fatty liver (Turmeric)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/gp/aw/d/B07NQY9MCR/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Pure Organic 95% Curcumin Powder (120 grams)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/dp/B0B5HFNHTM/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Turmeric 2280mg (High Strength) with Black Pepper & Ginger - 180 Vegan
      Turmeric</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.amazon.com.au/Organic-Turmeric-Capsules-120caps-pepper/dp/B079648X9M/"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-600 bg-white text-base hover:text-lg hover:text-green-900"
      >Organic Turmeric Capsules PLUS 120caps with black pepper and ginger -
      Australian Owned</span
    >
  </a>
</h5>
