---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#case"
    ><span
      class="text-blue-400 bg-white text-base hover:text-lg hover:text-red-700"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#gitmo"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >GITMO: Flight to GITMO - Where all Swiss 🇨🇭 Government NAZIS & Traitors,
      Zionist Jews, rogue Bankers, Pedo Criminals, Satanists, Top Freemasons et
      al get Executed-Spring ‘24 #STORM</span
    >
  </a>
</h5>
