---
import Tops from "./Tops.astro";
---

<Tops />

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#case"
    ><span
      class="text-sky-500 bg-orange-100 font-bold hover:text-2xl hover:text-green-900"
      >WEF Founder's Son 'Singing Like a Bird' To Prosecutors in Crimes Against
      Humanity Case</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./storm#swiss"
    ><span
      class="text-sky-500 bg-orange-100 font-bold hover:text-2xl hover:text-green-900"
      >DISCLOSURE: 2024 surfacing soon - US Military Op #STORM - Cancelling and
      Judging all rogue Swiss Gov.🇨🇭, WHO, WEF, UN et al(Geneva)</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./arrests#gitmo"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-green-900"
      >GITMO: Flight to GITMO - Where all Swiss 🇨🇭 Government NAZIS & Traitors,
      Zionist Jews, rogue Bankers, Pedo Criminals, Satanists, Top Freemasons et
      al get Executed-Spring ‘24 #STORM</span
    >
  </a>
</h5>
