---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#whitewall"
    ><span
      class="text-gray-400 bg-yellow-100 font-bold hover:text-2xl hover:text-green-900"
      >The White Wall</span
    >
  </a>
</h5>
