---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#whitewall"
    ><span
      class="text-gray-400 bg-yellow-200 font-bold hover:text-2xl hover:text-green-900"
      >[23 July 2021] The White Wall. ... What's behind it? Penny Kelly</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./global#marshall"
    ><span
      class="text-red-700 bg-yellow-300 font-bold hover:text-2xl hover:text-green-900"
      >Global Marshall Law - How Earth came under control of the Draco 16,500
      years ago...</span
    >
  </a>
</h5>
