---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Wireguard /> -->

wireguard
<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://github.com/Nyr/wireguard-install"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >wireguard-install</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://github.com/Nyr/openvpn-install"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >openvpn-install</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://contabo.com/en/vps/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 text-base hover:text-lg hover:text-purple-900"
      >The Best Value Cloud VPS on Earth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vpn#hak5"
    ><span class="text-sky-500 text-base hover:text-lg hover:text-purple-900"
      >Fast, Free, and Easy VPN Build in Minutes - Hak5 2022</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=04EmeXSZo_0&t=1156s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Fast, Free, and Easy VPN Build in Minutes - Hak5 2022</span
    >
  </a>
</h5>