---
import Tops from "./Tops.astro";
---

<Tops />
<!-- <Wireguard /> -->


<h2 id="top">
  <p class="mb-4 text-base text-blue-900">...</p>
</h2>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./#trash"
    ><span class="text-blue-500 font-bold hover:text-2xl hover:text-green-900"
      >HOME</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://github.com/Nyr/wireguard-install"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-600 font-bold hover:text-purple-900"
      >wireguard-install</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.purevpn.com/au/blog/how-to-watch-2024-nhl-live-in-australia/"
    rel="noopener"
    target="_blank"
    ><span class="text-emerald-600 font-bold hover:text-purple-900"
      >How to Watch 2025 NHL Live in Australia</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://github.com/Nyr/openvpn-install"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-purple-900"
      >openvpn-install</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://contabo.com/en/vps/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700  font-bold hover:text-purple-900"
      >The Best Value Cloud VPS on Earth</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./vpn#hak5"
    ><span class="text-sky-500  font-bold hover:text-purple-900"
      >Fast, Free, and Easy VPN Build in Minutes - Hak5 2022</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.youtube.com/watch?v=04EmeXSZo_0&t=1156s"
    rel="noopener"
    target="_blank"
    ><span class="text-red-700 font-bold hover:text-2xl hover:text-green-900"
      >Fast, Free, and Easy VPN Build in Minutes - Hak5 2022</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://forums.hak5.org/topic/40978-raspberry-pi-openvpn-server-and-wifi-access-point/"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-purple-900"
      >Raspberry Pi OpenVPN Server and WiFi Access Point</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://mullvad.net/en"
    rel="noopener"
    target="_blank"
    ><span class="text-blue-700 font-bold hover:text-purple-900"
      >Mullvad VPN</span
    >
  </a>
</h5>