---
---

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="#top"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >TOP</span
    >
  </a>
</h5>
<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a href="./dmso"
    ><span
      class="text-red-700 bg-white text-base hover:text-lg hover:text-green-900"
      >DMSO</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PierreKory/status/1840121002233090452"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >If DMSO was used for strokes and spinal cord injuries</span
    >
  </a>
</h5>



<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1781802368612614604"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 bg-sky-200 font-bold hover:text-2xl hover:text-orange-800"
      >“We found that DMSO can significantly inhibit cancer cell invasion,
      migration, proliferation, and colony formation capabilities”. Combined
      with MSM or chlorine dioxide, it is an oxygen carrier. Study: /3</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/PierreKory/status/1840121002233090452"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >If DMSO was used for strokes and spinal cord injuries, millions would be
      spared from death, paralysis, and disability.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1807540167047332264"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >DMSO for Strokes</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1807540167047332264"
    rel="noopener"
    target="_blank"
    ><span
      class="text-orange-500 bg-white font-bold hover:text-2xl hover:text-slate-800"
      >DMSO used to reverse a stroke. The person giving testimony is evidently a
      doctor because he did a brain scan on his uncle the following day. Imagine
      if everyone was given emergency instructions on how to do this? It won’t
      happen. It would financially harm the medical industry.</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/MidwesternDoc/status/1845727171073208516"
    rel="noopener"
    target="_blank"
    ><span class="text-orange-500 bg-sky-200 font-bold hover:text-2xl hover:text-orange-800"
      >In this article, I show how DMSO safely freed millions from chronic pain</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/mariohostios/status/1845077636122280396"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >Ivermectin and dmso continue to accumulate evidence for being true broad spectrum medicinals.</span
    >
  </a>
</h5>


<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://x.com/VictorFromDE/status/1781804924738932762"
    rel="noopener"
    target="_blank"
    ><span class="text-sky-500 font-bold hover:text-2xl hover:text-sky-900"
      >This information and much more in the link below. Including how cancer is caused by microbes. /4</span
    >
  </a>
</h5>

<h5
  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50"
>
  <a
    href="https://www.rumormillnews.com/cgi-bin/forum.cgi?read=238983"
    rel="noopener"
    target="_blank"
    ><span
      class="text-blue-700 bg-yellow-200 font-bold hover:text-2xl hover:text-gray-900"
      >20 Signs of Parasite Infection in Your Body - Recognizing Common Symptoms
      of Human Parasites</span
    >
  </a>
</h5>
